In [1]:
import re, os, math, datetime, pickle

import pandas as pd
import numpy as np

from pathlib import Path
from google.cloud import bigquery

from sklearn.svm import SVR
from sklearn.model_selection import train_test_split, GridSearchCV
from sklearn.preprocessing import StandardScaler
from sklearn.pipeline import Pipeline
from sklearn.ensemble import RandomForestRegressor
from sklearn.metrics import classification_report
from sklearn.utils import shuffle
from sklearn.linear_model import LinearRegression

In [2]:
from filmaholic.ml_logic.data import upload_to_bigquery, upload_to_cloud_platform, get_data_bigquery
from filmaholic.params import *

In [11]:
from multiprocessing import Pool

# Loading the data

In [3]:
PROJECT = "filmaholic-398017"
DATASET = "filmaholic"

tables_to_query = ['movies', 'tags', 'ratings']
dfs = {}

for table in tables_to_query:
        query = f"""
        SELECT * FROM `{PROJECT}.{DATASET}.raw-{table}`
        """

        client = bigquery.Client(project=PROJECT)
        query_job = client.query(query)
        result = query_job.result()
        dfs[table] = result.to_dataframe()

        print(f"Table {table} loaded from bigquery")

Table movies loaded from bigquery
Table tags loaded from bigquery
Table ratings loaded from bigquery

# Subsetting the data

### Merging ratings & movies dfs

In [4]:
merged = dfs['ratings'].merge(dfs['movies'], on='movieId', how='left')

### Popular titles & active users (not being used)

In [9]:
# avg_ratings_per_movie = pd.DataFrame(merged.groupby('title')['rating'].mean())
# avg_ratings_per_movie['total_ratings'] = pd.DataFrame(merged.groupby('title')['rating'].count())
# avg_ratings_per_movie = avg_ratings_per_movie.sort_values('total_ratings',ascending=False)

In [10]:
# popular_titles = avg_ratings_per_movie[avg_ratings_per_movie.total_ratings>10000].index
# popular_titles = list(popular_titles)

In [11]:
# len(popular_titles)

In [12]:
# merged_reduced_per_movies = merged[merged.title.isin(popular_titles)]

In [13]:
# avg_ratings_per_user = pd.DataFrame(merged.groupby('userId')['rating'].mean())
# avg_ratings_per_user['total_ratings'] = pd.DataFrame(merged.groupby('userId')['rating'].count())
# avg_ratings_per_user = avg_ratings_per_user.sort_values('total_ratings',ascending=False)
# avg_ratings_per_user

In [14]:
# active_users = avg_ratings_per_user[avg_ratings_per_user.total_ratings>700].index
# active_users = list(active_users)

In [15]:
# len(active_users)

In [16]:
# merged_reduced_per_active_users = merged[merged.userId.isin(active_users)]

### Random user sample (not being used)

In [17]:
# unique_users = merged.userId.drop_duplicates().reset_index()
# unique_users.drop('index', axis=1, inplace=True)
# random_users = list(unique_users.sample(frac=0.05, random_state=0).userId)

In [18]:
# merged.userId = merged.userId.astype('string')
# random_users_movies = list(merged[merged.userId.isin(random_users)].movieId)

### Baseline

In [14]:
# avg_ratings_per_user = pd.DataFrame(merged.groupby('userId')['rating'].count())
# avg_ratings_per_user = avg_ratings_per_user.sort_values('rating',ascending=False)
# subset_users = avg_ratings_per_user[:5000]
# subset_users = list(subset_users.index)

# subset_movies = merged[merged.userId.isin(subset_users)]

# avg_ratings_per_movie = pd.DataFrame(subset_movies.groupby('movieId')['rating'].count())
# avg_ratings_per_movie = avg_ratings_per_movie.sort_values('rating',ascending=False)

# subset_movies_popular = avg_ratings_per_movie[:500]

# user_list = list(set(subset_movies.userId))
# movies_list = list(set(subset_movies_popular.index))

### Final

In [5]:
avg_ratings_per_user = pd.DataFrame(merged.groupby('userId')['rating'].count())
avg_ratings_per_user = avg_ratings_per_user.sort_values('rating',ascending=False)
subset_users = avg_ratings_per_user[:20000]
subset_users = list(subset_users.index)

subset_movies = merged[merged.userId.isin(subset_users)]

avg_ratings_per_movie = pd.DataFrame(subset_movies.groupby('movieId')['rating'].count())
avg_ratings_per_movie = avg_ratings_per_movie.sort_values('rating',ascending=False)

subset_movies_popular = avg_ratings_per_movie[:20000]

user_list = list(set(subset_movies.userId))
movies_list = list(set(subset_movies_popular.index))

### Saving dataframe subsets

In [6]:
tags = dfs['tags'].copy()
tags = tags[tags.userId.isin(user_list)]
tags = tags[tags.movieId.isin(movies_list)]
tags = tags.drop('timestamp', axis=1)

In [7]:
movies = dfs['movies'].copy()
movies = movies[movies.movieId.isin(movies_list)]

In [8]:
ratings = dfs['ratings'].copy()
ratings.rating = ratings.rating.astype('float')
ratings = ratings[ratings.userId.isin(user_list)]
ratings = ratings[ratings.movieId.isin(movies_list)]

In [ ]:
# tags.to_csv('data/tags_subset.csv', index=False)
# movies.to_csv('data/movies_subset.csv', index=False)
# ratings.to_csv('data/ratings_subset.csv', index=False)

In [10]:
upload_to_bigquery(GCP_PROJECT, BQ_DATASET, 'subset-tags', tags)
upload_to_bigquery(GCP_PROJECT, BQ_DATASET, 'subset-movies', movies)
upload_to_bigquery(GCP_PROJECT, BQ_DATASET, 'subset-ratings', ratings)

# Correlation (not going to be used)

In [29]:
# n_chunks = 25
# arange = np.arange(n_chunks+1)
# chunk_size = 162541//n_chunks
# arange = arange*(chunk_size)

# pivoted = pd.DataFrame()

# for i in arange:
#   chunk = merged[(merged.userId>i)|(merged.userId<=i+chunk_size)]
#   chunk = chunk.pivot_table(index='userId', columns='movieId', values='rating')

#   print("Iteration")

#   pivoted.append(chunk, axis=1)

In [30]:
# pivoted = merged_reduced.pivot_table(index='userId', columns='title', values='rating')

In [31]:
# toy_story = pivoted.corrwith(pivoted['Toy Story (1995)'])
# toy_story.head()

In [32]:
# toy_story_recomm = pd.DataFrame(toy_story,columns=['Correlation'])
# toy_story_recomm.dropna(inplace=True)
# toy_story_recomm = toy_story_recomm.sort_values('Correlation',ascending=False)

In [33]:
# toy_story_recomm = toy_story_recomm.join(avg_ratings['total_ratings'])
# toy_story_recomm = toy_story_recomm[toy_story_recomm['total_ratings']>30]

In [34]:
# toy_story_recomm.movieId = toy_story_recomm.movieId.astype('int32')
# toy_story_recomm.join(merged, on='movieId', how='left')

# Baseline model

In [61]:
# here, we are counting the most used tags PER MOVIE
# a new csv file is created for each movieId, with each tag and its count

def func_1(args):
    print(f'{args[1]} started')

    args[0].movieId = args[0].movieId.astype('string')
    tags_movie = args[0][args[0].movieId == args[1]].copy().drop('movieId', axis=1)
    tags_movie['COUNT'] = 1
    tags_movies_counts = tags_movie.groupby(['tag']).count()
    tags_movies_counts = tags_movies_counts.sort_values(by=['COUNT'], ascending= False).reset_index()

    upload_to_bigquery(GCP_PROJECT, BQ_DATASET_MOVIES_TAGS, f'{args[1]}', tags_movies_counts)

    print(f'table {args[1]} uploaded')

In [56]:
args_list[0]

[         userId movieId                                                tag
 4            19    7099                                          adventure
 5            19    7099                                            ecology
 6            19    7099                                            fantasy
 7            19    7099                                     Hayao Miyazaki
 8            19    7099                                           Miyazaki
 ...         ...     ...                                                ...
 1093344  161082     260                                               cult
 1093345  161205     260  A fun introduction to the epic film series whi...
 1093346  161205     260  The battle  begins - The love story begins.  E...
 1093349  161406     260                                            fantasy
 1093350  161406     260                                               jedi

 [754527 rows x 3 columns],
 '266']

In [63]:
args_list = []

for row in range(len(movies_list)):
    args_list.append([tags, movies_list[row]])

In [64]:
len(args_list)

20000

In [65]:
if __name__ == '__main__':
    with Pool(14) as p:
        p.map(func_1, args_list)

266 started
6358 started
4371 started
1316 started

/opt/conda/lib/python3.10/site-packages/google/cloud/bigquery/_pandas_helpers.py:603: UserWarning: Pyarrow could not determine the type of columns: tag.
  warnings.warn(

8575 started
144498 started
286 started
32141 started
63698 started
5238 started
87413 started
7262 started
5153 started
54621 started
table 6358 uploaded
27044 started
table 1316 uploaded
6874 started
table 4371 uploaded
56786 started
table 8575 uploaded
2219 started
table 266 uploaded
2787 started
table 32141 uploaded
88425 started
table 286 uploaded
4420 started
table 144498 uploaded
3429 started
table 7262 uploaded
157679 started
table 5238 uploaded
55442 started
table 63698 uploaded
127192 started
table 54621 uploaded
80476 started
table 5153 uploaded
128610 started
table 56786 uploaded
1101 started
table 87413 uploaded
115727 started
table 2787 uploaded
45210 started
table 27044 uploaded
3266 started
table 2219 uploaded
37976 started
table 88425 uploaded
7402 started
table 157679 uploaded
96834 started
table 4420 uploaded
6258 started
table 127192 uploaded
6696 started
table 6874 uploaded
1059 started
table 3429 uploaded
107539 started
table 55442 uploaded
1907 started
table 1101 uploaded
177379 started
table 128610 uploaded
6791 started

/opt/conda/lib/python3.10/site-packages/google/cloud/bigquery/_pandas_helpers.py:603: UserWarning: Pyarrow could not determine the type of columns: tag.
  warnings.warn(

table 115727 uploaded
69469 started
table 37976 uploaded
95531 started
table 80476 uploaded
793 started

/opt/conda/lib/python3.10/site-packages/google/cloud/bigquery/_pandas_helpers.py:603: UserWarning: Pyarrow could not determine the type of columns: tag.
  warnings.warn(

table 7402 uploaded
173813 started
table 6696 uploaded
181601 started
table 96834 uploaded
41644 started
table 1907 uploaded
101756 started
table 1059 uploaded
4677 started
table 177379 uploaded
200332 started
table 107539 uploaded
141544 started
table 6791 uploaded
50594 started
table 45210 uploaded
31133 started
table 3266 uploaded
2034 started
table 69469 uploaded
26915 started
table 793 uploaded
1280 started
table 6258 uploaded
8451 started
table 95531 uploaded
1353 started
table 41644 uploaded
7827 started
table 181601 uploaded
55440 started
table 4677 uploaded
109963 started
table 31133 uploadedtable 2034 uploaded

3642 started3410 started

table 173813 uploaded
85014 started
table 50594 uploaded
5952 started
table 1280 uploaded
27764 started
table 26915 uploaded
58874 started
table 200332 uploaded
61246 started
table 141544 uploaded
26774 started
table 8451 uploaded
91681 started
table 101756 uploaded
91755 started
table 7827 uploaded
115364 started
table 3642 uploaded
1235 started
table 109963 uploaded
64010 started
table 1353 uploaded
53207 started
table 58874 uploaded
132796 started
table 27764 uploaded
175593 started
table 61246 uploaded
53843 started
table 26774 uploaded
61018 started
table 55440 uploaded
25989 started
table 3410 uploaded
90866 started
table 5952 uploaded
26219 started
table 91681 uploaded
82852 started
table 91755 uploaded
1030 started
table 115364 uploaded
3350 started
table 85014 uploaded
72694 started
table 64010 uploaded
26764 started
table 132796 uploaded
72591 started
table 53207 uploaded
8063 started
table 1235 uploaded
90958 started
table 53843 uploaded
26073 started
table 26219 uploaded
27198 started
table 25989 uploaded
52742 started
table 82852 uploaded
5313 started
table 1030 uploaded
2690 started
table 3350 uploaded
448 started
table 90866 uploaded
2486 started
table 61018 uploaded
3615 started
table 26764 uploaded
131620 started
table 175593 uploaded
90061 started
table 72694 uploaded
166245 started
table 72591 uploaded
200008 started
table 90958 uploaded
139655 started
table 26073 uploaded
4566 started
table 8063 uploaded
3269 started
table 448 uploaded
60992 started
table 2690 uploaded
27276 started
table 27198 uploaded
87081 started
table 52742 uploaded
159813 started
table 5313 uploaded
4913 started
table 2486 uploaded
5324 started
table 3615 uploaded
7225 started
table 131620 uploaded
2363 started
table 139655 uploaded
6744 started
table 200008 uploaded
7104 started
table 3269 uploaded
65216 started
table 166245 uploaded
112811 started
table 90061 uploaded
1673 started
table 60992 uploaded
table 4566 uploaded3841 started
99437 started

table 27276 uploaded
4242 started
table 159813 uploaded
171835 started
table 4913 uploaded
2763 started
table 87081 uploaded
5784 started
table 6744 uploaded
3585 started
table 7225 uploaded
205156 started
table 5324 uploaded
6689 started
table 2363 uploaded
2477 started
table 112811 uploaded
44494 started
table 65216 uploaded
103883 started
table 3841 uploaded
627 started
table 7104 uploaded
9001 started
table 1673 uploaded
5672 started
table 2763 uploaded
3992 started
table 4242 uploaded
3778 started
table 5784 uploaded
334 started
table 99437 uploaded
1739 started
table 6689 uploaded
43971 started
table 2477 uploaded
160559 started
table 3585 uploaded
48696 started
table 9001 uploaded
25966 started
table 103883 uploaded
118496 started
table 205156 uploaded
7293 started
table 171835 uploaded
195429 started

/opt/conda/lib/python3.10/site-packages/google/cloud/bigquery/_pandas_helpers.py:603: UserWarning: Pyarrow could not determine the type of columns: tag.
  warnings.warn(

table 3992 uploaded
27616 started
table 627 uploaded
128093 started
table 44494 uploaded
893 started
table 3778 uploaded
113851 started
table 5672 uploaded
3516 started
table 43971 uploaded
6241 started
table 48696 uploaded
8687 started
table 25966 uploaded
67168 started
table 1739 uploaded
161173 started
table 334 uploaded
193449 started
table 195429 uploaded
2380 started
table 7293 uploaded
59333 started
table 128093 uploaded
4883 started
table 113851 uploaded
50165 started
table 118496 uploaded
93116 started
table 27616 uploaded
57776 started
table 67168 uploaded
852 started
table 161173 uploaded
3816 started
table 160559 uploaded
27261 started
table 8687 uploaded
1753 started
table 2380 uploaded
3633 started
table 3516 uploaded
156968 started
table 6241 uploaded
129781 started
table 50165 uploaded
114670 started
table 193449 uploaded
3018 started
table 4883 uploaded
69953 started
table 893 uploaded
48032 started
table 57776 uploaded
960 started
table 3816 uploaded
1986 started
table 93116 uploaded
56169 started
table 852 uploaded
104908 started
table 3633 uploaded
31547 started
table 27261 uploaded
46855 started
table 59333 uploaded
3892 started
table 156968 uploaded
86541 started
table 129781 uploaded
164196 started
table 1753 uploaded
131880 started
table 69953 uploaded
451 started
table 56169 uploaded
183831 started
table 114670 uploaded
5712 started
table 31547 uploaded
8832 started
table 48032 uploaded
36752 started
table 86541 uploaded
4554 started
table 3018 uploaded
2259 started
table 46855 uploaded
60353 started
table 1986 uploaded
101891 started
table 164196 uploaded
7081 started
table 104908 uploaded
121099 started
table 3892 uploaded
194729 started

/opt/conda/lib/python3.10/site-packages/google/cloud/bigquery/_pandas_helpers.py:603: UserWarning: Pyarrow could not determine the type of columns: tag.
  warnings.warn(

table 960 uploaded
4767 started
table 5712 uploaded
74733 started
table 183831 uploaded
5091 started
table 451 uploaded
81751 started
table 8832 uploaded
table 7081 uploaded98809 started

372 started
table 101891 uploaded
67140 started
table 131880 uploaded
6462 started
table 60353 uploaded
207405 started
table 36752 uploaded
5215 started
table 194729 uploaded
112 started
table 121099 uploaded
8262 started
table 74733 uploaded
193821 started
table 2259 uploaded
86091 started
table 5091 uploaded
172865 started
table 4554 uploaded
4211 started
table 81751 uploaded
94998 started
table 4767 uploaded
89753 started
table 207405 uploaded
8480 started
table 372 uploaded
85295 started
table 98809 uploaded
134348 started
table 67140 uploaded
83385 started

/opt/conda/lib/python3.10/site-packages/google/cloud/bigquery/_pandas_helpers.py:603: UserWarning: Pyarrow could not determine the type of columns: tag.
  warnings.warn(

table 6462 uploaded
8609 started
table 193821 uploaded
33495 started
table 5215 uploaded
162634 started
table 172865 uploaded
1684 started
table 94998 uploadedtable 112 uploaded

106144 started3538 started

table 8262 uploaded
206208 started
table 4211 uploaded
969 started

/opt/conda/lib/python3.10/site-packages/google/cloud/bigquery/_pandas_helpers.py:603: UserWarning: Pyarrow could not determine the type of columns: tag.
  warnings.warn(

table 85295 uploaded
148424 started
table 134348 uploaded
743 started
table 86091 uploaded
912 started
table 8609 uploaded
105608 started
table 83385 uploaded
175469 started

/opt/conda/lib/python3.10/site-packages/google/cloud/bigquery/_pandas_helpers.py:603: UserWarning: Pyarrow could not determine the type of columns: tag.
  warnings.warn(

table 8480 uploaded
104712 started
table 33495 uploaded
45503 started
table 1684 uploaded
6471 started
table 3538 uploaded
78703 started
table 162634 uploaded
1 started
table 106144 uploaded
48059 started
table 89753 uploaded
27905 started
table 969 uploaded
190077 started
table 206208 uploaded
156017 started
table 148424 uploaded
58806 started
table 912 uploaded
1747 started
table 105608 uploaded
6386 started
table 743 uploaded
34177 started
table 104712 uploaded
2266 started
table 175469 uploaded
5440 started
table 78703 uploaded
108932 started
table 45503 uploaded
8952 started
table 48059 uploaded
2964 started
table 27905 uploaded
94679 started
table 1 uploaded
954 started
table 6471 uploaded
179647 started
table 190077 uploaded
3085 started
table 156017 uploaded
7879 started
table 58806 uploaded
56095 started
table 6386 uploaded
26686 started
table 34177 uploaded
5674 started

/opt/conda/lib/python3.10/site-packages/google/cloud/bigquery/_pandas_helpers.py:603: UserWarning: Pyarrow could not determine the type of columns: tag.
  warnings.warn(

table 2266 uploaded
6800 started
table 8952 uploaded
4105 started
table 954 uploaded
73590 started
table 179647 uploaded
148244 started
table 94679 uploaded
3623 started
table 2964 uploaded
2004 started
table 3085 uploaded
138210 started
table 56095 uploaded
86028 started
table 108932 uploaded
26109 started
table 7879 uploaded
26290 started
table 5440 uploaded
26400 started
table 5674 uploaded
27805 started
table 26686 uploaded
46201 started
table 1747 uploaded
154358 started
table 3623 uploaded
table 148244 uploaded
138798 started3423 started

table 2004 uploaded
131180 started
table 26290 uploaded
58029 started
table 4105 uploaded
27657 started
table 6800 uploaded
table 73590 uploaded97904 started

4340 started
table 138210 uploaded
8755 started
table 86028 uploaded
169002 started
table 26109 uploaded
176927 started
table 46201 uploaded
94405 started
table 27805 uploaded
7041 started
table 154358 uploaded
3626 started
table 138798 uploaded
172573 started
table 26400 uploaded
60007 started
table 27657 uploaded
92730 started
table 97904 uploaded
1361 started
table 4340 uploaded
2324 started
table 131180 uploaded
69644 started
table 169002 uploaded
44421 started
table 94405 uploaded
6503 started
table 176927 uploaded
65709 started
table 8755 uploaded
142507 started
table 58029 uploaded
6157 started
table 1361 uploaded
6642 started
table 3626 uploaded
25971 started
table 60007 uploaded
88267 started
table 92730 uploaded
8672 started
table 3423 uploaded
4303 started
table 69644 uploaded
166020 started
table 142507 uploaded
3446 started
table 44421 uploaded
114267 started
table 65709 uploaded
152970 started
table 6157 uploaded
3412 started
table 172573 uploaded
134777 started
table 2324 uploaded
80204 started
table 6503 uploaded
102720 started
table 25971 uploaded
2460 started
table 8672 uploaded
89260 started
table 4303 uploaded
160187 started
table 166020 uploaded
6539 started
table 6642 uploaded
102263 started
table 88267 uploaded
26737 started
table 114267 uploaded
114494 started
table 3446 uploaded
46723 started
table 7041 uploaded
70697 started
table 3412 uploaded
68442 started
table 152970 uploaded
190947 started
table 80204 uploaded
67665 started
table 134777 uploaded
3690 started
table 102720 uploaded
46604 started
table 89260 uploaded
8597 started
table 6539 uploaded
149650 started
table 160187 uploaded
55020 started
table 46723 uploaded
86626 started
table 102263 uploaded
83827 started

/opt/conda/lib/python3.10/site-packages/google/cloud/bigquery/_pandas_helpers.py:603: UserWarning: Pyarrow could not determine the type of columns: tag.
  warnings.warn(

table 2460 uploaded
137337 started
table 114494 uploaded
151675 started

/opt/conda/lib/python3.10/site-packages/google/cloud/bigquery/_pandas_helpers.py:603: UserWarning: Pyarrow could not determine the type of columns: tag.
  warnings.warn(

table 68442 uploadedtable 70697 uploaded

162322 started192055 started

table 26737 uploaded
558 started
table 190947 uploaded
59138 started
table 55020 uploaded
2342 started
table 67665 uploaded
35807 started
table 3690 uploaded
7705 started
table 149650 uploaded
72161 started
table 8597 uploaded
48567 started
table 86626 uploaded
5308 started
table 162322 uploaded
2672 started
table 46604 uploaded
8120 started
table 192055 uploaded
2358 started
table 558 uploaded
759 started
table 2342 uploaded
6571 started
table 137337 uploaded
26133 started
table 83827 uploaded
4869 started
table 35807 uploaded
90476 started
table 151675 uploaded
3810 started
table 7705 uploaded
130442 started
table 59138 uploaded
71482 started
table 72161 uploaded
4169 started
table 8120 uploaded
174 started
table 2358 uploaded
122308 started
table 48567 uploaded
7822 started
table 5308 uploaded
60766 started
table 2672 uploaded
41650 started
table 130442 uploaded
60469 started
table 759 uploaded
83132 started
table 6571 uploaded
4376 started
table 71482 uploaded
60546 started
table 90476 uploaded
145142 started
table 3810 uploaded
179451 started
table 26133 uploaded
74590 started
table 174 uploaded
278 started
table 4169 uploaded
7697 started
table 41650 uploaded
47274 started
table 4869 uploaded
476 started
table 7822 uploaded
161 started

/opt/conda/lib/python3.10/site-packages/google/cloud/bigquery/_pandas_helpers.py:603: UserWarning: Pyarrow could not determine the type of columns: tag.
  warnings.warn(

table 60469 uploaded
2064 started
table 4376 uploaded
3857 started
table 278 uploaded
79191 started
table 83132 uploaded
3176 started
table 122308 uploaded
90947 started
table 179451 uploaded
8849 started
table 145142 uploaded
1143 started
table 60766 uploaded
8747 started
table 60546 uploaded
27473 started
table 74590 uploaded
32076 started
table 476 uploaded
3402 started
table 47274 uploaded
7887 startedtable 2064 uploaded

2297 started
table 7697 uploaded
143553 started
table 161 uploaded
90357 started
table 8747 uploaded
97051 started
table 3857 uploaded
176605 started
table 1143 uploaded
81366 started
table 27473 uploaded
2828 started
table 79191 uploaded
111817 started
table 32076 uploaded
99030 started
table 90947 uploaded
160980 started
table 2297 uploaded
57453 started
table 3176 uploaded
858 started
table 7887 uploaded
127114 started
table 3402 uploaded
737 started
table 143553 uploaded
2257 started
table 90357 uploaded
4359 started
table 97051 uploaded
165087 started
table 176605 uploaded
6998 started
table 8849 uploaded
5903 started
table 2828 uploaded
1261 started
table 99030 uploaded
60389 started
table 57453 uploaded
96606 started
table 81366 uploaded
135508 started
table 858 uploaded
34214 started
table 111817 uploaded
117714 started

/opt/conda/lib/python3.10/site-packages/google/cloud/bigquery/_pandas_helpers.py:603: UserWarning: Pyarrow could not determine the type of columns: tag.
  warnings.warn(

table 737 uploaded
134334 started
table 160980 uploaded
124575 started

/opt/conda/lib/python3.10/site-packages/google/cloud/bigquery/_pandas_helpers.py:603: UserWarning: Pyarrow could not determine the type of columns: tag.
  warnings.warn(

table 2257 uploaded
65731 started
table 127114 uploaded
83833 started
table 1261 uploaded
67667 started
table 60389 uploaded
81711 started
table 6998 uploaded
45003 started
table 5903 uploaded
5572 started
table 165087 uploaded
4401 started
table 4359 uploaded
4508 started
table 34214 uploaded
58103 started
table 135508 uploaded
115748 started
table 96606 uploaded
77414 started
table 124575 uploaded
31956 started
table 117714 uploaded
33903 started
table 65731 uploaded
195095 started
table 83833 uploaded
8910 started
table 45003 uploaded
1123 started
table 134334 uploaded
168288 started
table 115748 uploaded
4418 started
table 5572 uploaded
80862 started
table 81711 uploaded
5510 started
table 67667 uploaded
5287 started
table 4508 uploaded
6755 started
table 31956 uploaded
224 started
table 77414 uploaded
33558 started
table 58103 uploaded
116199 started
table 8910 uploaded
3471 started
table 4401 uploaded
130075 started
table 33903 uploaded
93700 started
table 195095 uploaded
4388 started
table 168288 uploaded
5454 started
table 80862 uploaded
3 started
table 4418 uploaded
195161 started
table 5287 uploaded
1976 started
table 224 uploaded
47180 started
table 33558 uploaded
25965 started
table 116199 uploaded
192157 started
table 1123 uploaded
4653 started

/opt/conda/lib/python3.10/site-packages/google/cloud/bigquery/_pandas_helpers.py:603: UserWarning: Pyarrow could not determine the type of columns: tag.
  warnings.warn(

table 6755 uploaded
4778 started
table 4388 uploaded
130520 started
table 93700 uploaded
189331 started
table 3471 uploaded
5110 started
table 130075 uploaded
7995 started
table 5510 uploaded
58803 started
table 195161 uploaded
2701 started
table 1976 uploaded
1077 started
table 25965 uploaded
4678 started
table 47180 uploaded
146210 started

/opt/conda/lib/python3.10/site-packages/google/cloud/bigquery/_pandas_helpers.py:603: UserWarning: Pyarrow could not determine the type of columns: tag.
  warnings.warn(

table 5454 uploaded
4896 started
table 4778 uploaded
5540 started
table 3 uploaded
525 started
table 4653 uploaded

4567 startedtable 5110 uploaded
44590 started
table 7995 uploaded
185313 started
table 130520 uploaded
191367 started
table 4678 uploaded
55955 started
table 189331 uploaded
1903 started
table 58803 uploaded
186331 started

/opt/conda/lib/python3.10/site-packages/google/cloud/bigquery/_pandas_helpers.py:603: UserWarning: Pyarrow could not determine the type of columns: tag.
  warnings.warn(

table 1077 uploaded
146040 started
table 146210 uploaded
33342 started
table 2701 uploaded
4444 started
table 4896 uploaded
75341 started
table 525 uploaded
8897 started
table 5540 uploaded
32019 started
table 4567 uploaded
32954 started
table 192157 uploaded
3036 started
table 1903 uploaded
71252 started
table 186331 uploaded
4764 started
table 191367 uploaded
2688 started
table 4444 uploaded
2436 started
table 146040 uploaded
120438 started
table 33342 uploaded
62245 started
table 185313 uploaded
6037 started
table 55955 uploaded
3599 started
table 8897 uploaded
33435 started
table 44590 uploaded
1037 started
table 32954 uploaded
3838 started
table 75341 uploaded
170973 started
table 71252 uploaded
151739 started
table 4764 uploaded
2270 started
table 32019 uploaded
47980 started
table 2688 uploaded
193455 started
table 2436 uploaded
164544 started
table 6037 uploaded
26130 started
table 3599 uploaded
57843 started
table 3036 uploaded
114248 started
table 120438 uploaded
1284 started
table 1037 uploaded
48268 started
table 62245 uploaded
59938 started
table 33435 uploaded
25938 started
table 3838 uploaded
62660 started

/opt/conda/lib/python3.10/site-packages/google/cloud/bigquery/_pandas_helpers.py:603: UserWarning: Pyarrow could not determine the type of columns: tag.
  warnings.warn(

table 170973 uploaded
64942 started
table 47980 uploaded
68884 started
table 164544 uploaded
65601 started
table 114248 uploaded
169948 started
table 193455 uploaded
201340 started
table 26130 uploaded
120412 started
table 59938 uploaded
4783 started
table 48268 uploaded
5519 started
table 2270 uploaded
6549 started
table 151739 uploaded
8970 started
table 57843 uploaded
7070 started
table 25938 uploaded
113 started
table 1284 uploaded
71762 started
table 62660 uploaded
2332 started
table 64942 uploaded
99996 started
table 68884 uploaded
7992 started
table 169948 uploaded
4140 started
table 8970 uploaded
4556 started
table 4783 uploaded
5692 started
table 201340 uploaded
3037 started
table 65601 uploaded
71318 started
table 120412 uploaded
165105 started
table 2332 uploaded
1523 started
table 7070 uploaded
170411 started
table 6549 uploaded
49953 started
table 7992 uploaded
7716 started
table 71762 uploaded
1268 started
table 5519 uploaded
8662 started
table 113 uploaded
154476 started
table 4556 uploaded
131433 started
table 3037 uploaded
1732 started
table 99996 uploaded
1833 started
table 71318 uploaded
141854 started
table 165105 uploaded
117676 started
table 49953 uploaded
32329 started
table 5692 uploaded
4366 started
table 170411 uploaded
111249 started
table 7716 uploaded
1401 started
table 4140 uploaded
6437 started
table 154476 uploaded
187229 started
table 1732 uploaded
78245 started
table 1833 uploaded
1650 started
table 8662 uploaded
174829 started
table 141854 uploaded
4857 started
table 1268 uploaded
5602 started
table 6437 uploaded
table 1523 uploaded42556 started

201662 started
table 131433 uploaded
54406 started
table 1401 uploaded
4553 started
table 117676 uploaded
2288 started
table 78245 uploaded
93193 started
table 32329 uploaded
8478 started
table 111249 uploaded
40581 started
table 187229 uploaded
84471 started
table 1650 uploaded
61132 started
table 5602 uploaded
1083 started
table 174829 uploaded
50153 started
table 4366 uploaded
1767 started
table 4857 uploaded
31104 started
table 201662 uploaded
1816 started
table 42556 uploaded
163072 started
table 54406 uploaded
6269 started
table 8478 uploaded
33838 started
table 84471 uploaded
8447 started
table 40581 uploadedtable 61132 uploaded

4887 started155062 started

table 4553 uploaded
6648 started
table 31104 uploaded
151781 started
table 93193 uploaded
43908 started
table 1767 uploaded
733 started
table 2288 uploaded
4791 started
table 1816 uploaded
194664 started
table 163072 uploaded
73413 started
table 6269 uploaded
87042 started
table 33838 uploaded
55391 started
table 1083 uploaded
60566 started
table 155062 uploaded
73730 started
table 8447 uploaded
2915 started
table 4887 uploaded
8401 started
table 733 uploaded
3693 started
table 50153 uploaded
61931 started
table 43908 uploaded
6849 started
table 4791 uploaded
31114 started
table 151781 uploaded
5073 started
table 73413 uploaded
table 6648 uploaded55106 started

68614 started
table 87042 uploaded
202421 started
table 194664 uploaded
3347 started
table 55391 uploaded
165527 started
table 8401 uploaded
4848 started
table 60566 uploaded
52462 started
table 3693 uploaded
27528 started
table 31114 uploaded
135848 started
table 2915 uploaded
172547 started
table 73730 uploaded
3889 started
table 61931 uploaded
110611 started
table 6849 uploaded
170481 started
table 5073 uploaded
128606 started
table 55106 uploaded
77667 started
table 165527 uploaded
116299 started
table 202421 uploaded
162738 started
table 3347 uploaded
119224 started
table 68614 uploaded
170361 started
table 135848 uploadedtable 27528 uploaded

150657 started8407 started

table 4848 uploaded
1185 started
table 3889 uploaded
1987 started
table 172547 uploaded
7698 started
table 52462 uploaded
126426 started
table 110611 uploaded
84230 started
table 128606 uploaded
962 started
table 119224 uploaded
5901 started
table 8407 uploaded
5106 started
table 150657 uploaded
5244 started
table 162738 uploaded
2525 started
table 170481 uploaded
114554 started
table 170361 uploaded
226 started
table 7698 uploaded
91873 started
table 116299 uploaded
2914 started
table 77667 uploaded
161916 started

/opt/conda/lib/python3.10/site-packages/google/cloud/bigquery/_pandas_helpers.py:603: UserWarning: Pyarrow could not determine the type of columns: tag.
  warnings.warn(
/opt/conda/lib/python3.10/site-packages/google/cloud/bigquery/_pandas_helpers.py:603: UserWarning: Pyarrow could not determine the type of columns: tag.
  warnings.warn(

table 1987 uploaded
49359 started
table 126426 uploaded
69771 started
table 5106 uploaded
93183 started
table 962 uploaded
5851 started
table 2525 uploaded
7095 started
table 84230 uploaded
594 started
table 5901 uploaded
7900 started
table 1185 uploaded
37 started
table 114554 uploaded
157387 started
table 5244 uploaded
33134 started

/opt/conda/lib/python3.10/site-packages/google/cloud/bigquery/_pandas_helpers.py:603: UserWarning: Pyarrow could not determine the type of columns: tag.
  warnings.warn(

table 91873 uploaded
2339 started
table 226 uploaded
104807 started
table 161916 uploaded
43836 started
table 49359 uploaded
3159 started
table 2914 uploaded
69134 started
table 93183 uploaded
1722 started
table 5851 uploaded
57504 started
table 7900 uploaded
67197 started
table 69771 uploaded
8885 started
table 7095 uploaded
6051 started
table 594 uploaded
31619 started
table 104807 uploaded
96054 started
table 157387 uploaded
3011 started
table 2339 uploaded
40973 started
table 37 uploaded
1344 started
table 43836 uploaded
187493 started
table 33134 uploaded
801 started
table 3159 uploaded
25738 started
table 69134 uploaded
4529 started
table 57504 uploaded
73608 started
table 8885 uploaded
1289 started
table 3011 uploaded
45081 started
table 6051 uploaded
175809 started
table 1722 uploaded
183651 started
table 67197 uploaded
70293 started
table 801 uploaded
66744 started
table 187493 uploaded
148064 started
table 40973 uploaded
178907 started
table 1344 uploaded
132547 started
table 25738 uploaded
1465 started
table 31619 uploaded
1917 started
table 4529 uploaded
5425 started
table 96054 uploaded
207309 started
table 73608 uploaded
128975 started
table 45081 uploaded
80111 started
table 175809 uploaded
1255 started
table 148064 uploaded
99574 started
table 178907 uploaded
32501 started
table 1289 uploaded
117672 started
table 70293 uploaded
8241 started
table 1917 uploaded
95034 started
table 183651 uploaded
59040 started
table 66744 uploaded
102072 started
table 5425 uploaded
109889 started
table 132547 uploaded
4280 started
table 1465 uploaded
48997 started
table 1255 uploaded
43014 started
table 128975 uploaded
105364 started
table 59040 uploaded
82934 started
table 99574 uploaded
131506 started

/opt/conda/lib/python3.10/site-packages/google/cloud/bigquery/_pandas_helpers.py:603: UserWarning: Pyarrow could not determine the type of columns: tag.
  warnings.warn(

table 80111 uploaded
1112 started
table 207309 uploaded
4789 started
table 8241 uploaded
4413 started
table 32501 uploaded
190945 started
table 109889 uploaded
91831 started
table 95034 uploaded
7004 started
table 48997 uploadedtable 105364 uploaded

3800 started78207 started

table 102072 uploaded
162210 started
table 4280 uploaded
51077 started
table 43014 uploaded
183695 started
table 82934 uploaded
104274 started
table 1112 uploaded
1574 started
table 117672 uploaded
8169 started
table 190945 uploaded
78308 started
table 131506 uploaded
127164 started
table 4413 uploaded
305 started
table 7004 uploaded
116281 started
table 3800 uploaded
91808 started
table 91831 uploaded
8591 started
table 4789 uploaded
120944 started
table 104274 uploaded
26494 started
table 162210 uploaded
8848 started
table 78207 uploaded
3166 started
table 305 uploaded
88163 started
table 1574 uploaded
73017 started
table 78308 uploaded
2494 started
table 127164 uploaded
4540 started
table 91808 uploaded
72958 started
table 51077 uploaded
140715 started
table 8169 uploaded
1242 started
table 8591 uploaded
26144 started
table 26494 uploaded
90795 started
table 73017 uploaded
44187 started
table 116281 uploaded
823 started
table 2494 uploaded
4039 started
table 4540 uploaded
114250 started
table 3166 uploaded
109723 started
table 120944 uploaded
1470 started
table 88163 uploaded
34153 started

/opt/conda/lib/python3.10/site-packages/google/cloud/bigquery/_pandas_helpers.py:603: UserWarning: Pyarrow could not determine the type of columns: tag.
  warnings.warn(

table 8848 uploaded
104906 started
table 140715 uploaded
104231 started
table 72958 uploaded
8622 started
table 1242 uploaded
5103 started
table 109723 uploaded
114758 started
table 823 uploaded
139020 started
table 90795 uploaded
3593 started
table 114250 uploaded
39474 started
table 26144 uploaded
107704 started
table 4039 uploaded
26098 started
table 34153 uploaded
5388 started
table 8622 uploaded
6353 started
table 1470 uploaded
81312 started
table 5103 uploaded
78921 started
table 44187 uploaded
7134 started
table 104906 uploaded
4194 started
table 104231 uploaded
40478 started
table 39474 uploaded
179247 started
table 114758 uploaded
88133 started
table 139020 uploaded
27016 started
table 5388 uploaded
141536 started
table 107704 uploaded
158581 started
table 3593 uploaded
3578 started
table 81312 uploaded
109991 started
table 6353 uploaded
91191 started
table 78921 uploaded
90071 started
table 40478 uploaded
53476 started
table 26098 uploaded
2651 started
table 179247 uploaded
78272 started
table 88133 uploaded
3986 started
table 141536 uploaded
119222 started
table 4194 uploaded
8387 started
table 91191 uploaded
3067 started
table 3578 uploaded
92259 started
table 158581 uploaded
66200 started
table 27016 uploaded
26947 started
table 90071 uploaded
5348 started
table 2651 uploaded
57464 started
table 53476 uploaded
182671 started
table 78272 uploaded
2742 started

/opt/conda/lib/python3.10/site-packages/google/cloud/bigquery/_pandas_helpers.py:603: UserWarning: Pyarrow could not determine the type of columns: tag.
  warnings.warn(

table 7134 uploaded
59188 started
table 109991 uploaded
155078 started
table 3986 uploaded
202429 started
table 119222 uploaded
1357 started
table 8387 uploaded
3210 started
table 26947 uploaded
3489 started
table 3067 uploaded
2054 started
table 92259 uploaded
67138 started
table 59188 uploaded
6538 started
table 2742 uploaded
79592 started
table 5348 uploaded
3996 started
table 182671 uploaded
2653 started
table 155078 uploaded
31948 started
table 66200 uploaded
26838 started
table 1357 uploaded
95720 started
table 202429 uploaded
101895 started
table 3489 uploaded
132618 started
table 3210 uploaded
94803 started
table 67138 uploaded
96897 started
table 6538 uploaded
123589 started
table 2054 uploaded
100498 started
table 79592 uploaded
163094 started
table 31948 uploaded
8814 started
table 2653 uploaded
51917 started
table 26838 uploaded
27152 started
table 101895 uploaded
5513 started
table 3996 uploaded
3500 started
table 96897 uploaded
2193 started
table 132618 uploaded
77688 started
table 123589 uploaded
55061 started
table 163094 uploaded
189065 started
table 57464 uploaded
120811 started
table 95720 uploaded
6024 started
table 8814 uploaded
191253 started
table 94803 uploaded
63859 started
table 27152 uploaded
79860 started
table 51917 uploaded
5466 started
table 77688 uploaded
139056 started
table 55061 uploaded
105855 started
table 100498 uploaded
1370 started
table 3500 uploaded
91886 started
table 120811 uploaded
67980 started
table 189065 uploaded
3146 started
table 2193 uploaded
47049 started
table 5513 uploaded
183353 started
table 6024 uploaded
162592 started
table 191253 uploaded
163136 started
table 79860 uploaded
5335 started
table 139056 uploaded
131834 started
table 91886 uploaded
6839 started
table 67980 uploaded
52813 started
table 1370 uploaded
43699 started
table 105855 uploaded
108445 started
table 47049 uploaded
73499 started
table 183353 uploaded
88957 started
table 3146 uploaded
4088 started
table 162592 uploadedtable 63859 uploaded
5613 started

587 started
table 5466 uploaded
72712 started
table 5335 uploaded
184473 started
table 163136 uploaded
82131 started
table 131834 uploaded
78111 started
table 6839 uploaded
127140 started
table 73499 uploaded
3924 started
table 108445 uploaded
135512 started
table 43699 uploaded
3074 started
table 72712 uploaded
1743 started

/opt/conda/lib/python3.10/site-packages/google/cloud/bigquery/_pandas_helpers.py:603: UserWarning: Pyarrow could not determine the type of columns: tag.
  warnings.warn(

table 52813 uploaded
135168 started
table 587 uploaded
81456 started
table 88957 uploaded
109374 started
table 4088 uploaded
4880 started
table 82131 uploaded
26141 started
table 184473 uploaded
45361 started
table 5613 uploaded
38992 started
table 3924 uploaded
83835 started
table 78111 uploaded
6137 started
table 135512 uploaded
68201 started
table 127140 uploaded
67792 started
table 109374 uploaded
6478 started
table 135168 uploaded
5192 started
table 1743 uploaded
1862 started
table 81456 uploaded
7328 started
table 3074 uploaded
53370 started
table 4880 uploaded
31221 started
table 45361 uploaded
121583 started
table 38992 uploaded
102194 started
table 26141 uploaded
94444 started
table 67792 uploaded
5909 started
table 6478 uploaded
196611 started
table 5192 uploaded
6268 started

/opt/conda/lib/python3.10/site-packages/google/cloud/bigquery/_pandas_helpers.py:603: UserWarning: Pyarrow could not determine the type of columns: tag.
  warnings.warn(

table 68201 uploaded
81427 started
table 1862 uploaded
1044 started
table 83835 uploaded
78034 started
table 53370 uploaded
5603 started
table 102194 uploaded
118189 started
table 7328 uploaded
54094 started
table 6137 uploaded
87166 started
table 31221 uploaded
8290 started
table 94444 uploaded
59026 started
table 121583 uploaded
78270 started
table 183695 uploaded
2831 started

/opt/conda/lib/python3.10/site-packages/google/cloud/bigquery/_pandas_helpers.py:603: UserWarning: Pyarrow could not determine the type of columns: tag.
  warnings.warn(

table 196611 uploaded
5493 started
table 81427 uploaded
171695 started
table 78034 uploaded
139385 started
table 6268 uploaded
2017 started
table 87166 uploaded
183661 started
table 1044 uploaded
77517 started
table 5603 uploaded
4603 started
table 5909 uploaded
167644 started
table 78270 uploaded
149822 started
table 54094 uploaded
132169 started
table 59026 uploaded
2844 started
table 118189 uploaded
40887 started
table 171695 uploaded
5751 started
table 8290 uploaded
117849 started
table 5493 uploaded
54270 started
table 139385 uploaded
1487 started
table 2017 uploaded
31413 started
table 183661 uploaded
470 started
table 5751 uploaded
2608 started
table 77517 uploaded
197529 started
table 2844 uploaded
3145 started
table 4603 uploaded
3282 started
table 40887 uploaded
187717 started
table 149822 uploaded
5206 started
table 167644 uploaded
4227 started
table 31413 uploaded
2136 started
table 117849 uploaded
25888 started
table 132169 uploaded
1026 started
table 2831 uploaded
71688 started
table 470 uploaded
8754 started
table 3145 uploaded
87618 started
table 54270 uploaded
49132 started
table 1487 uploaded
173469 started
table 197529 uploaded
166788 started
table 2608 uploaded
55489 started
table 4227 uploaded
87031 started
table 25888 uploaded
183295 started
table 2136 uploaded
31427 started
table 3282 uploaded
54503 started
table 71688 uploaded
86478 started
table 5206 uploaded
145066 started
table 173469 uploaded
5204 started
table 1026 uploaded
72167 started
table 87618 uploaded
1312 started
table 49132 uploaded
79469 started
table 183295 uploaded
60516 started
table 87031 uploaded
42738 started
table 166788 uploaded
142578 started

/opt/conda/lib/python3.10/site-packages/google/cloud/bigquery/_pandas_helpers.py:603: UserWarning: Pyarrow could not determine the type of columns: tag.
  warnings.warn(

table 187717 uploaded
82589 started
table 55489 uploaded
89492 started
table 31427 uploaded
4693 started
table 86478 uploaded
6402 started
table 5204 uploaded
126430 started
table 54503 uploaded
5284 started
table 8754 uploaded
table 1312 uploaded97132 started

109673 started
table 145066 uploaded
3123 started
table 42738 uploaded
190 started

/opt/conda/lib/python3.10/site-packages/google/cloud/bigquery/_pandas_helpers.py:603: UserWarning: Pyarrow could not determine the type of columns: tag.
  warnings.warn(

table 79469 uploaded
73392 started
table 60516 uploaded
96590 started
table 72167 uploaded
1972 started
table 6402 uploaded
66118 started
table 142578 uploaded
6251 started
table 4693 uploaded
181925 started
table 89492 uploaded
163983 started
table 126430 uploaded
101076 started
table 82589 uploaded
92357 started
table 5284 uploaded
96407 started
table 97132 uploaded
116032 started
table 109673 uploaded
161062 started
table 96590 uploaded
146270 started
table 3123 uploaded
7367 started

/opt/conda/lib/python3.10/site-packages/google/cloud/bigquery/_pandas_helpers.py:603: UserWarning: Pyarrow could not determine the type of columns: tag.
  warnings.warn(

table 6251 uploaded
4515 started
table 190 uploaded
179333 started
table 73392 uploaded
121308 started
table 1972 uploaded
33760 started
table 92357 uploaded
168334 started

/opt/conda/lib/python3.10/site-packages/google/cloud/bigquery/_pandas_helpers.py:603: UserWarning: Pyarrow could not determine the type of columns: tag.
  warnings.warn(

table 101076 uploaded
58576 started
table 66118 uploaded
156795 started
table 96407 uploaded
26485 started
table 181925 uploaded
163779 started

/opt/conda/lib/python3.10/site-packages/google/cloud/bigquery/_pandas_helpers.py:603: UserWarning: Pyarrow could not determine the type of columns: tag.
  warnings.warn(

table 7367 uploaded
162726 started
table 163983 uploaded
139608 started
table 116032 uploaded
3162 started
table 161062 uploaded
25987 started
table 179333 uploaded
3712 started
table 121308 uploaded
229 started
table 33760 uploaded
97470 started
table 146270 uploaded
149352 started
table 4515 uploaded
3468 started
table 58576 uploaded
93750 started
table 162726 uploaded
81736 started
table 168334 uploaded
60 started
table 3162 uploaded
8968 started
table 26485 uploaded
143385 started
table 163779 uploaded
834 started
table 139608 uploaded
71677 started
table 156795 uploaded
33646 started
table 25987 uploaded
92481 started
table 3712 uploaded
26792 started
table 60 uploaded
101025 startedtable 97470 uploaded

34411 started
table 149352 uploaded
96728 started
table 229 uploaded
37785 started
table 3468 uploaded
2806 started
table 71677 uploaded
7759 started
table 834 uploaded
60758 started
table 8968 uploaded
66310 started
table 33646 uploaded
2786 started
table 81736 uploaded
53466 started
table 101025 uploaded
165885 started
table 37785 uploaded
40723 started
table 143385 uploaded
4208 started
table 96728 uploaded
5689 started
table 92481 uploaded
968 started
table 66310 uploaded
89840 started
table 34411 uploaded
8042 started
table 2806 uploaded
5484 started
table 7759 uploaded
3670 started
table 93750 uploaded
100843 started
table 60758 uploaded
3656 started
table 2786 uploaded
190029 started
table 165885 uploaded
6982 started
table 53466 uploaded
67867 started
table 4208 uploaded
113252 started
table 26792 uploaded
4018 started
table 5689 uploaded
2385 started
table 40723 uploaded
2836 started
table 968 uploaded
68028 started
table 89840 uploaded
142422 started
table 5484 uploaded
4737 started
table 100843 uploaded
112911 started
table 3670 uploaded
2696 started
table 113252 uploaded
33722 started
table 142422 uploaded
50685 started
table 2836 uploaded
4649 started
table 8042 uploaded
table 3656 uploaded96592 started

90809 started
table 67867 uploaded
94024 started
table 2385 uploaded
43921 started
table 6982 uploaded
92637 started
table 4018 uploaded
3917 started
table 112911 uploaded
95615 started
table 4737 uploaded
141493 started
table 190029 uploaded
8225 started
table 68028 uploaded
60609 started
table 2696 uploaded
2833 started
table 90809 uploaded
4321 started
table 96592 uploaded
66152 started
table 50685 uploaded
4275 started
table 4649 uploaded
1031 started
table 94024 uploaded
3149 started

/opt/conda/lib/python3.10/site-packages/google/cloud/bigquery/_pandas_helpers.py:603: UserWarning: Pyarrow could not determine the type of columns: tag.
  warnings.warn(

table 3917 uploaded
91273 started
table 92637 uploaded
7480 started
table 33722 uploaded
148050 started
table 43921 uploaded
92841 started
table 8225 uploaded
3588 started
table 141493 uploaded
6135 started
table 1031 uploaded
193697 started
table 66152 uploaded
84248 started
table 60609 uploaded
5475 started
table 4321 uploaded
123947 started
table 2833 uploaded
156781 started
table 95615 uploaded
table 3149 uploaded68073 started

58595 started
table 91273 uploaded
6272 started
table 4275 uploaded
52227 started
table 92841 uploaded
200982 started
table 3588 uploaded
27469 started
table 123947 uploaded
53578 started
table 148050 uploaded
1350 started
table 6135 uploaded
26230 started
table 7480 uploaded
4932 started
table 193697 uploaded
61269 started
table 156781 uploaded
5651 started
table 5475 uploaded
72096 started

/opt/conda/lib/python3.10/site-packages/google/cloud/bigquery/_pandas_helpers.py:603: UserWarning: Pyarrow could not determine the type of columns: tag.
  warnings.warn(

table 58595 uploaded
25868 started
table 68073 uploaded
3559 started
table 6272 uploaded
647 started
table 52227 uploaded
109728 started
table 200982 uploaded
3515 started
table 84248 uploaded
5128 started
table 27469 uploaded
5501 started
table 4932 uploaded
32199 started
table 53578 uploaded
54276 started
table 26230 uploaded
899 started
table 61269 uploaded
148838 started
table 1350 uploaded
3068 started
table 5651 uploaded
120940 started
table 3515 uploaded
106002 started
table 72096 uploaded
42584 started
table 109728 uploaded
97692 started
table 3559 uploaded
31422 started
table 25868 uploaded
37277 started
table 647 uploaded
121284 started
table 5501 uploaded
44633 started
table 54276 uploaded
2851 started
table 5128 uploaded
100717 started
table 3068 uploaded
8828 started
table 148838 uploaded
47525 started
table 120940 uploaded
59680 started
table 97692 uploaded
123180 started
table 42584 uploaded
7175 started
table 31422 uploaded
3244 started
table 899 uploaded
133349 started
table 44633 uploaded
220 started
table 106002 uploaded
4686 started
table 32199 uploaded
76130 started
table 100717 uploaded
143355 started
table 2851 uploaded
52606 started
table 47525 uploaded
2073 started
table 123180 uploaded
4790 started
table 121284 uploaded
5283 started
table 8828 uploaded
1928 started
table 133349 uploaded
142062 started
table 37277 uploaded
3394 started
table 4686 uploaded
80891 started
table 7175 uploaded
2216 started
table 3244 uploaded
85547 started
table 59680 uploaded
1405 started
table 220 uploaded
6323 started
table 76130 uploaded
178371 started
table 143355 uploaded
80107 started
table 2073 uploaded
136477 started
table 4790 uploaded
2587 started
table 5283 uploaded
45672 started
table 2216 uploaded
52927 started
table 3394 uploaded
4118 started
table 142062 uploaded
126983 started
table 52606 uploaded
52 started
table 1928 uploaded
4192 started
table 80891 uploaded
196175 started
table 85547 uploaded
32375 started
table 136477 uploaded
27544 started
table 178371 uploaded
80361 started

/opt/conda/lib/python3.10/site-packages/google/cloud/bigquery/_pandas_helpers.py:603: UserWarning: Pyarrow could not determine the type of columns: tag.
  warnings.warn(

table 1405 uploaded
50356 started
table 6323 uploaded
6035 started
table 2587 uploaded
32156 started
table 4192 uploaded
79287 started
table 196175 uploaded
6567 started
table 80107 uploaded
108599 started
table 126983 uploaded
25901 started
table 52927 uploaded
3672 started
table 45672 uploaded
25977 started
table 4118 uploaded
6391 started
table 32375 uploaded
205297 started

/opt/conda/lib/python3.10/site-packages/google/cloud/bigquery/_pandas_helpers.py:603: UserWarning: Pyarrow could not determine the type of columns: tag.
  warnings.warn(

table 27544 uploaded
67907 started
table 52 uploaded
51127 started
table 50356 uploaded
1237 started
table 32156 uploaded
127144 started
table 6035 uploaded
25812 started
table 6567 uploaded
158844 started
table 3672 uploaded
4685 started

/opt/conda/lib/python3.10/site-packages/google/cloud/bigquery/_pandas_helpers.py:603: UserWarning: Pyarrow could not determine the type of columns: tag.
  warnings.warn(

table 80361 uploaded
3072 started
table 108599 uploaded
101942 started
table 79287 uploaded
103751 started
table 6391 uploaded
148956 started
table 25901 uploaded
2640 started
table 25977 uploaded
43914 started
table 67907 uploaded
4846 started
table 1237 uploaded
127118 started
table 127144 uploaded
42213 started
table 205297 uploaded
2130 started
table 51127 uploaded
1138 started

/opt/conda/lib/python3.10/site-packages/google/cloud/bigquery/_pandas_helpers.py:603: UserWarning: Pyarrow could not determine the type of columns: tag.
  warnings.warn(

table 158844 uploaded
47644 started
table 3072 uploaded
1104 started
table 25812 uploaded
6739 started
table 101942 uploaded
2238 started
table 103751 uploaded
8774 started
table 148956 uploaded
979 started

/opt/conda/lib/python3.10/site-packages/google/cloud/bigquery/_pandas_helpers.py:603: UserWarning: Pyarrow could not determine the type of columns: tag.
  warnings.warn(

table 2640 uploaded
88785 started
table 43914 uploaded
2798 started
table 127118 uploaded
96945 started
table 4846 uploaded
3761 started
table 4685 uploaded
186311 started
table 2130 uploaded
75414 started
table 47644 uploaded
109485 started
table 1138 uploaded
184407 started
table 1104 uploaded
48678 started
table 42213 uploaded
6237 started
table 2238 uploaded
3702 started
table 88785 uploaded
157290 started

/opt/conda/lib/python3.10/site-packages/google/cloud/bigquery/_pandas_helpers.py:603: UserWarning: Pyarrow could not determine the type of columns: tag.
  warnings.warn(

table 96945 uploaded
7386 startedtable 75414 uploaded

2819 started
table 6739 uploaded
185031 startedtable 8774 uploaded

1849 started
table 109485 uploaded
102905 started
table 3761 uploaded
73208 started
table 979 uploaded
3361 started
table 184407 uploaded
3649 started
table 2798 uploaded
127202 started
table 186311 uploaded
5598 started
table 6237 uploaded
33585 started
table 3702 uploaded
1113 started
table 48678 uploaded
79553 started
table 2819 uploaded
2006 started
table 1849 uploaded
89356 started
table 127202 uploaded
197663 started
table 157290 uploaded
7119 started
table 3361 uploaded
101352 started
table 185031 uploaded
8197 started
table 73208 uploaded
1760 started
table 3649 uploaded
82095 started
table 7386 uploaded
103521 started
table 33585 uploaded
2169 started
table 79553 uploaded
3012 started
table 102905 uploaded
130576 started
table 1113 uploaded
182715 started
table 89356 uploaded
88235 started
table 5598 uploaded
1480 started
table 2006 uploaded
100032 started
table 1760 uploaded
1032 started
table 8197 uploaded
2126 started
table 197663 uploaded
128842 started
table 103521 uploaded
3225 started
table 101352 uploaded
865 started
table 2169 uploaded
3746 started
table 182715 uploaded
3078 started
table 130576 uploaded
8375 started
table 82095 uploaded
168250 started
table 3012 uploaded
37720 started
table 88235 uploaded
154858 started
table 2126 uploaded
314 started
table 100032 uploaded
114046 started
table 3225 uploaded
135989 started

/opt/conda/lib/python3.10/site-packages/google/cloud/bigquery/_pandas_helpers.py:603: UserWarning: Pyarrow could not determine the type of columns: tag.
  warnings.warn(

table 7119 uploaded
204558 started
table 1032 uploaded
114060 started
table 865 uploaded
44663 started
table 3746 uploaded
100058 started

/opt/conda/lib/python3.10/site-packages/google/cloud/bigquery/_pandas_helpers.py:603: UserWarning: Pyarrow could not determine the type of columns: tag.
  warnings.warn(

table 8375 uploaded
3631 started
table 128842 uploaded
5899 started
table 1480 uploaded
891 started
table 168250 uploaded
27700 started
table 37720 uploaded
148040 started
table 114060 uploaded
27564 started
table 114046 uploaded
52548 started

/opt/conda/lib/python3.10/site-packages/google/cloud/bigquery/_pandas_helpers.py:603: UserWarning: Pyarrow could not determine the type of columns: tag.
  warnings.warn(

table 135989 uploaded
6534 started
table 3078 uploaded
7815 started
table 314 uploaded
1547 started
table 44663 uploaded
5606 started
table 154858 uploaded
2809 started
table 100058 uploaded
126482 started
table 204558 uploaded
113604 started
table 2809 uploaded
170799 started
table 5606 uploaded
84944 started
table 126482 uploaded
48774 started
table 27700 uploaded
192121 started
table 6534 uploaded
150230 started
table 1547 uploaded
4333 started
table 5899 uploaded
7123 started
table 3631 uploaded
6703 started
table 148040 uploaded
3059 started
table 27564 uploaded
171881 started
table 7815 uploaded
6234 started
table 113604 uploaded
2044 started
table 52548 uploaded
192 started

/opt/conda/lib/python3.10/site-packages/google/cloud/bigquery/_pandas_helpers.py:603: UserWarning: Pyarrow could not determine the type of columns: tag.
  warnings.warn(

table 891 uploaded
84150 started
table 170799 uploaded
115949 started
table 84944 uploaded
159817 started
table 150230 uploaded
97175 started
table 4333 uploaded
53450 started
table 48774 uploaded
2176 started

/opt/conda/lib/python3.10/site-packages/google/cloud/bigquery/_pandas_helpers.py:603: UserWarning: Pyarrow could not determine the type of columns: tag.
  warnings.warn(

table 84150 uploaded
108791 started
table 6703 uploaded
60487 startedtable 192 uploaded

98022 started
table 7123 uploaded
128981 started
table 171881 uploaded
6914 started
table 6234 uploaded
26425 started
table 115949 uploaded
185569 started
table 3059 uploaded
53379 started
table 2044 uploaded
132632 started
table 159817 uploaded
2697 started
table 53450 uploaded
116845 started
table 192121 uploaded
2507 started
table 128981 uploaded
85763 started
table 98022 uploaded
2782 started
table 97175 uploaded
139205 started
table 2176 uploaded
2039 started
table 26425 uploaded
3864 started
table 108791 uploaded
6075 started
table 185569 uploaded
172909 started

/opt/conda/lib/python3.10/site-packages/google/cloud/bigquery/_pandas_helpers.py:603: UserWarning: Pyarrow could not determine the type of columns: tag.
  warnings.warn(

table 60487 uploaded
728 started
table 132632 uploaded
173137 started
table 53379 uploaded
93512 started
table 6914 uploaded
63458 started
table 116845 uploaded
139640 started
table 2507 uploaded
185999 started
table 2782 uploaded
7391 started

/opt/conda/lib/python3.10/site-packages/google/cloud/bigquery/_pandas_helpers.py:603: UserWarning: Pyarrow could not determine the type of columns: tag.
  warnings.warn(

table 2039 uploaded
6029 started
table 6075 uploaded
186947 started
table 3864 uploaded
5165 started
table 85763 uploaded
152838 started
table 2697 uploaded
4352 started
table 728 uploaded
6784 started
table 63458 uploaded
101640 started
table 139205 uploaded
87992 started
table 173137 uploaded
172623 started
table 172909 uploaded
122920 started
table 6029 uploaded
2827 started
table 7391 uploaded
81768 started
table 139640 uploaded
7153 started
table 5165 uploaded
1936 started
table 152838 uploaded
74488 started
table 101640 uploaded
97966 started
table 185999 uploaded
1092 started
table 93512 uploaded
93721 started
table 4352 uploaded
1406 started
table 172623 uploaded
4985 started
table 186947 uploaded
96518 started
table 2827 uploaded
165937 started
table 6784 uploaded
152063 started
table 87992 uploaded
164735 started
table 7153 uploaded
65359 started
table 122920 uploaded
140811 started
table 81768 uploaded
1694 started

/opt/conda/lib/python3.10/site-packages/google/cloud/bigquery/_pandas_helpers.py:603: UserWarning: Pyarrow could not determine the type of columns: tag.
  warnings.warn(

table 74488 uploaded
97797 started
table 97966 uploaded
117444 started
table 1936 uploaded
95449 started
table 93721 uploaded
26782 started
table 1092 uploaded
132480 started
table 164735 uploaded
165843 started
table 4985 uploaded
177495 started
table 165937 uploaded
160335 started
table 152063 uploaded
179785 started
table 96518 uploaded
7167 started
table 1694 uploaded
182749 started
table 140811 uploaded
6113 started
table 65359 uploaded
98961 started
table 1406 uploaded
1340 started
table 26782 uploaded
160317 started
table 117444 uploaded
6002 started
table 95449 uploaded
160684 started
table 165843 uploaded
187959 started
table 179785 uploaded
135599 started
table 160335 uploaded
1223 started
table 177495 uploaded
52973 started
table 132480 uploaded
34162 started
table 98961 uploaded
4204 started
table 97797 uploaded
190017 started
table 7167 uploaded
1522 started
table 1340 uploaded
106421 started
table 160317 uploaded
51277 started
table 6002 uploaded
79874 started
table 182749 uploaded
1097 started
table 6113 uploaded
8147 started
table 187959 uploaded
95058 started
table 4204 uploaded
69524 started
table 34162 uploaded
138702 started
table 160684 uploaded
184 started
table 1223 uploaded
81413 started
table 190017 uploaded
54967 started
table 106421 uploaded
7171 started
table 52973 uploaded
76772 started
table 51277 uploaded
548 started
table 1522 uploaded
92094 started
table 135599 uploaded
108318 started
table 95058 uploaded
7329 started
table 79874 uploaded
164226 started
table 8147 uploaded
176223 started
table 138702 uploaded
3204 started
table 69524 uploaded
27402 started
table 81413 uploaded
121035 started
table 184 uploaded
5016 started
table 76772 uploaded
1365 started
table 7171 uploaded
96096 started
table 1097 uploaded
42002 started
table 548 uploaded
4870 started
table 108318 uploaded
3353 started

/opt/conda/lib/python3.10/site-packages/google/cloud/bigquery/_pandas_helpers.py:603: UserWarning: Pyarrow could not determine the type of columns: tag.
  warnings.warn(

table 54967 uploaded
80424 started
table 92094 uploaded
34450 started
table 3204 uploaded
8620 started
table 164226 uploaded
6434 started
table 121035 uploaded
184315 started
table 176223 uploaded
5373 started
table 7329 uploaded
110867 started
table 96096 uploaded
7032 started
table 27402 uploaded
3552 started
table 42002 uploaded
480 started
table 5016 uploaded
26007 started
table 4870 uploaded
3895 started
table 3353 uploaded
81786 started
table 1365 uploaded
86190 started
table 8620 uploaded
70687 started
table 5373 uploaded
3742 started
table 80424 uploaded
75805 started
table 184315 uploaded
73359 started
table 6434 uploaded
5898 started
table 110867 uploaded
1211 started
table 26007 uploaded
1992 started
table 7032 uploaded
142210 started

/opt/conda/lib/python3.10/site-packages/google/cloud/bigquery/_pandas_helpers.py:603: UserWarning: Pyarrow could not determine the type of columns: tag.
  warnings.warn(

table 480 uploaded
5735 started
table 86190 uploaded
3127 started
table 34450 uploaded
59157 started
table 70687 uploaded
45722 started
table 3552 uploaded
2173 started
table 73359 uploaded
8730 started
table 1211 uploaded
3939 started
table 75805 uploaded
26680 started
table 5898 uploaded
2240 started
table 81786 uploaded
7311 started
table 1992 uploaded
196021 started
table 3742 uploaded
65665 started
table 3895 uploaded
115467 started
table 142210 uploaded
34608 started
table 59157 uploaded
84374 started
table 45722 uploaded
49746 started
table 3127 uploaded
5006 started
table 2240 uploaded
7620 started
table 7311 uploaded
2539 started
table 3939 uploaded
1098 started

/opt/conda/lib/python3.10/site-packages/google/cloud/bigquery/_pandas_helpers.py:603: UserWarning: Pyarrow could not determine the type of columns: tag.
  warnings.warn(

table 8730 uploaded
174819 started
table 5735 uploaded
3579 started
table 2173 uploaded
69926 started
table 65665 uploaded
116608 started

/opt/conda/lib/python3.10/site-packages/google/cloud/bigquery/_pandas_helpers.py:603: UserWarning: Pyarrow could not determine the type of columns: tag.
  warnings.warn(

table 26680 uploaded
1769 started
table 196021 uploaded
91010 started
table 34608 uploaded
106072 started
table 84374 uploaded
3281 started
table 115467 uploaded
141950 started
table 49746 uploaded
109627 started
table 7620 uploaded
52009 started
table 174819 uploaded
3294 started
table 1098 uploaded
159191 started
table 1769 uploaded
4672 started
table 5006 uploaded
119567 started
table 2539 uploaded
25808 started
table 3579 uploaded
388 started
table 3281 uploaded
171751 started
table 91010 uploaded
44889 started
table 141950 uploaded
26203 started
table 69926 uploaded
68597 started
table 52009 uploaded
140523 started
table 116608 uploaded
27603 started
table 109627 uploaded
31047 started
table 106072 uploaded
82005 started
table 159191 uploaded
26520 started
table 4672 uploaded
195163 started
table 119567 uploaded
50842 started
table 3294 uploaded
27909 started
table 26203 uploaded
2918 started
table 25808 uploaded
127158 started
table 44889 uploaded
65682 started
table 68597 uploaded
1783 started
table 171751 uploaded
3322 started
table 388 uploaded
4131 started
table 140523 uploaded
70366 started
table 27603 uploaded
122517 started
table 31047 uploaded
2321 started
table 50842 uploaded
8485 started
table 195163 uploaded
1007 started
table 26520 uploaded
73109 started
table 27909 uploaded
4232 started
table 4131 uploaded
138036 started
table 3322 uploaded
85268 started
table 1783 uploaded
20 started
table 70366 uploaded
4306 started
table 127158 uploaded
152866 started
table 82005 uploaded
1822 started
table 122517 uploaded
140713 started
table 2918 uploaded
143657 started
table 73109 uploaded
163653 started
table 2321 uploaded
4933 started
table 65682 uploaded
96501 started
table 8485 uploaded
167854 started
table 20 uploaded
2526 started
table 4232 uploaded
113089 started
table 85268 uploaded
156777 started
table 138036 uploaded
985 started
table 4306 uploaded
145180 started

/opt/conda/lib/python3.10/site-packages/google/cloud/bigquery/_pandas_helpers.py:603: UserWarning: Pyarrow could not determine the type of columns: tag.
  warnings.warn(

table 140713 uploaded
141946 started
table 152866 uploaded
8203 started
table 1822 uploaded
75981 started
table 143657 uploaded
69773 started
table 4933 uploaded
27648 started
table 1007 uploaded
130073 started
table 163653 uploaded
72628 started
table 2526 uploaded
131389 started
table 113089 uploaded
113559 started
table 167854 uploaded
3899 started
table 156777 uploaded
6217 started
table 985 uploaded
134 started
table 141946 uploaded
117529 started
table 8203 uploaded
7111 started
table 145180 uploaded
3784 started
table 69773 uploaded
192389 started
table 27648 uploaded
203154 started
table 96501 uploaded
184865 started
table 72628 uploaded
109390 started
table 75981 uploaded
74452 started
table 130073 uploaded
136698 started
table 3899 uploaded
52285 started
table 113559 uploaded
134861 started
table 131389 uploaded
108285 started
table 6217 uploaded
7981 started
table 7111 uploaded
160590 started
table 117529 uploaded
78344 started
table 74452 uploaded
192803 started
table 192389 uploaded
104093 started
table 3784 uploaded
194959 started
table 134 uploaded
189781 started
table 203154 uploaded
46572 started
table 52285 uploaded
92789 started
table 134861 uploaded
7922 started
table 108285 uploaded
134867 started
table 136698 uploaded
95939 started
table 184865 uploaded
59016 started
table 7981 uploaded
8706 started
table 78344 uploaded
165023 started
table 194959 uploaded
163060 started
table 109390 uploaded
99537 started
table 192803 uploaded
7146 started
table 46572 uploaded
99117 started
table 160590 uploaded
5800 started
table 92789 uploaded
4061 started
table 189781 uploaded
1925 started
table 104093 uploaded
103339 started
table 7922 uploaded
90751 started
table 95939 uploaded
170405 started
table 59016 uploaded
44947 started
table 134867 uploaded
663 started
table 163060 uploaded
176849 started
table 99537 uploaded
2603 started

/opt/conda/lib/python3.10/site-packages/google/cloud/bigquery/_pandas_helpers.py:603: UserWarning: Pyarrow could not determine the type of columns: tag.
  warnings.warn(

table 8706 uploaded
4217 started
table 165023 uploaded
68659 started
table 7146 uploaded
25855 started
table 5800 uploaded
4850 started
table 103339 uploaded
32686 started
table 99117 uploaded
4026 started
table 1925 uploaded
60702 started
table 4061 uploaded
52767 started
table 176849 uploaded
61816 started
table 170405 uploaded
8504 started
table 663 uploaded
26306 started
table 44947 uploaded
5856 started
table 4217 uploaded
6543 started
table 68659 uploaded
5167 started
table 90751 uploaded
157699 started

/opt/conda/lib/python3.10/site-packages/google/cloud/bigquery/_pandas_helpers.py:603: UserWarning: Pyarrow could not determine the type of columns: tag.
  warnings.warn(

table 25855 uploaded
138154 started
table 4850 uploaded
180001 started
table 2603 uploaded
2146 started
table 60702 uploaded
34063 started
table 52767 uploaded
4654 started
table 138154 uploaded
164373 started
table 6543 uploaded
2802 started
table 4026 uploaded
55555 started
table 32686 uploaded
71488 started
table 8504 uploaded
1371 started
table 157699 uploaded
4146 started
table 26306 uploaded
4918 started
table 61816 uploaded
52865 started
table 180001 uploaded
3519 started
table 5856 uploaded
5211 started
table 5167 uploaded
137857 started
table 2146 uploaded
53859 started
table 2802 uploaded
148978 started
table 34063 uploaded
1984 started
table 55555 uploaded
129245 started
table 71488 uploadedtable 164373 uploaded

8977 started31590 started

table 1371 uploaded
8220 started
table 4654 uploaded
26974 started
table 4918 uploaded
144568 started

/opt/conda/lib/python3.10/site-packages/google/cloud/bigquery/_pandas_helpers.py:603: UserWarning: Pyarrow could not determine the type of columns: tag.
  warnings.warn(

table 5211 uploaded
4753 started
table 137857 uploaded
216 started
table 1984 uploaded
61449 started
table 53859 uploaded
27006 started
table 4146 uploaded
78640 started
table 8220 uploaded
127658 started
table 52865 uploaded
171093 started
table 3519 uploaded
134499 started
table 129245 uploaded
287 started

/opt/conda/lib/python3.10/site-packages/google/cloud/bigquery/_pandas_helpers.py:603: UserWarning: Pyarrow could not determine the type of columns: tag.
  warnings.warn(

table 31590 uploaded
31260 started
table 148978 uploaded
27816 started
table 26974 uploaded
1004 started
table 216 uploaded
844 started
table 8977 uploaded
4859 started
table 61449 uploaded
160333 started
table 78640 uploaded
33363 started
table 4753 uploaded
3763 started
table 171093 uploaded
97868 started
table 144568 uploaded
116841 started
table 27006 uploaded
62376 started
table 287 uploaded
128360 started
table 31260 uploaded
1579 started

/opt/conda/lib/python3.10/site-packages/google/cloud/bigquery/_pandas_helpers.py:603: UserWarning: Pyarrow could not determine the type of columns: tag.
  warnings.warn(

table 134499 uploaded
122904 started
table 127658 uploaded
5061 started
table 4859 uploaded
40962 started
table 160333 uploaded
8937 started
table 844 uploaded
25951 started
table 27816 uploaded
40819 started
table 128360 uploaded
122335 started

/opt/conda/lib/python3.10/site-packages/google/cloud/bigquery/_pandas_helpers.py:603: UserWarning: Pyarrow could not determine the type of columns: tag.
  warnings.warn(

table 1004 uploaded
62729 started
table 97868 uploaded
26175 started
table 33363 uploaded
7360 started
table 1579 uploaded
47571 started
table 122904 uploaded
4223 started
table 62376 uploaded
83910 started
table 3763 uploaded
34292 started
table 116841 uploaded
104298 started
table 8937 uploaded
1715 started
table 5061 uploaded
108237 started
table 26175 uploaded
26476 started
table 40962 uploaded
1264 started
table 122335 uploaded
79251 started
table 40819 uploaded
133771 started
table 25951 uploaded
4363 started
table 4223 uploaded
56001 started
table 83910 uploaded
8361 started
table 7360 uploaded
8369 started
table 62729 uploaded
127194 started
table 47571 uploaded
1670 started
table 108237 uploaded
7700 started
table 104298 uploaded
116807 started
table 34292 uploaded
2095 started
table 1264 uploaded
2250 started
table 26476 uploaded
40851 started
table 56001 uploaded
68205 started
table 4363 uploaded
33340 started
table 1715 uploaded
3655 started
table 133771 uploaded
8838 started
table 8369 uploaded
3790 started
table 127194 uploaded
6985 started
table 8361 uploaded
161346 started
table 1670 uploaded
114856 started
table 2095 uploaded
2191 started
table 7700 uploaded
64524 started
table 79251 uploaded
129937 started
table 40851 uploaded
78944 started
table 116807 uploaded
2598 started
table 2250 uploaded
200598 started
table 6985 uploaded
91690 started
table 33340 uploaded
4705 started
table 3655 uploaded
6259 started
table 8838 uploaded
7093 started
table 3790 uploaded
3945 started
table 2598 uploaded
2938 started
table 129937 uploaded
100436 started
table 68205 uploaded
431 started
table 2191 uploaded
72874 started
table 161346 uploaded
2739 started
table 64524 uploaded
6978 started
table 114856 uploaded
61323 started
table 200598 uploaded
134342 started
table 78944 uploaded
6119 started
table 7093 uploaded
6257 started
table 4705 uploaded
60590 started
table 6259 uploaded
528 started
table 3945 uploaded
7565 started
table 100436 uploaded
4722 started
table 2739 uploaded
190749 started
table 72874 uploaded
164236 started
table 2938 uploaded
32002 started

/opt/conda/lib/python3.10/site-packages/google/cloud/bigquery/_pandas_helpers.py:603: UserWarning: Pyarrow could not determine the type of columns: tag.
  warnings.warn(

table 61323 uploaded
976 started
table 431 uploaded
106022 started
table 6119 uploaded
5733 started
table 60590 uploaded
33145 started
table 6978 uploaded
55768 started
table 6257 uploaded
164147 started
table 528 uploaded
172289 started

/opt/conda/lib/python3.10/site-packages/google/cloud/bigquery/_pandas_helpers.py:603: UserWarning: Pyarrow could not determine the type of columns: tag.
  warnings.warn(

table 91690 uploaded
100440 started
table 190749 uploaded
136249 started
table 4722 uploaded
117136 started
table 7565 uploaded
99468 started
table 976 uploaded
3594 started
table 32002 uploaded
8384 started
table 134342 uploaded
2533 started
table 5733 uploaded
4558 started
table 33145 uploaded
5829 started
table 164147 uploaded
148058 started
table 55768 uploaded
74668 started
table 164236 uploaded
101262 started
table 106022 uploaded
114392 started
table 172289 uploaded
1075 started
table 100440 uploaded
187213 started
table 2533 uploaded
8715 started
table 136249 uploaded
148970 started
table 148058 uploaded
107052 started
table 117136 uploaded
4145 started

/opt/conda/lib/python3.10/site-packages/google/cloud/bigquery/_pandas_helpers.py:603: UserWarning: Pyarrow could not determine the type of columns: tag.
  warnings.warn(

table 3594 uploaded
76317 started
table 74668 uploaded
8899 started
table 114392 uploaded
107700 started
table 99468 uploaded
116897 started
table 1075 uploaded
110044 started
table 5829 uploaded
70726 started
table 101262 uploaded
4279 started

/opt/conda/lib/python3.10/site-packages/google/cloud/bigquery/_pandas_helpers.py:603: UserWarning: Pyarrow could not determine the type of columns: tag.
  warnings.warn(

table 8384 uploaded
816 started

/opt/conda/lib/python3.10/site-packages/google/cloud/bigquery/_pandas_helpers.py:603: UserWarning: Pyarrow could not determine the type of columns: tag.
  warnings.warn(

table 4558 uploaded
49220 started
table 148970 uploaded
100238 started
table 187213 uploaded
84570 started
table 8715 uploaded
152017 started
table 8899 uploaded
32385 started
table 116897 uploaded
164959 started
table 107052 uploaded
142911 started
table 49220 uploaded
201072 started
table 70726 uploaded
97462 started
table 4145 uploaded
6604 started
table 110044 uploaded
68347 started
table 4279 uploadedtable 107700 uploaded

98797 started104379 started

table 816 uploaded
55223 started
table 152017 uploaded
42009 started
table 84570 uploaded
167426 started
table 32385 uploaded
26009 started
table 164959 uploaded
4184 started
table 100238 uploaded
37727 started
table 142911 uploaded
3653 started
table 201072 uploaded
179055 started
table 6604 uploaded
46788 started
table 68347 uploaded
5122 started
table 98797 uploaded
7045 started
table 97462 uploaded
94746 started
table 26009 uploaded
45648 started
table 4184 uploaded
91104 started
table 55223 uploaded
7921 started
table 167426 uploaded
100383 started
table 42009 uploaded
92079 started
table 179055 uploaded
55257 started
table 104379 uploaded
107537 started
table 46788 uploaded
26643 started
table 37727 uploaded
94301 started
table 94746 uploaded
131019 started
table 7045 uploaded
174503 started
table 45648 uploaded
3635 started
table 91104 uploaded
table 3653 uploaded2848 started

1809 started
table 5122 uploaded
165709 started
table 92079 uploaded
98621 started
table 76317 uploaded
147194 started
table 100383 uploaded
137595 started
table 55257 uploaded
1474 started
table 7921 uploaded
196491 started

/opt/conda/lib/python3.10/site-packages/google/cloud/bigquery/_pandas_helpers.py:603: UserWarning: Pyarrow could not determine the type of columns: tag.
  warnings.warn(

table 26643 uploaded
3201 started
table 131019 uploaded
6745 started
table 174503 uploaded
173835 started
table 3635 uploaded
78209 started
table 1809 uploaded
136204 started
table 107537 uploaded
94018 started
table 147194 uploaded
188477 started
table 2848 uploaded
6158 started
table 165709 uploaded
26347 started
table 1474 uploaded
116155 started
table 137595 uploaded
80072 started
table 196491 uploaded
2068 started
table 3201 uploaded
118684 started
table 6745 uploaded
82770 started
table 94301 uploaded
58162 started
table 98621 uploaded
59258 started
table 173835 uploaded
8235 started
table 94018 uploaded
108873 started
table 6158 uploaded
7388 started
table 188477 uploaded
190813 started
table 116155 uploaded
3737 started
table 78209 uploaded
82461 started
table 82770 uploaded
4537 started
table 2068 uploaded
1479 started
table 58162 uploaded
134915 started
table 118684 uploaded
5131 started
table 136204 uploaded
3261 started
table 80072 uploaded
2983 started
table 59258 uploaded
60832 started
table 8235 uploaded
71438 started
table 7388 uploaded
75929 started
table 26347 uploaded
3395 started
table 108873 uploaded
59 started
table 3737 uploaded
27790 started
table 1479 uploaded
25741 started
table 4537 uploaded
97302 started
table 134915 uploaded
1529 started
table 82461 uploaded
44685 started
table 5131 uploaded
7325 started
table 2983 uploaded
183611 started
table 71438 uploaded
3708 started
table 60832 uploaded
173283 started
table 190813 uploaded
4085 started
table 3395 uploaded
8681 started
table 59 uploaded
263 started
table 3261 uploaded
1551 started
table 1529 uploaded
2115 started
table 25741 uploaded
34767 started
table 75929 uploaded
27095 started
table 44685 uploaded
108778 started
table 97302 uploaded
5977 started
table 27790 uploaded
70046 started
table 7325 uploaded
8132 started
table 3708 uploaded
83760 started
table 263 uploaded
155968 started
table 4085 uploaded
2566 started
table 183611 uploaded
44392 started
table 173283 uploaded
80693 started
table 34767 uploaded
2783 started
table 1551 uploaded
table 5977 uploaded140545 started
48001 started

table 8681 uploaded
186949 started
table 108778 uploaded
5004 started
table 27095 uploadedtable 2115 uploaded

2035 started187001 started

table 83760 uploaded
164546 started
table 70046 uploaded
58303 started
table 155968 uploaded
127861 started
table 44392 uploaded
74154 started
table 8132 uploaded
185109 started
table 2783 uploaded
26345 started
table 2566 uploaded
183507 started
table 140545 uploaded
133169 started
table 2035 uploaded
51182 started

/opt/conda/lib/python3.10/site-packages/google/cloud/bigquery/_pandas_helpers.py:603: UserWarning: Pyarrow could not determine the type of columns: tag.
  warnings.warn(

table 48001 uploaded
93865 started
table 80693 uploaded
77177 started
table 5004 uploaded
117434 started
table 58303 uploaded
188541 started
table 164546 uploaded
45525 started
table 186949 uploaded
52885 started
table 187001 uploaded
154678 started
table 74154 uploaded
164921 started
table 127861 uploaded
105204 started
table 183507 uploaded
920 started
table 185109 uploaded
1727 started
table 51182 uploaded
2144 started
table 133169 uploaded
70802 started
table 93865 uploaded
69169 started
table 77177 uploaded
1085 started
table 26345 uploaded
132991 started
table 188541 uploaded
52042 started
table 45525 uploaded
4133 started
table 52885 uploaded
186985 started
table 117434 uploaded
1394 started
table 105204 uploaded
5885 started
table 154678 uploaded
5854 started
table 1085 uploaded
6342 started
table 920 uploaded
2989 started
table 1727 uploaded
27821 started
table 164921 uploaded
164260 started
table 52042 uploaded
3154 started
table 1394 uploaded
205106 started
table 186985 uploaded
105159 started
table 70802 uploaded
1028 started

/opt/conda/lib/python3.10/site-packages/google/cloud/bigquery/_pandas_helpers.py:603: UserWarning: Pyarrow could not determine the type of columns: tag.
  warnings.warn(

table 2144 uploaded
148976 started
table 69169 uploaded
2025 started
table 4133 uploaded
107314 started
table 5885 uploaded
74310 started
table 6342 uploaded
166528 started
table 132991 uploaded
55820 started
table 2989 uploaded
7030 started
table 205106 uploaded
84273 started
table 2025 uploaded
37853 started
table 105159 uploaded
166964 started
table 27821 uploaded
46929 started
table 1028 uploaded
97957 started
table 5854 uploaded
52967 started
table 3154 uploaded
140315 started
table 164260 uploaded
3314 started
table 107314 uploaded
167498 started

/opt/conda/lib/python3.10/site-packages/google/cloud/bigquery/_pandas_helpers.py:603: UserWarning: Pyarrow could not determine the type of columns: tag.
  warnings.warn(

table 74310 uploaded
117555 started
table 7030 uploaded
8867 started
table 166528 uploaded
96020 started
table 166964 uploaded
36373 started
table 55820 uploaded
3839 started
table 84273 uploaded
42943 started
table 46929 uploaded
2793 started
table 52967 uploaded
27509 started
table 148976 uploaded
136459 started
table 37853 uploaded
6327 started
table 140315 uploaded
5315 started
table 97957 uploaded
1881 started
table 117555 uploaded
160848 started
table 8867 uploaded
46912 started
table 3314 uploaded
3609 started
table 96020 uploaded
74 started
table 36373 uploaded
25993 started
table 167498 uploaded
4637 started
table 3839 uploaded
33193 started
table 27509 uploaded
322 started
table 2793 uploaded
4739 started

/opt/conda/lib/python3.10/site-packages/google/cloud/bigquery/_pandas_helpers.py:603: UserWarning: Pyarrow could not determine the type of columns: tag.
  warnings.warn(

table 46912 uploaded
37846 started
table 6327 uploaded
143444 started
table 5315 uploaded
7316 started
table 1881 uploaded
6006 started
table 42943 uploaded
7110 started
table 74 uploaded
108864 started
table 25993 uploaded
118930 started
table 136459 uploaded
101260 started
table 4637 uploaded
8677 started
table 322 uploaded
6898 started
table 3609 uploaded
72 started
table 4739 uploaded
1605 started
table 160848 uploaded
55154 started
table 37846 uploaded
107354 started
table 143444 uploaded
26865 started
table 33193 uploaded
112890 started
table 7316 uploaded
7959 started
table 7110 uploaded
56141 started
table 6006 uploaded
26307 started
table 118930 uploaded
159692 started

/opt/conda/lib/python3.10/site-packages/google/cloud/bigquery/_pandas_helpers.py:603: UserWarning: Pyarrow could not determine the type of columns: tag.
  warnings.warn(

table 6898 uploaded
182467 started

/opt/conda/lib/python3.10/site-packages/google/cloud/bigquery/_pandas_helpers.py:603: UserWarning: Pyarrow could not determine the type of columns: tag.
  warnings.warn(

table 72 uploaded
3373 started
table 108864 uploaded
4094 started
table 55154 uploaded
27786 started
table 26865 uploaded
49571 started
table 1605 uploadedtable 107354 uploaded
4040 started

121227 started
table 101260 uploaded
59655 started
table 26307 uploaded
161918 started
table 56141 uploaded
5222 started
table 8677 uploaded
25746 started
table 112890 uploaded
80337 started
table 3373 uploaded
table 49571 uploaded72165 started

111360 started
table 27786 uploaded
73266 started
table 159692 uploaded
54284 started
table 7959 uploaded
3859 started
table 4094 uploaded
158530 started
table 182467 uploaded
83842 started
table 4040 uploaded
26903 started
table 5222 uploaded
26350 started
table 59655 uploaded
652 started
table 121227 uploaded
3138 started
table 25746 uploaded
3360 started
table 161918 uploaded
5358 started
table 54284 uploaded
8540 started
table 111360 uploaded
188303 started
table 73266 uploaded
96693 started
table 80337 uploaded
39441 started
table 3859 uploaded
54771 started
table 83842 uploaded
165395 started
table 652 uploaded
3316 started
table 158530 uploaded
122916 started
table 26350 uploaded
7707 started
table 3138 uploaded
91571 started
table 26903 uploaded
111815 started
table 72165 uploaded
5817 started
table 5358 uploaded
110750 started
table 54771 uploaded
25764 started
table 39441 uploaded
1711 started
table 3360 uploaded
7112 started
table 8540 uploaded
157373 started
table 188303 uploaded
116907 started
table 7707 uploaded
100163 started
table 165395 uploaded
197697 started
table 3316 uploaded
6631 started
table 96693 uploaded
25937 started
table 91571 uploaded
86347 started
table 122916 uploaded
115008 started
table 110750 uploaded
201686 started
table 111815 uploaded
8671 started

/opt/conda/lib/python3.10/site-packages/google/cloud/bigquery/_pandas_helpers.py:603: UserWarning: Pyarrow could not determine the type of columns: tag.
  warnings.warn(

table 5817 uploaded
148689 started
table 116907 uploaded
102602 started
table 100163 uploaded
2244 started
table 25764 uploaded
5265 started
table 7112 uploaded
88194 started
table 1711 uploaded
4479 started
table 197697 uploaded
79467 started
table 115008 uploaded
193595 started
table 8671 uploaded
26691 started
table 157373 uploaded
148466 started
table 148689 uploaded
3494 started
table 25937 uploaded
7090 started
table 102602 uploaded
5346 started
table 201686 uploaded
3931 started
table 6631 uploaded
142993 started
table 88194 uploaded
143249 started
table 2244 uploaded
126086 started

/opt/conda/lib/python3.10/site-packages/google/cloud/bigquery/_pandas_helpers.py:603: UserWarning: Pyarrow could not determine the type of columns: tag.
  warnings.warn(

table 5265 uploaded
26107 started
table 86347 uploaded
56145 started
table 4479 uploaded
86279 started
table 79467 uploaded
5154 started
table 148466 uploaded
84834 started
table 26691 uploaded
86137 started
table 193595 uploaded
135518 started
table 3931 uploaded
2356 started
table 7090 uploaded
164175 started
table 126086 uploaded
25767 started
table 143249 uploaded
8688 started
table 142993 uploaded
74370 started
table 5346 uploaded
53 started
table 84834 uploaded
26770 started
table 26107 uploaded
72485 started
table 5154 uploaded
133143 started
table 56145 uploaded
141816 started
table 86279 uploaded
97858 started

/opt/conda/lib/python3.10/site-packages/google/cloud/bigquery/_pandas_helpers.py:603: UserWarning: Pyarrow could not determine the type of columns: tag.
  warnings.warn(
/opt/conda/lib/python3.10/site-packages/google/cloud/bigquery/_pandas_helpers.py:603: UserWarning: Pyarrow could not determine the type of columns: tag.
  warnings.warn(

table 86137 uploaded
116985 started
table 3494 uploaded
832 started
table 8688 uploaded
66618 started
table 2356 uploaded
110116 started
table 25767 uploaded
1646 started
table 135518 uploaded
200200 started
table 74370 uploaded
4916 started
table 26770 uploaded
68273 started
table 164175 uploaded
2573 started
table 53 uploaded
110746 started
table 97858 uploaded
85790 started
table 116985 uploaded
26387 started
table 72485 uploaded
175797 started
table 133143 uploaded
2967 started
table 832 uploaded
158725 started
table 66618 uploaded
31433 started
table 141816 uploaded
5279 started
table 110116 uploaded
2483 started
table 1646 uploaded
172585 started
table 2573 uploaded
50802 started

/opt/conda/lib/python3.10/site-packages/google/cloud/bigquery/_pandas_helpers.py:603: UserWarning: Pyarrow could not determine the type of columns: tag.
  warnings.warn(

table 26387 uploaded
1212 started
table 4916 uploaded
1979 started
table 68273 uploaded
8700 started
table 200200 uploaded
121169 started
table 85790 uploaded
26064 started
table 2967 uploaded
7249 started
table 110746 uploaded
5 started
table 31433 uploaded
1681 started
table 175797 uploaded
5503 started
table 158725 uploaded
4510 started
table 172585 uploaded
97308 started

/opt/conda/lib/python3.10/site-packages/google/cloud/bigquery/_pandas_helpers.py:603: UserWarning: Pyarrow could not determine the type of columns: tag.
  warnings.warn(

table 5279 uploaded
103288 started
table 50802 uploaded
37653 started
table 2483 uploaded
4019 started
table 1212 uploaded
1224 started
table 26064 uploaded
167370 started
table 121169 uploaded
40629 started
table 8700 uploaded
170949 started
table 5 uploaded
8608 started
table 1681 uploaded
107410 started
table 7249 uploaded
7451 started
table 1979 uploaded
79533 started
table 37653 uploaded
151911 started
table 4019 uploaded
94649 started
table 5503 uploaded
8528 started
table 4510 uploaded
7106 started
table 167370 uploaded
162864 started
table 170949 uploaded
994 started
table 103288 uploaded
7983 started
table 40629 uploaded
100513 started
table 1224 uploaded
156819 started
table 7451 uploaded
133383 started
table 79533 uploaded
107649 started
table 8608 uploaded
116903 started
table 151911 uploaded
26321 started
table 107410 uploaded
27217 started
table 94649 uploaded
82581 started
table 7983 uploaded
59960 started
table 7106 uploaded
1010 started
table 162864 uploaded
6148 started
table 8528 uploaded
552 started
table 107649 uploaded
7251 started
table 97308 uploaded
3852 started
table 994 uploaded
2255 started
table 100513 uploaded
81140 started
table 27217 uploaded
3116 started
table 133383 uploaded
8856 started
table 26321 uploaded
65845 started

/opt/conda/lib/python3.10/site-packages/google/cloud/bigquery/_pandas_helpers.py:603: UserWarning: Pyarrow could not determine the type of columns: tag.
  warnings.warn(

table 116903 uploaded
44100 started
table 82581 uploaded
47152 started
table 59960 uploadedtable 1010 uploaded

91261 started170235 started

table 156819 uploaded
77800 started
table 3852 uploaded
398 started
table 552 uploaded
171765 started
table 2255 uploaded
106243 started
table 8856 uploaded
7269 started
table 6148 uploaded
6098 started
table 44100 uploaded
175579 started
table 3116 uploaded
144538 started
table 7251 uploaded
7168 started
table 65845 uploaded
63393 started
table 47152 uploaded
2840 started
table 81140 uploaded
167964 started
table 77800 uploaded
31150 started
table 91261 uploaded
8812 started
table 170235 uploaded
27189 started
table 171765 uploaded
197491 started
table 106243 uploaded
43967 started
table 398 uploaded
176073 started
table 7269 uploaded
81568 started
table 63393 uploaded
26521 started
table 175579 uploaded
1203 started
table 2840 uploaded
1628 started

/opt/conda/lib/python3.10/site-packages/google/cloud/bigquery/_pandas_helpers.py:603: UserWarning: Pyarrow could not determine the type of columns: tag.
  warnings.warn(

table 6098 uploaded
5838 started
table 167964 uploaded
107141 started
table 27189 uploaded
114935 started
table 31150 uploaded
6481 started
table 7168 uploaded
105799 started
table 197491 uploaded
26843 started
table 43967 uploaded
131480 started
table 176073 uploaded
167746 started
table 144538 uploaded
2373 started
table 8812 uploaded
89554 started
table 26521 uploaded
116505 started
table 1203 uploaded
26159 started
table 1628 uploaded
4748 started
table 5838 uploaded
32342 started
table 6481 uploaded
106927 started
table 107141 uploaded
2116 started
table 114935 uploaded
3991 started
table 26843 uploaded
2444 started
table 81568 uploaded
97752 started
table 131480 uploaded
2442 started
table 116505 uploaded
1957 started
table 26159 uploaded
56915 started
table 2373 uploaded
74948 started
table 89554 uploaded
187815 started
table 4748 uploaded
96821 started
table 32342 uploaded
6750 started
table 105799 uploaded
1911 started
table 2116 uploaded
3029 started
table 106927 uploaded
32261 started
table 2444 uploaded
76091 started
table 167746 uploaded
58439 started
table 3991 uploaded
1233 started
table 2442 uploaded
8486 started
table 97752 uploaded
69481 started
table 74948 uploaded
7143 started
table 56915 uploaded
193906 started
table 187815 uploaded
144542 started
table 6750 uploaded
6487 started
table 3029 uploaded
100157 started
table 76091 uploaded
127256 started
table 58439 uploaded
6416 started
table 1233 uploaded
1535 started
table 96821 uploaded
179977 started
table 69481 uploaded
79428 started
table 8486 uploaded
32497 started
table 1911 uploaded
3776 started
table 6487 uploaded
126074 started
table 32261 uploaded
3960 started
table 193906 uploaded
50514 started
table 100157 uploaded
3499 started
table 144542 uploaded
6030 started
table 6416 uploaded
73824 started
table 1957 uploaded
57792 started
table 1535 uploaded
3308 started
table 127256 uploaded
96664 started
table 7143 uploaded
2734 started
table 179977 uploaded
7340 started
table 79428 uploaded
112852 started
table 3960 uploaded
160710 started
table 50514 uploaded
3926 started
table 32497 uploaded
91697 started
table 3776 uploaded
26414 started
table 6030 uploaded
80808 started
table 73824 uploaded
81383 started
table 126074 uploaded
746 started
table 2734 uploaded
136656 started
table 57792 uploaded
176371 started
table 3499 uploaded
71910 started
table 3308 uploaded
163715 started
table 7340 uploaded
7881 started
table 112852 uploaded
116975 started
table 91697 uploaded
49815 started
table 160710 uploaded
91935 started
table 26414 uploaded
199223 started
table 176371 uploaded
5424 started
table 3926 uploaded
2632 started
table 80808 uploaded
111 started
table 96664 uploaded
3873 started
table 746 uploaded
5479 started
table 163715 uploaded
37957 started
table 136656 uploaded
90914 started
table 81383 uploaded
31487 started
table 116975 uploaded
6219 started
table 7881 uploaded
115929 started
table 71910 uploaded
31347 started

/opt/conda/lib/python3.10/site-packages/google/cloud/bigquery/_pandas_helpers.py:603: UserWarning: Pyarrow could not determine the type of columns: tag.
  warnings.warn(

table 49815 uploaded
155181 started
table 5424 uploaded
153798 started
table 3873 uploaded
48264 started
table 111 uploaded
160674 started
table 91935 uploaded
177095 started
table 2632 uploaded
97401 started
table 5479 uploaded
6090 started
table 37957 uploaded
3117 started
table 199223 uploaded
80880 started
table 90914 uploaded
143886 started
table 31487 uploaded
30949 started
table 115929 uploaded
136598 started
table 31347 uploaded
4597 started
table 48264 uploaded
170959 started
table 153798 uploaded
26056 started
table 155181 uploaded
81853 started
table 6219 uploaded
5821 started
table 160674 uploaded
155056 started
table 177095 uploaded
80451 started
table 6090 uploaded
116024 started
table 97401 uploaded
66783 started
table 30949 uploaded
64957 started
table 3117 uploaded
179941 started
table 80880 uploaded
3061 started
table 170959 uploaded
90624 started
table 4597 uploaded
31410 started
table 26056 uploaded
167800 started
table 143886 uploaded
160706 started
table 5821 uploaded
183155 started
table 136598 uploaded
159000 started
table 155056 uploaded
964 started
table 116024 uploaded
3667 started
table 66783 uploaded
84152 started
table 80451 uploaded
147242 started
table 81853 uploaded
76132 started
table 31410 uploaded
27391 started
table 167800 uploaded
175 started
table 64957 uploaded
80363 started
table 3061 uploaded
172789 started
table 179941 uploaded
3175 started
table 964 uploaded
117638 started
table 90624 uploaded
128898 started
table 159000 uploaded
45837 started
table 160706 uploaded
43389 started
table 183155 uploaded
110975 started
table 84152 uploaded
4089 started
table 27391 uploaded
45188 started
table 76132 uploaded
6773 started
table 172789 uploaded
78358 started
table 3667 uploaded
3346 started
table 147242 uploaded
114244 started
table 80363 uploaded
77233 started
table 175 uploaded
89 started
table 117638 uploaded
7007 started
table 3175 uploaded
147238 started
table 43389 uploaded
140074 started
table 45837 uploaded
196343 started

/opt/conda/lib/python3.10/site-packages/google/cloud/bigquery/_pandas_helpers.py:603: UserWarning: Pyarrow could not determine the type of columns: tag.
  warnings.warn(

table 4089 uploaded
150552 started
table 45188 uploaded
5231 started
table 6773 uploaded
4020 started
table 128898 uploaded
97938 started
table 78358 uploaded
44943 started
table 110975 uploaded
26316 started
table 140074 uploaded
195497 started
table 7007 uploaded
129241 started
table 114244 uploaded
155810 started
table 3346 uploaded
164019 started

/opt/conda/lib/python3.10/site-packages/google/cloud/bigquery/_pandas_helpers.py:603: UserWarning: Pyarrow could not determine the type of columns: tag.
  warnings.warn(

table 77233 uploaded
200864 started
table 5231 uploaded
1161 started
table 150552 uploaded
82324 started
table 196343 uploaded
128 started
table 89 uploaded
78499 started
table 195497 uploaded
45969 started
table 44943 uploaded
26181 started
table 26316 uploaded
5785 started
table 129241 uploaded
136030 started
table 97938 uploaded
2578 started
table 147238 uploaded
3291 started

/opt/conda/lib/python3.10/site-packages/google/cloud/bigquery/_pandas_helpers.py:603: UserWarning: Pyarrow could not determine the type of columns: tag.
  warnings.warn(

table 164019 uploaded
7917 started
table 1161 uploaded
555 started
table 200864 uploaded
2315 started
table 128 uploaded
196895 started
table 155810 uploaded
53022 started
table 82324 uploaded
2865 started
table 78499 uploaded
104996 started

/opt/conda/lib/python3.10/site-packages/google/cloud/bigquery/_pandas_helpers.py:603: UserWarning: Pyarrow could not determine the type of columns: tag.
  warnings.warn(

table 5785 uploaded
3729 started
table 26181 uploaded
60397 started
table 3291 uploaded
5207 started
table 45969 uploaded
141868 startedtable 2578 uploaded

86412 started
table 7917 uploaded
54648 started
table 555 uploaded
183461 started
table 136030 uploaded
116770 started
table 2315 uploaded
51884 started
table 2865 uploaded
7528 started
table 196895 uploaded
3915 started
table 104996 uploaded
59832 started
table 4020 uploaded
84 started

/opt/conda/lib/python3.10/site-packages/google/cloud/bigquery/_pandas_helpers.py:603: UserWarning: Pyarrow could not determine the type of columns: tag.
  warnings.warn(

table 3729 uploaded
26338 started
table 86412 uploaded
102125 started
table 54648 uploaded
26277 started
table 53022 uploaded
158296 started
table 60397 uploaded
8483 started
table 141868 uploaded
2469 started
table 5207 uploaded
105420 started
table 183461 uploaded
8744 started
table 7528 uploaded
7109 started
table 51884 uploaded
85987 started
table 26338 uploaded
2333 started
table 158296 uploaded
1923 started
table 84 uploaded
34111 started
table 116770 uploaded
98585 started
table 2469 uploaded
79987 started
table 59832 uploaded
5274 started
table 102125 uploaded
30747 started
table 105420 uploaded
1176 started
table 26277 uploaded
103042 started

/opt/conda/lib/python3.10/site-packages/google/cloud/bigquery/_pandas_helpers.py:603: UserWarning: Pyarrow could not determine the type of columns: tag.
  warnings.warn(

table 3915 uploaded
8009 started
table 8483 uploaded
54738 started
table 8744 uploaded
92643 started
table 2333 uploaded
3286 started
table 7109 uploaded
136357 started

/opt/conda/lib/python3.10/site-packages/google/cloud/bigquery/_pandas_helpers.py:603: UserWarning: Pyarrow could not determine the type of columns: tag.
  warnings.warn(

table 1923 uploaded
8583 started
table 85987 uploaded
7940 started
table 34111 uploaded
47261 started
table 98585 uploaded
8984 started
table 1176 uploaded
8543 started
table 30747 uploaded
879 started
table 5274 uploaded
175667 started
table 79987 uploaded
26994 started

/opt/conda/lib/python3.10/site-packages/google/cloud/bigquery/_pandas_helpers.py:603: UserWarning: Pyarrow could not determine the type of columns: tag.
  warnings.warn(

table 54738 uploaded
167772 started
table 103042 uploaded
5591 started
table 8009 uploaded
72735 started
table 92643 uploaded
32741 started
table 136357 uploaded
206 started
table 7940 uploaded
176085 started
table 8984 uploaded
3795 started
table 8543 uploaded
87761 started
table 47261 uploaded
2160 started
table 175667 uploaded
1445 started
table 3286 uploaded
176355 started
table 8583 uploaded
6774 started
table 167772 uploaded
7954 started
table 5591 uploaded
26323 started
table 72735 uploaded
78264 started
table 26994 uploaded
4137 started
table 32741 uploaded
101281 started
table 879 uploaded
2810 started
table 87761 uploaded
165643 started
table 3795 uploaded
3156 started
table 1445 uploaded
112818 started
table 2160 uploaded
9018 started
table 206 uploaded
91957 started
table 26323 uploaded
332 started
table 176085 uploaded
76862 started
table 176355 uploaded
5703 started
table 78264 uploaded
52980 started
table 4137 uploaded
61160 started
table 6774 uploaded
133123 started
table 2810 uploaded
44155 startedtable 3156 uploaded

167570 started
table 101281 uploaded
7114 started
table 91957 uploaded
7047 started
table 332 uploaded
2412 started
table 112818 uploaded
85412 started
table 7954 uploaded
1848 started
table 52980 uploaded
5007 started
table 9018 uploaded
2279 started
table 5703 uploaded
4801 started
table 165643 uploaded
61285 started
table 61160 uploaded
156775 started
table 133123 uploaded
4590 started
table 44155 uploaded
189249 started
table 76862 uploaded
4338 started
table 7114 uploaded
26914 started
table 167570 uploaded
71453 started
table 1848 uploaded
5216 started
table 4801 uploaded
60939 started
table 5007 uploaded
4901 started
table 7047 uploaded
1119 started
table 156775 uploaded
4106 started
table 2412 uploaded
2646 started
table 85412 uploaded
75404 started
table 2279 uploaded
116413 started
table 61285 uploaded
5311 started
table 4590 uploaded
3099 started
table 71453 uploaded
4863 started
table 4338 uploaded
713 started
table 5216 uploaded
6423 started
table 60939 uploaded
117109 started
table 4901 uploaded
159827 started
table 1119 uploaded
8852 started
table 4106 uploaded
7139 started
table 189249 uploaded
116971 started
table 26914 uploaded
table 75404 uploaded140627 started

92910 started
table 5311 uploaded
185991 started
table 3099 uploaded
1773 started
table 2646 uploaded
64650 started
table 4863 uploaded
73900 started
table 116413 uploaded
58146 started
table 8852 uploaded
3403 started
table 6423 uploaded
39941 started
table 713 uploaded
39421 started
table 7139 uploaded
798 started
table 140627 uploaded
32728 started
table 116971 uploaded
72113 started
table 159827 uploaded
2190 started
table 92910 uploaded
5198 started
table 117109 uploaded
92509 started
table 64650 uploaded
201729 started
table 58146 uploaded
2139 started
table 73900 uploaded
27334 started
table 39941 uploaded
5133 started

/opt/conda/lib/python3.10/site-packages/google/cloud/bigquery/_pandas_helpers.py:603: UserWarning: Pyarrow could not determine the type of columns: tag.
  warnings.warn(

table 3403 uploaded
4926 started
table 185991 uploaded
99746 started
table 32728 uploaded
167794 started
table 1773 uploaded
81499 started

/opt/conda/lib/python3.10/site-packages/google/cloud/bigquery/_pandas_helpers.py:603: UserWarning: Pyarrow could not determine the type of columns: tag.
  warnings.warn(

table 798 uploaded
108212 started
table 72113 uploaded
3916 started
table 201729 uploaded
65230 started
table 2190 uploaded
106782 started
table 5198 uploaded
3830 started
table 92509 uploaded
2372 started
table 2139 uploaded
77316 started
table 27334 uploaded
59053 started
table 39421 uploaded
3798 started
table 5133 uploaded
4973 started
table 4926 uploaded
166974 started
table 108212 uploaded
90 started

/opt/conda/lib/python3.10/site-packages/google/cloud/bigquery/_pandas_helpers.py:603: UserWarning: Pyarrow could not determine the type of columns: tag.
  warnings.warn(

table 3830 uploaded
174617 started
table 81499 uploaded
32361 started
table 2372 uploaded
102070 started
table 3916 uploaded
2223 started
table 99746 uploaded
26512 startedtable 65230 uploaded

4329 started
table 3798 uploaded
99795 started
table 4973 uploaded
96565 started
table 106782 uploaded
122906 started
table 167794 uploaded
115151 started
table 59053 uploaded
58207 started
table 77316 uploaded
87105 started
table 32361 uploaded
104608 started
table 2223 uploaded
7766 started
table 166974 uploaded
91353 started
table 96565 uploaded
146048 started
table 122906 uploaded
49757 started
table 58207 uploaded
183227 started
table 4329 uploaded
156410 started
table 99795 uploaded
105952 started
table 115151 uploaded
8239 started
table 26512 uploaded
89085 started
table 102070 uploaded
table 174617 uploaded100581 started

106109 started
table 87105 uploaded
1375 started
table 7766 uploaded
3710 started
table 91353 uploaded
1622 started

/opt/conda/lib/python3.10/site-packages/google/cloud/bigquery/_pandas_helpers.py:603: UserWarning: Pyarrow could not determine the type of columns: tag.
  warnings.warn(

table 104608 uploaded
175199 started
table 146048 uploaded
1249 started
table 49757 uploaded
61037 started
table 156410 uploaded
138 started
table 90 uploaded
3685 started
table 105952 uploaded
9000 started
table 8239 uploaded
77798 started
table 183227 uploaded
179819 started
table 89085 uploaded
200838 started
table 3710 uploaded
6551 started
table 106109 uploaded
82920 started
table 1375 uploaded
38164 started
table 100581 uploaded
83134 started
table 61037 uploaded
88051 started
table 175199 uploaded
86762 started
table 3685 uploaded
6889 started
table 9000 uploaded
60137 started
table 1622 uploaded
195561 started
table 77798 uploaded
159441 started
table 200838 uploaded
6760 started
table 138 uploaded
49291 started
table 6551 uploaded
126929 started
table 179819 uploaded
2015 started
table 83134 uploaded
79318 started
table 1249 uploaded
74582 started
table 88051 uploaded
3257 started
table 38164 uploaded
8680 started
table 82920 uploaded
113048 started
table 159441 uploaded
137863 started
table 60137 uploaded
1938 started
table 6889 uploaded
47774 started
table 126929 uploaded
195293 started
table 6760 uploaded
table 86762 uploaded
101648 started2273 started

table 79318 uploaded
80590 started
table 195561 uploaded
7373 started
table 2015 uploaded
73681 started
table 8680 uploaded
171467 started
table 3257 uploaded
189099 started
table 113048 uploaded
183701 started
table 74582 uploaded
121366 started
table 1938 uploaded
74480 started
table 137863 uploaded
8131 started
table 49291 uploaded
2855 started
table 47774 uploaded
27695 started
table 101648 uploaded
34051 started
table 2273 uploaded
136305 started
table 195293 uploaded
120625 started
table 8131 uploaded
26777 started
table 74480 uploaded
45691 started
table 7373 uploaded
4206 started
table 73681 uploaded
71108 started
table 171467 uploaded
885 started
table 80590 uploaded
3675 started
table 2855 uploaded
86947 started
table 189099 uploaded
129030 started

/opt/conda/lib/python3.10/site-packages/google/cloud/bigquery/_pandas_helpers.py:603: UserWarning: Pyarrow could not determine the type of columns: tag.
  warnings.warn(

table 183701 uploaded
784 started
table 27695 uploaded
44657 started
table 121366 uploaded
45550 started
table 45691 uploaded
5701 started
table 34051 uploaded
134843 started
table 4206 uploaded
6188 started
table 136305 uploaded
49013 started
table 120625 uploaded
5155 started
table 26777 uploaded
48516 started
table 885 uploaded
133357 started
table 71108 uploaded
47940 started
table 784 uploaded
104319 started
table 45550 uploaded
6005 started
table 3675 uploaded
189061 started
table 86947 uploaded
5521 started
table 129030 uploaded
1943 started
table 6188 uploaded
25905 started
table 5701 uploaded
2182 started
table 134843 uploaded
119689 started

/opt/conda/lib/python3.10/site-packages/google/cloud/bigquery/_pandas_helpers.py:603: UserWarning: Pyarrow could not determine the type of columns: tag.
  warnings.warn(

table 44657 uploaded
159970 started
table 49013 uploaded
26399 started
table 133357 uploaded
133219 started
table 48516 uploaded
77208 started
table 47940 uploaded
116859 started
table 5155 uploaded
5662 started
table 5521 uploaded
2511 started
table 104319 uploaded
6459 started
table 1943 uploaded
81046 started
table 6005 uploaded
6765 started
table 25905 uploaded
171277 started
table 119689 uploaded
27811 started

/opt/conda/lib/python3.10/site-packages/google/cloud/bigquery/_pandas_helpers.py:603: UserWarning: Pyarrow could not determine the type of columns: tag.
  warnings.warn(

table 189061 uploaded
170293 started
table 159970 uploaded
8533 started
table 2182 uploaded
96578 started
table 133219 uploaded
7357 started
table 26399 uploaded
7771 started
table 77208 uploaded
53152 started
table 2511 uploaded
77729 started
table 116859 uploaded
108871 started
table 81046 uploaded
196417 started
table 5662 uploaded
540 started
table 27811 uploaded
105484 started
table 171277 uploaded
50572 started
table 170293 uploaded
151515 started
table 7771 uploaded
4165 started
table 8533 uploaded
3102 started
table 7357 uploaded
80908 started
table 96578 uploaded
152 started
table 77729 uploaded
301 started
table 6765 uploaded
47221 started
table 6459 uploaded
121235 started
table 108871 uploaded
6655 started
table 53152 uploaded
77833 started
table 105484 uploaded
2705 started
table 50572 uploaded
53919 started
table 151515 uploaded
44161 started
table 540 uploaded
3958 started
table 4165 uploaded
103685 started
table 196417 uploaded
136443 started
table 3102 uploaded
2867 started
table 80908 uploaded
8606 started
table 301 uploaded
6862 started
table 47221 uploaded
3020 started
table 152 uploaded
52104 started
table 121235 uploaded
168740 started
table 3958 uploaded
85211 started
table 6655 uploaded
2187 started
table 2867 uploaded
869 started
table 53919 uploaded
91079 started
table 2705 uploaded
144424 started
table 6862 uploaded
162160 started
table 8606 uploaded
62235 started
table 52104 uploaded
190397 started
table 3020 uploaded
195745 started
table 136443 uploaded
85316 started
table 103685 uploaded
178997 started
table 168740 uploaded
4627 started
table 44161 uploaded
31975 started
table 869 uploaded
8734 started
table 2187 uploaded
96751 started
table 162160 uploaded
3965 started
table 144424 uploaded
8674 started
table 62235 uploaded
71390 started
table 77833 uploaded
2593 started
table 195745 uploaded
4378 started
table 190397 uploaded
25963 started
table 91079 uploaded
110102 started
table 85211 uploaded
26052 started
table 178997 uploaded
161738 started
table 85316 uploaded
192375 started
table 4627 uploaded
82459 started
table 8734 uploaded
1373 started
table 96751 uploaded
4119 started
table 31975 uploaded
40033 started
table 3965 uploaded
52644 started
table 8674 uploaded
76208 started
table 2593 uploaded
2729 started
table 4378 uploaded
1556 started
table 25963 uploaded
128167 started

/opt/conda/lib/python3.10/site-packages/google/cloud/bigquery/_pandas_helpers.py:603: UserWarning: Pyarrow could not determine the type of columns: tag.
  warnings.warn(

table 71390 uploaded
76 started
table 192375 uploaded
112580 started
table 110102 uploaded
90524 started
table 26052 uploaded
3354 started
table 82459 uploaded
7056 started
table 4119 uploaded
5776 started
table 161738 uploaded
57370 started
table 52644 uploaded
100457 started
table 40033 uploaded
178885 started
table 76208 uploaded
27711 started
table 1556 uploaded
5000 started
table 1373 uploaded
8267 started
table 128167 uploaded
76060 started
table 2729 uploaded
7127 started
table 112580 uploaded
6783 started
table 7056 uploaded
6525 started
table 76 uploaded
157296 started
table 57370 uploaded
146028 started
table 90524 uploaded
931 started
table 5776 uploaded
130016 started
table 3354 uploaded
4101 started
table 178885 uploaded
79807 started
table 100457 uploaded
72327 started
table 8267 uploaded
5177 started
table 7127 uploaded
170289 started
table 6783 uploaded
6461 started
table 27711 uploaded
179119 started
table 76060 uploaded
31502 started
table 157296 uploaded
2070 started
table 5000 uploaded
140944 started
table 931 uploaded
145384 started
table 146028 uploaded
174859 started
table 130016 uploaded
3601 started
table 79807 uploaded
179811 started
table 4101 uploaded
45521 started
table 170289 uploaded
101525 started
table 6525 uploaded
957 started
table 6461 uploaded
8831 started
table 5177 uploaded
1483 started
table 72327 uploaded
3467 started
table 31502 uploaded
7892 started
table 179119 uploaded
861 started
table 2070 uploaded
74677 started
table 140944 uploaded
5774 started
table 45521 uploaded
142538 started
table 179811 uploaded
38046 started
table 957 uploaded
60579 started
table 174859 uploaded
109802 started
table 3601 uploaded
5790 started

/opt/conda/lib/python3.10/site-packages/google/cloud/bigquery/_pandas_helpers.py:603: UserWarning: Pyarrow could not determine the type of columns: tag.
  warnings.warn(

table 3467 uploaded
30854 started
table 145384 uploaded
117893 started
table 101525 uploaded
5375 started
table 8831 uploaded
166615 started
table 74677 uploaded
8927 started
table 7892 uploaded
47063 started
table 861 uploaded
7087 started
table 1483 uploaded
2041 started
table 5774 uploaded
168286 started
table 142538 uploaded
165639 started
table 60579 uploaded
116861 started
table 109802 uploaded
55343 started
table 117893 uploaded
133873 started
table 38046 uploaded
46957 started
table 5375 uploaded
114461 started
table 166615 uploaded
60145 started
table 5790 uploaded
71131 started
table 2041 uploaded
132492 started
table 30854 uploaded
8914 started
table 165639 uploaded
139855 started
table 8927 uploaded
3095 started
table 7087 uploaded
2047 started
table 116861 uploaded
6059 started
table 47063 uploaded
144398 started
table 55343 uploaded
26562 started
table 114461 uploaded
46970 started
table 46957 uploaded
40826 started
table 168286 uploaded
5724 started
table 71131 uploaded
8455 started
table 3095 uploaded
1875 started
table 60145 uploaded
1927 started
table 2047 uploaded
6527 started
table 8914 uploaded
731 started
table 6059 uploaded
5139 started
table 139855 uploaded
2579 started
table 132492 uploaded
7883 started
table 133873 uploaded
3033 started
table 144398 uploaded
132070 started
table 40826 uploaded
64116 started
table 26562 uploaded
4750 started
table 46970 uploaded
114635 started
table 5724 uploaded
84989 started
table 1927 uploaded
4602 started
table 8455 uploaded
3338 started
table 1875 uploaded
1569 started
table 6527 uploaded
58649 started
table 3033 uploaded
72731 started
table 4750 uploaded
26228 started
table 7883 uploaded
38656 started
table 731 uploaded
5955 started
table 5139 uploaded
8379 started
table 2579 uploaded
132472 started
table 132070 uploaded
6303 started
table 114635 uploaded
59159 started
table 64116 uploaded
5444 started
table 4602 uploadedtable 3338 uploaded

5740 started
92920 started

/opt/conda/lib/python3.10/site-packages/google/cloud/bigquery/_pandas_helpers.py:603: UserWarning: Pyarrow could not determine the type of columns: tag.
  warnings.warn(

table 72731 uploaded
5621 started
table 84989 uploaded
6587 started
table 1569 uploaded
33823 started
table 26228 uploaded
3495 started
table 132472 uploaded
49668 started
table 38656 uploaded
5741 started
table 5444 uploaded
26585 started
table 59159 uploaded
5326 started
table 6303 uploaded
170629 started
table 92920 uploaded
76147 started
table 5740 uploaded
178523 started
table 8379 uploaded
167470 started
table 58649 uploaded
8958 started
table 6587 uploaded
8855 started
table 5955 uploaded
71325 started
table 5621 uploaded
460 started
table 3495 uploaded
2902 started
table 5741 uploaded
3265 started
table 33823 uploaded
43828 started
table 76147 uploaded
111362 started
table 170629 uploaded
26831 started
table 5326 uploaded
1517 started
table 8958 uploaded
853 started
table 26585 uploaded
1997 started
table 2902 uploaded
91784 started
table 178523 uploaded
620 started
table 49668 uploaded
132798 started
table 8855 uploaded
4053 started
table 167470 uploaded
73023 started
table 3265 uploaded
139207 started
table 460 uploaded
8629 started
table 43828 uploaded
3267 started
table 71325 uploaded
8762 started
table 26831 uploaded
30818 started
table 620 uploaded
109951 started
table 1517 uploaded
1409 started
table 1997 uploaded
55294 started
table 853 uploaded
74886 started
table 73023 uploaded
31903 started
table 111362 uploaded
48326 started
table 132798 uploaded
60950 started
table 4053 uploaded
179221 started
table 91784 uploaded
732 started
table 8762 uploaded
93552 started
table 8629 uploaded
109265 started
table 3267 uploaded
170403 started
table 109951 uploaded
1919 started
table 139207 uploaded
107117 started
table 55294 uploaded
72405 started
table 30818 uploaded
2053 started
table 48326 uploaded
74738 started
table 74886 uploaded
79916 started
table 179221 uploaded
78342 started
table 109265 uploaded
132584 started
table 170403 uploaded
118924 started
table 93552 uploaded
32649 started
table 1409 uploaded
3367 started
table 107117 uploaded
787 started
table 31903 uploaded
table 60950 uploaded98485 started

65514 started
table 72405 uploaded
32013 started
table 2053 uploaded
26694 started
table 732 uploaded
96114 started
table 1919 uploaded
5450 started
table 74738 uploaded
2014 started
table 79916 uploaded
744 started

/opt/conda/lib/python3.10/site-packages/google/cloud/bigquery/_pandas_helpers.py:603: UserWarning: Pyarrow could not determine the type of columns: tag.
  warnings.warn(

table 78342 uploaded
75386 started
table 32649 uploaded
26858 started
table 118924 uploaded
3545 started
table 787 uploaded
167770 started

/opt/conda/lib/python3.10/site-packages/google/cloud/bigquery/_pandas_helpers.py:603: UserWarning: Pyarrow could not determine the type of columns: tag.
  warnings.warn(

table 132584 uploaded
116833 started
table 65514 uploaded
7890 started
table 98485 uploaded
3329 started
table 3367 uploaded
62792 started
table 5450 uploaded
174141 started
table 75386 uploaded
201654 started

/opt/conda/lib/python3.10/site-packages/google/cloud/bigquery/_pandas_helpers.py:603: UserWarning: Pyarrow could not determine the type of columns: tag.
  warnings.warn(

table 96114 uploaded
63119 started
table 744 uploaded
1067 started
table 2014 uploadedtable 26858 uploaded

30970 started
61451 started
table 3545 uploaded
86725 started
table 32013 uploaded
148679 started
table 167770 uploaded
6592 started
table 62792 uploaded
169168 started
table 3329 uploaded
183815 started
table 116833 uploaded
142975 started
table 26694 uploaded
1036 started
table 7890 uploaded
81656 started
table 201654 uploaded
6306 started
table 1067 uploaded
2889 started
table 86725 uploaded
79132 started
table 61451 uploaded
160201 started
table 174141 uploaded
4176 started
table 63119 uploaded
26043 started

/opt/conda/lib/python3.10/site-packages/google/cloud/bigquery/_pandas_helpers.py:603: UserWarning: Pyarrow could not determine the type of columns: tag.
  warnings.warn(

table 30970 uploaded
5431 started
table 169168 uploaded
64501 started
table 148679 uploaded
5163 started
table 183815 uploaded
2448 started
table 142975 uploaded
2181 started
table 6592 uploaded
3194 started
table 1036 uploaded
42543 started
table 81656 uploaded
8772 started
table 4176 uploaded
163464 started
table 2889 uploaded
27904 started
table 64501 uploaded
26055 started
table 79132 uploaded
44115 started
table 5431 uploaded
5280 started

/opt/conda/lib/python3.10/site-packages/google/cloud/bigquery/_pandas_helpers.py:603: UserWarning: Pyarrow could not determine the type of columns: tag.
  warnings.warn(

table 160201 uploaded
87520 started
table 26043 uploaded
167136 started
table 6306 uploaded
147328 started
table 5163 uploaded
115210 started
table 2448 uploaded
6900 started
table 8772 uploaded
60760 started
table 2181 uploaded
3988 started
table 26055 uploaded
58156 started
table 163464 uploaded
33998 started
table 3194 uploaded
73678 started
table 147328 uploaded
3279 started

/opt/conda/lib/python3.10/site-packages/google/cloud/bigquery/_pandas_helpers.py:603: UserWarning: Pyarrow could not determine the type of columns: tag.
  warnings.warn(

table 27904 uploaded
107196 started
table 115210 uploaded
141395 started
table 5280 uploaded
109457 started
table 87520 uploaded
32128 started
table 167136 uploaded
6632 started
table 44115 uploaded
1587 started
table 42543 uploaded
151693 started
table 58156 uploaded
1482 started
table 3988 uploaded
6928 started
table 6900 uploaded
33021 started
table 33998 uploaded
8592 started

/opt/conda/lib/python3.10/site-packages/google/cloud/bigquery/_pandas_helpers.py:603: UserWarning: Pyarrow could not determine the type of columns: tag.
  warnings.warn(

table 3279 uploaded
59604 started
table 107196 uploaded
175603 started
table 141395 uploaded
4593 started
table 60760 uploaded
106868 started
table 109457 uploaded
8367 started
table 73678 uploaded
4314 started
table 6928 uploaded
121159 started
table 151693 uploaded
98013 started
table 1482 uploaded
38798 started
table 32128 uploaded
112506 started
table 1587 uploaded
2109 started
table 6632 uploaded
78772 started
table 59604 uploaded
1090 started
table 8592 uploaded
170371 started
table 106868 uploaded
81791 started
table 8367 uploaded
5012 started
table 33021 uploaded
8518 started
table 4593 uploaded
1388 started
table 2109 uploaded
135274 started
table 175603 uploaded
8689 started

/opt/conda/lib/python3.10/site-packages/google/cloud/bigquery/_pandas_helpers.py:603: UserWarning: Pyarrow could not determine the type of columns: tag.
  warnings.warn(

table 112506 uploaded
50610 started
table 4314 uploaded
6609 started
table 121159 uploaded
69951 started
table 38798 uploaded
73983 started
table 98013 uploaded
3837 started
table 78772 uploaded
3091 started
table 81791 uploaded
69251 started
table 1090 uploaded
188829 started
table 170371 uploaded
161586 started
table 8689 uploaded
7448 started
table 8518 uploaded
1248 started
table 1388 uploaded
49282 started
table 135274 uploaded
3298 started
table 5012 uploaded
5848 started
table 69951 uploaded
164699 started
table 3837 uploaded
148468 started
table 73983 uploaded
2814 started
table 50610 uploaded
47516 started
table 6609 uploaded
2148 started
table 188829 uploaded
52189 started
table 3091 uploaded
6255 started
table 69251 uploaded
6400 started
table 7448 uploaded
55245 started
table 5848 uploaded
4064 started
table 161586 uploaded
1717 started
table 1248 uploaded
5018 started
table 164699 uploaded
27524 started
table 148468 uploaded
1683 started
table 3298 uploaded
103444 started
table 49282 uploaded
3645 started
table 6255 uploaded
4267 started
table 2814 uploaded
168126 started
table 2148 uploadedtable 6400 uploaded

144348 started170891 started

table 52189 uploaded
33779 started
table 47516 uploaded
3449 started

/opt/conda/lib/python3.10/site-packages/google/cloud/bigquery/_pandas_helpers.py:603: UserWarning: Pyarrow could not determine the type of columns: tag.
  warnings.warn(

table 1717 uploaded
134178 started
table 55245 uploaded
169762 started
table 5018 uploaded
2260 started
table 3645 uploaded
25934 started
table 4064 uploaded
162460 started
table 27524 uploaded
2184 started
table 103444 uploaded
8581 started
table 4267 uploaded
47493 started
table 1683 uploaded
150602 started
table 33779 uploaded
146329 started
table 144348 uploaded
116901 started
table 3449 uploaded
190743 started
table 134178 uploaded
85025 started
table 168126 uploaded
5576 started
table 2260 uploaded
51939 started
table 169762 uploaded
6638 started
table 170891 uploaded
33171 started
table 2184 uploaded
74916 started
table 47493 uploaded
2761 started
table 146329 uploaded
5458 started
table 162460 uploaded
113066 started
table 116901 uploaded
194951 started
table 25934 uploaded
54505 started
table 190743 uploaded
104636 started
table 150602 uploaded
77966 started
table 5576 uploaded
4715 started
table 85025 uploaded
7117 started
table 51939 uploaded
82676 started
table 6638 uploaded
8195 started
table 8581 uploaded
9014 started
table 33171 uploaded
241 started
table 5458 uploaded
6026 started
table 77966 uploaded
31359 started
table 113066 uploaded
110181 started
table 82676 uploaded
196891 started
table 4715 uploaded
3040 started
table 7117 uploaded
79073 started
table 9014 uploaded
77449 started
table 241 uploaded
7239 started
table 2761 uploaded
62553 started
table 104636 uploaded
81270 started
table 54505 uploaded
1651 started
table 74916 uploaded
742 started
table 6026 uploaded
84792 started
table 194951 uploaded
122922 started
table 31359 uploaded
55278 started
table 196891 uploaded
76808 started
table 8195 uploaded
32300 started
table 79073 uploaded
6379 started
table 62553 uploaded
4890 started
table 3040 uploaded
59976 started
table 742 uploaded
44195 started
table 81270 uploaded
25874 started
table 110181 uploaded
27876 started
table 1651 uploaded
197909 started

/opt/conda/lib/python3.10/site-packages/google/cloud/bigquery/_pandas_helpers.py:603: UserWarning: Pyarrow could not determine the type of columns: tag.
  warnings.warn(

table 7239 uploaded
26117 started
table 77449 uploaded
177225 started
table 84792 uploaded
2347 started
table 55278 uploaded
152457 started
table 32300 uploaded
26630 started
table 76808 uploaded
45183 started
table 4890 uploaded
115664 started
table 59976 uploaded
4251 started
table 44195 uploaded
180833 started
table 197909 uploaded
60471 started
table 6379 uploaded
table 25874 uploaded150262 started

161024 started

/opt/conda/lib/python3.10/site-packages/google/cloud/bigquery/_pandas_helpers.py:603: UserWarning: Pyarrow could not determine the type of columns: tag.
  warnings.warn(

table 122922 uploaded
1304 started
table 177225 uploaded
132157 started
table 26117 uploaded
90341 started
table 26630 uploaded
25753 started
table 115664 uploaded
1555 started
table 2347 uploaded
127298 started
table 27876 uploaded
1564 started
table 45183 uploaded
2726 started
table 1304 uploaded
4939 started
table 152457 uploaded
25899 started
table 150262 uploaded
131820 started
table 132157 uploaded
2326 started

/opt/conda/lib/python3.10/site-packages/google/cloud/bigquery/_pandas_helpers.py:603: UserWarning: Pyarrow could not determine the type of columns: tag.
  warnings.warn(

table 90341 uploaded
72178 started
table 1555 uploaded
175657 started
table 161024 uploaded
5813 started
table 4251 uploaded
25828 started
table 25753 uploaded
5235 started
table 60471 uploaded
131136 started
table 127298 uploaded
50147 started
table 1564 uploaded
4534 started
table 2726 uploaded
71178 started
table 25899 uploaded
631 started
table 4939 uploaded
3344 started
table 180833 uploaded
154354 started
table 2326 uploaded
3184 started
table 72178 uploaded
111630 started
table 175657 uploaded
113771 started
table 131820 uploaded
58 started
table 5813 uploaded
57942 started
table 50147 uploaded
2141 started
table 5235 uploaded
80917 started
table 25828 uploaded
81823 started
table 71178 uploaded
88192 started
table 4534 uploaded
175655 started
table 131136 uploaded
144618 started
table 3344 uploaded
92 started
table 154354 uploaded
177763 started
table 631 uploaded
136596 started
table 113771 uploaded
40339 started
table 57942 uploaded
26242 started
table 3184 uploaded
77837 started
table 2141 uploaded
109733 started
table 58 uploaded
941 started
table 80917 uploaded
76312 started
table 175655 uploaded
7292 started
table 88192 uploaded
1793 started
table 144618 uploaded
93029 started
table 81823 uploaded
194006 started
table 92 uploaded
177865 started
table 111630 uploaded
27843 started
table 40339 uploaded
7083 started
table 177763 uploaded
60735 started
table 136596 uploaded
171613 started
table 77837 uploaded
36541 started

/opt/conda/lib/python3.10/site-packages/google/cloud/bigquery/_pandas_helpers.py:603: UserWarning: Pyarrow could not determine the type of columns: tag.
  warnings.warn(

table 109733 uploaded
58881 started
table 26242 uploaded
163006 started

/opt/conda/lib/python3.10/site-packages/google/cloud/bigquery/_pandas_helpers.py:603: UserWarning: Pyarrow could not determine the type of columns: tag.
  warnings.warn(

table 7292 uploaded
613 started
table 93029 uploaded
188749 started
table 941 uploaded
2087 started
table 194006 uploaded
1253 started
table 76312 uploaded
112946 started
table 177865 uploaded
199 started
table 60735 uploaded
8529 started
table 1793 uploaded
45668 started
table 171613 uploaded
115887 started
table 7083 uploaded
80374 started
table 27843 uploaded
101964 started
table 163006 uploaded
25775 started
table 188749 uploaded
615 started
table 58881 uploaded
7358 started
table 36541 uploaded
5172 started
table 1253 uploaded
1542 started
table 112946 uploaded
56379 started
table 45668 uploaded
201588 started
table 115887 uploaded
6032 started
table 613 uploaded
2151 started
table 2087 uploaded
65435 started
table 199 uploaded
126953 started
table 8529 uploaded
5926 started
table 101964 uploaded
109633 started
table 80374 uploaded
85056 started
table 7358 uploaded
47465 started
table 25775 uploaded
60538 started
table 56379 uploaded
78746 started
table 201588 uploaded
62577 started
table 5172 uploaded
54908 started
table 1542 uploaded
1331 started
table 6032 uploaded
5259 started
table 615 uploaded
2163 started
table 2151 uploaded
7028 started
table 47465 uploaded
27865 started
table 126953 uploaded
129941 started
table 85056 uploaded
147236 started
table 60538 uploaded
136722 started
table 65435 uploaded
49265 started
table 54908 uploaded
115967 started
table 62577 uploaded
6970 started
table 1331 uploaded
6401 started
table 2163 uploaded
2978 started
table 109633 uploaded
25765 started
table 5259 uploaded
7202 started
table 5926 uploaded
93980 started
table 78746 uploaded
4500 started
table 129941 uploaded
7330 started
table 7028 uploaded
179371 started
table 27865 uploaded
66344 started
table 147236 uploaded
600 started
table 6970 uploaded
30810 started
table 2978 uploaded
6561 started
table 115967 uploaded
26204 started
table 6401 uploaded
5498 started
table 49265 uploaded
51619 started
table 7202 uploaded
132352 started
table 4500 uploaded
78459 started
table 136722 uploaded
8817 started
table 93980 uploaded
7781 started
table 7330 uploaded
7990 started
table 66344 uploaded
33655 started
table 179371 uploaded
6939 started
table 5498 uploaded
120825 started
table 25765 uploaded
83803 started
table 51619 uploaded
26317 started
table 78459 uploaded
3956 started
table 7781 uploaded
101710 started
table 30810 uploaded
6312 started
table 600 uploaded
74789 started
table 8817 uploaded
80553 started
table 26204 uploaded
139108 started
table 6939 uploaded
104072 started
table 33655 uploaded
61075 started
table 132352 uploaded
63992 started
table 7990 uploaded
50160 started
table 6561 uploaded
91970 started
table 83803 uploaded
70488 started
table 120825 uploaded
129826 started
table 101710 uploaded
5053 started
table 3956 uploaded
38095 started
table 74789 uploaded
50354 started
table 139108 uploaded
27271 started
table 63992 uploaded
50794 started
table 91970 uploaded
58347 started
table 61075 uploaded
155545 started
table 26317 uploaded
2779 started
table 80553 uploaded
141428 started
table 104072 uploaded
166461 started
table 50160 uploaded
134246 started
table 6312 uploaded
2912 started
table 70488 uploaded
95135 started
table 129826 uploaded
136754 started
table 5053 uploaded
73170 started
table 50354 uploaded
96861 started
table 38095 uploaded
96064 started
table 27271 uploaded
3525 started
table 50794 uploaded
6997 started
table 155545 uploaded
1932 started
table 134246 uploaded
5455 started
table 2912 uploaded
60948 started
table 166461 uploaded
1105 started
table 2779 uploaded
6263 started
table 58347 uploaded
2364 started
table 141428 uploaded
5500 started
table 136754 uploaded
132650 started
table 3525 uploaded
7057 started
table 96064 uploaded
32116 started
table 73170 uploaded
1384 started
table 95135 uploaded
625 started
table 5455 uploaded
5254 started
table 6263 uploaded
6380 started
table 96861 uploaded
80126 started
table 6997 uploaded
6151 started
table 1105 uploaded
155659 started
table 1932 uploaded
47196 started
table 5500 uploaded
5108 started
table 2364 uploaded
8482 started
table 60948 uploaded
100326 started
table 32116 uploaded
5127 started
table 132650 uploaded
32383 started
table 7057 uploaded
840 started
table 1384 uploaded
115721 started
table 80126 uploaded
4098 started
table 5108 uploaded
7362 started
table 5254 uploaded
203218 started
table 6151 uploaded
795 started

/opt/conda/lib/python3.10/site-packages/google/cloud/bigquery/_pandas_helpers.py:603: UserWarning: Pyarrow could not determine the type of columns: tag.
  warnings.warn(

table 8482 uploaded
192551 started
table 625 uploaded
5417 started
table 155659 uploaded
36630 started

/opt/conda/lib/python3.10/site-packages/google/cloud/bigquery/_pandas_helpers.py:603: UserWarning: Pyarrow could not determine the type of columns: tag.
  warnings.warn(

table 6380 uploaded
164899 started
table 5127 uploaded
25774 started
table 115721 uploaded
121275 started
table 100326 uploaded
128594 started
table 7362 uploaded
78332 started
table 47196 uploaded
2210 started
table 840 uploaded
77736 started

/opt/conda/lib/python3.10/site-packages/google/cloud/bigquery/_pandas_helpers.py:603: UserWarning: Pyarrow could not determine the type of columns: tag.
  warnings.warn(

table 4098 uploaded
189805 started

/opt/conda/lib/python3.10/site-packages/google/cloud/bigquery/_pandas_helpers.py:603: UserWarning: Pyarrow could not determine the type of columns: tag.
  warnings.warn(

table 32383 uploaded
100196 started
table 192551 uploaded
122888 started
table 5417 uploaded
188383 started
table 795 uploaded
79590 started
table 25774 uploaded
139747 started
table 203218 uploaded
79242 started
table 2210 uploaded
2694 started
table 164899 uploaded
112974 started
table 128594 uploaded
136556 started
table 189805 uploaded
151745 started
table 36630 uploaded
873 started
table 121275 uploaded
113862 started
table 188383 uploaded
26462 started
table 122888 uploaded
155064 started
table 100196 uploaded
4060 started
table 77736 uploaded
78579 started

/opt/conda/lib/python3.10/site-packages/google/cloud/bigquery/_pandas_helpers.py:603: UserWarning: Pyarrow could not determine the type of columns: tag.
  warnings.warn(

table 78332 uploaded
474 started
table 79590 uploaded
3364 started
table 139747 uploaded
2930 started
table 79242 uploaded
166946 started
table 873 uploaded
1752 started
table 151745 uploaded
68653 started
table 112974 uploaded
37384 started
table 2694 uploaded
3433 started
table 136556 uploaded
56174 started
table 26462 uploaded
102152 started
table 78579 uploaded
162172 started
table 155064 uploaded
84173 started
table 474 uploaded
109243 started
table 4060 uploaded
2801 started
table 3364 uploaded
159690 started
table 113862 uploaded
8695 started
table 2930 uploaded
90321 started
table 166946 uploaded
187051 started
table 68653 uploaded
49355 startedtable 1752 uploaded

33261 started
table 102152 uploaded
61100 started
table 37384 uploaded
5116 started
table 56174 uploaded
115414 started
table 109243 uploaded
97779 started
table 3433 uploaded
4471 started
table 84173 uploaded
6198 started
table 2801 uploaded
8168 started
table 162172 uploaded
172807 started
table 159690 uploaded
4077 started
table 187051 uploaded
90428 started
table 8695 uploaded
26237 started
table 61100 uploaded
181 started
table 115414 uploaded
131023 started
table 49355 uploaded
192911 started
table 4471 uploaded
135627 started

/opt/conda/lib/python3.10/site-packages/google/cloud/bigquery/_pandas_helpers.py:603: UserWarning: Pyarrow could not determine the type of columns: tag.
  warnings.warn(

table 8168 uploaded
88991 started
table 90321 uploaded
2959 started
table 97779 uploaded
59315 started
table 6198 uploaded
196341 started
table 33261 uploaded
3015 started
table 5116 uploaded
49007 started
table 4077 uploaded
5693 started
table 172807 uploaded
134833 started

/opt/conda/lib/python3.10/site-packages/google/cloud/bigquery/_pandas_helpers.py:603: UserWarning: Pyarrow could not determine the type of columns: tag.
  warnings.warn(

table 135627 uploaded
97172 started
table 192911 uploaded
141702 started
table 26237 uploaded
4683 started
table 90428 uploaded
31107 started
table 88991 uploaded
8202 started
table 49007 uploaded
90469 started
table 3015 uploaded
5102 started
table 134833 uploaded
47665 started
table 2959 uploaded
7486 started
table 59315 uploaded
124300 started
table 196341 uploaded
67354 started
table 181 uploaded
166526 started
table 141702 uploaded
184015 started
table 97172 uploaded
171011 started
table 31107 uploaded
2510 started
table 5693 uploaded
116161 started
table 131023 uploaded
147607 started

/opt/conda/lib/python3.10/site-packages/google/cloud/bigquery/_pandas_helpers.py:603: UserWarning: Pyarrow could not determine the type of columns: tag.
  warnings.warn(

table 4683 uploaded
197225 started
table 8202 uploaded
32668 started
table 47665 uploaded
165 started
table 124300 uploaded
83219 started
table 90469 uploaded
190741 started
table 5102 uploaded
132888 started
table 7486 uploaded
90376 started
table 184015 uploaded
5731 started
table 166526 uploaded
47670 started
table 2510 uploaded
68263 started
table 116161 uploaded
115309 started
table 171011 uploaded
71211 started
table 67354 uploaded
44856 started
table 147607 uploaded
151309 started
table 197225 uploaded
26139 started
table 165 uploaded
195551 started
table 83219 uploaded
113064 started

/opt/conda/lib/python3.10/site-packages/google/cloud/bigquery/_pandas_helpers.py:603: UserWarning: Pyarrow could not determine the type of columns: tag.
  warnings.warn(

table 115309 uploaded
1460 started
table 47670 uploaded
8931 started
table 68263 uploaded
5002 started
table 132888 uploaded
197771 started
table 32668 uploaded
199910 started

/opt/conda/lib/python3.10/site-packages/google/cloud/bigquery/_pandas_helpers.py:603: UserWarning: Pyarrow could not determine the type of columns: tag.
  warnings.warn(

table 90376 uploaded
6254 started
table 5731 uploaded
175165 started
table 44856 uploaded
83613 started
table 71211 uploaded
3023 started
table 26139 uploaded
69685 started
table 151309 uploaded
6891 started
table 195551 uploaded
3019 started
table 190741 uploaded
99912 started
table 113064 uploaded
6509 started
table 199910 uploaded
3006 started
table 5002 uploaded
79035 started
table 8931 uploaded
165347 started
table 197771 uploaded
table 6254 uploaded136542 started

4327 started
table 83613 uploaded
6749 started
table 3023 uploaded
55553 started
table 175165 uploaded
7375 started
table 1460 uploaded
113073 started
table 69685 uploaded
158270 started
table 99912 uploaded
119629 started
table 6509 uploaded
8999 started
table 3006 uploaded
91535 started
table 6891 uploaded
1580 started
table 4327 uploaded
7943 started
table 3019 uploaded
89102 started
table 6749 uploaded
171179 started
table 165347 uploaded
7092 started
table 113073 uploaded
152976 started
table 79035 uploaded
107412 started
table 7375 uploaded
8400 started
table 55553 uploaded
146670 started
table 119629 uploaded
82749 started
table 8999 uploaded
31702 started
table 158270 uploaded
6315 started
table 91535 uploaded
4666 started
table 171179 uploaded
738 started
table 136542 uploaded
3065 started
table 1580 uploaded
131724 started
table 89102 uploaded
90057 started
table 7092 uploaded
2272 started
table 107412 uploaded
25742 started
table 8400 uploaded
204 started
table 7943 uploaded
3222 started
table 152976 uploaded
66385 started
table 31702 uploaded
45194 started
table 82749 uploaded
165869 started
table 146670 uploaded
197591 started
table 738 uploaded
182445 started
table 6315 uploaded
123 started
table 4666 uploaded
122902 started
table 131724 uploaded
74683 started
table 3065 uploaded
4579 started
table 90057 uploaded
2557 started
table 2272 uploaded
88248 started
table 25742 uploaded
56028 started
table 66385 uploaded
174407 started
table 3222 uploaded
6134 started
table 123 uploaded
1963 started
table 45194 uploaded
3388 started
table 182445 uploaded
1821 started
table 204 uploaded
3959 started
table 74683 uploaded
43022 started
table 122902 uploaded
7349 started
table 165869 uploaded
176887 started
table 4579 uploaded
5183 started
table 197591 uploaded
139120 started
table 88248 uploaded
1440 started
table 174407 uploaded
118302 started
table 2557 uploaded
1546 started
table 1963 uploaded
77206 started
table 3388 uploaded
6919 started
table 56028 uploaded
3819 started
table 43022 uploaded
6063 started
table 7349 uploaded
85414 started
table 5183 uploaded
51857 started
table 3959 uploaded
51357 started
table 139120 uploaded
1895 started
table 1821 uploaded
95670 started
table 6134 uploaded
122886 started
table 176887 uploaded
144378 started
table 118302 uploaded
89745 started
table 1546 uploaded
59256 started
table 77206 uploaded
3683 started
table 1440 uploaded
181235 started
table 85414 uploaded
89924 started
table 6919 uploaded
27768 started
table 51857 uploaded
75990 started
table 6063 uploaded
3674 started
table 1895 uploaded
114847 started
table 3819 uploaded
46976 started
table 51357 uploaded
199073 started
table 122886 uploaded
4353 started
table 144378 uploaded
854 started
table 95670 uploaded
5930 started
table 59256 uploaded
109181 started
table 3683 uploaded
1496 started
table 89745 uploaded
104374 started
table 27768 uploaded
127198 started
table 181235 uploaded
911 started
table 75990 uploaded
49644 started
table 89924 uploaded
140529 started
table 3674 uploaded
130970 started
table 114847 uploaded
121109 started
table 199073 uploaded
136530 started
table 46976 uploaded
8955 started
table 854 uploaded
4979 started
table 5930 uploaded
8370 started
table 4353 uploaded
862 started
table 1496 uploaded
134706 started

/opt/conda/lib/python3.10/site-packages/google/cloud/bigquery/_pandas_helpers.py:603: UserWarning: Pyarrow could not determine the type of columns: tag.
  warnings.warn(

table 130970 uploaded
115263 started
table 104374 uploaded
27306 started
table 140529 uploaded
147124 started
table 109181 uploaded
26827 started
table 127198 uploaded
43415 started
table 8955 uploaded
62383 started
table 49644 uploaded
6935 started
table 911 uploaded
169180 started
table 4979 uploaded
171611 started
table 136530 uploaded
71416 started
table 8370 uploaded
32296 started
table 134706 uploaded
53349 started
table 121109 uploaded
156846 started
table 115263 uploaded
8767 started
table 147124 uploaded
81111 started
table 43415 uploaded
137904 started
table 26827 uploaded
27357 started
table 862 uploaded
5469 started
table 169180 uploaded
170645 started
table 171611 uploaded
4835 started
table 32296 uploaded
51498 started
table 8767 uploaded
59404 started
table 27306 uploaded
50533 started
table 6935 uploaded
94967 started
table 53349 uploaded
2409 started
table 81111 uploaded
1810 started
table 62383 uploaded
7312 started
table 27357 uploaded
142608 started
table 156846 uploaded
27156 started
table 71416 uploaded
103867 started
table 137904 uploaded
783 started
table 170645 uploaded
179297 started
table 5469 uploaded
62010 started
table 2409 uploaded
1690 started
table 51498 uploaded
82380 started
table 50533 uploaded
144512 started
table 7312 uploaded
45664 started
table 4835 uploaded
60046 started
table 27156 uploaded
3736 started
table 1810 uploaded
188751 started
table 94967 uploaded
56286 started
table 62010 uploaded
60803 started
table 142608 uploaded
49772 started
table 1690 uploaded
74532 started
table 783 uploaded
839 started
table 59404 uploaded
165859 started
table 82380 uploaded
157142 started
table 144512 uploaded
113696 started
table 103867 uploaded
156000 started
table 3736 uploaded
31770 started
table 179297 uploaded
7263 started
table 45664 uploaded
36883 started
table 60046 uploaded
580 started
table 56286 uploaded
86833 started
table 188751 uploaded
1641 started
table 74532 uploaded
4805 started
table 165859 uploaded
71978 started
table 60803 uploaded
111924 started
table 49772 uploaded
109687 started
table 157142 uploaded
31647 started
table 156000 uploaded
74851 started
table 113696 uploaded
195001 started
table 580 uploaded
43679 started
table 36883 uploadedtable 7263 uploaded
128538 started

175197 started
table 31770 uploaded
4330 started
table 839 uploaded
42730 started
table 1641 uploaded
106983 started
table 71978 uploaded
2702 started
table 109687 uploaded
2225 started
table 195001 uploaded
806 started
table 4805 uploaded
8997 started
table 43679 uploaded
136642 started
table 111924 uploaded
5218 started
table 4330 uploaded
117308 started
table 74851 uploaded
542 started
table 128538 uploaded
423 started
table 42730 uploaded
115617 started
table 106983 uploaded
40412 started
table 175197 uploaded
3720 started
table 31647 uploaded
1577 started
table 86833 uploaded
109153 started
table 2702 uploaded
110352 started
table 8997 uploaded
78103 started
table 2225 uploaded
204352 started
table 5218 uploaded
105844 started
table 136642 uploaded
51086 started
table 806 uploaded
69072 started
table 117308 uploaded
25831 started
table 115617 uploaded
71936 started
table 1577 uploaded
1619 started
table 109153 uploaded
838 started
table 3720 uploaded
5551 started
table 110352 uploaded
151455 started
table 542 uploaded
2871 started
table 204352 uploaded
3866 started
table 423 uploaded
49435 started
table 25831 uploaded
3046 started
table 40412 uploaded
91386 started
table 78103 uploaded
94126 started
table 105844 uploaded
7481 started
table 51086 uploaded
112804 started
table 838 uploaded
925 started
table 71936 uploaded
2778 started
table 69072 uploaded
129229 started
table 1619 uploaded
78349 started
table 5551 uploaded
165941 started
table 151455 uploaded
151 started
table 2871 uploaded
43919 started
table 49435 uploaded
6128 started
table 91386 uploaded
4930 started
table 7481 uploaded
159004 started
table 112804 uploaded
6345 started
table 3866 uploaded
133699 started
table 3046 uploaded
27246 started
table 94126 uploaded
99434 started

/opt/conda/lib/python3.10/site-packages/google/cloud/bigquery/_pandas_helpers.py:603: UserWarning: Pyarrow could not determine the type of columns: tag.
  warnings.warn(

table 925 uploaded
77820 started
table 165941 uploaded
87181 started
table 78349 uploadedtable 129229 uploaded

7574 started3820 started

table 6128 uploaded
65243 started
table 2778 uploaded
118328 started
table 43919 uploaded
3448 started
table 4930 uploaded
32788 started
table 151 uploaded
2452 started
table 159004 uploaded
79515 started

/opt/conda/lib/python3.10/site-packages/google/cloud/bigquery/_pandas_helpers.py:603: UserWarning: Pyarrow could not determine the type of columns: tag.
  warnings.warn(

table 27246 uploaded
166369 started
table 6345 uploaded
104076 started
table 133699 uploaded
132 started
table 77820 uploaded
161620 started
table 87181 uploaded
61697 started
table 3448 uploaded
86750 started
table 3820 uploaded
134524 started
table 32788 uploaded
195295 started

/opt/conda/lib/python3.10/site-packages/google/cloud/bigquery/_pandas_helpers.py:603: UserWarning: Pyarrow could not determine the type of columns: tag.
  warnings.warn(

table 65243 uploaded
122041 started
table 118328 uploaded
27829 started
table 2452 uploaded
50253 started
table 99434 uploaded
66025 started
table 79515 uploaded
32316 started
table 161620 uploaded
6893 started
table 132 uploaded
72491 started
table 166369 uploaded
5956 started
table 134524 uploaded
103259 started
table 195295 uploaded
58850 started
table 7574 uploaded
156581 started
table 86750 uploaded
26072 started
table 61697 uploaded
31909 started

/opt/conda/lib/python3.10/site-packages/google/cloud/bigquery/_pandas_helpers.py:603: UserWarning: Pyarrow could not determine the type of columns: tag.
  warnings.warn(

table 104076 uploaded
77881 started
table 66025 uploaded
101415 started
table 27829 uploaded
97643 started
table 6893 uploaded
5199 started
table 122041 uploaded
120799 started
table 32316 uploaded
179953 started
table 50253 uploaded
3865 started
table 5956 uploaded
189329 started
table 103259 uploaded
147434 started

/opt/conda/lib/python3.10/site-packages/google/cloud/bigquery/_pandas_helpers.py:603: UserWarning: Pyarrow could not determine the type of columns: tag.
  warnings.warn(

table 58850 uploaded
197419 started
table 72491 uploaded
4964 started
table 77881 uploaded
156609 started
table 31909 uploaded
172799 started
table 156581 uploaded
508 started
table 101415 uploadedtable 97643 uploaded

4074 started3187 started

/opt/conda/lib/python3.10/site-packages/google/cloud/bigquery/_pandas_helpers.py:603: UserWarning: Pyarrow could not determine the type of columns: tag.
  warnings.warn(

table 3865 uploaded
7178 started
table 26072 uploaded
99695 started
table 147434 uploaded
200110 started
table 189329 uploaded
51528 started
table 4964 uploaded
4663 started
table 120799 uploaded
6531 started
table 156609 uploaded
71180 started
table 5199 uploaded
5633 started
table 197419 uploaded
80463 started
table 179953 uploaded
702 started
table 172799 uploaded
183529 started
table 508 uploaded
6925 started
table 4074 uploaded
6240 started
table 200110 uploaded
97059 started

/opt/conda/lib/python3.10/site-packages/google/cloud/bigquery/_pandas_helpers.py:603: UserWarning: Pyarrow could not determine the type of columns: tag.
  warnings.warn(

table 7178 uploaded
7205 started
table 99695 uploaded
4605 started
table 6531 uploaded
59795 started
table 51528 uploaded
85438 started
table 3187 uploaded
136654 started
table 4663 uploaded
128099 started
table 80463 uploaded
61236 started
table 5633 uploaded
125966 started
table 183529 uploaded
53887 started
table 6240 uploaded
172825 started
table 702 uploaded
91014 started
table 7205 uploaded
163496 started
table 71180 uploaded
2414 started
table 85438 uploaded
25840 started
table 136654 uploaded
70661 started
table 6925 uploaded
79203 started
table 97059 uploaded
4025 started
table 61236 uploaded
144574 started
table 59795 uploaded
134519 started
table 53887 uploaded
130580 started
table 125966 uploaded
131848 started

/opt/conda/lib/python3.10/site-packages/google/cloud/bigquery/_pandas_helpers.py:603: UserWarning: Pyarrow could not determine the type of columns: tag.
  warnings.warn(

table 4605 uploaded
127216 started
table 128099 uploaded
135240 started
table 172825 uploaded
97785 started
table 91014 uploaded
67706 started

/opt/conda/lib/python3.10/site-packages/google/cloud/bigquery/_pandas_helpers.py:603: UserWarning: Pyarrow could not determine the type of columns: tag.
  warnings.warn(

table 2414 uploaded
72018 started
table 163496 uploaded
166741 started

/opt/conda/lib/python3.10/site-packages/google/cloud/bigquery/_pandas_helpers.py:603: UserWarning: Pyarrow could not determine the type of columns: tag.
  warnings.warn(

table 131848 uploaded
32263 started
table 130580 uploaded
4228 started
table 79203 uploaded
49793 started
table 25840 uploaded
5750 started
table 134519 uploaded
45720 started
table 70661 uploaded
5705 started
table 135240 uploaded
2931 started
table 67706 uploaded
44397 started
table 127216 uploaded
2968 started
table 144574 uploaded
92938 started
table 4025 uploaded
599 started
table 166741 uploaded
145857 started
table 97785 uploaded
71448 started
table 72018 uploaded
90382 started
table 5750 uploaded
3256 started
table 32263 uploaded
8647 started
table 49793 uploaded
418 started
table 5705 uploaded
205054 started
table 4228 uploaded
3804 started
table 45720 uploaded
143239 started
table 92938 uploaded
72552 started
table 599 uploaded
32483 started
table 2968 uploaded
149606 started
table 44397 uploaded
6155 started
table 71448 uploaded
52448 started
table 2931 uploaded
2094 started
table 145857 uploaded
74512 started
table 3256 uploaded
42632 started
table 205054 uploaded
1504 started

/opt/conda/lib/python3.10/site-packages/google/cloud/bigquery/_pandas_helpers.py:603: UserWarning: Pyarrow could not determine the type of columns: tag.
  warnings.warn(

table 8647 uploaded
128441 started

/opt/conda/lib/python3.10/site-packages/google/cloud/bigquery/_pandas_helpers.py:603: UserWarning: Pyarrow could not determine the type of columns: tag.
  warnings.warn(

table 418 uploaded
103208 started
table 143239 uploaded
111387 started
table 32483 uploaded
144430 started

/opt/conda/lib/python3.10/site-packages/google/cloud/bigquery/_pandas_helpers.py:603: UserWarning: Pyarrow could not determine the type of columns: tag.
  warnings.warn(

table 90382 uploaded
69381 started
table 72552 uploaded
2245 started
table 149606 uploaded
4761 started
table 3804 uploaded
2760 started
table 6155 uploaded
7059 started
table 42632 uploaded
170957 started
table 52448 uploaded
26546 started
table 74512 uploaded
143209 started
table 128441 uploaded
25995 started
table 111387 uploaded
115943 started
table 2094 uploaded
1882 started
table 144430 uploaded
714 started
table 103208 uploaded
167744 started
table 1504 uploaded
170809 started
table 4761 uploaded
184023 started
table 2760 uploaded
72844 started
table 69381 uploaded
33251 started
table 7059 uploaded
5364 started
table 26546 uploaded
114436 started
table 2245 uploaded
1038 started
table 25995 uploaded
155715 started
table 115943 uploaded
2131 started
table 167744 uploaded
102521 started
table 1882 uploaded
4222 started
table 143209 uploaded
141866 started
table 170957 uploaded
171741 started
table 72844 uploaded
115678 started
table 714 uploaded
100322 started
table 170809 uploaded
98994 started
table 114436 uploaded
111915 started
table 1038 uploaded
1219 started
table 155715 uploaded
165123 started
table 5364 uploaded
31255 started
table 2131 uploaded
89703 started
table 184023 uploaded
76747 started
table 33251 uploaded
75803 started

/opt/conda/lib/python3.10/site-packages/google/cloud/bigquery/_pandas_helpers.py:603: UserWarning: Pyarrow could not determine the type of columns: tag.
  warnings.warn(

table 102521 uploaded
5380 started
table 141866 uploaded
1940 started
table 4222 uploaded
160656 started
table 171741 uploaded
59014 started
table 115678 uploaded
3644 started
table 1219 uploaded
77326 started
table 31255 uploaded
648 started
table 111915 uploaded
127096 started
table 100322 uploaded
8487 started
table 165123 uploaded
1408 started
table 1940 uploaded
2459 started
table 98994 uploaded
3715 started
table 59014 uploaded
5416 started
table 5380 uploaded
1999 started
table 89703 uploaded
87314 started

/opt/conda/lib/python3.10/site-packages/google/cloud/bigquery/_pandas_helpers.py:603: UserWarning: Pyarrow could not determine the type of columns: tag.
  warnings.warn(

table 76747 uploaded
140247 started
table 75803 uploaded
131013 started
table 8487 uploaded
89164 started
table 648 uploaded
7022 started
table 2459 uploaded
6173 started
table 3644 uploaded
3695 started
table 1408 uploaded
86168 started
table 127096 uploaded
4660 started
table 77326 uploaded
114246 started

/opt/conda/lib/python3.10/site-packages/google/cloud/bigquery/_pandas_helpers.py:603: UserWarning: Pyarrow could not determine the type of columns: tag.
  warnings.warn(

table 160656 uploaded
4888 started
table 3715 uploaded
4690 started
table 5416 uploaded
147188 started
table 140247 uploaded
84047 started
table 1999 uploaded
163663 started
table 86168 uploaded
5779 started
table 6173 uploaded
53282 started
table 131013 uploaded
7165 started
table 87314 uploaded
2759 started
table 4888 uploaded
160084 started
table 7022 uploaded
32419 started
table 4660 uploaded
84096 started
table 114246 uploaded
79972 started
table 89164 uploaded
161634 started
table 147188 uploaded
116217 started
table 3695 uploaded
135534 started
table 7165 uploaded
136347 started
table 84047 uploaded
167248 started
table 163663 uploaded
80350 started
table 53282 uploaded
47723 started
table 2759 uploaded
1421 started
table 4690 uploaded
47200 started
table 32419 uploaded
2664 started
table 5779 uploaded
136373 started
table 160084 uploaded
191441 started
table 161634 uploaded
2458 started
table 84096 uploaded
33072 started
table 79972 uploaded
6826 started
table 135534 uploaded
3498 started
table 136347 uploaded
5504 started
table 167248 uploaded
178933 started
table 1421 uploaded
101850 started
table 47723 uploaded
1510 started

/opt/conda/lib/python3.10/site-packages/google/cloud/bigquery/_pandas_helpers.py:603: UserWarning: Pyarrow could not determine the type of columns: tag.
  warnings.warn(

table 47200 uploaded
144276 started
table 191441 uploaded
7005 started
table 2664 uploaded
112290 started
table 116217 uploaded
175661 started
table 80350 uploaded
358 started
table 136373 uploaded
48879 started
table 2458 uploaded
8614 started
table 6826 uploaded
200324 started
table 5504 uploaded
4743 started
table 178933 uploaded
405 started
table 3498 uploaded
37744 started
table 33072 uploaded
176521 started
table 101850 uploaded
4491 started
table 144276 uploaded
8884 started
table 1510 uploaded
5881 started
table 48879 uploaded
163474 started
table 175661 uploaded
165853 started
table 8614 uploaded
6717 started
table 200324 uploaded
175431 started
table 112290 uploaded
55282 started
table 405 uploaded
79720 started
table 7005 uploaded
66234 started
table 4743 uploaded
1678 started
table 358 uploaded
7201 started
table 4491 uploaded
175397 started
table 37744 uploaded
87415 started
table 8884 uploaded
5590 started
table 176521 uploaded
195847 started
table 5881 uploaded
45192 started
table 175431 uploaded
7288 started
table 165853 uploaded
73462 started
table 6717 uploaded
73718 started
table 66234 uploaded
96181 started
table 163474 uploaded
4090 started
table 79720 uploaded
168408 started
table 55282 uploaded
750 started
table 7201 uploaded
108760 started
table 87415 uploaded
685 started
table 5590 uploadedtable 175397 uploaded

31000 started97986 started

table 195847 uploaded
141890 started
table 1678 uploaded
4549 started

/opt/conda/lib/python3.10/site-packages/google/cloud/bigquery/_pandas_helpers.py:603: UserWarning: Pyarrow could not determine the type of columns: tag.
  warnings.warn(

table 73462 uploaded
49530 started
table 7288 uploaded
5036 started
table 73718 uploaded
71650 started
table 96181 uploaded
97860 started
table 4090 uploaded
6297 started
table 168408 uploaded
99351 started
table 750 uploaded
1349 started
table 31000 uploaded
40278 started
table 685 uploaded
122466 started
table 45192 uploaded
172935 started
table 108760 uploaded
5447 started
table 141890 uploaded
114396 started
table 4549 uploaded
84972 started
table 49530 uploaded
7836 started
table 5036 uploaded
190553 started
table 97860 uploaded
179099 started
table 97986 uploaded
1871 started
table 1349 uploaded
109895 started
table 99351 uploaded
2749 started
table 71650 uploaded
1040 started
table 6297 uploaded
86142 started
table 114396 uploaded
150776 started
table 5447 uploaded
136857 started
table 172935 uploaded
6488 started
table 7836 uploaded
31900 started
table 179099 uploaded
165119 started
table 122466 uploaded
103980 started
table 190553 uploaded
203393 started

/opt/conda/lib/python3.10/site-packages/google/cloud/bigquery/_pandas_helpers.py:603: UserWarning: Pyarrow could not determine the type of columns: tag.
  warnings.warn(

table 40278 uploaded
176751 started
table 109895 uploaded
78019 started
table 84972 uploaded
54001 started
table 2749 uploaded
78469 started
table 1871 uploaded
87383 started
table 86142 uploaded
59738 started
table 1040 uploaded
71522 started
table 150776 uploaded
1265 started
table 6488 uploaded
table 103980 uploaded77455 started

79222 started
table 31900 uploaded
166934 started

/opt/conda/lib/python3.10/site-packages/google/cloud/bigquery/_pandas_helpers.py:603: UserWarning: Pyarrow could not determine the type of columns: tag.
  warnings.warn(

table 136857 uploaded
155625 started
table 176751 uploaded
63391 started
table 54001 uploaded
264 started
table 59738 uploaded
150324 started
table 78469 uploaded
49200 started
table 87383 uploaded
76763 started
table 78019 uploaded
129845 started
table 203393 uploaded
94799 started
table 165119 uploaded
174727 started
table 71522 uploaded
6077 started
table 63391 uploaded
114013 started
table 1265 uploaded
2758 started
table 77455 uploaded
31362 started
table 264 uploaded
175191 started
table 166934 uploaded
86295 started
table 76763 uploaded
2378 started
table 49200 uploaded
27373 started
table 150324 uploaded
4095 started
table 79222 uploaded
80 started
table 129845 uploaded
8465 started
table 155625 uploaded
26472 started
table 94799 uploaded
190739 started
table 2758 uploaded
89720 started
table 6077 uploaded
111921 started
table 174727 uploaded
78313 started
table 175191 uploaded
89837 started
table 114013 uploaded
127319 started
table 80 uploaded
2562 started
table 31362 uploaded
8702 started
table 86295 uploaded
183397 started
table 4095 uploaded
70015 started
table 2378 uploaded
41025 started
table 8465 uploaded
185427 started
table 26472 uploaded
3528 started
table 27373 uploaded
88566 started
table 78313 uploaded
81396 started
table 111921 uploaded
60291 started
table 89720 uploaded
1639 started
table 8702 uploaded
27636 started
table 2562 uploaded
129836 started
table 89837 uploaded
81641 started
table 183397 uploaded
62344 started
table 41025 uploaded
7336 started
table 190739 uploaded
48501 started
table 3528 uploaded
42518 started
table 88566 uploaded
7847 started
table 60291 uploaded
107130 started
table 127319 uploaded
2829 started
table 185427 uploaded
8222 started
table 70015 uploaded
2404 started
table 81641 uploaded
135270 started
table 27636 uploaded
70133 started
table 81396 uploaded
89074 started
table 62344 uploaded
794 started

/opt/conda/lib/python3.10/site-packages/google/cloud/bigquery/_pandas_helpers.py:603: UserWarning: Pyarrow could not determine the type of columns: tag.
  warnings.warn(

table 42518 uploaded
166235 started
table 7336 uploaded
47124 started
table 1639 uploaded
66279 started
table 129836 uploaded
5625 started
table 48501 uploaded
1228 started
table 7847 uploaded
25793 started
table 2829 uploaded
2258 started
table 2404 uploaded
92829 started
table 107130 uploaded
150342 started
table 794 uploaded
31930 started
table 135270 uploaded
126066 started
table 8222 uploaded
6910 started
table 89074 uploaded
3679 started
table 66279 uploaded
2376 started
table 47124 uploaded
79684 started
table 70133 uploaded
69714 started
table 1228 uploaded
4873 started
table 25793 uploaded
419 started
table 2258 uploaded
3680 started
table 166235 uploaded
7187 started
table 5625 uploaded
47918 started
table 92829 uploaded
2754 started
table 31930 uploaded
2062 started
table 3679 uploaded
139419 started
table 69714 uploaded
8068 started
table 150342 uploaded
192381 started
table 126066 uploaded
27826 started
table 4873 uploaded
4670 started
table 2754 uploaded
6692 started
table 419 uploaded
2540 started
table 79684 uploaded
132579 started
table 47918 uploaded
5220 started
table 2062 uploaded
3547 started
table 7187 uploaded
115207 started
table 6910 uploaded
5202 started
table 2376 uploaded
4944 started
table 139419 uploaded
174831 started
table 3680 uploaded
39419 started
table 8068 uploaded
75423 started
table 132579 uploaded
48035 started
table 5220 uploaded
2112 started
table 192381 uploaded
53189 started
table 6692 uploaded
89985 started
table 115207 uploaded
8338 started
table 4670 uploaded
137062 started
table 27826 uploaded
110130 started
table 2540 uploaded
167698 started

/opt/conda/lib/python3.10/site-packages/google/cloud/bigquery/_pandas_helpers.py:603: UserWarning: Pyarrow could not determine the type of columns: tag.
  warnings.warn(

table 4944 uploaded
27434 started
table 5202 uploaded
108899 started
table 174831 uploaded
117430 started
table 3547 uploaded
79695 started
table 2112 uploaded
151769 started
table 89985 uploaded

/opt/conda/lib/python3.10/site-packages/google/cloud/bigquery/_pandas_helpers.py:603: UserWarning: Pyarrow could not determine the type of columns: tag.
  warnings.warn(

33150 started
table 75423 uploaded
116034 started
table 137062 uploaded
61406 started
table 110130 uploaded
8410 started
table 53189 uploaded
1642 started
table 8338 uploaded
189885 started
table 48035 uploaded
6036 started
table 27434 uploaded
45666 started
table 167698 uploaded
5822 started
table 108899 uploaded
1065 started
table 39419 uploaded
188301 started
table 79695 uploaded
2826 started
table 61406 uploaded
4243 started
table 117430 uploaded
3141 started
table 151769 uploaded
52356 started
table 8410 uploaded
46574 started
table 1642 uploaded
71379 started
table 33150 uploaded
7772 started
table 189885 uploaded
6154 started
table 6036 uploaded
80560 started
table 5822 uploaded
87790 started
table 45666 uploaded
72726 started
table 116034 uploaded
26195 started
table 1065 uploaded
161336 started
table 188301 uploaded
142158 started
table 52356 uploaded
2084 started
table 2826 uploaded
25961 started
table 3141 uploaded
7211 started
table 6154 uploaded
6052 started
table 80560 uploaded
41824 started
table 87790 uploaded
31251 started
table 7772 uploaded
5527 started
table 4243 uploaded
168738 started
table 71379 uploaded
129397 started
table 26195 uploaded
6356 started
table 72726 uploaded
7219 started
table 142158 uploaded
3207 started
table 161336 uploaded
3556 started
table 2084 uploaded
72380 started
table 7211 uploaded
2695 started
table 25961 uploaded
97697 started
table 46574 uploaded
886 started
table 6052 uploaded
6366 started
table 31251 uploaded
179823 started

/opt/conda/lib/python3.10/site-packages/google/cloud/bigquery/_pandas_helpers.py:603: UserWarning: Pyarrow could not determine the type of columns: tag.
  warnings.warn(

table 168738 uploaded
3557 started
table 5527 uploaded
26875 started
table 6356 uploaded
4490 started
table 3556 uploaded
144632 started
table 41824 uploaded
6270 started
table 129397 uploaded
104177 started
table 72380 uploaded
121190 started
table 2695 uploaded
4831 started
table 886 uploaded
128912 started
table 7219 uploaded
115145 started
table 3207 uploaded
55451 started
table 26875 uploaded
166140 started
table 97697 uploaded
50 started
table 6366 uploaded
3883 started
table 3557 uploaded
6597 started
table 4490 uploaded
170601 started

/opt/conda/lib/python3.10/site-packages/google/cloud/bigquery/_pandas_helpers.py:603: UserWarning: Pyarrow could not determine the type of columns: tag.
  warnings.warn(

table 144632 uploaded
110461 started
table 104177 uploaded
163 started
table 179823 uploaded
129013 started
table 121190 uploaded
142574 started
table 4831 uploaded
86206 started
table 6270 uploaded
7761 started
table 3883 uploaded
82167 started
table 128912 uploaded
2411 started
table 50 uploaded
6877 started
table 170601 uploaded
32025 started
table 166140 uploaded
49649 started
table 86206 uploaded
112334 started
table 129013 uploaded
160608 started
table 6597 uploaded
177233 started
table 115145 uploaded
139861 started
table 110461 uploaded
72030 started

/opt/conda/lib/python3.10/site-packages/google/cloud/bigquery/_pandas_helpers.py:603: UserWarning: Pyarrow could not determine the type of columns: tag.
  warnings.warn(

table 163 uploaded
5755 started
table 6877 uploaded
1856 started
table 142574 uploaded
62799 started
table 2411 uploaded
134182 started
table 7761 uploaded
170357 started
table 49649 uploaded
3182 started
table 112334 uploaded
619 started
table 32025 uploaded
3565 started
table 55451 uploaded
151459 started
table 160608 uploaded
164917 started
table 82167 uploaded
1748 started
table 177233 uploaded
94011 started
table 1856 uploaded
177771 started
table 62799 uploaded
108188 started
table 72030 uploaded
62437 started
table 139861 uploaded
48262 started
table 3182 uploaded
135875 started
table 5755 uploaded
76127 started
table 151459 uploaded
7052 started
table 3565 uploaded
2585 started
table 134182 uploaded
102396 started
table 619 uploaded
8206 started
table 170357 uploaded
179401 started
table 108188 uploaded
6498 started
table 1748 uploaded
4665 started
table 177771 uploaded
3120 started
table 62437 uploaded
88237 started
table 94011 uploaded
59178 started
table 164917 uploaded
354 started
table 7052 uploaded
2263 started
table 2585 uploaded
141942 started
table 76127 uploaded
67999 started
table 135875 uploaded
3235 started
table 102396 uploaded
2732 started
table 48262 uploaded
114838 started
table 8206 uploaded
81665 started
table 354 uploaded
111130 started
table 59178 uploaded
181231 started
table 88237 uploaded
110297 started
table 2263 uploaded
96966 started
table 4665 uploaded
43560 started
table 141942 uploaded
100060 started
table 6498 uploaded
3968 started
table 2732 uploaded
112623 started
table 67999 uploaded
148286 started
table 3120 uploaded
5873 started
table 179401 uploaded
4387 started
table 114838 uploaded
5696 started
table 81665 uploaded
4795 started
table 3235 uploaded
115135 started
table 111130 uploaded
2853 started
table 110297 uploaded
257 started
table 96966 uploaded
84111 started
table 100060 uploaded
86380 started
table 5873 uploaded
509 started
table 43560 uploaded
8335 started
table 181231 uploaded
6725 started
table 4387 uploaded
3475 started
table 3968 uploaded
178477 started

/opt/conda/lib/python3.10/site-packages/google/cloud/bigquery/_pandas_helpers.py:603: UserWarning: Pyarrow could not determine the type of columns: tag.
  warnings.warn(

table 112623 uploaded
8363 started
table 148286 uploaded
100507 started
table 4795 uploaded
2678 started
table 84111 uploaded
4829 started
table 5696 uploaded
2741 started
table 2853 uploaded
4659 started
table 86380 uploaded
107563 started
table 509 uploaded
5010 started
table 8335 uploaded
61264 started
table 257 uploaded
157851 started

/opt/conda/lib/python3.10/site-packages/google/cloud/bigquery/_pandas_helpers.py:603: UserWarning: Pyarrow could not determine the type of columns: tag.
  warnings.warn(

table 6725 uploaded
93376 started
table 115135 uploaded
112850 started
table 3475 uploaded
8886 started
table 8363 uploaded
192109 started
table 2678 uploaded
135569 started
table 2741 uploaded
5815 started
table 107563 uploaded
72294 started
table 61264 uploaded
6566 started
table 4829 uploaded
69666 started
table 178477 uploaded
5691 started
table 5010 uploaded
3151 started
table 4659 uploaded
26463 started
table 93376 uploaded
103120 started
table 100507 uploaded
193950 started
table 157851 uploaded
113350 started
table 112850 uploaded
101322 started

/opt/conda/lib/python3.10/site-packages/google/cloud/bigquery/_pandas_helpers.py:603: UserWarning: Pyarrow could not determine the type of columns: tag.
  warnings.warn(

table 8886 uploaded
152079 started
table 192109 uploaded
27537 started
table 135569 uploaded
169188 started
table 72294 uploaded
182723 started
table 193950 uploaded
5582 started
table 5815 uploaded
7384 started
table 69666 uploaded
30898 started
table 6566 uploaded
4066 started
table 101322 uploaded
8972 started
table 26463 uploaded
65188 started
table 113350 uploaded
161580 started
table 103120 uploaded
26369 started
table 3151 uploaded
144420 started
table 5691 uploaded
48584 started
table 27537 uploaded
3652 started

/opt/conda/lib/python3.10/site-packages/google/cloud/bigquery/_pandas_helpers.py:603: UserWarning: Pyarrow could not determine the type of columns: tag.
  warnings.warn(

table 152079 uploaded
25755 started
table 169188 uploaded
136800 started
table 30898 uploaded
39402 started
table 5582 uploaded
73268 started
table 182723 uploaded
6795 started
table 4066 uploaded
284 started
table 7384 uploaded
4595 started

/opt/conda/lib/python3.10/site-packages/google/cloud/bigquery/_pandas_helpers.py:603: UserWarning: Pyarrow could not determine the type of columns: tag.
  warnings.warn(

table 65188 uploaded
26698 started
table 8972 uploaded
7309 started
table 144420 uploaded
111245 started
table 161580 uploaded
51545 started
table 136800 uploaded
6578 started
table 3652 uploaded
163971 started
table 6795 uploaded
41753 started
table 26369 uploaded
64519 started
table 284 uploaded
4710 started
table 4595 uploaded
127044 started
table 73268 uploaded
7944 started
table 25755 uploaded
112245 started
table 48584 uploaded
3789 started
table 7309 uploaded
93 started
table 111245 uploaded
99143 started
table 26698 uploaded
37729 started
table 39402 uploaded
92096 started
table 41753 uploaded
168090 started
table 6578 uploaded
170151 started
table 64519 uploaded
168130 started
table 4710 uploaded
4369 started
table 51545 uploaded
185989 started
table 163971 uploaded
5088 started
table 99143 uploaded
2028 started
table 3789 uploaded
8062 started
table 93 uploaded
602 started
table 7944 uploaded
116905 started
table 92096 uploaded
8879 started
table 112245 uploaded
2768 started
table 168090 uploaded
170489 started
table 127044 uploaded
79914 started

/opt/conda/lib/python3.10/site-packages/google/cloud/bigquery/_pandas_helpers.py:603: UserWarning: Pyarrow could not determine the type of columns: tag.
  warnings.warn(

table 170151 uploaded
1029 started
table 168130 uploaded
74698 started
table 4369 uploaded
4483 started
table 8879 uploaded
167018 started
table 185989 uploaded
7396 started
table 8062 uploaded
6938 started
table 2028 uploaded
49263 started
table 170489 uploaded
103253 started
table 5088 uploaded
86345 started
table 37729 uploaded
94841 started
table 602 uploaded
7455 started
table 2768 uploaded
175435 started
table 4483 uploaded
7901 started
table 79914 uploaded
130784 started
table 116905 uploaded
26249 started
table 1029 uploaded
8371 started
table 167018 uploaded
132106 started
table 103253 uploaded
2563 started
table 49263 uploaded
114873 started
table 74698 uploaded
156783 started
table 175435 uploaded
116578 started
table 7455 uploaded
72360 started
table 7396 uploaded
94266 started
table 86345 uploaded
45679 started
table 94841 uploaded
70708 started
table 7901 uploaded
70093 started
table 8371 uploaded
4100 started
table 6938 uploaded
98239 started
table 130784 uploaded
86604 started
table 26249 uploaded
119964 started
table 2563 uploaded
59995 started
table 116578 uploaded
106330 started
table 156783 uploaded
27604 started
table 72360 uploaded
116660 started
table 132106 uploaded
5322 started
table 114873 uploaded
7096 started
table 45679 uploaded
25792 started
table 4100 uploaded
178061 started
table 94266 uploaded
105343 started
table 119964 uploaded
1016 started
table 70708 uploaded
4179 started
table 59995 uploaded
132173 started
table 27604 uploaded
111449 started
table 98239 uploaded
4551 started

/opt/conda/lib/python3.10/site-packages/google/cloud/bigquery/_pandas_helpers.py:603: UserWarning: Pyarrow could not determine the type of columns: tag.
  warnings.warn(

table 86604 uploaded
812 started
table 106330 uploaded
4489 started
table 70093 uploaded
2641 started
table 116660 uploaded
26559 started
table 7096 uploaded
196889 started
table 5322 uploaded
77146 started
table 25792 uploaded
132360 started
table 1016 uploaded
25778 started
table 132173 uploaded
753 started
table 812 uploaded
50886 started
table 111449 uploaded
26076 started
table 178061 uploaded
108342 started
table 4179 uploaded
55178 started
table 105343 uploaded
183421 started
table 4489 uploaded
5307 started
table 4551 uploaded
1210 started
table 77146 uploaded
175485 started
table 196889 uploaded
144442 started
table 753 uploaded
132130 started
table 26559 uploaded
27455 started
table 2641 uploaded
59037 started
table 132360 uploaded
109376 started
table 26076 uploaded
183197 started
table 50886 uploaded
112582 started
table 108342 uploaded
84957 started
table 183421 uploaded
850 started
table 25778 uploaded
8645 started
table 175485 uploaded
104913 started
table 1210 uploaded
4434 started
table 55178 uploaded
74226 started
table 27455 uploaded
63131 started
table 5307 uploaded
181155 started
table 144442 uploaded
41714 started
table 132130 uploaded
2675 started
table 183197 uploaded
569 started
table 109376 uploadedtable 112582 uploaded

204294 started194 started

table 59037 uploaded
4023 started
table 74226 uploaded
106234 started
table 63131 uploaded
196893 started
table 104913 uploaded
128830 started
table 84957 uploaded
184797 started
table 181155 uploaded
734 started
table 41714 uploaded
27180 started
table 850 uploaded
117344 started
table 2675 uploaded
36 started
table 4434 uploadedtable 8645 uploaded

6218 started
151933 started
table 569 uploaded
4001 started
table 194 uploaded
173 started
table 4023 uploaded
8117 started
table 128830 uploaded
99741 started
table 184797 uploaded
60482 started
table 196893 uploaded
1046 started
table 734 uploaded
31431 started
table 117344 uploaded
112421 started
table 204294 uploaded
43912 started
table 36 uploaded
45074 started
table 27180 uploaded
6354 started
table 6218 uploaded
72904 started
table 173 uploaded
3284 started
table 8117 uploaded
1193 started
table 4001 uploaded
167858 started
table 99741 uploaded
32844 started
table 151933 uploaded
99294 started
table 106234 uploaded
183151 started
table 60482 uploaded
120 started
table 1046 uploaded
155074 started
table 43912 uploaded
34359 started
table 112421 uploaded
6644 started
table 31431 uploaded
119155 started
table 45074 uploaded
84884 started
table 167858 uploaded
130628 started
table 6354 uploaded
67607 started
table 99294 uploaded
114329 started
table 120 uploaded
170253 started
table 32844 uploaded
168772 started
table 72904 uploaded
135877 started
table 1193 uploaded
142072 started
table 3284 uploaded
142628 started

/opt/conda/lib/python3.10/site-packages/google/cloud/bigquery/_pandas_helpers.py:603: UserWarning: Pyarrow could not determine the type of columns: tag.
  warnings.warn(

table 155074 uploaded
51575 started
table 119155 uploaded
2839 started
table 6644 uploaded
158 started
table 183151 uploaded
5913 started
table 84884 uploaded
25921 started
table 34359 uploaded
73494 started
table 114329 uploaded
381 started
table 170253 uploaded
129773 started

/opt/conda/lib/python3.10/site-packages/google/cloud/bigquery/_pandas_helpers.py:603: UserWarning: Pyarrow could not determine the type of columns: tag.
  warnings.warn(

table 168772 uploaded
170615 started
table 130628 uploaded
133867 started
table 135877 uploaded
8425 started
table 142072 uploaded
166958 started
table 51575 uploaded
80870 started
table 25921 uploaded
58722 started
table 158 uploaded
172887 started
table 67607 uploaded
2992 started
table 142628 uploaded
54426 started
table 381 uploaded
74152 started
table 2839 uploaded
200678 started
table 133867 uploaded
42197 started
table 170615 uploaded
46965 started
table 8425 uploaded
32213 started
table 166958 uploaded
133741 started
table 5913 uploaded
115819 started
table 129773 uploaded
100205 started
table 73494 uploaded
81371 started
table 80870 uploaded
8928 started
table 58722 uploaded
93208 started
table 200678 uploaded
88 started
table 172887 uploaded
31963 started
table 54426 uploaded
62801 started
table 42197 uploaded
6028 started
table 74152 uploaded
7323 started
table 133741 uploaded
55098 started
table 32213 uploaded
1011 started
table 2992 uploaded
102826 started
table 81371 uploaded
32017 started
table 46965 uploaded
26493 started
table 100205 uploaded
5084 started
table 93208 uploaded
8905 started
table 115819 uploaded
61373 started
table 31963 uploaded
4126 started
table 8928 uploaded
8270 started
table 6028 uploaded
5360 started
table 62801 uploaded
52579 started
table 88 uploaded
30659 started
table 7323 uploaded
7926 started
table 55098 uploaded
96 started
table 1011 uploaded
70223 started
table 5084 uploaded
3827 started
table 32017 uploaded
82534 started
table 26493 uploaded
100438 started
table 102826 uploaded
96612 started
table 8270 uploaded
3771 started
table 61373 uploaded
190507 started
table 4126 uploaded
96520 started
table 52579 uploaded
72310 started
table 30659 uploaded
5001 started
table 5360 uploaded
185537 started
table 7926 uploaded
117129 started
table 8905 uploaded
5678 started
table 96 uploaded
32049 started
table 3827 uploaded
4601 started
table 100438 uploaded
190949 started
table 190507 uploaded
3840 started
table 185537 uploaded
103483 started
table 96612 uploaded
8158 started
table 70223 uploaded
116317 started

/opt/conda/lib/python3.10/site-packages/google/cloud/bigquery/_pandas_helpers.py:603: UserWarning: Pyarrow could not determine the type of columns: tag.
  warnings.warn(

table 82534 uploaded
63181 started
table 3771 uploaded
89896 started
table 32049 uploaded
31162 started
table 5678 uploaded
1596 started
table 72310 uploaded
7020 started
table 5001 uploaded
101088 started
table 117129 uploaded
58367 started
table 190949 uploaded
72737 started
table 4601 uploaded
128695 started
table 8158 uploaded
72741 started
table 96520 uploaded
3617 started
table 1596 uploaded
68956 started
table 103483 uploaded
102903 started
table 101088 uploaded
9003 started
table 31162 uploaded
6264 started
table 116317 uploaded
72605 started
table 128695 uploaded
2235 started
table 89896 uploaded
3694 started
table 63181 uploaded
8268 started
table 58367 uploaded
6572 started
table 72741 uploaded
1584 started
table 7020 uploaded
55419 started
table 102903 uploaded
85072 started
table 68956 uploaded
176601 started
table 3617 uploaded
63072 started
table 72605 uploaded
162576 started
table 9003 uploaded
1922 started
table 6264 uploaded
172589 started
table 72737 uploaded
86096 started
table 3840 uploaded
175643 started
table 2235 uploaded
161328 started
table 8268 uploaded
8805 started
table 1584 uploaded
8522 started
table 3694 uploaded
3745 started

/opt/conda/lib/python3.10/site-packages/google/cloud/bigquery/_pandas_helpers.py:603: UserWarning: Pyarrow could not determine the type of columns: tag.
  warnings.warn(

table 176601 uploaded
146684 started
table 6572 uploaded
113345 started
table 55419 uploaded
129490 started
table 1922 uploaded
133583 started
table 85072 uploaded
8033 started
table 162576 uploaded
116722 started
table 172589 uploaded
64229 started
table 8522 uploaded
99642 started
table 63072 uploaded
5634 started
table 86096 uploaded
7457 started
table 3745 uploaded
6733 started
table 8805 uploaded
44597 started
table 175643 uploaded
3543 started
table 129490 uploaded
6276 started
table 8033 uploaded
375 started
table 161328 uploaded
132136 started
table 146684 uploaded
371 started
table 116722 uploaded
50949 started
table 113345 uploaded
91505 started
table 99642 uploaded
4813 started
table 5634 uploaded
53447 started
table 44597 uploaded
4909 started
table 133583 uploaded
32196 started
table 6733 uploaded
128620 started
table 64229 uploaded
684 started
table 375 uploaded
932 started
table 3543 uploadedtable 6276 uploaded

66789 started111290 started

table 50949 uploaded
4513 started
table 7457 uploaded
5667 started
table 132136 uploaded
80166 started
table 91505 uploaded
2106 started
table 32196 uploaded
112988 started

/opt/conda/lib/python3.10/site-packages/google/cloud/bigquery/_pandas_helpers.py:603: UserWarning: Pyarrow could not determine the type of columns: tag.
  warnings.warn(

table 4909 uploaded
130478 started
table 932 uploaded
133195 started
table 66789 uploaded
181453 started
table 80166 uploaded
52938 started
table 128620 uploaded
96567 started
table 684 uploaded
3665 started
table 371 uploaded
5245 started
table 53447 uploaded
81229 started
table 4813 uploaded
1351 started
table 4513 uploaded
165551 started
table 111290 uploaded
6087 started
table 2106 uploaded
7040 started
table 5667 uploaded
117922 started
table 112988 uploaded
71792 started
table 81229 uploaded
134851 started
table 181453 uploaded
130233 started
table 130478 uploaded
90066 started
table 52938 uploaded
8488 started
table 6087 uploaded
193900 started
table 5245 uploaded
31539 started
table 165551 uploaded
1864 started
table 3665 uploaded
135953 started
table 117922 uploaded
102294 started
table 1351 uploaded
79760 started
table 96567 uploaded
126599 started
table 7040 uploaded
170291 started
table 133195 uploaded
154908 started
table 71792 uploaded
129437 started
table 134851 uploaded
171601 started
table 90066 uploaded
90647 started
table 1864 uploaded
5840 started
table 193900 uploaded
71999 started
table 31539 uploaded
149830 started
table 130233 uploaded
142032 started
table 135953 uploaded
47254 started
table 171601 uploaded
4031 started
table 126599 uploaded
2237 started
table 102294 uploaded
142117 started
table 170291 uploaded
3264 started
table 129437 uploaded
7619 started
table 8488 uploaded
table 79760 uploaded47793 started

170369 started
table 154908 uploaded
8839 started
table 71999 uploaded
51709 started
table 5840 uploaded
5746 started
table 90647 uploaded
155832 started
table 142032 uploaded
183055 started
table 149830 uploaded
4373 started
table 4031 uploaded
7327 started
table 47254 uploaded
120936 started
table 3264 uploaded
807 started
table 7619 uploaded
109971 started
table 51709 uploaded
1525 started
table 142117 uploaded
2811 started
table 5746 uploaded
171505 started

/opt/conda/lib/python3.10/site-packages/google/cloud/bigquery/_pandas_helpers.py:603: UserWarning: Pyarrow could not determine the type of columns: tag.
  warnings.warn(

table 8839 uploaded
120853 started
table 170369 uploaded
53498 started
table 2237 uploaded
table 47793 uploaded140777 started

34338 started
table 807 uploaded
36289 started
table 4373 uploaded
55232 started
table 183055 uploaded
44840 started
table 155832 uploaded
78276 started
table 7327 uploaded
112473 started
table 120936 uploaded
364 started
table 1525 uploaded
158842 started
table 53498 uploaded
674 started
table 171505 uploaded
173197 started
table 140777 uploaded
133747 started
table 34338 uploaded
791 started
table 109971 uploaded
3483 started
table 2811 uploaded
49824 started
table 120853 uploaded
8148 started
table 44840 uploaded
49276 started
table 158842 uploaded
118244 started
table 112473 uploaded
6325 started
table 674 uploaded
400 started
table 55232 uploaded
72557 started
table 78276 uploaded
92681 started
table 133747 uploaded
48 started
table 173197 uploaded
61991 started
table 49824 uploaded
4224 started
table 49276 uploaded
48530 started
table 791 uploaded
100194 started
table 8148 uploaded
80727 started
table 3483 uploaded
53460 started
table 6325 uploaded
79617 started
table 118244 uploaded
4277 started
table 48 uploaded
30977 started
table 400 uploaded
31201 started
table 36289 uploaded
4183 started
table 364 uploaded
192561 started
table 4224 uploaded
110899 started
table 92681 uploaded
159799 started
table 48530 uploaded
8008 started

/opt/conda/lib/python3.10/site-packages/google/cloud/bigquery/_pandas_helpers.py:603: UserWarning: Pyarrow could not determine the type of columns: tag.
  warnings.warn(

table 72557 uploaded
101739 started
table 30977 uploaded
837 started
table 31201 uploaded
174045 started
table 4277 uploaded
6734 started
table 80727 uploaded
70305 started
table 100194 uploaded
43677 started
table 53460 uploaded
132167 started
table 61991 uploaded
26645 started
table 8008 uploaded
1861 started
table 79617 uploaded
8134 started
table 192561 uploaded
93467 started
table 4183 uploaded
165413 started
table 159799 uploaded
494 started
table 101739 uploaded
33836 started
table 110899 uploaded
101222 started
table 174045 uploaded
146900 started
table 837 uploaded
132551 started
table 6734 uploaded
66068 started
table 1861 uploaded
62972 started
table 70305 uploaded
1503 started
table 33836 uploaded
58559 started
table 26645 uploaded
4794 started
table 43677 uploaded
27827 started
table 93467 uploaded
106883 started
table 132167 uploaded
6841 started
table 8134 uploaded
8992 started
table 165413 uploaded
56949 started
table 101222 uploaded
8740 started
table 66068 uploaded
31545 started
table 132551 uploaded
2344 started
table 494 uploaded
100083 started
table 146900 uploaded
26360 started
table 62972 uploaded
61350 started
table 4794 uploaded
2395 started
table 1503 uploaded
2541 started
table 106883 uploaded
504 started
table 8992 uploaded
172609 started
table 58559 uploaded
97326 started
table 8740 uploaded
196487 started

/opt/conda/lib/python3.10/site-packages/google/cloud/bigquery/_pandas_helpers.py:603: UserWarning: Pyarrow could not determine the type of columns: tag.
  warnings.warn(

table 56949 uploaded
71322 started
table 2344 uploaded
3724 started
table 31545 uploaded
25777 started
table 27827 uploaded
51903 started
table 61350 uploaded
136894 started
table 6841 uploaded
26259 started
table 196487 uploaded
2286 started
table 2541 uploaded
3919 started
table 26360 uploaded
2209 startedtable 172609 uploaded

79832 started
table 25777 uploaded
8580 started
table 51903 uploaded
78142 started
table 2395 uploaded
38886 started
table 3724 uploaded
130734 started
table 100083 uploaded
5666 started
table 136894 uploaded
3270 started
table 504 uploaded
101880 started
table 26259 uploaded
52950 started
table 97326 uploaded
1725 started
table 2286 uploaded
27485 started
table 71322 uploaded
6054 started
table 130734 uploaded
34008 started
table 79832 uploaded
2873 started
table 8580 uploaded
131 started
table 38886 uploaded
72156 started
table 2209 uploaded
85022 started
table 3919 uploaded
5643 started
table 52950 uploaded
8405 started
table 1725 uploaded
8446 started
table 5666 uploaded
33237 started
table 78142 uploaded
610 started
table 3270 uploaded
5841 started
table 27485 uploaded
6508 started
table 101880 uploaded
172107 started
table 6054 uploaded
6473 started
table 131 uploaded
140289 started
table 72156 uploaded
72762 started
table 2873 uploaded
3802 started
table 85022 uploaded
129675 started
table 8446 uploaded
165669 started
table 8405 uploaded
54274 started
table 33237 uploaded
99106 started
table 5841 uploaded
85358 started
table 610 uploaded
4480 started
table 6508 uploaded
143387 started
table 172107 uploaded
2368 started
table 34008 uploaded
1757 started
table 5643 uploaded
26067 started
table 6473 uploaded
6388 started
table 129675 uploaded
94410 started
table 3802 uploaded
4488 started
table 140289 uploaded
8653 started
table 72762 uploaded
104218 started
table 165669 uploaded
5762 started
table 99106 uploaded
3424 started
table 85358 uploaded
8900 started
table 2368 uploaded
4162 started
table 4480 uploaded
135991 started
table 26067 uploaded
60941 started
table 1757 uploaded
99387 started
table 143387 uploaded
1573 started
table 54274 uploaded
3618 started
table 4488 uploaded
42732 started
table 6388 uploaded
134332 started
table 94410 uploaded
192393 started
table 104218 uploaded
130044 started
table 60941 uploaded
4689 started
table 5762 uploaded
186 started
table 8653 uploaded
96239 started
table 99387 uploaded
2602 started
table 4162 uploaded
1565 started
table 42732 uploaded
98400 started
table 134332 uploadedtable 337 uploaded
101719 started

/opt/conda/lib/python3.10/site-packages/google/cloud/bigquery/_pandas_helpers.py:603: UserWarning: Pyarrow could not determine the type of columns: tag.
  warnings.warn(

table 171113 uploaded
346 started
table 84189 uploadedtable 2804 uploaded

6429 started77910 started

table 73457 uploaded
27555 started
table 43684 uploaded
54290 started
table 81385 uploaded
4125 started
table 98400 uploaded
91866 started
table 43549 uploaded
130490 started

/opt/conda/lib/python3.10/site-packages/google/cloud/bigquery/_pandas_helpers.py:603: UserWarning: Pyarrow could not determine the type of columns: tag.
  warnings.warn(

table 112655 uploaded
3427 started
table 27647 uploaded
136485 started

/opt/conda/lib/python3.10/site-packages/google/cloud/bigquery/_pandas_helpers.py:603: UserWarning: Pyarrow could not determine the type of columns: tag.
  warnings.warn(

table 7767 uploaded
50615 started
table 6559 uploaded
59387 started
table 4419 uploaded
112868 started
table 77910 uploaded
133147 started

/opt/conda/lib/python3.10/site-packages/google/cloud/bigquery/_pandas_helpers.py:603: UserWarning: Pyarrow could not determine the type of columns: tag.
  warnings.warn(

table 4125 uploaded
7914 started
table 101719 uploaded
5058 started
table 346 uploaded
82274 started
table 91866 uploaded
180555 started
table 130490 uploaded
5695 started
table 6429 uploaded
89217 started
table 54290 uploaded
3200 started
table 136485 uploaded
192999 started
table 3427 uploaded
8798 started
table 50615 uploaded
26989 started
table 112868 uploaded
70637 started
table 27555 uploaded
6560 started
table 7914 uploaded
32291 started
table 59387 uploaded
139517 started
table 133147 uploaded
87660 started
table 180555 uploaded
76077 started
table 89217 uploaded
3336 started
table 26989 uploaded
164604 started
table 82274 uploaded
54787 started
table 8798 uploaded
70871 started
table 3200 uploaded
113080 started
table 5058 uploaded
165603 started
table 5695 uploaded
127188 started
table 70637 uploaded
162730 started
table 6560 uploaded
3109 started
table 192999 uploaded
106030 started
table 76077 uploaded
7237 started
table 32291 uploaded
82169 started
table 139517 uploaded
2624 started
table 87660 uploaded
651 started
table 3336 uploaded
50923 started
table 54787 uploaded
36799 started
table 165603 uploaded
67186 started
table 127188 uploaded
145775 started
table 164604 uploaded
3628 started
table 113080 uploaded
5214 started
table 162730 uploaded
7493 started
table 70871 uploaded
73027 started
table 106030 uploaded
6806 started

/opt/conda/lib/python3.10/site-packages/google/cloud/bigquery/_pandas_helpers.py:603: UserWarning: Pyarrow could not determine the type of columns: tag.
  warnings.warn(

table 2624 uploaded
71738 started
table 3109 uploaded
102535 started
table 7237 uploaded
3990 started
table 82169 uploaded
1534 started
table 50923 uploaded
270 started
table 36799 uploaded
136331 started

/opt/conda/lib/python3.10/site-packages/google/cloud/bigquery/_pandas_helpers.py:603: UserWarning: Pyarrow could not determine the type of columns: tag.
  warnings.warn(

table 651 uploaded
5345 started
table 3628 uploaded
5697 started
table 5214 uploaded
171497 started
table 145775 uploaded
86817 started
table 71738 uploaded
6991 started
table 67186 uploaded
7063 started
table 3990 uploaded
4751 started
table 6806 uploaded
25818 started
table 7493 uploaded
297 started
table 5345 uploaded
126393 started
table 73027 uploaded
26801 started
table 102535 uploaded
152664 started
table 86817 uploaded
71350 started
table 1534 uploaded
97984 started
table 136331 uploaded
2355 started
table 7063 uploaded
27631 started
table 4751 uploaded
41863 started
table 270 uploaded
91821 started
table 171497 uploaded
60647 started
table 5697 uploaded
4707 started
table 6991 uploaded
115703 started
table 297 uploaded
104760 started
table 26801 uploaded
101186 started
table 71350 uploaded
73101 started
table 126393 uploaded
93805 started
table 97984 uploaded
2118 started
table 41863 uploaded
6227 started
table 60647 uploaded
6286 started
table 152664 uploaded
119655 started
table 91821 uploaded
3168 started
table 25818 uploaded
7067 started
table 2355 uploaded
31188 started
table 115703 uploaded
40738 started
table 27631 uploaded
103048 started
table 4707 uploaded
25773 started
table 104760 uploaded
148367 started
table 93805 uploaded
158310 started
table 2118 uploaded
1088 started
table 6227 uploaded
7320 started
table 73101 uploaded
143410 started
table 7067 uploaded
49183 started
table 6286 uploaded
111663 started

/opt/conda/lib/python3.10/site-packages/google/cloud/bigquery/_pandas_helpers.py:603: UserWarning: Pyarrow could not determine the type of columns: tag.
  warnings.warn(

table 40738 uploaded
34435 started
table 101186 uploaded
1286 started
table 119655 uploaded
78084 started
table 3168 uploaded
165421 started
table 25773 uploaded
7131 started
table 148367 uploaded
374 started
table 103048 uploaded
6221 started
table 1088 uploaded
108220 started
table 31188 uploaded
81520 started
table 143410 uploaded
4770 started
table 111663 uploaded
104303 started
table 78084 uploaded
152091 started
table 165421 uploaded
116215 started
table 1286 uploaded
103137 started
table 34435 uploaded
6355 started
table 374 uploaded
137311 started

/opt/conda/lib/python3.10/site-packages/google/cloud/bigquery/_pandas_helpers.py:603: UserWarning: Pyarrow could not determine the type of columns: tag.
  warnings.warn(

table 7131 uploaded
30846 started
table 7320 uploaded
1617 started
table 49183 uploaded
843 started

/opt/conda/lib/python3.10/site-packages/google/cloud/bigquery/_pandas_helpers.py:603: UserWarning: Pyarrow could not determine the type of columns: tag.
  warnings.warn(

table 158310 uploaded
33539 started
table 6221 uploaded
2796 started
table 81520 uploaded
159725 started
table 4770 uploaded
149186 started
table 152091 uploaded
26034 started
table 104303 uploaded
27643 started
table 103137 uploaded
115708 started
table 1617 uploaded
59725 started
table 116215 uploaded
112283 started
table 6355 uploaded
8725 started
table 30846 uploaded
74327 started
table 137311 uploaded
61279 started
table 108220 uploaded
128548 started
table 33539 uploaded
1021 started
table 149186 uploaded
43917 started
table 26034 uploaded
195303 started

/opt/conda/lib/python3.10/site-packages/google/cloud/bigquery/_pandas_helpers.py:603: UserWarning: Pyarrow could not determine the type of columns: tag.
  warnings.warn(

table 843 uploaded
26151 started
table 27643 uploaded
2419 started
table 2796 uploaded
127138 started
table 115708 uploaded
26603 started
table 159725 uploaded
27431 started
table 74327 uploaded
143458 started
table 112283 uploaded
5076 started
table 59725 uploaded
81684 started
table 61279 uploaded
99149 started
table 128548 uploaded
3380 started
table 1021 uploaded
533 started
table 43917 uploaded
1993 started
table 8725 uploaded
43762 started
table 195303 uploaded
1298 started
table 26151 uploaded
3340 started
table 5076 uploaded
61465 started
table 26603 uploaded
86277 started
table 127138 uploaded
934 started
table 143458 uploaded
42018 started
table 27431 uploaded
190287 started
table 2419 uploaded
704 started

/opt/conda/lib/python3.10/site-packages/google/cloud/bigquery/_pandas_helpers.py:603: UserWarning: Pyarrow could not determine the type of columns: tag.
  warnings.warn(

table 81684 uploaded
45950 started
table 99149 uploaded
144066 started
table 1993 uploaded
1713 started
table 43762 uploaded
4821 started
table 1298 uploaded
161034 started
table 934 uploaded
86835 started
table 3380 uploaded
380 started
table 533 uploaded
5638 started
table 42018 uploaded
193952 started
table 3340 uploaded
36477 started
table 61465 uploaded
103736 started
table 45950 uploaded
128684 started
table 704 uploaded
142875 started
table 86277 uploaded
909 started
table 144066 uploaded
6812 started
table 190287 uploaded
110813 started
table 4821 uploaded
133361 started
table 161034 uploaded
168370 started
table 380 uploaded
113534 started
table 86835 uploaded
110828 started
table 1713 uploaded
4581 started
table 5638 uploaded
115287 started
table 193952 uploaded
1020 started
table 128684 uploaded
129428 started
table 142875 uploaded
117565 started
table 909 uploaded
4081 started
table 36477 uploaded
52806 started
table 103736 uploaded
147326 started
table 133361 uploaded
62586 started
table 6812 uploaded
3896 started
table 110813 uploaded
90620 started
table 168370 uploaded
2530 started
table 110828 uploaded
104590 started
table 113534 uploaded
137759 started
table 4581 uploaded
2987 started
table 129428 uploaded
79541 started
table 52806 uploaded
91983 started
table 117565 uploaded
167544 started
table 147326 uploaded
67734 started
table 62586 uploaded
108534 started

/opt/conda/lib/python3.10/site-packages/google/cloud/bigquery/_pandas_helpers.py:603: UserWarning: Pyarrow could not determine the type of columns: tag.
  warnings.warn(

table 90620 uploaded
140701 started
table 115287 uploaded
61301 started
table 2530 uploaded
3571 started
table 3896 uploaded
213 started
table 104590 uploaded
99691 started
table 4081 uploaded
114713 started
table 1020 uploaded
184641 started
table 67734 uploaded
140237 started
table 79541 uploaded
48214 started
table 2987 uploaded
7342 started
table 108534 uploaded
79134 started

/opt/conda/lib/python3.10/site-packages/google/cloud/bigquery/_pandas_helpers.py:603: UserWarning: Pyarrow could not determine the type of columns: tag.
  warnings.warn(

table 91983 uploaded
5858 started
table 137759 uploaded
2336 started
table 167544 uploaded
73523 started
table 140701 uploaded
5089 started

/opt/conda/lib/python3.10/site-packages/google/cloud/bigquery/_pandas_helpers.py:603: UserWarning: Pyarrow could not determine the type of columns: tag.
  warnings.warn(

table 3571 uploaded
386 started
table 99691 uploaded
60641 started
table 61301 uploaded
8779 started
table 140237 uploaded
26629 started
table 2336 uploaded
74967 started
table 184641 uploaded
5368 started
table 48214 uploaded
26388 started
table 114713 uploaded
106762 started
table 73523 uploaded
178613 started
table 5858 uploaded
8265 started
table 213 uploaded
27094 started
table 5089 uploaded
5048 started
table 60641 uploaded
1413 started
table 8779 uploaded
106214 started
table 386 uploaded
8758 started
table 79134 uploaded
174933 started
table 26629 uploaded
2445 started
table 74967 uploaded
26116 started
table 7342 uploaded
4642 started
table 5368 uploaded
69361 started

/opt/conda/lib/python3.10/site-packages/google/cloud/bigquery/_pandas_helpers.py:603: UserWarning: Pyarrow could not determine the type of columns: tag.
  warnings.warn(

table 178613 uploaded
70984 started
table 106762 uploaded
81847 started
table 5048 uploaded
34648 started
table 8758 uploaded
4351 started
table 106214 uploaded
61348 started
table 27094 uploaded
33832 started
table 8265 uploaded
100036 started
table 1413 uploaded
83163 started

/opt/conda/lib/python3.10/site-packages/google/cloud/bigquery/_pandas_helpers.py:603: UserWarning: Pyarrow could not determine the type of columns: tag.
  warnings.warn(

table 2445 uploaded
47894 started
table 26116 uploaded
6811 started
table 69361 uploaded
152593 started
table 26388 uploaded
25900 started

/opt/conda/lib/python3.10/site-packages/google/cloud/bigquery/_pandas_helpers.py:603: UserWarning: Pyarrow could not determine the type of columns: tag.
  warnings.warn(

table 4351 uploaded
119 started
table 70984 uploaded
1042 started
table 81847 uploaded
179211 started
table 174933 uploaded
8990 started
table 34648 uploaded
164933 started
table 4642 uploaded
118 started
table 47894 uploaded
116799 started
table 33832 uploaded
7949 started
table 100036 uploaded
996 started
table 83163 uploaded
1315 started
table 61348 uploaded
4331 started
table 6811 uploaded
32239 started
table 152593 uploaded
34170 started
table 25900 uploaded
202159 started
table 8990 uploaded
176919 started
table 179211 uploaded
1196 started
table 118 uploaded
58895 started
table 7949 uploaded
4992 started
table 996 uploaded
2985 started
table 1042 uploaded
5029 started
table 4331 uploaded
97540 started
table 116799 uploaded
1167 started
table 119 uploaded
43652 started
table 164933 uploaded
158830 started
table 34170 uploaded
99502 started
table 202159 uploaded
68115 started
table 5029 uploaded
4006 started
table 32239 uploaded
100579 started
table 58895 uploaded
44949 started
table 4992 uploaded
112404 started
table 43652 uploaded
117511 started
table 1315 uploaded
114068 started
table 176919 uploaded
26703 started
table 97540 uploaded
78679 started
table 1196 uploaded
5096 started
table 2985 uploaded
1734 started
table 99502 uploaded
106895 started
table 158830 uploaded
86536 started
table 68115 uploaded
6220 started
table 44949 uploaded
52929 started
table 4006 uploaded
122413 started
table 1167 uploaded
502 started
table 114068 uploaded
3369 started

/opt/conda/lib/python3.10/site-packages/google/cloud/bigquery/_pandas_helpers.py:603: UserWarning: Pyarrow could not determine the type of columns: tag.
  warnings.warn(

table 112404 uploaded
57276 started
table 26703 uploaded
3415 started
table 5096 uploaded
168668 started
table 100579 uploaded
95744 started
table 78679 uploaded
127583 started
table 1734 uploaded
26078 started
table 117511 uploaded
6650 started
table 52929 uploaded
3518 started
table 502 uploaded
86723 started
table 6220 uploaded
5314 started
table 3369 uploaded
58992 started
table 168668 uploaded
6802 started
table 106895 uploaded
120474 started
table 3415 uploaded
6483 started
table 122413 uploaded
293 started
table 95744 uploaded
140809 started
table 127583 uploaded
111375 started
table 57276 uploaded
69489 started
table 86536 uploaded
127321 started
table 26078 uploaded
79498 started
table 5314 uploaded
2898 started
table 86723 uploaded
5535 started
table 6650 uploaded
8624 started
table 58992 uploaded
155581 started
table 6483 uploaded
139511 started
table 6802 uploaded
77266 started
table 127321 uploaded
601 started
table 3518 uploaded
8745 started
table 79498 uploaded
3325 started
table 293 uploaded
7840 started
table 111375 uploaded
7415 started
table 140809 uploaded
2142 started
table 69489 uploaded
946 started
table 2898 uploaded
114254 started
table 120474 uploaded
122932 started
table 8624 uploaded
168846 started
table 5535 uploaded
1965 started
table 139511 uploaded
729 started
table 155581 uploaded
165351 started
table 7415 uploaded
2262 started
table 8745 uploaded
6647 started
table 2142 uploaded
129951 started
table 946 uploaded
57530 started
table 3325 uploaded
83184 started
table 601 uploaded
993 started
table 7840 uploaded
68967 started
table 122932 uploaded
139799 started
table 114254 uploaded
161616 started
table 77266 uploaded
7614 started
table 729 uploaded
142258 started
table 168846 uploaded
80097 started
table 165351 uploaded
160010 started
table 2262 uploaded
6535 started
table 1965 uploaded
31429 started
table 129951 uploaded
5612 started
table 57530 uploaded
142598 started
table 68967 uploaded
110748 started
table 993 uploaded
50550 started
table 6647 uploaded
174395 started
table 161616 uploaded
4942 started
table 139799 uploaded
89501 started
table 7614 uploaded
43571 started
table 83184 uploaded
115680 started
table 160010 uploaded
1134 started
table 6535 uploaded
6886 started
table 80097 uploaded
61136 started
table 5612 uploaded
4524 started
table 110748 uploaded
8882 started
table 174395 uploaded
151311 started
table 89501 uploaded
7743 started
table 4942 uploaded
47952 started
table 50550 uploaded
2635 started
table 43571 uploaded
7158 started
table 142258 uploaded
2948 started
table 115680 uploaded
8807 started
table 1134 uploaded
70846 started
table 142598 uploaded
155392 started
table 6886 uploaded
1916 started
table 4524 uploaded
31698 started
table 47952 uploaded
26731 started
table 31429 uploaded
172409 started
table 151311 uploaded
5243 started
table 2635 uploaded
74944 started
table 7743 uploaded
78757 started
table 155392 uploaded
202155 started
table 61136 uploaded
101425 started
table 1916 uploaded
668 started
table 7158 uploaded
7170 started
table 31698 uploaded
103772 started
table 26731 uploaded
102753 started
table 70846 uploaded
38600 started
table 8807 uploaded
27685 started
table 172409 uploaded
93855 started
table 2948 uploaded
4839 started
table 8882 uploaded
661 started
table 74944 uploaded
40828 started
table 5243 uploaded
26565 started
table 78757 uploaded
103624 started
table 202155 uploaded
146050 started
table 668 uploaded
84663 started
table 102753 uploaded
7846 started
table 27685 uploaded
2656 started
table 103772 uploaded
4542 started
table 93855 uploaded
4412 started
table 38600 uploaded
74458 started
table 7170 uploaded
70912 started
table 146050 uploaded
142492 started
table 103624 uploaded
142488 started
table 661 uploaded
172661 started
table 101425 uploaded
3726 started
table 84663 uploaded
90353 started
table 4839 uploaded
5812 started
table 26565 uploaded
67799 started
table 4412 uploaded
100046 started
table 2656 uploaded
91037 started
table 40828 uploaded
95000 started
table 7846 uploaded
140805 started
table 70912 uploaded
4562 started
table 74458 uploaded
125537 started
table 4542 uploaded
table 172661 uploaded1544 started

2435 started
table 142492 uploaded
2852 started
table 91037 uploaded
6810 started
table 142488 uploaded
100 started
table 3726 uploaded
5446 started
table 95000 uploaded
3289 started
table 67799 uploaded
33914 started
table 4562 uploaded
121787 started
table 5812 uploaded
5890 started

/opt/conda/lib/python3.10/site-packages/google/cloud/bigquery/_pandas_helpers.py:603: UserWarning: Pyarrow could not determine the type of columns: tag.
  warnings.warn(

table 140805 uploaded
7885 started
table 125537 uploaded
192761 started
table 100046 uploaded
4410 started
table 90353 uploaded
1071 started
table 2435 uploaded
89983 started
table 2852 uploaded
971 started
table 1544 uploaded
68685 started
table 6810 uploaded
27087 started
table 3289 uploaded
1900 started
table 100 uploaded
104669 started
table 1071 uploaded
7383 started
table 121787 uploaded
26375 started
table 33914 uploaded
99841 started
table 192761 uploaded
567 started
table 4410 uploaded
196113 started
table 7885 uploaded
1379 started
table 5890 uploaded
33639 started
table 68685 uploaded
32078 started
table 971 uploaded
160149 started
table 1900 uploaded
5136 started
table 104669 uploaded
60201 started
table 89983 uploaded
1841 started
table 27087 uploaded
5737 started
table 99841 uploaded
26544 started

/opt/conda/lib/python3.10/site-packages/google/cloud/bigquery/_pandas_helpers.py:603: UserWarning: Pyarrow could not determine the type of columns: tag.
  warnings.warn(

table 26375 uploaded
819 started

/opt/conda/lib/python3.10/site-packages/google/cloud/bigquery/_pandas_helpers.py:603: UserWarning: Pyarrow could not determine the type of columns: tag.
  warnings.warn(

table 7383 uploaded
73515 started
table 196113 uploaded
48342 started
table 160149 uploaded
179133 started
table 1379 uploaded
82722 started
table 567 uploaded
201 started
table 33639 uploaded
125 started
table 5136 uploaded
80816 started
table 60201 uploaded
8891 started
table 1841 uploaded
36523 started
table 32078 uploaded
2362 started
table 5737 uploaded
3263 started
table 73515 uploaded
142426 started
table 48342 uploaded
2638 started
table 82722 uploaded
47382 started
table 819 uploaded
2711 started
table 26544 uploaded
1792 started
table 179133 uploaded
192285 started
table 201 uploaded
117928 started
table 2362 uploaded
88114 started
table 80816 uploaded
3910 started
table 125 uploaded
121184 started
table 3263 uploaded
27822 started
table 5446 uploaded
139859 started
table 36523 uploaded
table 8891 uploaded
1027 started
982 started
table 142426 uploaded
4436 started
table 47382 uploaded
8934 started
table 2638 uploaded
57550 started
table 192285 uploaded
104137 started
table 2711 uploaded
5837 started
table 1792 uploaded
79 started
table 3910 uploaded
109000 started
table 139859 uploaded
101577 started
table 121184 uploaded
51088 started
table 88114 uploaded
92374 started
table 1027 uploaded
7234 started
table 117928 uploaded
1614 started
table 8934 uploaded
26247 started
table 982 uploaded
135502 started
table 4436 uploaded
47566 started
table 27822 uploaded
17 started
table 5837 uploaded
6344 started
table 101577 uploaded
95002 started
table 79 uploaded
79863 started
table 104137 uploaded
117364 started
table 51088 uploaded
26501 started
table 92374 uploaded
98052 started

/opt/conda/lib/python3.10/site-packages/google/cloud/bigquery/_pandas_helpers.py:603: UserWarning: Pyarrow could not determine the type of columns: tag.
  warnings.warn(

table 7234 uploaded
7189 started
table 57550 uploaded
5560 started
table 26247 uploaded
79254 started
table 109000 uploaded
152284 started
table 47566 uploaded
106841 started
table 6344 uploaded
127146 started
table 135502 uploaded
93496 started
table 98052 uploaded
142222 started
table 95002 uploaded
82744 started
table 17 uploaded
table 7189 uploaded
118082 started
table 26501 uploaded
3043 started
129358 started
table 5560 uploaded
79769 started
table 79863 uploaded
31694 started
table 79254 uploaded
151357 started
table 106841 uploaded
1865 started
table 127146 uploaded
8207 started
table 152284 uploaded
1552 started
table 82744 uploaded
1050 started
table 117364 uploaded
1464 started
table 93496 uploaded
1680 started
table 118082 uploaded
4433 started
table 31694 uploaded
60503 started
table 142222 uploaded
91199 started
table 129358 uploaded
174481 started
table 1614 uploaded
94061 started
table 3043 uploaded
1966 started
table 8207 uploaded
8837 started
table 151357 uploaded
4867 started
table 1552 uploaded
112640 started
table 1865 uploaded
4157 started
table 79769 uploaded
4875 started

/opt/conda/lib/python3.10/site-packages/google/cloud/bigquery/_pandas_helpers.py:603: UserWarning: Pyarrow could not determine the type of columns: tag.
  warnings.warn(

table 1464 uploaded
66015 started
table 4433 uploaded
2658 started
table 1680 uploaded
142969 started
table 8837 uploaded
70762 started
table 91199 uploaded
31337 started
table 1050 uploaded
92264 started
table 174481 uploaded
26850 started

/opt/conda/lib/python3.10/site-packages/google/cloud/bigquery/_pandas_helpers.py:603: UserWarning: Pyarrow could not determine the type of columns: tag.
  warnings.warn(

table 112640 uploaded
38583 started
table 1966 uploaded
144738 started
table 4867 uploaded
100304 started
table 4157 uploaded
88024 started
table 94061 uploaded
63876 started
table 4875 uploaded
1330 started
table 60503 uploaded
1493 started
table 66015 uploaded
83 started
table 70762 uploaded
189071 started
table 92264 uploaded
5203 started
table 2658 uploaded
163925 started
table 142969 uploaded
6326 started
table 26850 uploaded
110796 started
table 63876 uploaded
101168 started
table 144738 uploaded
99549 started
table 38583 uploaded
7570 started

/opt/conda/lib/python3.10/site-packages/google/cloud/bigquery/_pandas_helpers.py:603: UserWarning: Pyarrow could not determine the type of columns: tag.
  warnings.warn(

table 88024 uploaded
3764 started
table 1493 uploaded
table 31337 uploaded
8811 started
table 83 uploaded
4804 started
38849 started
table 1330 uploaded
27392 started
table 5203 uploaded
432 started
table 189071 uploaded
48045 started
table 163925 uploaded
159223 started
table 6326 uploaded
183909 started
table 100304 uploaded
48560 started
table 38849 uploaded
409 started
table 7570 uploaded
104947 started
table 99549 uploaded
114182 started
table 8811 uploaded
185295 started
table 110796 uploaded
26529 started
table 4804 uploaded
52460 started
table 3764 uploaded
122926 started
table 101168 uploaded
958 started
table 27392 uploaded
98154 started
table 48045 uploaded
86087 started
table 159223 uploaded
80398 started
table 432 uploaded
3319 started
table 26529 uploaded
31284 started
table 104947 uploaded
139046 started
table 183909 uploaded
6055 started
table 185295 uploaded
72249 started
table 409 uploaded
67267 started
table 958 uploaded
6556 started
table 48560 uploaded
1130 started
table 80398 uploaded
4379 started
table 114182 uploaded
109487 started
table 122926 uploaded
1427 started
table 86087 uploaded
5092 started
table 52460 uploaded
7420 started
table 98154 uploaded
2437 started
table 3319 uploaded
175141 started
table 6055 uploaded
77293 started
table 72249 uploaded
173957 started
table 31284 uploaded
152065 started
table 1130 uploaded
1696 started
table 6556 uploaded
53066 started
table 1427 uploaded
26301 started
table 4379 uploaded
27692 started
table 109487 uploaded
6454 started
table 139046 uploaded
84857 startedtable 7420 uploaded

6722 started
table 67267 uploaded
706 started
table 175141 uploaded
46062 started
table 5092 uploaded
7728 started
table 2437 uploaded
165163 started
table 173957 uploaded
32211 started
table 77293 uploaded
148964 started
table 1696 uploaded
110591 started
table 152065 uploaded
51372 started
table 27692 uploaded
132140 started
table 26301 uploaded
168554 started
table 84857 uploaded
84455 started
table 53066 uploaded
3092 started
table 706 uploaded
194636 started
table 6454 uploaded
4473 started
table 6722 uploaded
86646 started
table 32211 uploaded
185385 started
table 165163 uploaded
83177 started
table 46062 uploaded
173143 started
table 148964 uploaded
167152 started
table 51372 uploaded
188317 started
table 7728 uploaded
100390 started
table 132140 uploaded
105492 started
table 3092 uploaded
171703 started
table 194636 uploaded
5725 started
table 84455 uploaded
199113 started
table 110591 uploaded
109931 started

/opt/conda/lib/python3.10/site-packages/google/cloud/bigquery/_pandas_helpers.py:603: UserWarning: Pyarrow could not determine the type of columns: tag.
  warnings.warn(

table 168554 uploaded
175795 started
table 83177 uploaded
3744 started
table 86646 uploaded
1563 started
table 4473 uploaded
5567 started
table 185385 uploaded
4266 started
table 167152 uploaded
6945 started
table 188317 uploaded
89302 started
table 100390 uploaded
34334 started
table 173143 uploaded
105211 started
table 171703 uploaded
3650 started
table 5725 uploaded
5544 started
table 1563 uploaded
188753 started
table 199113 uploaded
6620 started
table 105492 uploaded
175669 started
table 3744 uploaded
3413 started
table 175795 uploaded
3860 started
table 4266 uploaded
3343 started
table 5567 uploaded
1837 started
table 105211 uploaded
26822 started
table 34334 uploaded
43351 started
table 109931 uploaded
177565 started

/opt/conda/lib/python3.10/site-packages/google/cloud/bigquery/_pandas_helpers.py:603: UserWarning: Pyarrow could not determine the type of columns: tag.
  warnings.warn(

table 89302 uploaded
40752 started
table 175669 uploaded
160416 started
table 6945 uploaded
133832 started
table 6620 uploaded
26712 started
table 188753 uploaded
85278 started
table 5544 uploaded
80844 started
table 3650 uploaded
5370 started
table 3413 uploaded
50274 started
table 26822 uploaded
2427 started
table 40752 uploaded
5419 started
table 3343 uploaded
1295 started
table 1837 uploaded
256 started
table 3860 uploaded
80339 started
table 177565 uploaded
57949 started
table 133832 uploaded
135885 started
table 43351 uploaded
30850 started
table 26712 uploaded
25 startedtable 160416 uploaded

88932 started
table 85278 uploaded
31932 started
table 5419 uploaded
141135 started
table 2427 uploaded
8453 started
table 80339 uploaded
105703 started
table 5370 uploaded
7523 started
table 80844 uploaded
26696 started
table 57949 uploaded
1561 started
table 50274 uploaded
1541 started
table 88932 uploaded
4643 started
table 1295 uploaded
65088 started
table 135885 uploaded
4253 started
table 25 uploaded
3348 started
table 256 uploaded
81316 started
table 7523 uploaded
44861 started
table 30850 uploaded
41691 started
table 31932 uploaded
4911 started
table 26696 uploaded
95506 started
table 8453 uploaded
1742 started
table 65088 uploaded
186363 started
table 141135 uploaded
74426 started
table 1561 uploaded
82015 started
table 4643 uploaded
120827 started
table 3348 uploadedtable 1541 uploaded

916 started127305 started

table 44861 uploaded
1893 started
table 4911 uploaded
69358 started
table 105703 uploaded
31485 started
table 4253 uploaded
6017 started
table 1742 uploaded
128518 started
table 95506 uploaded
104757 started
table 41691 uploaded
179795 started
table 81316 uploaded
55207 started
table 186363 uploaded
148166 started
table 82015 uploaded
2399 started
table 916 uploaded
1950 started
table 127305 uploaded
1299 started
table 74426 uploaded
4255 started
table 69358 uploaded
34800 started
table 6017 uploaded
161966 started
table 120827 uploaded
103141 started
table 128518 uploaded
6843 started
table 179795 uploaded
72045 started
table 1893 uploaded
641 started
table 104757 uploaded
51 started
table 55207 uploaded
34032 started

/opt/conda/lib/python3.10/site-packages/google/cloud/bigquery/_pandas_helpers.py:603: UserWarning: Pyarrow could not determine the type of columns: tag.
  warnings.warn(

table 2399 uploaded
5595 started
table 1299 uploaded
3835 started
table 1950 uploaded
140349 started
table 34800 uploaded
92422 started
table 6843 uploaded
70689 started
table 4255 uploaded
166203 started
table 31485 uploaded
182 started
table 148166 uploaded
6322 started
table 34032 uploaded
144612 started

/opt/conda/lib/python3.10/site-packages/google/cloud/bigquery/_pandas_helpers.py:603: UserWarning: Pyarrow could not determine the type of columns: tag.
  warnings.warn(

table 641 uploaded
5793 started
table 72045 uploaded
180265 started
table 161966 uploaded
55999 started
table 103141 uploaded
162418 started
table 70689 uploaded
2716 started
table 51 uploaded
113218 started
table 140349 uploaded
6628 started
table 6322 uploaded
55659 started
table 92422 uploaded
62081 started
table 182 uploaded
159153 started
table 5595 uploaded
107069 startedtable 166203 uploaded

170917 started
table 5793 uploaded
8846 started
table 144612 uploaded
4450 started
table 162418 uploaded
141422 started
table 55999 uploaded
1581 started
table 180265 uploaded
117334 started
table 6628 uploaded
5394 started
table 113218 uploaded
121113 started
table 62081 uploaded
31270 started
table 2716 uploaded
4150 started
table 55659 uploaded
7886 started

/opt/conda/lib/python3.10/site-packages/google/cloud/bigquery/_pandas_helpers.py:603: UserWarning: Pyarrow could not determine the type of columns: tag.
  warnings.warn(

table 170917 uploaded
27031 started
table 8846 uploaded
123288 started
table 3835 uploaded
4698 started
table 107069 uploaded
107916 started
table 4450 uploaded
7491 started
table 159153 uploaded
71500 started
table 5394 uploaded
92461 started
table 141422 uploaded
115711 started
table 1581 uploaded
6330 started
table 121113 uploaded
table 7886 uploaded
42721 started
6066 started
table 4150 uploaded
84952 started
table 27031 uploaded
175665 started
table 4698 uploaded
129514 started
table 31270 uploaded
5530 started
table 107916 uploaded
188797 started
table 71500 uploaded
89388 started
table 117334 uploaded
156175 started
table 7491 uploaded
71817 started
table 123288 uploaded
80354 started
table 6330 uploaded
114486 started
table 92461 uploaded
177593 started
table 129514 uploaded
27793 started
table 175665 uploaded
2485 started
table 156175 uploaded
7571 started
table 6066 uploaded
163092 started
table 84952 uploaded
111813 started
table 42721 uploaded
94959 started
table 89388 uploaded
63483 started
table 188797 uploaded
4533 started
table 71817 uploaded
49528 started
table 80354 uploaded
8491 started
table 177593 uploaded
39869 startedtable 115711 uploaded

134013 started
table 163092 uploaded
128968 started

/opt/conda/lib/python3.10/site-packages/google/cloud/bigquery/_pandas_helpers.py:603: UserWarning: Pyarrow could not determine the type of columns: tag.
  warnings.warn(

table 27793 uploaded
177003 started
table 114486 uploaded
81018 started
table 5530 uploaded
26177 started
table 111813 uploaded
1209 started
table 63483 uploaded
160209 started
table 2485 uploaded
8623 started
table 94959 uploaded
4108 started
table 7571 uploaded
101273 started
table 4533 uploaded
4768 started
table 49528 uploaded
5891 started
table 8491 uploaded
136445 started
table 39869 uploaded
171545 started
table 134013 uploaded
147348 started
table 177003 uploaded
37477 started
table 160209 uploaded
1693 started
table 101273 uploaded
130474 started
table 81018 uploaded
96428 started
table 26177 uploaded
5997 started
table 8623 uploaded
2606 started
table 4108 uploaded
96811 started
table 4768 uploaded
173273 started
table 128968 uploaded
25837 started
table 136445 uploaded
111734 started
table 5891 uploaded
527 started
table 147348 uploaded
155846 started
table 1209 uploaded
30867 started
table 130474 uploaded
108143 started
table 1693 uploaded
6122 started
table 5997 uploaded
53131 started
table 171545 uploaded
164 started
table 96428 uploaded
143199 started
table 96811 uploaded
142444 started
table 527 uploaded
25788 started
table 2606 uploaded
116419 started
table 25837 uploaded
70541 started

/opt/conda/lib/python3.10/site-packages/google/cloud/bigquery/_pandas_helpers.py:603: UserWarning: Pyarrow could not determine the type of columns: tag.
  warnings.warn(

table 173273 uploaded
25832 started
table 37477 uploaded
5734 started
table 108143 uploaded
33191 started
table 143199 uploaded
33750 started
table 111734 uploaded
106138 started
table 155846 uploaded
101285 started
table 53131 uploaded
5967 started
table 164 uploaded
53788 started
table 142444 uploaded
122789 started
table 30867 uploaded
9004 started
table 25788 uploaded
26851 started
table 6122 uploaded
149090 started
table 116419 uploaded
54986 started

/opt/conda/lib/python3.10/site-packages/google/cloud/bigquery/_pandas_helpers.py:603: UserWarning: Pyarrow could not determine the type of columns: tag.
  warnings.warn(

table 25832 uploaded
26184 started
table 5734 uploaded
4799 started
table 33750 uploaded
144302 started
table 53788 uploaded
5182 started
table 33191 uploaded
3443 started
table 70541 uploaded
94041 started

/opt/conda/lib/python3.10/site-packages/google/cloud/bigquery/_pandas_helpers.py:603: UserWarning: Pyarrow could not determine the type of columns: tag.
  warnings.warn(

table 26851 uploaded
55250 started
table 5967 uploaded
166534 started
table 9004 uploaded
99721 started
table 101285 uploaded
62974 started
table 122789 uploaded
3975 started
table 106138 uploaded
926 started
table 4799 uploaded
589 started
table 149090 uploaded
114760 started
table 26184 uploaded
68886 started
table 54986 uploaded
1716 started

/opt/conda/lib/python3.10/site-packages/google/cloud/bigquery/_pandas_helpers.py:603: UserWarning: Pyarrow could not determine the type of columns: tag.
  warnings.warn(

table 3443 uploaded
204878 started
table 166534 uploaded
4884 started
table 144302 uploaded
131080 started
table 62974 uploaded
31309 started
table 5182 uploaded
163981 started
table 94041 uploaded
4968 started

/opt/conda/lib/python3.10/site-packages/google/cloud/bigquery/_pandas_helpers.py:603: UserWarning: Pyarrow could not determine the type of columns: tag.
  warnings.warn(

table 99721 uploaded
171 started
table 55250 uploaded
1429 started
table 114760 uploaded
2934 started
table 3975 uploaded
71664 started
table 589 uploaded
8264 started
table 1716 uploaded
1528 started
table 131080 uploaded
46915 started
table 204878 uploaded
175783 started
table 68886 uploaded
6790 started
table 926 uploaded
7478 started
table 31309 uploaded
149354 started
table 163981 uploaded
7407 started
table 4968 uploaded
99728 started
table 4884 uploaded
6619 started
table 171 uploaded
1417 started
table 1429 uploaded
4991 started
table 71664 uploaded
145132 started
table 2934 uploaded
131104 started

/opt/conda/lib/python3.10/site-packages/google/cloud/bigquery/_pandas_helpers.py:603: UserWarning: Pyarrow could not determine the type of columns: tag.
  warnings.warn(

table 175783 uploaded
444 started
table 8264 uploaded
6136 started
table 1528 uploaded
4569 started
table 46915 uploaded
97057 started
table 149354 uploaded
121129 started
table 99728 uploaded
126584 started
table 6790 uploaded
3766 started
table 7478 uploaded
6281 started
table 1417 uploaded
5174 started
table 145132 uploaded
867 started
table 444 uploaded
115667 started
table 4991 uploaded
151763 started

/opt/conda/lib/python3.10/site-packages/google/cloud/bigquery/_pandas_helpers.py:603: UserWarning: Pyarrow could not determine the type of columns: tag.
  warnings.warn(

table 7407 uploaded
3435 started
table 131104 uploaded
498 started
table 4569 uploaded
69069 started
table 6619 uploaded
107723 started
table 121129 uploaded
77719 started
table 97057 uploaded
3196 started
table 126584 uploaded
27721 started
table 3766 uploaded
53143 started
table 6281 uploaded
141418 started
table 5174 uploaded
191489 started
table 498 uploaded
140581 started
table 151763 uploaded
77711 started
table 867 uploaded
132979 started
table 69069 uploaded
8587 started
table 3435 uploaded
144354 started
table 6136 uploaded
143709 started

/opt/conda/lib/python3.10/site-packages/google/cloud/bigquery/_pandas_helpers.py:603: UserWarning: Pyarrow could not determine the type of columns: tag.
  warnings.warn(

table 77719 uploaded
69187 started
table 141418 uploaded
5299 started
table 107723 uploaded
33110 started
table 53143 uploaded
54958 started
table 27721 uploaded
102880 started
table 115667 uploaded
34624 started
table 3196 uploaded
178419 started
table 8587 uploaded
4294 started
table 144354 uploaded
72117 started
table 143709 uploaded
71426 started
table 5299 uploaded
802 started
table 191489 uploaded
79299 started
table 69187 uploaded
132664 started
table 140581 uploaded
60189 started
table 132979 uploaded
144352 started
table 77711 uploaded
51080 started

/opt/conda/lib/python3.10/site-packages/google/cloud/bigquery/_pandas_helpers.py:603: UserWarning: Pyarrow could not determine the type of columns: tag.
  warnings.warn(

table 102880 uploaded
3309 started
table 54958 uploaded
47646 started
table 33110 uploaded
5929 started
table 72117 uploaded
6759 started
table 178419 uploaded
3372 started
table 802 uploaded
6580 started
table 144352 uploaded
99178 started
table 79299 uploaded
5780 started
table 60189 uploaded
174551 started
table 34624 uploaded
5605 started
table 47646 uploaded
6965 started
table 71426 uploaded
2939 started
table 4294 uploaded
27783 started
table 5929 uploaded
6000 started
table 132664 uploaded
125630 started
table 51080 uploaded
32 started
table 6580 uploaded
7066 started
table 3309 uploaded
1780 started
table 5605 uploaded
206293 started
table 6759 uploaded
156187 started
table 5780 uploaded
3912 started
table 99178 uploaded
5882 started
table 6965 uploaded
148652 started
table 3372 uploaded
1157 started
table 2939 uploaded
113035 started
table 174551 uploaded
66171 started
table 125630 uploaded
table 6000 uploaded56651 started

27192 started
table 27783 uploaded
5432 started
table 32 uploaded
8947 started
table 5882 uploaded
8664 started
table 1157 uploaded
7227 started
table 3912 uploaded
144422 started
table 206293 uploaded
2110 started
table 148652 uploaded
192503 started
table 1780 uploaded
141668 started
table 66171 uploaded
59107 started
table 113035 uploaded
165927 started
table 7066 uploaded
76753 started

/opt/conda/lib/python3.10/site-packages/google/cloud/bigquery/_pandas_helpers.py:603: UserWarning: Pyarrow could not determine the type of columns: tag.
  warnings.warn(

table 156187 uploaded
166291 started
table 56651 uploaded
65935 started
table 5432 uploaded
8815 started
table 8947 uploaded
96304 started
table 27192 uploaded
163911 started
table 8664 uploaded
102760 started
table 2110 uploaded
170915 started
table 144422 uploaded
6595 started
table 7227 uploaded
65133 started
table 141668 uploaded
5489 started
table 65935 uploaded
8881 started
table 76753 uploaded
170751 started
table 192503 uploaded
93328 started
table 165927 uploaded
4429 started
table 166291 uploaded
7044 started
table 59107 uploaded
33270 started
table 8815 uploaded
6070 started
table 102760 uploaded
76056 started
table 96304 uploaded
25839 started
table 163911 uploaded
1269 started
table 65133 uploaded
44851 started
table 6595 uploaded
109968 started
table 5489 uploaded
121225 started
table 170751 uploaded
6497 started
table 170915 uploaded
8392 started
table 8881 uploaded
105504 started

/opt/conda/lib/python3.10/site-packages/google/cloud/bigquery/_pandas_helpers.py:603: UserWarning: Pyarrow could not determine the type of columns: tag.
  warnings.warn(

table 7044 uploaded
135695 started
table 33270 uploaded
6657 started
table 4429 uploaded
109064 started
table 1269 uploaded
161588 started
table 93328 uploaded
193851 started

/opt/conda/lib/python3.10/site-packages/google/cloud/bigquery/_pandas_helpers.py:603: UserWarning: Pyarrow could not determine the type of columns: tag.
  warnings.warn(

table 76056 uploaded
120942 started
table 25839 uploaded
5645 started
table 6070 uploaded
127974 started
table 44851 uploaded
96616 started
table 8392 uploaded
151501 started
table 121225 uploaded
203517 started
table 109968 uploaded
188307 started

/opt/conda/lib/python3.10/site-packages/google/cloud/bigquery/_pandas_helpers.py:603: UserWarning: Pyarrow could not determine the type of columns: tag.
  warnings.warn(

table 6657 uploaded
7490 started
table 135695 uploaded
6178 started
table 105504 uploaded
81276 started
table 109064 uploaded
1874 started
table 6497 uploaded
4437 started
table 120942 uploaded
117017 started
table 127974 uploaded
66544 started
table 193851 uploaded
27724 started
table 5645 uploaded
163931 started
table 161588 uploaded
6233 started
table 7490 uploaded
2879 started
table 151501 uploaded
52715 started
table 6178 uploaded
168996 started
table 203517 uploaded
3854 started
table 96616 uploaded
187123 started
table 188307 uploaded
5219 started
table 1874 uploaded
2304 started
table 81276 uploaded
5470 started
table 27724 uploaded
144172 started
table 4437 uploaded
5628 started
table 163931 uploaded
91335 started
table 168996 uploaded
2075 started
table 2879 uploaded
180095 started
table 117017 uploaded
79259 started
table 6233 uploaded
6296 started
table 187123 uploaded
103027 started
table 5219 uploaded
table 2304 uploaded165491 started
126919 started

table 3854 uploaded
568 started
table 91335 uploaded
114035 started
table 5470 uploaded
505 started
table 66544 uploaded
67983 started
table 52715 uploaded
113582 started
table 2075 uploaded
83588 started
table 5628 uploaded
4954 started
table 180095 uploaded
6591 started
table 165491 uploaded
6706 started

/opt/conda/lib/python3.10/site-packages/google/cloud/bigquery/_pandas_helpers.py:603: UserWarning: Pyarrow could not determine the type of columns: tag.
  warnings.warn(

table 79259 uploaded
155800 started
table 505 uploaded
164228 started
table 568 uploaded
8190 started
table 126919 uploaded
7401 started
table 114035 uploaded
3251 started
table 144172 uploaded
140525 started

/opt/conda/lib/python3.10/site-packages/google/cloud/bigquery/_pandas_helpers.py:603: UserWarning: Pyarrow could not determine the type of columns: tag.
  warnings.warn(

table 6296 uploaded
7442 started
table 83588 uploaded
195757 started
table 67983 uploaded
7994 started
table 103027 uploaded
35906 started
table 4954 uploaded
25952 started
table 6591 uploaded
81989 started
table 113582 uploaded
87194 started

/opt/conda/lib/python3.10/site-packages/google/cloud/bigquery/_pandas_helpers.py:603: UserWarning: Pyarrow could not determine the type of columns: tag.
  warnings.warn(

table 140525 uploaded
4858 started
table 7401 uploaded
42734 started
table 164228 uploaded
26688 started
table 3251 uploaded
60040 started
table 155800 uploaded
110106 started
table 195757 uploaded
182419 started
table 6706 uploaded
148369 started
table 7994 uploaded
198791 started

/opt/conda/lib/python3.10/site-packages/google/cloud/bigquery/_pandas_helpers.py:603: UserWarning: Pyarrow could not determine the type of columns: tag.
  warnings.warn(

table 7442 uploaded
82684 started
table 25952 uploaded
5005 started
table 8190 uploaded
97834 started
table 81989 uploaded
128540 started
table 87194 uploaded
104879 started
table 35906 uploaded
72129 started
table 42734 uploaded
78316 started
table 60040 uploaded
7185 started
table 26688 uploaded
118760 started
table 110106 uploaded
193944 started
table 182419 uploaded
179437 started
table 82684 uploaded
26148 started
table 148369 uploaded
670 started
table 5005 uploaded
3060 started
table 4858 uploaded
159819 started
table 198791 uploaded
160020 started
table 104879 uploaded
51503 started
table 128540 uploaded
5069 started
table 72129 uploaded
106204 started
table 97834 uploaded
78278 started
table 118760 uploaded
2516 started
table 193944 uploaded
126987 started

/opt/conda/lib/python3.10/site-packages/google/cloud/bigquery/_pandas_helpers.py:603: UserWarning: Pyarrow could not determine the type of columns: tag.
  warnings.warn(

table 78316 uploaded
1989 started
table 179437 uploaded
113263 started
table 670 uploaded
6952 started
table 159819 uploaded
1317 started
table 51503 uploaded
132442 started
table 7185 uploaded
4989 started
table 5069 uploaded
177867 started
table 160020 uploaded
841 started
table 106204 uploaded
42725 started
table 78278 uploaded
32605 started
table 2516 uploaded
3970 started
table 3060 uploaded
114066 started
table 26148 uploaded
27751 started

/opt/conda/lib/python3.10/site-packages/google/cloud/bigquery/_pandas_helpers.py:603: UserWarning: Pyarrow could not determine the type of columns: tag.
  warnings.warn(

table 113263 uploaded
197757 started

/opt/conda/lib/python3.10/site-packages/google/cloud/bigquery/_pandas_helpers.py:603: UserWarning: Pyarrow could not determine the type of columns: tag.
  warnings.warn(

table 126987 uploaded
112469 started
table 6952 uploaded
52005 started
table 132442 uploaded
39449 started
table 1989 uploaded
136686 started

/opt/conda/lib/python3.10/site-packages/google/cloud/bigquery/_pandas_helpers.py:603: UserWarning: Pyarrow could not determine the type of columns: tag.
  warnings.warn(

table 4989 uploaded
table 32605 uploaded172637 started

48704 started
table 42725 uploaded
5850 started
table 177867 uploaded
4467 started
table 114066 uploaded
205425 started
table 52005 uploaded
52831 started
table 841 uploaded
6858 started
table 27751 uploaded
31869 started
table 112469 uploaded
34246 started
table 3970 uploaded
82980 started
table 136686 uploaded
3832 started
table 39449 uploaded
1051 started
table 48704 uploaded
34499 started
table 1317 uploaded
4658 started
table 197757 uploaded
26539 started
table 172637 uploaded
1549 started
table 5850 uploaded
6484 started
table 52831 uploaded
203224 started

/opt/conda/lib/python3.10/site-packages/google/cloud/bigquery/_pandas_helpers.py:603: UserWarning: Pyarrow could not determine the type of columns: tag.
  warnings.warn(

table 34246 uploaded
142420 started
table 4467 uploaded
2207 started
table 34499 uploaded
300 started
table 1051 uploaded
69227 started
table 3832 uploaded
48239 started
table 6858 uploaded
51573 started
table 205425 uploaded
39183 started
table 6484 uploaded
6668 started
table 4658 uploaded
127090 started
table 1549 uploaded
1759 started
table 31869 uploaded
105375 started
table 203224 uploaded
26736 started
table 82980 uploaded
8871 started
table 26539 uploaded
113906 started
table 51573 uploaded
7042 started
table 142420 uploaded
60032 started
table 300 uploaded
33685 started
table 6668 uploaded
176829 started
table 1759 uploaded
167234 started
table 2207 uploaded
74653 started
table 48239 uploaded
7991 started
table 113906 uploaded
6602 started
table 105375 uploaded
6813 started
table 39183 uploaded
2387 started
table 69227 uploaded
1227 started
table 7042 uploaded
8039 started
table 127090 uploaded
79187 started
table 8871 uploaded
123571 started
table 60032 uploaded
6129 started
table 33685 uploaded
6104 started
table 167234 uploaded
3774 started
table 26736 uploaded
106696 started
table 2387 uploaded
69677 started
table 7991 uploaded
8025 started
table 8039 uploaded
55190 started
table 176829 uploaded
4362 started
table 6602 uploaded
26188 started
table 6813 uploaded
146922 started
table 1227 uploaded
85342 started
table 123571 uploaded
3098 started
table 6104 uploaded
101127 started
table 106696 uploaded
97244 started
table 79187 uploaded
6466 started
table 3774 uploaded
7713 started
table 55190 uploaded
133161 started
table 69677 uploaded

/opt/conda/lib/python3.10/site-packages/google/cloud/bigquery/_pandas_helpers.py:603: UserWarning: Pyarrow could not determine the type of columns: tag.
  warnings.warn(

166478 started
table 74653 uploaded
2736 started
table 8025 uploaded
141714 started
table 26188 uploaded
7073 started
table 6129 uploaded
46848 started
table 85342 uploaded
142534 started
table 97244 uploaded
161348 started
table 146922 uploaded
6403 started
table 3098 uploaded
26157 started
table 4362 uploaded
3537 started

/opt/conda/lib/python3.10/site-packages/google/cloud/bigquery/_pandas_helpers.py:603: UserWarning: Pyarrow could not determine the type of columns: tag.
  warnings.warn(

table 6466 uploaded
27478 started
table 101127 uploaded
1377 started
table 7713 uploaded
5996 started
table 2736 uploaded
4038 started
table 141714 uploaded
44124 started
table 142534 uploaded
8716 started
table 133161 uploaded
26137 started
table 161348 uploaded
79800 started
table 7073 uploaded
40337 started
table 26157 uploaded
143237 started
table 6403 uploaded
5158 started
table 27478 uploaded
2642 started
table 46848 uploaded
65259 started
table 166478 uploaded
5959 started
table 5996 uploaded
112381 started
table 1377 uploaded
46967 started
table 3537 uploaded
199476 started
table 8716 uploaded
65 started
table 4038 uploaded
131478 started
table 26137 uploaded
77665 started
table 79800 uploaded
7235 started
table 44124 uploaded
134747 started

/opt/conda/lib/python3.10/site-packages/google/cloud/bigquery/_pandas_helpers.py:603: UserWarning: Pyarrow could not determine the type of columns: tag.
  warnings.warn(

table 40337 uploaded
3681 started
table 65259 uploaded
91858 started
table 5158 uploaded
25974 started
table 143237 uploaded
8589 started
table 2642 uploaded
173925 started
table 5959 uploaded
54349 started

/opt/conda/lib/python3.10/site-packages/google/cloud/bigquery/_pandas_helpers.py:603: UserWarning: Pyarrow could not determine the type of columns: tag.
  warnings.warn(

table 199476 uploaded
25893 started
table 131478 uploaded
189577 started
table 46967 uploaded
8382 started
table 77665 uploaded
6613 started

/opt/conda/lib/python3.10/site-packages/google/cloud/bigquery/_pandas_helpers.py:603: UserWarning: Pyarrow could not determine the type of columns: tag.
  warnings.warn(

table 65 uploaded
2515 started
table 7235 uploaded
184999 started
table 91858 uploaded
71700 started
table 134747 uploaded
26746 started
table 112381 uploaded
194861 started
table 173925 uploaded
142857 started

/opt/conda/lib/python3.10/site-packages/google/cloud/bigquery/_pandas_helpers.py:603: UserWarning: Pyarrow could not determine the type of columns: tag.
  warnings.warn(

table 3681 uploaded
83976 started
table 54349 uploaded
117726 started
table 25974 uploaded
3725 started
table 6613 uploaded
4305 started
table 8382 uploaded
3523 started
table 25893 uploaded
table 2515 uploaded108780 started

163020 started
table 189577 uploaded
5361 started
table 8589 uploaded
3918 started
table 184999 uploaded
8652 started
table 71700 uploaded
153959 started
table 194861 uploaded
3629 started
table 117726 uploaded
138632 started
table 83976 uploaded
121374 started
table 26746 uploaded
135143 started
table 142857 uploaded
113313 started
table 108780 uploaded
106590 started
table 3725 uploaded
93578 started
table 3523 uploaded
7580 started
table 8652 uploaded
127315 started
table 5361 uploaded
4262 started
table 163020 uploaded
755 started
table 3629 uploaded
26178 started
table 4305 uploaded
3070 started
table 153959 uploaded
2933 started
table 3918 uploaded
6449 started
table 121374 uploaded
26021 started
table 135143 uploaded
134093 started
table 138632 uploaded
55498 started
table 106590 uploaded
31032 started
table 4262 uploaded
6160 started
table 7580 uploaded
32862 started
table 93578 uploaded
176653 started
table 113313 uploaded
69995 started
table 127315 uploaded
7027 started
table 3070 uploaded
111661 started
table 26021 uploaded
1217 started
table 26178 uploaded
4729 started
table 134093 uploaded
165239 started
table 755 uploaded
70976 started
table 2933 uploaded
26776 started
table 31032 uploaded
6083 started
table 6160 uploaded
41285 started
table 69995 uploaded
86320 started
table 7027 uploaded
1079 started
table 6449 uploaded
165085 started
table 176653 uploaded
148626 started
table 1217 uploaded
4470 started
table 55498 uploaded
2505 started
table 32862 uploaded
5334 started
table 4729 uploaded
149130 started

/opt/conda/lib/python3.10/site-packages/google/cloud/bigquery/_pandas_helpers.py:603: UserWarning: Pyarrow could not determine the type of columns: tag.
  warnings.warn(

table 165239 uploaded
573 started
table 41285 uploaded
7025 started
table 70976 uploaded
190401 started
table 111661 uploaded
8535 started
table 26776 uploaded
1832 started
table 6083 uploaded
4415 started
table 148626 uploaded
42856 started
table 86320 uploaded
123565 started
table 1079 uploaded
136333 started
table 5334 uploaded
1887 started
table 573 uploaded
96448 started
table 149130 uploaded
71573 started
table 4470 uploaded
33966 started
table 2505 uploaded
27803 started
table 4415 uploaded
3530 started
table 190401 uploaded
188311 started
table 165085 uploaded
46331 started
table 7025 uploaded
2659 started
table 136333 uploaded
3501 started
table 1832 uploaded
3453 started
table 8535 uploaded
26191 started
table 1887 uploaded
70186 started
table 42856 uploaded
51246 started
table 33966 uploaded
78218 started
table 71573 uploaded
6044 started
table 123565 uploaded
6701 started
table 96448 uploaded
133137 started

/opt/conda/lib/python3.10/site-packages/google/cloud/bigquery/_pandas_helpers.py:603: UserWarning: Pyarrow could not determine the type of columns: tag.
  warnings.warn(

table 3530 uploaded
2351 started
table 46331 uploaded
32620 started
table 27803 uploaded
158402 started
table 188311 uploaded
66665 started
table 3501 uploaded
85012 started
table 2659 uploaded
157385 started
table 70186 uploaded
172091 started
table 51246 uploaded
73276 started
table 26191 uploaded
4122 started
table 3453 uploaded
149412 started
table 78218 uploaded
163909 started

/opt/conda/lib/python3.10/site-packages/google/cloud/bigquery/_pandas_helpers.py:603: UserWarning: Pyarrow could not determine the type of columns: tag.
  warnings.warn(

table 6701 uploaded
31737 started
table 133137 uploaded
133159 started
table 6044 uploaded
131050 started
table 158402 uploaded
58306 started
table 66665 uploaded
512 started
table 85012 uploaded
562 started
table 2351 uploaded
26002 started
table 32620 uploaded
5350 started
table 73276 uploaded
148952 started
table 4122 uploaded
49666 started
table 31737 uploaded
4037 started
table 163909 uploaded
91302 started
table 157385 uploaded
133135 started
table 149412 uploaded
6757 started
table 172091 uploaded
84796 started
table 133159 uploaded
69809 started
table 512 uploaded
34018 started
table 26002 uploaded
151717 started
table 562 uploaded
26812 started
table 58306 uploaded
93748 started
table 5350 uploaded
101207 started
table 49666 uploaded
6256 started
table 133135 uploaded
6201 started
table 4037 uploaded
93270 started
table 6757 uploaded
62385 started
table 131050 uploaded
1896 started
table 34018 uploaded
88879 started
table 148952 uploaded
122270 started
table 69809 uploadedtable 26812 uploaded

160563 started156944 started

table 93748 uploaded
153792 started
table 101207 uploaded
94969 started
table 84796 uploaded
27731 started
table 91302 uploaded
143245 started
table 6201 uploaded
26257 started
table 151717 uploaded
54686 started
table 6256 uploaded
80939 started
table 62385 uploaded
6896 started
table 88879 uploaded
195671 started
table 1896 uploaded
26464 started
table 93270 uploaded
53121 started
table 156944 uploaded
32153 started
table 160563 uploaded
25759 started
table 94969 uploaded
176701 started
table 122270 uploaded
2887 started
table 26257 uploaded
183833 started
table 143245 uploaded
133153 started
table 80939 uploaded
8464 started
table 153792 uploaded
31045 started

/opt/conda/lib/python3.10/site-packages/google/cloud/bigquery/_pandas_helpers.py:603: UserWarning: Pyarrow could not determine the type of columns: tag.
  warnings.warn(

table 6896 uploaded
586 started
table 26464 uploaded
100044 started
table 27731 uploaded
142999 started
table 54686 uploaded
6492 started

/opt/conda/lib/python3.10/site-packages/google/cloud/bigquery/_pandas_helpers.py:603: UserWarning: Pyarrow could not determine the type of columns: tag.
  warnings.warn(

table 53121 uploaded
133127 started
table 25759 uploaded
192315 started
table 195671 uploaded
3529 started

/opt/conda/lib/python3.10/site-packages/google/cloud/bigquery/_pandas_helpers.py:603: UserWarning: Pyarrow could not determine the type of columns: tag.
  warnings.warn(

table 32153 uploaded
100397 started
table 176701 uploaded
74530 started
table 586 uploaded
3909 started
table 2887 uploaded
7282 started
table 6492 uploaded
table 8464 uploaded1572 started

2955 started
table 183833 uploaded
25822 started
table 142999 uploaded
185443 started
table 31045 uploaded
170125 started
table 100044 uploaded
5758 started
table 133127 uploaded
88835 started
table 133153 uploaded
117123 started
table 3529 uploaded
132494 started
table 3909 uploaded
7482 started
table 192315 uploaded
1627 started
table 74530 uploaded
178323 started
table 1572 uploaded
26491 started
table 7282 uploaded
3646 started
table 100397 uploaded
87425 started
table 25822 uploaded
107565 started
table 2955 uploaded
1225 started
table 170125 uploaded
8721 started
table 185443 uploaded
365 started
table 88835 uploaded
522 started
table 117123 uploaded
53873 started
table 5758 uploaded
52279 started
table 132494 uploaded
6260 started
table 7482 uploaded
100108 started
table 3646 uploaded
111314 started
table 1627 uploaded
488 started
table 178323 uploaded
4372 started
table 87425 uploaded
1054 started
table 365 uploaded
1081 started
table 8721 uploaded
2299 started

/opt/conda/lib/python3.10/site-packages/google/cloud/bigquery/_pandas_helpers.py:603: UserWarning: Pyarrow could not determine the type of columns: tag.
  warnings.warn(

table 52279 uploaded
69604 started
table 26491 uploaded
77264 started
table 522 uploaded
53880 started
table 6260 uploaded
5035 started
table 1225 uploaded
136345 started
table 100108 uploaded
6845 started
table 53873 uploaded
141060 started
table 4372 uploaded
506 started
table 107565 uploaded
116977 started
table 488 uploaded
27846 started
table 111314 uploaded
95026 started

/opt/conda/lib/python3.10/site-packages/google/cloud/bigquery/_pandas_helpers.py:603: UserWarning: Pyarrow could not determine the type of columns: tag.
  warnings.warn(

table 2299 uploaded
72630 started
table 1054 uploaded
5828 started
table 53880 uploaded
138898 started
table 1081 uploaded
133798 started

/opt/conda/lib/python3.10/site-packages/google/cloud/bigquery/_pandas_helpers.py:603: UserWarning: Pyarrow could not determine the type of columns: tag.
  warnings.warn(

table 77264 uploaded
178843 started
table 5035 uploaded
136938 started
table 6845 uploaded
62265 started
table 506 uploaded
7188 started
table 141060 uploaded
7141 started
table 136345 uploaded
183159 started
table 27846 uploaded
78445 started
table 95026 uploaded
66801 started
table 116977 uploaded
136449 started
table 133798 uploaded
52241 started
table 5828 uploaded
136441 started
table 62265 uploaded
165103 started
table 72630 uploaded
89030 started
table 138898 uploaded
6837 started
table 178843 uploaded
3813 started
table 7188 uploaded
91056 started
table 136938 uploaded
56885 started
table 183159 uploaded
26365 started
table 69604 uploaded
6916 started
table 66801 uploaded
74621 started
table 136449 uploaded
3584 started
table 52241 uploaded
109425 started
table 3813 uploaded
82308 started
table 78445 uploaded
87433 started
table 89030 uploaded
26349 started
table 136441 uploaded
169 started
table 56885 uploaded
6872 started
table 165103 uploaded
8660 started
table 91056 uploaded
6071 started
table 7141 uploaded
109489 started
table 3584 uploaded
4563 started
table 6916 uploaded
6770 started
table 6837 uploaded
161686 started
table 26365 uploaded
128632 started
table 87433 uploaded
4684 started
table 109425 uploaded
59834 started
table 6872 uploaded
86721 started

/opt/conda/lib/python3.10/site-packages/google/cloud/bigquery/_pandas_helpers.py:603: UserWarning: Pyarrow could not determine the type of columns: tag.
  warnings.warn(

table 82308 uploaded
27784 started
table 8660 uploaded
163118 started
table 169 uploaded
6658 started
table 109489 uploaded
435 started
table 26349 uploaded
134393 started
table 4563 uploaded
156387 started
table 6770 uploaded
32591 started
table 6071 uploaded
5130 started
table 74621 uploaded
4621 started
table 59834 uploaded
112277 started
table 161686 uploaded
139857 started
table 128632 uploaded
3651 started
table 27784 uploaded
32646 started
table 4684 uploaded
6223 started
table 86721 uploaded
128089 started
table 6658 uploaded
55209 started
table 156387 uploaded
1005 started
table 134393 uploaded
188189 started
table 163118 uploaded
70862 started
table 435 uploaded
5371 started
table 5130 uploaded
6187 started
table 32591 uploaded
3620 started
table 112277 uploaded
73089 started
table 4621 uploaded
2441 started
table 32646 uploaded
1337 started
table 3651 uploaded
6552 started
table 6223 uploaded
71254 started
table 139857 uploaded
34057 started
table 55209 uploaded
6882 started
table 128089 uploaded
144268 started

/opt/conda/lib/python3.10/site-packages/google/cloud/bigquery/_pandas_helpers.py:603: UserWarning: Pyarrow could not determine the type of columns: tag.
  warnings.warn(

table 188189 uploaded
1998 started
table 1005 uploaded
4440 started
table 3620 uploaded
94280 started
table 70862 uploaded
2629 started
table 6187 uploaded
7051 started
table 73089 uploaded
4174 started
table 5371 uploaded
6957 started
table 6552 uploaded
59421 started
table 1337 uploaded
87079 started
table 71254 uploaded
3246 started
table 6882 uploaded
6287 started
table 34057 uploaded
41889 started
table 2441 uploaded
143317 started

/opt/conda/lib/python3.10/site-packages/google/cloud/bigquery/_pandas_helpers.py:603: UserWarning: Pyarrow could not determine the type of columns: tag.
  warnings.warn(

table 1998 uploaded
39244 started
table 144268 uploaded
26156 started
table 4174 uploaded
8016 started
table 6957 uploaded
7982 started
table 59421 uploaded
161060 started
table 7051 uploaded
32518 started
table 2629 uploaded
471 started
table 4440 uploaded
8916 started
table 3246 uploaded
47935 started
table 87079 uploaded
167064 started
table 41889 uploaded
8373 started
table 94280 uploaded
table 143317 uploaded4841 started

99633 started
table 6287 uploaded
76063 started
table 39244 uploaded
2162 started
table 8016 uploaded
133149 started
table 7982 uploaded
1023 started
table 26156 uploaded
6011 started
table 32518 uploaded
3365 started
table 47935 uploaded
115174 started
table 471 uploaded
54259 started
table 8916 uploaded
6510 started
table 161060 uploaded
5339 started
table 8373 uploaded
180587 started
table 167064 uploaded
111696 started
table 133149 uploaded
104638 started
table 76063 uploaded
192497 started
table 4841 uploaded
26366 started
table 3365 uploaded
27032 started
table 99633 uploaded
90870 started
table 6011 uploaded
63179 started
table 5339 uploaded
30803 started
table 54259 uploaded
69611 started
table 1023 uploaded
68848 started
table 2162 uploaded
8878 started
table 180587 uploaded
53375 started
table 115174 uploaded
4325 started
table 111696 uploaded
3351 started
table 27032 uploaded
31889 started
table 192497 uploaded
table 104638 uploaded5056 started

3967 started
table 26366 uploaded
194801 started
table 6510 uploaded
4519 started
table 69611 uploaded
8130 started
table 68848 uploaded
135137 started
table 63179 uploaded
107042 started
table 30803 uploaded
154474 started
table 53375 uploaded
2083 started
table 8878 uploaded
8870 started
table 90870 uploaded
3848 started
table 31889 uploaded
46 started
table 3967 uploaded
116989 started
table 8130 uploaded
1960 started
table 194801 uploaded
37257 started
table 5056 uploaded
1623 started
table 135137 uploaded
2610 started
table 4519 uploaded
27351 started
table 107042 uploaded
108571 started
table 154474 uploaded
27172 started
table 3351 uploaded
4298 started
table 2083 uploaded
39659 started
table 3848 uploaded
89347 started
table 4325 uploaded
90943 started
table 8870 uploaded
84779 started
table 116989 uploaded
2134 started
table 46 uploaded
5669 started
table 2610 uploaded
173955 started
table 1960 uploaded
4326 started
table 27351 uploaded
6842 started
table 37257 uploaded
37382 started
table 4298 uploaded
429 started
table 108571 uploaded
7301 started
table 90943 uploaded
7625 started
table 1623 uploaded
6714 started
table 84779 uploaded
1688 started
table 5669 uploaded
104089 started
table 4326 uploaded
95307 started
table 39659 uploaded
80928 started
table 173955 uploaded
193589 started
table 429 uploaded
132965 started
table 27172 uploaded
26372 started
table 89347 uploaded
189549 started
table 7301 uploaded
86882 started
table 37382 uploaded
175649 started
table 2134 uploaded
78916 started
table 7625 uploaded
33264 started
table 6842 uploaded
2454 started
table 80928 uploaded
159093 started
table 6714 uploaded
32902 started

/opt/conda/lib/python3.10/site-packages/google/cloud/bigquery/_pandas_helpers.py:603: UserWarning: Pyarrow could not determine the type of columns: tag.
  warnings.warn(

table 95307 uploaded
2962 started
table 104089 uploaded
1952 started
table 1688 uploaded
168278 started
table 175649 uploaded
179453 started

/opt/conda/lib/python3.10/site-packages/google/cloud/bigquery/_pandas_helpers.py:603: UserWarning: Pyarrow could not determine the type of columns: tag.
  warnings.warn(

table 86882 uploaded
701 started
table 193589 uploaded
201444 started
table 132965 uploaded
168430 started
table 33264 uploaded
5596 started
table 26372 uploaded
132362 started
table 2454 uploaded
7348 started
table 78916 uploaded
167832 started
table 1952 uploaded
94978 started
table 2962 uploaded
2538 started
table 189549 uploaded
76175 started
table 159093 uploaded
4877 started
table 32902 uploaded
113573 started
table 701 uploaded
106054 started
table 168430 uploaded
34579 started
table 201444 uploaded
86574 started
table 7348 uploaded
6607 started
table 132362 uploaded
85881 started
table 2538 uploaded
5889 started
table 76175 uploaded
69498 started
table 179453 uploaded
1582 started
table 168278 uploaded
472 started
table 4877 uploaded
2125 started
table 113573 uploaded
4948 started
table 167832 uploaded
6723 started
table 94978 uploaded
114556 started
table 34579 uploaded
55284 started
table 86574 uploaded
159024 started
table 5596 uploaded
961 started
table 106054 uploaded
143053 started
table 6607 uploaded
3292 started
table 85881 uploaded
81195 started
table 69498 uploaded
4318 started
table 1582 uploaded
25998 started
table 5889 uploaded
5309 started
table 4948 uploaded
60037 started
table 472 uploaded
177871 started
table 6723 uploaded
156785 started
table 2125 uploaded
102485 started
table 55284 uploaded
7932 started
table 3292 uploaded
1698 started
table 961 uploaded
104314 started
table 114556 uploaded
1771 started
table 25998 uploaded
84772 started
table 143053 uploaded
117879 started
table 60037 uploaded
144134 started
table 5309 uploaded
25913 started
table 81195 uploaded
8944 started
table 159024 uploaded
131474 started
table 177871 uploaded
2359 started
table 7932 uploaded
155288 started
table 156785 uploaded
141834 started
table 102485 uploaded
147330 started
table 4318 uploaded
41688 started
table 1698 uploaded
89281 started
table 25913 uploaded
6182 started
table 144134 uploaded
6420 started
table 131474 uploaded
84120 started
table 117879 uploaded
167740 started
table 8944 uploaded
3255 started
table 84772 uploaded
163921 started
table 104314 uploaded
167696 started

/opt/conda/lib/python3.10/site-packages/google/cloud/bigquery/_pandas_helpers.py:603: UserWarning: Pyarrow could not determine the type of columns: tag.
  warnings.warn(
/opt/conda/lib/python3.10/site-packages/google/cloud/bigquery/_pandas_helpers.py:603: UserWarning: Pyarrow could not determine the type of columns: tag.
  warnings.warn(

table 147330 uploaded
164268 started
table 89281 uploaded
50792 started
table 1771 uploaded
85259 started
table 155288 uploaded
5964 started
table 2359 uploaded
1146 started

/opt/conda/lib/python3.10/site-packages/google/cloud/bigquery/_pandas_helpers.py:603: UserWarning: Pyarrow could not determine the type of columns: tag.
  warnings.warn(

table 41688 uploaded
3862 started
table 141834 uploaded
5932 started
table 3255 uploaded
70649 started
table 167696 uploaded
4241 started
table 84120 uploaded
74257 started
table 163921 uploaded
4838 started
table 167740 uploaded
102066 started
table 6182 uploaded
81564 started
table 6420 uploaded
4260 started

/opt/conda/lib/python3.10/site-packages/google/cloud/bigquery/_pandas_helpers.py:603: UserWarning: Pyarrow could not determine the type of columns: tag.
  warnings.warn(

table 50792 uploaded
116207 started

/opt/conda/lib/python3.10/site-packages/google/cloud/bigquery/_pandas_helpers.py:603: UserWarning: Pyarrow could not determine the type of columns: tag.
  warnings.warn(

table 5964 uploaded
872 started
table 85259 uploaded
31435 started
table 3862 uploaded
118866 started
table 164268 uploaded
5289 started
table 1146 uploaded
95088 started
table 70649 uploaded
92819 started
table 81564 uploaded
79207 started
table 74257 uploaded
2121 started
table 4838 uploaded
8985 started
table 102066 uploaded
147441 started
table 4241 uploaded
1277 started
table 5932 uploaded
4486 started
table 872 uploaded
100359 started
table 4260 uploaded
158864 started
table 116207 uploaded
129364 started
table 5289 uploaded
26236 started
table 92819 uploaded
6228 started
table 118866 uploaded
26470 started
table 31435 uploaded
8788 started
table 79207 uploaded
2896 started
table 95088 uploaded
103255 started
table 8985 uploaded
9002 started
table 100359 uploaded
110426 started
table 4486 uploaded
148671 started
table 147441 uploaded
144406 started
table 1277 uploaded
8796 started
table 26236 uploaded
40988 started
table 158864 uploaded
6442 started
table 8788 uploaded
376 started
table 6228 uploaded
148727 started
table 129364 uploaded
53996 started
table 2896 uploaded
25916 started
table 26470 uploaded
180031 started
table 9002 uploaded
109580 started
table 144406 uploaded
38320 started
table 2121 uploaded
5175 started
table 110426 uploaded
1231 started
table 148671 uploaded
table 103255 uploaded60618 started

6667 started
table 8796 uploaded
26334 started
table 40988 uploaded
138230 started
table 53996 uploaded
150254 started
table 25916 uploaded
27874 startedtable 148727 uploaded

71106 started
table 376 uploaded
44729 started
table 6442 uploaded
155595 started
table 180031 uploaded
4059 started

/opt/conda/lib/python3.10/site-packages/google/cloud/bigquery/_pandas_helpers.py:603: UserWarning: Pyarrow could not determine the type of columns: tag.
  warnings.warn(

table 109580 uploaded
69122 started
table 1231 uploaded
3375 started
table 26334 uploaded
180297 started
table 38320 uploaded
106441 started
table 150254 uploaded
25931 started
table 6667 uploaded
64285 started
table 60618 uploaded
112085 started
table 5175 uploaded
2991 started
table 27874 uploaded
139124 started
table 44729 uploaded
8254 started
table 71106 uploaded
74740 started
table 155595 uploaded
175387 started
table 4059 uploaded
2554 started
table 138230 uploaded
107352 started
table 106441 uploaded
142925 started
table 69122 uploaded
71129 started
table 25931 uploaded
200326 started
table 64285 uploaded
56339 started
table 3375 uploaded
6190 started
table 112085 uploaded
54778 started

/opt/conda/lib/python3.10/site-packages/google/cloud/bigquery/_pandas_helpers.py:603: UserWarning: Pyarrow could not determine the type of columns: tag.
  warnings.warn(
/opt/conda/lib/python3.10/site-packages/google/cloud/bigquery/_pandas_helpers.py:603: UserWarning: Pyarrow could not determine the type of columns: tag.
  warnings.warn(

table 175387 uploaded
171925 started
table 139124 uploaded
3126 started
table 180297 uploaded
171583 started
table 2991 uploaded
93838 started
table 8254 uploaded
4166 started
table 107352 uploaded
5401 started
table 2554 uploaded
3001 started
table 74740 uploaded
60314 started
table 200326 uploaded
57526 started
table 56339 uploaded
26346 started
table 6190 uploaded
705 started
table 142925 uploaded
111647 started
table 71129 uploaded
116720 started
table 3126 uploaded
90009 started
table 93838 uploaded
2312 started
table 5401 uploaded
84844 started
table 54778 uploaded
172255 started
table 171583 uploaded
73183 started
table 3001 uploaded
4130 started
table 4166 uploaded
27315 started
table 60314 uploaded
2318 started
table 57526 uploaded
45100 started
table 26346 uploaded
1463 started
table 116720 uploaded
2488 started
table 171925 uploaded
95567 started
table 90009 uploaded
72283 started
table 84844 uploaded
3938 started
table 705 uploaded
113521 started
table 73183 uploaded
1509 started
table 172255 uploaded
2569 started
table 2312 uploaded
69 started
table 2318 uploaded
183843 started
table 4130 uploaded
7408 started
table 2488 uploaded
103279 started
table 45100 uploaded
91206 started
table 1463 uploaded
80586 started
table 95567 uploaded
58898 started
table 111647 uploaded
151731 started
table 27315 uploaded
6977 started
table 113521 uploaded
105246 started
table 3938 uploaded
179749 started
table 1509 uploaded
5045 started
table 7408 uploaded
168586 started
table 72283 uploaded
113250 started
table 183843 uploaded
88704 started
table 103279 uploaded
5826 started
table 69 uploaded
7315 started
table 151731 uploaded
142997 started
table 91206 uploaded
121171 started
table 2569 uploaded
8792 started
table 80586 uploaded
50858 started
table 105246 uploaded
1604 started
table 6977 uploaded
1000 started
table 58898 uploaded
6261 started
table 168586 uploaded
4695 started
table 179749 uploaded
104518 started
table 5045 uploaded
3024 started
table 88704 uploaded
5188 started
table 142997 uploaded
157342 started
table 5826 uploaded
184239 started
table 8792 uploaded
134230 started
table 113250 uploaded
174483 started
table 7315 uploaded
170597 started
table 50858 uploaded
131998 started
table 6261 uploaded
185033 started
table 104518 uploaded
158412 started
table 121171 uploaded
128622 started
table 4695 uploaded
486 started
table 1000 uploaded
5179 started
table 1604 uploaded
5853 started
table 5188 uploaded
104339 started
table 3024 uploaded
103935 started
table 134230 uploaded
78681 started
table 174483 uploaded
5269 started
table 131998 uploaded
136475 started
table 170597 uploaded
54445 started
table 184239 uploaded
58998 started
table 486 uploaded
3310 started
table 157342 uploaded
16 started
table 185033 uploaded
79226 started
table 128622 uploaded
84246 started
table 78681 uploaded
7037 started
table 5853 uploaded
6197 started
table 104339 uploaded
66369 started

/opt/conda/lib/python3.10/site-packages/google/cloud/bigquery/_pandas_helpers.py:603: UserWarning: Pyarrow could not determine the type of columns: tag.
  warnings.warn(

table 103935 uploaded
118466 started
table 5269 uploaded
133645 started
table 158412 uploaded
93574 started
table 136475 uploaded
67073 started
table 58998 uploaded
4237 started
table 54445 uploaded
31785 started
table 3310 uploaded
7924 started
table 5179 uploaded
44427 started
table 84246 uploaded
8793 started
table 79226 uploaded
179761 started
table 7037 uploaded
4250 started
table 67073 uploaded
8619 started
table 118466 uploaded
103665 started
table 66369 uploaded
8756 started
table 16 uploaded
2960 started

/opt/conda/lib/python3.10/site-packages/google/cloud/bigquery/_pandas_helpers.py:603: UserWarning: Pyarrow could not determine the type of columns: tag.
  warnings.warn(

table 6197 uploaded
169828 started
table 93574 uploaded
33830 started
table 4237 uploaded
1615 started
table 133645 uploaded
119714 started
table 44427 uploaded
7054 started
table 7924 uploaded
127108 started
table 4250 uploaded
121241 started
table 179761 uploaded
140110 started
table 2960 uploaded
60293 started
table 8756 uploaded
4941 started
table 31785 uploaded
134109 started
table 8793 uploaded
114033 started
table 169828 uploaded
116738 started
table 33830 uploaded
78420 started
table 8619 uploaded
82711 started
table 103665 uploaded
27147 started
table 119714 uploaded
3463 started
table 127108 uploaded
2481 started
table 1615 uploaded
96423 started
table 4941 uploaded
4082 started
table 140110 uploaded
5343 started
table 60293 uploaded
32442 started
table 121241 uploaded
73664 started
table 7054 uploaded
283 started
table 78420 uploaded
65882 started
table 27147 uploaded
3105 started
table 116738 uploaded
4065 started
table 96423 uploaded
7896 started
table 114033 uploaded
8140 started
table 4082 uploaded
104423 started
table 2481 uploaded
151313 started
table 3463 uploaded
3787 started
table 5343 uploaded
30952 started
table 32442 uploaded
120637 started
table 283 uploaded
4958 started
table 82711 uploaded
6769 started
table 4065 uploaded
56003 started
table 3105 uploaded
160952 started
table 8140 uploaded
141397 started
table 134109 uploaded
170117 started
table 73664 uploaded
112512 started
table 30952 uploaded
6073 started
table 151313 uploaded
172793 started

/opt/conda/lib/python3.10/site-packages/google/cloud/bigquery/_pandas_helpers.py:603: UserWarning: Pyarrow could not determine the type of columns: tag.
  warnings.warn(

table 3787 uploaded
6853 started

/opt/conda/lib/python3.10/site-packages/google/cloud/bigquery/_pandas_helpers.py:603: UserWarning: Pyarrow could not determine the type of columns: tag.
  warnings.warn(

table 7896 uploaded
133714 started
table 4958 uploaded
55705 started
table 104423 uploaded
3735 started
table 65882 uploaded
1136 started
table 141397 uploaded
3879 started
table 6769 uploaded
2781 started
table 120637 uploaded
90241 started
table 56003 uploaded
2815 started
table 172793 uploaded
132118 started
table 6073 uploaded
1892 started
table 6853 uploaded
165831 started
table 170117 uploaded
101247 started
table 160952 uploaded
45662 started
table 133714 uploaded
185353 started
table 2781 uploaded
136341 started
table 55705 uploaded
201861 started
table 3879 uploaded
74696 started

/opt/conda/lib/python3.10/site-packages/google/cloud/bigquery/_pandas_helpers.py:603: UserWarning: Pyarrow could not determine the type of columns: tag.
  warnings.warn(
/opt/conda/lib/python3.10/site-packages/google/cloud/bigquery/_pandas_helpers.py:603: UserWarning: Pyarrow could not determine the type of columns: tag.
  warnings.warn(

table 1136 uploaded
136257 started
table 3735 uploaded
5323 started
table 2815 uploaded
6752 started
table 132118 uploaded
4423 started
table 165831 uploaded
189783 started
table 1892 uploaded
2669 started
table 101247 uploaded
77162 started
table 90241 uploaded
47836 started
table 112512 uploaded
182369 started
table 45662 uploaded
127066 started
table 189783 uploaded
7586 started
table 201861 uploaded
112436 started
table 136341 uploaded
5448 started
table 6752 uploaded
32882 started
table 136257 uploaded
6513 started
table 47836 uploaded
76158 started
table 77162 uploaded
41815 started
table 2669 uploaded
85213 started
table 185353 uploaded
3714 started
table 4423 uploaded
2462 started
table 5323 uploaded
27447 started
table 74696 uploaded
46335 started
table 112436 uploaded
153780 started
table 32882 uploaded
163955 started
table 7586 uploaded
53355 started
table 41815 uploaded
7708 started
table 76158 uploaded
4625 started
table 85213 uploaded
95461 started
table 6513 uploaded
44709 started
table 5448 uploaded
290 started
table 2462 uploaded
27778 started
table 182369 uploaded
57669 started
table 3714 uploaded
4238 started
table 27447 uploaded
4219 started
table 127066 uploaded
1278 started
table 163955 uploaded
5644 started
table 46335 uploaded
205303 started

/opt/conda/lib/python3.10/site-packages/google/cloud/bigquery/_pandas_helpers.py:603: UserWarning: Pyarrow could not determine the type of columns: tag.
  warnings.warn(

table 4625 uploaded
102876 started
table 153780 uploaded
1430 started
table 53355 uploaded
2813 started
table 7708 uploaded
31851 started
table 290 uploaded
34464 started
table 95461 uploaded
142424 started
table 27778 uploaded
93061 started
table 4219 uploaded
94837 started
table 44709 uploaded
6302 started
table 4238 uploaded
26248 started
table 1278 uploaded
95007 started
table 57669 uploaded
27899 started
table 5644 uploaded
81669 started
table 102876 uploaded
89203 started
table 1430 uploaded
173355 started
table 205303 uploaded
134041 started
table 34464 uploaded
93242 started
table 2813 uploaded
112070 started
table 26248 uploaded
81 started
table 142424 uploaded
205 started
table 93061 uploaded
8506 started
table 94837 uploaded
84557 started
table 89203 uploaded
table 27899 uploaded119182 started

3974 started
table 31851 uploaded
96753 started
table 81669 uploaded
60179 started
table 173355 uploaded
4571 started
table 6302 uploaded
5573 started
table 95007 uploaded
146305 started

/opt/conda/lib/python3.10/site-packages/google/cloud/bigquery/_pandas_helpers.py:603: UserWarning: Pyarrow could not determine the type of columns: tag.
  warnings.warn(

table 134041 uploaded
105049 started
table 112070 uploaded
table 93242 uploaded98109 started

102991 started
table 205 uploaded
68099 started
table 8506 uploaded
82152 started
table 81 uploaded
515 started
table 60179 uploaded
6206 started
table 4571 uploaded
58706 started
table 3974 uploaded
1058 started
table 84557 uploaded
5721 started
table 5573 uploaded
168252 started
table 146305 uploaded
32957 started
table 105049 uploaded
4797 started
table 119182 uploaded
122890 started
table 102991 uploaded
7107 started
table 96753 uploaded
90876 started
table 98109 uploaded
91762 started
table 6206 uploaded
33781 started
table 82152 uploaded
7038 started
table 68099 uploaded
71717 started
table 5721 uploaded
100485 started
table 168252 uploaded
3438 started
table 58706 uploaded
30981 started
table 4797 uploaded
3295 started
table 7107 uploaded
128854 started
table 1058 uploaded
4747 started
table 515 uploaded
76117 started
table 90876 uploaded
102941 started
table 122890 uploaded
100948 started
table 91762 uploaded
61646 started
table 7038 uploaded
4871 started
table 32957 uploaded
27073 started
table 33781 uploaded
139086 started
table 71717 uploaded
8921 started
table 3438 uploaded
1453 started
table 30981 uploaded
44653 started
table 100485 uploaded
3563 started
table 4747 uploaded
84114 started
table 3295 uploaded
115534 started
table 128854 uploaded
87100 started
table 61646 uploaded
196937 started
table 76117 uploaded
7 started
table 100948 uploaded
7824 started
table 8921 uploaded
26561 started
table 102941 uploaded
162990 started
table 4871 uploaded
5714 started
table 84114 uploaded
1588 started
table 139086 uploaded
180091 started
table 1453 uploaded
4342 started
table 115534 uploaded
54785 started
table 44653 uploaded
6368 started
table 3563 uploaded
26289 started
table 27073 uploaded
782 started
table 7 uploaded
97998 started
table 26561 uploaded
141822 started
table 87100 uploaded
54934 started
table 196937 uploaded
929 started
table 5714 uploaded
8922 started
table 1588 uploaded
66090 started
table 162990 uploaded
490 started
table 54785 uploaded
118354 started
table 7824 uploaded
138202 started
table 6368 uploaded
168 started
table 180091 uploaded
25800 started
table 54934 uploaded
7392 started
table 97998 uploaded
106489 started
table 141822 uploadedtable 26289 uploaded

171491 started93420 started

table 4342 uploaded
93212 started
table 782 uploaded
72334 started
table 8922 uploaded
69529 started
table 66090 uploaded
618 started

/opt/conda/lib/python3.10/site-packages/google/cloud/bigquery/_pandas_helpers.py:603: UserWarning: Pyarrow could not determine the type of columns: tag.
  warnings.warn(

table 929 uploaded
186253 started

/opt/conda/lib/python3.10/site-packages/google/cloud/bigquery/_pandas_helpers.py:603: UserWarning: Pyarrow could not determine the type of columns: tag.
  warnings.warn(

table 168 uploaded
101612 started
table 118354 uploaded
6475 started
table 138202 uploaded
150 started
table 490 uploaded
91416 started
table 93420 uploaded
2310 started
table 106489 uploaded
2108 started
table 25800 uploaded
145168 started
table 171491 uploaded
116465 started
table 72334 uploaded
8949 started
table 93212 uploaded
1608 started
table 7392 uploaded
157853 started
table 69529 uploaded
2474 started
table 618 uploaded
1339 started
table 101612 uploaded
33933 started
table 6475 uploaded
66785 started
table 91416 uploaded
75425 started
table 150 uploaded
169394 started
table 186253 uploaded
89090 started
table 2310 uploaded
158956 started
table 2108 uploaded
118706 started
table 8949 uploaded
5971 started
table 145168 uploaded
1768 started
table 33933 uploaded
96075 started
table 157853 uploaded
78606 started
table 1608 uploaded
72692 started
table 1339 uploaded
173351 started
table 116465 uploaded
36056 started
table 2474 uploaded
33421 started
table 66785 uploaded
197009 started

/opt/conda/lib/python3.10/site-packages/google/cloud/bigquery/_pandas_helpers.py:603: UserWarning: Pyarrow could not determine the type of columns: tag.
  warnings.warn(

table 89090 uploaded
26418 started
table 169394 uploaded
58422 started
table 118706 uploaded
4197 started
table 75425 uploaded
177787 started
table 5971 uploaded
100272 started
table 158956 uploaded
156779 started
table 72692 uploaded
31297 started
table 36056 uploaded
846 started
table 26418 uploaded
54554 started
table 1768 uploaded
26567 started
table 173351 uploaded
26391 started
table 78606 uploaded
5948 started

/opt/conda/lib/python3.10/site-packages/google/cloud/bigquery/_pandas_helpers.py:603: UserWarning: Pyarrow could not determine the type of columns: tag.
  warnings.warn(

table 96075 uploaded
33168 started
table 33421 uploaded
122940 started
table 177787 uploaded
2735 started
table 100272 uploaded
132144 started
table 197009 uploaded
74139 started
table 58422 uploaded
85291 started
table 4197 uploaded
128832 started
table 846 uploaded
890 started

/opt/conda/lib/python3.10/site-packages/google/cloud/bigquery/_pandas_helpers.py:603: UserWarning: Pyarrow could not determine the type of columns: tag.
  warnings.warn(

table 156779 uploaded
66335 started
table 26391 uploaded
26138 started
table 31297 uploaded
1756 started
table 54554 uploaded
3144 started
table 5948 uploaded
1675 started
table 2735 uploaded
152238 started
table 26567 uploaded
54513 started
table 122940 uploaded
3302 started
table 33168 uploaded
130450 started
table 85291 uploaded
2170 started
table 128832 uploaded
119565 started
table 74139 uploaded
5614 started
table 66335 uploaded
48229 started
table 132144 uploaded
32840 started
table 152238 uploaded
1276 started
table 26138 uploaded
2384 started
table 3144 uploaded
152081 started
table 890 uploaded
272 started
table 54513 uploaded
27862 started
table 1756 uploaded
3759 started
table 3302 uploaded
26554 started
table 130450 uploaded
1140 started
table 2170 uploaded
1668 started
table 1675 uploaded
69483 started
table 48229 uploaded
173293 started
table 119565 uploaded
62526 started
table 5614 uploaded
1321 started
table 2384 uploaded
105742 started
table 32840 uploaded
166767 started
table 3759 uploaded
693 started
table 1668 uploaded
7299 started
table 1276 uploaded
119171 started

/opt/conda/lib/python3.10/site-packages/google/cloud/bigquery/_pandas_helpers.py:603: UserWarning: Pyarrow could not determine the type of columns: tag.
  warnings.warn(

table 27862 uploaded
151593 started
table 69483 uploaded
164141 started
table 152081 uploaded
48744 started
table 173293 uploaded
143009 started
table 1140 uploaded
65802 started
table 272 uploaded
129749 started
table 26554 uploaded
3245 started
table 1321 uploaded
164399 started
table 62526 uploaded
1820 started
table 105742 uploaded
183379 started
table 166767 uploaded
136588 started
table 119171 uploaded
6365 started
table 693 uploaded
1489 started
table 151593 uploaded
128600 started
table 65802 uploaded
194396 started
table 164141 uploaded
117 started
table 129749 uploaded
7049 started
table 7299 uploaded
135983 started
table 183379 uploaded
195305 started
table 143009 uploaded
72263 started
table 3245 uploaded
58627 started
table 164399 uploaded
2111 started
table 136588 uploaded
74748 started
table 48744 uploaded
44153 started
table 1820 uploaded
60666 started
table 6365 uploaded
413 started
table 117 uploaded
38867 started
table 1489 uploaded
6370 started
table 135983 uploaded
1183 started
table 194396 uploaded
3397 started
table 72263 uploaded
5809 started
table 195305 uploaded
5717 started
table 58627 uploaded
70643 started
table 7049 uploaded
93782 started
table 44153 uploaded
173467 started
table 128600 uploaded
102123 started
table 60666 uploaded
3792 started
table 74748 uploaded
194797 started

/opt/conda/lib/python3.10/site-packages/google/cloud/bigquery/_pandas_helpers.py:603: UserWarning: Pyarrow could not determine the type of columns: tag.
  warnings.warn(

table 6370 uploaded
3808 started
table 1183 uploaded
7768 started
table 413 uploaded
100527 started
table 2111 uploaded
3753 started
table 5809 uploaded
45030 started
table 3397 uploaded
8872 started
table 70643 uploaded
91630 started
table 5717 uploaded
1632 started
table 38867 uploaded
7359 started
table 93782 uploaded
67620 started
table 102123 uploaded
5843 started
table 173467 uploaded
5300 started
table 194797 uploaded
177725 started
table 100527 uploaded
50641 started
table 3792 uploaded
3504 started
table 45030 uploaded
46640 started
table 3808 uploaded
64511 started
table 3753 uploaded
6735 started
table 8872 uploaded
2080 started
table 91630 uploaded
135268 started

/opt/conda/lib/python3.10/site-packages/google/cloud/bigquery/_pandas_helpers.py:603: UserWarning: Pyarrow could not determine the type of columns: tag.
  warnings.warn(

table 7768 uploaded
57069 started
table 7359 uploaded
27781 started
table 5843 uploaded
157407 started
table 67620 uploaded
4246 started
table 177725 uploaded
117533 started
table 50641 uploaded
1533 started
table 5300 uploaded
57418 started
table 3504 uploaded
143027 started
table 1632 uploaded
696 started
table 6735 uploaded
2551 started
table 46640 uploaded
173619 started
table 2080 uploaded
53953 started
table 135268 uploaded
6025 started
table 27781 uploaded
5704 started
table 157407 uploaded
98799 started
table 57418 uploaded
26663 started
table 1533 uploaded
139757 started
table 4246 uploaded
167388 started

/opt/conda/lib/python3.10/site-packages/google/cloud/bigquery/_pandas_helpers.py:603: UserWarning: Pyarrow could not determine the type of columns: tag.
  warnings.warn(

table 143027 uploaded
33819 started
table 64511 uploaded
98296 started
table 57069 uploaded
151507 started
table 117533 uploaded
174085 started

/opt/conda/lib/python3.10/site-packages/google/cloud/bigquery/_pandas_helpers.py:603: UserWarning: Pyarrow could not determine the type of columns: tag.
  warnings.warn(

table 6025 uploaded
2114 started
table 53953 uploaded
184623 started
table 98799 uploaded
1457 started
table 5704 uploaded
89470 started
table 167388 uploaded
361 started
table 139757 uploaded
52709 started
table 696 uploaded
203278 started

/opt/conda/lib/python3.10/site-packages/google/cloud/bigquery/_pandas_helpers.py:603: UserWarning: Pyarrow could not determine the type of columns: tag.
  warnings.warn(

table 2551 uploaded
7295 started
table 26663 uploaded
83332 started
table 173619 uploaded
179331 started
table 33819 uploaded
63989 started
table 151507 uploaded
5825 started
table 174085 uploaded
39779 started
table 2114 uploaded
6183 started
table 361 uploaded
2020 started
table 89470 uploaded
164367 started
table 98296 uploaded
1941 started
table 52709 uploaded
192379 started
table 1457 uploaded
127054 started
table 83332 uploaded
69988 started
table 179331 uploaded
2241 started
table 63989 uploaded
70565 started
table 184623 uploaded
59801 started
table 6183 uploaded
2401 started

/opt/conda/lib/python3.10/site-packages/google/cloud/bigquery/_pandas_helpers.py:603: UserWarning: Pyarrow could not determine the type of columns: tag.
  warnings.warn(

table 5825 uploaded
4167 started
table 2020 uploaded
6094 started
table 192379 uploaded
193749 started
table 203278 uploaded
56389 started
table 7295 uploaded
25859 started
table 1941 uploaded
190399 started
table 127054 uploaded
155018 startedtable 39779 uploaded

864 started
table 69988 uploaded
171227 started
table 164367 uploaded
117867 started
table 2241 uploaded
109697 started
table 70565 uploaded
4115 started
table 193749 uploaded
72764 started
table 4167 uploaded
2282 started
table 56389 uploaded
131248 started
table 190399 uploaded
5675 started
table 25859 uploaded
48414 started
table 6094 uploaded
6451 started
table 2401 uploaded
27216 started
table 171227 uploaded
44911 started
table 864 uploaded
89206 started
table 155018 uploaded
34323 started
table 117867 uploaded
165115 started
table 2282 uploaded
187067 started
table 4115 uploaded
37626 started
table 6451 uploaded
151597 started
table 5675 uploaded
3333 started
table 72764 uploaded
104728 started
table 59801 uploaded
5397 started
table 89206 uploaded
94663 started
table 44911 uploaded
95508 started
table 131248 uploaded
26676 started
table 109697 uploaded
5862 started
table 27216 uploaded
150234 started
table 187067 uploaded
203208 started
table 48414 uploaded
51559 started
table 34323 uploaded
166802 started
table 5397 uploaded
6176 started
table 37626 uploaded
165601 started
table 165115 uploaded
111235 started
table 151597 uploaded
6045 started
table 94663 uploaded
97232 started
table 95508 uploaded
61705 started
table 5862 uploaded
5987 started
table 104728 uploaded
2803 started
table 3333 uploaded
1131 started
table 150234 uploaded
596 started
table 166802 uploaded
1214 started
table 165601 uploaded
5166 started
table 203208 uploaded
49957 started
table 6045 uploaded
130458 started
table 5987 uploaded
88305 started

/opt/conda/lib/python3.10/site-packages/google/cloud/bigquery/_pandas_helpers.py:603: UserWarning: Pyarrow could not determine the type of columns: tag.
  warnings.warn(

table 51559 uploaded
1877 started
table 2803 uploaded
72949 started
table 6176 uploaded
189641 started
table 61705 uploaded
70344 started
table 111235 uploaded
3249 started
table 26676 uploaded
37287 started
table 97232 uploaded
3004 started
table 1131 uploaded
1726 started
table 596 uploaded
47122 started
table 5166 uploaded
80219 started
table 189641 uploaded
193956 started
table 49957 uploaded
5925 started
table 88305 uploaded
4574 started
table 72949 uploaded
95237 started
table 70344 uploaded
26005 started
table 1214 uploaded
4949 started
table 130458 uploaded
150258 started
table 1877 uploaded
6175 started
table 3249 uploaded
172009 started
table 47122 uploaded
26819 started
table 1726 uploaded
1995 started
table 37287 uploaded
table 3004 uploaded
26726 started2590 started

table 5925 uploaded
121117 started
table 80219 uploaded
111757 started
table 95237 uploaded
6152 started
table 193956 uploaded
181475 started
table 4949 uploaded
2613 started
table 26005 uploaded
101599 started
table 172009 uploaded
27689 started
table 150258 uploaded
725 started
table 6175 uploaded
809 started
table 1995 uploaded
41716 started
table 2590 uploaded
44595 started
table 4574 uploaded
89337 started
table 26726 uploaded
95796 started
table 2613 uploaded
25856 started
table 26819 uploaded
54617 started
table 6152 uploaded
8337 started
table 121117 uploaded
3662 started
table 181475 uploaded
2676 started
table 111757 uploaded
199075 started
table 809 uploaded
6909 started
table 27689 uploaded
6986 started
table 725 uploaded
5769 started
table 101599 uploaded
135655 started
table 44595 uploaded
1376 started
table 25856 uploaded
161354 started
table 3662 uploaded
108787 started
table 199075 uploaded
105028 started
table 54617 uploaded
6385 started
table 6986 uploaded
table 8337 uploaded60585 started

26578 started
table 89337 uploaded
128165 started
table 95796 uploaded
6857 started
table 41716 uploaded
449 started
table 135655 uploaded
96762 started
table 1376 uploaded
71376 started
table 6909 uploaded
40342 started
table 2676 uploaded
7192 started
table 161354 uploaded
102989 started
table 108787 uploaded
60688 started
table 449 uploaded
83359 started
table 6857 uploaded
139114 started
table 6385 uploaded
147336 started
table 26578 uploaded
171869 started

/opt/conda/lib/python3.10/site-packages/google/cloud/bigquery/_pandas_helpers.py:603: UserWarning: Pyarrow could not determine the type of columns: tag.
  warnings.warn(

table 128165 uploaded
3589 started
table 60585 uploaded
5072 started
table 5769 uploaded
69306 started
table 96762 uploaded
2052 started
table 7192 uploaded
2009 started
table 60688 uploaded
32022 started
table 105028 uploaded
95032 started
table 71376 uploaded
171153 started
table 171869 uploaded
67744 started
table 40342 uploaded
6546 started
table 3589 uploaded
2764 started
table 69306 uploaded
134859 started
table 102989 uploaded
130462 started
table 83359 uploaded
584 started
table 147336 uploaded
5173 started
table 139114 uploaded
26104 started
table 32022 uploaded
27530 started
table 2052 uploaded
69448 started
table 95032 uploaded
26356 started
table 2009 uploaded
8946 started
table 67744 uploaded
5143 started
table 130462 uploaded
192377 started
table 2764 uploaded
150296 started
table 5072 uploaded
5156 started
table 134859 uploaded
718 started
table 26104 uploaded
79507 started
table 27530 uploaded
4615 started
table 171153 uploaded
31223 started
table 584 uploaded
109372 started
table 5173 uploaded
4343 started
table 5143 uploaded
6992 started
table 26356 uploaded
161127 started
table 6546 uploaded
116742 started
table 69448 uploaded
91658 started
table 8946 uploaded
6645 started
table 192377 uploaded
118260 started
table 718 uploaded
1160 started
table 5156 uploaded
7354 started
table 4615 uploaded
4576 started
table 31223 uploaded
154348 started
table 109372 uploaded
3425 started
table 79507 uploaded
60937 started
table 6992 uploaded
8463 started
table 161127 uploaded
4988 started
table 150296 uploaded
138212 started
table 116742 uploaded
127724 started
table 4343 uploaded
32029 started
table 6645 uploaded
2737 started
table 118260 uploaded
52724 started
table 91658 uploaded
32674 started
table 1160 uploaded
561 started
table 7354 uploaded
3977 started
table 154348 uploaded
118264 started
table 32029 uploaded
2823 started
table 4576 uploaded
44199 started
table 3425 uploaded
91485 started
table 2737 uploaded
2032 started

/opt/conda/lib/python3.10/site-packages/google/cloud/bigquery/_pandas_helpers.py:603: UserWarning: Pyarrow could not determine the type of columns: tag.
  warnings.warn(

table 60937 uploaded
119454 started
table 4988 uploaded
695 started
table 138212 uploaded
3142 started
table 8463 uploaded
61024 started
table 52724 uploaded
26100 started
table 32674 uploaded
156607 started
table 561 uploaded
68288 started
table 127724 uploaded
5864 started
table 2823 uploaded
5836 started
table 44199 uploaded
8822 started
table 2032 uploaded
6963 started
table 3142 uploaded
84621 started
table 695 uploaded
183865 started
table 118264 uploaded
130686 started
table 68288 uploaded
113275 started
table 156607 uploaded
5894 started

/opt/conda/lib/python3.10/site-packages/google/cloud/bigquery/_pandas_helpers.py:603: UserWarning: Pyarrow could not determine the type of columns: tag.
  warnings.warn(

table 119454 uploaded
45928 started
table 3977 uploaded
7787 started
table 26100 uploaded
4447 started
table 61024 uploaded
102062 started
table 5836 uploaded
61586 started
table 5864 uploaded
7151 started
table 6963 uploaded
92393 started
table 91485 uploaded
1910 started
table 8822 uploaded
6794 started
table 84621 uploaded
161594 started
table 45928 uploaded
160700 started
table 5894 uploaded
128626 started
table 4447 uploaded
173817 started
table 183865 uploaded
3082 started
table 130686 uploaded
4927 started
table 113275 uploaded
92439 started
table 102062 uploaded
5442 started
table 7787 uploaded
1033 started
table 92393 uploaded
7479 started
table 7151 uploaded
8126 started
table 6794 uploaded
118256 started
table 61586 uploaded
39307 started
table 1910 uploaded
97005 started
table 128626 uploaded
7364 started
table 160700 uploaded
27263 started
table 161594 uploaded
3107 started
table 3082 uploaded
2518 started
table 4927 uploaded
46919 started
table 173817 uploaded
49278 started
table 5442 uploaded
1843 started
table 92439 uploaded
44511 started
table 7479 uploaded
163056 started
table 8126 uploaded
107081 started
table 97005 uploaded
168418 started
table 39307 uploaded
4432 started
table 7364 uploaded
4912 started
table 46919 uploaded
56620 started
table 27263 uploaded
207 started
table 3107 uploaded
59910 started
table 118256 uploaded
58933 started
table 49278 uploaded
1894 started
table 1843 uploaded
44929 started
table 2518 uploaded
1121 started
table 1033 uploaded
4824 started
table 163056 uploaded
162246 started

/opt/conda/lib/python3.10/site-packages/google/cloud/bigquery/_pandas_helpers.py:603: UserWarning: Pyarrow could not determine the type of columns: tag.
  warnings.warn(

table 4432 uploaded
134853 started
table 44511 uploaded
92665 started
table 59910 uploaded
68137 started
table 4912 uploaded
3358 started
table 56620 uploaded
44073 started
table 207 uploaded
145994 started
table 1121 uploaded
5824 started
table 58933 uploaded
8495 started
table 168418 uploaded
8710 started
table 162246 uploaded
54286 started
table 107081 uploaded
566 started
table 92665 uploaded
1664 started
table 134853 uploaded
106471 started
table 1894 uploaded
54910 started
table 68137 uploaded
3740 started
table 8495 uploaded
31524 started
table 44073 uploaded
88589 started
table 4824 uploaded
44674 started
table 5824 uploaded
99839 started
table 3358 uploaded
94271 started
table 44929 uploaded
3812 started
table 106471 uploaded
54241 started
table 8710 uploaded
8676 started
table 566 uploaded
26003 started
table 1664 uploaded
2231 started
table 31524 uploaded
4512 startedtable 145994 uploaded

47640 started
table 88589 uploaded
116489 started
table 94271 uploaded
86408 started
table 54286 uploaded
3418 started
table 3812 uploaded
104408 started
table 3740 uploaded
1348 started
table 54910 uploaded
65300 started
table 44674 uploaded
2012 started
table 8676 uploaded
2730 started
table 54241 uploaded
8399 started

/opt/conda/lib/python3.10/site-packages/google/cloud/bigquery/_pandas_helpers.py:603: UserWarning: Pyarrow could not determine the type of columns: tag.
  warnings.warn(

table 26003 uploaded
34129 started
table 2231 uploaded
103534 started
table 99839 uploaded
31983 started
table 47640 uploaded
88578 started

/opt/conda/lib/python3.10/site-packages/google/cloud/bigquery/_pandas_helpers.py:603: UserWarning: Pyarrow could not determine the type of columns: tag.
  warnings.warn(

table 4512 uploaded
25833 started
table 116489 uploaded
780 started
table 65300 uploaded
183323 started
table 3418 uploaded
67624 started
table 86408 uploaded
2893 started
table 104408 uploaded
415 started
table 2012 uploaded
85394 started
table 2730 uploaded
5739 started

/opt/conda/lib/python3.10/site-packages/google/cloud/bigquery/_pandas_helpers.py:603: UserWarning: Pyarrow could not determine the type of columns: tag.
  warnings.warn(

table 34129 uploaded
6699 started
table 1348 uploaded
196707 started

/opt/conda/lib/python3.10/site-packages/google/cloud/bigquery/_pandas_helpers.py:603: UserWarning: Pyarrow could not determine the type of columns: tag.
  warnings.warn(

table 103534 uploaded
147022 started
table 31983 uploaded
81639 started
table 8399 uploaded
104135 started
table 67624 uploaded
6742 started
table 25833 uploaded
1625 started
table 415 uploaded
141420 started
table 183323 uploaded
6105 started
table 88578 uploaded
52413 started
table 85394 uploaded
71413 started
table 2893 uploaded
111624 started
table 6699 uploaded
200842 started
table 196707 uploaded
4786 started
table 5739 uploaded
26729 started
table 81639 uploaded
356 started
table 780 uploaded
90434 started
table 104135 uploaded
86145 started
table 147022 uploaded
38198 started

/opt/conda/lib/python3.10/site-packages/google/cloud/bigquery/_pandas_helpers.py:603: UserWarning: Pyarrow could not determine the type of columns: tag.
  warnings.warn(

table 6742 uploaded
1518 started
table 6105 uploaded
5640 started
table 141420 uploaded
38004 started
table 71413 uploaded
26342 started
table 4786 uploaded
114933 started
table 200842 uploaded
2661 started
table 26729 uploaded
60295 started
table 356 uploaded
937 started
table 111624 uploaded
3671 started
table 52413 uploaded
185997 started
table 1625 uploaded
4505 started
table 90434 uploaded
32719 started
table 38198 uploaded
88911 started
table 86145 uploaded
103849 started
table 2661 uploaded
90405 started
table 114933 uploaded
46544 started
table 38004 uploaded
187713 started
table 3671 uploaded
169756 started
table 5640 uploaded
43635 started
table 26342 uploaded
3634 started
table 1518 uploaded
146423 started
table 60295 uploaded
8658 started
table 4505 uploaded
5562 started

/opt/conda/lib/python3.10/site-packages/google/cloud/bigquery/_pandas_helpers.py:603: UserWarning: Pyarrow could not determine the type of columns: tag.
  warnings.warn(

table 32719 uploaded
3021 started
table 185997 uploaded
134883 started
table 88911 uploaded
3428 started
table 937 uploaded
32743 started
table 90405 uploaded
66105 started
table 43635 uploaded
78836 started
table 169756 uploaded
43923 started
table 3634 uploaded
147240 started
table 8658 uploaded
7238 started
table 187713 uploaded
4400 started
table 3021 uploaded
163935 started
table 103849 uploaded
53453 started
table 146423 uploaded
163949 started
table 46544 uploaded
267 started
table 32743 uploaded
200042 started
table 5562 uploaded
8989 started
table 134883 uploaded
3979 started
table 147240 uploaded
98203 started
table 3428 uploaded
173879 started
table 4400 uploaded
169654 started
table 66105 uploaded
1093 started
table 78836 uploaded
105477 started
table 7238 uploaded
131560 started
table 267 uploaded
132430 started

/opt/conda/lib/python3.10/site-packages/google/cloud/bigquery/_pandas_helpers.py:603: UserWarning: Pyarrow could not determine the type of columns: tag.
  warnings.warn(

table 163949 uploaded
4931 started
table 53453 uploaded
2128 started
table 163935 uploaded
5162 started
table 200042 uploaded
6625 started
table 8989 uploaded
827 started
table 98203 uploaded
2200 started
table 173879 uploaded
152836 started
table 3979 uploaded
8850 started
table 169654 uploaded
84863 started
table 43923 uploaded
66365 started
table 1093 uploaded
174487 started
table 2128 uploaded
47239 started
table 132430 uploaded
145112 started
table 6625 uploaded
2928 started
table 827 uploaded
130636 started
table 2200 uploaded
111266 started
table 4931 uploaded
7046 started
table 131560 uploaded
47972 started
table 152836 uploaded
1603 started
table 5162 uploaded
4951 started
table 105477 uploaded
144714 started
table 66365 uploaded
103057 started
table 174487 uploaded
4138 started
table 84863 uploaded
170046 started
table 145112 uploaded
80162 started
table 47239 uploaded
7118 started
table 130636 uploaded
6337 started
table 7046 uploaded
140309 started
table 111266 uploaded
927 started
table 47972 uploaded
132590 started
table 1603 uploaded
100244 started
table 144714 uploaded
190755 started
table 170046 uploaded
835 started
table 8850 uploaded
7377 started
table 4951 uploaded
194903 started
table 2928 uploaded
6411 started
table 4138 uploaded
3632 started
table 103057 uploaded
49752 started
table 6337 uploaded
99811 started
table 80162 uploaded
43289 started
table 7118 uploaded
77893 started
table 927 uploaded
73710 started
table 140309 uploaded
91483 started
table 132590 uploaded
421 started
table 6411 uploaded
65894 started
table 100244 uploaded
901 started
table 190755 uploaded
2996 started
table 194903 uploaded
6980 started
table 7377 uploaded
1575 started
table 49752 uploaded
5969 started
table 421 uploaded
53133 started

/opt/conda/lib/python3.10/site-packages/google/cloud/bigquery/_pandas_helpers.py:603: UserWarning: Pyarrow could not determine the type of columns: tag.
  warnings.warn(

table 99811 uploaded
86436 started
table 91483 uploaded
98000 started
table 835 uploaded
108879 started
table 3632 uploaded
86864 started
table 65894 uploaded
2306 started
table 73710 uploaded
2817 started
table 77893 uploaded
808 started
table 43289 uploaded
7247 started
table 6980 uploaded
122425 started
table 2996 uploaded
71571 started
table 901 uploaded
4746 started
table 5969 uploaded
4398 started
table 1575 uploaded
65552 started
table 53133 uploaded
133703 started
table 86864 uploaded
144224 started
table 108879 uploaded
38839 started
table 98000 uploaded
7230 started
table 86436 uploaded
171023 started
table 2306 uploaded
160080 started
table 808 uploaded
3978 started
table 71571 uploaded
85307 startedtable 2817 uploaded

871 started

/opt/conda/lib/python3.10/site-packages/google/cloud/bigquery/_pandas_helpers.py:603: UserWarning: Pyarrow could not determine the type of columns: tag.
  warnings.warn(
/opt/conda/lib/python3.10/site-packages/google/cloud/bigquery/_pandas_helpers.py:603: UserWarning: Pyarrow could not determine the type of columns: tag.
  warnings.warn(

table 122425 uploaded
102662 started
table 7247 uploaded
3868 started
table 65552 uploaded
135769 started
table 4398 uploaded
157270 started
table 4746 uploaded
67801 started
table 3978 uploaded
127112 started
table 38839 uploaded
3817 started
table 133703 uploaded
6265 started
table 102662 uploaded
1692 started
table 871 uploaded
48319 started
table 171023 uploaded
97311 started
table 144224 uploaded
71520 started
table 160080 uploaded
38388 started
table 7230 uploaded
89060 started
table 85307 uploadedtable 3868 uploaded

5463 started72228 started

table 157270 uploaded
5050 started
table 127112 uploaded
4956 started
table 3817 uploaded
144426 started
table 48319 uploaded
133710 started
table 97311 uploaded
128320 started
table 135769 uploaded
83322 started
table 6265 uploaded
5583 started
table 67801 uploaded
4631 started
table 5463 uploaded
1220 started
table 38388 uploaded
3950 started
table 72228 uploaded
2832 started
table 89060 uploaded
162348 started
table 71520 uploaded
106240 started
table 1692 uploaded
2559 started
table 5050 uploaded
40 started
table 144426 uploaded
117446 started
table 5583 uploaded
32333 started
table 1220 uploaded
31847 started
table 2832 uploaded
1273 started
table 128320 uploaded
5168 started
table 83322 uploaded
6336 started
table 162348 uploaded
31123 started
table 2559 uploaded
8638 started
table 4631 uploaded
66718 started
table 40 uploaded
135135 started
table 106240 uploaded
table 133710 uploaded
2863 started
1612 started
table 3950 uploaded
766 started
table 32333 uploaded
8505 started
table 1273 uploaded
159193 started
table 31847 uploaded
8833 started
table 4956 uploaded
6927 started
table 117446 uploaded
61210 started
table 5168 uploaded
26344 started
table 8638 uploaded
588 started
table 6336 uploaded
193647 started
table 31123 uploaded
160569 started
table 1612 uploaded
4796 started
table 766 uploaded
161157 started

/opt/conda/lib/python3.10/site-packages/google/cloud/bigquery/_pandas_helpers.py:603: UserWarning: Pyarrow could not determine the type of columns: tag.
  warnings.warn(

table 66718 uploaded
89900 started
table 2863 uploaded
26431 started
table 8505 uploaded
88640 started
table 135135 uploaded
58740 started
table 61210 uploaded
70932 started
table 26344 uploaded
69526 started
table 193647 uploaded
121413 started
table 159193 uploaded
149394 started
table 160569 uploaded
78032 startedtable 6927 uploaded

82063 started
table 8833 uploaded
137457 started
table 588 uploaded
6506 started
table 161157 uploaded
117543 started
table 4796 uploaded
6700 started
table 26431 uploaded
91355 started
table 69526 uploaded
5015 started
table 58740 uploaded
719 started
table 70932 uploaded
5708 started
table 88640 uploaded
2870 started
table 89900 uploaded
126106 started
table 149394 uploaded
6827 started
table 121413 uploaded
139644 started
table 6506 uploaded
804 started
table 78032 uploaded
7058 started
table 117543 uploaded
3748 started
table 6700 uploaded
6547 started
table 137457 uploaded
32781 started
table 82063 uploaded
37857 started
table 91355 uploaded
48098 started
table 719 uploaded
3921 started
table 6827 uploaded
36535 started
table 804 uploaded
8252 started
table 139644 uploaded
88674 started
table 7058 uploaded
2147 started
table 126106 uploaded
27674 started
table 5708 uploaded
48520 started
table 6547 uploaded
85796 started
table 32781 uploaded
8057 started
table 3748 uploaded
2349 started
table 37857 uploaded
48123 started
table 5015 uploaded
7250 started
table 2870 uploaded
41912 started
table 48098 uploaded
8492 started
table 36535 uploaded
3574 started
table 88674 uploaded
141810 started
table 3921 uploaded
129657 started
table 27674 uploaded
524 started
table 2147 uploaded
141994 started
table 85796 uploadedtable 8252 uploaded

52328 started167792 started

table 2349 uploaded
4186 started
table 48520 uploaded
113459 started
table 41912 uploaded
26297 started
table 8492 uploaded
4438 started
table 7250 uploaded
7300 started
table 48123 uploaded
4535 started
table 3574 uploaded
2420 started
table 8057 uploaded
1942 started
table 141810 uploaded
4406 started
table 129657 uploaded
72720 started
table 167792 uploaded
170191 started
table 141994 uploaded
2365 started
table 52328 uploaded
182853 started
table 4186 uploaded
26174 started
table 113459 uploaded
6688 started
table 4438 uploaded
4702 started
table 524 uploaded
70507 started
table 26297 uploaded
115941 started
table 4535 uploaded
32084 started
table 2365 uploaded
2727 started
table 1942 uploaded
1107 started

/opt/conda/lib/python3.10/site-packages/google/cloud/bigquery/_pandas_helpers.py:603: UserWarning: Pyarrow could not determine the type of columns: tag.
  warnings.warn(

table 2420 uploaded
40583 started
table 170191 uploaded
71490 started

/opt/conda/lib/python3.10/site-packages/google/cloud/bigquery/_pandas_helpers.py:603: UserWarning: Pyarrow could not determine the type of columns: tag.
  warnings.warn(

table 4406 uploaded
4573 started
table 115941 uploaded
59947 started
table 7300 uploaded
79230 started
table 6688 uploaded
90474 started
table 32084 uploaded
2913 started
table 182853 uploaded
158388 started
table 72720 uploaded
135979 started
table 70507 uploaded
146662 started
table 4702 uploaded
182835 started
table 26174 uploaded
162602 started
table 2727 uploaded
4522 started
table 71490 uploaded
131920 started
table 4573 uploaded
1631 started
table 1107 uploaded
2428 started
table 59947 uploaded
83193 started
table 79230 uploaded
3867 started
table 158388 uploaded
57543 started

/opt/conda/lib/python3.10/site-packages/google/cloud/bigquery/_pandas_helpers.py:603: UserWarning: Pyarrow could not determine the type of columns: tag.
  warnings.warn(

table 135979 uploaded
47148 started
table 146662 uploaded
114563 started
table 90474 uploaded
169912 started
table 2913 uploaded
5580 started
table 40583 uploaded
280 started
table 182835 uploaded
144524 started
table 162602 uploaded
8948 started
table 1631 uploaded
26784 started
table 83193 uploaded
171233 started
table 2428 uploaded
54256 started
table 131920 uploaded
8574 started
table 57543 uploaded
183437 started
table 4522 uploaded
45728 started

/opt/conda/lib/python3.10/site-packages/google/cloud/bigquery/_pandas_helpers.py:603: UserWarning: Pyarrow could not determine the type of columns: tag.
  warnings.warn(

table 5580 uploaded
5142 started
table 47148 uploaded
32325 started
table 114563 uploaded
98604 started
table 3867 uploaded
189819 started
table 26784 uploaded
60463 started
table 280 uploaded
7461 started
table 54256 uploaded
82608 started
table 8948 uploaded
table 169912 uploaded151315 started

5766 started
table 171233 uploaded
5150 started
table 144524 uploaded
93326 started
table 45728 uploaded
25866 started
table 8574 uploaded
6 started
table 98604 uploaded
table 32325 uploaded2685 started

156771 started

/opt/conda/lib/python3.10/site-packages/google/cloud/bigquery/_pandas_helpers.py:603: UserWarning: Pyarrow could not determine the type of columns: tag.
  warnings.warn(

table 5142 uploaded
73015 started
table 189819 uploaded
5978 started
table 5766 uploaded
31636 started
table 151315 uploaded
8377 started
table 183437 uploaded
8586 started
table 93326 uploaded
6971 started
table 7461 uploaded
121196 started
table 82608 uploaded
130522 started
table 5150 uploaded
4641 started
table 60463 uploaded
49464 started
table 6 uploaded
105133 started
table 2685 uploaded
7071 started
table 25866 uploaded
2082 started
table 5978 uploaded
4337 started
table 8586 uploaded
37955 started
table 73015 uploaded
4745 started
table 31636 uploaded
4771 started
table 156771 uploaded
2982 started
table 6971 uploaded
7984 started
table 130522 uploaded
67504 started
table 8377 uploaded
1420 started
table 121196 uploaded
7120 started
table 49464 uploaded
45224 started
table 4641 uploaded
6194 started
table 2082 uploaded
131168 started
table 2982 uploaded
60376 started
table 105133 uploaded
147230 started
table 7071 uploaded
6593 started
table 67504 uploaded
7563 started
table 37955 uploaded
1883 started
table 4337 uploaded
2818 started
table 45224 uploaded
119563 started
table 4745 uploaded
26589 started
table 7984 uploaded
2774 started
table 7120 uploaded
116225 started

/opt/conda/lib/python3.10/site-packages/google/cloud/bigquery/_pandas_helpers.py:603: UserWarning: Pyarrow could not determine the type of columns: tag.
  warnings.warn(

table 1420 uploadedtable 131168 uploaded

129250 started47740 started

table 6194 uploaded
53140 started
table 4771 uploaded
181075 started
table 60376 uploaded
87785 started
table 1883 uploaded
56331 started
table 147230 uploaded
186905 started
table 2774 uploaded
98054 started
table 2818 uploaded
48872 started
table 129250 uploaded
7572 started
table 47740 uploaded
49593 started
table 6593 uploaded
4093 started
table 119563 uploaded
141038 started
table 7563 uploaded
96815 started
table 116225 uploaded
3863 started
table 53140 uploaded
48591 started
table 87785 uploaded
32657 started
table 181075 uploaded
126562 started
table 56331 uploaded
159811 started
table 26589 uploaded
69757 started
table 186905 uploaded
76087 started
table 48872 uploaded
69911 started
table 98054 uploaded
134569 started
table 49593 uploaded
57522 started
table 3863 uploaded
77721 started
table 141038 uploaded
177611 started
table 7572 uploaded
156773 started
table 76087 uploaded
5393 started
table 4093 uploaded
155129 started
table 32657 uploaded
150538 started
table 69911 uploaded
107771 started
table 48591 uploaded
6718 started
table 159811 uploaded
3562 started
table 69757 uploaded
56775 started
table 126562 uploaded
47907 started
table 77721 uploaded
169906 started
table 96815 uploaded
94494 started
table 177611 uploaded
97 started
table 150538 uploaded
255 started
table 134569 uploaded
192245 started
table 5393 uploaded
1897 started
table 57522 uploaded
105357 started
table 155129 uploaded
44234 started
table 107771 uploaded
147847 started
table 3562 uploaded
5557 started
table 56775 uploaded
200300 started

/opt/conda/lib/python3.10/site-packages/google/cloud/bigquery/_pandas_helpers.py:603: UserWarning: Pyarrow could not determine the type of columns: tag.
  warnings.warn(

table 156773 uploaded
6588 started
table 6718 uploaded
82857 started
table 169906 uploaded
5381 started
table 94494 uploaded
187501 started
table 47907 uploaded
44 started
table 192245 uploaded
58084 started
table 97 uploaded
450 started
table 5557 uploaded
8950 started
table 255 uploaded
26094 started
table 200300 uploaded
2492 started
table 1897 uploaded
6097 started
table 6588 uploaded
4955 started
table 147847 uploaded
32011 started
table 44234 uploaded
57484 started
table 187501 uploaded
1982 started
table 5381 uploaded
7699 started
table 105357 uploaded
114007 started
table 450 uploaded
48165 started
table 58084 uploaded
8493 started
table 82857 uploaded
47931 started
table 44 uploaded
52458 started
table 57484 uploaded
44587 started
table 32011 uploaded
4127 started
table 8950 uploaded
55226 started
table 26094 uploaded
4368 started
table 4955 uploaded
136431 started
table 7699 uploaded
146926 started
table 1982 uploaded
144418 started
table 6097 uploaded
1106 started
table 2492 uploaded
5973 started
table 114007 uploaded
2860 started
table 8493 uploaded
163512 started
table 52458 uploaded
6789 started
table 47931 uploaded
292 started
table 4368 uploaded
31555 started
table 48165 uploaded
4864 started
table 4127 uploaded
7195 started
table 5973 uploaded
8711 started
table 1106 uploaded
6299 started
table 44587 uploaded
172667 started
table 55226 uploaded
134184 started
table 144418 uploaded
2990 started
table 163512 uploaded
133347 started
table 2860 uploaded
80083 started
table 136431 uploaded
42021 started
table 292 uploaded
26322 started
table 6789 uploaded
1367 started
table 31555 uploaded
76303 started
table 146926 uploaded
70742 started
table 4864 uploaded
204018 started
table 6299 uploaded
5624 started

/opt/conda/lib/python3.10/site-packages/google/cloud/bigquery/_pandas_helpers.py:603: UserWarning: Pyarrow could not determine the type of columns: tag.
  warnings.warn(

table 8711 uploaded
154939 started
table 7195 uploaded
133647 started
table 134184 uploaded
3355 started
table 133347 uploaded
2900 started
table 172667 uploaded
5579 started
table 2990 uploaded
6384 started
table 80083 uploaded
142448 started
table 1367 uploaded
5336 started
table 76303 uploaded
71494 started
table 26322 uploaded
2625 started
table 42021 uploaded
5795 started
table 5624 uploaded
2807 started
table 204018 uploaded
6743 started
table 133647 uploaded
26873 started
table 142448 uploaded
132456 started
table 154939 uploaded
7756 started
table 5579 uploaded
8895 started
table 3355 uploaded
2361 started
table 6384 uploaded
114762 started
table 70742 uploaded
99968 started
table 2900 uploaded
84234 started
table 2625 uploaded
1770 started
table 6743 uploaded
65126 started
table 7756 uploaded
33743 started
table 5336 uploaded
3163 started
table 132456 uploaded
83450 started
table 2807 uploaded
109323 started
table 26873 uploaded
70286 started
table 114762 uploaded
6142 started
table 8895 uploaded
4182 started
table 71494 uploaded
6149 started
table 1770 uploaded
5071 started
table 5795 uploaded
6541 started
table 2361 uploaded
92352 started
table 33743 uploaded
6797 started
table 99968 uploaded
6923 started
table 84234 uploaded
276 started
table 3163 uploaded
64497 started
table 4182 uploaded
82382 started
table 6149 uploaded
2329 started
table 65126 uploaded
113378 started
table 70286 uploaded
81518 started
table 83450 uploaded
5912 started
table 6142 uploaded
6511 started
table 5071 uploaded
88380 started
table 109323 uploaded
162162 started
table 92352 uploaded
6542 started
table 6541 uploaded
813 started
table 6797 uploaded
79955 started
table 276 uploaded
2662 started
table 6923 uploaded
48304 started
table 2329 uploaded
5170 started
table 81518 uploaded
163979 started
table 162162 uploaded
108928 started
table 64497 uploaded
3432 started
table 82382 uploaded
136626 started
table 5912 uploaded
81834 started
table 6511 uploaded
5020 started
table 113378 uploaded
26417 started

/opt/conda/lib/python3.10/site-packages/google/cloud/bigquery/_pandas_helpers.py:603: UserWarning: Pyarrow could not determine the type of columns: tag.
  warnings.warn(

table 88380 uploaded
126733 started
table 79955 uploaded
3357 started
table 48304 uploaded
49910 started
table 813 uploaded
83293 started
table 6542 uploaded
67457 started
table 2662 uploaded
3232 started
table 81834 uploaded
7314 started
table 108928 uploaded
126420 started
table 163979 uploaded
258 started
table 3432 uploaded
92234 started
table 136626 uploaded
59625 started
table 5170 uploaded
119904 started
table 5020 uploaded
89449 started
table 26417 uploaded
1659 started
table 3357 uploaded
200118 started
table 67457 uploaded
43552 started
table 126733 uploaded
93240 started
table 3232 uploaded
189873 started
table 49910 uploaded
168632 started
table 83293 uploaded
114078 started
table 7314 uploaded
8866 started
table 92234 uploaded
113640 started
table 126420 uploaded
6932 started
table 119904 uploaded
4619 started
table 59625 uploaded
2289 started
table 43552 uploaded
25783 started
table 258 uploaded
935 started
table 89449 uploaded
7423 started
table 200118 uploaded
168040 started
table 93240 uploaded
3045 started
table 189873 uploaded
88015 started
table 1659 uploaded
132539 started
table 4619 uploaded
1306 started
table 2289 uploaded
2221 started
table 168632 uploaded
69818 started
table 8866 uploaded
70229 started
table 6932 uploaded
3177 started
table 3045 uploaded
7216 started
table 113640 uploaded
99843 started
table 935 uploaded
5340 started
table 114078 uploaded
1889 started
table 168040 uploaded
71135 started
table 7423 uploaded
173203 started
table 88015 uploaded
161658 started
table 25783 uploaded
121126 started
table 1306 uploaded
4520 started
table 132539 uploaded
104211 started
table 2221 uploaded
144518 started
table 5340 uploaded
7837 started
table 3177 uploaded
143990 started
table 7216 uploaded
5982 started
table 71135 uploaded
102854 started
table 121126 uploaded
1977 started
table 1889 uploaded
80860 started
table 70229 uploaded
4494 started
table 69818 uploaded
62000 started

/opt/conda/lib/python3.10/site-packages/google/cloud/bigquery/_pandas_helpers.py:603: UserWarning: Pyarrow could not determine the type of columns: tag.
  warnings.warn(

table 173203 uploaded
195315 started
table 99843 uploaded
144734 started
table 144518 uploaded
5302 started
table 4520 uploaded
58839 started
table 161658 uploaded
8477 started
table 104211 uploaded
52287 started
table 1977 uploaded
3755 started
table 7837 uploaded
130582 started
table 5982 uploaded
99246 started
table 80860 uploaded
970 started
table 195315 uploaded
1145 started
table 143990 uploaded
86332 started
table 102854 uploaded
242 started
table 4494 uploaded
190305 started
table 8477 uploaded
48970 started
table 144734 uploaded
27223 started
table 5302 uploaded
6316 started
table 62000 uploaded
158813 started
table 52287 uploaded
82854 started
table 3755 uploaded
8757 started
table 242 uploaded
117310 started
table 86332 uploaded
7376 started
table 130582 uploaded
27831 started
table 58839 uploaded
5066 started
table 99246 uploaded
56633 started
table 1145 uploaded
6809 started
table 190305 uploaded
5789 started
table 6316 uploaded
126090 started
table 48970 uploaded
27255 started
table 970 uploaded
74484 started
table 8757 uploaded
56372 started
table 158813 uploaded
2335 started
table 7376 uploaded
5752 started
table 82854 uploaded
162150 started
table 117310 uploaded
7505 started
table 27831 uploaded
71460 started
table 5066 uploaded
4453 started

/opt/conda/lib/python3.10/site-packages/google/cloud/bigquery/_pandas_helpers.py:603: UserWarning: Pyarrow could not determine the type of columns: tag.
  warnings.warn(

table 6809 uploaded
5791 started
table 27223 uploaded
5682 started
table 27255 uploaded
4596 started
table 126090 uploaded
54196 started

/opt/conda/lib/python3.10/site-packages/google/cloud/bigquery/_pandas_helpers.py:603: UserWarning: Pyarrow could not determine the type of columns: tag.
  warnings.warn(

table 56372 uploaded
79185 started
table 2335 uploaded
3081 started
table 74484 uploaded
4276 started
table 5789 uploaded
5965 started
table 56633 uploaded
139102 started
table 5752 uploaded
72102 started
table 162150 uploadedtable 71460 uploaded
144532 started
30954 started

table 5682 uploaded
7137 started
table 5791 uploaded
2528 started
table 7505 uploaded
168248 started
table 4453 uploaded
54455 started
table 79185 uploaded
51091 started
table 4276 uploaded
3044 started
table 5965 uploaded
134326 started
table 72102 uploaded
2036 started
table 3081 uploaded
103299 started
table 4596 uploaded
185927 started
table 139102 uploaded
76173 started
table 2528 uploaded
142388 started
table 30954 uploaded
2150 started
table 168248 uploaded
5541 started
table 54455 uploaded
7802 started
table 2036 uploaded
4613 started
table 54196 uploaded
5213 started
table 7137 uploaded
96367 started
table 51091 uploaded
120138 started
table 144532 uploaded
6999 started
table 103299 uploaded
59440 started
table 185927 uploaded
135530 started
table 3044 uploaded
44694 started
table 76173 uploaded
6747 started
table 134326 uploaded
127132 started
table 142388 uploaded
80864 started
table 4613 uploaded
79578 started
table 96367 uploaded
67356 started
table 5541 uploaded
120635 started
table 7802 uploaded
4226 started
table 2150 uploaded
769 started
table 5213 uploaded
3379 started
table 120138 uploaded
31892 started
table 59440 uploaded
36683 started
table 6747 uploaded
26424 started
table 135530 uploaded
3673 started
table 6999 uploaded
90537 started
table 127132 uploaded
8887 started
table 80864 uploaded
70828 started
table 44694 uploaded
34065 started
table 120635 uploaded
115713 started
table 3673 uploaded
26183 started
table 90537 uploadedtable 3379 uploaded

129372 started590 started

table 769 uploaded
52245 started
table 79578 uploaded
32250 started
table 4226 uploaded
100336 started
table 31892 uploaded
25748 started
table 26424 uploaded
908 started
table 67356 uploaded
2280 started
table 36683 uploaded
1914 started
table 70828 uploaded
110194 started
table 8887 uploaded
39394 started
table 590 uploaded
37545 started
table 52245 uploaded
73778 started
table 32250 uploaded
34520 started
table 34065 uploaded
169792 started
table 26183 uploaded
5119 started
table 25748 uploaded
7284 started
table 908 uploaded
114459 started
table 129372 uploaded
183911 started
table 100336 uploaded
4164 started
table 1914 uploaded
5663 started
table 2280 uploaded
187023 started
table 39394 uploaded
2236 started
table 115713 uploaded
503 started
table 110194 uploaded
27911 started
table 34520 uploaded
8334 started
table 73778 uploaded
146006 started
table 5119 uploaded
64231 started
table 169792 uploaded
86432 started
table 37545 uploaded
31494 started
table 187023 uploaded
61567 started
table 7284 uploaded
26062 started
table 5663 uploaded
133001 started
table 4164 uploaded
50892 started
table 114459 uploaded
55417 started
table 2236 uploaded
980 started
table 27911 uploaded
95570 started
table 183911 uploaded
2639 started

/opt/conda/lib/python3.10/site-packages/google/cloud/bigquery/_pandas_helpers.py:603: UserWarning: Pyarrow could not determine the type of columns: tag.
  warnings.warn(

table 503 uploaded
140265 started
table 8334 uploaded
97709 started
table 64231 uploaded
8981 started
table 50892 uploaded
2097 started
table 31494 uploaded
3806 started
table 61567 uploaded
4344 started
table 146006 uploaded
142867 started
table 26062 uploaded
507 started
table 2639 uploaded
26270 started
table 980 uploaded
1012 started
table 86432 uploaded
112788 started
table 95570 uploaded
7958 started
table 133001 uploaded
78041 started
table 8981 uploaded
6585 started
table 140265 uploaded
45732 started
table 2097 uploaded
2789 started
table 142867 uploaded
4403 started
table 97709 uploaded
127311 started
table 55417 uploaded
90868 started
table 507 uploaded
8525 started
table 3806 uploaded
171253 started
table 1012 uploaded
103269 started

/opt/conda/lib/python3.10/site-packages/google/cloud/bigquery/_pandas_helpers.py:603: UserWarning: Pyarrow could not determine the type of columns: tag.
  warnings.warn(

table 4344 uploaded
67420 started
table 112788 uploaded
135601 started
table 78041 uploaded
77312 started
table 26270 uploaded
5775 started
table 6585 uploaded
7162 started
table 7958 uploaded
170129 started
table 45732 uploaded
5820 started
table 90868 uploaded
5835 started
table 171253 uploaded
32120 started

/opt/conda/lib/python3.10/site-packages/google/cloud/bigquery/_pandas_helpers.py:603: UserWarning: Pyarrow could not determine the type of columns: tag.
  warnings.warn(

table 8525 uploaded
3893 started
table 4403 uploaded
136339 started
table 103269 uploaded
193147 started
table 67420 uploaded
93892 started
table 127311 uploaded
68674 started
table 135601 uploaded
70336 started
table 2789 uploaded
248 started
table 77312 uploaded
41425 started
table 170129 uploaded
6895 started
table 32120 uploaded
38086 started
table 93892 uploaded
8391 started
table 68674 uploaded
4777 started
table 3893 uploaded
80646 started
table 5775 uploaded
754 started
table 7162 uploaded
69438 started
table 5835 uploaded
129669 started
table 248 uploaded
2107 started
table 70336 uploaded
158852 started
table 136339 uploaded
61215 started
table 41425 uploaded
2440 started
table 193147 uploaded
65037 started
table 38086 uploaded
7878 started
table 80646 uploaded
1300 started
table 6895 uploaded
3215 started
table 4777 uploaded
25786 started
table 69438 uploaded
86982 started
table 129669 uploaded
77201 started
table 8391 uploaded
6764 started
table 158852 uploaded
166532 started
table 5820 uploaded
8913 started
table 2107 uploaded
1886 started
table 61215 uploaded
50774 started

/opt/conda/lib/python3.10/site-packages/google/cloud/bigquery/_pandas_helpers.py:603: UserWarning: Pyarrow could not determine the type of columns: tag.
  warnings.warn(

table 754 uploaded
4458 started
table 2440 uploaded
156706 started
table 3215 uploaded
82928 started
table 1300 uploaded
8512 started
table 65037 uploaded
178715 started
table 7878 uploaded
6605 started
table 86982 uploaded
535 started
table 25786 uploaded
95199 started
table 8913 uploaded
182387 started
table 77201 uploaded
3544 started
table 166532 uploaded
168884 started
table 6764 uploaded
4462 started
table 50774 uploaded
141749 started
table 1886 uploaded
4977 started
table 178715 uploaded
85273 started
table 6605 uploaded
63515 started
table 82928 uploaded
5517 started
table 156706 uploaded
3437 started
table 8512 uploaded
107406 started
table 182387 uploaded
41831 started
table 3544 uploaded
3903 started
table 4462 uploaded
5251 started
table 535 uploaded
81090 started
table 4458 uploaded
80748 started
table 95199 uploaded
3957 started
table 141749 uploaded
4940 started
table 168884 uploaded
50259 started
table 4977 uploaded
105813 started
table 3437 uploaded
191805 started
table 85273 uploaded
164649 started
table 107406 uploaded
152025 started
table 41831 uploaded
5408 started
table 63515 uploaded
130630 started
table 5517 uploaded
76827 started
table 5251 uploaded
186341 started

/opt/conda/lib/python3.10/site-packages/google/cloud/bigquery/_pandas_helpers.py:603: UserWarning: Pyarrow could not determine the type of columns: tag.
  warnings.warn(

table 3903 uploaded
142184 started
table 4940 uploaded
253 started
table 3957 uploaded
187723 started
table 105813 uploaded
26734 started
table 50259 uploaded
31 started
table 81090 uploaded
8781 started
table 191805 uploaded
21 started
table 152025 uploaded
174095 started
table 80748 uploaded
500 started
table 164649 uploaded
136245 started
table 5408 uploaded
3942 started
table 253 uploaded
58287 started
table 186341 uploaded
1814 started
table 142184 uploaded
170477 started
table 76827 uploaded
81031 started
table 130630 uploaded
33245 started
table 31 uploaded
99846 started
table 26734 uploaded
33487 started
table 187723 uploaded
134021 started
table 174095 uploaded
189809 started
table 500 uploaded
98189 started
table 136245 uploaded
1355 started
table 21 uploaded
129 started
table 8781 uploaded
142677 started
table 170477 uploaded
132569 started
table 99846 uploaded
52545 started
table 58287 uploaded
5208 started
table 33245 uploaded
134796 started
table 81031 uploaded
60336 started
table 33487 uploaded
85190 started
table 189809 uploaded
42952 started
table 134021 uploaded
7199 started
table 3942 uploaded
73713 started
table 129 uploaded
26966 started
table 1355 uploaded
43396 started
table 98189 uploaded
56846 started
table 142677 uploaded
128671 started
table 132569 uploaded
147940 started
table 5208 uploaded
5609 started
table 52545 uploaded
4475 started
table 1814 uploaded
4120 started
table 134796 uploaded
189333 started
table 85190 uploaded
99380 started
table 42952 uploaded
82378 started
table 73713 uploaded
91978 started
table 7199 uploaded
2667 started
table 43396 uploaded
4525 started
table 60336 uploaded
77353 started
table 4120 uploaded
7477 started
table 26966 uploaded
83318 started
table 128671 uploaded
136343 started

/opt/conda/lib/python3.10/site-packages/google/cloud/bigquery/_pandas_helpers.py:603: UserWarning: Pyarrow could not determine the type of columns: tag.
  warnings.warn(

table 147940 uploaded
135889 started
table 4475 uploaded
26524 started
table 99380 uploaded
6040 started
table 56846 uploaded
8635 started
table 82378 uploaded
171049 started
table 2667 uploaded
44849 started
table 4525 uploaded
58078 started
table 5609 uploaded
26226 started
table 91978 uploaded
5542 started
table 189333 uploaded
69406 started
table 77353 uploaded
6341 started
table 26524 uploaded
192045 started
table 7477 uploaded
89072 started
table 6040 uploaded
1994 started
table 135889 uploaded
69689 started
table 44849 uploaded
6333 started
table 8635 uploaded
7002 started
table 136343 uploaded
53318 started
table 83318 uploaded
1990 started
table 58078 uploaded
5532 started
table 26226 uploadedtable 69406 uploaded

2512 started146196 started

table 5542 uploaded
133712 started
table 171049 uploaded
43376 started
table 6341 uploaded
7099 started
table 192045 uploaded
6174 started
table 89072 uploaded
3894 started
table 1994 uploaded
30892 started
table 69689 uploaded
89961 started
table 7002 uploaded
82669 started
table 53318 uploaded
68793 started
table 133712 uploaded
136666 started
table 7099 uploaded
97194 started
table 2512 uploaded
31682 started
table 3894 uploaded
4058 started
table 6333 uploaded
105351 started
table 5532 uploaded
48883 started
table 1990 uploaded
109317 started
table 30892 uploaded
1314 started
table 43376 uploaded
91653 started
table 6174 uploaded
170745 started
table 89961 uploaded
6550 started
table 146196 uploaded
4426 started
table 68793 uploaded
67405 started
table 136666 uploaded
105206 started
table 109317 uploaded
57041 started
table 48883 uploaded
4861 started
table 82669 uploaded
80846 started
table 91653 uploaded
81495 started
table 6550 uploaded
159755 started
table 1314 uploaded
173291 started
table 4058 uploaded
181671 started
table 97194 uploaded
1411 started
table 31682 uploaded
61073 started
table 105351 uploaded
5134 started
table 170745 uploaded
52352 started
table 67405 uploaded
76680 started
table 105206 uploaded
135861 started
table 4426 uploaded
3459 started
table 80846 uploaded
40422 started
table 81495 uploaded
154051 started
table 4861 uploaded
37731 started
table 57041 uploaded
5383 started
table 173291 uploaded
165343 started
table 181671 uploaded
144298 started
table 159755 uploaded
173979 started

/opt/conda/lib/python3.10/site-packages/google/cloud/bigquery/_pandas_helpers.py:603: UserWarning: Pyarrow could not determine the type of columns: tag.
  warnings.warn(

table 1411 uploaded
46581 started
table 5134 uploaded
140725 started
table 76680 uploaded
96052 started
table 61073 uploaded
184089 started
table 52352 uploaded
25962 started
table 3459 uploaded
7006 started
table 154051 uploaded
96419 started
table 5383 uploaded
4616 started
table 37731 uploaded
1702 started
table 135861 uploaded
3202 started
table 144298 uploaded
177497 started
table 184089 uploaded
6884 started
table 165343 uploaded
3128 started
table 7006 uploaded
44613 started
table 25962 uploaded
7053 started
table 40422 uploaded
2668 started
table 4616 uploaded
113103 started
table 140725 uploaded
54775 started
table 96052 uploaded
table 1702 uploaded26719 started

159917 started
table 173979 uploaded
118900 started
table 96419 uploaded
84232 started
table 3202 uploaded
6283 started
table 177497 uploaded
104406 started
table 46581 uploaded
8957 started
table 6884 uploaded
3731 started
table 44613 uploaded
3436 started
table 3128 uploaded
103825 started
table 7053 uploaded
166015 started
table 159917 uploaded
6563 started
table 2668 uploaded
142456 started
table 118900 uploaded
638 started
table 26719 uploaded
58059 started
table 84232 uploaded
74727 started
table 113103 uploaded
3301 started
table 54775 uploaded
1954 started
table 6283 uploaded
58246 started
table 8957 uploaded
97455 started
table 3731 uploaded
4404 started
table 3436 uploaded
3845 started
table 104406 uploaded
171759 started
table 166015 uploaded
6080 started
table 6563 uploaded
73504 started
table 142456 uploaded
91323 started
table 103825 uploaded
96917 started
table 58246 uploaded
4844 started
table 58059 uploaded
50703 started
table 638 uploaded
164931 started
table 1954 uploaded
4288 started
table 4404 uploaded
359 started
table 3845 uploaded
42634 startedtable 97455 uploaded

106236 started
table 6080 uploaded
3058 started
table 74727 uploaded
137906 started
table 171759 uploaded
176921 started
table 91323 uploaded
128447 started
table 4844 uploaded
5074 started
table 3301 uploaded
185437 started
table 50703 uploaded
140383 started
table 4288 uploaded
711 started
table 164931 uploaded
447 started

/opt/conda/lib/python3.10/site-packages/google/cloud/bigquery/_pandas_helpers.py:603: UserWarning: Pyarrow could not determine the type of columns: tag.
  warnings.warn(

table 96917 uploaded
42559 started
table 73504 uploaded
148048 started
table 359 uploaded
8847 started
table 5074 uploaded
106100 started
table 176921 uploaded
113866 started
table 106236 uploaded
27302 started

/opt/conda/lib/python3.10/site-packages/google/cloud/bigquery/_pandas_helpers.py:603: UserWarning: Pyarrow could not determine the type of columns: tag.
  warnings.warn(

table 137906 uploaded
164725 started
table 185437 uploaded
2710 started
table 42634 uploaded
74818 started
table 711 uploaded
73914 started
table 140383 uploaded
162578 started
table 3058 uploaded
6181 started
table 128447 uploaded
3272 started
table 447 uploaded
2334 started
table 8847 uploaded
8980 started
table 106100 uploaded
99910 started
table 42559 uploaded
165969 started
table 113866 uploaded
4527 started
table 148048 uploaded
26558 started
table 74818 uploaded
131658 started
table 162578 uploaded
3636 started
table 2710 uploaded
2548 started
table 3272 uploaded
4051 started
table 2334 uploaded
94965 started
table 164725 uploaded
85874 started
table 6181 uploaded
6926 started
table 27302 uploaded
176265 started
table 73914 uploaded
26152 started
table 4527 uploaded
3707 started
table 3636 uploaded
125545 started
table 131658 uploaded
31038 started
table 165969 uploaded
2234 started
table 99910 uploaded
4960 started

/opt/conda/lib/python3.10/site-packages/google/cloud/bigquery/_pandas_helpers.py:603: UserWarning: Pyarrow could not determine the type of columns: tag.
  warnings.warn(

table 26558 uploaded
2475 started
table 8980 uploaded
4866 started
table 4051 uploaded
167174 started
table 2548 uploaded
79494 started
table 85874 uploaded
951 started
table 26152 uploaded
25941 started
table 6926 uploaded
3684 started
table 176265 uploaded
42163 started
table 94965 uploaded
32298 started
table 31038 uploaded
143462 started
table 2234 uploaded
5488 started
table 2475 uploaded
5589 started
table 3707 uploaded
115291 started
table 4960 uploaded
54491 started

/opt/conda/lib/python3.10/site-packages/google/cloud/bigquery/_pandas_helpers.py:603: UserWarning: Pyarrow could not determine the type of columns: tag.
  warnings.warn(

table 125545 uploaded
152280 started
table 4866 uploaded
2433 started
table 951 uploaded
39740 started
table 167174 uploaded
6934 started
table 42163 uploaded
5201 started
table 143462 uploaded
96283 started
table 54491 uploaded
32589 started
table 3684 uploaded
31658 started
table 79494 uploaded
128478 started

/opt/conda/lib/python3.10/site-packages/google/cloud/bigquery/_pandas_helpers.py:603: UserWarning: Pyarrow could not determine the type of columns: tag.
  warnings.warn(

table 25941 uploaded
33085 started
table 115291 uploaded
60072 started
table 32298 uploaded
3042 started
table 2433 uploaded
6124 started
table 5589 uploaded
188187 started
table 5488 uploaded
167682 started
table 39740 uploaded
8143 started
table 6934 uploaded
52572 started
table 96283 uploaded
26265 started
table 152280 uploaded
1729 started
table 32589 uploaded
82242 started
table 60072 uploaded
2079 started
table 5201 uploaded
table 33085 uploaded
922 started6275 started

table 128478 uploaded
32509 started
table 6124 uploaded
26392 started
table 3042 uploaded
4998 started
table 31658 uploaded
96488 started
table 167682 uploaded
387 started
table 52572 uploaded
3749 started
table 188187 uploaded
6796 started
table 1729 uploaded
57147 started
table 6275 uploaded
4097 started
table 82242 uploaded
165681 started
table 26265 uploaded
175243 started
table 2079 uploaded
1095 started
table 4998 uploaded
49 started
table 8143 uploaded
69949 started
table 32509 uploaded
1369 started
table 26392 uploaded
49389 started
table 6796 uploaded
205072 started
table 387 uploaded
135753 started
table 96488 uploaded
80405 started

/opt/conda/lib/python3.10/site-packages/google/cloud/bigquery/_pandas_helpers.py:603: UserWarning: Pyarrow could not determine the type of columns: tag.
  warnings.warn(

table 57147 uploaded
70497 started
table 922 uploaded
350 started
table 4097 uploaded
1333 started
table 49 uploaded
146350 started
table 165681 uploaded
1507 started

/opt/conda/lib/python3.10/site-packages/google/cloud/bigquery/_pandas_helpers.py:603: UserWarning: Pyarrow could not determine the type of columns: tag.
  warnings.warn(

table 175243 uploaded
7657 started
table 3749 uploaded
799 started
table 205072 uploaded
6153 started
table 1369 uploaded
8686 started
table 135753 uploaded
203904 started
table 49389 uploaded
141 started
table 80405 uploaded
46974 started
table 1095 uploaded
103372 started
table 70497 uploaded
133689 started

/opt/conda/lib/python3.10/site-packages/google/cloud/bigquery/_pandas_helpers.py:603: UserWarning: Pyarrow could not determine the type of columns: tag.
  warnings.warn(

table 69949 uploaded
26560 started
table 1333 uploaded
3513 started
table 350 uploaded
8685 started
table 7657 uploaded
1154 started
table 203904 uploaded
117438 started
table 799 uploaded
4405 started
table 8686 uploaded
520 started
table 146350 uploaded
27163 started
table 1507 uploaded
2002 started
table 6153 uploaded
58299 started
table 46974 uploaded
4899 started
table 141 uploaded
69394 started
table 26560 uploaded
5861 started
table 3513 uploaded
7190 started
table 103372 uploaded
134659 started
table 133689 uploaded
114550 started
table 8685 uploaded
79633 started
table 27163 uploaded
657 started
table 58299 uploaded
152131 started
table 1154 uploaded
4187 started
table 4405 uploaded
32285 started
table 117438 uploaded
3612 started
table 4899 uploaded
93610 started
table 5861 uploaded
98623 started
table 520 uploaded
119977 started
table 114550 uploaded
65667 started
table 7190 uploaded
72751 started
table 69394 uploaded
4953 started
table 2002 uploaded
5722 started
table 134659 uploaded
61289 started
table 79633 uploaded
6305 started
table 152131 uploaded
4203 started
table 4187 uploaded
496 started
table 32285 uploaded
111115 started
table 93610 uploaded
33898 started
table 119977 uploaded
89582 started
table 3612 uploaded
63433 started
table 4953 uploaded
61948 started
table 65667 uploaded
26197 started
table 98623 uploaded
1415 started
table 657 uploaded
73804 started
table 61289 uploaded
4847 started
table 5722 uploaded
9 started
table 6305 uploaded
155627 started
table 4203 uploaded
26481 started
table 72751 uploaded
2018 started
table 496 uploaded
103085 started
table 89582 uploaded
57476 started
table 26197 uploaded
189363 started
table 33898 uploaded
4738 started
table 1415 uploaded
104078 started
table 73804 uploaded
193533 started
table 63433 uploaded
67923 started
table 111115 uploaded
69269 started
table 4847 uploaded
59295 started
table 61948 uploaded
3362 started
table 9 uploaded
173963 started
table 103085 uploaded
142226 started
table 2018 uploaded
134115 started
table 155627 uploaded
27020 started
table 26481 uploaded
172215 started

/opt/conda/lib/python3.10/site-packages/google/cloud/bigquery/_pandas_helpers.py:603: UserWarning: Pyarrow could not determine the type of columns: tag.
  warnings.warn(

table 57476 uploaded
6823 started
table 69269 uploaded
4212 started
table 67923 uploaded
4012 started
table 189363 uploaded
27539 started
table 173963 uploaded
4281 started
table 59295 uploaded
6779 started
table 3362 uploaded
152290 started
table 193533 uploaded
3240 started
table 104078 uploaded
60737 started
table 4738 uploaded
156896 started
table 27020 uploaded
32735 started
table 6823 uploaded
39427 started
table 134115 uploaded
149670 started
table 172215 uploaded
4620 started
table 27539 uploaded
160954 started
table 142226 uploaded
192319 started
table 4012 uploaded
5482 started
table 3240 uploaded
145030 started
table 6779 uploaded
2572 started
table 4212 uploaded
7009 started
table 4281 uploaded
145070 started
table 60737 uploaded
27743 started
table 152290 uploaded
4234 started
table 39427 uploaded
7976 started
table 156896 uploaded
168498 started
table 149670 uploaded
104583 started
table 4620 uploaded
58434 started
table 192319 uploaded
331 started
table 32735 uploaded
8669 started
table 5482 uploaded
193439 started

/opt/conda/lib/python3.10/site-packages/google/cloud/bigquery/_pandas_helpers.py:603: UserWarning: Pyarrow could not determine the type of columns: tag.
  warnings.warn(

table 160954 uploaded
67068 started
table 145030 uploaded
94739 started
table 145070 uploaded
55 started
table 4234 uploaded
204556 started
table 2572 uploaded
154268 started
table 7009 uploaded
3604 started
table 27743 uploaded
39481 started
table 104583 uploaded
7988 started
table 168498 uploaded
274 started
table 58434 uploaded
10 started
table 67068 uploaded
2910 started
table 331 uploaded
786 started
table 55 uploaded
2850 started
table 8669 uploaded
144614 started
table 154268 uploaded
106487 started
table 3604 uploaded
55067 started
table 39481 uploaded
54262 started
table 7976 uploaded
141830 started
table 94739 uploaded
178083 started
table 204556 uploaded
3925 started
table 193439 uploaded
3216 started
table 7988 uploaded
112450 started
table 2850 uploaded
5524 started
table 2910 uploaded
139507 started
table 274 uploaded
6039 started
table 786 uploaded
191 started
table 10 uploaded
7214 started
table 144614 uploaded
7785 started
table 55067 uploaded
108243 started
table 178083 uploaded
8403 started
table 54262 uploaded
1008 started
table 106487 uploaded
32600 started
table 141830 uploaded
26096 started
table 3216 uploaded
116963 started
table 112450 uploaded
116680 started
table 3925 uploaded
4110 started
table 139507 uploaded
2417 started
table 7214 uploaded
3307 started
table 108243 uploaded
130351 started
table 8403 uploaded
4041 started
table 6039 uploaded
75389 started
table 191 uploaded
43558 started
table 7785 uploaded
104923 started
table 5524 uploaded
3602 started
table 26096 uploaded
2199 started
table 1008 uploaded
122896 started
table 116680 uploaded
5984 started
table 116963 uploaded
26299 started
table 4110 uploaded
2592 started

/opt/conda/lib/python3.10/site-packages/google/cloud/bigquery/_pandas_helpers.py:603: UserWarning: Pyarrow could not determine the type of columns: tag.
  warnings.warn(

table 4041 uploaded
179813 started
table 3307 uploaded
73344 started
table 2417 uploaded
158414 started
table 3602 uploaded
85392 started
table 43558 uploaded
table 104923 uploaded3089 started

170817 started
table 75389 uploaded
73135 started
table 32600 uploaded
125974 started
table 122896 uploaded
48161 started
table 130351 uploaded
778 started
table 2199 uploaded
41411 started
table 5984 uploaded
100540 started
table 26299 uploaded
68838 started
table 179813 uploaded
53550 started
table 73344 uploaded
34143 started
table 2592 uploaded
84777 started
table 3089 uploaded
4000 started
table 73135 uploaded
130988 started
table 85392 uploaded
92448 started
table 48161 uploaded
163771 startedtable 158414 uploaded

88593 started
table 125974 uploaded
157797 started
table 41411 uploaded
2866 started
table 170817 uploaded
143404 started
table 34143 uploaded
461 started
table 778 uploaded
153 started
table 84777 uploaded
3961 started
table 53550 uploaded
7899 started
table 68838 uploaded
43904 started
table 4000 uploaded
6502 started
table 100540 uploaded
188833 started
table 130988 uploaded
167640 started
table 92448 uploaded
116004 started
table 163771 uploaded
649 started
table 143404 uploaded
7345 started
table 2866 uploaded
141844 startedtable 88593 uploaded

157365 started
table 3961 uploaded
158007 started
table 461 uploaded
6905 started
table 157797 uploaded
8733 started
table 7899 uploaded
170407 started
table 43904 uploaded
94900 started
table 188833 uploaded
7015 started
table 153 uploaded
65588 started
table 6502 uploaded
3936 started
table 116004 uploaded
100017 started
table 141844 uploaded
1699 started
table 157365 uploaded
8611 started
table 158007 uploaded
4239 started
table 649 uploaded
30793 started
table 6905 uploaded
918 started
table 7345 uploaded
174489 started
table 94900 uploaded
7446 started
table 8733 uploaded
95443 started
table 167640 uploaded
103249 started
table 3936 uploaded
50151 started
table 65588 uploaded
3466 started
table 100017 uploaded
5727 started
table 7015 uploaded
95583 started
table 1699 uploaded
939 started
table 170407 uploaded
169984 started
table 7446 uploaded
162600 started
table 30793 uploaded
7419 started
table 5727 uploaded
7618 started
table 3466 uploaded
42418 started
table 4239 uploaded
6763 started
table 918 uploaded
147410 started
table 50151 uploaded
5043 started
table 103249 uploaded
203449 started
table 8611 uploaded
96537 started

/opt/conda/lib/python3.10/site-packages/google/cloud/bigquery/_pandas_helpers.py:603: UserWarning: Pyarrow could not determine the type of columns: tag.
  warnings.warn(

table 174489 uploaded
6156 started
table 95583 uploaded
6455 started
table 95443 uploaded
106491 started
table 939 uploaded
3576 started
table 7419 uploaded
5120 started
table 5043 uploaded
5788 started
table 203449 uploaded
4532 started
table 162600 uploaded
5374 started
table 6763 uploaded
27347 started
table 6156 uploaded
86593 started
table 147410 uploaded
51209 started
table 169984 uploaded
3590 started
table 96537 uploaded
1653 started
table 7618 uploaded
171763 started
table 6455 uploaded
80549 started
table 106491 uploaded
68358 started
table 42418 uploaded
58972 started
table 5120 uploaded
28 started
table 3576 uploaded
3147 started
table 5788 uploaded
60103 started
table 3590 uploaded
144072 started
table 4532 uploaded
112749 started
table 5374 uploaded
3540 started
table 27347 uploaded
204702 started
table 171763 uploaded
3982 started
table 68358 uploaded
33794 started
table 80549 uploaded
74164 started
table 86593 uploaded
1279 started
table 51209 uploaded
25879 started
table 58972 uploaded
4696 started
table 1653 uploaded
106863 started
table 3147 uploaded
169220 started
table 60103 uploaded
8302 started
table 3540 uploaded
2976 started
table 33794 uploaded
177993 startedtable 3982 uploaded

56614 started
table 112749 uploaded
128592 started
table 144072 uploaded
107630 started
table 204702 uploaded
973 started
table 28 uploaded
69699 started
table 106863 uploaded
5471 started
table 1279 uploaded
6166 started
table 74164 uploaded
82059 started
table 8302 uploaded
189041 started
table 4696 uploaded
158336 started
table 169220 uploaded
69372 started
table 25879 uploaded
103221 started
table 2976 uploaded
30883 started
table 128592 uploaded
27878 started
table 177993 uploaded
2643 started
table 6166 uploaded
8576 started
table 973 uploaded
5281 started
table 69699 uploaded
6536 started
table 107630 uploaded
83067 started
table 189041 uploaded
92192 started
table 103221 uploaded
176571 started
table 56614 uploaded
4632 started
table 82059 uploaded
146004 started
table 158336 uploaded
2772 started
table 27878 uploaded
6022 started
table 69372 uploaded
136495 started
table 2643 uploaded
2389 started
table 5471 uploaded
27292 started
table 30883 uploaded
175981 started
table 8576 uploaded
173823 started

/opt/conda/lib/python3.10/site-packages/google/cloud/bigquery/_pandas_helpers.py:603: UserWarning: Pyarrow could not determine the type of columns: tag.
  warnings.warn(

table 6536 uploaded
3575 started
table 5281 uploaded
86300 started
table 176571 uploaded
3704 started
table 92192 uploaded
196887 started

/opt/conda/lib/python3.10/site-packages/google/cloud/bigquery/_pandas_helpers.py:603: UserWarning: Pyarrow could not determine the type of columns: tag.
  warnings.warn(

table 146004 uploaded
5756 started
table 4632 uploaded
3591 started
table 2772 uploaded
68901 started
table 6022 uploaded
142799 startedtable 173823 uploaded

3140 started
table 83067 uploaded
254 started
table 27292 uploaded
80763 started
table 86300 uploaded
101527 started
table 2389 uploaded
33649 started
table 136495 uploaded
53000 started
table 175981 uploaded
112171 started
table 3575 uploaded
135216 started
table 196887 uploaded
2616 started
table 142799 uploaded
33296 started
table 3704 uploaded
35 started
table 3140 uploaded
7385 started
table 68901 uploaded
77291 started
table 80763 uploaded
4370 started
table 5756 uploaded
50658 started
table 254 uploaded
2026 started
table 3591 uploaded
202393 started
table 53000 uploaded
5059 started
table 33649 uploaded
3901 started
table 112171 uploaded
49902 started
table 101527 uploaded
117312 started
table 2616 uploaded
117420 started
table 135216 uploaded
8692 started
table 33296 uploaded
67784 started
table 7385 uploaded
2432 started
table 35 uploaded
107083 started
table 4370 uploaded
2290 started
table 50658 uploaded
4833 started
table 5059 uploaded
163508 started
table 77291 uploaded
4610 started
table 49902 uploaded
5577 started
table 2026 uploaded
3490 started
table 202393 uploaded
88468 started
table 3901 uploaded
7834 started
table 117312 uploaded
5369 started
table 117420 uploaded
2906 started
table 8692 uploaded
6204 started
table 67784 uploaded
7764 started
table 107083 uploaded
7390 started
table 2290 uploaded
80831 started
table 4833 uploaded
55253 started
table 4610 uploaded
1057 started
table 163508 uploaded
135498 started
table 2432 uploaded
131796 started
table 88468 uploaded
68919 started
table 6204 uploaded
5718 started
table 7834 uploaded
2188 started
table 5577 uploaded
5359 started
table 3490 uploaded
5086 started
table 2906 uploaded
160990 started
table 5369 uploaded
45611 started
table 55253 uploaded
105869 started
table 7764 uploaded
408 started
table 135498 uploaded
104050 started
table 68919 uploaded
8935 started
table 7390 uploaded
72995 started
table 5359 uploaded
45730 started
table 1057 uploaded
2496 started
table 131796 uploaded
34437 started
table 80831 uploaded
73513 started
table 5718 uploaded
56757 started
table 2188 uploaded
105252 started
table 160990 uploaded
148480 started
table 8935 uploaded
3949 started
table 45611 uploaded
203619 started
table 408 uploaded
97306 started
table 105869 uploaded
7160 started
table 104050 uploaded
3345 started
table 72995 uploaded
90343 started
table 105252 uploaded
2499 started
table 56757 uploaded
106879 started
table 5086 uploaded
144636 started
table 34437 uploaded
65142 started
table 2496 uploaded
103755 started
table 45730 uploaded
192997 started
table 148480 uploaded
174901 started
table 73513 uploaded
192123 started

/opt/conda/lib/python3.10/site-packages/google/cloud/bigquery/_pandas_helpers.py:603: UserWarning: Pyarrow could not determine the type of columns: tag.
  warnings.warn(

table 203619 uploaded
76054 started
table 3345 uploaded
53972 started
table 7160 uploaded
59549 started
table 3949 uploaded
130588 started
table 97306 uploaded
55274 started
table 106879 uploaded
167494 started
table 90343 uploaded
41575 started
table 2499 uploaded
967 started
table 65142 uploaded
78986 started
table 192997 uploaded
134158 started
table 192123 uploaded
81681 started
table 76054 uploaded
181077 started
table 174901 uploaded
54171 started
table 144636 uploaded
5337 started
table 55274 uploaded
100302 started
table 103755 uploaded
5968 started
table 41575 uploaded
3621 started
table 53972 uploaded
6084 started
table 130588 uploaded
189879 started
table 59549 uploaded
4050 started
table 78986 uploaded
115669 started
table 181077 uploaded
30695 started
table 81681 uploaded
1545 started
table 134158 uploaded
57951 started
table 167494 uploaded
106195 started
table 967 uploaded
26602 started
table 5968 uploaded
192697 started
table 54171 uploaded
78381 started
table 5337 uploaded
170947 started
table 100302 uploaded
35347 started
table 3621 uploaded
775 started
table 6084 uploaded
6130 started
table 4050 uploaded
179285 started
table 1545 uploaded
4245 started
table 189879 uploaded
41828 started
table 57951 uploaded
1144 started
table 26602 uploaded
4430 started
table 78381 uploaded
5852 started
table 106195 uploaded
144504 started

/opt/conda/lib/python3.10/site-packages/google/cloud/bigquery/_pandas_helpers.py:603: UserWarning: Pyarrow could not determine the type of columns: tag.
  warnings.warn(

table 30695 uploaded
1902 started
table 115669 uploaded
2637 started
table 170947 uploaded
82300 started
table 192697 uploaded
103341 started
table 35347 uploaded
120301 started
table 775 uploaded
6532 started

/opt/conda/lib/python3.10/site-packages/google/cloud/bigquery/_pandas_helpers.py:603: UserWarning: Pyarrow could not determine the type of columns: tag.
  warnings.warn(

table 6130 uploaded
2824 started
table 4245 uploaded
93267 started
table 4430 uploaded
2446 started
table 5852 uploaded
47099 started
table 179285 uploaded
132952 started
table 1902 uploaded
174403 started
table 1144 uploaded
1592 started
table 103341 uploaded
6736 started
table 41828 uploaded
107756 started
table 82300 uploaded
2993 started
table 2637 uploaded
1744 started
table 120301 uploaded
179709 started
table 2824 uploaded
172433 started
table 93267 uploaded
142082 started
table 144504 uploaded
89386 started
table 2446 uploaded
30707 started
table 6532 uploaded
1267 started
table 1592 uploaded
3103 started
table 132952 uploaded
8657 started
table 1744 uploaded
7060 started
table 6736 uploaded
88356 started
table 2993 uploaded
121155 started
table 107756 uploaded
76293 started
table 174403 uploaded
4103 started
table 179709 uploaded
144508 started

/opt/conda/lib/python3.10/site-packages/google/cloud/bigquery/_pandas_helpers.py:603: UserWarning: Pyarrow could not determine the type of columns: tag.
  warnings.warn(

table 47099 uploaded
105254 started
table 142082 uploaded
122880 started
table 172433 uploaded
7817 started
table 1267 uploaded
27497 started
table 89386 uploaded
97397 started
table 88356 uploaded
3520 started
table 8657 uploaded
53468 started
table 30707 uploaded
170451 started

/opt/conda/lib/python3.10/site-packages/google/cloud/bigquery/_pandas_helpers.py:603: UserWarning: Pyarrow could not determine the type of columns: tag.
  warnings.warn(

table 76293 uploaded
99764 started
table 7060 uploaded
4180 started
table 4103 uploaded
7569 started
table 3103 uploaded
121135 started
table 7817 uploaded
52435 started
table 144508 uploaded
4435 started
table 122880 uploaded
8859 started
table 105254 uploaded
96969 started
table 121155 uploaded
78742 started
table 3520 uploaded
4987 started
table 53468 uploaded
3597 started
table 99764 uploaded
177883 started
table 27497 uploaded
5880 started
table 7569 uploaded
165179 started
table 52435 uploaded
175659 started
table 121135 uploaded
134087 started
table 170451 uploaded
62912 started
table 78742 uploaded
33454 started
table 8859 uploaded
2687 started
table 97397 uploaded
96510 started
table 4435 uploaded
81132 started
table 4180 uploaded
32009 started
table 4987 uploaded
141251 started
table 96969 uploaded
33081 started
table 3597 uploaded
6659 started
table 5880 uploaded
4360 started
table 165179 uploaded
6641 started
table 177883 uploaded
55110 started
table 175659 uploaded
42217 started
table 2687 uploaded
5137 started
table 96510 uploaded
3124 started
table 33454 uploaded
66655 started
table 62912 uploaded
4030 started
table 32009 uploaded
114849 started
table 141251 uploaded
87647 started
table 134087 uploaded
61013 started
table 4360 uploaded
193477 started
table 55110 uploaded
38036 started
table 81132 uploaded
25842 started
table 6659 uploaded
27746 started
table 42217 uploaded
143547 started
table 6641 uploaded
89427 started
table 66655 uploaded
91972 started
table 5137 uploaded
115502 started
table 4030 uploaded
80906 started
table 3124 uploaded
79477 started
table 114849 uploaded
70769 started
table 87647 uploaded
1410 started
table 33081 uploaded
765 started
table 61013 uploaded
8255 started

/opt/conda/lib/python3.10/site-packages/google/cloud/bigquery/_pandas_helpers.py:603: UserWarning: Pyarrow could not determine the type of columns: tag.
  warnings.warn(

table 193477 uploaded
42740 started
table 27746 uploaded
1258 started
table 89427 uploaded
50068 started
table 38036 uploaded
55487 started
table 91972 uploaded
52891 started
table 1410 uploaded
8636 started
table 70769 uploaded
58870 started
table 765 uploaded
90439 started
table 8255 uploaded
3017 started
table 115502 uploaded
131830 started
table 42740 uploaded
6147 started
table 143547 uploaded
98973 started
table 80906 uploaded
71464 started
table 1258 uploaded
5990 started
table 90439 uploaded
33801 started
table 3017 uploaded
40111 started
table 58870 uploaded
3699 started
table 25842 uploaded
159077 started
table 6147 uploaded
27362 started
table 52891 uploaded
159163 started
table 8636 uploaded
95602 started

/opt/conda/lib/python3.10/site-packages/google/cloud/bigquery/_pandas_helpers.py:603: UserWarning: Pyarrow could not determine the type of columns: tag.
  warnings.warn(

table 131830 uploaded
5716 started
table 98973 uploaded
150900 started
table 55487 uploaded
54605 started
table 79477 uploaded
2514 started
table 50068 uploaded
table 5990 uploaded
116855 started
3880 started
table 71464 uploaded
7763 started
table 33801 uploaded
4675 started
table 159163 uploaded
6476 started
table 3699 uploaded
135442 started
table 54605 uploaded
table 159077 uploaded66691 started

5839 started
table 150900 uploaded
3914 started
table 95602 uploaded
57754 started
table 3880 uploaded
7573 started
table 116855 uploaded
281 started
table 2514 uploaded
76709 started

/opt/conda/lib/python3.10/site-packages/google/cloud/bigquery/_pandas_helpers.py:603: UserWarning: Pyarrow could not determine the type of columns: tag.
  warnings.warn(

table 5716 uploaded
192359 started
table 4675 uploaded
1484 started
table 27362 uploaded
8656 started
table 135442 uploaded
26163 started
table 7763 uploaded
8743 started
table 66691 uploaded
48142 started
table 6476 uploaded
68892 started

/opt/conda/lib/python3.10/site-packages/google/cloud/bigquery/_pandas_helpers.py:603: UserWarning: Pyarrow could not determine the type of columns: tag.
  warnings.warn(

table 5839 uploaded
172785 started
table 57754 uploaded
60514 started
table 7573 uploaded
47904 started
table 3914 uploaded
136926 started
table 281 uploaded
5830 started
table 76709 uploaded
139106 started
table 40111 uploaded
7275 started
table 1484 uploaded
39414 started
table 8743 uploaded
52528 started
table 26163 uploaded
5051 started
table 8656 uploaded
59154 started
table 136926 uploaded
26459 started
table 48142 uploaded
777 started

/opt/conda/lib/python3.10/site-packages/google/cloud/bigquery/_pandas_helpers.py:603: UserWarning: Pyarrow could not determine the type of columns: tag.
  warnings.warn(

table 68892 uploaded
6555 started
table 172785 uploaded
89774 started
table 192359 uploaded
4706 started
table 52528 uploaded
6238 started
table 39414 uploaded
189795 started

/opt/conda/lib/python3.10/site-packages/google/cloud/bigquery/_pandas_helpers.py:603: UserWarning: Pyarrow could not determine the type of columns: tag.
  warnings.warn(

table 47904 uploaded
51287 started
table 139106 uploaded
2872 started
table 59154 uploaded
99045 started
table 5051 uploaded
7115 started
table 5830 uploaded
57637 started
table 7275 uploaded
94953 started
table 26459 uploaded
6485 started
table 89774 uploaded
6292 started
table 777 uploaded
130956 started
table 6555 uploaded
8149 started
table 4706 uploaded
64839 started
table 6238 uploaded
106889 started
table 94953 uploaded
121148 started
table 2872 uploaded
27772 started
table 57637 uploaded
89584 started
table 189795 uploaded
144534 started

/opt/conda/lib/python3.10/site-packages/google/cloud/bigquery/_pandas_helpers.py:603: UserWarning: Pyarrow could not determine the type of columns: tag.
  warnings.warn(

table 60514 uploaded
8898 started
table 51287 uploaded
147750 started
table 6485 uploaded
127204 started
table 99045 uploaded
1419 started
table 106889 uploaded
136483 started
table 7115 uploaded
2953 started
table 8149 uploaded
26245 started
table 121148 uploaded
86781 started
table 6292 uploaded
86000 started
table 147750 uploaded
47950 started
table 127204 uploaded
310 started
table 130956 uploaded
856 started

/opt/conda/lib/python3.10/site-packages/google/cloud/bigquery/_pandas_helpers.py:603: UserWarning: Pyarrow could not determine the type of columns: tag.
  warnings.warn(
/opt/conda/lib/python3.10/site-packages/google/cloud/bigquery/_pandas_helpers.py:603: UserWarning: Pyarrow could not determine the type of columns: tag.
  warnings.warn(

table 144534 uploaded
103543 started
table 89584 uploaded
1488 started
table 27772 uploaded
4895 started
table 64839 uploaded
168134 started
table 1419 uploaded
26336 started
table 8898 uploaded
59915 started
table 26245 uploaded
1595 started
table 86781 uploaded
6865 started
table 2953 uploaded
4823 started
table 47950 uploaded
50541 started
table 86000 uploaded
77715 started
table 136483 uploaded
74486 started
table 310 uploaded
70048 started
table 4895 uploaded
108506 started
table 1488 uploaded
100487 started
table 856 uploaded
1908 started
table 168134 uploaded
3318 started
table 59915 uploaded
6724 started
table 6865 uploaded
202575 started
table 1595 uploaded
1599 started
table 103543 uploaded
8726 started
table 77715 uploaded
94 started
table 4823 uploaded
51705 started
table 74486 uploaded
90738 started
table 26336 uploaded
43853 started
table 70048 uploaded
140441 started

/opt/conda/lib/python3.10/site-packages/google/cloud/bigquery/_pandas_helpers.py:603: UserWarning: Pyarrow could not determine the type of columns: tag.
  warnings.warn(

table 108506 uploaded
3940 started
table 100487 uploaded
2894 started
table 1908 uploaded
5376 started
table 6724 uploaded
1447 started
table 50541 uploaded
167352 started
table 8726 uploaded
3783 started
table 202575 uploaded
91048 started
table 3318 uploaded
1307 started
table 90738 uploaded
175401 started
table 140441 uploaded
4160 started
table 94 uploaded
6067 started
table 1599 uploaded
171689 started
table 5376 uploaded
105653 started
table 51705 uploaded
62644 started
table 43853 uploaded
177297 started
table 3940 uploaded
56165 started
table 1447 uploaded
582 started
table 2894 uploaded
151687 started
table 3783 uploaded
54833 started
table 175401 uploaded
8951 started
table 167352 uploaded
27416 started
table 171689 uploaded
table 91048 uploaded949 started
126575 started

table 1307 uploaded
64 started
table 105653 uploaded
59220 started
table 4160 uploaded
109461 started
table 62644 uploaded
404 started
table 177297 uploaded
152083 started
table 582 uploaded
4301 started
table 6067 uploaded
4618 started
table 151687 uploaded
2330 started
table 126575 uploaded
23 started
table 59220 uploaded
169758 started
table 27416 uploaded
107702 started
table 64 uploaded
32632 started
table 56165 uploaded
992 started
table 54833 uploaded
26682 started
table 8951 uploaded
120466 started
table 152083 uploaded
7438 started
table 949 uploaded
61937 started
table 109461 uploaded
2500 started
table 404 uploaded
4173 started
table 4618 uploaded
3834 started
table 4301 uploaded
79057 started
table 23 uploaded
2498 started
table 169758 uploaded
144436 started
table 107702 uploaded
197537 started
table 2330 uploaded
65596 started
table 32632 uploaded
146244 started
table 4173 uploaded
46559 started
table 120466 uploaded
60338 started
table 992 uploaded
106508 started
table 61937 uploaded
73879 started
table 79057 uploaded
3985 started
table 26682 uploaded
5019 started
table 3834 uploaded
1080 started
table 7438 uploaded
2103 started
table 2500 uploaded
33188 started
table 2498 uploaded
5803 startedtable 144436 uploaded

4502 started
table 65596 uploaded
91241 started
table 46559 uploaded
4048 started
table 146244 uploaded
127182 started
table 197537 uploaded
717 started

/opt/conda/lib/python3.10/site-packages/google/cloud/bigquery/_pandas_helpers.py:603: UserWarning: Pyarrow could not determine the type of columns: tag.
  warnings.warn(

table 3985 uploaded
1804 started
table 73879 uploaded
167122 started
table 2103 uploaded
5193 started
table 1080 uploaded
93803 started
table 4502 uploaded
39801 started
table 60338 uploaded
84392 started
table 5803 uploaded
7000 started
table 5019 uploaded
104829 started
table 91241 uploaded
3686 started
table 106508 uploaded
57695 started
table 4048 uploaded
2457 started
table 33188 uploaded
8654 started
table 39801 uploaded
101498 started
table 93803 uploaded
8964 started
table 5193 uploaded
3539 started
table 7000 uploaded
42172 started
table 717 uploaded
5981 started
table 3686 uploaded
5354 started
table 1804 uploaded
174533 started
table 167122 uploaded
8978 started
table 57695 uploaded
111931 started
table 104829 uploaded
26171 started
table 127182 uploaded
7445 started
table 84392 uploaded
32587 started
table 101498 uploaded
104321 started
table 2457 uploaded
92817 started
table 8964 uploaded
1259 started
table 42172 uploaded
5599 started
table 3539 uploaded
184741 started
table 8654 uploaded
105769 started
table 174533 uploaded
1854 started
table 8978 uploaded
193779 started
table 5981 uploaded
91371 started
table 111931 uploaded
344 started
table 7445 uploaded
45179 started
table 5354 uploaded
3137 started
table 32587 uploaded
7669 started
table 104321 uploaded
2546 started
table 92817 uploaded
142472 started
table 26171 uploaded
96621 started
table 184741 uploaded
156755 started
table 5599 uploaded
27776 started
table 1854 uploaded
8966 started
table 193779 uploaded
50517 started
table 105769 uploaded
27550 started
table 344 uploaded
1836 started
table 91371 uploaded
195167 started
table 1259 uploaded
158783 started
table 45179 uploaded
58123 started
table 7669 uploaded
2682 started
table 3137 uploaded
112293 started
table 8966 uploaded
3570 started
table 50517 uploaded
115235 started
table 142472 uploaded
147198 started
table 96621 uploaded
109313 started
table 156755 uploaded
142086 started
table 27776 uploaded
table 2546 uploaded3445 started

54768 started
table 195167 uploaded
188941 started
table 27550 uploaded
2386 started
table 1836 uploaded
6524 started
table 158783 uploaded
517 startedtable 58123 uploaded

162566 started
table 3570 uploaded
34002 started
table 115235 uploaded
177067 started
table 2682 uploaded
101741 started

/opt/conda/lib/python3.10/site-packages/google/cloud/bigquery/_pandas_helpers.py:603: UserWarning: Pyarrow could not determine the type of columns: tag.
  warnings.warn(

table 142086 uploaded
3160 started
table 112293 uploaded
3768 started
table 3445 uploaded
81156 started
table 109313 uploaded
107368 started
table 188941 uploaded
7344 started
table 2386 uploaded
136497 started
table 147198 uploaded
6666 started
table 6524 uploaded
39416 started
table 517 uploaded
1516 started
table 54768 uploaded
1332 started
table 34002 uploaded
6788 started
table 101741 uploaded
81667 started
table 3768 uploaded
3327 started
table 107368 uploaded
26996 started
table 81156 uploaded
33672 started
table 177067 uploaded
169902 started
table 7344 uploaded
90378 started
table 3160 uploaded
1281 started
table 136497 uploaded
172 started
table 6666 uploaded
3962 started
table 1332 uploaded
1476 started
table 26996 uploaded
88570 started
table 6788 uploaded
4068 started
table 81667 uploaded
6729 started
table 39416 uploaded
2490 started
table 1516 uploaded
77364 started
table 3327 uploaded
7014 started
table 1281 uploaded
8631 started
table 90378 uploaded
72672 started
table 33672 uploaded
2757 started
table 3962 uploaded
71246 started
table 169902 uploaded
1909 started
table 172 uploaded
84160 started
table 6729 uploaded
5630 started
table 1476 uploaded
31148 started
table 4068 uploaded
183727 started
table 72672 uploaded
170875 started
table 88570 uploaded
153766 started
table 2490 uploaded
37733 started
table 7014 uploaded
27704 started
table 2757 uploaded
108514 started
table 77364 uploaded
54745 started
table 1909 uploaded
89373 started
table 8631 uploaded
84506 started
table 71246 uploaded
205076 started
table 5630 uploaded
117932 started
table 31148 uploaded
26949 started
table 170875 uploaded
54881 started
table 84160 uploaded
3818 started
table 153766 uploaded
6574 started
table 89373 uploaded
6850 started
table 183727 uploaded
2256 started
table 37733 uploaded
1779 started
table 108514 uploaded
169256 started
table 84506 uploaded
188773 started
table 27704 uploaded
134234 started
table 205076 uploaded
109199 started
table 54881 uploaded
3114 started
table 26949 uploaded
6397 started
table 54745 uploaded
193 started
table 6574 uploaded
1644 started
table 6850 uploaded
5075 started
table 1779 uploaded
3414 started
table 169256 uploaded
3682 started
table 188773 uploaded
74275 started
table 2256 uploaded
5351 started
table 134234 uploaded
252 started
table 3818 uploaded
2179 started
table 117932 uploaded
8880 started
table 109199 uploaded
425 started
table 1644 uploaded
110586 started
table 6397 uploaded
49284 started
table 3114 uploaded
60333 started
table 193 uploaded
125906 started
table 3414 uploaded
2175 started
table 5351 uploaded
324 started
table 8880 uploaded
201200 started
table 5075 uploaded
7989 started
table 3682 uploaded
147196 started

/opt/conda/lib/python3.10/site-packages/google/cloud/bigquery/_pandas_helpers.py:603: UserWarning: Pyarrow could not determine the type of columns: tag.
  warnings.warn(

table 252 uploaded
48673 started
table 2179 uploaded
26492 started
table 74275 uploaded
2463 started
table 425 uploaded
4784 started
table 110586 uploaded
160892 started
table 2175 uploaded
100062 started
table 201200 uploaded
7945 started
table 60333 uploaded
207145 started
table 7989 uploaded
8954 started
table 49284 uploaded
110771 started
table 324 uploaded
146656 started
table 2463 uploaded
144500 started
table 147196 uploaded
45208 started
table 48673 uploaded
4874 started
table 100062 uploaded
1194 started
table 4784 uploaded
47778 started
table 207145 uploaded
89590 started
table 26492 uploaded
122924 started
table 8954 uploaded
53326 started
table 125906 uploaded
5332 started
table 160892 uploaded
125661 started
table 110771 uploaded
4800 started
table 144500 uploaded
134083 started
table 47778 uploaded
7169 started
table 7945 uploaded
4485 started
table 146656 uploaded
114426 started
table 89590 uploaded
42385 started
table 53326 uploaded
4315 started

/opt/conda/lib/python3.10/site-packages/google/cloud/bigquery/_pandas_helpers.py:603: UserWarning: Pyarrow could not determine the type of columns: tag.
  warnings.warn(

table 5332 uploaded
6901 started
table 45208 uploaded
4868 started
table 1194 uploaded
43 started
table 122924 uploaded
3030 started
table 4800 uploaded
3039 started
table 125661 uploaded
152067 started
table 4874 uploaded
160319 started
table 134083 uploaded
96543 started
table 4485 uploaded
93297 started
table 7169 uploaded
85354 started
table 114426 uploaded
58554 started
table 4868 uploaded
105837 started
table 3030 uploaded
8683 started
table 6901 uploaded
5055 started
table 42385 uploaded
141954 started
table 43 uploaded
151605 started
table 96543 uploaded
532 started
table 3039 uploaded
125936 started
table 4315 uploaded
108085 started
table 105837 uploaded
79879 started
table 152067 uploaded
45303 started
table 160319 uploaded
2799 started
table 93297 uploaded
84613 started
table 85354 uploaded
896 started
table 5055 uploaded
4772 started
table 151605 uploaded
102245 started
table 8683 uploaded
68965 started
table 58554 uploaded
2977 started
table 108085 uploaded
8906 started
table 532 uploaded
2133 started
table 79879 uploaded
51060 started
table 141954 uploaded
172833 started

/opt/conda/lib/python3.10/site-packages/google/cloud/bigquery/_pandas_helpers.py:603: UserWarning: Pyarrow could not determine the type of columns: tag.
  warnings.warn(

table 45303 uploaded
5225 started
table 896 uploaded
2767 started
table 2799 uploaded
2348 started
table 4772 uploaded
8070 started
table 84613 uploaded
127128 started
table 102245 uploaded
116853 started
table 125936 uploaded
5857 started
table 68965 uploaded
176923 started

/opt/conda/lib/python3.10/site-packages/google/cloud/bigquery/_pandas_helpers.py:603: UserWarning: Pyarrow could not determine the type of columns: tag.
  warnings.warn(

table 2133 uploaded
table 172833 uploaded3637 started

144620 started
table 2348 uploaded
201646 started
table 5225 uploaded
27166 started
table 51060 uploaded
53837 started
table 2767 uploaded

/opt/conda/lib/python3.10/site-packages/google/cloud/bigquery/_pandas_helpers.py:603: UserWarning: Pyarrow could not determine the type of columns: tag.
  warnings.warn(

73870 started
table 127128 uploaded
420 started
table 2977 uploaded
116289 started
table 116853 uploaded
31613 started
table 176923 uploaded
3420 started
table 5857 uploaded
2429 started
table 8070 uploaded
104 started
table 27166 uploaded
32582 started
table 3637 uploaded
1805 started
table 144620 uploaded
77774 started
table 8906 uploaded
26813 started

/opt/conda/lib/python3.10/site-packages/google/cloud/bigquery/_pandas_helpers.py:603: UserWarning: Pyarrow could not determine the type of columns: tag.
  warnings.warn(

table 53837 uploaded
80222 started
table 162566 uploaded
171727 started
table 201646 uploaded
52281 started
table 116289 uploaded
122129 started
table 3420 uploaded
3943 started
table 31613 uploaded
33 started

/opt/conda/lib/python3.10/site-packages/google/cloud/bigquery/_pandas_helpers.py:603: UserWarning: Pyarrow could not determine the type of columns: tag.
  warnings.warn(

table 420 uploaded
5548 started
table 2429 uploaded
132883 started
table 104 uploaded
27752 started
table 77774 uploaded
1539 started
table 32582 uploaded
7183 started
table 1805 uploaded
82315 started
table 33 uploaded
141004 started
table 73870 uploaded
195777 started
table 80222 uploaded
6295 started
table 52281 uploaded
70425 started
table 122129 uploaded
5107 started
table 26813 uploaded
27716 started
table 132883 uploaded
139090 started
table 5548 uploaded
231 started
table 1539 uploaded
59942 started
table 3943 uploaded
144550 started
table 27752 uploaded
623 started

/opt/conda/lib/python3.10/site-packages/google/cloud/bigquery/_pandas_helpers.py:603: UserWarning: Pyarrow could not determine the type of columns: tag.
  warnings.warn(

table 171727 uploaded
990 started
table 7183 uploaded
5065 started
table 82315 uploaded
83468 started
table 195777 uploaded
47714 started
table 141004 uploaded
26398 started
table 27716 uploaded
8845 started
table 5107 uploaded
3849 started
table 231 uploaded
81403 started
table 70425 uploaded
116823 started
table 59942 uploaded
5520 started
table 139090 uploaded
55329 started
table 6295 uploaded
396 started
table 144550 uploaded
45106 started
table 26398 uploaded
27741 started
table 623 uploaded
179415 started
table 8845 uploaded
53322 started
table 83468 uploaded
76151 started
table 3849 uploaded
2901 started
table 47714 uploaded
6956 started
table 5065 uploaded
152059 started
table 81403 uploaded
2743 started
table 116823 uploaded
67408 started
table 5520 uploaded
97870 started
table 55329 uploaded
2030 started
table 396 uploaded
6307 started
table 990 uploaded
1499 started
table 45106 uploaded
111439 started
table 53322 uploaded
2090 started

/opt/conda/lib/python3.10/site-packages/google/cloud/bigquery/_pandas_helpers.py:603: UserWarning: Pyarrow could not determine the type of columns: tag.
  warnings.warn(

table 27741 uploaded
6903 started
table 2743 uploaded
32440 started
table 152059 uploaded
72226 started
table 76151 uploaded
2723 started
table 6956 uploaded
86642 started
table 67408 uploaded
65939 started

/opt/conda/lib/python3.10/site-packages/google/cloud/bigquery/_pandas_helpers.py:603: UserWarning: Pyarrow could not determine the type of columns: tag.
  warnings.warn(

table 2901 uploaded
1068 started
table 97870 uploaded
8724 started
table 179415 uploaded
4808 started
table 6307 uploaded
4585 started
table 1499 uploaded
1720 started
table 6903 uploaded
155727 started
table 72226 uploadedtable 111439 uploaded
63033 started
2183 started

table 86642 uploaded
748 started
table 2090 uploaded
80094 started
table 2030 uploaded
6049 started
table 65939 uploaded
160301 started
table 32440 uploaded
194398 started
table 1068 uploaded
2101 started

/opt/conda/lib/python3.10/site-packages/google/cloud/bigquery/_pandas_helpers.py:603: UserWarning: Pyarrow could not determine the type of columns: tag.
  warnings.warn(

table 8724 uploaded
193605 started

/opt/conda/lib/python3.10/site-packages/google/cloud/bigquery/_pandas_helpers.py:603: UserWarning: Pyarrow could not determine the type of columns: tag.
  warnings.warn(

table 4585 uploaded
163504 started
table 2723 uploaded
94864 started
table 1720 uploaded
3622 started
table 155727 uploaded
1486 started
table 748 uploaded
1096 started
table 4808 uploaded
27584 started
table 160301 uploaded
2178 started
table 63033 uploaded
26886 started
table 80094 uploaded
91488 started
table 2101 uploaded
3047 started
table 2183 uploaded
6431 started
table 6049 uploaded
8014 started
table 94864 uploaded
2888 started
table 163504 uploaded
454 started
table 1486 uploaded
788 started
table 193605 uploaded
27828 started
table 3622 uploaded
114184 started
table 194398 uploaded
7034 started
table 27584 uploaded
5082 started
table 2178 uploaded
136517 started
table 1096 uploaded
2875 started
table 8014 uploaded
4209 started
table 3047 uploaded
138208 started
table 6431 uploaded
1436 started
table 91488 uploaded
8481 started
table 2888 uploaded
2102 started
table 26886 uploaded
34473 started
table 454 uploaded
7184 started
table 27828 uploaded
168266 started
table 7034 uploaded
5801 started
table 114184 uploaded
152077 started
table 5082 uploaded
57223 started
table 136517 uploaded
115075 started
table 8481 uploaded
483 started
table 4209 uploaded
32707 started
table 1436 uploaded
122292 started

/opt/conda/lib/python3.10/site-packages/google/cloud/bigquery/_pandas_helpers.py:603: UserWarning: Pyarrow could not determine the type of columns: tag.
  warnings.warn(

table 138208 uploaded
106848 started
table 34473 uploaded
143377 started
table 788 uploaded
3721 started
table 2102 uploaded
66053 started

/opt/conda/lib/python3.10/site-packages/google/cloud/bigquery/_pandas_helpers.py:603: UserWarning: Pyarrow could not determine the type of columns: tag.
  warnings.warn(

table 7184 uploaded
70927 started
table 2875 uploaded
7082 started
table 5801 uploaded
40436 started
table 168266 uploaded
1532 started

/opt/conda/lib/python3.10/site-packages/google/cloud/bigquery/_pandas_helpers.py:603: UserWarning: Pyarrow could not determine the type of columns: tag.
  warnings.warn(

table 152077 uploaded
141761 started
table 57223 uploaded
583 started
table 32707 uploaded
60753 started
table 106848 uploaded
95973 started
table 7082 uploaded
97742 started
table 483 uploaded
4244 started
table 3721 uploaded
6480 started
table 143377 uploaded
6349 started
table 66053 uploaded
99373 started
table 122292 uploaded
5946 started
table 115075 uploaded
30822 started
table 583 uploaded
50944 started
table 97742 uploaded
64750 started
table 40436 uploaded
1323 started
table 141761 uploaded
1672 started
table 70927 uploaded
32395 started
table 95973 uploaded
83601 started
table 60753 uploaded
73064 started
table 4244 uploaded
73741 started
table 30822 uploaded
1901 started
table 6349 uploaded
1149 started
table 50944 uploaded
8139 started
table 5946 uploaded
501 started
table 6480 uploaded
5587 started
table 64750 uploaded
6887 started
table 1532 uploaded
191459 started
table 1672 uploaded
3268 started
table 99373 uploaded
26099 started
table 73064 uploaded
6239 started
table 1323 uploaded
112895 started
table 1901 uploaded
76251 started
table 83601 uploaded
75808 started
table 73741 uploaded
5961 started
table 32395 uploaded
26496 started
table 1149 uploaded
2340 started
table 6887 uploaded
91351 started
table 501 uploaded
85007 started
table 8139 uploaded
26302 started
table 5587 uploaded
75985 started
table 26099 uploaded
5496 started
table 3268 uploaded
148036 started
table 112895 uploaded
8784 started
table 76251 uploaded
1996 started
table 191459 uploaded
152057 started
table 26496 uploaded
78895 started
table 6239 uploaded
80775 started
table 2340 uploaded
5709 started
table 75808 uploaded
125912 started
table 5961 uploaded
7913 started
table 85007 uploaded
123159 started
table 75985 uploaded
184637 started
table 26302 uploaded
73319 started
table 91351 uploaded
131176 started
table 5496 uploaded
148867 started
table 1996 uploaded
7757 started
table 152057 uploaded
42710 started
table 148036 uploaded
144760 started
table 5709 uploaded
4716 started
table 80775 uploaded
56587 started
table 8784 uploaded
6600 started
table 7913 uploaded
6526 started
table 78895 uploaded
2916 started
table 184637 uploaded
3502 started
table 123159 uploaded
3387 started
table 42710 uploaded
8341 started
table 125912 uploaded
110675 started
table 73319 uploaded
43556 started
table 148867 uploaded
5277 started
table 131176 uploaded
88837 started
table 6526 uploaded
44295 started
table 144760 uploaded
155561 started
table 4716 uploaded
104356 started
table 56587 uploaded
77191 started
table 7757 uploaded
46525 started
table 2916 uploaded
97280 started
table 8341 uploaded
4086 started
table 110675 uploaded
105086 started
table 88837 uploaded
116941 started
table 5277 uploaded
158856 started
table 155561 uploadedtable 43556 uploaded
4143 started

183497 started
table 44295 uploaded
8765 started
table 3502 uploaded
7103 started
table 3387 uploaded
117887 started
table 46525 uploaded
3390 started
table 77191 uploaded
113868 started
table 104356 uploaded
140816 started
table 97280 uploaded
84601 started
table 105086 uploaded
5875 started
table 4086 uploaded
5745 started
table 116941 uploaded
143309 started
table 7103 uploaded
68791 started
table 8765 uploaded
91743 started
table 117887 uploaded
112727 started
table 183497 uploaded
7155 started
table 4143 uploaded
125972 started
table 6600 uploaded
42546 started
table 113868 uploaded
1137 started
table 158856 uploaded
26616 started

/opt/conda/lib/python3.10/site-packages/google/cloud/bigquery/_pandas_helpers.py:603: UserWarning: Pyarrow could not determine the type of columns: tag.
  warnings.warn(

table 3390 uploaded
171581 started
table 5875 uploaded
458 started
table 84601 uploaded
4724 started
table 5745 uploaded
135264 started
table 140816 uploaded
82765 started
table 68791 uploaded
6713 started
table 91743 uploaded
152579 started
table 125972 uploaded
25986 started
table 143309 uploaded
146672 started
table 7155 uploaded
2882 started
table 112727 uploaded
3487 started
table 26616 uploaded
111759 started
table 1137 uploaded
173731 started
table 42546 uploaded
178 started
table 135264 uploaded
83349 started
table 4724 uploaded
42946 started
table 171581 uploaded
182477 started
table 82765 uploaded
2755 started
table 25986 uploaded
26393 started
table 458 uploaded
54248 started
table 111759 uploaded
97328 started
table 152579 uploaded
2927 started
table 146672 uploaded
100882 started
table 3487 uploaded
4350 started
table 173731 uploaded
32617 started
table 2882 uploaded
792 started

/opt/conda/lib/python3.10/site-packages/google/cloud/bigquery/_pandas_helpers.py:603: UserWarning: Pyarrow could not determine the type of columns: tag.
  warnings.warn(

table 178 uploaded
140631 started
table 182477 uploaded
165117 started
table 2755 uploaded
60568 started
table 42946 uploaded
80500 started

/opt/conda/lib/python3.10/site-packages/google/cloud/bigquery/_pandas_helpers.py:603: UserWarning: Pyarrow could not determine the type of columns: tag.
  warnings.warn(

table 83349 uploaded
38701 started
table 6713 uploaded
70968 started
table 26393 uploaded
7745 started
table 2927 uploaded
71450 started
table 97328 uploaded
193954 started
table 4350 uploaded
152870 started
table 32617 uploaded
96306 started
table 165117 uploaded
963 started
table 792 uploaded
3920 started
table 140631 uploaded
179747 started
table 60568 uploaded
5160 started
table 54248 uploaded
31685 started
table 38701 uploaded
8119 started
table 7745 uploaded
103506 started
table 80500 uploaded
2370 started
table 100882 uploaded
897 started
table 152870 uploaded
6868 started
table 96306 uploaded
80494 started
table 193954 uploaded
170 started
table 71450 uploaded
116453 started
table 3920 uploaded
26938 started
table 179747 uploaded
139495 started

/opt/conda/lib/python3.10/site-packages/google/cloud/bigquery/_pandas_helpers.py:603: UserWarning: Pyarrow could not determine the type of columns: tag.
  warnings.warn(

table 963 uploaded
135829 started
table 8119 uploaded
184017 started
table 31685 uploaded
121247 started
table 70968 uploaded
32493 started
table 5160 uploaded
6430 started
table 116453 uploaded
182341 started
table 6868 uploaded
109364 started

/opt/conda/lib/python3.10/site-packages/google/cloud/bigquery/_pandas_helpers.py:603: UserWarning: Pyarrow could not determine the type of columns: tag.
  warnings.warn(

table 2370 uploaded
62153 started
table 897 uploaded
186863 started
table 26938 uploaded
5077 started
table 170 uploaded
4915 started
table 80494 uploaded
160114 started
table 135829 uploaded
98279 started
table 139495 uploaded
7374 started
table 184017 uploaded
4383 started
table 103506 uploaded
5227 started
table 6430 uploaded
55247 started
table 121247 uploaded
8381 started
table 182341 uploaded
34534 started
table 62153 uploaded
112733 started
table 32493 uploaded
26756 started
table 5077 uploaded
110649 started
table 4915 uploaded
7130 started
table 109364 uploaded
101350 started
table 160114 uploaded
97168 started
table 186863 uploaded
1679 started
table 4383 uploaded
195251 started
table 5227 uploaded
145146 started
table 7374 uploaded
170907 started
table 98279 uploaded
5865 started
table 55247 uploaded
74750 started
table 8381 uploaded
174957 started
table 112733 uploaded
8790 started
table 101350 uploaded
68324 started
table 26756 uploaded
4872 started
table 34534 uploaded
848 started
table 195251 uploaded
91474 started
table 110649 uploaded
135693 startedtable 7130 uploaded

1347 started
table 1679 uploaded
53154 started
table 74750 uploaded
167084 started
table 97168 uploaded
687 started

/opt/conda/lib/python3.10/site-packages/google/cloud/bigquery/_pandas_helpers.py:603: UserWarning: Pyarrow could not determine the type of columns: tag.
  warnings.warn(

table 145146 uploaded
1850 startedtable 8790 uploaded

1053 started
table 174957 uploaded
160718 started
table 5865 uploaded
41769 started
table 170907 uploaded
167502 started
table 91474 uploaded
5549 started
table 53154 uploaded
6410 started
table 4872 uploaded
191113 started
table 848 uploaded
1327 started
table 68324 uploaded
26359 started
table 167084 uploaded
3075 started
table 687 uploaded
62378 started
table 135693 uploaded
1682 started
table 1850 uploaded
67361 started
table 1347 uploaded
96569 started
table 41769 uploaded
43926 started
table 167502 uploaded
8932 started
table 160718 uploaded
2211 started
table 5549 uploaded
85131 started
table 26359 uploaded
2482 started
table 1053 uploaded
132549 started
table 191113 uploaded
88812 started
table 6410 uploaded
175281 started
table 3075 uploaded
5907 started
table 43926 uploaded
71243 started
table 1327 uploaded
895 started
table 1682 uploaded
179925 started

/opt/conda/lib/python3.10/site-packages/google/cloud/bigquery/_pandas_helpers.py:603: UserWarning: Pyarrow could not determine the type of columns: tag.
  warnings.warn(

table 96569 uploaded
174565 started
table 2211 uploaded
1558 started
table 8932 uploaded
74436 started
table 62378 uploaded
96512 started
table 85131 uploaded
166486 started
table 2482 uploaded
171757 started
table 67361 uploaded
180367 started
table 175281 uploaded
8729 started
table 88812 uploaded
7889 started
table 132549 uploaded
7828 started
table 895 uploaded
1100 started
table 71243 uploaded
91844 started
table 179925 uploaded
121269 started
table 174565 uploaded
26416 started
table 5907 uploaded
96608 started
table 74436 uploaded
6652 started
table 8729 uploaded
99957 started
table 180367 uploaded
102819 started
table 1558 uploaded
330 started
table 166486 uploaded
7245 started
table 7828 uploaded
120934 started
table 96512 uploaded
27839 started
table 7889 uploaded
1606 started
table 121269 uploaded
176523 started
table 1100 uploadedtable 171757 uploaded

27740 started8933 started

table 96608 uploaded
4045 started
table 330 uploaded
6669 started
table 102819 uploaded
336 started
table 1606 uploaded
100401 started
table 99957 uploaded
7835 started
table 176523 uploaded
7381 started
table 120934 uploaded
106094 started
table 26416 uploaded
3993 started
table 8933 uploaded
6582 started
table 27839 uploaded
72947 started
table 91844 uploaded
5707 started
table 6652 uploaded
73328 started
table 7245 uploaded
109897 started
table 336 uploaded
2703 started

/opt/conda/lib/python3.10/site-packages/google/cloud/bigquery/_pandas_helpers.py:603: UserWarning: Pyarrow could not determine the type of columns: tag.
  warnings.warn(

table 6669 uploaded
7176 started
table 4045 uploaded
129659 started
table 27740 uploaded
3688 started
table 7835 uploaded
1980 started
table 3993 uploaded
8601 started
table 100401 uploaded
90888 started
table 5707 uploaded
79824 started
table 6582 uploaded
3526 started
table 109897 uploaded
3836 started
table 7176 uploaded
184989 started
table 7381 uploaded
122246 started
table 129659 uploaded
71695 started
table 2703 uploaded
76298 started
table 106094 uploaded
5597 started
table 72947 uploaded
7266 started
table 3688 uploaded
1538 started
table 1980 uploaded
2586 started
table 79824 uploaded
116943 started
table 90888 uploaded
192383 started
table 73328 uploaded
5282 started
table 184989 uploaded
82463 started
table 71695 uploaded
92152 started
table 3836 uploaded
27838 started
table 5597 uploaded
136932 started
table 122246 uploaded
3293 started
table 8601 uploaded
167990 started
table 7266 uploaded
41997 started
table 3526 uploaded
6921 started
table 2586 uploaded
87990 started

/opt/conda/lib/python3.10/site-packages/google/cloud/bigquery/_pandas_helpers.py:603: UserWarning: Pyarrow could not determine the type of columns: tag.
  warnings.warn(

table 1538 uploaded
1589 started
table 192383 uploaded
1746 started
table 92152 uploaded
26380 started
table 116943 uploaded
57940 started
table 5282 uploaded
112550 started
table 27838 uploaded
51457 started
table 136932 uploaded
113394 started
table 41997 uploaded
55241 started
table 167990 uploaded
2154 started
table 3293 uploaded
889 started
table 1589 uploaded
4673 started

/opt/conda/lib/python3.10/site-packages/google/cloud/bigquery/_pandas_helpers.py:603: UserWarning: Pyarrow could not determine the type of columns: tag.
  warnings.warn(

table 82463 uploaded
7561 started
table 76298 uploaded
4725 started
table 1746 uploaded
313 started
table 6921 uploaded
526 started
table 87990 uploaded
3908 started
table 112550 uploaded
3097 started
table 57940 uploaded
108811 started
table 26380 uploaded
table 113394 uploaded32689 started

98237 started
table 4725 uploaded
1204 started
table 889 uploaded
1173 started
table 313 uploaded
78116 started
table 7561 uploaded
47084 started
table 4673 uploaded
3183 started
table 2154 uploaded
78088 started
table 51457 uploaded
103554 started
table 55241 uploaded
1238 started
table 3908 uploaded
4669 started
table 108811 uploaded
59306 started
table 3097 uploaded
8500 started
table 98237 uploaded
7308 started
table 526 uploaded
92154 startedtable 1173 uploaded

1423 started
table 78116 uploaded
26514 started
table 47084 uploaded
100150 started
table 3183 uploaded
3757 started
table 32689 uploaded
8703 started
table 4669 uploaded
183087 started
table 1204 uploaded
3756 started
table 1238 uploaded
27840 started
table 78088 uploaded
4700 started
table 59306 uploaded
87469 started
table 8500 uploaded
70361 started
table 7308 uploaded
7564 started
table 1423 uploaded
27866 started
table 92154 uploaded
41566 started
table 3757 uploaded
65518 started
table 100150 uploaded
6617 started
table 8703 uploaded
5652 started
table 183087 uploaded
6091 started
table 26514 uploaded
142212 started
table 87469 uploaded
1201 started
table 27840 uploaded
160400 started
table 7564 uploaded
164949 started
table 70361 uploaded
162448 started
table 3756 uploaded
735 started
table 41566 uploaded
169164 started
table 103554 uploaded
4640 started
table 65518 uploaded
61319 started
table 6617 uploaded
2979 started
table 1201 uploaded
71156 started
table 6091 uploaded
49688 started
table 162448 uploaded
60303 started
table 160400 uploaded
33138 started
table 164949 uploaded
25835 started
table 735 uploaded
32866 started
table 4700 uploaded
108149 started
table 5652 uploaded
148665 started
table 27866 uploaded
36519 started
table 142212 uploaded
2919 started
table 71156 uploaded
127178 started
table 4640 uploaded
193958 started
table 61319 uploaded
3678 started
table 169164 uploaded
164598 started
table 60303 uploaded
8605 started
table 2979 uploaded
4002 started
table 148665 uploaded
194206 started
table 33138 uploaded
162598 started
table 25835 uploaded
92371 started
table 36519 uploaded
1799 started
table 108149 uploaded
5920 started
table 2919 uploaded
43910 started
table 32866 uploaded
5194 started
table 164598 uploaded
114439 started
table 193958 uploaded
8340 started
table 4002 uploaded
77731 started
table 127178 uploaded
174017 started
table 3678 uploaded
85016 started
table 8605 uploaded
1336 started
table 1799 uploaded
199470 started
table 92371 uploaded
142374 started
table 5920 uploaded
76134 started
table 194206 uploaded
8332 started
table 43910 uploaded
70282 started
table 5194 uploaded
6121 started
table 162598 uploaded
443 started
table 114439 uploaded
3966 started
table 174017 uploaded
151645 started
table 85016 uploaded
3911 started
table 142374 uploaded
8013 started

/opt/conda/lib/python3.10/site-packages/google/cloud/bigquery/_pandas_helpers.py:603: UserWarning: Pyarrow could not determine the type of columns: tag.
  warnings.warn(

table 77731 uploaded
132594 started
table 1336 uploaded
95604 started
table 199470 uploaded
1657 started
table 70282 uploaded
129078 started
table 8332 uploaded
171749 started
table 8340 uploaded
26527 started
table 6121 uploaded
3780 started
table 3966 uploaded
3296 started
table 3911 uploaded
73820 started
table 443 uploaded
109423 started
table 151645 uploaded
111622 started
table 1657 uploaded
8861 started
table 95604 uploaded
2519 started
table 171749 uploaded
5480 started
table 26527 uploaded
147232 started
table 3296 uploaded
64930 started
table 129078 uploaded
4810 started
table 8013 uploaded
152037 started
table 132594 uploaded
48856 started
table 3780 uploaded
4604 started

/opt/conda/lib/python3.10/site-packages/google/cloud/bigquery/_pandas_helpers.py:603: UserWarning: Pyarrow could not determine the type of columns: tag.
  warnings.warn(

table 109423 uploaded
53592 started
table 111622 uploaded
98759 started
table 2519 uploaded
44777 started
table 8861 uploaded
8187 started
table 73820 uploaded
145765 started
table 5480 uploaded
101653 started
table 4810 uploaded
26483 started
table 147232 uploaded
91929 started
table 64930 uploaded
1128 started
table 48856 uploaded
70188 started
table 4604 uploaded
139052 started
table 8187 uploaded
6021 started
table 98759 uploaded
1383 started
table 152037 uploaded
80729 started
table 53592 uploaded
122031 started
table 101653 uploaded
3534 started
table 145765 uploaded
143440 started
table 70188 uploaded
5147 started
table 91929 uploaded
135803 started
table 1128 uploaded
130398 started
table 139052 uploaded
50183 started
table 26483 uploaded
113302 started
table 6021 uploaded
72131 started
table 122031 uploaded
126548 started
table 3534 uploaded
3741 started
table 1383 uploaded
965 started
table 143440 uploaded
2657 started
table 80729 uploaded
26803 started
table 5147 uploaded
99417 started
table 135803 uploaded
63062 started
table 50183 uploaded
7931 started
table 113302 uploaded
111255 started
table 130398 uploaded
1247 started
table 126548 uploaded
58105 started
table 72131 uploaded
100737 started
table 26803 uploaded
130498 started
table 3741 uploaded
5474 started

/opt/conda/lib/python3.10/site-packages/google/cloud/bigquery/_pandas_helpers.py:603: UserWarning: Pyarrow could not determine the type of columns: tag.
  warnings.warn(

table 965 uploaded
118572 started
table 2657 uploaded
46194 started
table 63062 uploaded
53038 started
table 7931 uploaded
5063 started
table 1247 uploaded
144138 started
table 58105 uploaded
55566 started
table 46194 uploaded
96991 started
table 111255 uploaded
27798 started
table 100737 uploaded
8201 started
table 99417 uploaded
109197 started
table 53038 uploaded
8816 started
table 5474 uploaded
2472 started
table 5063 uploaded
234 started
table 130498 uploaded
88106 started
table 144138 uploaded
8272 started
table 118572 uploaded
7203 started
table 27798 uploaded
8742 started
table 96991 uploaded
110505 started
table 55566 uploaded
50806 started
table 2472 uploaded
144522 started
table 8201 uploaded
136784 started
table 109197 uploaded
130087 started
table 8272 uploaded
5555 started
table 234 uploaded
56607 started
table 88106 uploaded
141676 started
table 49688 uploaded
43419 started
table 7203 uploaded
3887 started
table 8742 uploaded
113071 started
table 8816 uploaded
5887 started
table 130087 uploaded
172105 started

/opt/conda/lib/python3.10/site-packages/google/cloud/bigquery/_pandas_helpers.py:603: UserWarning: Pyarrow could not determine the type of columns: tag.
  warnings.warn(

table 144522 uploaded
117176 started
table 110505 uploaded
2775 started
table 50806 uploaded
2574 started
table 56607 uploaded
3315 started
table 5555 uploaded
160982 started
table 76134 uploaded
6951 started
table 136784 uploaded
5601 started
table 113071 uploaded
104883 started
table 141676 uploaded
112303 started
table 43419 uploaded
2406 started
table 3887 uploaded
1616 started
table 44777 uploaded
44761 started
table 5887 uploaded
83086 started
table 160982 uploaded
107334 started
table 172105 uploaded
85334 started
table 2574 uploaded
50445 started
table 6951 uploaded
172517 started
table 117176 uploaded
190957 started
table 2406 uploaded
50162 started
table 3315 uploaded
70175 started
table 2775 uploaded
741 started
table 112303 uploaded
61267 started
table 1616 uploaded
96430 started
table 104883 uploaded
167334 started
table 5601 uploaded
1181 started
table 85334 uploaded
85298 started
table 44761 uploaded
95207 started
table 83086 uploaded
177119 started
table 190957 uploaded
90424 started
table 50162 uploaded
2468 started
table 50445 uploaded
6969 started
table 167334 uploaded
6727 started
table 107334 uploaded
104920 started
table 70175 uploaded
1884 started
table 96430 uploaded
83186 started
table 172517 uploaded
99041 started
table 1181 uploaded
537 started
table 61267 uploaded
108579 started
table 741 uploaded
5481 started
table 85298 uploaded
51354 started
table 2468 uploaded
106443 started
table 6727 uploaded
145192 started
table 95207 uploaded
168344 started
table 6969 uploaded
4733 started
table 1884 uploaded
1216 started
table 104920 uploaded
2167 started
table 83186 uploaded
93693 started
table 177119 uploaded
74624 started
table 108579 uploaded
96417 started
table 90424 uploaded
155828 started
table 5481 uploaded
48698 started
table 51354 uploaded
5514 started
table 106443 uploaded
47356 started
table 145192 uploaded
86286 started
table 99041 uploaded
121186 started
table 4733 uploaded
6289 started
table 155828 uploaded
4935 started
table 2167 uploaded
165349 started
table 1216 uploaded
82638 started
table 168344 uploaded
64695 started
table 537 uploaded
3898 started
table 96417 uploaded
78626 started
table 74624 uploaded
3767 started
table 93693 uploaded
3944 started
table 121186 uploaded
96911 started
table 5514 uploaded
32783 started
table 47356 uploaded
27717 started
table 48698 uploaded
116136 started
table 86286 uploaded
7706 started
table 4935 uploaded
1829 started
table 6289 uploaded
71057 started
table 82638 uploaded
26540 started
table 3898 uploaded
180137 started
table 78626 uploaded
6705 started
table 116136 uploadedtable 64695 uploaded

8330 started6583 started

table 27717 uploaded
159972 started
table 3767 uploaded
170213 started

/opt/conda/lib/python3.10/site-packages/google/cloud/bigquery/_pandas_helpers.py:603: UserWarning: Pyarrow could not determine the type of columns: tag.
  warnings.warn(

table 3944 uploaded
7701 started
table 165349 uploaded
130512 started
table 7706 uploaded
87499 started

/opt/conda/lib/python3.10/site-packages/google/cloud/bigquery/_pandas_helpers.py:603: UserWarning: Pyarrow could not determine the type of columns: tag.
  warnings.warn(

table 96911 uploaded
67925 started
table 71057 uploaded
6012 started
table 32783 uploaded
151557 started
table 1829 uploaded
2766 started

/opt/conda/lib/python3.10/site-packages/google/cloud/bigquery/_pandas_helpers.py:603: UserWarning: Pyarrow could not determine the type of columns: tag.
  warnings.warn(

table 8330 uploaded
204690 started

/opt/conda/lib/python3.10/site-packages/google/cloud/bigquery/_pandas_helpers.py:603: UserWarning: Pyarrow could not determine the type of columns: tag.
  warnings.warn(

table 159972 uploaded
26471 started
table 26540 uploaded
74864 started
table 180137 uploaded
60479 started
table 170213 uploaded
991 started
table 6583 uploaded
140868 started
table 6705 uploaded
2403 started
table 130512 uploaded
106163 started
table 67925 uploaded
3003 started
table 6012 uploaded
132524 started

/opt/conda/lib/python3.10/site-packages/google/cloud/bigquery/_pandas_helpers.py:603: UserWarning: Pyarrow could not determine the type of columns: tag.
  warnings.warn(

table 87499 uploaded
121370 started
table 151557 uploaded
8499 started
table 2766 uploaded
7380 started
table 7701 uploaded
7920 started
table 74864 uploaded
110718 started
table 991 uploaded
2834 started
table 60479 uploaded
173161 started
table 204690 uploaded
8766 started
table 26471 uploaded
7333 started
table 106163 uploaded
2880 started
table 2403 uploaded
55782 started
table 3003 uploaded
79868 started
table 140868 uploaded
50011 started
table 8499 uploaded
72258 started
table 132524 uploaded
87608 started
table 7380 uploaded
165651 started
table 2834 uploaded
184009 started
table 121370 uploaded
175505 started
table 7920 uploaded
190759 started
table 110718 uploaded
195713 started
table 7333 uploaded
33201 started
table 8766 uploaded
158619 started

/opt/conda/lib/python3.10/site-packages/google/cloud/bigquery/_pandas_helpers.py:603: UserWarning: Pyarrow could not determine the type of columns: tag.
  warnings.warn(

table 87608 uploaded
550 started
table 50011 uploaded
3981 started
table 173161 uploaded
55389 started
table 165651 uploaded
174893 started
table 72258 uploaded
1426 started
table 79868 uploaded
78157 started
table 55782 uploaded
5960 started
table 190759 uploaded
108447 started
table 2880 uploaded
3613 started
table 175505 uploaded
6319 started
table 195713 uploaded
679 started
table 184009 uploaded
8998 started
table 33201 uploaded
877 started

/opt/conda/lib/python3.10/site-packages/google/cloud/bigquery/_pandas_helpers.py:603: UserWarning: Pyarrow could not determine the type of columns: tag.
  warnings.warn(

table 550 uploaded
201586 started
table 158619 uploaded
62137 started
table 174893 uploaded
table 3613 uploaded7208 started
133207 started

table 3981 uploaded
71264 started
table 78157 uploaded
4952 started
table 1426 uploaded
26131 started
table 108447 uploaded
31156 started
table 5960 uploaded
3481 started
table 55389 uploaded
105345 started
table 6319 uploaded
92944 started
table 877 uploaded
6191 started
table 8998 uploaded
8397 started
table 679 uploaded
97819 started
table 71264 uploaded
192105 started
table 201586 uploaded
25797 started
table 7208 uploaded
85585 started

/opt/conda/lib/python3.10/site-packages/google/cloud/bigquery/_pandas_helpers.py:603: UserWarning: Pyarrow could not determine the type of columns: tag.
  warnings.warn(

table 62137 uploaded
92751 started
table 26131 uploaded
76051 started

/opt/conda/lib/python3.10/site-packages/google/cloud/bigquery/_pandas_helpers.py:603: UserWarning: Pyarrow could not determine the type of columns: tag.
  warnings.warn(

table 4952 uploaded
3096 started
table 105345 uploaded
30991 started
table 92944 uploaded
32485 started

/opt/conda/lib/python3.10/site-packages/google/cloud/bigquery/_pandas_helpers.py:603: UserWarning: Pyarrow could not determine the type of columns: tag.
  warnings.warn(

table 3481 uploaded
131444 started
table 133207 uploaded
58094 started

/opt/conda/lib/python3.10/site-packages/google/cloud/bigquery/_pandas_helpers.py:603: UserWarning: Pyarrow could not determine the type of columns: tag.
  warnings.warn(

table 8397 uploaded
193599 started
table 192105 uploaded
414 started
table 6191 uploaded
8138 started
table 97819 uploaded
3785 started
table 31156 uploaded
1197 started
table 76051 uploaded
72787 started
table 92751 uploaded
136467 started
table 25797 uploaded
25795 started
table 30991 uploaded
38061 started
table 3096 uploaded
25865 started
table 32485 uploaded
1385 started
table 85585 uploaded
8600 started
table 131444 uploaded
44665 started
table 58094 uploaded
5563 started
table 8138 uploaded
6754 started
table 414 uploaded
126775 started
table 193599 uploaded
749 started
table 3785 uploaded
7274 started
table 1197 uploaded
36264 started
table 25865 uploaded
41336 started
table 25795 uploaded
66198 started
table 38061 uploaded
144690 started
table 136467 uploaded
143367 started
table 5563 uploaded
617 started
table 72787 uploaded
109483 started
table 6754 uploaded
182783 started
table 44665 uploaded
127021 started
table 749 uploaded
5993 started
table 126775 uploaded
106226 started
table 144690 uploaded
5794 started
table 1385 uploaded
43482 started
table 36264 uploaded
4837 started
table 143367 uploaded
165823 started
table 66198 uploaded
39390 started
table 41336 uploaded
118512 started
table 7274 uploaded
140038 started
table 617 uploaded
4195 started
table 109483 uploaded
59418 started
table 5794 uploaded
5325 started
table 5993 uploaded
41569 started
table 4837 uploaded
52561 started
table 127021 uploaded
8378 started
table 165823 uploaded
1890 started
table 182783 uploaded
164767 started
table 140038 uploaded
4443 started
table 59418 uploaded
43932 started
table 106226 uploaded
110968 started
table 118512 uploaded
4617 started
table 8600 uploaded
77891 started
table 43482 uploaded
183593 started
table 5325 uploaded
113348 started
table 41569 uploaded
4484 started
table 4195 uploaded
3994 started
table 4443 uploaded
134583 started
table 1890 uploaded
135133 started
table 164767 uploaded
26229 started
table 77891 uploaded
1566 started
table 4617 uploaded
84732 started
table 52561 uploaded
137859 started
table 43932 uploaded
184165 started
table 113348 uploaded
165125 started
table 4484 uploaded
81087 started
table 8378 uploaded
95488 started
table 183593 uploaded
43460 started
table 3994 uploaded
26079 started
table 135133 uploaded
114044 started
table 134583 uploaded
191235 started
table 39390 uploaded
61941 started
table 137859 uploaded
6987 started
table 1566 uploaded
97304 started
table 184165 uploaded
64499 started
table 84732 uploaded
78235 started
table 43460 uploaded
93840 started
table 95488 uploaded
92184 started
table 26229 uploaded
4258 started
table 81087 uploaded
174719 started
table 114044 uploaded
97913 started
table 6987 uploaded
4123 started
table 61941 uploaded
170635 started
table 110968 uploaded
96863 started
table 97304 uploaded
5468 started
table 26079 uploaded
6710 started
table 191235 uploaded
160112 started
table 64499 uploaded
3171 started
table 165125 uploaded
79895 started
table 93840 uploaded
5777 started
table 78235 uploaded
3013 started
table 174719 uploaded
60526 started
table 4258 uploaded
25744 started
table 92184 uploaded
83535 started
table 97913 uploaded
26285 started
table 5468 uploaded
5818 started
table 3171 uploaded
80421 started
table 6710 uploaded
7937 started
table 4123 uploaded
7646 started
table 160112 uploaded
74148 started
table 3013 uploaded
7142 started
table 96863 uploaded
90015 started
table 79895 uploaded
3797 started
table 60526 uploaded
127390 started
table 170635 uploaded
144698 started
table 83535 uploaded
114725 started
table 26285 uploaded
110678 started
table 5818 uploaded
27830 started
table 5777 uploaded
99986 started
table 7142 uploaded
2040 started
table 7646 uploaded
4807 started
table 90015 uploaded
609 started
table 25744 uploaded
49085 started
table 7937 uploaded
294 started
table 80421 uploaded
62434 started
table 74148 uploaded
5729 started
table 114725 uploaded
8263 started
table 144698 uploaded
5783 started
table 110678 uploaded
158966 started
table 127390 uploaded
2580 started
table 99986 uploaded
188217 started
table 27830 uploaded
132112 started
table 3797 uploaded
193175 started
table 294 uploaded
52443 started
table 609 uploaded
4697 started
table 4807 uploaded
157122 started
table 62434 uploaded
48049 started

/opt/conda/lib/python3.10/site-packages/google/cloud/bigquery/_pandas_helpers.py:603: UserWarning: Pyarrow could not determine the type of columns: tag.
  warnings.warn(

table 2040 uploaded
116307 started
table 49085 uploaded
83457 started
table 5729 uploaded
66092 started
table 188217 uploaded
104520 started
table 2580 uploaded
34326 started
table 158966 uploaded
34299 started

/opt/conda/lib/python3.10/site-packages/google/cloud/bigquery/_pandas_helpers.py:603: UserWarning: Pyarrow could not determine the type of columns: tag.
  warnings.warn(

table 5783 uploaded
104875 started
table 193175 uploaded
126036 started
table 157122 uploaded
100426 started
table 132112 uploaded
152061 started
table 8263 uploaded
38188 started
table 66092 uploaded
43589 started
table 83457 uploaded
115871 started
table 34326 uploaded
1586 started
table 4697 uploaded
25991 started
table 48049 uploaded
1929 started
table 116307 uploaded
78967 started
table 34299 uploaded
5910 started
table 104875 uploaded
59103 started
table 152061 uploaded
7018 started
table 52443 uploaded
59912 started
table 38188 uploaded
1904 started
table 126036 uploaded
69516 started
table 100426 uploaded
30816 started
table 1586 uploaded
197195 started
table 43589 uploaded
94833 started
table 104520 uploaded
77841 started
table 25991 uploaded
177951 started
table 115871 uploaded
49330 started
table 59103 uploaded
48851 started
table 5910 uploaded
82022 started
table 1929 uploaded
6670 started
table 78967 uploaded
54796 started
table 69516 uploaded
134180 started
table 1904 uploaded
128924 started
table 59912 uploaded
110281 started
table 77841 uploaded
75947 started
table 177951 uploaded
32387 started
table 94833 uploaded
98836 started
table 7018 uploaded
72037 started
table 197195 uploaded
7265 started
table 30816 uploaded
176609 started
table 49330 uploaded
5778 started
table 82022 uploaded
3254 started
table 48851 uploaded
73117 started
table 6670 uploaded
101218 started
table 128924 uploaded
170591 started
table 54796 uploaded
1707 started
table 7265 uploaded
8698 started
table 110281 uploaded
5941 started
table 176609 uploaded
7128 started
table 72037 uploaded
143365 started
table 75947 uploaded
97866 started
table 98836 uploaded
50440 started
table 32387 uploaded
25785 started
table 3254 uploaded
111287 started
table 101218 uploaded
2354 started
table 5778 uploaded
95311 started
table 1707 uploaded
74573 started
table 73117 uploaded
1133 started
table 5941 uploaded
870 started
table 8698 uploaded
166379 started
table 170591 uploaded
49932 started
table 7128 uploaded
4937 started
table 143365 uploaded
160139 started
table 97866 uploaded
2400 started
table 50440 uploaded
163691 started
table 25785 uploaded
3533 started
table 870 uploaded
71096 started
table 166379 uploaded
52551 started
table 1133 uploaded
169390 started
table 2354 uploaded
103384 started
table 95311 uploadedtable 160139 uploaded
67255 started
179863 started

table 111287 uploaded
8521 started
table 49932 uploaded
3417 started
table 2400 uploaded
8752 started
table 4937 uploaded
31247 started
table 74573 uploaded
6335 started
table 134180 uploaded
131446 started
table 3533 uploaded
179593 started
table 71096 uploaded
5827 started
table 52551 uploaded
6946 started
table 169390 uploaded
8360 started
table 103384 uploaded
8069 started
table 163691 uploaded
1858 started
table 3417 uploaded
170913 started
table 8521 uploaded
141674 started
table 67255 uploaded
5529 started
table 8752 uploaded
55298 started
table 6335 uploaded
179491 started
table 131446 uploaded
142765 started
table 179863 uploaded
109850 started
table 31247 uploaded
37741 started
table 179593 uploaded
66686 started
table 1858 uploaded
5411 started
table 8069 uploaded
33401 started
table 8360 uploaded
1885 started
table 141674 uploaded
49312 started
table 179491 uploaded
49822 started
table 5529 uploaded
5970 started
table 170913 uploaded
4287 started
table 109850 uploaded
30896 started
table 55298 uploaded
140511 started
table 142765 uploaded
80454 started
table 5827 uploaded
50574 started
table 5411 uploaded
3564 started
table 66686 uploaded
48389 started
table 37741 uploaded
3421 started
table 6946 uploaded
73569 started
table 1885 uploaded
3952 started
table 49312 uploaded
74508 started
table 140511 uploaded
26025 started
table 30896 uploaded
table 5970 uploaded
65001 started
142566 started
table 4287 uploaded
70964 started
table 49822 uploaded
1784 started
table 3564 uploaded
187751 started
table 50574 uploaded
2666 started
table 48389 uploaded
2398 started
table 80454 uploaded
36517 started
table 33401 uploaded
4454 started
table 73569 uploaded
34488 started
table 26025 uploaded
25943 started
table 65001 uploaded
32160 started
table 74508 uploaded
71116 started
table 3421 uploaded
1274 started
table 187751 uploaded
96098 started
table 70964 uploaded
7019 started
table 1784 uploaded
93988 started
table 2666 uploaded
80588 started
table 142566 uploaded
174815 started
table 4454 uploaded
1290 started
table 3952 uploaded
4308 started
table 71116 uploaded
100810 started
table 34488 uploaded
110380 started
table 36517 uploaded
61248 started
table 2398 uploaded
194947 started
table 96098 uploaded
145520 started
table 32160 uploaded
3218 started
table 1274 uploaded
84880 started
table 25943 uploaded
4464 started
table 7019 uploaded
2568 started
table 174815 uploaded
157091 started
table 93988 uploaded
7050 started
table 80588 uploaded
25950 started
table 100810 uploaded
119218 started
table 1290 uploaded
112434 started
table 145520 uploaded
122912 started
table 110380 uploaded
5491 started
table 61248 uploaded
146904 started
table 194947 uploaded
1609 started
table 2568 uploaded
176349 started
table 157091 uploaded
88954 started
table 3218 uploaded
84954 started
table 84880 uploaded
7256 started
table 112434 uploaded
158428 started
table 119218 uploaded
104431 started
table 4464 uploaded
236 started
table 122912 uploaded
89881 started
table 7050 uploaded
2932 started
table 146904 uploaded
54281 started
table 5491 uploaded
41627 started
table 176349 uploaded
142550 started

/opt/conda/lib/python3.10/site-packages/google/cloud/bigquery/_pandas_helpers.py:603: UserWarning: Pyarrow could not determine the type of columns: tag.
  warnings.warn(

table 25950 uploaded
43708 started
table 84954 uploaded
855 started
table 88954 uploaded
3069 started
table 236 uploaded
169034 started
table 104431 uploaded
3236 started
table 1609 uploaded
155090 started

/opt/conda/lib/python3.10/site-packages/google/cloud/bigquery/_pandas_helpers.py:603: UserWarning: Pyarrow could not determine the type of columns: tag.
  warnings.warn(

table 2932 uploaded
132608 started
table 54281 uploaded
57426 started
table 41627 uploaded
72330 started
table 89881 uploaded
6267 started
table 7256 uploaded
833 started
table 43708 uploaded
99687 started
table 142550 uploaded
2487 started

/opt/conda/lib/python3.10/site-packages/google/cloud/bigquery/_pandas_helpers.py:603: UserWarning: Pyarrow could not determine the type of columns: tag.
  warnings.warn(

table 855 uploaded
3554 started
table 3236 uploaded
174685 started
table 3069 uploaded
2600 started
table 72330 uploaded
14 started
table 6267 uploaded
156903 started
table 158428 uploaded
4754 started
table 2487 uploaded
47 started
table 169034 uploaded
173007 started
table 57426 uploaded
99413 started
table 155090 uploaded
3826 started
table 99687 uploaded
65418 started
table 132608 uploaded
6777 started
table 833 uploaded
715 started
table 3554 uploaded
4668 started
table 2600 uploaded
170201 started
table 174685 uploaded
86911 started
table 14 uploaded
113453 started
table 4754 uploaded
104998 started
table 47 uploaded
173735 started
table 173007 uploaded
101971 started
table 156903 uploaded
161958 started
table 4308 uploaded
1913 started
table 715 uploaded
104863 started
table 65418 uploaded
165883 started
table 6777 uploaded
84387 started

/opt/conda/lib/python3.10/site-packages/google/cloud/bigquery/_pandas_helpers.py:603: UserWarning: Pyarrow could not determine the type of columns: tag.
  warnings.warn(

table 3826 uploaded
168712 started
table 170201 uploaded
25960 started
table 4668 uploaded
97002 started
table 99413 uploaded
44601 started
table 86911 uploaded
38304 started
table 104998 uploaded
121115 started
table 161958 uploaded
26797 started
table 173735 uploaded
135831 started
table 104863 uploaded
761 started
table 168712 uploaded
179409 started
table 113453 uploaded
6817 started
table 165883 uploaded
6626 started
table 25960 uploaded
74131 started
table 1913 uploaded
115172 started
table 44601 uploaded
2285 started
table 26797 uploaded
48825 started
table 121115 uploaded
5518 started
table 101971 uploaded
131270 started
table 84387 uploaded
4720 started
table 135831 uploaded
39400 started
table 38304 uploaded
31116 started
table 6817 uploaded
581 started
table 97002 uploaded
194871 started

/opt/conda/lib/python3.10/site-packages/google/cloud/bigquery/_pandas_helpers.py:603: UserWarning: Pyarrow could not determine the type of columns: tag.
  warnings.warn(

table 179409 uploaded
1689 started
table 74131 uploaded
114721 started
table 48825 uploaded
105429 startedtable 115172 uploaded

8874 started
table 4720 uploaded
7934 started
table 5518 uploaded
3349 started
table 131270 uploaded
6486 started
table 2285 uploaded
1807 started
table 39400 uploaded
5688 started
table 761 uploaded
83525 started
table 6626 uploaded
82313 started
table 1689 uploaded
79463 started
table 581 uploaded
109187 started
table 105429 uploaded
6139 started
table 3349 uploaded
90863 started
table 31116 uploaded
122898 started
table 6486 uploaded
26326 started
table 114721 uploaded
2943 started
table 7934 uploaded
137900 started
table 5688 uploaded
127186 started
table 1807 uploaded
48522 started
table 194871 uploaded
183897 started
table 8874 uploaded
73211 started
table 90863 uploaded
147282 started
table 79463 uploaded
800 started
table 109187 uploaded
45578 started
table 137900 uploaded
table 83525 uploaded
1311 started
195045 started

/opt/conda/lib/python3.10/site-packages/google/cloud/bigquery/_pandas_helpers.py:603: UserWarning: Pyarrow could not determine the type of columns: tag.
  warnings.warn(

table 122898 uploaded
177239 started
table 82313 uploaded
190089 started
table 26326 uploaded
3262 started
table 183897 uploaded
7411 started
table 6139 uploaded
27515 started
table 147282 uploaded
35738 started
table 2943 uploaded
183869 started
table 195045 uploaded
160555 startedtable 45578 uploaded

166643 started
table 1311 uploaded
96667 started
table 127186 uploaded
8232 started
table 73211 uploaded
163937 started
table 177239 uploaded
73808 started
table 800 uploaded
2583 started
table 48522 uploaded
3305 started
table 3262 uploaded
43007 started
table 7411 uploaded
80584 started
table 27515 uploaded
262 started
table 35738 uploaded
3814 started
table 96667 uploaded
55721 started
table 166643 uploaded
201811 started
table 163937 uploaded
70706 started
table 190089 uploaded
69118 started
table 2583 uploaded
122480 started
table 8232 uploaded
6867 started
table 73808 uploaded
4265 started
table 3305 uploaded
4 started
table 183869 uploaded
58425 started
table 43007 uploaded
92923 started
table 3814 uploaded
171519 started

/opt/conda/lib/python3.10/site-packages/google/cloud/bigquery/_pandas_helpers.py:603: UserWarning: Pyarrow could not determine the type of columns: tag.
  warnings.warn(

table 70706 uploaded
135643 started
table 69118 uploaded
82673 started
table 262 uploaded
table 201811 uploaded
136359 started
134819 started
table 80584 uploaded
78534 started

/opt/conda/lib/python3.10/site-packages/google/cloud/bigquery/_pandas_helpers.py:603: UserWarning: Pyarrow could not determine the type of columns: tag.
  warnings.warn(

table 122480 uploaded
2000 started
table 4 uploaded
134517 started
table 55721 uploaded
56805 started
table 4265 uploaded
27624 started
table 58425 uploaded
127154 started
table 160555 uploaded
45412 started
table 82673 uploaded
8782 started
table 92923 uploaded
2942 started
table 78534 uploaded
2721 started
table 171519 uploaded
57326 started
table 2000 uploaded
176753 started
table 136359 uploaded
52283 started
table 134517 uploaded
81733 started
table 134819 uploaded
7650 started
table 56805 uploaded
106473 started
table 135643 uploaded
52730 started
table 127154 uploaded
111113 started
table 8782 uploaded
78618 started
table 45412 uploaded
68835 started
table 2721 uploaded
57970 started
table 27624 uploaded
55132 started
table 6867 uploaded
53123 started
table 57326 uploaded
150322 started

/opt/conda/lib/python3.10/site-packages/google/cloud/bigquery/_pandas_helpers.py:603: UserWarning: Pyarrow could not determine the type of columns: tag.
  warnings.warn(

table 52283 uploaded
26413 started
table 52730 uploaded
141050 started
table 7650 uploaded
538 started
table 111113 uploaded
156025 started
table 81733 uploaded
26074 started
table 106473 uploaded
94919 started
table 2942 uploaded
40578 started
table 176753 uploaded
87529 started
table 53123 uploaded
998 started
table 78618 uploaded
97701 started
table 68835 uploaded
120938 started
table 26413 uploaded
66762 started
table 57970 uploaded
999 started
table 55132 uploaded
7255 started
table 141050 uploaded
129818 started
table 538 uploaded
65465 started
table 94919 uploaded
51937 started
table 150322 uploaded
183855 started
table 156025 uploaded
1162 started
table 40578 uploaded
167126 started
table 97701 uploaded
6100 started
table 87529 uploaded
82051 started
table 26074 uploaded
147779 started
table 66762 uploaded
63001 started
table 998 uploaded
160161 started
table 7255 uploaded
6369 startedtable 51937 uploaded

182269 started
table 120938 uploaded
203322 started
table 65465 uploaded
183837 started
table 129818 uploaded
1002 started
table 999 uploaded
147260 started
table 1162 uploaded
119141 started

/opt/conda/lib/python3.10/site-packages/google/cloud/bigquery/_pandas_helpers.py:603: UserWarning: Pyarrow could not determine the type of columns: tag.
  warnings.warn(

table 63001 uploaded
125211 started
table 183855 uploaded
4009 started
table 6100 uploaded
6394 started
table 147779 uploaded
1003 started
table 160161 uploaded
4816 started
table 182269 uploaded
141964 started
table 203322 uploaded
1206 started
table 82051 uploaded
63329 started
table 183837 uploaded
357 started
table 6369 uploaded
26606 started
table 167126 uploaded
27316 started
table 119141 uploaded
1924 started
table 4009 uploaded
50630 started
table 147260 uploaded
945 started
table 1002 uploaded
133133 started
table 1206 uploaded
7163 started
table 141964 uploaded
144222 started
table 125211 uploaded
111364 started
table 6394 uploaded
194400 started
table 4816 uploaded
139642 started
table 357 uploaded
3025 started
table 63329 uploaded
48817 started
table 1003 uploaded
195041 started
table 27316 uploaded
69421 started
table 50630 uploaded
69253 started
table 133133 uploaded
7003 started
table 26606 uploaded
3480 started
table 945 uploaded
59784 started
table 1924 uploaded
7232 started
table 139642 uploaded
118173 started
table 195041 uploaded
91597 started
table 144222 uploaded
162632 started
table 7163 uploaded
1142 started
table 194400 uploaded
143647 started

/opt/conda/lib/python3.10/site-packages/google/cloud/bigquery/_pandas_helpers.py:603: UserWarning: Pyarrow could not determine the type of columns: tag.
  warnings.warn(

table 3025 uploaded
169488 started
table 69421 uploaded
111617 started
table 48817 uploaded
26574 started
table 69253 uploaded
93172 started
table 111364 uploaded
144782 started
table 59784 uploaded
7912 started
table 162632 uploaded
44844 started
table 3480 uploaded
127309 started
table 91597 uploaded
5796 started
table 7232 uploaded
986 started
table 1142 uploaded
1931 started
table 118173 uploaded
100593 started
table 26574 uploaded
82322 started
table 111617 uploaded
4592 started
table 169488 uploaded
67429 started
table 93172 uploaded
132614 started
table 7912 uploaded
141402 started
table 144782 uploaded
44168 started
table 7003 uploaded
155966 started
table 44844 uploaded
206805 started
table 5796 uploaded
2674 started
table 1931 uploaded
66337 started
table 986 uploaded
159976 started
table 127309 uploaded
53766 started
table 132614 uploaded
140844 started
table 143647 uploaded
3258 started
table 82322 uploaded
43497 started
table 4592 uploaded
115881 started
table 67429 uploaded
2895 started
table 100593 uploaded
7076 started
table 141402 uploaded
111251 started
table 44168 uploaded
96829 started
table 206805 uploaded
27922 started
table 155966 uploaded
135290 started

/opt/conda/lib/python3.10/site-packages/google/cloud/bigquery/_pandas_helpers.py:603: UserWarning: Pyarrow could not determine the type of columns: tag.
  warnings.warn(

table 66337 uploaded
163122 started
table 140844 uploaded
171729 started

/opt/conda/lib/python3.10/site-packages/google/cloud/bigquery/_pandas_helpers.py:603: UserWarning: Pyarrow could not determine the type of columns: tag.
  warnings.warn(

table 53766 uploaded
27640 started
table 3258 uploaded
2164 started
table 115881 uploaded
88022 started
table 7076 uploaded
43744 started
table 159976 uploaded
31807 started
table 111251 uploaded
8750 started
table 27922 uploaded
546 started
table 43497 uploaded
4492 started
table 2895 uploaded
71011 started
table 96829 uploaded
5653 started
table 163122 uploaded
27365 started
table 2164 uploaded
58964 started
table 27640 uploaded
6346 started
table 43744 uploaded
4117 started
table 135290 uploaded
48682 started
table 88022 uploaded
102033 started
table 171729 uploaded
159626 started
table 2674 uploaded
8221 started
table 8750 uploaded
61729 started
table 4492 uploaded
7979 started
table 546 uploaded
34530 started
table 31807 uploaded
141926 started
table 5653 uploaded
767 started
table 4117 uploaded
7636 started
table 102033 uploaded
57353 started
table 27365 uploaded
34505 started
table 48682 uploaded
53921 started
table 159626 uploaded
71732 started
table 7979 uploaded
177651 started
table 8221 uploaded
98631 started
table 61729 uploaded
7405 started
table 71011 uploaded
928 started
table 6346 uploaded
26185 started
table 767 uploaded
147306 started
table 34530 uploaded

/opt/conda/lib/python3.10/site-packages/google/cloud/bigquery/_pandas_helpers.py:603: UserWarning: Pyarrow could not determine the type of columns: tag.
  warnings.warn(

3517 started

/opt/conda/lib/python3.10/site-packages/google/cloud/bigquery/_pandas_helpers.py:603: UserWarning: Pyarrow could not determine the type of columns: tag.
  warnings.warn(

table 34505 uploaded
4299 started
table 7405 uploaded
7078 started
table 58964 uploaded
89767 started
table 57353 uploaded
191997 started
table 26185 uploaded
4441 started
table 177651 uploaded
59731 started
table 141926 uploaded
2042 started
table 53921 uploaded
1091 started
table 98631 uploaded
68932 started
table 7636 uploaded
1449 started
table 71732 uploaded
174711 started
table 147306 uploaded
5963 started
table 89767 uploaded
4570 started
table 928 uploaded
4004 started

/opt/conda/lib/python3.10/site-packages/google/cloud/bigquery/_pandas_helpers.py:603: UserWarning: Pyarrow could not determine the type of columns: tag.
  warnings.warn(

table 1091 uploaded
6876 started
table 4441 uploaded
8459 started
table 4299 uploaded
171705 started

/opt/conda/lib/python3.10/site-packages/google/cloud/bigquery/_pandas_helpers.py:603: UserWarning: Pyarrow could not determine the type of columns: tag.
  warnings.warn(

table 2042 uploaded
3057 started
table 68932 uploaded
3521 started
table 59731 uploaded
26828 started
table 1449 uploaded
99220 started
table 191997 uploaded
43883 started
table 7078 uploaded
87930 started
table 174711 uploaded
5759 started
table 3517 uploaded
27801 started
table 5963 uploaded
142366 started
table 171705 uploaded
61240 started
table 3057 uploaded
130746 started
table 26828 uploaded
8634 started
table 8459 uploaded
5328 started
table 6876 uploaded
167 started
table 43883 uploaded
165071 started
table 4004 uploaded
127084 started

/opt/conda/lib/python3.10/site-packages/google/cloud/bigquery/_pandas_helpers.py:603: UserWarning: Pyarrow could not determine the type of columns: tag.
  warnings.warn(

table 87930 uploaded
1671 started
table 4570 uploaded
136355 started

/opt/conda/lib/python3.10/site-packages/google/cloud/bigquery/_pandas_helpers.py:603: UserWarning: Pyarrow could not determine the type of columns: tag.
  warnings.warn(

table 3521 uploaded
5041 started
table 27801 uploaded
97324 started
table 99220 uploaded
3190 started
table 130746 uploaded
5457 started
table 61240 uploaded
343 started
table 142366 uploaded
189381 started
table 8634 uploaded
8938 started
table 5328 uploaded
109027 started
table 127084 uploaded
198185 started
table 5759 uploaded
2561 started
table 167 uploaded
26981 started
table 1671 uploaded
5742 started
table 136355 uploaded
6897 started
table 3190 uploaded
192025 started
table 5041 uploaded
6937 started

/opt/conda/lib/python3.10/site-packages/google/cloud/bigquery/_pandas_helpers.py:603: UserWarning: Pyarrow could not determine the type of columns: tag.
  warnings.warn(
/opt/conda/lib/python3.10/site-packages/google/cloud/bigquery/_pandas_helpers.py:603: UserWarning: Pyarrow could not determine the type of columns: tag.
  warnings.warn(

table 165071 uploaded
59893 started
table 189381 uploaded
78838 started
table 5457 uploaded
104903 started
table 97324 uploaded
68472 started
table 26981 uploaded
6975 started
table 6897 uploaded
5808 started
table 8938 uploaded
96655 started
table 198185 uploaded
86922 started
table 343 uploaded
1964 started
table 6937 uploaded
27450 started
table 2561 uploaded
146279 started
table 59893 uploaded
3728 started
table 5742 uploaded
141960 started
table 192025 uploaded
120783 started
table 109027 uploaded
91134 started
table 78838 uploaded
8167 started
table 5808 uploaded
32151 started
table 104903 uploaded
83266 started
table 96655 uploaded
3998 started
table 91134 uploaded
818 started
table 146279 uploaded
917 started
table 86922 uploaded
85177 started
table 68472 uploaded
6447 started
table 120783 uploaded
33036 started
table 1964 uploaded
326 started
table 141960 uploaded
79927 started
table 27450 uploaded
164935 started
table 3728 uploaded
106559 started
table 32151 uploaded
3658 started
table 6975 uploaded
185171 started
table 917 uploaded
6060 started
table 3998 uploaded
8803 started
table 818 uploaded
1594 started
table 6447 uploaded
133806 started
table 8167 uploaded
4703 started
table 33036 uploaded
181659 started
table 83266 uploaded
69219 startedtable 79927 uploaded

7370 started

/opt/conda/lib/python3.10/site-packages/google/cloud/bigquery/_pandas_helpers.py:603: UserWarning: Pyarrow could not determine the type of columns: tag.
  warnings.warn(

table 85177 uploaded
8365 started
table 3658 uploaded
132146 started
table 106559 uploaded
8256 started
table 326 uploaded
26976 started
table 8803 uploaded
3158 started
table 185171 uploaded
1733 started
table 133806 uploaded
161312 started
table 4703 uploaded
5552 started
table 7370 uploaded
120815 started
table 8365 uploaded
177101 started
table 1594 uploaded
27800 started
table 164935 uploaded
94867 started
table 6060 uploaded
47460 started
table 181659 uploaded
72489 started
table 26976 uploaded
8602 started
table 132146 uploaded
1721 started
table 1733 uploaded
4317 started
table 161312 uploaded
249 started
table 8256 uploaded
129354 started
table 177101 uploaded
70607 started
table 3158 uploaded
6690 started
table 47460 uploaded
3304 started
table 120815 uploaded
151941 started
table 5552 uploaded
95873 started
table 94867 uploaded
109769 started
table 8602 uploaded
65357 started
table 27800 uploaded
7935 started
table 1721 uploaded
115 started
table 69219 uploaded
174585 started
table 72489 uploaded
2331 started
table 249 uploaded
3730 started
table 4317 uploaded
176551 started
table 70607 uploaded
2265 started
table 129354 uploaded
129362 started
table 151941 uploaded
1613 started
table 115 uploaded
82848 started
table 3304 uploaded
8902 started
table 109769 uploaded
3843 started
table 95873 uploaded
683 started
table 6690 uploaded
160 started
table 65357 uploaded
166149 started
table 174585 uploaded
55116 started
table 129362 uploaded
6065 started
table 176551 uploaded
110322 started
table 2265 uploaded
33493 started
table 3730 uploaded
113214 started
table 2331 uploaded
168650 started
table 7935 uploaded
47805 started
table 3843 uploaded
2655 started
table 1613 uploaded
171349 started
table 82848 uploaded
194448 started
table 110322 uploaded
60133 started
table 683 uploaded
6186 started
table 55116 uploaded
47306 started
table 166149 uploaded
171111 started
table 8902 uploaded
91450 started
table 6065 uploaded
5581 started
table 113214 uploaded
5384 started
table 33493 uploaded
6637 started
table 47805 uploaded
1047 started
table 168650 uploaded
25922 started
table 2655 uploaded
146674 started
table 6186 uploaded
5121 started
table 91450 uploaded
37736 started
table 171349 uploaded
61110 started
table 5581 uploaded
77682 started
table 60133 uploaded
7832 started
table 5384 uploaded
107408 started
table 171111 uploaded
5024 started
table 194448 uploaded
86548 started
table 25922 uploaded
1519 started
table 6637 uploaded
149 started
table 47306 uploaded
57655 started
table 37736 uploaded
84775 started
table 61110 uploaded
179779 started
table 1047 uploaded
101629 started
table 77682 uploaded
2849 started
table 5121 uploaded
51820 started
table 160 uploaded
74150 started
table 107408 uploaded
7355 started
table 146674 uploaded
109596 started
table 86548 uploaded
181413 started
table 1519 uploaded
82641 started
table 7832 uploaded
2722 started
table 84775 uploaded
32515 started
table 57655 uploaded
2746 started
table 179779 uploaded
93821 started
table 149 uploaded
179053 started
table 2849 uploaded
8275 started
table 5024 uploaded
3368 started
table 7355 uploaded
5046 started
table 82641 uploaded
59339 started
table 101629 uploaded
881 started
table 2746 uploaded
26523 started
table 74150 uploaded
55895 started
table 51820 uploaded
80677 started
table 109596 uploaded
6096 started
table 8275 uploaded
8810 started
table 32515 uploaded
1343 started
table 2722 uploaded
47610 started
table 181413 uploaded
58816 started
table 3368 uploaded
1446 started
table 881 uploaded
170707 started

/opt/conda/lib/python3.10/site-packages/google/cloud/bigquery/_pandas_helpers.py:603: UserWarning: Pyarrow could not determine the type of columns: tag.
  warnings.warn(

table 5046 uploaded
32352 started
table 26523 uploaded
8056 started
table 55895 uploaded
78335 started
table 93821 uploaded
7108 started
table 59339 uploaded
7129 started
table 8810 uploaded
142482 started
table 1343 uploaded
541 started
table 179053 uploaded
31101 started
table 47610 uploaded
145584 started
table 80677 uploaded
136335 started

/opt/conda/lib/python3.10/site-packages/google/cloud/bigquery/_pandas_helpers.py:603: UserWarning: Pyarrow could not determine the type of columns: tag.
  warnings.warn(

table 1446 uploaded
6529 started
table 32352 uploaded
127208 started
table 170707 uploaded
1448 started
table 58816 uploaded
40494 started

/opt/conda/lib/python3.10/site-packages/google/cloud/bigquery/_pandas_helpers.py:603: UserWarning: Pyarrow could not determine the type of columns: tag.
  warnings.warn(

table 7108 uploaded
111732 started
table 142482 uploaded
3299 started
table 6096 uploaded
612 started
table 78335 uploaded
110173 started
table 145584 uploaded
98036 started
table 8056 uploaded
115969 started
table 541 uploaded
96413 started
table 7129 uploaded
153672 started
table 136335 uploaded
52375 started
table 127208 uploaded
876 started
table 40494 uploaded
7088 started
table 31101 uploaded
101765 started
table 1448 uploaded
40955 started
table 6529 uploaded
45899 started

/opt/conda/lib/python3.10/site-packages/google/cloud/bigquery/_pandas_helpers.py:603: UserWarning: Pyarrow could not determine the type of columns: tag.
  warnings.warn(

table 96413 uploaded
71989 started
table 98036 uploaded
2704 started
table 111732 uploaded
5919 started
table 153672 uploaded
5234 started
table 52375 uploaded
64620 started
table 3299 uploaded
25771 started
table 110173 uploaded
3157 started
table 876 uploaded
170709 started
table 45899 uploaded
3984 started
table 115969 uploaded
26741 started
table 612 uploaded
33098 started
table 7088 uploaded
80615 started
table 101765 uploaded
2152 started
table 40955 uploaded
106062 started
table 5919 uploaded
61167 started
table 71989 uploaded
2189 started

/opt/conda/lib/python3.10/site-packages/google/cloud/bigquery/_pandas_helpers.py:603: UserWarning: Pyarrow could not determine the type of columns: tag.
  warnings.warn(

table 2704 uploaded
2859 started
table 25771 uploaded
58185 started
table 3157 uploaded
55071 started
table 3984 uploaded
74156 started
table 33098 uploaded
206272 started

/opt/conda/lib/python3.10/site-packages/google/cloud/bigquery/_pandas_helpers.py:603: UserWarning: Pyarrow could not determine the type of columns: tag.
  warnings.warn(

table 2152 uploaded
59000 started
table 170709 uploaded
6309 started
table 64620 uploaded
107361 started
table 80615 uploaded
709 started
table 5234 uploaded
553 started
table 61167 uploaded
104925 started
table 2859 uploaded
25878 started
table 55071 uploaded
50003 started
table 26741 uploaded
55050 started
table 74156 uploaded
129935 started
table 2189 uploaded
3510 started
table 58185 uploaded
33679 started
table 107361 uploaded
2198 started
table 106062 uploaded
4008 started
table 553 uploaded
40952 started
table 59000 uploaded
115777 started
table 104925 uploaded
58411 started
table 6309 uploaded
6732 started
table 206272 uploaded
59369 started
table 55050 uploaded
26051 started
table 129935 uploaded
46034 started
table 50003 uploaded
2322 started
table 25878 uploaded
32520 started
table 709 uploaded
595 started
table 4008 uploaded
143859 started
table 115777 uploaded
8690 started
table 40952 uploaded
187231 started
table 2198 uploaded
102684 started
table 3510 uploaded
136469 started
table 59369 uploaded
33124 started
table 26051 uploaded
2892 started
table 33679 uploaded
698 started
table 46034 uploaded
115122 started
table 58411 uploaded
3180 started
table 6732 uploaded
67927 started
table 2322 uploaded
142372 started
table 32520 uploaded
4139 started
table 595 uploaded
138104 started
table 143859 uploaded
171439 started
table 102684 uploaded
187283 started
table 187231 uploaded
170303 started
table 115122 uploaded
115471 started
table 8690 uploaded
6250 started
table 33124 uploaded
32371 started
table 67927 uploaded
88140 started
table 3180 uploaded
66547 started
table 2892 uploaded
3285 started
table 698 uploaded
70898 started
table 136469 uploaded
188299 started
table 142372 uploaded
47538 started
table 4139 uploaded
26327 started
table 170303 uploaded
2049 started
table 171439 uploaded
6056 started
table 88140 uploaded
26509 started
table 32371 uploaded
3150 started
table 6250 uploaded
55292 started
table 115471 uploaded
120574 started
table 138104 uploaded
100185 started
table 3285 uploaded
199207 started
table 188299 uploaded
54962 started
table 66547 uploaded
1791 started
table 70898 uploaded
114958 started
table 47538 uploaded
129771 started
table 187283 uploaded
68482 started

/opt/conda/lib/python3.10/site-packages/google/cloud/bigquery/_pandas_helpers.py:603: UserWarning: Pyarrow could not determine the type of columns: tag.
  warnings.warn(

table 2049 uploaded
152123 started
table 26327 uploaded
133782 started
table 120574 uploaded
table 3150 uploaded55603 started

99305 started
table 55292 uploaded
3930 started
table 1791 uploaded
149590 started
table 199207 uploaded
66915 started
table 100185 uploaded
134680 started
table 114958 uploaded
84523 started
table 68482 uploaded
144410 started
table 6056 uploaded
173093 started
table 129771 uploaded
56788 started
table 133782 uploaded
8693 started
table 54962 uploaded
56931 started
table 99305 uploaded
56060 started
table 26509 uploaded
134095 started
table 152123 uploaded
128608 started
table 3930 uploaded
57017 started
table 66915 uploaded
6756 started
table 173093 uploaded
46231 started
table 84523 uploaded
5942 started
table 144410 uploaded
116951 started
table 55603 uploaded
8851 started
table 134680 uploaded
5486 started
table 149590 uploaded
104552 started
table 56060 uploaded
44568 started
table 134095 uploaded
3450 started
table 128608 uploaded
26758 started
table 56931 uploaded
36392 started
table 8693 uploaded
7826 started
table 57017 uploaded
2076 started
table 56788 uploaded
7831 started
table 5942 uploaded
1973 started
table 46231 uploaded
3283 started
table 8851 uploaded
68662 started
table 5486 uploaded
117464 started
table 6756 uploaded
5568 started
table 116951 uploaded
3009 started

/opt/conda/lib/python3.10/site-packages/google/cloud/bigquery/_pandas_helpers.py:603: UserWarning: Pyarrow could not determine the type of columns: tag.
  warnings.warn(

table 104552 uploaded
3219 started
table 44568 uploaded
136239 started
table 7831 uploaded
57946 started
table 3283 uploaded
26750 started
table 26758 uploaded
62999 started
table 36392 uploaded
3536 started
table 7826 uploaded
7001 started
table 3450 uploaded
63676 started
table 1973 uploaded
5123 started
table 68662 uploaded
171169 started
table 117464 uploaded
136538 started
table 2076 uploaded
53464 started
table 136239 uploaded
147250 started
table 26750 uploaded
4757 started
table 5568 uploaded
6630 started
table 7001 uploaded
175143 started
table 171169 uploaded
122260 started
table 3009 uploaded
117517 started
table 3536 uploaded
2471 started
table 57946 uploaded
773 started
table 63676 uploaded
62049 started
table 62999 uploaded
5999 started
table 53464 uploaded
164280 started
table 136538 uploaded
134023 started
table 5123 uploaded
6350 started
table 147250 uploaded
6095 started
table 3219 uploaded
104233 started
table 6630 uploaded
94478 started
table 4757 uploaded
5144 started
table 2471 uploaded
121302 started
table 175143 uploaded
134045 started

/opt/conda/lib/python3.10/site-packages/google/cloud/bigquery/_pandas_helpers.py:603: UserWarning: Pyarrow could not determine the type of columns: tag.
  warnings.warn(

table 117517 uploaded
157865 started
table 62049 uploaded
32952 started
table 773 uploaded
2390 started
table 122260 uploaded
6636 started
table 164280 uploaded
694 started
table 94478 uploaded
688 started
table 5999 uploaded
31160 started
table 134023 uploaded
3775 started
table 6350 uploaded
133139 started
table 6095 uploaded
97923 started
table 157865 uploaded
150334 started
table 104233 uploaded
6072 started
table 5144 uploaded
64983 started
table 121302 uploaded
55444 started
table 32952 uploaded
69136 started
table 6636 uploaded
6057 started
table 2390 uploaded
1366 started
table 694 uploaded
630 started
table 134045 uploaded
142831 started
table 688 uploaded
7627 started
table 31160 uploaded
8388 started
table 55444 uploaded
456 started
table 133139 uploaded
2093 started
table 150334 uploaded
77854 started
table 630 uploaded
5561 started
table 6057 uploaded
156956 started

/opt/conda/lib/python3.10/site-packages/google/cloud/bigquery/_pandas_helpers.py:603: UserWarning: Pyarrow could not determine the type of columns: tag.
  warnings.warn(

table 6072 uploaded
51540 started
table 3775 uploaded
1967 started
table 64983 uploaded
6064 started
table 97923 uploaded
145514 started
table 7627 uploaded
44800 started
table 1366 uploaded
3287 started
table 77854 uploaded
5492 started
table 69136 uploaded
73511 started
table 142831 uploaded
6180 started
table 8388 uploaded
54220 started
table 456 uploaded
67193 started
table 156956 uploaded
152085 started
table 2093 uploaded
26644 started
table 5561 uploaded
186631 started
table 1967 uploaded
716 started
table 51540 uploaded
37495 started
table 6064 uploaded
137563 started
table 6180 uploaded
193942 started
table 145514 uploaded
9008 started
table 44800 uploaded
5196 started
table 186631 uploaded
72169 started
table 5492 uploaded
4155 started
table 152085 uploaded
78991 started
table 3287 uploaded
2066 started
table 26644 uploaded
194026 started
table 54220 uploaded
27644 started
table 67193 uploaded
4972 started
table 73511 uploaded
2756 started
table 716 uploaded
5443 started
table 37495 uploaded
169958 started
table 137563 uploaded
68612 started
table 5196 uploaded
179163 started
table 9008 uploaded
1626 started
table 193942 uploaded
383 started
table 4155 uploaded
202 started
table 72169 uploaded
4171 started
table 2756 uploaded
8834 started
table 2066 uploaded
4679 started
table 78991 uploaded
1601 started
table 194026 uploaded
7197 started
table 68612 uploaded
111659 started
table 169958 uploaded
144286 started

/opt/conda/lib/python3.10/site-packages/google/cloud/bigquery/_pandas_helpers.py:603: UserWarning: Pyarrow could not determine the type of columns: tag.
  warnings.warn(

table 1626 uploaded
118876 started
table 27644 uploaded
84236 started
table 383 uploaded
132971 started
table 179163 uploaded
6116 started
table 4171 uploaded
5917 started
table 4972 uploaded
5159 started
table 5443 uploaded
147831 started
table 7197 uploaded
131252 started
table 1601 uploaded
6034 started
table 144286 uploaded
121202 started
table 84236 uploaded
157106 started
table 202 uploaded
1598 startedtable 8834 uploaded

32170 started
table 6116 uploaded
7371 started
table 5159 uploaded
107185 started
table 4679 uploaded
59118 started
table 111659 uploaded
2821 started
table 132971 uploaded
4229 started
table 5917 uploaded
190349 started
table 147831 uploaded
66320 started
table 118876 uploaded
112866 started
table 121202 uploaded
112299 started
table 131252 uploaded
196969 started
table 32170 uploaded
5991 started

/opt/conda/lib/python3.10/site-packages/google/cloud/bigquery/_pandas_helpers.py:603: UserWarning: Pyarrow could not determine the type of columns: tag.
  warnings.warn(

table 6034 uploaded
7193 started
table 1598 uploaded
110809 started
table 7371 uploaded
72298 started
table 157106 uploaded
5922 started
table 59118 uploaded
114793 started
table 2821 uploaded
69908 started
table 4229 uploaded
5367 started
table 107185 uploaded
81512 started
table 112866 uploaded
53129 started
table 66320 uploaded
73881 started
table 190349 uploaded
6407 started
table 110809 uploaded
43983 started
table 196969 uploaded
55946 started
table 5991 uploaded
66 started
table 112299 uploaded
82527 started
table 72298 uploaded
69356 started
table 7193 uploaded
205661 started
table 5922 uploaded
1152 started
table 114793 uploaded
78976 started
table 73881 uploaded
5152 started
table 69908 uploaded
34466 started
table 53129 uploaded
5105 started
table 81512 uploaded
97694 started
table 43983 uploaded
93022 started
table 5367 uploaded
13 started
table 55946 uploaded
133385 started
table 66 uploaded
8010 started
table 205661 uploaded
34375 started
table 82527 uploaded
112183 started
table 69356 uploaded
142450 started
table 6407 uploaded
8684 started
table 5152 uploaded
47491 started
table 5105 uploaded
8783 started
table 78976 uploaded
116213 started
table 1152 uploaded
95654 started
table 13 uploaded
151573 started
table 34466 uploaded
55577 started
table 97694 uploaded
169668 started
table 34375 uploaded
115705 started
table 93022 uploaded
73772 started
table 47491 uploaded
6019 started
table 8010 uploaded
30848 started
table 112183 uploaded
5146 started
table 142450 uploaded
33767 started
table 133385 uploaded
32139 started
table 8783 uploaded
90430 started
table 8684 uploaded
85020 started
table 151573 uploaded
71878 started
table 55577 uploaded
3668 started
table 116213 uploaded
158538 started
table 95654 uploaded
48982 started
table 169668 uploaded
165635 started
table 73772 uploaded
6112 started
table 115705 uploaded
83801 started

/opt/conda/lib/python3.10/site-packages/google/cloud/bigquery/_pandas_helpers.py:603: UserWarning: Pyarrow could not determine the type of columns: tag.
  warnings.warn(

table 6019 uploaded
39292 started
table 5146 uploaded
161922 started
table 85020 uploaded
8398 started
table 33767 uploaded
46850 started
table 90430 uploaded
31528 started
table 71878 uploaded
197707 started
table 32139 uploaded
58003 started
table 30848 uploaded
30825 started
table 48982 uploaded
5399 started
table 83801 uploaded
63853 started
table 158538 uploaded
114692 started
table 6112 uploaded
7675 started
table 8398 uploaded
44671 started
table 39292 uploaded
5632 started
table 165635 uploaded
6994 started
table 46850 uploaded
156787 started
table 161922 uploaded
89021 started
table 3668 uploaded
135204 started
table 30825 uploaded
139084 started
table 31528 uploaded
31672 started
table 5399 uploaded
7270 started
table 197707 uploaded
8974 started
table 63853 uploaded
61986 started
table 114692 uploaded
5935 started
table 58003 uploaded
428 started
table 44671 uploaded
193253 started
table 135204 uploaded
5233 started

/opt/conda/lib/python3.10/site-packages/google/cloud/bigquery/_pandas_helpers.py:603: UserWarning: Pyarrow could not determine the type of columns: tag.
  warnings.warn(

table 5632 uploaded
185979 started
table 156787 uploaded
3461 started
table 89021 uploaded
156605 started
table 139084 uploaded
98838 started
table 7675 uploaded
104513 started
table 6994 uploaded
64245 started
table 61986 uploaded
6828 started
table 8974 uploaded
133729 started
table 5935 uploaded
157 started
table 428 uploaded
184925 started
table 31672 uploaded
81364 started
table 193253 uploaded
84446 started

/opt/conda/lib/python3.10/site-packages/google/cloud/bigquery/_pandas_helpers.py:603: UserWarning: Pyarrow could not determine the type of columns: tag.
  warnings.warn(

table 98838 uploaded
5412 started
table 7270 uploaded
74688 started
table 5233 uploaded
44611 started
table 3461 uploaded
194348 started
table 64245 uploaded
135456 started
table 6828 uploaded
169166 started
table 185979 uploaded
5413 started
table 156605 uploaded
136447 started
table 133729 uploaded
32596 started
table 184925 uploaded
27658 started
table 81364 uploaded
132800 started
table 157 uploaded
141812 started
table 135456 uploaded
110104 started
table 5413 uploaded
4499 started
table 104513 uploaded
70670 started
table 84446 uploaded
141718 started
table 132800 uploaded
84407 started
table 194348 uploaded
2413 started
table 74688 uploaded
128550 started
table 32596 uploaded
34164 started

/opt/conda/lib/python3.10/site-packages/google/cloud/bigquery/_pandas_helpers.py:603: UserWarning: Pyarrow could not determine the type of columns: tag.
  warnings.warn(

table 44611 uploaded
4630 started
table 141812 uploaded
90576 started
table 136447 uploaded
33255 started
table 27658 uploaded
6114 started
table 169166 uploaded
223 started
table 4499 uploaded
199101 started
table 70670 uploaded
26467 started
table 141718 uploaded
44317 started
table 34164 uploaded
92008 started
table 84407 uploaded
5212 started
table 2413 uploaded
109189 started
table 5412 uploaded
162316 started
table 128550 uploaded
148634 started
table 110104 uploaded
43906 started
table 4630 uploaded
83540 started
table 223 uploaded
2215 started
table 26467 uploaded
8189 started
table 92008 uploaded
78006 started
table 6114 uploaded
188309 started
table 90576 uploaded
173345 started
table 33255 uploaded
96687 started
table 109189 uploaded
6472 started
table 199101 uploaded
58632 started
table 5212 uploaded
25827 started
table 44317 uploaded
39231 started
table 43906 uploaded
352 started
table 148634 uploaded
8376 started
table 162316 uploaded
8628 started
table 83540 uploaded
155583 started
table 78006 uploadedtable 188309 uploaded

126749 started181545 started

/opt/conda/lib/python3.10/site-packages/google/cloud/bigquery/_pandas_helpers.py:603: UserWarning: Pyarrow could not determine the type of columns: tag.
  warnings.warn(

table 96687 uploaded
145491 started
table 39231 uploaded
1649 started
table 2215 uploaded
25904 started
table 25827 uploaded
2048 started
table 352 uploaded
6961 started
table 173345 uploaded
96596 started
table 58632 uploaded
45137 started
table 6472 uploaded
5109 started
table 8376 uploaded
176801 started
table 155583 uploaded
25964 started
table 126749 uploaded
59547 started
table 181545 uploaded
82976 started
table 1649 uploaded
397 started
table 8189 uploaded
8694 started
table 2048 uploaded
2956 started
table 6961 uploaded
8571 started
table 145491 uploaded
25737 started
table 5109 uploaded
1425 started
table 25964 uploaded
176929 started
table 25904 uploaded
4152 started
table 96596 uploaded
56022 started
table 45137 uploaded
167870 started
table 8628 uploaded
7951 started
table 59547 uploaded
90649 started
table 176801 uploaded
62293 started
table 82976 uploaded
183 started
table 397 uploaded
4200 started
table 8694 uploaded
1660 started
table 8571 uploaded
194016 started
table 176929 uploaded
179817 started
table 1425 uploaded
135436 started
table 25737 uploaded
160644 started
table 56022 uploaded
187085 started
table 7951 uploaded
5635 started
table 167870 uploaded
147744 started
table 90649 uploaded
320 started
table 4152 uploaded
144050 started

/opt/conda/lib/python3.10/site-packages/google/cloud/bigquery/_pandas_helpers.py:603: UserWarning: Pyarrow could not determine the type of columns: tag.
  warnings.warn(
/opt/conda/lib/python3.10/site-packages/google/cloud/bigquery/_pandas_helpers.py:603: UserWarning: Pyarrow could not determine the type of columns: tag.
  warnings.warn(

table 62293 uploaded
3132 started
table 194016 uploaded
157176 started
table 135436 uploaded
3139 started
table 2956 uploaded
78517 started
table 160644 uploaded
116503 started
table 5635 uploaded
4024 started
table 179817 uploaded
4504 started
table 1660 uploaded
39 started
table 144050 uploaded
73488 started
table 183 uploaded
5294 started
table 3132 uploaded
121483 started
table 320 uploaded
25750 started
table 4200 uploaded
196223 started
table 147744 uploaded
2065 started
table 4504 uploaded
95069 started
table 187085 uploaded
5286 started
table 116503 uploaded
40959 started
table 73488 uploaded
8421 started
table 3139 uploaded
146688 started
table 4024 uploaded
6016 started
table 5294 uploaded
26333 started
table 121483 uploaded
66339 started
table 39 uploaded
32974 started
table 157176 uploaded
193960 started
table 25750 uploaded
164181 started
table 78517 uploaded
2776 started
table 95069 uploaded
66427 started
table 5286 uploaded
106011 started
table 196223 uploaded
70088 started
table 2065 uploaded
93740 started
table 6016 uploaded
143519 started

/opt/conda/lib/python3.10/site-packages/google/cloud/bigquery/_pandas_helpers.py:603: UserWarning: Pyarrow could not determine the type of columns: tag.
  warnings.warn(

table 164181 uploaded
34039 started
table 26333 uploaded
3492 started
table 32974 uploaded
185601 started
table 66339 uploaded
94112 started
table 193960 uploaded
151317 started
table 146688 uploaded
6210 started
table 40959 uploaded
5247 started

/opt/conda/lib/python3.10/site-packages/google/cloud/bigquery/_pandas_helpers.py:603: UserWarning: Pyarrow could not determine the type of columns: tag.
  warnings.warn(

table 8421 uploaded
65585 started
table 66427 uploaded
3995 started

/opt/conda/lib/python3.10/site-packages/google/cloud/bigquery/_pandas_helpers.py:603: UserWarning: Pyarrow could not determine the type of columns: tag.
  warnings.warn(

table 106011 uploaded
131094 started
table 70088 uploaded
2745 started
table 2776 uploaded
81080 started
table 94112 uploaded
44788 started
table 5247 uploaded
7645 started
table 34039 uploaded
205064 started
table 93740 uploaded
201316 started

/opt/conda/lib/python3.10/site-packages/google/cloud/bigquery/_pandas_helpers.py:603: UserWarning: Pyarrow could not determine the type of columns: tag.
  warnings.warn(

table 65585 uploaded
56333 started
table 3492 uploaded
53574 started
table 151317 uploaded
933 started
table 143519 uploaded
32943 started
table 185601 uploaded
55324 started
table 6210 uploaded
34536 started
table 2745 uploaded
5095 started
table 131094 uploaded
114680 started
table 44788 uploaded
3913 started

/opt/conda/lib/python3.10/site-packages/google/cloud/bigquery/_pandas_helpers.py:603: UserWarning: Pyarrow could not determine the type of columns: tag.
  warnings.warn(

table 56333 uploaded
46772 started
table 7645 uploaded
8045 started
table 201316 uploaded
100444 started
table 205064 uploaded
77427 started
table 3995 uploaded
1468 started
table 81080 uploaded
7278 started
table 53574 uploaded
140928 started
table 32943 uploaded
32109 started

/opt/conda/lib/python3.10/site-packages/google/cloud/bigquery/_pandas_helpers.py:603: UserWarning: Pyarrow could not determine the type of columns: tag.
  warnings.warn(

table 933 uploaded
6569 started
table 55324 uploaded
57845 started
table 3913 uploaded
58107 started
table 5095 uploaded
7615 started
table 34536 uploaded
62390 started
table 114680 uploaded
70423 started
table 8045 uploaded
90245 started
table 77427 uploaded
2213 started
table 1468 uploaded
99602 started
table 46772 uploaded
115149 started
table 7278 uploaded
2276 started
table 100444 uploaded
100328 started
table 140928 uploaded
176 started
table 32109 uploaded
96467 started
table 6569 uploaded
101597 started
table 58107 uploaded
1687 started
table 7615 uploaded
136022 started

/opt/conda/lib/python3.10/site-packages/google/cloud/bigquery/_pandas_helpers.py:603: UserWarning: Pyarrow could not determine the type of columns: tag.
  warnings.warn(

table 62390 uploaded
6881 started
table 57845 uploaded
4084 started
table 70423 uploaded
5253 started
table 99602 uploaded
5125 started
table 90245 uploaded
102088 started
table 115149 uploaded
134821 started
table 96467 uploaded
109607 started
table 2276 uploaded
3407 started
table 176 uploaded
924 started

/opt/conda/lib/python3.10/site-packages/google/cloud/bigquery/_pandas_helpers.py:603: UserWarning: Pyarrow could not determine the type of columns: tag.
  warnings.warn(

table 100328 uploaded
31263 started
table 1687 uploaded
89002 started
table 2213 uploaded
3508 started
table 5125 uploaded
25841 started
table 6881 uploaded
4286 started
table 4084 uploaded
27004 started
table 134821 uploaded
82564 started
table 101597 uploaded
7055 started
table 5253 uploaded
104392 started
table 136022 uploaded
127266 started
table 109607 uploaded
169400 started
table 102088 uploaded
73114 started
table 31263 uploaded
747 started
table 89002 uploaded
62669 started
table 25841 uploaded
953 started
table 7055 uploaded
128648 started
table 3508 uploaded
168610 started
table 924 uploaded
40467 started
table 3407 uploaded
3253 started
table 104392 uploaded
26 started
table 127266 uploaded
7198 started
table 73114 uploaded
1208 started
table 4286 uploaded
109993 started
table 747 uploaded
130978 started
table 27004 uploaded
5732 started
table 82564 uploaded
5365 started
table 128648 uploaded
142386 started
table 62669 uploaded
90630 started
table 953 uploaded
6280 started
table 3253 uploaded
6205 started
table 168610 uploaded
104386 started
table 40467 uploaded
3250 started
table 169400 uploaded
5190 started
table 26 uploaded
82 started
table 7198 uploaded
90310 started
table 130978 uploaded
5664 started
table 109993 uploaded
3507 started
table 5732 uploaded
45499 started
table 5365 uploaded
96373 started
table 1208 uploaded
32525 started
table 142386 uploaded
1359 started
table 6280 uploaded
25898 started
table 104386 uploaded
56671 started
table 82 uploaded
75825 started
table 3250 uploaded
26160 started
table 90630 uploaded
70629 started
table 5190 uploaded
183589 started
table 3507 uploaded
91826 started
table 6205 uploaded
185905 started
table 45499 uploaded
127294 started
table 32525 uploaded
96952 started
table 90310 uploaded
204542 started
table 96373 uploaded
25751 started
table 5664 uploaded
111303 started
table 91826 uploaded
3983 started
table 56671 uploaded
122569 started
table 75825 uploaded
132496 started

/opt/conda/lib/python3.10/site-packages/google/cloud/bigquery/_pandas_helpers.py:603: UserWarning: Pyarrow could not determine the type of columns: tag.
  warnings.warn(

table 127294 uploaded
168326 started
table 183589 uploaded
59846 started
table 26160 uploaded
37830 started
table 70629 uploaded
3886 started

/opt/conda/lib/python3.10/site-packages/google/cloud/bigquery/_pandas_helpers.py:603: UserWarning: Pyarrow could not determine the type of columns: tag.
  warnings.warn(

table 25898 uploaded
172535 started

/opt/conda/lib/python3.10/site-packages/google/cloud/bigquery/_pandas_helpers.py:603: UserWarning: Pyarrow could not determine the type of columns: tag.
  warnings.warn(

table 96952 uploaded
2556 started

/opt/conda/lib/python3.10/site-packages/google/cloud/bigquery/_pandas_helpers.py:603: UserWarning: Pyarrow could not determine the type of columns: tag.
  warnings.warn(

table 25751 uploaded
55069 started
table 185905 uploaded
155109 started
table 204542 uploaded
6274 started
table 111303 uploaded
5556 started
table 168326 uploaded
76030 started
table 122569 uploaded
7324 started
table 3983 uploaded
152591 started
table 3886 uploaded
188175 started

/opt/conda/lib/python3.10/site-packages/google/cloud/bigquery/_pandas_helpers.py:603: UserWarning: Pyarrow could not determine the type of columns: tag.
  warnings.warn(

table 1359 uploaded
5304 started
table 132496 uploaded
88179 started
table 59846 uploaded
76873 started
table 2556 uploaded
79996 started
table 37830 uploaded
26222 started
table 172535 uploaded
187523 started
table 155109 uploaded
170781 started
table 55069 uploaded
101413 started
table 5556 uploaded
8701 started
table 76030 uploaded
3317 started
table 188175 uploaded
73868 started
table 88179 uploaded
4375 started
table 5304 uploaded
25824 started

/opt/conda/lib/python3.10/site-packages/google/cloud/bigquery/_pandas_helpers.py:603: UserWarning: Pyarrow could not determine the type of columns: tag.
  warnings.warn(

table 152591 uploaded
42679 started
table 76873 uploaded
948 started
table 7324 uploaded
95139 started
table 79996 uploaded
182713 started
table 170781 uploaded
96401 started

/opt/conda/lib/python3.10/site-packages/google/cloud/bigquery/_pandas_helpers.py:603: UserWarning: Pyarrow could not determine the type of columns: tag.
  warnings.warn(

table 101413 uploaded
4636 started
table 187523 uploaded
8427 started
table 26222 uploaded
147354 started
table 3317 uploaded
7395 started
table 8701 uploaded
1500 started
table 4375 uploaded
4498 started
table 6274 uploaded
8667 started
table 73868 uploaded
572 started
table 25824 uploaded
2402 started
table 948 uploaded
26762 started
table 182713 uploaded
6959 started
table 95139 uploaded
170425 started
table 7395 uploaded
4744 started
table 96401 uploaded
149368 started
table 1500 uploaded
52952 started
table 42679 uploaded
8121 started
table 4636 uploaded
104085 started
table 4498 uploaded
6464 started
table 8667 uploaded
3706 started
table 147354 uploaded
105801 started
table 2402 uploaded
2195 started
table 8427 uploaded
135623 started
table 6959 uploaded
251 started
table 170425 uploaded
107653 started
table 572 uploaded
5117 started
table 26762 uploaded
157338 started
table 4744 uploaded
95137 started

/opt/conda/lib/python3.10/site-packages/google/cloud/bigquery/_pandas_helpers.py:603: UserWarning: Pyarrow could not determine the type of columns: tag.
  warnings.warn(

table 52952 uploaded
57910 started
table 8121 uploaded
82926 started
table 105801 uploaded
60322 started
table 149368 uploaded
4190 started
table 3706 uploaded
7398 started
table 135623 uploaded
31689 started
table 104085 uploaded
7946 started
table 2195 uploaded
26001 started
table 5117 uploaded
27368 started
table 251 uploaded
5305 started
table 157338 uploaded
144580 started
table 6464 uploaded
135520 started
table 107653 uploaded
175791 started
table 95137 uploaded
81535 started
table 57910 uploaded
87444 started
table 4190 uploaded
141976 started
table 7398 uploaded
41721 started
table 7946 uploaded
table 82926 uploaded6981 started

127152 started
table 31689 uploaded
6787 started
table 27368 uploaded
109569 started
table 60322 uploaded
134579 started
table 144580 uploaded
85542 started
table 5305 uploaded
7061 started
table 81535 uploaded
140311 started
table 26001 uploaded
7365 started
table 175791 uploaded
3405 started
table 135520 uploaded
60128 started
table 6981 uploaded
3231 started
table 6787 uploaded
60286 started
table 141976 uploaded
116887 started
table 87444 uploaded
4996 started
table 41721 uploaded
71446 started
table 140311 uploaded
26695 started
table 7061 uploaded
111592 started
table 85542 uploaded
72039 started
table 134579 uploaded
197175 started
table 109569 uploaded
173847 started
table 127152 uploaded
1110 started

/opt/conda/lib/python3.10/site-packages/google/cloud/bigquery/_pandas_helpers.py:603: UserWarning: Pyarrow could not determine the type of columns: tag.
  warnings.warn(

table 7365 uploaded
33415 started
table 3231 uploaded
7417 started
table 3405 uploaded
113751 started
table 60128 uploaded
139317 started
table 116887 uploaded
179155 started
table 60286 uploaded
5439 started
table 71446 uploaded
6818 started
table 72039 uploaded
27706 started
table 26695 uploaded
3700 started
table 1110 uploaded
279 started
table 111592 uploaded
7894 started
table 33415 uploaded
3550 started
table 197175 uploaded
103306 started
table 7417 uploaded
133163 started
table 4996 uploaded
6996 started
table 139317 uploaded
1078 started
table 173847 uploaded
26553 started
table 179155 uploaded
165897 started
table 7894 uploaded
60857 started
table 113751 uploadedtable 3700 uploaded

6332 started162606 started

table 6818 uploaded
135266 started
table 3550 uploaded
5661 started
table 27706 uploaded
4003 started
table 133163 uploaded
174909 started
table 103306 uploaded
58379 started
table 1078 uploaded
2885 started
table 6996 uploaded
955 started
table 26553 uploaded
88495 started
table 6332 uploaded
2166 started
table 279 uploaded
4517 started
table 165897 uploaded
87264 started
table 58379 uploaded
874 started
table 5439 uploaded
161650 started
table 174909 uploaded
1497 started
table 5661 uploaded
6875 started
table 60857 uploaded
171803 started
table 162606 uploaded
121243 started
table 135266 uploaded
5461 started
table 955 uploaded
97908 started
table 4003 uploaded
1567 started
table 2885 uploaded
128604 started
table 88495 uploaded
2937 started
table 87264 uploaded
73885 started
table 2166 uploaded
26082 started
table 4517 uploaded
170423 started
table 5461 uploaded
131842 started
table 6875 uploadedtable 171803 uploaded

170241 started115130 started

table 874 uploaded
56098 started
table 97908 uploaded
26112 started
table 121243 uploaded
135625 started
table 1497 uploaded
83480 started
table 161650 uploaded
171867 started
table 1567 uploaded
72261 started
table 128604 uploaded
2626 started
table 73885 uploaded
7789 started
table 170423 uploaded
111384 started
table 56098 uploaded
8613 started
table 26082 uploaded
9011 started
table 115130 uploaded
8857 started
table 26112 uploaded
70728 started
table 135625 uploaded
27734 started
table 72261 uploaded
97390 started
table 131842 uploaded
160730 started
table 83480 uploaded
1099 started
table 2937 uploaded
47394 started
table 170241 uploaded
132381 started
table 8857 uploaded
133780 started
table 70728 uploaded
2367 started
table 111384 uploaded
73501 started
table 8613 uploaded
491 started
table 9011 uploaded
4514 started
table 27734 uploaded
7948 started
table 47394 uploaded
135823 started
table 97390 uploaded
4427 started
table 160730 uploaded
187031 started
table 7789 uploaded
155 started
table 132381 uploaded
2997 started
table 2626 uploaded
178679 started
table 1099 uploaded
34643 started
table 2367 uploaded
6469 started
table 73501 uploaded
710 started
table 491 uploaded
99992 started
table 4427 uploaded
165487 started
table 4514 uploaded
8761 started
table 133780 uploaded
3083 started
table 7948 uploaded
3404 started
table 135823 uploaded
8787 started
table 34643 uploaded
7872 started
table 710 uploaded
89118 started
table 178679 uploaded
34330 started
table 187031 uploaded
6960 started
table 155 uploaded
6300 started
table 6469 uploaded
556 started
table 99992 uploaded
3831 started
table 3083 uploaded
1869 started
table 3404 uploaded
114042 started
table 7872 uploaded
175233 started
table 89118 uploaded
6851 started

/opt/conda/lib/python3.10/site-packages/google/cloud/bigquery/_pandas_helpers.py:603: UserWarning: Pyarrow could not determine the type of columns: tag.
  warnings.warn(

table 8761 uploaded
5723 started
table 6300 uploaded
1263 started
table 2997 uploaded
87270 started
table 34330 uploaded
44881 started
table 165487 uploaded
8775 started
table 6960 uploaded
191479 started
table 556 uploaded
119432 started
table 3831 uploaded
71282 started
table 8787 uploaded
1981 started
table 6851 uploaded
1870 started
table 114042 uploaded
69712 started
table 1869 uploaded
8876 started
table 175233 uploaded
121137 started
table 87270 uploaded
27758 started
table 5723 uploaded
166492 started
table 1263 uploaded
151113 started
table 44881 uploaded
8911 started
table 171867 uploaded
172743 started
table 8775 uploaded
46337 started
table 1981 uploaded
54049 started
table 71282 uploaded
31923 started
table 119432 uploaded
140942 started
table 27758 uploaded
183915 started
table 191479 uploaded
3398 started
table 8876 uploaded
6278 started
table 69712 uploaded
5728 started
table 1870 uploaded
96079 started
table 8911 uploaded
172429 started
table 121137 uploaded
6557 started
table 151113 uploaded
94015 started
table 46337 uploaded
5187 started
table 166492 uploaded
4047 started
table 31923 uploaded
26662 started
table 54049 uploaded
4148 started
table 183915 uploaded
164200 started
table 172743 uploaded
3087 started
table 3398 uploaded
91266 started
table 140942 uploaded
65235 started
table 6557 uploaded
26710 started
table 94015 uploaded
55288 started
table 5728 uploaded
43009 started
table 6278 uploaded
452 started
table 172429 uploaded
6328 started
table 5187 uploaded
65225 started
table 4047 uploaded
104361 started
table 96079 uploaded
3476 started
table 26662 uploaded
113780 started
table 164200 uploaded
4881 started
table 65235 uploaded
233 started
table 4148 uploaded
6390 started
table 26710 uploaded
7393 started
table 3087 uploaded
5874 started
table 452 uploaded
65982 started
table 55288 uploaded
6920 started
table 3476 uploaded
1498 started
table 65225 uploaded
6719 started
table 4881 uploaded
6917 started
table 91266 uploaded
8133 started
table 7393 uploaded
137565 started
table 104361 uploaded
559 started
table 43009 uploaded
26364 started
table 113780 uploaded
167620 started
table 233 uploaded
140769 started
table 6719 uploaded
157631 started

/opt/conda/lib/python3.10/site-packages/google/cloud/bigquery/_pandas_helpers.py:603: UserWarning: Pyarrow could not determine the type of columns: tag.
  warnings.warn(

table 65982 uploaded
6304 started
table 6390 uploaded
3567 started
table 6920 uploaded
99636 started
table 5874 uploaded
4092 started
table 1498 uploaded
26675 started
table 137565 uploaded
2016 started
table 8133 uploaded
182823 started
table 6917 uploaded
94122 started
table 26364 uploaded
370 started
table 559 uploaded
378 started
table 3567 uploaded
89722 started
table 140769 uploaded
160573 started
table 157631 uploaded
table 6304 uploaded8502 started

103639 started
table 99636 uploaded
184157 started
table 26675 uploaded
3619 started
table 167620 uploaded
53352 started
table 4092 uploaded
8293 started
table 182823 uploaded
5028 started
table 2016 uploaded
64969 started
table 378 uploaded
99906 started
table 94122 uploaded
162396 started
table 3619 uploaded
74641 started
table 184157 uploaded
97715 started
table 103639 uploaded
7135 started
table 89722 uploaded
1548 started
table 370 uploaded
121279 started
table 160573 uploaded
4589 started
table 8502 uploaded
87430 started
table 53352 uploaded
116397 started
table 8293 uploaded
72852 started
table 5028 uploaded
32280 started
table 99906 uploaded
6753 started
table 64969 uploaded
59753 started
table 162396 uploaded
6373 started
table 74641 uploaded
96460 started
table 97715 uploaded
34532 started
table 1548 uploaded
111913 started
table 7135 uploaded
7064 started
table 4589 uploaded
25975 started
table 72852 uploaded
77433 started
table 116397 uploaded
8374 started
table 87430 uploaded
5559 started
table 121279 uploaded
7148 started
table 59753 uploaded
174479 started
table 6753 uploaded
104685 started
table 96460 uploaded
5405 started
table 34532 uploaded
176211 started
table 32280 uploaded
187495 started
table 6373 uploaded
51187 started
table 111913 uploaded
2424 started
table 7064 uploaded
4029 started
table 25975 uploaded
97740 started
table 5559 uploaded
433 started
table 77433 uploaded
62788 started
table 8374 uploaded
89804 started
table 174479 uploaded
115915 started

/opt/conda/lib/python3.10/site-packages/google/cloud/bigquery/_pandas_helpers.py:603: UserWarning: Pyarrow could not determine the type of columns: tag.
  warnings.warn(

table 5405 uploaded
53004 started
table 7148 uploaded
4624 started
table 104685 uploaded
117861 started
table 176211 uploaded
3223 started
table 97740 uploaded
3049 started
table 187495 uploaded
156726 started
table 433 uploaded
103984 started
table 2424 uploaded
2762 started
table 62788 uploaded
27491 started
table 51187 uploaded
26435 started
table 115915 uploaded
84532 started
table 53004 uploaded
628 started
table 89804 uploaded
150910 started

/opt/conda/lib/python3.10/site-packages/google/cloud/bigquery/_pandas_helpers.py:603: UserWarning: Pyarrow could not determine the type of columns: tag.
  warnings.warn(

table 3223 uploaded
124869 started
table 4029 uploaded
4056 started
table 117861 uploaded
6495 started
table 6328 uploaded
194312 started
table 4624 uploaded
156753 started

/opt/conda/lib/python3.10/site-packages/google/cloud/bigquery/_pandas_helpers.py:603: UserWarning: Pyarrow could not determine the type of columns: tag.
  warnings.warn(

table 27491 uploaded
52784 started
table 84532 uploaded
5034 started
table 2762 uploaded
163569 started
table 156726 uploaded
81182 started
table 103984 uploaded
8618 started
table 3049 uploaded
98122 started
table 26435 uploaded
2132 started
table 150910 uploaded
133653 started
table 628 uploaded
6348 started
table 194312 uploaded
2309 started
table 156753 uploaded
31445 started
table 8618 uploaded
8643 started
table 52784 uploaded
179827 started
table 124869 uploaded
50796 started
table 4056 uploaded
83222 started
table 5034 uploaded
7101 started
table 6495 uploaded
48198 startedtable 2132 uploaded

1991 started
table 98122 uploaded
92309 started
table 163569 uploaded
68959 started
table 6348 uploaded
49205 started
table 8643 uploaded
5487 started
table 31445 uploaded
168366 started
table 7101 uploaded
27050 started
table 83222 uploaded
117877 started
table 133653 uploaded
134601 started
table 179827 uploaded
100529 started
table 50796 uploaded
62250 started
table 2309 uploaded
76823 started
table 1991 uploaded
76811 started
table 68959 uploaded
172763 started
table 5487 uploaded
109941 started
table 92309 uploaded
118105 started
table 27050 uploaded
195255 started
table 62250 uploaded
117466 started
table 168366 uploaded
126088 started
table 134601 uploaded
183419 started
table 100529 uploaded
141692 started
table 76823 uploaded
120392 started
table 172763 uploaded
157312 started
table 48198 uploaded
53835 started
table 49205 uploaded
48385 started
table 81182 uploaded
5505 started
table 117466 uploaded
3371 started
table 109941 uploaded
4682 started
table 141692 uploaded
80717 started
table 195255 uploaded
2620 started
table 183419 uploaded
2046 started
table 76811 uploaded
71444 started
table 120392 uploaded
2072 started
table 126088 uploaded
6695 started
table 53835 uploaded
132058 started

/opt/conda/lib/python3.10/site-packages/google/cloud/bigquery/_pandas_helpers.py:603: UserWarning: Pyarrow could not determine the type of columns: tag.
  warnings.warn(

table 157312 uploaded
5428 started
table 3371 uploaded
89846 started
table 4682 uploaded
80551 started
table 118105 uploaded
1389 started
table 2620 uploaded
564 started
table 48385 uploaded
3328 started
table 6695 uploaded
4612 started
table 2046 uploaded
76210 started
table 2072 uploaded
77843 started
table 5505 uploaded
5441 started
table 80717 uploaded
6408 started

/opt/conda/lib/python3.10/site-packages/google/cloud/bigquery/_pandas_helpers.py:603: UserWarning: Pyarrow could not determine the type of columns: tag.
  warnings.warn(

table 5428 uploaded
1127 started
table 71444 uploaded
4803 started
table 89846 uploaded
164983 started
table 132058 uploaded
39896 started
table 80551 uploaded
31420 started
table 1389 uploaded
6864 started
table 6408 uploaded
89047 started
table 4612 uploaded
6624 started
table 4803 uploaded
6528 started
table 164983 uploaded
89208 started
table 3328 uploaded
5799 started
table 39896 uploaded
118696 started
table 564 uploaded
7369 started
table 77843 uploaded
173627 started
table 5441 uploaded
185977 started
table 1127 uploaded
48231 started
table 76210 uploaded
58293 started
table 31420 uploaded
6771 started
table 89047 uploaded
26422 started
table 118696 uploaded
61994 started
table 6624 uploaded
6610 started
table 6528 uploaded
142110 started
table 89208 uploaded
67098 started
table 173627 uploaded
26744 started
table 48231 uploaded
4511 started
table 6771 uploaded
26861 started
table 5799 uploaded
170393 started
table 7369 uploaded
170605 started
table 185977 uploaded
2957 started
table 26422 uploaded
54020 started
table 61994 uploaded
4496 started
table 6610 uploaded
70682 started
table 58293 uploaded
136798 started
table 4511 uploaded
3566 started
table 142110 uploaded
200354 started
table 67098 uploaded
4070 started
table 170605 uploaded
5515 started
table 54020 uploaded
103105 started
table 26744 uploaded
33148 started
table 2957 uploaded
4218 started
table 170393 uploaded
59180 started
table 26861 uploaded
5090 started
table 3566 uploaded
26465 started
table 4496 uploaded
8908 started
table 200354 uploaded
7459 started
table 136798 uploaded
200814 started
table 70682 uploaded
2679 started
table 5515 uploaded
49422 started
table 117877 uploaded
147246 started
table 103105 uploaded
3185 started
table 6864 uploaded
5224 started
table 4070 uploaded
113889 started
table 33148 uploaded
118710 started
table 59180 uploaded
93040 started
table 5090 uploaded
111373 started
table 8908 uploaded
58309 started
table 26465 uploaded
table 4218 uploaded165647 started
127323 started

table 7459 uploaded
215 started
table 200814 uploaded
47150 started
table 5224 uploaded
74111 started
table 49422 uploaded
32917 started
table 113889 uploaded
139148 started
table 118710 uploaded
3220 started
table 3185 uploaded
8011 started
table 147246 uploaded
6906 started
table 111373 uploaded
71484 started
table 2679 uploaded
87483 started
table 74111 uploaded
27268 started
table 215 uploaded
5317 started
table 58309 uploaded
481 started
table 47150 uploaded
2021 started
table 93040 uploaded
164411 started
table 8011 uploaded
27608 started
table 165647 uploaded
53548 started
table 127323 uploaded
91842 started
table 6906 uploadedtable 139148 uploaded

8854 started56797 started

table 32917 uploaded
76169 started
table 71484 uploaded
60030 started
table 87483 uploaded
2857 started
table 3220 uploaded
3727 started
table 27268 uploaded
160678 started
table 481 uploaded
8035 started
table 5317 uploaded
202711 started
table 164411 uploaded
74475 started
table 2021 uploaded
144982 started
table 91842 uploaded
4680 started
table 8854 uploaded
189991 started
table 2857 uploaded
170127 started
table 3727 uploaded
166765 started

/opt/conda/lib/python3.10/site-packages/google/cloud/bigquery/_pandas_helpers.py:603: UserWarning: Pyarrow could not determine the type of columns: tag.
  warnings.warn(

table 56797 uploaded
8530 started
table 60030 uploaded
302 started
table 202711 uploaded
5178 started
table 160678 uploaded
82906 started
table 144982 uploaded
27005 started
table 27608 uploaded
4886 started
table 76169 uploaded
47146 started
table 8035 uploaded
102514 started

/opt/conda/lib/python3.10/site-packages/google/cloud/bigquery/_pandas_helpers.py:603: UserWarning: Pyarrow could not determine the type of columns: tag.
  warnings.warn(

table 74475 uploaded
40617 started
table 170127 uploaded
4856 started
table 8530 uploaded
5819 started
table 189991 uploaded
63836 started
table 166765 uploaded
5135 started
table 302 uploaded
139 started
table 4680 uploaded
110387 started
table 47146 uploaded
137278 started

/opt/conda/lib/python3.10/site-packages/google/cloud/bigquery/_pandas_helpers.py:603: UserWarning: Pyarrow could not determine the type of columns: tag.
  warnings.warn(

table 27005 uploaded
61123 started
table 4886 uploaded
128922 started

/opt/conda/lib/python3.10/site-packages/google/cloud/bigquery/_pandas_helpers.py:603: UserWarning: Pyarrow could not determine the type of columns: tag.
  warnings.warn(

table 102514 uploaded
82143 started
table 5178 uploaded
1414 started
table 40617 uploaded
159451 started
table 82906 uploaded
3713 started
table 63836 uploaded
5438 started
table 137278 uploaded
115947 started
table 5819 uploaded
27812 startedtable 139 uploaded

8610 started
table 61123 uploaded
4938 started
table 110387 uploaded
49615 started
table 1414 uploaded
4853 started
table 128922 uploaded
6266 started
table 4856 uploaded
6519 started
table 5135 uploaded
27432 started
table 159451 uploaded
47978 started
table 82143 uploaded
35015 started
table 3713 uploaded
3339 started
table 115947 uploaded
1888 started
table 5438 uploaded
31195 started
table 4853 uploaded
8718 started
table 4938 uploaded
6554 started
table 49615 uploaded
162596 started
table 27812 uploaded
70451 started
table 35015 uploaded
81020 started
table 6519 uploaded
7758 started
table 8610 uploaded
36539 started
table 47978 uploaded
363 started
table 53548 uploaded
122104 started
table 6266 uploaded
68915 started
table 3339 uploaded
5347 started
table 1888 uploaded
46613 started
table 27432 uploaded
118246 started
table 6554 uploaded
27518 started
table 36539 uploaded
3391 started
table 162596 uploaded
184119 startedtable 8718 uploaded

125970 started
table 122104 uploaded
153648 started
table 68915 uploaded
7166 started
table 70451 uploaded
4063 started
table 81020 uploaded
5312 started
table 118246 uploaded
96857 started
table 46613 uploaded
2820 started
table 5347 uploaded
5398 started
table 3391 uploaded
26095 started
table 184119 uploaded
355 started
table 7166 uploaded
74685 started
table 27518 uploaded
6814 started
table 4063 uploaded
2480 started
table 363 uploaded
3119 started
table 96857 uploaded
69284 started
table 125970 uploaded
5726 started
table 153648 uploaded
71472 started
table 2820 uploaded
140807 started

/opt/conda/lib/python3.10/site-packages/google/cloud/bigquery/_pandas_helpers.py:603: UserWarning: Pyarrow could not determine the type of columns: tag.
  warnings.warn(

table 5398 uploaded
4300 started
table 26095 uploadedtable 5312 uploaded

32179 started26613 started

table 69284 uploaded
161171 started
table 74685 uploaded
8836 started
table 71472 uploaded
1169 started
table 3119 uploaded
84156 started
table 5726 uploaded
3016 started
table 355 uploaded
4354 started
table 6814 uploaded
8372 started
table 2480 uploaded
157326 started
table 4300 uploaded
6470 started
table 32179 uploaded
2719 started
table 140807 uploaded
27765 started
table 7758 uploaded
134621 started
table 26613 uploaded
82360 started
table 3016 uploaded
147033 started
table 161171 uploaded
199237 started
table 1169 uploaded
2884 started

/opt/conda/lib/python3.10/site-packages/google/cloud/bigquery/_pandas_helpers.py:603: UserWarning: Pyarrow could not determine the type of columns: tag.
  warnings.warn(

table 84156 uploaded
640 started
table 8372 uploaded
94352 started
table 134621 uploaded
51834 started
table 8836 uploaded
50158 started
table 157326 uploaded
27305 started
table 2719 uploaded
2056 started
table 6470 uploaded
4661 started
table 82360 uploaded
32347 started
table 27765 uploaded
169982 started
table 147033 uploaded
78130 started
table 199237 uploaded
178667 started
table 94352 uploaded
45442 started
table 4354 uploaded
63113 started
table 2884 uploaded
71640 started
table 51834 uploaded
33669 started
table 50158 uploaded
25930 started
table 640 uploaded
142691 started
table 2056 uploaded
72899 started
table 4661 uploaded
1515 started
table 32347 uploaded
3805 started
table 27305 uploaded
83059 started
table 78130 uploaded
102557 started
table 45442 uploaded
56167 started
table 25930 uploaded
6290 started
table 71640 uploaded
8789 started
table 142691 uploaded
7154 started
table 169982 uploaded
103017 started
table 178667 uploaded
7126 started
table 63113 uploaded
2534 started
table 33669 uploaded
34523 started
table 72899 uploaded
26125 started
table 3805 uploaded
26432 started
table 1515 uploaded
3568 started
table 6290 uploaded
1531 started

/opt/conda/lib/python3.10/site-packages/google/cloud/bigquery/_pandas_helpers.py:603: UserWarning: Pyarrow could not determine the type of columns: tag.
  warnings.warn(

table 102557 uploaded
71033 started
table 103017 uploaded
83577 started
table 8789 uploaded
5338 started
table 7154 uploaded
1857 started
table 56167 uploaded
47634 started
table 2534 uploaded
368 started
table 7126 uploaded
52845 started

/opt/conda/lib/python3.10/site-packages/google/cloud/bigquery/_pandas_helpers.py:603: UserWarning: Pyarrow could not determine the type of columns: tag.
  warnings.warn(

table 26432 uploaded
2886 started
table 34523 uploaded
58381 started
table 3568 uploaded
99217 started
table 83059 uploaded
155285 started
table 71033 uploaded
138416 started

/opt/conda/lib/python3.10/site-packages/google/cloud/bigquery/_pandas_helpers.py:603: UserWarning: Pyarrow could not determine the type of columns: tag.
  warnings.warn(

table 5338 uploaded
121023 started
table 1531 uploaded
36152 started
table 368 uploaded
172819 started

/opt/conda/lib/python3.10/site-packages/google/cloud/bigquery/_pandas_helpers.py:603: UserWarning: Pyarrow could not determine the type of columns: tag.
  warnings.warn(

table 26125 uploaded
91888 started
table 1857 uploaded
1485 started
table 58381 uploaded
6964 started
table 2886 uploaded
5382 started
table 83577 uploaded
2908 started
table 47634 uploaded
165699 started
table 99217 uploaded
136251 started
table 138416 uploaded
2045 started
table 52845 uploaded
201594 started
table 155285 uploaded
74438 started
table 121023 uploaded
69792 started
table 36152 uploaded
157276 started
table 5382 uploaded
205545 started
table 6964 uploaded
94985 started
table 2908 uploaded
50347 started
table 201594 uploaded
98193 started
table 74438 uploaded
190979 started
table 2045 uploaded
7361 started
table 165699 uploaded
7791 started
table 69792 uploaded
3174 started
table 172819 uploaded
6140 started
table 91888 uploaded
139521 started
table 205545 uploaded
189567 started
table 136251 uploaded
62803 started
table 157276 uploaded
143713 started
table 98193 uploaded
8926 started
table 190979 uploaded
2418 started
table 50347 uploaded
58743 started
table 6140 uploaded
4252 started
table 94985 uploaded
120132 started
table 31195 uploaded
31079 started
table 7361 uploaded
102286 started
table 3174 uploaded
146327 started
table 139521 uploaded
125874 started
table 2418 uploaded
83923 started
table 189567 uploaded
3179 started
table 7791 uploaded
5747 started
table 62803 uploaded
26122 started
table 58743 uploaded
165141 started
table 1485 uploaded
341 started
table 31079 uploaded
table 4252 uploaded5085 started

7394 started
table 143713 uploaded
7621 started
table 102286 uploaded
87316 started

/opt/conda/lib/python3.10/site-packages/google/cloud/bigquery/_pandas_helpers.py:603: UserWarning: Pyarrow could not determine the type of columns: tag.
  warnings.warn(

table 8926 uploaded
54612 started
table 120132 uploaded
83807 started
table 26122 uploaded
101362 started
table 5747 uploaded
6308 started
table 146327 uploaded
97423 started
table 83923 uploaded
98126 started
table 3179 uploaded
227 started
table 165141 uploaded
56779 started
table 7621 uploaded
8142 started
table 5085 uploaded
159 started
table 54612 uploaded
6375 started
table 125874 uploaded
3640 started
table 7394 uploaded
62115 started
table 87316 uploaded
7043 started
table 341 uploaded
155509 started
table 98126 uploaded
48791 started
table 6308 uploaded
40946 started
table 97423 uploaded
3551 started
table 101362 uploaded
43897 started
table 227 uploaded
101969 started
table 159 uploaded
131453 started
table 6375 uploaded
127110 started
table 56779 uploaded
32452 started
table 83807 uploaded
110553 started
table 62115 uploaded
79545 started
table 3551 uploaded
27792 started
table 43897 uploaded
70032 started
table 48791 uploaded
108156 started
table 3640 uploaded
48093 started
table 7043 uploaded
165503 started
table 155509 uploaded
2453 started
table 8142 uploaded
122910 started
table 40946 uploaded
61862 started
table 101969 uploaded
89043 started

/opt/conda/lib/python3.10/site-packages/google/cloud/bigquery/_pandas_helpers.py:603: UserWarning: Pyarrow could not determine the type of columns: tag.
  warnings.warn(

table 79545 uploaded
155501 started
table 32452 uploaded
825 started
table 27792 uploaded
5810 started
table 131453 uploaded
442 started
table 110553 uploaded
1933 started
table 108156 uploaded
69626 started
table 70032 uploaded
90821 started
table 2453 uploaded
94412 started
table 165503 uploaded
113374 started
table 48093 uploaded
4506 started
table 155501 uploaded
662 started
table 122910 uploaded
52237 started
table 61862 uploaded
3113 started
table 89043 uploaded
71867 started
table 127110 uploaded
109848 started
table 825 uploaded
6163 started
table 442 uploaded
5285 started

/opt/conda/lib/python3.10/site-packages/google/cloud/bigquery/_pandas_helpers.py:603: UserWarning: Pyarrow could not determine the type of columns: tag.
  warnings.warn(

table 1933 uploaded
172437 started
table 69626 uploaded
194556 started
table 5810 uploaded
162594 started
table 90821 uploaded
2478 started
table 94412 uploaded
26939 started
table 113374 uploaded
8448 started
table 4506 uploaded
132989 started
table 662 uploaded
196 started
table 6163 uploaded
69075 started
table 71867 uploaded
120845 started

/opt/conda/lib/python3.10/site-packages/google/cloud/bigquery/_pandas_helpers.py:603: UserWarning: Pyarrow could not determine the type of columns: tag.
  warnings.warn(

table 5285 uploaded
2544 started
table 109848 uploaded
1352 started
table 52237 uploadedtable 172437 uploaded

7942 started
7116 started
table 2478 uploaded
96700 started
table 194556 uploaded
128868 started
table 3113 uploaded
2560 started
table 162594 uploaded
4588 started
table 26939 uploaded
751 started
table 196 uploaded
5497 started
table 132989 uploaded
70533 started
table 120845 uploaded
5924 started
table 69075 uploaded
105620 started
table 8448 uploaded
6499 started
table 2544 uploaded
8751 started
table 96700 uploaded
136349 started

/opt/conda/lib/python3.10/site-packages/google/cloud/bigquery/_pandas_helpers.py:603: UserWarning: Pyarrow could not determine the type of columns: tag.
  warnings.warn(

table 7942 uploaded
6615 started
table 2560 uploaded
105 started
table 4588 uploaded
3947 started
table 128868 uploaded
78898 started
table 70533 uploaded
101018 started
table 1352 uploaded
127042 started
table 7116 uploaded
5303 started
table 5497 uploaded
7259 started
table 105620 uploaded
7231 started
table 5924 uploaded
27742 started
table 751 uploaded
5656 started

/opt/conda/lib/python3.10/site-packages/google/cloud/bigquery/_pandas_helpers.py:603: UserWarning: Pyarrow could not determine the type of columns: tag.
  warnings.warn(

table 8751 uploaded
196067 started
table 105 uploaded
3217 started
table 6499 uploaded
26612 started
table 136349 uploaded
544 started
table 6615 uploaded
206845 started
table 78898 uploaded
3035 started
table 127042 uploaded
82850 started
table 5303 uploaded
115963 started
table 27742 uploaded
32469 started
table 7259 uploaded
2947 started
table 5656 uploaded
174181 started
table 196067 uploaded
4802 started

/opt/conda/lib/python3.10/site-packages/google/cloud/bigquery/_pandas_helpers.py:603: UserWarning: Pyarrow could not determine the type of columns: tag.
  warnings.warn(

table 3947 uploaded
25881 started
table 544 uploaded
86668 started
table 3217 uploaded
39410 started
table 7231 uploaded
58223 started
table 101018 uploaded
132561 started
table 206845 uploadedtable 82850 uploaded

95067 started193451 started

table 115963 uploaded
85133 started
table 3035 uploaded
1250 started
table 26612 uploaded
6046 started
table 32469 uploaded
7637 started
table 2947 uploaded
176935 started
table 39410 uploaded
66659 started
table 132561 uploaded
26371 started
table 86668 uploaded
70432 started
table 193451 uploaded
128908 started
table 58223 uploaded
2317 started

/opt/conda/lib/python3.10/site-packages/google/cloud/bigquery/_pandas_helpers.py:603: UserWarning: Pyarrow could not determine the type of columns: tag.
  warnings.warn(

table 4802 uploaded
3809 started
table 1250 uploaded
64197 started
table 6046 uploaded
133545 started
table 95067 uploaded
42094 started
table 7637 uploaded
45186 started
table 25881 uploaded
141408 started
table 174181 uploaded
80191 started
table 26371 uploaded
8017 started
table 66659 uploaded
1876 started
table 128908 uploaded
157835 started
table 64197 uploaded
108727 started
table 176935 uploaded
56152 started
table 133545 uploaded
50740 started
table 3809 uploaded
5511 started
table 70432 uploaded
5787 started
table 85133 uploaded
68952 started
table 42094 uploaded
110134 started
table 2317 uploaded
6425 started
table 80191 uploaded
50005 started
table 45186 uploaded
54176 started
table 8017 uploaded
1084 started
table 141408 uploaded
54519 started
table 50740 uploaded
57480 started
table 56152 uploaded
4894 started
table 5511 uploaded
8123 started
table 108727 uploaded
144502 started
table 68952 uploaded
90753 started
table 157835 uploaded
164395 started
table 110134 uploaded
131258 started
table 5787 uploaded
110730 started
table 6425 uploaded
8616 started
table 1876 uploaded
94299 started
table 54176 uploaded
46627 started
table 54519 uploaded
65130 started
table 1084 uploaded
319 started
table 57480 uploaded
4198 started
table 4894 uploaded
164606 started
table 90753 uploaded
31617 started
table 8123 uploaded
4272 started
table 164395 uploaded
52975 started
table 110730 uploaded
197709 started
table 50005 uploaded
2205 started
table 65130 uploaded
3600 started
table 8616 uploaded
5333 started
table 94299 uploaded
127136 started
table 144502 uploaded
7916 started
table 319 uploaded
150194 started
table 131258 uploaded
1387 started
table 46627 uploaded
158159 started
table 4198 uploaded
1260 started
table 4272 uploaded
108488 started
table 164606 uploaded
45508 started
table 197709 uploaded
131448 started
table 52975 uploaded
4922 started
table 5333 uploaded
97722 started

/opt/conda/lib/python3.10/site-packages/google/cloud/bigquery/_pandas_helpers.py:603: UserWarning: Pyarrow could not determine the type of columns: tag.
  warnings.warn(

table 3600 uploaded
96588 started
table 2205 uploaded
1466 started
table 150194 uploaded
169288 started
table 127136 uploaded
7026 started
table 1387 uploaded
32598 started
table 31617 uploaded
36397 started
table 7916 uploaded
3743 started
table 158159 uploaded
56511 started
table 45508 uploaded
1179 started
table 108488 uploaded
6586 started
table 1260 uploaded
3066 started
table 131448 uploaded
70724 started
table 4922 uploaded
115879 started
table 97722 uploaded
82053 started
table 169288 uploaded
86898 started
table 32598 uploaded
4310 started
table 1466 uploaded
127120 started
table 96588 uploaded
3850 started
table 6586 uploaded
681 started
table 1179 uploaded
84304 started
table 3066 uploaded
87232 started
table 82053 uploaded
27309 started
table 115879 uploaded
71433 started
table 36397 uploaded
195349 started
table 56511 uploaded
78729 started
table 70724 uploaded
43930 started
table 7026 uploaded
34332 started
table 4310 uploaded
71755 started
table 3743 uploaded
61253 started
table 86898 uploaded
187127 started
table 681 uploaded
7647 started
table 3850 uploaded
174371 started
table 127120 uploaded
5240 started
table 27309 uploaded
5278 started
table 195349 uploaded
136369 started
table 84304 uploaded
6438 started
table 87232 uploaded
42728 started
table 43930 uploaded
80141 started
table 78729 uploaded
4671 started
table 34332 uploaded
114601 started
table 7647 uploaded
7930 started
table 71755 uploaded
4408 started
table 71433 uploaded
114342 started
table 61253 uploaded
6618 started
table 187127 uploaded
2149 started
table 5278 uploaded
56171 started
table 6438 uploaded
72733 started
table 136369 uploaded
table 5240 uploaded132660 started

31594 started
table 80141 uploaded
141520 started

/opt/conda/lib/python3.10/site-packages/google/cloud/bigquery/_pandas_helpers.py:603: UserWarning: Pyarrow could not determine the type of columns: tag.
  warnings.warn(

table 42728 uploaded
2375 started
table 4671 uploaded
148054 started
table 4408 uploaded
75 started
table 7930 uploaded
1975 started
table 56171 uploaded
4357 started
table 114601 uploaded
7228 started
table 2149 uploaded
67839 started
table 6618 uploaded
4836 started
table 72733 uploaded
69027 started
table 31594 uploaded
table 114342 uploaded87435 started

6709 started

/opt/conda/lib/python3.10/site-packages/google/cloud/bigquery/_pandas_helpers.py:603: UserWarning: Pyarrow could not determine the type of columns: tag.
  warnings.warn(

table 148054 uploaded
68522 started
table 75 uploaded
1055 started
table 1975 uploaded
99487 started

/opt/conda/lib/python3.10/site-packages/google/cloud/bigquery/_pandas_helpers.py:603: UserWarning: Pyarrow could not determine the type of columns: tag.
  warnings.warn(

table 2375 uploaded
51174 started
table 141520 uploaded
166777 started
table 132660 uploaded
63082 started
table 67839 uploaded
78620 started
table 4836 uploaded
142056 started
table 7228 uploaded
8503 started
table 4357 uploaded
868 started
table 68522 uploaded
6467 started
table 6709 uploaded
6150 started
table 87435 uploaded
105731 started
table 63082 uploaded
72011 started
table 51174 uploaded
4136 started
table 1055 uploaded
62198 started
table 69027 uploaded
122343 started
table 166777 uploaded
73614 started
table 99487 uploaded
2509 started
table 868 uploaded
6086 started
table 8503 uploaded
69552 started
table 6150 uploaded
192001 started
table 78620 uploaded
1602 started
table 6467 uploaded
66808 started
table 72011 uploaded
2634 started
table 105731 uploaded
142384 started
table 142056 uploaded
5553 started
table 122343 uploaded
178735 started

/opt/conda/lib/python3.10/site-packages/google/cloud/bigquery/_pandas_helpers.py:603: UserWarning: Pyarrow could not determine the type of columns: tag.
  warnings.warn(

table 4136 uploaded
6616 started
table 73614 uploaded
4545 started
table 2509 uploaded
109742 started
table 62198 uploaded
74706 started
table 6086 uploaded
183613 started
table 192001 uploaded
1520 started
table 69552 uploaded
128852 started
table 1602 uploaded
61678 started
table 2634 uploaded
80026 started
table 142384 uploaded
130482 started
table 74706 uploaded
42723 started
table 4545 uploaded
3705 started
table 6616 uploaded
126 started
table 5553 uploaded
821 started

/opt/conda/lib/python3.10/site-packages/google/cloud/bigquery/_pandas_helpers.py:603: UserWarning: Pyarrow could not determine the type of columns: tag.
  warnings.warn(

table 80026 uploaded
2517 started
table 66808 uploaded
172877 started
table 183613 uploaded
4611 started
table 61678 uploaded
3038 started
table 128852 uploaded
3954 started
table 178735 uploaded
1313 started
table 109742 uploaded
6172 started
table 130482 uploaded
112087 started
table 1520 uploaded
106438 started
table 42723 uploaded
101973 started
table 821 uploaded
26294 started
table 3705 uploaded
69466 started
table 2517 uploaded
60405 started
table 3038 uploaded
58975 started
table 126 uploaded
55469 started
table 3954 uploaded
7456 started
table 4611 uploaded
7337 started
table 172877 uploaded
78186 started
table 174371 uploaded
2995 started
table 6172 uploaded
6892 started
table 112087 uploaded
193065 started
table 1313 uploaded
26068 started
table 106438 uploaded
4254 started
table 101973 uploaded
106881 started
table 55469 uploaded
6949 started
table 26294 uploaded
168962 started

/opt/conda/lib/python3.10/site-packages/google/cloud/bigquery/_pandas_helpers.py:603: UserWarning: Pyarrow could not determine the type of columns: tag.
  warnings.warn(

table 60405 uploaded
94752 started
table 69466 uploaded
4422 started
table 7337 uploaded
86559 started
table 6892 uploaded
26324 started
table 2995 uploaded
107684 started
table 78186 uploaded
152254 started

/opt/conda/lib/python3.10/site-packages/google/cloud/bigquery/_pandas_helpers.py:603: UserWarning: Pyarrow could not determine the type of columns: tag.
  warnings.warn(

table 7456 uploaded
91976 started
table 58975 uploaded
139417 started
table 193065 uploaded
63446 started
table 26068 uploaded
4735 started
table 4254 uploaded
3454 started
table 106881 uploaded
57027 started
table 6949 uploaded
4712 started
table 4422 uploaded
4543 started
table 168962 uploaded
5647 started

/opt/conda/lib/python3.10/site-packages/google/cloud/bigquery/_pandas_helpers.py:603: UserWarning: Pyarrow could not determine the type of columns: tag.
  warnings.warn(

table 86559 uploaded
73049 started
table 26324 uploaded
68319 started
table 94752 uploaded
89377 started
table 91976 uploaded
6805 started
table 63446 uploaded
52913 started
table 139417 uploaded
6835 started
table 107684 uploaded
92420 started
table 57027 uploaded
118570 started
table 3454 uploaded
202439 started
table 4543 uploaded
170263 started
table 4735 uploaded
2267 started
table 5647 uploaded
7222 started
table 4712 uploaded
1459 started
table 152254 uploaded
27298 started
table 89377 uploaded
68874 started
table 73049 uploaded
8709 started
table 68319 uploaded
60825 started
table 6805 uploaded
89997 started
table 6835 uploaded
68159 started
table 202439 uploaded
845 started
table 92420 uploaded
170297 started
table 52913 uploaded
100611 started
table 2267 uploaded
74946 started
table 118570 uploaded
4704 started
table 170263 uploaded
116947 started
table 8709 uploaded
133155 started
table 7222 uploaded
55261 started
table 89997 uploaded
7541 started
table 68874 uploaded
173369 started
table 1459 uploaded
339 started
table 27298 uploaded
7719 started
table 68159 uploaded
74545 started
table 845 uploaded
4688 started
table 74946 uploaded
148426 started
table 170297 uploaded
66203 started
table 100611 uploaded
4028 started
table 116947 uploaded
5223 started

/opt/conda/lib/python3.10/site-packages/google/cloud/bigquery/_pandas_helpers.py:603: UserWarning: Pyarrow could not determine the type of columns: tag.
  warnings.warn(

table 4704 uploaded
61361 started
table 133155 uploaded
2733 started
table 55261 uploaded
3497 started
table 60825 uploaded
130452 started
table 173369 uploaded
8452 started
table 7541 uploaded
3213 started
table 74545 uploaded
2941 started
table 339 uploaded
96629 started
table 66203 uploaded
790 started
table 148426 uploaded
8092 started
table 7719 uploaded
164387 started
table 61361 uploaded
143069 started

/opt/conda/lib/python3.10/site-packages/google/cloud/bigquery/_pandas_helpers.py:603: UserWarning: Pyarrow could not determine the type of columns: tag.
  warnings.warn(

table 2733 uploaded
4336 started
table 5223 uploaded
126510 started
table 3497 uploaded
519 started
table 130452 uploaded
7152 started
table 4028 uploaded
52319 started
table 4688 uploaded
77330 started
table 2941 uploaded
7121 started
table 96629 uploaded
56176 started
table 8452 uploaded
2504 started
table 4336 uploaded
96964 started
table 8092 uploaded
779 started
table 143069 uploaded
179821 started
table 126510 uploaded
33615 started
table 3213 uploaded
1920 started
table 519 uploaded
1968 started
table 164387 uploaded
139130 started
table 7152 uploaded
192357 started
table 790 uploaded
52037 started
table 7121 uploaded
3110 started
table 77330 uploaded
197379 started
table 33615 uploaded
6439 started
table 179821 uploaded
105213 started
table 52319 uploaded
4840 started
table 779 uploaded
141928 started
table 96964 uploaded
57 started
table 2504 uploaded
103561 started
table 56176 uploaded
1009 started
table 1968 uploaded
5495 started
table 1920 uploaded
49037 started
table 139130 uploaded
71182 started
table 6439 uploaded
26176 started
table 197379 uploaded
997 started
table 192357 uploaded
68667 started
table 52037 uploaded
866 started
table 141928 uploaded
71670 started
table 105213 uploaded
1969 started
table 103561 uploaded
176937 started
table 1009 uploaded
148062 started
table 3110 uploaded
26394 started
table 4840 uploaded
4560 started
table 71182 uploaded
41 started
table 26176 uploaded
7218 started
table 57 uploaded
26495 started
table 5495 uploaded
1234 started
table 49037 uploaded
5434 started
table 1969 uploaded
125996 started

/opt/conda/lib/python3.10/site-packages/google/cloud/bigquery/_pandas_helpers.py:603: UserWarning: Pyarrow could not determine the type of columns: tag.
  warnings.warn(

table 997 uploaded
32162 started
table 176937 uploaded
6382 started
table 68667 uploaded
134368 started
table 866 uploaded
202934 started
table 7218 uploaded
673 started
table 26394 uploaded
101170 started
table 4560 uploaded
97665 started
table 148062 uploaded
81784 started

/opt/conda/lib/python3.10/site-packages/google/cloud/bigquery/_pandas_helpers.py:603: UserWarning: Pyarrow could not determine the type of columns: tag.
  warnings.warn(

table 71670 uploaded
55255 started
table 26495 uploaded
6245 started
table 32162 uploaded
8127 started
table 5434 uploaded
110603 started
table 41 uploaded
55908 started
table 6382 uploaded
8780 started
table 1234 uploaded
4914 started
table 134368 uploaded
6730 started
table 202934 uploaded
71821 started

/opt/conda/lib/python3.10/site-packages/google/cloud/bigquery/_pandas_helpers.py:603: UserWarning: Pyarrow could not determine the type of columns: tag.
  warnings.warn(

table 673 uploaded
181217 started
table 125996 uploaded
79519 started
table 81784 uploaded
171013 started
table 8127 uploaded
26628 started
table 55255 uploaded
8732 started
table 6245 uploaded
8240 started
table 97665 uploaded
33294 started
table 55908 uploaded
8633 started
table 101170 uploaded
5129 started

/opt/conda/lib/python3.10/site-packages/google/cloud/bigquery/_pandas_helpers.py:603: UserWarning: Pyarrow could not determine the type of columns: tag.
  warnings.warn(

table 181217 uploaded
1495 started
table 79519 uploaded
93024 started
table 6730 uploaded
80969 started
table 110603 uploaded
151707 started
table 71821 uploaded
66934 started
table 171013 uploaded
3703 started
table 26628 uploaded
2379 started
table 5129 uploaded
6643 started
table 4914 uploaded
90933 started
table 8780 uploaded
4459 started
table 33294 uploaded
8739 started
table 8732 uploaded
8820 started
table 1495 uploaded
26241 started
table 80969 uploaded
65772 started
table 8240 uploaded
592 started
table 151707 uploaded
5860 started
table 8633 uploaded
4623 started
table 2379 uploaded
60311 started
table 3703 uploaded
96150 started
table 6643 uploaded
68175 started
table 4459 uploaded
163965 started
table 66934 uploaded
5185 started
table 90933 uploaded
52694 started
table 8739 uploaded
907 started
table 93024 uploaded
6911 started
table 26241 uploaded
151639 started
table 592 uploaded
73051 started
table 8820 uploaded
143345 started
table 4623 uploaded
171647 started
table 5860 uploaded
93982 started
table 60311 uploaded
74754 started
table 96150 uploaded
1502 started
table 163965 uploaded
4760 started
table 907 uploaded
3101 started
table 65772 uploaded
44041 started
table 52694 uploaded
7933 started
table 6911 uploaded
3929 started
table 68175 uploaded
128169 started

/opt/conda/lib/python3.10/site-packages/google/cloud/bigquery/_pandas_helpers.py:603: UserWarning: Pyarrow could not determine the type of columns: tag.
  warnings.warn(

table 151639 uploaded
2067 started
table 5185 uploaded
142 started

/opt/conda/lib/python3.10/site-packages/google/cloud/bigquery/_pandas_helpers.py:603: UserWarning: Pyarrow could not determine the type of columns: tag.
  warnings.warn(

table 74754 uploaded
4355 started
table 171647 uploaded
148372 started
table 1502 uploaded
1039 started
table 143345 uploaded
104272 started
table 4760 uploaded
71535 started
table 7933 uploaded
8666 started
table 73051 uploaded
3511 started
table 128169 uploaded
49973 started
table 44041 uploaded
25819 started
table 142 uploaded
3933 started
table 3101 uploaded
462 started
table 3929 uploaded
2660 started
table 2067 uploaded
4007 started
table 4355 uploaded
46664 startedtable 71535 uploaded

539 started
table 104272 uploaded
2204 started
table 8666 uploaded
71691 started
table 3933 uploaded
4919 started
table 49973 uploaded
6279 started
table 1039 uploaded
66246 started
table 2660 uploaded
172461 started
table 25819 uploaded
69222 started
table 4007 uploaded
119670 started
table 148372 uploaded
3722 started
table 539 uploaded
51925 started
table 46664 uploaded
5118 started
table 93982 uploaded
133333 started
table 462 uploaded
1335 started
table 2204 uploaded
107359 started
table 71691 uploaded
92738 started
table 3511 uploaded
45036 started
table 119670 uploaded
103210 started
table 6279 uploaded
56 started

/opt/conda/lib/python3.10/site-packages/google/cloud/bigquery/_pandas_helpers.py:603: UserWarning: Pyarrow could not determine the type of columns: tag.
  warnings.warn(

table 69222 uploaded
671 started
table 172461 uploaded
83320 started
table 3722 uploaded
4442 started
table 4919 uploaded
83798 started
table 66246 uploaded
2350 started
table 51925 uploaded
80328 started
table 5118 uploaded
69310 started
table 92738 uploaded
184987 started
table 107359 uploaded
2396 started
table 45036 uploaded
25923 started
table 56 uploaded
105835 started
table 133333 uploaded
159061 started
table 671 uploaded
60418 started
table 4442 uploaded
1656 started
table 69310 uploaded
3048 started

/opt/conda/lib/python3.10/site-packages/google/cloud/bigquery/_pandas_helpers.py:603: UserWarning: Pyarrow could not determine the type of columns: tag.
  warnings.warn(

table 83798 uploaded
112552 started
table 1335 uploaded
1777 started
table 103210 uploaded
165537 started
table 2350 uploaded
102596 started
table 184987 uploaded
71341 started
table 83320 uploaded
8507 started
table 25923 uploaded
96737 started
table 2396 uploaded
72209 started
table 80328 uploaded
8893 started
table 159061 uploaded
109452 started
table 105835 uploaded
69436 started
table 60418 uploaded
160876 started
table 1656 uploaded
176173 started
table 112552 uploaded
140367 started
table 3048 uploaded
27170 started
table 8507 uploaded
6861 started
table 102596 uploaded
4109 started
table 71341 uploaded
84496 started

/opt/conda/lib/python3.10/site-packages/google/cloud/bigquery/_pandas_helpers.py:603: UserWarning: Pyarrow could not determine the type of columns: tag.
  warnings.warn(

table 165537 uploaded
80617 started
table 72209 uploaded
142052 started
table 96737 uploaded
90890 started
table 1777 uploaded
1303 started
table 8893 uploaded
26404 started
table 69436 uploaded
6216 started
table 109452 uploaded
115828 started
table 160876 uploaded
5575 started
table 140367 uploadedtable 6861 uploaded

3093 started85367 started

table 1303 uploaded
8722 started
table 142052 uploaded
40589 started
table 27170 uploaded
85397 started
table 84496 uploaded
7725 started
table 90890 uploaded
78128 started
table 26404 uploaded
1583 started
table 176173 uploaded
3907 started
table 115828 uploaded
116957 started
table 5575 uploaded
198 started
table 6216 uploaded
162968 started
table 85367 uploaded
5272 started
table 40589 uploaded
185169 started
table 3093 uploaded
48711 started
table 4109 uploaded
180569 started
table 85397 uploaded
108569 started
table 8722 uploaded
53774 started
table 7725 uploaded
79091 started

/opt/conda/lib/python3.10/site-packages/google/cloud/bigquery/_pandas_helpers.py:603: UserWarning: Pyarrow could not determine the type of columns: tag.
  warnings.warn(

table 78128 uploaded
25798 started
table 116957 uploaded
59602 started
table 185169 uploaded
5420 started
table 1583 uploaded
4902 started
table 3907 uploaded
5422 started
table 48711 uploaded
7290 started
table 5272 uploaded
1846 started
table 180569 uploaded
1191 started
table 108569 uploaded
89480 started
table 198 uploaded
1266 started
table 162968 uploaded
3773 started
table 79091 uploaded
4283 started
table 53774 uploaded
57690 started
table 80617 uploaded
175151 started
table 25798 uploaded
158848 started

/opt/conda/lib/python3.10/site-packages/google/cloud/bigquery/_pandas_helpers.py:603: UserWarning: Pyarrow could not determine the type of columns: tag.
  warnings.warn(

table 1846 uploaded
71143 started
table 89480 uploaded
2077 started
table 5422 uploaded
48972 started
table 5420 uploaded
5377 started
table 3773 uploaded
101529 started
table 59602 uploaded
72833 started
table 57690 uploaded
93933 started
table 4283 uploaded
98198 started
table 1191 uploaded
70992 started
table 175151 uploaded
49951 started
table 4902 uploaded
3288 started

/opt/conda/lib/python3.10/site-packages/google/cloud/bigquery/_pandas_helpers.py:603: UserWarning: Pyarrow could not determine the type of columns: tag.
  warnings.warn(

table 7290 uploaded
4963 started
table 2077 uploaded
115381 started
table 101529 uploaded
144910 started
table 5377 uploaded
101687 started
table 93933 uploaded
4154 started
table 1266 uploaded
71147 started
table 71143 uploaded
31290 started
table 72833 uploaded
4966 started
table 48972 uploaded
6088 started
table 158848 uploaded
178827 started
table 3288 uploaded
4779 started
table 70992 uploaded
151735 started
table 49951 uploaded
170637 started
table 98198 uploaded
102469 started
table 4963 uploaded
2644 started
table 144910 uploaded
123493 started
table 4154 uploaded
5115 started
table 71147 uploaded
65577 started
table 6088 uploaded
3470 started
table 4966 uploaded
2677 started
table 4779 uploaded
92210 started
table 178827 uploaded
238 started
table 115381 uploaded
91840 started
table 101687 uploaded
56801 started
table 102469 uploaded
1117 started
table 170637 uploaded
105193 started
table 65577 uploaded
116261 started
table 123493 uploaded
table 2677 uploaded4626 started

2027 started
table 5115 uploaded
5038 started
table 3470 uploadedtable 151735 uploaded
91250 started

191799 started
table 105193 uploaded
198143 started

/opt/conda/lib/python3.10/site-packages/google/cloud/bigquery/_pandas_helpers.py:603: UserWarning: Pyarrow could not determine the type of columns: tag.
  warnings.warn(

table 2644 uploaded
162148 started
table 31290 uploaded
5842 started
table 1117 uploaded
157128 started
table 238 uploaded
4552 started
table 92210 uploaded
5657 started
table 91840 uploaded
25852 started
table 56801 uploaded
144606 started
table 116261 uploaded
101904 started
table 5038 uploaded
2552 started
table 2027 uploaded
91622 started
table 91250 uploaded
157318 started
table 191799 uploaded
7036 started
table 162148 uploaded
8860 started
table 5842 uploaded
7273 started
table 25852 uploaded
2788 started
table 157128 uploaded
117885 started
table 101904 uploaded
40817 started
table 5657 uploaded
26564 started
table 198143 uploaded
77875 started
table 4626 uploaded
6988 started
table 2552 uploaded
44255 started
table 144606 uploaded
193119 started

/opt/conda/lib/python3.10/site-packages/google/cloud/bigquery/_pandas_helpers.py:603: UserWarning: Pyarrow could not determine the type of columns: tag.
  warnings.warn(

table 4552 uploaded
136515 started
table 91622 uploaded
152372 started
table 7036 uploaded
64321 started
table 7273 uploaded
8995 started
table 157318 uploaded
117682 started
table 8860 uploaded
105468 started
table 40817 uploaded
55854 started
table 6988 uploaded
96411 started
table 117885 uploaded
46347 started
table 2788 uploaded
7351 started
table 77875 uploaded
3858 started
table 26564 uploaded
122770 started
table 44255 uploaded
164107 started
table 152372 uploaded
26172 started
table 105468 uploaded
708 started
table 136515 uploaded
99145 started
table 8995 uploaded
2858 started
table 3858 uploaded
75983 started
table 46347 uploaded
6311 started
table 64321 uploaded
7521 started
table 96411 uploaded
90254 started
table 7351 uploaded
68214 started
table 55854 uploaded
26315 started
table 164107 uploaded
8728 started
table 117682 uploaded
61967 started
table 193119 uploaded
9010 started
table 122770 uploaded
2790 started
table 99145 uploaded
136 started
table 2858 uploaded
1187 started
table 7521 uploadedtable 6311 uploaded

1798 started6008 started

table 90254 uploaded
178401 started
table 75983 uploaded
92606 started
table 26172 uploaded
6352 started
table 708 uploaded
7181 started
table 26315 uploaded
26251 started
table 61967 uploaded
736 started
table 68214 uploaded
74355 started
table 2790 uploaded
63479 started
table 136 uploaded
110484 started

/opt/conda/lib/python3.10/site-packages/google/cloud/bigquery/_pandas_helpers.py:603: UserWarning: Pyarrow could not determine the type of columns: tag.
  warnings.warn(

table 92606 uploaded
3384 started
table 8728 uploaded
39444 started
table 178401 uploaded
177123 started
table 6352 uploaded
82202 started
table 7181 uploaded
7818 started
table 9010 uploaded
1354 started
table 1187 uploaded
5636 started
table 6008 uploaded
4460 started
table 1798 uploaded
86624 started

/opt/conda/lib/python3.10/site-packages/google/cloud/bigquery/_pandas_helpers.py:603: UserWarning: Pyarrow could not determine the type of columns: tag.
  warnings.warn(

table 74355 uploaded
26167 started
table 39444 uploaded
7310 started
table 63479 uploaded
8678 started
table 26251 uploaded
162158 started
table 110484 uploaded
78251 started
table 736 uploaded
4606 started
table 3384 uploaded
439 started
table 82202 uploaded
4113 started
table 1354 uploaded
436 started
table 7818 uploaded
3399 started
table 5636 uploaded
7730 started
table 177123 uploaded
26622 started
table 4460 uploaded
5229 started
table 86624 uploaded
6859 started
table 162158 uploaded
184265 started
table 78251 uploaded
4134 started
table 26167 uploaded
77829 started
table 8678 uploaded
393 started
table 4113 uploaded
81949 started
table 7730 uploaded
74306 started
table 439 uploaded
34542 started
table 436 uploaded
6544 started
table 4606 uploaded
27713 started
table 6859 uploaded
1501 started
table 184265 uploaded
4539 started
table 5229 uploaded
4763 started
table 77829 uploaded
27186 started
table 26622 uploaded
27857 started
table 4134 uploaded
36531 started
table 3399 uploaded
89000 started
table 74306 uploaded
3527 started
table 81949 uploaded
7947 started
table 6544 uploaded
4845 started
table 34542 uploaded
146866 started
table 27713 uploaded
8094 started
table 393 uploaded
3323 started
table 1501 uploaded
79897 started
table 27186 uploaded
72777 started
table 36531 uploadedtable 27857 uploaded

190367 started882 started

/opt/conda/lib/python3.10/site-packages/google/cloud/bigquery/_pandas_helpers.py:603: UserWarning: Pyarrow could not determine the type of columns: tag.
  warnings.warn(

table 4763 uploaded
3948 started
table 146866 uploaded
5149 started
table 7947 uploaded
5161 started
table 8094 uploaded
71928 started
table 89000 uploaded
1667 started
table 4845 uploaded
6230 started
table 3323 uploaded
7029 started
table 79897 uploaded
88744 started
table 72777 uploaded
308 started
table 882 uploaded
127124 started
table 190367 uploaded
46430 started
table 71928 uploaded
143531 started
table 1667 uploaded
2929 started
table 5161 uploaded
112460 started
table 5149 uploaded
147362 started
table 3948 uploaded
5569 started
table 3527 uploaded
133824 started
table 6230 uploaded
68486 started
table 88744 uploaded
469 started
table 7029 uploaded
144514 started
table 4539 uploaded
90592 started

/opt/conda/lib/python3.10/site-packages/google/cloud/bigquery/_pandas_helpers.py:603: UserWarning: Pyarrow could not determine the type of columns: tag.
  warnings.warn(

table 308 uploaded
70495 started
table 127124 uploaded
85 started
table 2929 uploaded
4129 started
table 112460 uploaded
38 started
table 133824 uploaded
5642 started
table 143531 uploaded
4124 started
table 46430 uploaded
2529 started
table 469 uploaded
150270 started
table 147362 uploaded
563 started
table 70495 uploaded
116028 started
table 7310 uploaded
117911 started
table 144514 uploaded
84223 started
table 4129 uploaded
8889 started
table 5569 uploaded
4674 started
table 85 uploaded
2986 started
table 90592 uploaded
7206 started
table 68486 uploaded
8454 started
table 38 uploaded
33821 started
table 5642 uploaded
682 started
table 2529 uploaded
84805 started

/opt/conda/lib/python3.10/site-packages/google/cloud/bigquery/_pandas_helpers.py:603: UserWarning: Pyarrow could not determine the type of columns: tag.
  warnings.warn(
/opt/conda/lib/python3.10/site-packages/google/cloud/bigquery/_pandas_helpers.py:603: UserWarning: Pyarrow could not determine the type of columns: tag.
  warnings.warn(

table 563 uploaded
7100 started
table 84223 uploaded
4181 started
table 117911 uploaded
147895 started

/opt/conda/lib/python3.10/site-packages/google/cloud/bigquery/_pandas_helpers.py:603: UserWarning: Pyarrow could not determine the type of columns: tag.
  warnings.warn(

table 4124 uploaded
3434 started
table 150270 uploaded
6392 started
table 116028 uploaded
136190 started
table 4674 uploaded
26611 started
table 8889 uploaded
2636 started
table 682 uploaded
194969 started
table 2986 uploaded
5804 started

/opt/conda/lib/python3.10/site-packages/google/cloud/bigquery/_pandas_helpers.py:603: UserWarning: Pyarrow could not determine the type of columns: tag.
  warnings.warn(

table 33821 uploaded
60150 started
table 7206 uploaded
49961 started
table 8454 uploaded
3603 started
table 84805 uploaded
115824 started
table 147895 uploaded
180325 started
table 6392 uploaded
46258 started
table 4181 uploaded
5985 started
table 7100 uploaded
165489 started
table 136190 uploaded
86089 started
table 3434 uploaded
136624 started
table 5804 uploaded
70978 started
table 60150 uploaded
33709 started
table 49961 uploaded
7382 started
table 26611 uploaded
1103 started
table 194969 uploaded
1116 started
table 115824 uploaded
102 started
table 2636 uploaded
59126 started
table 3603 uploaded
table 5985 uploaded176365 started

88168 started
table 86089 uploaded
105863 started
table 180325 uploaded
89945 started
table 165489 uploaded
136018 started
table 46258 uploaded
2078 started
table 33709 uploaded
54121 started
table 70978 uploaded
80924 started
table 1116 uploaded
52589 started
table 102 uploaded
164905 started
table 136624 uploaded
71184 started
table 1103 uploaded
72043 started
table 59126 uploaded
59485 started
table 88168 uploaded
25860 started
table 7382 uploaded
98975 started
table 105863 uploaded
493 started
table 89945 uploaded
51082 started
table 176365 uploaded
109157 started
table 80924 uploaded
175755 started
table 136018 uploaded
192565 started
table 71184 uploaded
8604 started
table 164905 uploaded
88810 started
table 52589 uploaded
7397 started
table 54121 uploaded
108981 started
table 59485 uploaded
4042 started
table 72043 uploaded
26498 started
table 25860 uploaded
6520 started
table 2078 uploaded
132997 started
table 109157 uploaded
79805 started
table 7397 uploadedtable 192565 uploaded

51894 started1245 started

table 493 uploaded
193916 started
table 108981 uploaded
34540 started
table 51082 uploaded
4345 started
table 175755 uploaded
7223 started
table 8604 uploaded
52202 started
table 88810 uploaded
50442 started
table 98975 uploaded
37837 started
table 51894 uploaded
179881 started
table 6520 uploaded
2841 started
table 193916 uploaded
87004 started
table 132997 uploaded
55360 started
table 34540 uploaded
1797 started
table 4345 uploaded
56015 started
table 4042 uploaded
168722 started
table 79805 uploaded
77596 started
table 7223 uploaded
64997 started
table 26498 uploaded
96975 started
table 37837 uploaded
135488 started
table 50442 uploaded
135597 started
table 1797 uploaded
30856 started

/opt/conda/lib/python3.10/site-packages/google/cloud/bigquery/_pandas_helpers.py:603: UserWarning: Pyarrow could not determine the type of columns: tag.
  warnings.warn(

table 52202 uploaded
142675 started
table 77596 uploaded
6803 started
table 87004 uploaded
26841 started
table 168722 uploaded
86502 started
table 55360 uploaded
149418 started
table 179881 uploaded
49060 started
table 64997 uploaded
136622 started
table 2841 uploaded
102682 started
table 96975 uploaded
44204 started
table 56015 uploaded
7939 started
table 1245 uploaded
7085 started
table 135597 uploaded
5011 started
table 135488 uploaded
26070 started
table 142675 uploaded
6457 started
table 149418 uploaded
44966 started
table 86502 uploaded
95926 started
table 6803 uploaded
37375 started
table 26841 uploaded
53519 started
table 30856 uploaded
394 started
table 49060 uploaded
597 started
table 44204 uploaded
63194 started
table 102682 uploaded
26550 started
table 136622 uploaded
135887 started
table 95926 uploaded
59173 started
table 5011 uploaded
187455 started
table 7085 uploaded
199307 started
table 37375 uploaded
6505 started
table 7939 uploaded
3121 started
table 53519 uploaded
7008 started
table 26070 uploaded
2612 started
table 394 uploaded
5023 started
table 44966 uploaded
1947 started
table 597 uploaded
173209 started
table 63194 uploaded
66813 started
table 187455 uploaded
4381 started
table 26550 uploaded
51471 started
table 135887 uploaded
771 started
table 199307 uploaded
7196 started
table 59173 uploaded
193185 started
table 6457 uploaded
7313 started
table 5023 uploaded
89170 started
table 6505 uploaded
4638 started
table 2612 uploaded
32234 started
table 3121 uploaded
2725 started
table 1947 uploaded
2535 started
table 7008 uploaded
55259 started
table 173209 uploaded
26925 started
table 51471 uploaded
4466 started
table 66813 uploaded
103273 started
table 771 uploaded
3374 started
table 7196 uploaded
4898 started
table 32234 uploaded
137365 started
table 4638 uploaded
91126 started
table 7313 uploaded
71876 started
table 2725 uploaded
579 started

/opt/conda/lib/python3.10/site-packages/google/cloud/bigquery/_pandas_helpers.py:603: UserWarning: Pyarrow could not determine the type of columns: tag.
  warnings.warn(

table 89170 uploaded
163535 started
table 2535 uploaded
170787 started

/opt/conda/lib/python3.10/site-packages/google/cloud/bigquery/_pandas_helpers.py:603: UserWarning: Pyarrow could not determine the type of columns: tag.
  warnings.warn(

table 4381 uploadedtable 26925 uploaded
144182 started

32149 started
table 193185 uploaded
107462 started
table 103273 uploaded
148855 started
table 55259 uploaded
81054 started
table 4466 uploaded
53855 started
table 137365 uploaded
61473 started
table 71876 uploaded
147833 started
table 4898 uploaded
7487 started
table 91126 uploaded
6944 started
table 107462 uploaded
142503 started
table 144182 uploaded
5266 started
table 3374 uploaded
2455 started
table 148855 uploaded
77 started
table 579 uploaded
73386 started
table 81054 uploaded
40491 started
table 32149 uploaded
108729 started
table 170787 uploaded
3946 started
table 163535 uploaded
185025 started
table 53855 uploaded
8520 started
table 147833 uploaded
104241 started
table 77 uploaded
5911 started
table 5266 uploaded
84094 started
table 73386 uploaded
8542 started
table 142503 uploaded
49286 started
table 7487 uploaded
48416 started
table 61473 uploaded
7132 started
table 3946 uploaded
145218 started
table 108729 uploaded
7289 started
table 40491 uploaded
26134 started

/opt/conda/lib/python3.10/site-packages/google/cloud/bigquery/_pandas_helpers.py:603: UserWarning: Pyarrow could not determine the type of columns: tag.
  warnings.warn(

table 6944 uploaded
316 started
table 185025 uploaded
109472 started
table 2455 uploaded
4997 started
table 5911 uploaded
172671 started
table 8520 uploaded
104312 started
table 48416 uploaded
155814 started
table 145218 uploaded
93563 started
table 26134 uploaded
165003 started

/opt/conda/lib/python3.10/site-packages/google/cloud/bigquery/_pandas_helpers.py:603: UserWarning: Pyarrow could not determine the type of columns: tag.
  warnings.warn(

table 84094 uploaded
117322 started
table 7289 uploaded
111762 started
table 49286 uploaded
1450 started
table 104241 uploaded
115162 started
table 7132 uploaded
32058 started
table 109472 uploaded
4296 started
table 172671 uploaded
3624 started
table 316 uploaded
79599 started
table 4997 uploaded
121314 started
table 104312 uploaded
79711 started
table 8542 uploaded
113853 started
table 155814 uploaded
27124 started
table 93563 uploaded
988 started
table 1450 uploaded
75436 started
table 165003 uploaded
84942 started
table 3624 uploaded
76272 started
table 115162 uploaded
91952 started
table 111762 uploaded
125918 started
table 32058 uploaded
26246 started
table 79599 uploaded
69241 started
table 79711 uploaded
148044 started

/opt/conda/lib/python3.10/site-packages/google/cloud/bigquery/_pandas_helpers.py:603: UserWarning: Pyarrow could not determine the type of columns: tag.
  warnings.warn(

table 27124 uploaded
26213 started
table 121314 uploaded
71619 started
table 113853 uploaded
84485 started
table 4296 uploaded
2227 started
table 988 uploaded
86715 started
table 91952 uploaded
27646 started
table 76272 uploaded
114376 started
table 26246 uploaded
179005 started
table 84942 uploaded
26395 started
table 148044 uploaded
2172 started
table 75436 uploaded
2119 started
table 71619 uploaded
3359 started
table 117322 uploaded
2431 started
table 26213 uploaded
97593 started
table 27646 uploaded
3335 started
table 69241 uploaded
69140 started
table 86715 uploaded
138204 started
table 2227 uploaded
1177 started
table 84485 uploaded
56995 started
table 179005 uploaded
81782 started
table 125918 uploaded
7272 started
table 2172 uploaded
5087 started
table 114376 uploaded
4414 started
table 2119 uploaded
44937 started
table 26395 uploaded
6564 started
table 2431 uploaded
7209 started
table 97593 uploaded
84730 started
table 138204 uploaded
5685 started
table 3335 uploaded
189205 started

/opt/conda/lib/python3.10/site-packages/google/cloud/bigquery/_pandas_helpers.py:603: UserWarning: Pyarrow could not determine the type of columns: tag.
  warnings.warn(

table 1177 uploaded
60020 startedtable 56995 uploaded

5546 started
table 44937 uploaded
71980 started
table 81782 uploaded
2843 started
table 5087 uploaded
162660 started
table 7272 uploaded
4399 started
table 69140 uploaded
97673 started
table 6564 uploaded
58876 started
table 7209 uploaded
3689 started
table 4414 uploaded
120294 started
table 5685 uploaded
6517 started
table 189205 uploaded
3203 started
table 84730 uploaded
63793 started
table 162660 uploaded
145771 started

/opt/conda/lib/python3.10/site-packages/google/cloud/bigquery/_pandas_helpers.py:603: UserWarning: Pyarrow could not determine the type of columns: tag.
  warnings.warn(

table 4399 uploaded
230 started
table 58876 uploaded
47452 started
table 2843 uploaded
62796 started
table 97673 uploaded
50940 started
table 120294 uploaded
6027 started
table 71980 uploaded
1341 started
table 60020 uploaded
26189 started
table 3689 uploaded
71840 started
table 63793 uploaded
98587 started
table 3203 uploaded
6894 started
table 230 uploaded
26555 started
table 6517 uploaded
146309 started
table 47452 uploaded
83361 started
table 62796 uploaded
147262 started
table 1341 uploaded
35082 started
table 71840 uploaded
6676 started
table 50940 uploaded
468 started
table 6894 uploaded
8778 started
table 6027 uploaded
95296 started
table 146309 uploaded
143271 started
table 98587 uploaded
66059 started
table 26189 uploaded
6284 started

/opt/conda/lib/python3.10/site-packages/google/cloud/bigquery/_pandas_helpers.py:603: UserWarning: Pyarrow could not determine the type of columns: tag.
  warnings.warn(

table 26555 uploaded
6974 started
table 145771 uploaded
97225 started
table 147262 uploaded
185425 started
table 3359 uploaded
8797 started
table 35082 uploaded
2439 started
table 6676 uploaded
112940 started
table 8778 uploaded
117370 started
table 95296 uploaded
27802 started
table 83361 uploaded
7925 started
table 5546 uploaded
1428 started
table 97225 uploaded
131749 started

/opt/conda/lib/python3.10/site-packages/google/cloud/bigquery/_pandas_helpers.py:603: UserWarning: Pyarrow could not determine the type of columns: tag.
  warnings.warn(

table 66059 uploaded
172117 started
table 143271 uploaded
2405 started
table 468 uploaded
67096 started
table 2439 uploaded
31437 started
table 6284 uploaded
113829 started
table 8797 uploaded
180445 started
table 185425 uploaded
141166 started
table 117370 uploaded
726 started
table 112940 uploaded
27679 started
table 6974 uploaded
2243 started

/opt/conda/lib/python3.10/site-packages/google/cloud/bigquery/_pandas_helpers.py:603: UserWarning: Pyarrow could not determine the type of columns: tag.
  warnings.warn(

table 7925 uploaded
83250 started
table 2405 uploaded
161032 started
table 172117 uploaded
68392 started
table 1428 uploaded
26940 started
table 27802 uploaded
108566 started
table 67096 uploaded
52858 started
table 131749 uploaded
52617 started
table 31437 uploaded
73270 started
table 113829 uploaded
6422 started
table 180445 uploaded
170153 started
table 141166 uploaded
158260 started
table 27679 uploaded
61011 started
table 726 uploaded
2883 started
table 83250 uploaded
142070 started
table 2243 uploaded
55040 started
table 68392 uploaded
136457 started
table 52858 uploaded
1677 started
table 26940 uploaded
99962 started
table 108566 uploaded
55118 started
table 161032 uploaded
25782 started
table 73270 uploaded
1115 started

/opt/conda/lib/python3.10/site-packages/google/cloud/bigquery/_pandas_helpers.py:603: UserWarning: Pyarrow could not determine the type of columns: tag.
  warnings.warn(

table 170153 uploaded
7194 started
table 158260 uploaded
25763 started
table 2883 uploaded
102956 started
table 61011 uploaded
860 started
table 6422 uploaded
34319 started
table 136457 uploaded
3493 started
table 25782 uploaded
936 started
table 1677 uploaded
70235 started
table 142070 uploaded
1826 started
table 55118 uploaded
2479 started
table 55040 uploaded
128838 started
table 1115 uploaded
3872 started
table 102956 uploaded
47503 started
table 7194 uploaded
3855 started
table 25763 uploaded
1198 started
table 936 uploaded
182199 started
table 99962 uploaded
2185 started
table 52617 uploaded
6781 started
table 860 uploaded
200054 started
table 34319 uploaded
41810 started
table 3493 uploaded
159614 started
table 2479 uploaded
167636 started
table 1826 uploaded
78295 started
table 70235 uploaded
193395 started
table 47503 uploaded
2096 started
table 3872 uploaded
30721 started
table 128838 uploaded
159606 started
table 182199 uploaded
64034 started
table 3855 uploaded
26199 started
table 1198 uploaded
69131 started
table 6781 uploaded
196191 started
table 159614 uploaded
42794 started
table 193395 uploaded
56837 started
table 167636 uploaded
4196 started
table 30721 uploaded
1527 started
table 2096 uploaded
34229 started
table 159606 uploaded
48901 started
table 2185 uploaded
91529 started
table 64034 uploaded
4628 started
table 200054 uploaded
110110 started
table 69131 uploaded
table 26199 uploaded4815 started

170273 started
table 41810 uploaded
8625 started
table 196191 uploaded
892 started
table 4196 uploaded
6211 started
table 1527 uploaded
45259 started
table 56837 uploaded
89862 started
table 42794 uploaded
26809 started
table 91529 uploaded
33312 started
table 34229 uploaded
165353 started
table 78295 uploaded
169204 started
table 4628 uploaded
8799 started
table 48901 uploaded
175303 started
table 6211 uploaded
167038 started
table 110110 uploaded
164540 started
table 892 uploaded
112309 started
table 89862 uploaded
1724 started
table 8625 uploaded
434 started
table 45259 uploaded
86377 started
table 4815 uploaded
173145 started
table 170273 uploaded
47404 started
table 8799 uploaded
79333 started
table 26809 uploaded
5979 started
table 165353 uploaded
118997 started
table 169204 uploaded
3486 started
table 33312 uploaded
5477 started
table 175303 uploaded
52712 started
table 434 uploaded
46098 started
table 112309 uploaded
103075 started
table 86377 uploaded
56835 started
table 1724 uploaded
36436 started
table 164540 uploaded
163713 started
table 167038 uploaded
4177 started
table 5979 uploaded
106542 started
table 47404 uploaded
27317 started
table 173145 uploaded
160571 started
table 79333 uploaded
2501 started
table 5477 uploaded
139797 started
table 46098 uploaded
3777 started
table 3486 uploaded
110070 started

/opt/conda/lib/python3.10/site-packages/google/cloud/bigquery/_pandas_helpers.py:603: UserWarning: Pyarrow could not determine the type of columns: tag.
  warnings.warn(

table 103075 uploaded
184399 started
table 56835 uploaded
2581 started
table 52712 uploaded
142074 started
table 36436 uploaded
27869 started
table 163713 uploaded
74541 started
table 118997 uploaded
65521 started
table 106542 uploaded
61116 started
table 139797 uploaded
182557 started
table 2501 uploaded
7893 started
table 27317 uploaded
1898 started
table 184399 uploaded
32602 started

/opt/conda/lib/python3.10/site-packages/google/cloud/bigquery/_pandas_helpers.py:603: UserWarning: Pyarrow could not determine the type of columns: tag.
  warnings.warn(

table 4177 uploaded
59131 started
table 142074 uploaded
7157 started
table 27869 uploaded
4917 started
table 160571 uploaded
72931 started
table 65521 uploaded
5869 started
table 61116 uploaded
66097 started
table 74541 uploaded
1199 started
table 2581 uploaded
69275 started
table 1898 uploaded
31109 started
table 182557 uploaded
182615 started
table 7893 uploaded
7820 started
table 110070 uploaded
131472 started

/opt/conda/lib/python3.10/site-packages/google/cloud/bigquery/_pandas_helpers.py:603: UserWarning: Pyarrow could not determine the type of columns: tag.
  warnings.warn(

table 59131 uploaded
140 started
table 5869 uploaded
54372 started
table 1199 uploaded
171265 started
table 7157 uploaded
168774 started
table 72931 uploaded
49856 started
table 4917 uploaded
4476 started
table 3777 uploaded
1380 started
table 69275 uploaded
94278 started
table 31109 uploaded
33164 started
table 66097 uploaded
2099 started
table 182615 uploaded
5670 started
table 49856 uploaded
44399 started
table 32602 uploaded
7918 started
table 131472 uploaded
4950 started
table 7820 uploaded
4755 started
table 171265 uploaded
74339 started
table 168774 uploaded
108200 started
table 54372 uploaded
4943 started
table 1380 uploaded
171769 started
table 140 uploaded
1953 started
table 4476 uploaded
71634 started
table 94278 uploaded
135852 started
table 5670 uploaded
8294 started
table 33164 uploaded
201863 started
table 4755 uploaded
6004 started
table 44399 uploaded
2392 started
table 7918 uploaded
200822 started
table 2099 uploaded
77818 started
table 4943 uploaded
141690 started
table 1953 uploaded
7387 started
table 4950 uploaded
195485 started
table 171769 uploaded
8526 started

/opt/conda/lib/python3.10/site-packages/google/cloud/bigquery/_pandas_helpers.py:603: UserWarning: Pyarrow could not determine the type of columns: tag.
  warnings.warn(

table 135852 uploaded
6840 started
table 74339 uploaded
63312 started
table 108200 uploaded
33113 started
table 6004 uploadedtable 8294 uploaded

1593 started31991 started

table 200822 uploaded
57502 started
table 201863 uploaded
1714 started

/opt/conda/lib/python3.10/site-packages/google/cloud/bigquery/_pandas_helpers.py:603: UserWarning: Pyarrow could not determine the type of columns: tag.
  warnings.warn(

table 77818 uploaded
27027 started
table 141690 uploaded
8128 started
table 2392 uploaded
179 started
table 8526 uploaded
168058 started
table 6840 uploaded
51255 started
table 195485 uploaded
140551 started
table 63312 uploaded
3882 started
table 7387 uploaded
2222 started
table 33113 uploaded
8804 started
table 57502 uploaded
8675 started
table 31991 uploaded
8196 startedtable 1714 uploaded

71938 started
table 27027 uploaded
3022 started
table 1593 uploaded
89369 started
table 168058 uploaded
93142 started
table 71634 uploaded
1200 started
table 179 uploaded
202423 started
table 140551 uploaded
51380 started
table 51255 uploaded
84128 started
table 8128 uploaded
162350 started
table 2222 uploaded
3300 started
table 3882 uploaded
138808 started
table 8675 uploaded
178509 started
table 8196 uploaded
445 started
table 162350 uploaded
5637 started
table 1200 uploaded
138500 started
table 89369 uploaded
92954 started
table 3022 uploaded
26320 started
table 202423 uploaded
4721 started
table 93142 uploaded
4580 started
table 71938 uploaded
108940 started
table 3300 uploaded
97936 started
table 8804 uploaded
5863 started
table 138808 uploaded
197343 started
table 5637 uploaded
55765 started
table 445 uploaded
53406 started
table 84128 uploaded
110882 started
table 26320 uploaded
142382 started
table 4721 uploaded
7268 started
table 178509 uploaded
6446 started
table 92954 uploaded
7389 startedtable 97936 uploaded

3050 started
table 4580 uploaded
105597 started
table 108940 uploaded
59105 started
table 138500 uploaded
6033 started
table 51380 uploaded
35636 started
table 142382 uploaded
197889 started
table 55765 uploaded
8713 started
table 110882 uploaded
32941 started

/opt/conda/lib/python3.10/site-packages/google/cloud/bigquery/_pandas_helpers.py:603: UserWarning: Pyarrow could not determine the type of columns: tag.
  warnings.warn(

table 3050 uploaded
43177 started
table 5863 uploaded
107707 started
table 7389 uploaded
147002 started

/opt/conda/lib/python3.10/site-packages/google/cloud/bigquery/_pandas_helpers.py:603: UserWarning: Pyarrow could not determine the type of columns: tag.
  warnings.warn(

table 105597 uploaded
37855 started
table 7268 uploaded
5392 started
table 6033 uploaded
8484 started
table 59105 uploaded
575 started
table 197343 uploaded
427 started
table 35636 uploaded
8024 started
table 53406 uploaded
6215 started
table 32941 uploaded
133716 started
table 43177 uploaded
26309 started
table 197889 uploaded
5782 started
table 8713 uploaded
71141 started
table 5392 uploaded
5140 started
table 37855 uploaded
189241 started
table 575 uploaded
3641 started
table 8484 uploaded
7024 started
table 8024 uploaded
71550 started
table 6215 uploaded
39234 started
table 133716 uploaded
5673 started
table 147002 uploaded
5009 started
table 107707 uploaded
27620 started
table 26309 uploaded
4756 started
table 71141 uploaded
103315 started
table 5140 uploaded
160271 started
table 427 uploaded
48322 started
table 5782 uploaded
47970 started
table 7024 uploaded
4011 started
table 189241 uploaded
75395 started
table 3641 uploaded
94074 started
table 27620 uploaded
153788 started

/opt/conda/lib/python3.10/site-packages/google/cloud/bigquery/_pandas_helpers.py:603: UserWarning: Pyarrow could not determine the type of columns: tag.
  warnings.warn(

table 4756 uploaded
3807 started
table 5673 uploaded
71537 started
table 71550 uploaded
55620 started
table 48322 uploaded
168608 started
table 160271 uploaded
8368 started
table 39234 uploaded
6482 started
table 103315 uploaded
5331 started
table 47970 uploaded
55159 started
table 94074 uploaded
8962 started
table 5009 uploaded
54999 started
table 153788 uploaded
8617 started
table 75395 uploaded
6581 started
table 3807 uploaded
109241 started
table 6446 uploaded
45221 started
table 71537 uploaded
133145 started
table 6482 uploaded
3666 started
table 5331 uploaded
4461 started
table 168608 uploaded
48518 started
table 55620 uploaded
160726 started
table 55159 uploaded
2700 started
table 4011 uploaded
95804 started
table 8368 uploaded
101848 started
table 6581 uploaded
83796 started
table 54999 uploaded
27441 started
table 8617 uploaded
135867 started
table 109241 uploaded
4995 started
table 8962 uploaded
25906 started
table 45221 uploaded
122908 started
table 3666 uploaded
115244 started
table 133145 uploaded
144784 started
table 160726 uploaded
5611 started
table 4461 uploaded
8712 started
table 48518 uploaded
5823 started
table 95804 uploaded
112495 started
table 2700 uploaded
71926 started
table 27441 uploaded
5866 started

/opt/conda/lib/python3.10/site-packages/google/cloud/bigquery/_pandas_helpers.py:603: UserWarning: Pyarrow could not determine the type of columns: tag.
  warnings.warn(

table 101848 uploaded
8041 started
table 83796 uploaded
2186 started
table 4995 uploaded
33424 started
table 135867 uploaded
2383 started
table 25906 uploaded
5494 started
table 5611 uploaded
53999 started
table 122908 uploaded
6168 started
table 115244 uploaded
81014 started
table 8041 uploaded
92702 started
table 144784 uploaded
133731 started
table 71926 uploaded
6463 started
table 5866 uploaded
91671 started
table 2383 uploaded
37386 started
table 112495 uploaded
130578 started
table 5494 uploaded
197389 started
table 33424 uploaded
2377 started
table 2186 uploaded
250 started
table 5823 uploaded
183671 started
table 8712 uploaded
78905 started
table 6168 uploaded
2650 started
table 81014 uploaded
8840 started
table 133731 uploaded
5232 started
table 130578 uploaded
887 started
table 78905 uploaded
4814 started
table 92702 uploaded
42681 started
table 91671 uploaded
2246 started

/opt/conda/lib/python3.10/site-packages/google/cloud/bigquery/_pandas_helpers.py:603: UserWarning: Pyarrow could not determine the type of columns: tag.
  warnings.warn(

table 183671 uploaded
150995 started
table 250 uploaded
128251 started
table 53999 uploaded
82978 started
table 37386 uploaded
2550 started
table 5232 uploaded
103810 started
table 197389 uploaded
5998 started
table 6463 uploaded
47202 started
table 2377 uploaded
1416 started
table 8840 uploaded
1912 started
table 2650 uploaded
93443 started
table 42681 uploaded
5849 started

/opt/conda/lib/python3.10/site-packages/google/cloud/bigquery/_pandas_helpers.py:603: UserWarning: Pyarrow could not determine the type of columns: tag.
  warnings.warn(

table 5998 uploaded
65813 started
table 4814 uploaded
42629 started
table 82978 uploaded
112370 started
table 150995 uploaded
5437 started
table 103810 uploaded
117372 started
table 2246 uploaded
157268 started
table 887 uploaded
2652 started
table 1416 uploaded
59590 started
table 1912 uploaded
3885 started
table 47202 uploaded
6229 started
table 2550 uploaded
103050 started
table 128251 uploaded
4903 started
table 93443 uploaded
4428 started
table 42629 uploaded
5068 started
table 5437 uploaded
59018 started
table 59590 uploaded
177601 started
table 117372 uploaded
171561 started
table 112370 uploaded
6448 started
table 65813 uploaded
8641 started
table 3885 uploaded
194450 started
table 157268 uploaded
table 103050 uploaded98552 started

2305 started
table 2652 uploaded
94503 started
table 4903 uploaded
157361 started
table 6229 uploaded
65315 started
table 4428 uploaded
25830 started
table 59018 uploaded
122282 started
table 6448 uploaded
3663 started
table 171561 uploaded
2138 started
table 177601 uploadedtable 5849 uploaded

8959 started133165 started

table 8641 uploaded
105037 started
table 194450 uploaded
191687 started
table 5068 uploaded
117515 started
table 98552 uploaded
64716 started
table 65315 uploaded
8595 started
table 157361 uploaded
173673 started

/opt/conda/lib/python3.10/site-packages/google/cloud/bigquery/_pandas_helpers.py:603: UserWarning: Pyarrow could not determine the type of columns: tag.
  warnings.warn(

table 2305 uploaded
89087 started
table 94503 uploaded
2327 started
table 105037 uploaded
30723 started
table 133165 uploaded
27754 started
table 8959 uploaded
6635 started
table 3663 uploaded
85540 started
table 191687 uploaded
96563 started
table 2138 uploaded
116219 started
table 117515 uploaded
93498 started
table 25830 uploaded
191869 started
table 8595 uploaded
6683 started
table 122282 uploaded
26713 started
table 64716 uploaded
4731 started
table 173673 uploaded
7952 started
table 30723 uploaded
4681 started
table 89087 uploaded
135603 started
table 27754 uploaded
162346 started
table 85540 uploaded
678 started
table 6635 uploaded
84855 started
table 93498 uploaded
3616 started
table 191869 uploaded
8295 started
table 116219 uploaded
830 started
table 2327 uploaded
2543 started
table 96563 uploaded
177939 started
table 7952 uploaded
3055 started
table 4731 uploaded
67422 started
table 6683 uploaded
110198 started
table 4681 uploaded
8956 started
table 26713 uploaded
103651 started
table 84855 uploaded
217 started
table 135603 uploaded
90281 started
table 162346 uploaded
26269 started
table 3055 uploaded
32914 started
table 8295 uploaded
36537 started
table 67422 uploaded
65764 started
table 3616 uploaded
66639 started
table 177939 uploaded
4144 started
table 830 uploaded
76143 started
table 2543 uploaded
7774 started
table 8956 uploaded
4647 started

/opt/conda/lib/python3.10/site-packages/google/cloud/bigquery/_pandas_helpers.py:603: UserWarning: Pyarrow could not determine the type of columns: tag.
  warnings.warn(

table 36537 uploaded
1918 started
table 217 uploaded
27664 started
table 678 uploaded
83227 started
table 26269 uploaded
176351 started
table 110198 uploaded
7919 startedtable 76143 uploaded

1600 started

/opt/conda/lib/python3.10/site-packages/google/cloud/bigquery/_pandas_helpers.py:603: UserWarning: Pyarrow could not determine the type of columns: tag.
  warnings.warn(

table 65764 uploaded
2969 started
table 4144 uploaded
27847 started
table 90281 uploaded
1207 started
table 66639 uploaded
170897 started
table 32914 uploaded
6164 started
table 7774 uploaded
1422 started
table 4647 uploaded
51933 started
table 27664 uploaded
4289 started
table 83227 uploaded
2582 started
table 1918 uploaded
3955 started
table 27847 uploaded
2738 started
table 6164 uploaded
37844 started
table 176351 uploaded
68650 started
table 2969 uploaded
77629 started
table 1600 uploaded
197689 started
table 4289 uploaded
142536 started
table 7919 uploaded
6829 started
table 51933 uploaded
55729 started
table 1422 uploaded
90531 started
table 1207 uploaded
93598 started
table 2582 uploaded
64993 started
table 170897 uploaded
81817 started
table 3955 uploaded
143347 started
table 2738 uploaded
7577 started
table 68650 uploaded
122914 started
table 77629 uploaded
3389 started
table 37844 uploaded
151789 started
table 6829 uploaded
51660 started
table 55729 uploaded
5906 started
table 93598 uploaded
2847 started
table 142536 uploaded
5039 started
table 90531 uploaded
2607 started
table 143347 uploaded
100714 started
table 151789 uploaded
4141 started
table 81817 uploaded
1873 started
table 51660 uploaded
100138 started
table 122914 uploaded
46716 started
table 197689 uploaded
2974 started
table 3389 uploaded
127130 started
table 5906 uploaded
91688 started
table 2847 uploaded
6404 started
table 5039 uploaded
175693 started

/opt/conda/lib/python3.10/site-packages/google/cloud/bigquery/_pandas_helpers.py:603: UserWarning: Pyarrow could not determine the type of columns: tag.
  warnings.warn(

table 64993 uploaded
141836 started
table 2607 uploaded
200 started

/opt/conda/lib/python3.10/site-packages/google/cloud/bigquery/_pandas_helpers.py:603: UserWarning: Pyarrow could not determine the type of columns: tag.
  warnings.warn(

table 100714 uploaded
5171 started
table 4141 uploaded
1730 started
table 100138 uploaded
8585 started
table 127130 uploaded
3252 started
table 1873 uploaded
1554 started
table 7577 uploaded
7474 started
table 2974 uploaded
7276 started
table 103651 uploaded
26796 started
table 141836 uploaded
73370 started
table 91688 uploaded
2966 startedtable 175693 uploaded

25752 started
table 6404 uploaded
5124 started
table 200 uploaded
2825 started
table 5171 uploaded
142540 started
table 8585 uploaded
27875 started
table 1730 uploaded
71823 started
table 46716 uploaded
3440 started
table 7276 uploaded
5655 started
table 26796 uploaded
3697 started
table 1554 uploaded
3363 started
table 73370 uploaded
172893 started

/opt/conda/lib/python3.10/site-packages/google/cloud/bigquery/_pandas_helpers.py:603: UserWarning: Pyarrow could not determine the type of columns: tag.
  warnings.warn(

table 3252 uploaded
144374 started

/opt/conda/lib/python3.10/site-packages/google/cloud/bigquery/_pandas_helpers.py:603: UserWarning: Pyarrow could not determine the type of columns: tag.
  warnings.warn(

table 7474 uploaded
3426 started
table 2966 uploaded
90403 started
table 25752 uploaded
412 started
table 5124 uploaded
6979 started
table 2825 uploaded
6890 started
table 3440 uploaded
4079 started
table 27875 uploaded
135528 started
table 172893 uploaded
135288 started
table 3697 uploaded
7437 started
table 71823 uploaded
3496 started
table 142540 uploaded
56350 started
table 3363 uploaded
77795 started
table 3426 uploaded
78039 started
table 90403 uploaded
554 started
table 144374 uploaded
55373 started
table 412 uploaded
143031 started
table 5655 uploaded
119649 started

/opt/conda/lib/python3.10/site-packages/google/cloud/bigquery/_pandas_helpers.py:603: UserWarning: Pyarrow could not determine the type of columns: tag.
  warnings.warn(

table 135528 uploaded
1944 started
table 4079 uploaded
31664 started
table 6890 uploaded
1611 started
table 7437 uploaded
135 started
table 135288 uploaded
6830 started
table 78039 uploaded
61470 started
table 6979 uploaded
4664 started
table 77795 uploaded
48394 started
table 143031 uploaded
93948 started
table 3496 uploaded
141373 started
table 554 uploaded
4842 started
table 31664 uploaded
140481 started
table 1944 uploaded
106254 started
table 55373 uploaded
106111 started
table 56350 uploaded
6942 started
table 6830 uploaded
103801 started
table 119649 uploaded
106852 started
table 4664 uploaded
489 started
table 93948 uploaded
3238 started
table 1611 uploaded
1610 started
table 61470 uploaded
47076 started

/opt/conda/lib/python3.10/site-packages/google/cloud/bigquery/_pandas_helpers.py:603: UserWarning: Pyarrow could not determine the type of columns: tag.
  warnings.warn(

table 48394 uploaded
5876 started
table 135 uploaded
2242 started
table 4842 uploaded
4976 started
table 140481 uploaded
5914 started
table 106254 uploaded
162732 started
table 106111 uploaded
117354 started
table 106852 uploaded
74135 started

/opt/conda/lib/python3.10/site-packages/google/cloud/bigquery/_pandas_helpers.py:603: UserWarning: Pyarrow could not determine the type of columns: tag.
  warnings.warn(

table 103801 uploaded
102111 started
table 6942 uploaded
2998 started
table 3238 uploaded
45506 started
table 47076 uploaded
142020 started
table 141373 uploaded
4073 started
table 489 uploaded
5423 started
table 2242 uploaded
96473 started
table 1610 uploaded
5236 started
table 4976 uploaded
3152 started
table 5876 uploaded
26755 started
table 117354 uploaded
168358 started
table 74135 uploaded
120292 started
table 162732 uploaded
172583 started
table 2998 uploaded
183619 started
table 5914 uploaded
89321 started
table 45506 uploaded
2058 started
table 102111 uploaded
4614 started
table 142020 uploaded
80820 started
table 3152 uploaded
7305 started
table 96473 uploaded
3718 started
table 5423 uploaded
70208 started
table 26755 uploaded
123192 started
table 172583 uploaded
4393 started
table 120292 uploaded
96415 started
table 5236 uploaded
8768 started
table 2058 uploaded
1831 started
table 7305 uploaded
77240 started
table 168358 uploaded
116080 started
table 4073 uploaded
26700 started
table 183619 uploaded
65155 started
table 89321 uploaded
32203 started
table 70208 uploaded
2890 started
table 3718 uploaded
128878 started
table 123192 uploaded
184997 started
table 80820 uploaded
26038 started
table 4614 uploaded
3878 started
table 8768 uploaded
6433 started
table 4393 uploaded
6347 started
table 96415 uploaded
165539 started
table 26700 uploaded
1842 started
table 65155 uploaded
7133 started

/opt/conda/lib/python3.10/site-packages/google/cloud/bigquery/_pandas_helpers.py:603: UserWarning: Pyarrow could not determine the type of columns: tag.
  warnings.warn(

table 184997 uploaded
78633 started
table 1831 uploaded
26631 started
table 32203 uploaded
8157 started
table 116080 uploaded
4736 started
table 3878 uploaded
81819 started
table 128878 uploaded
30812 started
table 2890 uploaded
87869 started
table 1842 uploaded
86880 started
table 6433 uploaded
2450 started
table 78633 uploaded
2503 started
table 26038 uploaded
6680 started
table 7133 uploaded
58937 started
table 26631 uploaded
5316 started
table 4736 uploaded
81516 started
table 30812 uploaded
6082 started
table 6347 uploaded
6162 started
table 165539 uploaded
32031 started
table 8157 uploaded
2868 started
table 2450 uploaded
7739 started
table 6680 uploaded
73854 started
table 87869 uploaded
183699 started
table 81819 uploaded
26571 started
table 81516 uploaded
2100 started
table 58937 uploaded
4323 started
table 2503 uploaded
785 started
table 86880 uploaded
69324 started
table 32031 uploaded
4116 started
table 5316 uploaded
60382 started
table 6162 uploaded
2247 started
table 77240 uploaded
634 started
table 4323 uploaded
79663 started
table 26571 uploaded
37269 started
table 73854 uploaded
116893 started
table 2868 uploaded
6913 started
table 7739 uploaded
2174 started
table 183699 uploaded
34378 started
table 6082 uploaded
5291 started
table 4116 uploaded
1878 started
table 2247 uploaded
95773 started
table 69324 uploaded
33893 started
table 2100 uploaded
104561 started
table 37269 uploaded
3143 started
table 6913 uploaded
58490 started
table 785 uploaded
114453 started
table 60382 uploaded
5180 started

/opt/conda/lib/python3.10/site-packages/google/cloud/bigquery/_pandas_helpers.py:603: UserWarning: Pyarrow could not determine the type of columns: tag.
  warnings.warn(

table 116893 uploaded
81637 started
table 2174 uploaded
197 started
table 634 uploaded
87164 started
table 79663 uploaded
4582 started
table 34378 uploaded
72104 started
table 1878 uploaded
6132 started
table 5291 uploaded
96832 started
table 114453 uploaded
91500 started
table 3143 uploaded
6968 started
table 33893 uploaded
36513 started
table 104561 uploaded
93365 started
table 87164 uploaded
4557 started
table 95773 uploaded
171603 started
table 4582 uploaded
4278 started
table 5180 uploaded
191495 started
table 81637 uploaded
69061 started
table 36513 uploaded
7923 started
table 197 uploaded
179295 started
table 58490 uploaded
2864 started
table 6968 uploaded
174541 started
table 91500 uploaded
140267 started
table 6132 uploaded
197883 started
table 96832 uploaded
120278 started
table 171603 uploaded
114028 started
table 72104 uploaded
80990 started
table 4557 uploaded
179701 started
table 93365 uploaded
56941 started
table 191495 uploaded
115921 started
table 4278 uploaded
82332 started
table 69061 uploaded
147845 started
table 140267 uploaded
48738 started
table 197883 uploaded
5101 started
table 174541 uploaded
5249 started
table 179295 uploaded
table 7923 uploaded4072 started

3430 started
table 179701 uploaded
141538 started
table 2864 uploaded
6376 started
table 56941 uploaded
6010 started
table 80990 uploaded
3964 started
table 114028 uploaded
5385 started
table 120278 uploaded
112929 started
table 82332 uploaded
4749 started
table 48738 uploaded
55492 started
table 115921 uploaded
111778 started
table 141538 uploaded
4478 started
table 147845 uploaded
1772 started
table 5101 uploaded
135190 started
table 6376 uploaded
5467 started
table 3430 uploaded
851 started
table 5249 uploaded
27837 started
table 4072 uploaded
128429 started
table 5385 uploaded
1049 started
table 3964 uploaded
147942 started
table 6010 uploaded
295 started
table 4749 uploaded
162716 started
table 55492 uploaded
33677 started
table 111778 uploaded
102445 started
table 112929 uploaded
63332 started
table 851 uploaded
74799 started
table 135190 uploaded
27408 started
table 1772 uploaded
26106 started
table 5467 uploaded
86057 started
table 128429 uploaded
163995 started
table 27837 uploaded
55805 started
table 4478 uploaded
4921 started
table 1049 uploaded
131066 started
table 147942 uploaded
27879 started
table 295 uploaded
1356 started
table 162716 uploaded
69088 started
table 74799 uploaded
74791 started
table 102445 uploaded
77154 started
table 33677 uploaded
56370 started
table 86057 uploaded
189475 started
table 26106 uploaded
3595 started
table 55805 uploaded
645 started
table 27408 uploaded
106920 started
table 131066 uploaded
47830 started
table 63332 uploaded
8584 started
table 74791 uploaded
158974 started
table 27879 uploaded
73232 started
table 163995 uploaded
5078 started
table 1356 uploaded
56848 started
table 77154 uploaded
3273 started
table 4921 uploaded
79572 started
table 69088 uploaded
170399 started
table 106920 uploaded
6821 started
table 189475 uploaded
3781 started
table 56370 uploaded
93572 started
table 3595 uploaded
2124 started
table 47830 uploaded
6512 started
table 645 uploaded
1070 started
table 8584 uploaded
8194 started
table 158974 uploaded
3173 started
table 5078 uploaded
39446 started
table 3273 uploaded
4639 started
table 79572 uploaded
168714 started
table 2124 uploaded
93265 started
table 73232 uploaded
56945 started
table 170399 uploaded
8626 started
table 56848 uploaded
7784 started
table 1070 uploaded
25766 started
table 93572 uploaded
86628 started
table 6821 uploaded
173139 started
table 39446 uploaded
76079 started
table 6512 uploaded
58945 started
table 4639 uploaded
64622 started
table 168714 uploaded
91902 started
table 3781 uploaded
124861 started
table 3173 uploaded
4969 started
table 7784 uploaded
74095 started
table 93265 uploaded
157164 started
table 8194 uploaded
69761 started
table 8626 uploaded
8260 started
table 56945 uploaded
4608 started
table 4969 uploaded
1624 started
table 64622 uploaded
981 started
table 86628 uploaded
164655 started
table 76079 uploaded
144934 started
table 91902 uploaded
44864 started
table 124861 uploaded
26760 started
table 25766 uploaded
172321 started
table 58945 uploaded
26153 started
table 157164 uploaded
6320 started
table 173139 uploaded
25802 started
table 74095 uploaded
146307 started
table 69761 uploaded
7172 started
table 8260 uploaded
27549 started
table 981 uploaded
78585 started
table 4608 uploaded
56869 started
table 164655 uploaded
4994 started
table 1624 uploaded
163510 started
table 172321 uploaded
184469 started
table 6320 uploaded
144366 started
table 26760 uploaded
61026 started
table 26153 uploaded
84116 started
table 146307 uploaded
132012 started
table 144934 uploaded
4411 started
table 25802 uploaded
185473 started
table 44864 uploaded
5855 started
table 7172 uploaded
5730 started
table 56869 uploaded
70545 started
table 78585 uploaded
203 started
table 4994 uploaded
40597 started
table 185473 uploaded
84637 started
table 184469 uploaded
50954 started
table 4411 uploaded
5258 started
table 5855 uploaded
1438 started
table 27549 uploaded
5770 started
table 163510 uploaded
4153 started
table 84116 uploaded
7010 started
table 132012 uploaded
3524 started
table 5730 uploaded
192283 started
table 61026 uploaded
4826 started
table 144366 uploaded
2752 started
table 70545 uploaded
5772 started
table 203 uploaded
2808 started
table 5258 uploaded
142364 started
table 3524 uploaded
7021 started
table 1438 uploaded
8291 started
table 50954 uploaded
8615 started
table 5770 uploaded
57640 started
table 192283 uploaded
82447 started
table 7010 uploaded
106785 started
table 4826 uploaded
159771 started

/opt/conda/lib/python3.10/site-packages/google/cloud/bigquery/_pandas_helpers.py:603: UserWarning: Pyarrow could not determine the type of columns: tag.
  warnings.warn(

table 2752 uploaded
32853 started
table 5772 uploaded
5980 started
table 40597 uploaded
4240 started
table 84637 uploaded
32389 started
table 2808 uploaded
4910 started

/opt/conda/lib/python3.10/site-packages/google/cloud/bigquery/_pandas_helpers.py:603: UserWarning: Pyarrow could not determine the type of columns: tag.
  warnings.warn(

table 4153 uploaded
4104 started
table 142364 uploaded
112175 started
table 7021 uploaded
1473 started
table 57640 uploaded
2751 started
table 8615 uploaded
85362 started
table 32853 uploaded
1363 started
table 4240 uploaded
31225 started
table 82447 uploaded
50229 started
table 32389 uploaded
59313 started
table 5980 uploaded
140397 started
table 159771 uploaded
45635 started
table 4910 uploaded
6248 started
table 106785 uploaded
33533 started
table 4104 uploaded
3303 started
table 1473 uploaded
921 started
table 85362 uploaded
5593 started
table 112175 uploaded
83424 started
table 2751 uploaded
27178 started
table 8291 uploaded
101997 started
table 50229 uploaded
82244 started
table 59313 uploaded
1629 started
table 140397 uploaded
25762 started
table 3303 uploaded
5356 started
table 1363 uploaded
101074 started
table 6248 uploaded
71285 started
table 33533 uploaded
7839 started
table 45635 uploaded
48877 started
table 31225 uploaded
8188 started
table 5593 uploaded
80124 started
table 921 uploaded
152292 started
table 27178 uploaded
39931 started
table 83424 uploaded
108466 started
table 1629 uploaded
141840 started
table 101997 uploaded
32677 started
table 82244 uploaded
99024 started
table 71285 uploaded
26158 started
table 8188 uploaded
1310 started
table 25762 uploaded
4907 started
table 5356 uploaded
170627 started
table 7839 uploaded
177807 started
table 48877 uploaded
44900 started

/opt/conda/lib/python3.10/site-packages/google/cloud/bigquery/_pandas_helpers.py:603: UserWarning: Pyarrow could not determine the type of columns: tag.
  warnings.warn(

table 101074 uploaded
2123 started
table 108466 uploaded
31049 started
table 80124 uploaded
2206 started
table 26158 uploaded
120110 started
table 39931 uploaded
96941 started
table 32677 uploaded
84807 started
table 141840 uploaded
203222 started
table 152292 uploaded
3221 started
table 1310 uploaded
26090 started
table 177807 uploaded
198129 started

/opt/conda/lib/python3.10/site-packages/google/cloud/bigquery/_pandas_helpers.py:603: UserWarning: Pyarrow could not determine the type of columns: tag.
  warnings.warn(

table 4907 uploaded
1432 started
table 99024 uploaded
168244 started

/opt/conda/lib/python3.10/site-packages/google/cloud/bigquery/_pandas_helpers.py:603: UserWarning: Pyarrow could not determine the type of columns: tag.
  warnings.warn(

table 2123 uploaded
4547 started
table 44900 uploaded
62764 started
table 2206 uploaded
33621 started
table 96941 uploaded
42015 started
table 31049 uploaded
5957 started
table 170627 uploaded
70377 started
table 120110 uploaded
108825 started
table 198129 uploaded
1855 started
table 84807 uploaded
44197 started
table 26090 uploaded
118972 started
table 62764 uploaded
700 started
table 203222 uploaded
1755 started
table 4547 uploaded
55078 started
table 168244 uploaded
92507 started
table 42015 uploaded
table 33621 uploaded2558 started

110350 started
table 1432 uploaded
97826 started
table 5957 uploaded
109684 started
table 108825 uploaded
1393 started
table 1855 uploaded
140108 started
table 55078 uploaded
61009 started
table 1755 uploaded
78893 started
table 2558 uploaded
31086 started
table 118972 uploaded
385 started
table 70377 uploaded
81788 started
table 44197 uploaded
7243 started
table 97826 uploaded
70342 started
table 110350 uploaded
6235 started
table 109684 uploaded
1292 started
table 92507 uploaded
192209 started
table 700 uploaded
52321 started
table 1393 uploaded
132335 started
table 140108 uploaded
2425 started
table 78893 uploaded
1291 started
table 6235 uploaded
164041 started
table 81788 uploaded
90017 started

/opt/conda/lib/python3.10/site-packages/google/cloud/bigquery/_pandas_helpers.py:603: UserWarning: Pyarrow could not determine the type of columns: tag.
  warnings.warn(

table 61009 uploaded
5665 started
table 31086 uploaded
82093 started
table 52321 uploaded
122300 started
table 385 uploaded
8830 started
table 132335 uploaded
44189 started
table 7243 uploaded
8826 started
table 70342 uploaded
149532 started
table 3221 uploaded
5473 started
table 2425 uploaded
81059 started
table 1292 uploaded
128991 started
table 1291 uploaded
56274 started
table 90017 uploaded
74456 started
table 5665 uploaded
4367 started
table 164041 uploaded
1663 started
table 122300 uploaded
3861 started
table 82093 uploaded
160964 started
table 44189 uploaded
195 started
table 8830 uploaded
7260 started
table 81059 uploaded
5699 started
table 192209 uploaded
91632 started

/opt/conda/lib/python3.10/site-packages/google/cloud/bigquery/_pandas_helpers.py:603: UserWarning: Pyarrow could not determine the type of columns: tag.
  warnings.warn(

table 5473 uploaded
186539 started
table 8826 uploaded
155362 started

/opt/conda/lib/python3.10/site-packages/google/cloud/bigquery/_pandas_helpers.py:603: UserWarning: Pyarrow could not determine the type of columns: tag.
  warnings.warn(

table 128991 uploaded
160880 started
table 4367 uploaded
152071 started
table 56274 uploaded
3875 started
table 1663 uploaded
114875 started
table 74456 uploaded
153931 started
table 195 uploaded
190551 started
table 160964 uploaded
26136 started
table 91632 uploaded
4565 started
table 5699 uploaded
8659 started
table 155362 uploaded
3306 started
table 3861 uploaded
108056 started
table 160880 uploaded
6521 started
table 186539 uploaded
171983 started
table 152071 uploaded
27779 started
table 3875 uploaded
117146 started
table 7260 uploaded
34511 started
table 190551 uploaded
125926 started
table 8659 uploaded
4111 started
table 114875 uploaded
31705 started
table 149532 uploaded
98065 started
table 153931 uploaded
27423 started
table 3306 uploaded
34811 started
table 4565 uploaded
60135 started
table 26136 uploaded
112625 started
table 6521 uploaded
3971 started
table 117146 uploaded
173891 started
table 27779 uploaded
7164 started
table 171983 uploaded
33912 started
table 34511 uploaded
7016 started
table 108056 uploaded
5584 started

/opt/conda/lib/python3.10/site-packages/google/cloud/bigquery/_pandas_helpers.py:603: UserWarning: Pyarrow could not determine the type of columns: tag.
  warnings.warn(

table 4111 uploaded
56490 started
table 98065 uploaded
3197 started
table 125926 uploaded
27506 started
table 112625 uploaded
27851 started
table 31705 uploaded
1785 started
table 33912 uploaded
67949 started
table 3971 uploadedtable 34811 uploaded

98847 started
72559 started

/opt/conda/lib/python3.10/site-packages/google/cloud/bigquery/_pandas_helpers.py:603: UserWarning: Pyarrow could not determine the type of columns: tag.
  warnings.warn(

table 173891 uploaded
8941 started
table 27423 uploaded
62394 started
table 60135 uploaded
85527 started
table 7016 uploaded
26308 started
table 7164 uploaded
1017 started
table 56490 uploaded
59143 started
table 5584 uploaded
90471 started
table 27506 uploaded
63826 started
table 67949 uploaded
31184 started
table 1785 uploaded
179135 started
table 27851 uploaded
32792 started
table 8941 uploaded
33755 started
table 98847 uploaded
3007 started
table 62394 uploaded
56782 started
table 85527 uploaded
114378 started
table 59143 uploaded
54378 started
table 90471 uploaded
4161 started
table 26308 uploaded
2905 started
table 72559 uploaded
25946 started
table 63826 uploaded
608 started
table 3007 uploaded
2447 started
table 32792 uploaded
325 started
table 3197 uploaded
104123 started
table 1017 uploaded
160565 started
table 33755 uploaded
50271 started
table 56782 uploaded
1063 started
table 31184 uploaded
101243 started
table 179135 uploaded
3548 started
table 4161 uploaded
101893 started
table 2905 uploaded
152031 started
table 25946 uploaded
188625 started
table 608 uploaded
966 started
table 54378 uploaded
133229 started
table 1063 uploaded
60599 started
table 325 uploaded
4015 started
table 114378 uploaded
4990 started
table 2447 uploaded
7458 started
table 50271 uploaded
44238 started
table 104123 uploaded
107306 started
table 101243 uploaded
176599 started
table 152031 uploaded
128914 started
table 160565 uploaded
177231 started
table 133229 uploaded
85372 started
table 3548 uploaded
162590 started
table 188625 uploaded
169864 started
table 101893 uploaded
90645 started
table 60599 uploaded
8228 started
table 44238 uploaded
175253 started
table 4015 uploaded
49396 started
table 176599 uploaded
136618 started
table 4990 uploaded
171495 started
table 107306 uploaded
6990 started
table 177231 uploaded
134250 started
table 966 uploaded
168254 started
table 162590 uploaded
1839 started
table 128914 uploaded
1441 started
table 90645 uploaded
32666 started
table 7458 uploaded
83248 started
table 175253 uploaded
8786 started
table 85372 uploaded
32392 started
table 169864 uploaded
94155 started
table 136618 uploaded
199538 started
table 8228 uploaded
3751 started
table 168254 uploaded
2649 started
table 171495 uploaded
6493 started
table 1441 uploaded
3923 started
table 6990 uploaded
3064 started
table 134250 uploaded
2665 started
table 8786 uploaded
74588 started
table 49396 uploaded
55290 started
table 32666 uploaded
117320 started
table 32392 uploaded
8746 started
table 83248 uploaded
7915 started
table 1839 uploaded
4827 started
table 199538 uploaded
107625 started
table 94155 uploaded
144288 started
table 2649 uploaded
8269 started
table 3751 uploaded
7941 started
table 2665 uploaded
164264 started
table 3064 uploaded
93570 started
table 55290 uploaded
92391 started
table 117320 uploaded
207830 started
table 74588 uploaded
975 started
table 8746 uploaded
95157 started
table 107625 uploaded
288 started
table 144288 uploaded
111551 started
table 7915 uploaded
2922 started
table 3923 uploaded
79528 started
table 164264 uploaded
186005 started
table 8269 uploaded
4062 started
table 4827 uploaded
140940 started
table 6493 uploaded
78105 started
table 7941 uploaded
128989 started
table 93570 uploaded
113315 started
table 95157 uploaded
4356 started
table 111551 uploaded
125986 started
table 79528 uploadedtable 207830 uploaded

26547 started45533 started

table 4062 uploaded
102747 started
table 186005 uploaded
80146 started
table 140940 uploaded
168492 started
table 92391 uploaded
119672 started
table 2922 uploaded
4384 started
table 4356 uploaded
3311 started
table 288 uploaded
5545 started
table 975 uploaded
109282 started
table 78105 uploaded
176931 started
table 26547 uploaded
152198 started
table 125986 uploaded
1243 started
table 128989 uploaded
128512 started
table 45533 uploaded
2689 started

/opt/conda/lib/python3.10/site-packages/google/cloud/bigquery/_pandas_helpers.py:603: UserWarning: Pyarrow could not determine the type of columns: tag.
  warnings.warn(

table 4384 uploaded
82767 started
table 168492 uploaded
4199 started
table 113315 uploaded
63239 started
table 119672 uploaded
3927 started
table 102747 uploaded
3063 started
table 80146 uploaded
114 started
table 109282 uploaded
4546 started
table 3311 uploaded
46748 started
table 152198 uploaded
68868 started
table 1243 uploaded
139775 started
table 128512 uploaded
67087 started
table 176931 uploaded
984 started
table 5545 uploaded
2011 started
table 2689 uploaded
55205 started
table 63239 uploaded
4292 started
table 46748 uploadedtable 68868 uploaded

51927 started77672 started

table 4199 uploaded
161582 started
table 3927 uploaded
282 started
table 4546 uploaded
42013 started
table 984 uploaded
69374 started
table 114 uploaded
148 started
table 139775 uploaded
192639 started

/opt/conda/lib/python3.10/site-packages/google/cloud/bigquery/_pandas_helpers.py:603: UserWarning: Pyarrow could not determine the type of columns: tag.
  warnings.warn(

table 2011 uploaded
89570 started
table 3063 uploaded
31588 started
table 67087 uploaded
26379 started
table 4292 uploaded
2307 started
table 82767 uploaded
204268 started
table 77672 uploaded
3803 started
table 161582 uploaded
57865 started
table 42013 uploaded
2785 started
table 282 uploaded
44555 started
table 51927 uploaded
1514 started
table 148 uploaded
136451 started

/opt/conda/lib/python3.10/site-packages/google/cloud/bigquery/_pandas_helpers.py:603: UserWarning: Pyarrow could not determine the type of columns: tag.
  warnings.warn(

table 31588 uploaded
1434 started

/opt/conda/lib/python3.10/site-packages/google/cloud/bigquery/_pandas_helpers.py:603: UserWarning: Pyarrow could not determine the type of columns: tag.
  warnings.warn(

table 69374 uploaded
101761 started
table 2307 uploaded
3586 started
table 192639 uploaded
131470 started
table 204268 uploaded
91634 started
table 89570 uploaded
127148 started
table 26379 uploaded
95875 started
table 2785 uploaded
144064 started
table 101761 uploaded
57393 started
table 136451 uploaded
154 started
table 44555 uploaded
42548 started
table 3803 uploaded
41712 started
table 1434 uploaded
105519 started
table 1514 uploaded
42984 started
table 3586 uploaded
5391 started
table 55205 uploaded
3691 started
table 57865 uploaded
74820 started
table 91634 uploaded
135127 started
table 144064 uploaded
6649 started
table 95875 uploaded
159161 started
table 127148 uploaded
181277 started
table 42548 uploaded
8841 started
table 131470 uploaded
175813 started
table 57393 uploaded
2628 started
table 41712 uploaded
128736 started
table 105519 uploaded
116801 started
table 5391 uploaded
6141 started
table 6649 uploaded
136247 started
table 135127 uploaded
5111 started

/opt/conda/lib/python3.10/site-packages/google/cloud/bigquery/_pandas_helpers.py:603: UserWarning: Pyarrow could not determine the type of columns: tag.
  warnings.warn(

table 3691 uploaded
135504 started
table 74820 uploaded
34314 started
table 154 uploaded
3549 started
table 42984 uploaded
109864 started
table 181277 uploaded
45000 started
table 175813 uploaded
6009 started
table 8841 uploaded
26013 started
table 159161 uploaded
3002 started
table 116801 uploaded
8621 started
table 136247 uploaded
3572 started
table 128736 uploaded
81845 started
table 3549 uploaded
1360 started
table 135504 uploaded
8979 started
table 6141 uploaded
2059 started
table 34314 uploaded
169992 started
table 5111 uploaded
71970 started
table 45000 uploaded
98087 started
table 2628 uploaded
4701 started
table 109864 uploaded
1041 started
table 3002 uploaded
5623 started
table 2059 uploaded
93946 started
table 6009 uploaded
6741 started
table 26013 uploaded
126803 started
table 8979 uploaded
131739 started
table 98087 uploaded
7012 started
table 3572 uploaded
59501 started
table 169992 uploaded
79523 started
table 81845 uploaded
170881 started
table 8621 uploaded
26765 started

/opt/conda/lib/python3.10/site-packages/google/cloud/bigquery/_pandas_helpers.py:603: UserWarning: Pyarrow could not determine the type of columns: tag.
  warnings.warn(

table 1041 uploaded
172017 started
table 71970 uploaded
161954 started
table 4701 uploaded
4285 started
table 5623 uploaded
136636 started
table 93946 uploaded
171631 started
table 6741 uploaded
5525 started
table 1360 uploaded
51044 started
table 79523 uploaded
58494 started
table 131739 uploaded
8994 started
table 7012 uploaded
127052 started
table 172017 uploaded
1891 started
table 59501 uploaded
93272 started
table 161954 uploaded
3654 started
table 126803 uploaded
8720 started
table 170881 uploaded
110273 started
table 26765 uploaded
3932 started
table 171631 uploaded
41941 started
table 4285 uploaded
142198 started
table 136636 uploaded
148172 started
table 58494 uploaded
105302 started
table 51044 uploaded
75446 started
table 127052 uploaded
94777 started
table 8994 uploaded
4717 started
table 3654 uploaded
5057 started
table 5525 uploaded
32721 started
table 8720 uploaded
172421 started

/opt/conda/lib/python3.10/site-packages/google/cloud/bigquery/_pandas_helpers.py:603: UserWarning: Pyarrow could not determine the type of columns: tag.
  warnings.warn(

table 110273 uploaded
88118 started
table 3932 uploaded
1283 started
table 41941 uploaded
51007 started
table 93272 uploaded
128366 started
table 1891 uploaded
85401 started
table 105302 uploaded
162356 started
table 148172 uploaded
26314 started
table 94777 uploaded
53883 started
table 142198 uploaded
237 started
table 75446 uploaded
88067 started
table 32721 uploaded
92262 started
table 4717 uploaded
126927 started
table 5057 uploaded
7372 started
table 26314 uploaded
22 started
table 128366 uploaded
162478 started
table 1283 uploaded
91673 started
table 85401 uploaded
8727 started
table 88118 uploaded
70806 started
table 172421 uploaded
5615 started
table 162356 uploaded
6612 started
table 53883 uploaded
56626 started
table 51007 uploaded
6825 started
table 237 uploaded
5710 started
table 91673 uploaded
27326 started
table 8727 uploaded
113711 started
table 92262 uploaded
129189 started
table 6612 uploaded
89472 started
table 162478 uploaded
4781 started
table 126927 uploaded
5042 started
table 88067 uploaded
80834 started
table 7372 uploaded
1241 started
table 5615 uploaded
39516 started
table 70806 uploaded
4657 started

/opt/conda/lib/python3.10/site-packages/google/cloud/bigquery/_pandas_helpers.py:603: UserWarning: Pyarrow could not determine the type of columns: tag.
  warnings.warn(

table 22 uploaded
179497 started
table 6825 uploaded
430 started
table 56626 uploaded
27134 started
table 5710 uploaded
71518 started
table 129189 uploaded
91227 started
table 80834 uploaded
7147 started
table 4781 uploaded
175187 started
table 89472 uploaded
161920 started
table 113711 uploaded
88572 started

/opt/conda/lib/python3.10/site-packages/google/cloud/bigquery/_pandas_helpers.py:603: UserWarning: Pyarrow could not determine the type of columns: tag.
  warnings.warn(

table 5042 uploaded
108529 started

/opt/conda/lib/python3.10/site-packages/google/cloud/bigquery/_pandas_helpers.py:603: UserWarning: Pyarrow could not determine the type of columns: tag.
  warnings.warn(

table 1241 uploaded
2800 started
table 179497 uploaded
32314 started
table 27326 uploaded
5021 started
table 430 uploaded
31152 started
table 39516 uploaded
3969 started
table 71518 uploaded
188215 started
table 27134 uploaded
101112 started
table 161920 uploaded
171141 started
table 91227 uploaded
102716 started
table 108529 uploaded
192307 started
table 7147 uploaded
110407 started
table 2800 uploaded
60522 started
table 88572 uploaded
166558 started
table 3969 uploaded
171109 started
table 4657 uploaded
2599 started
table 175187 uploaded
101360 started
table 5021 uploaded
174645 started
table 32314 uploaded
26220 started
table 31152 uploaded
86866 started
table 101112 uploaded
144482 started
table 188215 uploaded
87485 started
table 171141 uploaded
829 started
table 192307 uploaded
99058 started
table 60522 uploaded
79006 started
table 102716 uploaded
87909 started
table 166558 uploaded
7244 started
table 171109 uploaded
74014 started
table 2599 uploaded
6548 started
table 174645 uploaded
169954 started
table 26220 uploaded
4468 started
table 110407 uploaded
48957 started
table 144482 uploaded
64614 started
table 101360 uploaded
1087 started
table 87485 uploaded
59116 started
table 86866 uploaded
96726 started

/opt/conda/lib/python3.10/site-packages/google/cloud/bigquery/_pandas_helpers.py:603: UserWarning: Pyarrow could not determine the type of columns: tag.
  warnings.warn(

table 829 uploaded
131451 started
table 79006 uploaded
168174 started
table 87909 uploaded
944 started
table 74014 uploaded
60684 started
table 7244 uploaded
3205 started
table 6548 uploaded
69503 started
table 169954 uploaded
2869 started

/opt/conda/lib/python3.10/site-packages/google/cloud/bigquery/_pandas_helpers.py:603: UserWarning: Pyarrow could not determine the type of columns: tag.
  warnings.warn(

table 1087 uploaded
4349 started
table 64614 uploaded
26370 started
table 48957 uploaded
103819 started
table 59116 uploaded
551 started
table 99058 uploaded
82366 started
table 168174 uploaded
2135 started
table 4468 uploaded
95533 started
table 60684 uploaded
61818 started
table 96726 uploaded
2202 started
table 3205 uploaded
73822 started
table 131451 uploaded
109781 started
table 4349 uploaded
187323 started
table 944 uploaded
4644 started
table 551 uploaded
89069 started
table 82366 uploaded
141131 started
table 69503 uploaded
95 started
table 103819 uploaded
1318 started
table 26370 uploaded
97597 started
table 2869 uploaded
6684 started
table 61818 uploaded
5554 started
table 2202 uploaded
132648 started
table 95533 uploaded
168910 started
table 109781 uploaded
106540 started
table 4644 uploaded
90345 started
table 1318 uploaded
7566 started
table 187323 uploaded
145935 started
table 141131 uploaded
4339 started
table 95 uploaded
68548 started
table 6684 uploaded
49412 started
table 97597 uploaded
7261 started
table 73822 uploaded
90873 started
table 132648 uploaded
2301 started
table 106540 uploaded
5522 started
table 5554 uploaded
26150 started
table 90345 uploaded
659 started
table 89069 uploaded
83374 started
table 145935 uploaded
95223 started
table 90873 uploaded
184253 started
table 7566 uploaded
5760 started
table 4339 uploaded
7742 started
table 68548 uploaded
109629 started
table 2301 uploaded
3505 started
table 49412 uploaded
73323 started
table 168910 uploaded
2724 started
table 5522 uploaded
3214 started
table 7261 uploaded
162344 started
table 659 uploaded
107304 started
table 83374 uploaded
49929 started
table 7742 uploaded
2264 started
table 26150 uploaded
8537 started
table 184253 uploaded
59527 started
table 95223 uploaded
90374 started
table 109629 uploaded
115147 started
table 2724 uploaded
7775 started
table 73323 uploaded
175407 started
table 162344 uploaded
100515 started
table 3505 uploaded
3788 started
table 3214 uploaded
114925 started
table 8537 uploaded
4572 started
table 2264 uploaded
4629 started
table 90374 uploaded
71462 started
table 5760 uploaded
27671 started
table 59527 uploaded
62439 started
table 107304 uploaded
27675 started
table 175407 uploaded
134101 started
table 49929 uploaded
4036 started
table 115147 uploaded
3148 started
table 100515 uploaded
382 started
table 7775 uploaded
88839 started
table 4572 uploaded
5928 started
table 71462 uploaded
62208 startedtable 3788 uploaded

2422 started
table 114925 uploaded
31998 started
table 4629 uploaded
120468 started
table 27671 uploaded
8516 started
table 27675 uploaded
172343 started
table 3148 uploaded
6553 started
table 134101 uploaded
176487 started
table 62439 uploaded
51004 started
table 382 uploaded
108797 started
table 120468 uploaded
30942 started
table 88839 uploaded
3581 started
table 4036 uploaded
5947 started
table 62208 uploaded
186351 started
table 5928 uploaded
88646 started
table 8516 uploaded
764 started
table 6553 uploaded
38843 started
table 2422 uploaded
477 started
table 31998 uploaded
87298 started
table 176487 uploaded
184069 started
table 30942 uploaded
5418 started
table 5947 uploaded
47484 started
table 51004 uploaded
99087 started
table 3581 uploaded
74795 started
table 172343 uploaded
85179 started
table 108797 uploaded
135202 started
table 186351 uploaded
7068 started
table 88646 uploaded
6427 started
table 47484 uploaded
88092 started
table 87298 uploaded
50912 started
table 477 uploaded
179901 started
table 764 uploaded
915 started
table 2135 uploaded
1735 started
table 99087 uploaded
70663 started
table 85179 uploaded
85777 started
table 38843 uploaded
3169 started
table 184069 uploaded
1647 started
table 74795 uploaded
84770 started
table 7068 uploaded
115687 started
table 6427 uploaded
61257 started
table 5418 uploaded
179411 started
table 179901 uploaded
8364 started
table 915 uploaded
188679 started
table 1735 uploaded
167856 started
table 135202 uploaded
68858 started
table 88092 uploaded
151345 started
table 70663 uploadedtable 1647 uploaded

903 started89969 started

table 50912 uploaded
115907 started
table 84770 uploaded
1251 started
table 3169 uploaded
6614 started
table 179411 uploaded
141806 started
table 61257 uploaded
69986 started
table 8364 uploaded
26581 started
table 188679 uploaded
27297 started
table 167856 uploaded
110324 started
table 115687 uploaded
161111 started
table 68858 uploaded
133377 started
table 903 uploaded
3392 started
table 89969 uploaded
183703 started
table 85777 uploaded
4523 started
table 6614 uploaded
82931 started
table 1251 uploaded
141139 started
table 115907 uploaded
2 started
table 110324 uploaded
145915 started
table 141806 uploaded
127206 started
table 133377 uploaded
285 started
table 151345 uploaded
116138 started
table 161111 uploaded
26538 started
table 26581 uploaded
4962 started
table 141139 uploaded
44972 started
table 69986 uploaded
6576 started
table 27297 uploaded
71533 started
table 3392 uploaded
27003 started
table 82931 uploaded
34150 started
table 183703 uploaded
64114 started
table 2 uploaded
5093 started
table 145915 uploaded
6246 started
table 127206 uploaded
98629 started
table 285 uploaded
902 started
table 26538 uploaded
4879 started
table 4523 uploaded
4313 started
table 116138 uploaded
6143 started
table 6576 uploaded
108983 started
table 27003 uploaded
140160 started
table 71533 uploaded
110346 started
table 6246 uploaded
50066 started
table 98629 uploaded
99124 started
table 64114 uploaded
25996 started
table 34150 uploaded
8969 started
table 902 uploaded
71168 started
table 4962 uploaded
1126 started
table 4313 uploaded
5884 started
table 6143 uploaded
45382 started
table 5093 uploaded
63237 started
table 140160 uploaded
2156 started

/opt/conda/lib/python3.10/site-packages/google/cloud/bigquery/_pandas_helpers.py:603: UserWarning: Pyarrow could not determine the type of columns: tag.
  warnings.warn(

table 110346 uploaded
185545 started
table 44972 uploaded
5079 started
table 108983 uploaded
55732 started
table 4879 uploaded
91537 started
table 50066 uploaded
119705 started
table 8969 uploaded
89761 started
table 99124 uploaded
4382 started
table 45382 uploaded
487 started
table 25996 uploaded
8292 started
table 5884 uploaded
3324 started
table 71168 uploaded
6603 started
table 1126 uploaded
133205 started
table 55732 uploaded
6443 started
table 5079 uploaded
26268 started
table 119705 uploaded
2699 started
table 63237 uploaded
107737 started
table 91537 uploaded
1270 started
table 2156 uploaded
36527 started
table 89761 uploaded
5687 started
table 4382 uploaded
7773 started
table 185545 uploaded
107953 started
table 487 uploaded
5937 started
table 6603 uploaded
7031 started
table 3324 uploaded
97744 started
table 8292 uploaded
150278 started
table 26268 uploaded
86298 started
table 6443 uploaded
81381 started
table 2699 uploaded
1621 started
table 36527 uploaded
5713 started
table 133205 uploaded
161622 started
table 1270 uploaded
78266 started
table 5687 uploaded
127116 started
table 107737 uploaded
136016 started
table 107953 uploaded
114074 started
table 97744 uploaded
34155 started
table 5937 uploaded
438 started
table 150278 uploaded
103606 started
table 7031 uploaded
189399 started
table 81381 uploaded
59607 started
table 5713 uploaded
110295 started
table 86298 uploaded
70295 started
table 78266 uploaded
132122 started
table 7773 uploaded
87192 started
table 136016 uploaded
82667 started
table 161622 uploaded
1246 started
table 438 uploaded
2963 started
table 1621 uploaded
479 startedtable 127116 uploaded

1654 started
table 114074 uploaded
142150 started
table 59607 uploaded
170901 started
table 103606 uploaded
3937 started
table 189399 uploaded
6832 started
table 70295 uploaded
6950 started
table 132122 uploaded
6590 started
table 87192 uploaded
7353 started
table 110295 uploaded
88672 started
table 82667 uploaded
143033 started
table 1246 uploaded
172223 started
table 34155 uploaded
1537 started
table 479 uploaded
31878 started
table 1654 uploaded
26271 started
table 170901 uploaded
27022 started
table 3937 uploaded
2127 started
table 6832 uploaded
31522 started
table 6950 uploaded
7410 started
table 6590 uploaded
65631 started
table 142150 uploaded
44759 started
table 172223 uploaded
2753 started
table 1537 uploaded
3052 started
table 7353 uploaded
4035 started
table 26271 uploaded
2081 started
table 31878 uploaded
8450 started
table 2127 uploaded
113207 started
table 88672 uploaded
58154 started
table 31522 uploaded
47601 started
table 143033 uploaded
3125 started
table 2963 uploaded
6855 started
table 65631 uploaded
25908 started
table 4035 uploaded
8422 started
table 27022 uploaded
45891 started
table 7410 uploaded
5792 started
table 2081 uploaded
84090 started
table 44759 uploaded
3239 started
table 3052 uploaded
1025 started
table 113207 uploaded
190939 started
table 3125 uploaded
88564 started
table 2753 uploaded
1880 started
table 8450 uploaded
54193 started
table 58154 uploaded
180591 started
table 6855 uploaded
6751 started
table 25908 uploaded
4185 started
table 8422 uploaded
194762 started
table 45891 uploaded
91325 started
table 5792 uploaded
176621 started

/opt/conda/lib/python3.10/site-packages/google/cloud/bigquery/_pandas_helpers.py:603: UserWarning: Pyarrow could not determine the type of columns: tag.
  warnings.warn(

table 47601 uploaded
121316 started
table 88564 uploaded
58718 started
table 84090 uploaded
156002 started
table 1025 uploaded
904 started
table 190939 uploaded
147 started
table 3239 uploaded
27797 started
table 1880 uploaded
60110 started
table 194762 uploaded
84242 started
table 6751 uploaded
120919 started
table 180591 uploaded
1431 started
table 4185 uploaded
2449 started
table 54193 uploaded
66506 started
table 904 uploaded
170611 started
table 58718 uploaded
61071 started
table 91325 uploaded
111680 started
table 121316 uploaded
8760 started
table 176621 uploaded
3980 started
table 156002 uploaded
112689 started
table 147 uploaded
168420 started
table 60110 uploaded
107848 started
table 120919 uploaded
849 started
table 84242 uploaded
44719 started
table 66506 uploaded
87304 started
table 1431 uploaded
2970 started
table 2449 uploaded
69704 started
table 61071 uploaded
109295 started
table 27797 uploaded
159696 started
table 112689 uploaded
3531 started
table 8760 uploaded
184099 started

/opt/conda/lib/python3.10/site-packages/google/cloud/bigquery/_pandas_helpers.py:603: UserWarning: Pyarrow could not determine the type of columns: tag.
  warnings.warn(

table 170611 uploaded
2577 started
table 111680 uploaded
8578 started
table 168420 uploaded
6101 started
table 3980 uploaded
577 started
table 107848 uploaded
65567 started
table 44719 uploaded
130 started
table 87304 uploaded
114700 started
table 849 uploaded
3535 started
table 109295 uploaded
79228 started
table 2970 uploaded
62 started
table 69704 uploaded
605 started
table 8578 uploaded
157278 started
table 184099 uploaded
29 started
table 3531 uploaded
9005 started
table 2577 uploaded
6918 started
table 159696 uploaded
8420 started
table 130 uploaded
26340 started
table 114700 uploaded
136353 started
table 6101 uploaded
139795 started

/opt/conda/lib/python3.10/site-packages/google/cloud/bigquery/_pandas_helpers.py:603: UserWarning: Pyarrow could not determine the type of columns: tag.
  warnings.warn(
/opt/conda/lib/python3.10/site-packages/google/cloud/bigquery/_pandas_helpers.py:603: UserWarning: Pyarrow could not determine the type of columns: tag.
  warnings.warn(

table 65567 uploaded
140862 started
table 79228 uploaded
162608 started
table 577 uploaded
7624 started
table 3535 uploaded
6852 started
table 605 uploaded
1835 started
table 29 uploaded
54734 started
table 6918 uploaded
148685 started
table 9005 uploaded
70877 started
table 8420 uploaded
155830 started
table 26340 uploaded
181267 started
table 157278 uploaded
6192 started
table 7624 uploaded
168060 started
table 62 uploaded
78774 started
table 136353 uploaded
6672 started
table 6852 uploaded
134117 started
table 139795 uploaded
197203 started
table 162608 uploaded
167842 started
table 140862 uploaded
2451 started
table 1835 uploaded
4923 started
table 54734 uploaded
112905 started
table 181267 uploaded
77561 started
table 148685 uploaded
7318 started
table 78774 uploaded
68226 started
table 70877 uploaded
150848 started
table 155830 uploaded
1652 started
table 134117 uploaded
7074 started
table 6192 uploaded
4189 started
table 6672 uploaded
44903 started
table 167842 uploaded
52495 started
table 168060 uploaded
26211 started
table 2451 uploaded
211 started
table 4923 uploaded
56744 started
table 197203 uploaded
7769 started
table 77561 uploaded
139092 started
table 7074 uploaded
48660 started
table 1652 uploaded
112497 started
table 112905 uploaded
200638 started
table 52495 uploaded
6646 started
table 150848 uploaded
5460 started
table 4189 uploaded
86487 started
table 68226 uploaded
194200 started
table 211 uploaded
107901 started
table 44903 uploadedtable 26211 uploaded

5060 started
2553 started
table 7769 uploaded
3129 started
table 56744 uploaded
160289 started
table 5460 uploaded
209 started
table 194200 uploaded
201368 started
table 139092 uploaded
table 5060 uploaded158972 started
446 started

table 112497 uploaded
5400 started
table 3129 uploaded
86355 started
table 48660 uploaded
132153 started
table 6646 uploaded
46108 started
table 107901 uploaded
2972 started
table 86487 uploaded
110503 started
table 2553 uploaded
1718 started
table 160289 uploaded
5743 started
table 200638 uploaded
1043 started
table 201368 uploaded
170961 started
table 209 uploaded
906 started
table 5400 uploaded
141648 started
table 446 uploaded
4341 started
table 158972 uploaded
180231 started
table 132153 uploaded
5641 started
table 2972 uploaded
4981 started
table 1718 uploaded
31696 started
table 86355 uploaded
76776 started
table 46108 uploaded
187613 started
table 170961 uploaded
27864 started
table 5743 uploaded
1879 started
table 110503 uploaded
46770 started
table 141648 uploaded
153790 started
table 180231 uploaded
4439 started
table 906 uploaded
53002 started
table 5641 uploaded
1795 started
table 4341 uploaded
126963 started
table 27864 uploaded
67 started
table 187613 uploaded
6232 started
table 4981 uploaded
126008 started
table 76776 uploaded
57964 started
table 4439 uploaded
176933 started
table 1043 uploaded
89371 started
table 46770 uploaded
89629 started
table 31696 uploaded
68690 started
table 1879 uploaded
64037 started
table 1795 uploaded
131237 started
table 53002 uploaded
1256 started
table 153790 uploaded
109183 started
table 6232 uploaded
87279 started
table 126008 uploaded
6834 started

/opt/conda/lib/python3.10/site-packages/google/cloud/bigquery/_pandas_helpers.py:603: UserWarning: Pyarrow could not determine the type of columns: tag.
  warnings.warn(

table 89371 uploaded
84262 started
table 89629 uploaded
8771 started
table 57964 uploaded
60341 started
table 68690 uploaded
86644 started
table 176933 uploaded
147290 started
table 131237 uploaded
4175 started

/opt/conda/lib/python3.10/site-packages/google/cloud/bigquery/_pandas_helpers.py:603: UserWarning: Pyarrow could not determine the type of columns: tag.
  warnings.warn(

table 64037 uploaded
3696 started
table 126963 uploaded
38384 started
table 87279 uploaded
184445 started
table 1256 uploaded
99731 started
table 109183 uploaded
6409 started
table 8771 uploaded
132616 started
table 6834 uploaded
88724 started
table 67 uploaded
158866 started

/opt/conda/lib/python3.10/site-packages/google/cloud/bigquery/_pandas_helpers.py:603: UserWarning: Pyarrow could not determine the type of columns: tag.
  warnings.warn(

table 4175 uploaded
158238 started
table 60341 uploaded
139713 started
table 84262 uploaded
3902 started
table 147290 uploaded
41585 started
table 3696 uploaded
7749 started
table 184445 uploaded
116857 started
table 86644 uploaded
5908 started
table 38384 uploaded
30820 started
table 158866 uploaded
6558 started
table 99731 uploaded
1262 started
table 88724 uploaded
104457 started
table 132616 uploaded
7062 started
table 6409 uploaded
201314 started
table 158238 uploaded
7786 started
table 139713 uploaded
79809 started
table 3902 uploaded
96058 started
table 116857 uploaded
70206 started
table 41585 uploaded
57243 started
table 5908 uploaded
58652 started
table 1262 uploadedtable 6558 uploaded

31193 started7334 started

table 201314 uploaded
1329 started
table 104457 uploaded
107159 started
table 7749 uploaded
81417 started
table 7786 uploaded
4335 started
table 96058 uploaded
26049 started
table 70206 uploaded
774 started
table 79809 uploaded
36509 started
table 7062 uploaded
2920 started
table 30820 uploaded
5686 started
table 31193 uploaded
53916 started
table 58652 uploaded
130448 started
table 107159 uploaded
27096 started
table 57243 uploaded
160432 started

/opt/conda/lib/python3.10/site-packages/google/cloud/bigquery/_pandas_helpers.py:603: UserWarning: Pyarrow could not determine the type of columns: tag.
  warnings.warn(

table 7334 uploaded
58047 started
table 1329 uploaded
45942 started
table 81417 uploaded
2281 started
table 4335 uploaded
26128 started
table 2920 uploaded
6518 started
table 36509 uploaded
118166 started
table 130448 uploaded
70130 started
table 5686 uploaded
1934 started
table 26049 uploaded
8901 started
table 774 uploaded
2681 started
table 58047 uploaded
8795 started
table 53916 uploaded
2033 started
table 45942 uploaded
65660 started
table 27096 uploaded
130496 started
table 26128 uploaded
2180 started
table 2281 uploaded
101670 started
table 6518 uploaded
130992 started
table 118166 uploaded
3605 started
table 160432 uploaded
34048 started
table 8795 uploaded
2088 started
table 2033 uploaded
1082 started
table 1934 uploaded
37739 started
table 70130 uploaded
6179 started
table 130496 uploaded
7368 started
table 8901 uploaded
85129 started

/opt/conda/lib/python3.10/site-packages/google/cloud/bigquery/_pandas_helpers.py:603: UserWarning: Pyarrow could not determine the type of columns: tag.
  warnings.warn(

table 2681 uploaded
60126 started
table 65660 uploaded
51520 started
table 130992 uploaded
4312 started
table 101670 uploaded
71404 started
table 2180 uploaded
190085 started
table 3605 uploaded
7304 started
table 34048 uploaded
159177 started
table 60126 uploaded
110127 started
table 7368 uploaded
112767 started
table 51520 uploaded
26778 started
table 6179 uploaded
4694 started
table 85129 uploaded
7331 started
table 2088 uploaded
6515 startedtable 4312 uploaded

177069 started
table 1082 uploaded
475 started
table 7318 uploaded
151647 started

/opt/conda/lib/python3.10/site-packages/google/cloud/bigquery/_pandas_helpers.py:603: UserWarning: Pyarrow could not determine the type of columns: tag.
  warnings.warn(

table 190085 uploaded
1221 started
table 37739 uploaded
114945 started
table 71404 uploaded
5267 started
table 159177 uploaded
108190 started
table 7304 uploaded
34271 started
table 110127 uploaded
1824 started
table 6515 uploaded
5945 started
table 26778 uploaded
73776 started
table 4694 uploaded
5631 started

/opt/conda/lib/python3.10/site-packages/google/cloud/bigquery/_pandas_helpers.py:603: UserWarning: Pyarrow could not determine the type of columns: tag.
  warnings.warn(

table 112767 uploaded
2994 started
table 475 uploaded
1045 started
table 114945 uploaded
8544 started
table 1221 uploaded
47642 started
table 177069 uploadedtable 5267 uploaded

275 started6440 started

table 108190 uploaded
51662 started
table 151647 uploaded
117590 started
table 7331 uploaded
177287 started
table 1824 uploaded
69304 started
table 34271 uploaded
107357 started
table 2994 uploaded
5639 started
table 5945 uploaded
45447 started
table 1045 uploaded
192701 started
table 73776 uploaded
4044 started
table 5631 uploaded
8469 started
table 6440 uploaded
81702 started

/opt/conda/lib/python3.10/site-packages/google/cloud/bigquery/_pandas_helpers.py:603: UserWarning: Pyarrow could not determine the type of columns: tag.
  warnings.warn(

table 8544 uploaded
4851 started
table 47642 uploaded
3451 started
table 177287 uploaded
3094 started
table 51662 uploaded
131714 started
table 275 uploaded
96121 started
table 5639 uploaded
84444 started
table 45447 uploaded
79846 started
table 69304 uploaded
4559 started
table 117590 uploaded
186953 started

/opt/conda/lib/python3.10/site-packages/google/cloud/bigquery/_pandas_helpers.py:603: UserWarning: Pyarrow could not determine the type of columns: tag.
  warnings.warn(

table 192701 uploaded
71189 started
table 3451 uploaded
5933 started
table 81702 uploaded
8199 started
table 4851 uploaded
99371 started
table 3094 uploaded
2224 started
table 8469 uploaded
164909 started
table 4044 uploaded
195849 started
table 84444 uploaded
78081 started
table 79846 uploaded
106918 started
table 186953 uploaded
191483 started
table 96121 uploaded
53373 started
table 71189 uploaded
95543 started
table 5933 uploaded
40966 started
table 131714 uploaded
table 4559 uploaded25801 started

88069 started
table 99371 uploaded
4495 started
table 164909 uploaded
235 started
table 8199 uploaded
27856 started
table 107357 uploaded
65261 started
table 2224 uploaded
135567 started
table 191483 uploaded
100169 started
table 78081 uploaded
36511 started
table 95543 uploaded
3053 started
table 195849 uploaded
45658 started
table 53373 uploaded
2194 started
table 88069 uploaded
94813 started
table 4495 uploaded
62277 started

/opt/conda/lib/python3.10/site-packages/google/cloud/bigquery/_pandas_helpers.py:603: UserWarning: Pyarrow could not determine the type of columns: tag.
  warnings.warn(

table 106918 uploaded
143275 started
table 25801 uploaded
97395 started
table 40966 uploaded
6195 started
table 65261 uploaded
884 started

/opt/conda/lib/python3.10/site-packages/google/cloud/bigquery/_pandas_helpers.py:603: UserWarning: Pyarrow could not determine the type of columns: tag.
  warnings.warn(

table 27856 uploaded
102354 started
table 3053 uploaded
69542 started
table 135567 uploaded
141799 started
table 94813 uploaded
74630 started
table 45658 uploaded
125565 started
table 36511 uploaded
3457 started
table 2194 uploaded
33988 started
table 62277 uploaded
3610 started
table 235 uploaded
173629 started
table 100169 uploaded
7821 started
table 143275 uploaded
142602 started
table 6195 uploaded
36276 started
table 97395 uploaded
2314 started
table 884 uploaded
167738 started
table 125565 uploaded
171271 started
table 69542 uploaded
110339 started
table 141799 uploaded
144196 started
table 33988 uploaded
1471 started
table 102354 uploaded
124273 started
table 3610 uploaded
120807 started
table 36276 uploaded
437 started
table 74630 uploaded
147200 started
table 173629 uploaded
2877 started
table 3457 uploaded
73572 started
table 2314 uploaded
55995 started
table 142602 uploaded
5003 started
table 167738 uploaded
2294 started
table 144196 uploaded
140162 started
table 7821 uploaded
51638 started
table 1471 uploaded
95021 started

/opt/conda/lib/python3.10/site-packages/google/cloud/bigquery/_pandas_helpers.py:603: UserWarning: Pyarrow could not determine the type of columns: tag.
  warnings.warn(

table 120807 uploaded
7069 started
table 171271 uploaded
2935 started
table 2877 uploaded
96252 started
table 437 uploaded
49647 started
table 124273 uploaded
table 73572 uploaded7993 started

112897 started
table 55995 uploaded
89194 started
table 147200 uploaded
1958 started
table 2294 uploaded
89028 started
table 5003 uploaded
158382 started
table 140162 uploaded
2791 started
table 110339 uploaded
109280 started
table 96252 uploaded
147911 started
table 49647 uploaded
129913 started
table 7069 uploaded
139879 started
table 95021 uploaded
134515 started
table 51638 uploaded
692 started
table 112897 uploaded
1872 started
table 2935 uploaded
25947 started
table 1958 uploaded
8577 started
table 7993 uploaded
8665 started
table 2791 uploaded
112556 started
table 89194 uploaded
51084 started
table 147911 uploaded
8596 started
table 158382 uploaded
187541 started
table 109280 uploaded
7578 started
table 692 uploaded
66511 started
table 129913 uploaded
48543 started
table 134515 uploaded
88129 started
table 8665 uploaded
4785 started
table 1872 uploaded
175441 started
table 139879 uploaded
7617 started
table 25947 uploaded
6236 started
table 8577 uploaded
296 started
table 187541 uploaded
79388 started

/opt/conda/lib/python3.10/site-packages/google/cloud/bigquery/_pandas_helpers.py:603: UserWarning: Pyarrow could not determine the type of columns: tag.
  warnings.warn(

table 8596 uploaded
72998 started
table 51084 uploaded
178447 started
table 112556 uploaded
132056 started
table 89028 uploaded
4769 started
table 7578 uploaded
3733 started
table 7617 uploaded
530 started
table 48543 uploaded
82186 started
table 66511 uploaded
92122 started
table 4785 uploaded
5719 started
table 175441 uploaded
5931 started
table 72998 uploaded
table 296 uploaded86 started

72224 started
table 4769 uploaded
140956 startedtable 79388 uploaded

43928 started
table 178447 uploaded
65868 started
table 3733 uploaded
92836 started
table 132056 uploaded
2950 started
table 6236 uploaded
5250 started
table 88129 uploaded
172795 started
table 530 uploaded
7584 started
table 92122 uploaded
103655 started
table 5719 uploaded
3108 started
table 82186 uploaded
132977 started
table 5931 uploaded
76119 started
table 72224 uploaded
4817 started
table 43928 uploaded
6966 started
table 2950 uploaded
100511 started
table 92836 uploaded
633 started
table 86 uploaded
7492 started
table 65868 uploaded
148683 started
table 5250 uploaded
5807 started
table 7584 uploaded
165933 started
table 140956 uploaded
5927 started
table 172795 uploaded
722 started
table 76119 uploaded
55926 started
table 6966 uploaded
87287 started
table 132977 uploaded
639 started
table 633 uploaded
94469 started
table 3108 uploaded
6015 started

/opt/conda/lib/python3.10/site-packages/google/cloud/bigquery/_pandas_helpers.py:603: UserWarning: Pyarrow could not determine the type of columns: tag.
  warnings.warn(

table 7492 uploaded
169264 started
table 148683 uploaded
2621 started
table 100511 uploaded
8825 started
table 103655 uploaded
98361 started
table 165933 uploaded
2797 started
table 5807 uploaded
307 started
table 722 uploaded
131502 started
table 5927 uploaded
118236 started
table 8825 uploaded
51167 started
table 639 uploaded
164729 started
table 6015 uploaded
71902 started
table 87287 uploaded
27871 started
table 94469 uploaded
3211 started
table 98361 uploaded
7770 started
table 2621 uploaded
5681 started

/opt/conda/lib/python3.10/site-packages/google/cloud/bigquery/_pandas_helpers.py:603: UserWarning: Pyarrow could not determine the type of columns: tag.
  warnings.warn(

table 55926 uploaded
4027 started
table 131502 uploaded
86985 started
table 307 uploaded
188207 started
table 169264 uploaded
61950 started
table 164729 uploaded
62718 started
table 118236 uploaded
103525 started
table 71902 uploaded
157200 started
table 5681 uploaded
31628 started
table 2797 uploaded
2051 started
table 3211 uploaded
33410 started
table 188207 uploaded
table 51167 uploaded168328 started

8991 started
table 4027 uploaded
7287 started
table 27871 uploaded
4594 started
table 7770 uploaded
5659 started
table 86985 uploaded
160882 started
table 62718 uploaded
611 started
table 157200 uploaded
147252 started
table 103525 uploaded
6294 started
table 61950 uploaded
66371 started
table 31628 uploaded
135536 started
table 4817 uploaded
7413 started
table 2051 uploaded
127234 started
table 33410 uploaded
70567 startedtable 5659 uploaded

59842 started
table 160882 uploaded
6856 started
table 7287 uploaded
192391 started

/opt/conda/lib/python3.10/site-packages/google/cloud/bigquery/_pandas_helpers.py:603: UserWarning: Pyarrow could not determine the type of columns: tag.
  warnings.warn(

table 8991 uploaded
54580 started
table 4594 uploaded
3477 started
table 168328 uploaded
98755 started
table 147252 uploaded
152680 started
table 66371 uploaded
99530 started
table 135536 uploaded
157667 started
table 611 uploaded
2461 started
table 6294 uploaded
2220 started
table 127234 uploaded
2153 started
table 70567 uploaded
139805 started
table 192391 uploaded
45335 started
table 7413 uploaded
102407 started
table 59842 uploaded
6053 started
table 6856 uploaded
33660 started

/opt/conda/lib/python3.10/site-packages/google/cloud/bigquery/_pandas_helpers.py:603: UserWarning: Pyarrow could not determine the type of columns: tag.
  warnings.warn(

table 152680 uploaded
6460 started
table 54580 uploaded
5507 started
table 99530 uploaded
4818 started
table 2220 uploaded
166 started
table 98755 uploaded
8648 started
table 3477 uploaded
129370 started
table 157667 uploaded
4142 started
table 2461 uploaded
169880 started
table 139805 uploaded
105943 started
table 45335 uploaded
707 started
table 2153 uploaded
1686 started
table 33660 uploaded
84696 started
table 5507 uploaded
5301 started
table 6053 uploaded
77979 started
table 6460 uploaded
186339 started
table 102407 uploaded
7332 started
table 129370 uploaded
178639 started
table 4142 uploaded
7017 started
table 166 uploaded
120835 started
table 169880 uploaded
1704 started
table 8648 uploaded
166721 started
table 105943 uploaded
8511 started
table 4818 uploaded
2089 started
table 707 uploaded
142909 started
table 1686 uploaded
134708 started
table 77979 uploaded
54995 started
table 84696 uploaded
50651 started
table 186339 uploaded
26757 started
table 5301 uploaded
4897 started
table 7332 uploaded
603 started

/opt/conda/lib/python3.10/site-packages/google/cloud/bigquery/_pandas_helpers.py:603: UserWarning: Pyarrow could not determine the type of columns: tag.
  warnings.warn(

table 178639 uploaded
151900 started
table 1704 uploaded
6456 started
table 2089 uploaded
177615 started
table 8511 uploaded
1796 started
table 142909 uploaded
32906 started
table 7017 uploaded
52299 started
table 120835 uploaded
31349 started
table 134708 uploaded
31374 started
table 50651 uploaded
1974 started
table 4897 uploaded
131660 started

/opt/conda/lib/python3.10/site-packages/google/cloud/bigquery/_pandas_helpers.py:603: UserWarning: Pyarrow could not determine the type of columns: tag.
  warnings.warn(

table 54995 uploaded
58332 started
table 603 uploaded
58376 started
table 26757 uploaded
133141 started

/opt/conda/lib/python3.10/site-packages/google/cloud/bigquery/_pandas_helpers.py:603: UserWarning: Pyarrow could not determine the type of columns: tag.
  warnings.warn(

table 166721 uploaded
87 started
table 32906 uploaded
34696 started
table 52299 uploaded
1970 started
table 1796 uploaded
1014 started
table 6456 uploaded
7844 started
table 177615 uploaded
36083 started
table 31349 uploaded
4925 started
table 1974 uploaded
5738 started
table 151900 uploaded
8864 started
table 131660 uploaded
8331 started
table 87 uploaded
158854 started
table 58376 uploaded
172813 started
table 133141 uploaded
71239 started
table 34696 uploaded
5083 started
table 7844 uploaded
6318 started
table 31374 uploaded
7307 started
table 58332 uploaded
88950 started
table 1970 uploaded
2951 started
table 36083 uploaded
112288 started
table 5738 uploaded
6653 started
table 1014 uploaded
5923 started
table 8864 uploaded
59376 started
table 8331 uploaded
200256 started
table 4925 uploaded
71838 started
table 172813 uploaded
4765 started
table 158854 uploaded
3869 started
table 5083 uploaded
3400 started
table 71239 uploaded
4067 started
table 6318 uploaded
133185 started
table 112288 uploaded
4096 started
table 2951 uploaded
4493 started
table 7307 uploaded
3274 started
table 6653 uploaded
186003 started
table 5923 uploaded
1168 started
table 88950 uploaded
141820 started
table 4765 uploaded
7585 started
table 59376 uploaded
459 started
table 200256 uploaded
5264 started
table 3400 uploaded
87205 started
table 71838 uploaded
26870 started
table 186003 uploaded
81704 started
table 4096 uploaded
54978 started
table 4493 uploaded
96490 started
table 133185 uploaded
6662 started
table 3274 uploaded
36525 started
table 3869 uploaded
39768 started
table 7585 uploaded
147206 started
table 141820 uploaded
5802 started
table 4067 uploaded
4497 started
table 1168 uploaded
5026 started
table 459 uploaded
109321 started
table 5264 uploaded
78759 started
table 54978 uploaded
68069 started
table 36525 uploaded
50447 started
table 81704 uploaded
27376 started
table 6662 uploaded
174887 started
table 39768 uploaded
6107 started
table 5026 uploaded
5711 started
table 5802 uploaded
116171 started
table 4497 uploaded
5883 started
table 147206 uploaded
61 started
table 87205 uploaded
39796 started
table 26870 uploaded
440 started
table 96490 uploaded
117545 started
table 109321 uploaded
31921 started
table 78759 uploaded
2019 started
table 116171 uploaded
101884 started
table 27376 uploaded
49130 started
table 68069 uploaded
25976 started
table 61 uploaded
164103 started
table 5883 uploaded
27366 started

/opt/conda/lib/python3.10/site-packages/google/cloud/bigquery/_pandas_helpers.py:603: UserWarning: Pyarrow could not determine the type of columns: tag.
  warnings.warn(

table 440 uploaded
2168 started
table 6107 uploaded
91937 started
table 39796 uploaded
62836 started
table 5711 uploaded
140291 started
table 50447 uploaded
173845 started
table 2019 uploaded
34548 started
table 31921 uploaded
667 started
table 49130 uploaded
7303 started
table 174887 uploaded
1456 started
table 164103 uploaded
27729 started
table 117545 uploaded
89039 started
table 27366 uploaded
203513 started
table 34548 uploaded
59382 started
table 173845 uploaded
95197 started
table 2168 uploaded
182479 started
table 91937 uploaded
195165 started
table 7303 uploaded
93330 started
table 667 uploaded
table 25976 uploaded1825 started

78290 started
table 1456 uploaded
85312 started
table 140291 uploaded
8735 started
table 101884 uploaded
27641 started
table 89039 uploaded
2388 started
table 203513 uploaded
102800 started
table 27729 uploaded
100442 started
table 78290 uploaded
485 started
table 1825 uploaded
185435 started
table 195165 uploaded
58783 started
table 93330 uploaded
table 182479 uploaded
289 started
71579 started
table 95197 uploaded
32811 started
table 8735 uploaded
2714 started
table 85312 uploaded
72171 started
table 59382 uploaded
6338 started
table 27641 uploaded
4016 started
table 102800 uploaded
47330 started
table 2388 uploaded
99669 started
table 485 uploaded
95761 started
table 185435 uploaded
8961 started
table 100442 uploaded
202099 started

/opt/conda/lib/python3.10/site-packages/google/cloud/bigquery/_pandas_helpers.py:603: UserWarning: Pyarrow could not determine the type of columns: tag.
  warnings.warn(

table 32811 uploaded
31952 started
table 72171 uploaded
7583 started
table 58783 uploaded
5649 started
table 4016 uploaded
176105 started
table 2714 uploaded
93723 started
table 71579 uploaded
94931 started
table 95761 uploaded
table 47330 uploaded
135557 started94325 started

table 99669 uploaded
147228 started

/opt/conda/lib/python3.10/site-packages/google/cloud/bigquery/_pandas_helpers.py:603: UserWarning: Pyarrow could not determine the type of columns: tag.
  warnings.warn(

table 289 uploaded
55856 started
table 8961 uploaded
25806 started
table 6338 uploaded
124901 started
table 202099 uploaded
86066 started
table 93723 uploaded
33675 started
table 31952 uploaded
133945 started
table 94931 uploaded
26840 started
table 135557 uploaded
181355 started
table 7583 uploaded
8612 started

/opt/conda/lib/python3.10/site-packages/google/cloud/bigquery/_pandas_helpers.py:603: UserWarning: Pyarrow could not determine the type of columns: tag.
  warnings.warn(

table 176105 uploadedtable 5649 uploaded

6716 started134704 started

/opt/conda/lib/python3.10/site-packages/google/cloud/bigquery/_pandas_helpers.py:603: UserWarning: Pyarrow could not determine the type of columns: tag.
  warnings.warn(

table 94325 uploaded
47719 started
table 25806 uploaded
5342 started
table 147228 uploaded
44301 started
table 55856 uploaded
2269 started
table 86066 uploaded
66870 started
table 124901 uploaded
96214 started
table 133945 uploaded
60745 started
table 33675 uploaded
117531 started
table 181355 uploaded
81180 started
table 6716 uploaded
76137 started
table 134704 uploaded
7079 started
table 47719 uploaded
33826 started
table 5342 uploaded
2805 started
table 2269 uploaded
94939 started
table 26840 uploaded
335 started
table 81180 uploaded
8259 started
table 96214 uploaded
table 44301 uploaded
71205 started
947 started
table 66870 uploaded
3422 started
table 8612 uploaded
115065 started
table 7079 uploaded
6568 started
table 60745 uploaded
195159 started
table 33826 uploaded
60551 started
table 2805 uploaded
7888 started
table 76137 uploaded
2614 started
table 335 uploaded
4256 started
table 117531 uploaded
140174 started
table 71205 uploaded
3881 started
table 947 uploaded
4347 started
table 94939 uploaded
8573 started
table 3422 uploaded
8821 started
table 7888 uploaded
55280 started
table 8259 uploaded
222 started
table 195159 uploaded
61250 started
table 6568 uploaded
174455 started
table 115065 uploaded
6663 started
table 60551 uploaded
115071 started
table 140174 uploaded
106870 started
table 2614 uploaded
55080 started
table 4256 uploaded
62054 started
table 4347 uploaded
1240 started
table 3881 uploaded
56432 started
table 55280 uploaded
6702 started
table 6663 uploaded
1111 started
table 115071 uploaded
8423 started
table 8821 uploaded
2506 started
table 106870 uploaded
112138 started
table 174455 uploaded
3313 started
table 222 uploaded
86802 started
table 61250 uploaded
3439 started
table 62054 uploaded
58485 started
table 55080 uploaded
31165 started
table 62836 uploaded
141688 started
table 56432 uploaded
48638 started
table 8573 uploaded
7579 started
table 6702 uploaded
75351 started
table 1240 uploaded
143472 started
table 2506 uploaded
48061 started
table 3313 uploaded
100159 started
table 1111 uploaded
60885 started
table 112138 uploaded
1391 started
table 58485 uploaded
1022 started
table 141688 uploaded
204318 started
table 86802 uploaded
69354 started
table 3439 uploaded
58492 started
table 48638 uploaded
4662 started
table 8423 uploaded
69971 started
table 143472 uploaded
97065 started
table 31165 uploaded
4584 started

/opt/conda/lib/python3.10/site-packages/google/cloud/bigquery/_pandas_helpers.py:603: UserWarning: Pyarrow could not determine the type of columns: tag.
  warnings.warn(

table 7579 uploaded
39786 started
table 100159 uploaded
2239 started
table 1391 uploaded
2707 started
table 75351 uploaded
4591 started
table 60885 uploaded
91927 started
table 58492 uploaded
534 started
table 69354 uploaded
8366 started
table 69971 uploaded
183413 started
table 4662 uploaded
159403 started
table 204318 uploaded
3503 started
table 39786 uploaded
59810 started
table 2239 uploaded
148667 started
table 1022 uploaded
128235 started
table 48061 uploaded
6601 startedtable 4591 uploaded

529 started
table 4584 uploaded
1399 started
table 2707 uploaded
6958 started
table 91927 uploaded
99258 started
table 97065 uploaded
45940 started
table 183413 uploaded
133887 started
table 534 uploaded
214 started
table 3503 uploaded
143868 started
table 159403 uploaded
34538 started
table 8366 uploaded
114678 started
table 128235 uploaded
168862 started
table 148667 uploaded
5148 started
table 59810 uploaded
116529 started
table 1399 uploaded
65740 started
table 99258 uploaded
6321 started
table 6601 uploaded
90719 started
table 45940 uploaded
5363 started
table 6958 uploaded
96853 started
table 529 uploaded
1939 started
table 214 uploaded
4536 started
table 133887 uploaded
54190 started

/opt/conda/lib/python3.10/site-packages/google/cloud/bigquery/_pandas_helpers.py:603: UserWarning: Pyarrow could not determine the type of columns: tag.
  warnings.warn(

table 34538 uploaded
7179 started
table 168862 uploaded
8661 started
table 116529 uploaded
38038 started
table 114678 uploaded
45170 started
table 5148 uploaded
31026 started
table 6321 uploaded

/opt/conda/lib/python3.10/site-packages/google/cloud/bigquery/_pandas_helpers.py:603: UserWarning: Pyarrow could not determine the type of columns: tag.
  warnings.warn(

4531 started
table 5363 uploaded
60625 started
table 96853 uploaded
164369 started
table 54190 uploaded
table 1939 uploaded
720 started
144510 started

/opt/conda/lib/python3.10/site-packages/google/cloud/bigquery/_pandas_helpers.py:603: UserWarning: Pyarrow could not determine the type of columns: tag.
  warnings.warn(

table 65740 uploaded
90662 started
table 7179 uploaded
148482 started
table 4536 uploaded
176423 started
table 90719 uploaded
109853 started
table 143868 uploaded
72035 started
table 45170 uploaded
45656 started
table 8661 uploaded
6848 started
table 60625 uploaded
59727 started
table 164369 uploaded
5700 started
table 148482 uploaded
79912 started
table 31026 uploaded
78913 started
table 45656 uploaded
1254 started
table 90662 uploaded
193445 started
table 720 uploaded
108647 started
table 176423 uploaded
3989 started
table 4531 uploaded
83585 started
table 109853 uploaded
144262 started
table 144510 uploaded
3352 started
table 72035 uploaded
143476 started
table 38038 uploaded
203881 started
table 59727 uploaded
31367 started
table 1254 uploaded
table 5700 uploaded
1754 started
189 started
table 6848 uploaded
6976 started
table 78913 uploaded
6596 started
table 108647 uploaded
149552 started
table 79912 uploaded
53956 started
table 193445 uploaded
1189 started
table 3989 uploaded
82097 started
table 144262 uploaded
5033 started
table 1754 uploaded
table 143476 uploaded5523 started

27213 startedtable 31367 uploaded

8458 started
table 189 uploaded
42938 started
table 53956 uploaded
31700 started
table 203881 uploaded
table 1189 uploaded
4163 started
table 82097 uploaded
68173 started
147300 started
table 3352 uploaded
48596 started
table 6976 uploaded
3739 started
table 6596 uploaded
2249 started
table 149552 uploaded
2137 started
table 83585 uploaded
2944 started
table 5033 uploaded
115569 started
table 5523 uploaded
105954 started
table 8458 uploaded
6579 started
table 27213 uploaded
table 42938 uploaded
59615 started
66330 started
table 3739 uploaded
161956 started
table 68173 uploaded
8424 started
table 2249 uploaded
107557 started
table 31700 uploaded
27587 started
table 4163 uploaded
200818 started
table 48596 uploaded
455 started
table 2944 uploaded
55684 started
table 147300 uploaded
53443 started
table 2137 uploaded
6200 started
table 105954 uploaded
2747 started
table 115569 uploaded
4346 started
table 6579 uploaded
33288 started
table 161956 uploaded
26982 started
table 66330 uploaded
table 107557 uploaded
5390 started41724 started

table 8424 uploaded
828 started
table 59615 uploaded
39398 started
table 200818 uploaded
144444 started

/opt/conda/lib/python3.10/site-packages/google/cloud/bigquery/_pandas_helpers.py:603: UserWarning: Pyarrow could not determine the type of columns: tag.
  warnings.warn(

table 27587 uploaded
112412 started
table 6200 uploaded
172505 started
table 53443 uploaded
7220 started

/opt/conda/lib/python3.10/site-packages/google/cloud/bigquery/_pandas_helpers.py:603: UserWarning: Pyarrow could not determine the type of columns: tag.
  warnings.warn(

table 55684 uploaded
91715 started
table 4346 uploaded
2212 started
table 455 uploaded
170813 started
table 26982 uploaded
50208 started
table 33288 uploaded
73829 started

/opt/conda/lib/python3.10/site-packages/google/cloud/bigquery/_pandas_helpers.py:603: UserWarning: Pyarrow could not determine the type of columns: tag.
  warnings.warn(

table 2747 uploaded
46322 started
table 828 uploaded
27882 started
table 39398 uploaded
167986 started
table 144444 uploaded
74450 started
table 112412 uploaded
48043 started
table 7220 uploaded
57706 started
table 2212 uploaded
58610 started
table 41724 uploaded
107278 started
table 5390 uploaded
61493 started
table 91715 uploaded
730 started

/opt/conda/lib/python3.10/site-packages/google/cloud/bigquery/_pandas_helpers.py:603: UserWarning: Pyarrow could not determine the type of columns: tag.
  warnings.warn(

table 172505 uploaded
2120 started
table 170813 uploaded
822 started
table 46322 uploaded
4409 started
table 48043 uploaded
26377 started
table 73829 uploaded
103083 started
table 27882 uploaded
2232 started
table 50208 uploaded
44004 started
table 58610 uploaded
163066 started
table 167986 uploaded
4957 started
table 61493 uploaded
6436 started
table 74450 uploaded
97968 started
table 107278 uploaded
6031 started
table 4409 uploaded
62157 started
table 2120 uploaded
4999 started
table 730 uploaded
187595 started
table 26377 uploaded
5329 started
table 822 uploaded
127196 started
table 2232 uploaded
126072 started
table 6436 uploaded
27458 started
table 4957 uploaded
102677 started
table 57706 uploaded
3522 started
table 44004 uploaded
3953 started
table 103083 uploaded
183635 started
table 163066 uploaded
93939 started
table 97968 uploaded
85510 started
table 6031 uploaded
142084 started
table 62157 uploaded
7138 started
table 187595 uploaded
6424 started
table 127196 uploaded
1845 started
table 126072 uploaded
3431 started
table 27458 uploaded
table 102677 uploaded104762 started

5275 started
table 3953 uploaded
173895 started
table 85510 uploaded
52424 started
table 4999 uploaded
664 started
table 3522 uploaded
72356 started
table 142084 uploaded
138610 started
table 5329 uploaded
6371 started
table 93939 uploaded
107004 started
table 183635 uploaded
74266 started
table 1845 uploaded
2975 started

/opt/conda/lib/python3.10/site-packages/google/cloud/bigquery/_pandas_helpers.py:603: UserWarning: Pyarrow could not determine the type of columns: tag.
  warnings.warn(

table 3431 uploaded
4766 started
table 173895 uploaded
149572 started
table 104762 uploaded
49272 started
table 5275 uploaded
198667 started
table 72356 uploaded
134528 started
table 664 uploaded
79946 started
table 7138 uploaded
7280 started
table 52424 uploaded
2013 started
table 6424 uploaded
120222 started
table 74266 uploaded
113062 started
table 2975 uploaded
59362 started
table 6371 uploaded
106503 started
table 138610 uploaded
32584 started
table 107004 uploaded
53769 started
table 4766 uploaded
155076 started
table 49272 uploaded
117909 started
table 198667 uploaded
1392 started
table 134528 uploaded
74204 started
table 2013 uploaded
81804 started
table 7280 uploaded
55094 started
table 113062 uploaded
180261 started
table 106503 uploaded
91823 started
table 149572 uploaded
100509 started
table 32584 uploaded
179495 started
table 117909 uploaded
31447 started
table 53769 uploaded
34026 started
table 120222 uploaded
143029 started
table 59362 uploaded
102188 started
table 1392 uploaded
59838 started

/opt/conda/lib/python3.10/site-packages/google/cloud/bigquery/_pandas_helpers.py:603: UserWarning: Pyarrow could not determine the type of columns: tag.
  warnings.warn(

table 155076 uploaded
187561 started
table 79946 uploaded
1665 started
table 74204 uploaded
8651 started
table 55094 uploaded
172915 started

/opt/conda/lib/python3.10/site-packages/google/cloud/bigquery/_pandas_helpers.py:603: UserWarning: Pyarrow could not determine the type of columns: tag.
  warnings.warn(

table 180261 uploaded
745 started
table 100509 uploaded
161584 started
table 179495 uploaded
7703 started

/opt/conda/lib/python3.10/site-packages/google/cloud/bigquery/_pandas_helpers.py:603: UserWarning: Pyarrow could not determine the type of columns: tag.
  warnings.warn(

table 81804 uploaded
86884 started
table 31447 uploaded
2715 started
table 34026 uploaded
2876 started
table 143029 uploaded
27735 started
table 187561 uploaded
165337 started
table 172915 uploaded
117194 started
table 91823 uploaded
121255 started

/opt/conda/lib/python3.10/site-packages/google/cloud/bigquery/_pandas_helpers.py:603: UserWarning: Pyarrow could not determine the type of columns: tag.
  warnings.warn(

table 59838 uploaded
73858 started
table 102188 uploaded
1899 started
table 8651 uploaded
69654 started
table 745 uploaded
71 started
table 161584 uploaded
4758 started
table 1665 uploaded
97388 started
table 2715 uploaded
653 started
table 86884 uploadedtable 7703 uploaded

875 started
1325 started
table 117194 uploaded
114704 started
table 121255 uploaded
80648 started
table 27735 uploaded
64575 started
table 165337 uploaded
972 started
table 73858 uploaded
84260 started
table 1899 uploaded
150604 started

/opt/conda/lib/python3.10/site-packages/google/cloud/bigquery/_pandas_helpers.py:603: UserWarning: Pyarrow could not determine the type of columns: tag.
  warnings.warn(

table 4758 uploaded
1701 started
table 2876 uploaded
3419 started
table 69654 uploaded
184405 started
table 71 uploaded
173499 started
table 97388 uploaded
8336 started
table 875 uploaded
128542 started
table 1325 uploaded
2037 started
table 653 uploaded
1640 started
table 64575 uploaded
168282 started
table 150604 uploaded
99112 started
table 1701 uploaded
139575 started
table 972 uploaded
99367 started
table 84260 uploaded
103972 started
table 8336 uploaded
26965 started
table 173499 uploaded
136491 started
table 114704 uploaded
table 3419 uploaded108289 started

171541 started
table 128542 uploaded
121007 started
table 2037 uploaded
3243 started
table 80648 uploaded
6412 started
table 184405 uploaded
68 started
table 1640 uploaded
48167 started
table 139575 uploaded
103873 started
table 99367 uploaded
60391 started
table 171541 uploaded
7727 started
table 108289 uploaded
536 started
table 26965 uploaded
3555 started
table 103972 uploaded
101763 started
table 168282 uploaded
27480 started
table 99112 uploaded
7286 started
table 136491 uploaded
2709 started
table 6412 uploaded
80185 started
table 103873 uploaded
98981 started
table 121007 uploaded
7229 started
table 101763 uploaded
196257 started
table 3243 uploaded
174491 started
table 68 uploaded
106498 started
table 3555 uploaded
88706 started
table 27480 uploaded
5237 started
table 48167 uploaded
92314 started
table 60391 uploaded
78011 started
table 536 uploaded
160567 started
table 2709 uploaded
8917 started
table 7286 uploaded
210 started
table 7229 uploaded
4862 started
table 196257 uploaded
40964 started
table 88706 uploaded
128520 started
table 5237 uploaded
7150 started
table 106498 uploaded
8818 started
table 174491 uploaded
4017 started
table 98981 uploaded
54254 started
table 80185 uploaded
4854 started
table 78011 uploaded
3972 started
table 160567 uploaded
33154 started
table 92314 uploaded
57536 started
table 8917 uploaded
2946 started
table 7727 uploaded
76108 started

/opt/conda/lib/python3.10/site-packages/google/cloud/bigquery/_pandas_helpers.py:603: UserWarning: Pyarrow could not determine the type of columns: tag.
  warnings.warn(

table 4862 uploaded
96456 started
table 210 uploaded
156898 started
table 128520 uploaded
176103 started
table 54254 uploaded
33880 started
table 8818 uploaded
84738 started
table 4854 uploaded
166589 started
table 7150 uploaded
2497 started
table 3972 uploaded
1921 started
table 4017 uploaded
60256 started
table 40964 uploaded
188761 started
table 57536 uploaded
93819 started
table 33154 uploaded
6351 started
table 2946 uploaded
417 started
table 76108 uploaded
8759 started
table 96456 uploaded
5918 started
table 156898 uploaded
757 started
table 33880 uploaded
25945 started
table 84738 uploaded
8572 started
table 176103 uploaded
8753 started
table 2497 uploaded
81061 started
table 93819 uploaded
71693 started
table 188761 uploaded
47044 started
table 6351 uploaded
177243 started
table 417 uploaded
5736 started
table 166589 uploaded
144634 started
table 1921 uploaded
175531 started

/opt/conda/lib/python3.10/site-packages/google/cloud/bigquery/_pandas_helpers.py:603: UserWarning: Pyarrow could not determine the type of columns: tag.
  warnings.warn(

table 60256 uploaded
6879 started
table 757 uploaded
86059 started
table 8759 uploaded
5539 started
table 5918 uploaded
66584 started
table 25945 uploaded
176219 started
table 81061 uploaded
48159 started
table 8753 uploaded
1174 started

/opt/conda/lib/python3.10/site-packages/google/cloud/bigquery/_pandas_helpers.py:603: UserWarning: Pyarrow could not determine the type of columns: tag.
  warnings.warn(

table 8572 uploaded
69945 started
table 47044 uploaded
121103 started
table 5736 uploaded
3738 started
table 71693 uploaded
77810 started
table 144634 uploaded
5698 started
table 176219 uploaded
6500 started
table 86059 uploaded
6378 started
table 6879 uploaded
3131 started

/opt/conda/lib/python3.10/site-packages/google/cloud/bigquery/_pandas_helpers.py:603: UserWarning: Pyarrow could not determine the type of columns: tag.
  warnings.warn(

table 66584 uploaded
660 started
table 48159 uploaded
2371 started
table 175531 uploaded
59216 started
table 77810 uploaded
3821 started
table 1174 uploaded
139195 started
table 121103 uploaded
94780 started
table 5539 uploaded
5528 started
table 177243 uploaded
1454 started
table 5698 uploaded
3458 started
table 69945 uploaded
143389 started
table 3738 uploaded
136351 started

/opt/conda/lib/python3.10/site-packages/google/cloud/bigquery/_pandas_helpers.py:603: UserWarning: Pyarrow could not determine the type of columns: tag.
  warnings.warn(

table 6378 uploadedtable 3131 uploaded

186983 started6177 started

table 2371 uploaded
8800 started
table 6500 uploaded
202103 started
table 139195 uploaded
7236 started
table 660 uploaded
102005 started
table 5528 uploadedtable 1454 uploaded

59705 started99415 started

table 143389 uploaded
4692 started
table 3458 uploaded
91094 started
table 59216 uploaded
5453 started
table 94780 uploaded
4220 started
table 3821 uploaded
8939 started
table 136351 uploaded
1817 started
table 8800 uploaded
117881 started
table 186983 uploaded
3330 started
table 202103 uploaded
32172 started
table 4692 uploaded
1328 started
table 59705 uploaded
4231 started
table 7236 uploaded
781 started
table 99415 uploaded
99222 started
table 6177 uploaded
306 started
table 102005 uploaded
5786 started
table 5453 uploaded
188 started
table 117881 uploaded
180263 started
table 8939 uploaded
4974 started
table 1817 uploaded
171213 started
table 3330 uploaded
33896 started
table 32172 uploaded
4221 started
table 4220 uploaded
49651 started
table 1328 uploaded
120112 started
table 306 uploaded
115973 started
table 91094 uploaded
98017 started
table 781 uploaded
89190 started
table 4231 uploaded
4191 started
table 99222 uploaded
91542 started
table 188 uploaded
410 started
table 4974 uploaded
25980 started
table 171213 uploaded
129820 started
table 5786 uploaded
134378 started
table 180263 uploaded
6707 started
table 33896 uploaded
160874 started
table 49651 uploaded
135141 started
table 98017 uploaded
36086 started
table 120112 uploaded
172439 started
table 115973 uploaded
79794 started
table 89190 uploaded
167710 started

/opt/conda/lib/python3.10/site-packages/google/cloud/bigquery/_pandas_helpers.py:603: UserWarning: Pyarrow could not determine the type of columns: tag.
  warnings.warn(

table 25980 uploaded
124919 started
table 129820 uploaded
133753 started

/opt/conda/lib/python3.10/site-packages/google/cloud/bigquery/_pandas_helpers.py:603: UserWarning: Pyarrow could not determine the type of columns: tag.
  warnings.warn(

table 4221 uploaded
1397 started
table 4191 uploaded
2007 started
table 91542 uploaded
97393 started
table 410 uploaded
7638 started
table 134378 uploaded
179175 started
table 172439 uploaded
3987 started
table 135141 uploaded
75813 started
table 160874 uploaded
table 36086 uploaded63760 started
85261 started

table 124919 uploaded
89367 started
table 167710 uploaded
8183 started
table 2007 uploaded
106892 started
table 133753 uploaded
48301 started
table 79794 uploaded
58297 started
table 6707 uploaded
174087 started
table 97393 uploaded
52591 started
table 3987 uploaded
1937 started
table 75813 uploaded
5445 started
table 85261 uploaded
185481 started
table 63760 uploaded
80281 started
table 179175 uploaded
8993 started
table 1397 uploaded
2713 started
table 106892 uploaded
88877 started
table 7638 uploaded
169294 started
table 174087 uploaded
3786 started
table 89367 uploaded
168426 started
table 1937 uploaded
53993 started
table 52591 uploaded
136564 started
table 58297 uploaded
7753 started
table 8183 uploaded
632 started
table 5445 uploaded
189713 started
table 185481 uploaded
183985 started
table 48301 uploaded
3212 started
table 8993 uploaded
118880 started
table 136564 uploaded
187109 started
table 88877 uploaded
5341 started
table 3786 uploaded
246 started
table 169294 uploaded
1364 started
table 168426 uploaded
4334 started
table 632 uploaded
2555 started
table 80281 uploaded
27850 started
table 7753 uploaded
5200 started
table 2713 uploaded
3606 started
table 183985 uploaded
92804 started
table 53993 uploaded
103228 started
table 3212 uploaded
5126 started
table 118880 uploaded
194074 started
table 246 uploaded
2203 started
table 5341 uploaded
31804 started
table 4334 uploaded
6452 started
table 189713 uploaded
50872 started
table 187109 uploaded
46653 started
table 1364 uploaded
2673 started
table 27850 uploaded
182407 started
table 2555 uploaded
78941 started
table 103228 uploaded
8865 started
table 92804 uploaded
99964 started
table 5200 uploaded
51402 started
table 3606 uploaded
114818 started
table 194074 uploaded
1395 started
table 6452 uploaded
33945 started
table 46653 uploaded
26791 started
table 2203 uploaded
4667 started

/opt/conda/lib/python3.10/site-packages/google/cloud/bigquery/_pandas_helpers.py:603: UserWarning: Pyarrow could not determine the type of columns: tag.
  warnings.warn(

table 50872 uploaded
914 started
table 51402 uploaded
26430 started
table 99964 uploaded
25858 started
table 8865 uploaded
134099 started

/opt/conda/lib/python3.10/site-packages/google/cloud/bigquery/_pandas_helpers.py:603: UserWarning: Pyarrow could not determine the type of columns: tag.
  warnings.warn(

table 5126 uploaded
166183 started
table 2673 uploaded
114662 started
table 33945 uploaded
6078 started
table 78941 uploaded
121143 started
table 182407 uploaded
156547 started
table 114818 uploaded
33358 started
table 1395 uploaded
71014 started
table 31804 uploaded
8773 started
table 4667 uploaded
4247 started
table 134099 uploaded
83180 started
table 26791 uploaded
4302 started
table 156547 uploaded
203519 started
table 33358 uploaded
5197 started
table 26430 uploaded
45172 started
table 121143 uploaded
142861 started
table 25858 uploaded
26582 started
table 114662 uploaded
80812 started
table 166183 uploaded
4945 started
table 6078 uploaded
5694 started
table 4247 uploaded
118702 started
table 71014 uploaded
8093 started
table 4302 uploaded
30745 started
table 5197 uploaded
4021 started
table 26582 uploaded
114180 started
table 83180 uploaded
115437 started
table 4945 uploaded
5145 started
table 45172 uploaded
27773 started
table 8773 uploaded
77846 started
table 142861 uploaded
91035 started
table 203519 uploaded
56715 started
table 118702 uploaded
26689 started
table 80812 uploaded
57432 started
table 5694 uploaded
170537 started
table 5145 uploaded
5706 started
table 27773 uploaded
4983 started
table 114180 uploaded
5619 started
table 77846 uploaded
8763 started

/opt/conda/lib/python3.10/site-packages/google/cloud/bigquery/_pandas_helpers.py:603: UserWarning: Pyarrow could not determine the type of columns: tag.
  warnings.warn(

table 91035 uploaded
90578 started
table 115437 uploaded
2591 started
table 4021 uploaded
126405 started
table 30745 uploaded
45329 started
table 56715 uploaded
2594 started
table 26689 uploaded
25999 started
table 170537 uploaded
116817 started
table 5706 uploaded
172587 started
table 57432 uploaded
5414 started
table 8093 uploaded
1508 started

/opt/conda/lib/python3.10/site-packages/google/cloud/bigquery/_pandas_helpers.py:603: UserWarning: Pyarrow could not determine the type of columns: tag.
  warnings.warn(

table 4983 uploaded
125914 started
table 126405 uploaded
7587 started
table 90578 uploaded
107102 started
table 5619 uploaded
158070 started
table 25999 uploaded
4885 started
table 2594 uploaded
598 started
table 8763 uploaded
64845 started
table 5414 uploaded
144296 started
table 116817 uploaded
103203 started
table 125914 uploaded
1230 started
table 1508 uploaded
174527 started
table 45329 uploaded
88764 started
table 2591 uploaded
196567 started

/opt/conda/lib/python3.10/site-packages/google/cloud/bigquery/_pandas_helpers.py:603: UserWarning: Pyarrow could not determine the type of columns: tag.
  warnings.warn(

table 7587 uploaded
44974 started
table 172587 uploaded
130374 started
table 158070 uploaded
33463 started
table 107102 uploaded
2063 started
table 64845 uploaded
34526 started
table 598 uploaded
4132 started
table 103203 uploaded
53741 started
table 1230 uploaded
8920 started
table 4885 uploaded
144762 started
table 44974 uploaded
table 88764 uploaded4587 started

32966 started
table 174527 uploaded
111259 started
table 130374 uploaded
4971 started
table 144296 uploaded
117547 started
table 33463 uploaded
197879 started
table 196567 uploaded
6899 started
table 2063 uploaded
73469 started
table 144762 uploaded
189889 started
table 32966 uploaded
51412 started
table 4587 uploaded
160581 started
table 4132 uploaded
831 started
table 53741 uploaded
135532 started
table 34526 uploaded
53967 started
table 8920 uploaded
4207 started
table 6899 uploaded
4112 started
table 111259 uploaded
64368 started
table 73469 uploaded
2071 started
table 197879 uploaded
159195 started
table 4971 uploaded
90154 started
table 189889 uploaded
154890 started
table 831 uploaded
55267 started
table 135532 uploaded
66019 started
table 53967 uploaded
53988 started
table 117547 uploaded
166755 started
table 64368 uploaded
68552 started
table 51412 uploaded
6047 started
table 4112 uploaded
5100 started
table 160581 uploaded
3846 started
table 2071 uploaded
1381 started
table 90154 uploaded
7254 started
table 159195 uploaded
4578 started
table 4207 uploaded
56748 started
table 66019 uploaded
163959 started
table 53988 uploaded
70970 started
table 154890 uploaded
5157 started
table 166755 uploaded
174615 started
table 6047 uploaded
186381 started
table 5100 uploaded
6577 started
table 55267 uploaded
151587 started
table 3846 uploaded
70159 started
table 4578 uploadedtable 68552 uploaded
128679 started

91128 started
table 7254 uploaded
67365 started
table 1381 uploaded
2214 started
table 163959 uploaded
91548 started
table 70970 uploaded
129032 started
table 174615 uploaded
5879 started
table 56748 uploaded
148238 started
table 5157 uploaded
189037 started
table 128679 uploaded
58622 started
table 6577 uploaded
5263 started
table 91128 uploaded
47808 started
table 151587 uploaded
7440 started
table 186381 uploaded
6807 started
table 914 uploaded
67223 started
table 91548 uploaded
118862 started
table 129032 uploaded
7089 started
table 189037 uploaded
179417 started
table 2214 uploaded
31158 started
table 67365 uploaded
2295 started
table 70159 uploaded
139116 started
table 47808 uploaded
154075 started
table 5263 uploaded
175831 started
table 148238 uploaded
311 started
table 58622 uploaded
2415 started
table 7440 uploaded
104975 started
table 5879 uploaded
93014 started
table 118862 uploaded
64701 started
table 7089 uploaded
56693 started
table 67223 uploaded
7792 started
table 179417 uploaded
27162 started
table 6807 uploaded
180093 started
table 139116 uploaded
147244 started
table 2295 uploaded
76860 started
table 31158 uploaded
54878 started
table 311 uploaded
6203 started
table 175831 uploaded
7084 started
table 154075 uploaded
95201 started
table 2415 uploaded
913 started
table 56693 uploaded
171263 started
table 64701 uploaded
25902 started
table 104975 uploaded
3112 started
table 93014 uploaded
27548 started
table 147244 uploaded
3484 started
table 7792 uploaded
7253 started
table 27162 uploaded
2291 started
table 7084 uploaded
45501 started
table 6203 uploaded
78174 started
table 913 uploaded
71029 started
table 54878 uploaded
162604 started
table 180093 uploaded
73929 started
table 76860 uploaded
4233 started
table 25902 uploaded
3491 started
table 171263 uploaded
126546 started
table 95201 uploaded
514 started
table 27548 uploaded
48909 started
table 7253 uploaded
59435 started
table 3484 uploaded
2261 started
table 3112 uploaded
55872 started
table 162604 uploaded
6048 started
table 71029 uploaded
576 started
table 78174 uploaded
8598 started
table 3491 uploaded
2748 started
table 514 uploaded
100556 started
table 2291 uploaded
165645 started
table 45501 uploaded
158962 started
table 4233 uploaded
1086 started
table 126546 uploaded
50742 started
table 73929 uploaded
482 started
table 48909 uploaded
159462 started
table 2261 uploaded
27040 started
table 59435 uploaded
27067 started
table 55872 uploaded
172621 started
table 2748 uploaded
2952 started
table 6048 uploaded
2360 started
table 158962 uploaded
6291 started
table 8598 uploaded
115216 started
table 576 uploaded
2296 started
table 165645 uploaded
79029 started
table 482 uploaded
72601 started
table 159462 uploaded
72913 started
table 100556 uploaded
87408 started
table 50742 uploaded
389 started
table 27040 uploaded
78438 started
table 27067 uploaded
5097 started
table 1086 uploaded
93320 started
table 172621 uploaded
66798 started
table 115216 uploaded
5537 started
table 2952 uploaded
60363 started
table 2296 uploaded
184189 started
table 6291 uploaded
4395 started
table 72601 uploaded
803 started
table 2360 uploaded
60147 started
table 79029 uploaded
3206 started
table 87408 uploaded
96691 started
table 78438 uploaded
135278 startedtable 72913 uploaded

89898 started
table 66798 uploaded
141874 started
table 5097 uploaded
179983 started

/opt/conda/lib/python3.10/site-packages/google/cloud/bigquery/_pandas_helpers.py:603: UserWarning: Pyarrow could not determine the type of columns: tag.
  warnings.warn(

table 184189 uploaded
54229 started
table 60363 uploaded
8004 started
table 93320 uploaded
1956 started
table 60147 uploaded
186263 started
table 4395 uploaded
8236 started
table 389 uploaded
3341 started
table 5537 uploaded
402 started
table 96691 uploaded
6212 started
table 135278 uploaded
144 started
table 803 uploaded
94068 started
table 141874 uploaded
2268 started
table 89898 uploaded
161292 started
table 179983 uploaded
77780 started
table 8004 uploaded
90421 started
table 186263 uploaded
139519 started
table 3206 uploaded
6161 started
table 54229 uploaded
8496 started
table 1956 uploaded
919 started
table 3341 uploaded
194238 started
table 6212 uploaded
8531 started
table 144 uploaded
6908 started
table 402 uploaded
6169 started

/opt/conda/lib/python3.10/site-packages/google/cloud/bigquery/_pandas_helpers.py:603: UserWarning: Pyarrow could not determine the type of columns: tag.
  warnings.warn(

table 8236 uploaded
45068 started
table 94068 uploaded
2502 started
table 161292 uploaded
140106 started
table 90421 uploaded
7880 started
table 8496 uploaded
1006 started
table 2268 uploaded
59594 started
table 919 uploaded
53582 started
table 77780 uploaded
1585 started
table 194238 uploaded
4201 started
table 8531 uploaded
8043 started
table 139519 uploaded
31934 started
table 6169 uploaded
4993 started
table 6908 uploaded
416 started
table 6161 uploaded
118252 started
table 140106 uploaded
656 started
table 45068 uploaded
7091 started
table 2502 uploaded
191469 started
table 1585 uploaded
453 started
table 1006 uploaded
71530 started
table 7880 uploaded
900 started
table 31934 uploaded
48598 started
table 4201 uploaded
6533 started
table 416 uploaded
114085 started
table 4993 uploaded
50583 started
table 53582 uploaded
26187 started
table 8043 uploaded
3847 started
table 59594 uploaded
65612 started
table 118252 uploaded
27728 started
table 7091 uploaded
26113 started
table 453 uploaded
1723 started
table 71530 uploaded
99638 startedtable 656 uploaded

86728 started
table 900 uploaded
81158 started
table 191469 uploaded
2456 started
table 48598 uploaded
7173 started
table 6533 uploaded
182475 started
table 26187 uploaded
2159 started
table 65612 uploaded
6798 started
table 3847 uploaded
99525 started
table 114085 uploaded
87356 started

/opt/conda/lib/python3.10/site-packages/google/cloud/bigquery/_pandas_helpers.py:603: UserWarning: Pyarrow could not determine the type of columns: tag.
  warnings.warn(

table 1723 uploaded
3334 started
table 86728 uploaded
85565 started
table 2456 uploaded
174519 started
table 26113 uploaded
132656 started
table 27728 uploaded
132577 started
table 7173 uploaded
109191 started
table 50583 uploaded
4374 started

/opt/conda/lib/python3.10/site-packages/google/cloud/bigquery/_pandas_helpers.py:603: UserWarning: Pyarrow could not determine the type of columns: tag.
  warnings.warn(

table 81158 uploaded
112279 started
table 99638 uploaded
56485 started
table 87356 uploaded
159717 started
table 6798 uploaded
26749 started
table 3334 uploaded
27215 started
table 174519 uploaded
81164 started
table 99525 uploaded
4586 started
table 85565 uploaded
4780 started
table 182475 uploaded
4389 started
table 109191 uploaded
8395 started
table 132656 uploaded
4691 started
table 112279 uploaded
5044 started
table 4374 uploaded
54268 started
table 56485 uploaded
98230 started
table 132577 uploaded
4548 started
table 159717 uploaded
144370 started
table 2159 uploaded
97946 started
table 4389 uploaded
6565 started
table 27215 uploaded
172523 started
table 8395 uploaded
55402 started

/opt/conda/lib/python3.10/site-packages/google/cloud/bigquery/_pandas_helpers.py:603: UserWarning: Pyarrow could not determine the type of columns: tag.
  warnings.warn(
/opt/conda/lib/python3.10/site-packages/google/cloud/bigquery/_pandas_helpers.py:603: UserWarning: Pyarrow could not determine the type of columns: tag.
  warnings.warn(

table 81164 uploaded
3999 started
table 4691 uploaded
8890 started
table 54268 uploaded
33644 started
table 26749 uploaded
4168 started
table 4780 uploaded
47518 started
table 5044 uploaded
6682 started
table 4586 uploaded
44731 started
table 98230 uploaded
3596 started
table 144370 uploaded
7488 started
table 6565 uploaded
32834 started
table 47518 uploaded
8965 started
table 4548 uploaded
175293 started
table 97946 uploaded
60990 started
table 172523 uploaded
106916 started
table 6682 uploaded
34231 started
table 3999 uploaded
3639 started
table 4168 uploaded
71187 started
table 44731 uploaded
66289 started
table 3596 uploaded
103661 started
table 55402 uploaded
8253 started
table 7488 uploaded
3028 started
table 33644 uploaded
2328 started
table 8890 uploaded
180985 started
table 175293 uploaded
7626 started
table 32834 uploaded
1658 started
table 106916 uploaded
4734 started
table 8253 uploaded
894 started
table 8965 uploaded
42011 started
table 60990 uploaded
3444 started
table 34231 uploaded
164981 started
table 3639 uploaded
90052 started
table 66289 uploaded
6196 started
table 180985 uploaded
table 3028 uploaded4575 started

39934 started
table 71187 uploaded
50898 started
table 103661 uploaded
9015 started
table 2328 uploaded
146018 started

/opt/conda/lib/python3.10/site-packages/google/cloud/bigquery/_pandas_helpers.py:603: UserWarning: Pyarrow could not determine the type of columns: tag.
  warnings.warn(

table 42011 uploaded
32655 started
table 7626 uploaded
6775 started
table 3444 uploaded
4322 started
table 164981 uploaded
391 started
table 90052 uploaded
111852 started
table 1658 uploaded
1840 started
table 50898 uploaded
72624 started
table 9015 uploaded
107987 started
table 894 uploaded
105340 started
table 4575 uploaded
25911 started
table 6196 uploaded
1749 started
table 39934 uploaded
1252 started
table 4734 uploaded
64167 started
table 146018 uploaded
136463 started
table 6775 uploaded
69278 started
table 32655 uploaded
116779 started
table 4322 uploaded
7039 started
table 111852 uploaded
6329 started
table 107987 uploaded
70418 started
table 64167 uploaded
32511 started
table 1252 uploaded
910 started
table 391 uploaded
94893 started
table 25911 uploaded
104441 started
table 72624 uploaded
193243 started
table 1840 uploaded
52456 started
table 105340 uploaded
3580 started
table 1749 uploaded
103059 started
table 6329 uploaded
2005 started
table 136463 uploaded
167838 started
table 7039 uploaded
61396 started
table 32511 uploaded
2728 started
table 94893 uploaded
162416 started
table 104441 uploaded
5464 started
table 70418 uploaded
7075 started
table 69278 uploaded
118338 started
table 910 uploaded
95839 started
table 193243 uploaded
33451 started
table 52456 uploaded
46803 started
table 116779 uploaded
92687 started
table 2005 uploaded
6435 started
table 103059 uploaded
58301 started
table 3580 uploaded
1983 started
table 2728 uploaded
151951 started
table 167838 uploaded
110433 started
table 5464 uploaded
1398 started
table 162416 uploaded
201773 started
table 118338 uploaded
197711 started
table 61396 uploaded
1324 started
table 7075 uploaded
457 started
table 1983 uploaded
3822 started
table 58301 uploaded
3851 started
table 46803 uploaded
102686 started
table 95839 uploaded
122 started
table 92687 uploaded
5054 started
table 33451 uploaded
2098 started
table 6435 uploaded
57772 started
table 110433 uploaded
5617 started
table 197711 uploaded
158092 started
table 1398 uploaded
157224 started
table 151951 uploaded
74647 started
table 457 uploaded
97880 started
table 3851 uploaded
159089 started
table 201773 uploaded
2954 started

/opt/conda/lib/python3.10/site-packages/google/cloud/bigquery/_pandas_helpers.py:603: UserWarning: Pyarrow could not determine the type of columns: tag.
  warnings.warn(

table 3822 uploaded
6516 started
table 2098 uploaded
1272 started
table 57772 uploaded
7264 started
table 5617 uploaded
108949 started
table 102686 uploaded
3630 started
table 74647 uploaded
26569 started
table 159089 uploaded
176391 started
table 1324 uploaded
7352 started
table 5054 uploaded
49926 started
table 97880 uploaded
80181 started
table 157224 uploaded
137749 started
table 2954 uploaded
79293 started

/opt/conda/lib/python3.10/site-packages/google/cloud/bigquery/_pandas_helpers.py:603: UserWarning: Pyarrow could not determine the type of columns: tag.
  warnings.warn(

table 6516 uploaded
43987 started
table 122 uploaded
2464 started
table 1272 uploaded
6651 started
table 26569 uploaded
68157 started
table 7264 uploaded
1018 started
table 108949 uploaded
49817 started
table 3630 uploaded
26608 started
table 176391 uploaded
3441 startedtable 158092 uploaded

5607 started
table 80181 uploaded
31854 started
table 43987 uploaded
60894 started
table 7352 uploaded
4598 started
table 137749 uploaded
239 started
table 79293 uploaded
176419 started
table 49926 uploaded
89594 started
table 6651 uploaded
8402 started
table 26608 uploaded
6611 started
table 68157 uploaded
194696 started
table 2464 uploaded
116491 started
table 5607 uploaded
178059 started
table 31854 uploaded
57873 started
table 1018 uploaded
2381 started
table 3441 uploaded
2369 started
table 60894 uploaded
58365 started
table 4598 uploaded
4852 started
table 176419 uploaded
6387 started
table 8402 uploaded
4477 started
table 239 uploaded
96432 started
table 89594 uploaded
140239 started
table 178059 uploaded
7379 started
table 194696 uploaded
81027 started
table 6611 uploaded
6043 started
table 49817 uploaded
152575 started
table 116491 uploaded
93432 started
table 2369 uploaded
3192 started
table 2381 uploaded
114928 started
table 6387 uploaded
65817 started
table 96432 uploaded
69509 started
table 57873 uploaded
197209 started
table 4852 uploaded
5550 started
table 6043 uploaded
260 started
table 140239 uploaded
3546 started
table 7379 uploaded
5658 started
table 4477 uploaded
26206 started
table 93432 uploaded
76778 started
table 81027 uploaded
49642 started

/opt/conda/lib/python3.10/site-packages/google/cloud/bigquery/_pandas_helpers.py:603: UserWarning: Pyarrow could not determine the type of columns: tag.
  warnings.warn(

table 152575 uploaded
25942 started
table 114928 uploaded
51698 started
table 58365 uploaded
55276 started
table 3192 uploaded
82240 started
table 5550 uploaded
8907 started
table 69509 uploaded
46765 started
table 197209 uploaded
90564 started
table 65817 uploaded
26295 started
table 3546 uploaded
4849 started
table 260 uploaded
173205 started
table 25942 uploaded
3447 started
table 51698 uploaded
4752 started
table 82240 uploaded
763 started

/opt/conda/lib/python3.10/site-packages/google/cloud/bigquery/_pandas_helpers.py:603: UserWarning: Pyarrow could not determine the type of columns: tag.
  warnings.warn(

table 8907 uploaded
5767 started
table 55276 uploaded
47092 started
table 49642 uploaded
41704 started
table 76778 uploaded
32349 started
table 26206 uploaded
80086 started

/opt/conda/lib/python3.10/site-packages/google/cloud/bigquery/_pandas_helpers.py:603: UserWarning: Pyarrow could not determine the type of columns: tag.
  warnings.warn(

table 4849 uploaded
47047 started
table 26295 uploaded
173939 started
table 173205 uploaded
51486 started
table 90564 uploaded
179293 started
table 5658 uploaded
55269 started
table 3447 uploaded
178319 started
table 46765 uploaded
153758 started
table 763 uploaded
115170 started
table 47092 uploaded
44582 started
table 5767 uploaded
518 started
table 32349 uploaded
152842 started
table 51486 uploaded
6102 started
table 41704 uploaded
2842 started
table 47047 uploaded
73 started
table 4752 uploaded
3247 started
table 80086 uploaded
120311 started
table 153758 uploaded
69805 started
table 173939 uploaded
165483 started
table 55269 uploaded
104245 started
table 115170 uploaded
24 started
table 179293 uploaded
75816 started
table 178319 uploaded
130618 started
table 152842 uploaded
103982 started
table 44582 uploaded
71442 started
table 6102 uploaded
2338 started
table 73 uploaded
63436 started
table 3247 uploaded
184257 started
table 518 uploaded
6691 started
table 120311 uploaded
169252 started
table 165483 uploaded
95165 started
table 2842 uploaded
4726 started

/opt/conda/lib/python3.10/site-packages/google/cloud/bigquery/_pandas_helpers.py:603: UserWarning: Pyarrow could not determine the type of columns: tag.
  warnings.warn(

table 69805 uploaded
3976 started

/opt/conda/lib/python3.10/site-packages/google/cloud/bigquery/_pandas_helpers.py:603: UserWarning: Pyarrow could not determine the type of columns: tag.
  warnings.warn(

table 75816 uploaded
33158 started
table 24 uploaded
6138 started
table 130618 uploaded
25990 started
table 103982 uploaded
5293 started
table 104245 uploaded
58418 started
table 2338 uploaded
185 started
table 71442 uploaded
7414 started
table 4726 uploaded
141956 started
table 63436 uploaded
4386 started
table 169252 uploaded
31083 started
table 6138 uploaded
149508 started
table 3976 uploaded
441 started
table 95165 uploadedtable 6691 uploaded

76738 started27912 started

table 184257 uploaded
104736 started
table 58418 uploaded
1305 started
table 25990 uploaded
61357 started
table 33158 uploaded
95971 started
table 7414 uploaded
82102 started
table 4386 uploaded
185029 started
table 441 uploaded
55167 started
table 141956 uploaded
6880 started
table 5293 uploaded
42312 started
table 31083 uploaded
3186 started
table 27912 uploaded
148921 started
table 104736 uploaded
4599 started
table 76738 uploaded
2346 started
table 61357 uploaded
1788 started
table 95971 uploaded
71374 started
table 149508 uploaded
6334 started
table 185 uploaded
57509 started
table 82102 uploaded
8844 started
table 6880 uploaded
760 started
table 42312 uploaded
123200 started
table 185029 uploaded
89343 started
table 3186 uploaded
105709 started
table 4599 uploaded
169692 started
table 1788 uploaded
162842 started
table 2346 uploaded
571 started
table 71374 uploaded
170815 started
table 6334 uploaded
1955 started
table 57509 uploaded
133125 started
table 1305 uploaded
107769 started
table 148921 uploaded
26303 started
table 55167 uploaded
200630 started
table 123200 uploaded
7980 started
table 89343 uploaded
25807 started
table 169692 uploaded
5680 started
table 105709 uploaded
25825 started
table 760 uploaded
1597 started
table 8844 uploaded
26468 started
table 162842 uploaded
60763 started
table 107769 uploaded
78247 started
table 26303 uploaded
179301 started
table 571 uploaded
2374 started
table 200630 uploaded
106212 started
table 5680 uploaded
8501 started
table 7980 uploaded
72603 started
table 25825 uploaded
27327 started
table 25807 uploaded
1988 started
table 170815 uploaded
175291 started
table 133125 uploaded
2999 started
table 60763 uploaded
4076 started
table 1955 uploaded
157498 started
table 1597 uploaded
121231 started

/opt/conda/lib/python3.10/site-packages/google/cloud/bigquery/_pandas_helpers.py:603: UserWarning: Pyarrow could not determine the type of columns: tag.
  warnings.warn(

table 26468 uploaded
4645 started
table 179301 uploaded
117107 started
table 2374 uploaded
139863 started
table 106212 uploaded
133167 started

/opt/conda/lib/python3.10/site-packages/google/cloud/bigquery/_pandas_helpers.py:603: UserWarning: Pyarrow could not determine the type of columns: tag.
  warnings.warn(

table 8501 uploaded
134248 started
table 27327 uploaded
157212 started
table 78247 uploaded
52666 started
table 1988 uploaded
88108 startedtable 72603 uploaded

171549 started
table 121231 uploaded
54318 started
table 2999 uploaded
109074 started

/opt/conda/lib/python3.10/site-packages/google/cloud/bigquery/_pandas_helpers.py:603: UserWarning: Pyarrow could not determine the type of columns: tag.
  warnings.warn(

table 4076 uploaded
155748 started
table 4645 uploaded
144350 started
table 139863 uploaded
32381 started
table 117107 uploaded
26019 started
table 133167 uploaded
1643 started
table 134248 uploaded
97933 started
table 157212 uploaded
7306 started
table 157498 uploaded
7343 started
table 52666 uploaded
2861 started
table 175291 uploaded
90266 started
table 88108 uploaded
124131 started
table 171549 uploaded
6761 started
table 54318 uploaded
570 started
table 144350 uploaded
108041 started
table 32381 uploaded
2022 started
table 109074 uploaded
77981 started
table 7306 uploaded
183423 started
table 1643 uploaded
68044 started
table 155748 uploaded
57692 started
table 90266 uploaded
3010 started
table 6761 uploaded
169782 started
table 26019 uploaded
176075 started
table 2861 uploaded
174485 started

/opt/conda/lib/python3.10/site-packages/google/cloud/bigquery/_pandas_helpers.py:603: UserWarning: Pyarrow could not determine the type of columns: tag.
  warnings.warn(
/opt/conda/lib/python3.10/site-packages/google/cloud/bigquery/_pandas_helpers.py:603: UserWarning: Pyarrow could not determine the type of columns: tag.
  warnings.warn(

table 97933 uploaded
163547 started
table 570 uploaded
8124 started
table 7343 uploaded
25954 started
table 108041 uploaded
3041 started
table 2022 uploaded
58709 started
table 124131 uploaded
40010 started
table 77981 uploaded
1163 started

/opt/conda/lib/python3.10/site-packages/google/cloud/bigquery/_pandas_helpers.py:603: UserWarning: Pyarrow could not determine the type of columns: tag.
  warnings.warn(

table 57692 uploaded
61434 started
table 183423 uploaded
134374 started
table 68044 uploaded
4377 started
table 163547 uploaded
32799 started
table 8124 uploaded
198145 started
table 25954 uploaded
3241 started
table 176075 uploaded
6405 started
table 3010 uploaded
59945 started
table 3041 uploaded
146156 started
table 58709 uploaded
93842 started
table 169782 uploaded
6293 started
table 174485 uploaded
62726 started
table 1163 uploaded
45028 started

/opt/conda/lib/python3.10/site-packages/google/cloud/bigquery/_pandas_helpers.py:603: UserWarning: Pyarrow could not determine the type of columns: tag.
  warnings.warn(

table 4377 uploaded
1153 started
table 61434 uploaded
169814 started
table 40010 uploaded
25959 started
table 32799 uploaded
12 started
table 134374 uploaded
59290 started
table 198145 uploaded
164869 started
table 3241 uploaded
27891 started
table 6405 uploaded
6599 started
table 59945 uploaded
145064 started
table 6293 uploaded
90268 started
table 1153 uploaded
119782 started
table 25959 uploaded
187215 started
table 45028 uploaded
142871 started
table 146156 uploaded
83082 started
table 93842 uploaded
8460 started
table 12 uploaded
33681 started
table 59290 uploaded
156125 started
table 169814 uploaded
6468 started
table 62726 uploaded
110773 started
table 164869 uploaded
82173 started
table 187215 uploaded
245 started
table 119782 uploaded
7215 started
table 83082 uploaded
1812 started
table 145064 uploaded
27738 started
table 33681 uploaded
3034 started
table 27891 uploaded
6673 started
table 6599 uploaded
4787 started
table 142871 uploaded
5744 started
table 6468 uploaded
2434 started
table 8460 uploaded
102798 started
table 156125 uploaded
60654 started
table 110773 uploaded
59709 started
table 82173 uploaded
27788 started
table 1812 uploaded
112316 started
table 27738 uploaded
26339 started
table 90268 uploaded
5485 started
table 7215 uploaded
6678 started
table 5744 uploaded
3648 started
table 3034 uploaded
2001 started
table 2434 uploaded
130506 started
table 102798 uploaded
56079 started
table 4787 uploaded
159415 startedtable 6673 uploaded

144416 started
table 59709 uploaded
179345 started
table 245 uploaded
94314 started
table 60654 uploaded
4892 started
table 26339 uploaded
6989 started
table 112316 uploaded
47725 started
table 159415 uploaded
27881 started
table 130506 uploaded
57538 started
table 3648 uploaded
4248 started
table 94314 uploaded
6058 started
table 27788 uploaded
5516 startedtable 179345 uploaded

27699 started
table 56079 uploaded
6131 started
table 6678 uploaded
90746 started
table 5485 uploaded
5008 started
table 144416 uploaded
8682 started
table 2001 uploaded
66066 started
table 6989 uploaded
114659 started
table 4892 uploaded
2353 started
table 27881 uploaded
134252 started
table 27699 uploaded
98243 started
table 6058 uploaded
59519 started
table 5008 uploaded
118085 started
table 4248 uploaded
6562 started
table 47725 uploaded
7291 started
table 6131 uploaded
1570 started
table 57538 uploaded
94130 started
table 5516 uploaded
1288 started
table 90746 uploaded
8843 started
table 66066 uploaded
80241 started
table 8682 uploaded
164455 started
table 2353 uploaded
116275 started
table 114659 uploaded
38881 started
table 6562 uploaded
83096 started
table 118085 uploaded
136920 started

/opt/conda/lib/python3.10/site-packages/google/cloud/bigquery/_pandas_helpers.py:603: UserWarning: Pyarrow could not determine the type of columns: tag.
  warnings.warn(

table 1288 uploaded
5626 started
table 1570 uploaded
130862 started
table 7291 uploaded
31915 started
table 98243 uploaded
195931 started
table 134252 uploaded
7560 started
table 80241 uploaded
2605 started
table 164455 uploaded
4193 started
table 94130 uploaded
170623 started
table 38881 uploaded
8929 started
table 116275 uploaded
116668 started
table 59519 uploaded
497 started
table 130862 uploaded
6099 started
table 8843 uploaded
77808 started
table 83096 uploaded
7257 started
table 31915 uploaded
78856 started
table 195931 uploaded
101864 started
table 136920 uploaded
38097 started
table 2605 uploaded
6584 started
table 5626 uploaded
658 started
table 4193 uploaded
72696 started

/opt/conda/lib/python3.10/site-packages/google/cloud/bigquery/_pandas_helpers.py:603: UserWarning: Pyarrow could not determine the type of columns: tag.
  warnings.warn(

table 7560 uploaded
52378 started
table 497 uploaded
139723 started
table 170623 uploaded
129337 started
table 7257 uploaded
33861 started
table 116668 uploaded
table 38097 uploaded6888 started

49274 started
table 78856 uploaded
94323 startedtable 77808 uploaded

6145 started
table 8929 uploaded
122892 started
table 6099 uploaded
3469 started
table 72696 uploaded
152545 started
table 52378 uploaded
169028 started
table 101864 uploaded
144656 started
table 129337 uploaded
1151 started
table 139723 uploaded
27618 started
table 658 uploaded
27808 started
table 6888 uploaded
56700 started
table 6145 uploaded
142452 started

/opt/conda/lib/python3.10/site-packages/google/cloud/bigquery/_pandas_helpers.py:603: UserWarning: Pyarrow could not determine the type of columns: tag.
  warnings.warn(

table 122892 uploaded
5141 started
table 152545 uploaded
2057 started
table 94323 uploaded
30 started
table 33861 uploaded
3643 started
table 6584 uploaded
4928 started
table 144656 uploaded
140820 started
table 169028 uploaded
89083 started

/opt/conda/lib/python3.10/site-packages/google/cloud/bigquery/_pandas_helpers.py:603: UserWarning: Pyarrow could not determine the type of columns: tag.
  warnings.warn(

table 1151 uploaded
table 27618 uploaded6815 started

33817 started
table 49274 uploaded
32988 started
table 56700 uploaded
94401 started
table 3643 uploaded
1511 started
table 142452 uploaded
3014 started
table 5141 uploaded
1180 started
table 4928 uploaded
157959 started
table 30 uploaded
37335 started
table 2057 uploaded
1089 started
table 27808 uploaded
82150 started
table 89083 uploaded
100469 started
table 6815 uploaded
3897 started
table 1511 uploaded
134214 started
table 33817 uploaded
4005 started
table 140820 uploaded
54004 started
table 37335 uploaded
1124 started
table 32988 uploaded
2940 started
table 94401 uploaded
5013 started
table 1180 uploaded
166918 started
table 157959 uploaded
91628 started
table 82150 uploaded
73860 started
table 1089 uploaded
6062 started
table 100469 uploaded
32825 started
table 3014 uploaded
5975 started
table 134214 uploaded
144412 started
table 1124 uploaded
26252 started
table 4005 uploaded
table 166918 uploaded
152099 started
5781 started
table 54004 uploaded
3844 started
table 3897 uploaded
78827 started
table 32825 uploaded
5396 started
table 5975 uploaded
7987 started
table 2940 uploaded
5296 started
table 91628 uploaded
3793 started
table 6062 uploaded
3811 started
table 5013 uploaded
2575 started
table 5781 uploaded
484 started
table 26252 uploaded
47736 started
table 144412 uploaded
150931 started
table 3844 uploaded
5974 started
table 152099 uploaded
4959 started
table 78827 uploaded
2408 started
table 7987 uploaded
4474 started
table 5296 uploaded
58007 started
table 5396 uploaded
50977 started
table 3793 uploaded
2623 started
table 47736 uploaded
93196 started
table 150931 uploaded
82003 started
table 3469 uploaded
4293 started
table 3811 uploaded
8896 started
table 4959 uploaded
2923 started
table 484 uploaded
312 startedtable 2575 uploaded

127200 started
table 5974 uploaded
172745 started

/opt/conda/lib/python3.10/site-packages/google/cloud/bigquery/_pandas_helpers.py:603: UserWarning: Pyarrow could not determine the type of columns: tag.
  warnings.warn(

table 4474 uploaded
2984 started
table 2408 uploaded
26093 started
table 58007 uploaded
65899 started
table 50977 uploaded
94733 started
table 82003 uploaded
50059 started
table 93196 uploaded
114814 started
table 8896 uploaded
108945 started
table 2623 uploaded
146702 started
table 2923 uploaded
113769 started
table 127200 uploaded
71976 started
table 172745 uploaded
5833 started
table 312 uploaded
6708 started
table 2984 uploaded
805 started
table 4293 uploaded
187601 started
table 50059 uploaded
2740 started
table 114814 uploaded
95105 started
table 26093 uploaded
25870 started
table 146702 uploaded
101079 started
table 65899 uploaded
34645 started
table 113769 uploaded
47619 started
table 71976 uploaded
33688 started
table 108945 uploaded
171191 started
table 94733 uploaded
179091 started
table 95105 uploaded
959 started
table 5833 uploaded
8996 started

/opt/conda/lib/python3.10/site-packages/google/cloud/bigquery/_pandas_helpers.py:603: UserWarning: Pyarrow could not determine the type of columns: tag.
  warnings.warn(

table 6708 uploaded
27660 started
table 101079 uploaded
50477 started
table 25870 uploaded
163022 started
table 187601 uploaded
5169 started
table 34645 uploaded
73042 started
table 33688 uploaded
4482 started
table 2740 uploaded
167546 started
table 179091 uploaded
200938 started
table 805 uploaded
3794 started
table 959 uploaded
6117 started
table 50477 uploaded
51312 started
table 27660 uploaded
110655 started
table 171191 uploaded
3698 started
table 47619 uploaded
164695 started
table 163022 uploaded
3248 started
table 4482 uploaded
8983 started
table 5169 uploaded
1178 started
table 73042 uploaded
70849 started
table 200938 uploaded
95756 started
table 3794 uploaded
41136 started
table 167546 uploaded
133151 started
table 8996 uploaded
321 started
table 6117 uploaded
130644 started
table 51312 uploaded
7023 started
table 110655 uploaded
82337 started
table 3698 uploaded
4832 started
table 1178 uploaded
34528 started
table 70849 uploaded
112488 started
table 8983 uploaded
6441 started
table 3248 uploaded
143231 started

/opt/conda/lib/python3.10/site-packages/google/cloud/bigquery/_pandas_helpers.py:603: UserWarning: Pyarrow could not determine the type of columns: tag.
  warnings.warn(

table 95756 uploaded
76171 started
table 321 uploaded
5868 started
table 133151 uploaded
26225 started
table 41136 uploaded
74510 started
table 164695 uploaded
3331 started
table 7023 uploaded
930 started
table 4832 uploaded
3408 started
table 82337 uploaded
160992 started
table 112488 uploaded
52078 started
table 76171 uploaded
1129 started
table 143231 uploaded
1961 started
table 6441 uploaded
27488 started
table 130644 uploaded
185869 started
table 26225 uploaded
26170 started
table 34528 uploaded
62374 started
table 74510 uploaded
5994 started
table 5868 uploaded
3115 started
table 3331 uploaded
131092 started
table 3408 uploaded
157274 started
table 930 uploaded
108977 started
table 27488 uploaded
1232 started
table 52078 uploaded
7704 started
table 1129 uploaded
111443 started
table 5994 uploaded
7790 started
table 160992 uploaded
6936 started
table 3115 uploaded
26325 started
table 157274 uploaded
26010 started
table 62374 uploaded
48741 started
table 26170 uploaded
1019 started
table 185869 uploaded
115991 started
table 1961 uploaded
144382 started
table 131092 uploaded
5938 started
table 108977 uploaded
205857 started
table 7790 uploaded
42602 started
table 1232 uploaded
8593 started
table 7704 uploaded
143035 started
table 111443 uploaded
3934 started
table 26325 uploaded
88131 started
table 48741 uploaded
79139 started
table 6936 uploaded
25769 started
table 1019 uploaded
107883 started
table 115991 uploaded
6396 started
table 144382 uploaded
4774 started
table 26010 uploaded
6972 started
table 42602 uploaded
69606 started
table 143035 uploaded
1378 started
table 205857 uploaded
4304 started
table 8593 uploaded
133885 started
table 79139 uploaded
175139 started
table 5938 uploaded
181751 started
table 25769 uploaded
3891 startedtable 73860 uploaded

160646 started
table 6396 uploaded
165553 started
table 4774 uploaded
6948 started
table 3934 uploaded
32074 started
table 6972 uploaded
71575 started
table 69606 uploaded
203922 started
table 88131 uploaded
6247 started
table 107883 uploaded
59129 started
table 1378 uploaded
176603 started
table 160646 uploaded
47615 started
table 133885 uploaded
49591 started
table 175139 uploaded
166530 started
table 3891 uploaded
120478 started
table 6948 uploaded
789 started
table 4304 uploaded
5629 started
table 165553 uploaded
3973 started
table 181751 uploaded
113216 started
table 71575 uploaded
33316 started
table 6247 uploaded
2233 started
table 32074 uploaded
2965 started
table 203922 uploaded
6127 started
table 47615 uploaded
32174 started
table 59129 uploaded
4782 started
table 166530 uploaded
48649 started
table 176603 uploaded
5273 started

/opt/conda/lib/python3.10/site-packages/google/cloud/bigquery/_pandas_helpers.py:603: UserWarning: Pyarrow could not determine the type of columns: tag.
  warnings.warn(

table 49591 uploaded
154862 started
table 789 uploaded
2105 started
table 5629 uploaded
85885 started
table 120478 uploaded
33815 started
table 33316 uploaded
4307 started
table 2965 uploaded
25914 started
table 32174 uploaded
6406 started
table 4782 uploaded
3569 started
table 113216 uploaded
43333 started
table 48649 uploaded
53161 started
table 2105 uploaded
33844 started
table 6127 uploaded
61692 started
table 33815 uploaded
6252 started
table 5273 uploaded
5099 started
table 3973 uploaded
57991 started
table 2233 uploaded
49035 started
table 25914 uploaded
51847 started
table 154862 uploaded
105250 started
table 6406 uploaded
6738 started
table 85885 uploaded
146944 started
table 3569 uploaded
7204 started
table 4307 uploaded
2907 started
table 33844 uploaded
42900 started
table 53161 uploaded
table 57991 uploaded
58351 started
8642 started
table 6252 uploaded
170705 started
table 43333 uploaded
6523 started
table 5099 uploaded
119169 started

/opt/conda/lib/python3.10/site-packages/google/cloud/bigquery/_pandas_helpers.py:603: UserWarning: Pyarrow could not determine the type of columns: tag.
  warnings.warn(

table 105250 uploaded
72701 started
table 61692 uploaded
131464 started
table 6738 uploaded
44779 started
table 49035 uploaded
49526 started
table 51847 uploaded
82070 started
table 2907 uploaded
84137 started
table 7204 uploaded
54 started
table 58351 uploaded
34004 started
table 8642 uploaded
55687 started
table 146944 uploaded
86815 started
table 6523 uploaded
25929 started
table 119169 uploaded
7213 started
table 42900 uploaded
261 started
table 131464 uploaded
8986 started
table 82070 uploaded
177483 started
table 170705 uploaded
6159 started
table 72701 uploaded
4451 started
table 54 uploaded
1669 started
table 44779 uploaded
3026 started
table 49526 uploaded
55549 started
table 55687 uploaded
4380 started
table 7213 uploaded
73818 started
table 86815 uploaded
3181 started
table 34004 uploaded
6955 started
table 84137 uploaded
71542 started
table 261 uploaded
3326 started
table 25929 uploaded
6244 started
table 4451 uploaded
61206 started
table 8986 uploaded
170287 started
table 3026 uploaded
52604 started
table 177483 uploaded
6869 started
table 55549 uploaded
103 started
table 1669 uploaded
53737 started
table 3181 uploaded
4052 started
table 6159 uploaded
104944 started
table 73818 uploaded
46561 started
table 4380 uploaded
180037 started
table 6955 uploaded
77944 started
table 61206 uploaded
1685 started
table 6244 uploaded
369 started
table 3326 uploaded
185585 started
table 71542 uploaded
31973 started
table 103 uploaded
46959 started
table 52604 uploaded
1458 started
table 170287 uploaded
30996 started
table 180037 uploaded
42718 started
table 77944 uploaded
27344 started
table 4052 uploaded
137108 started
table 1685 uploaded
75392 started
table 6869 uploaded
1827 started
table 53737 uploaded
103688 started
table 46561 uploaded
49299 started
table 369 uploaded
25920 started
table 185585 uploaded
3230 started
table 46959 uploaded
100277 started
table 104944 uploaded
101210 started
table 30996 uploaded
3478 started
table 1458 uploaded
422 started
table 42718 uploaded
143257 started
table 75392 uploaded
60436 started
table 27344 uploaded
177607 started
table 31973 uploaded
1475 started
table 1827 uploaded
26593 started
table 137108 uploaded
4213 started
table 49299 uploaded
2038 started
table 103688 uploaded
89650 started
table 25920 uploaded
8456 started
table 101210 uploaded
49394 started
table 3230 uploaded
169666 started
table 100277 uploaded
137898 started

/opt/conda/lib/python3.10/site-packages/google/cloud/bigquery/_pandas_helpers.py:603: UserWarning: Pyarrow could not determine the type of columns: tag.
  warnings.warn(

table 3478 uploaded
2744 started
table 143257 uploaded
117920 started
table 422 uploaded
4900 started
table 177607 uploaded
32369 started
table 60436 uploaded
table 1475 uploaded547 started

142204 started
table 2038 uploaded
2523 started
table 26593 uploaded
3928 started
table 4213 uploaded
2567 started
table 89650 uploaded
8809 started
table 49394 uploaded
70804 started
table 137898 uploaded
2284 started
table 2744 uploaded
161131 started
table 169666 uploaded
119126 started
table 8456 uploaded
510 started
table 32369 uploaded
71170 started
table 4900 uploaded
193287 started

/opt/conda/lib/python3.10/site-packages/google/cloud/bigquery/_pandas_helpers.py:603: UserWarning: Pyarrow could not determine the type of columns: tag.
  warnings.warn(

table 117920 uploaded
543 started
table 547 uploaded
84187 started
table 142204 uploaded
34189 started
table 2523 uploaded
44022 started
table 2567 uploaded
65796 started
table 2284 uploaded
3687 started
table 3928 uploaded
4033 started
table 119126 uploaded
132961 started
table 70804 uploaded
5276 started
table 543 uploaded
6298 started
table 84187 uploaded
4788 started
table 34189 uploaded
59184 started
table 71170 uploaded
82041 started
table 44022 uploaded
204132 started
table 510 uploaded
113674 started
table 161131 uploaded
7248 started
table 132961 uploaded
392 started
table 6298 uploaded
156371 started
table 5276 uploaded
309 started
table 65796 uploaded
1951 started
table 8809 uploaded
118117 started
table 3687 uploaded
32864 started
table 4788 uploaded
80487 started
table 193287 uploaded
91660 started
table 82041 uploaded
34583 started
table 7248 uploaded
155798 started
table 59184 uploaded
8731 started
table 113674 uploaded
132846 started
table 392 uploaded
974 started
table 309 uploaded
136864 started
table 204132 uploaded
88339 started
table 156371 uploaded
95182 started
table 1951 uploaded
142058 started
table 4033 uploaded
99007 started
table 34583 uploaded
69860 started
table 32864 uploaded
2816 started
table 155798 uploaded
3664 started
table 118117 uploaded
2085 started
table 132846 uploaded
121157 started
table 974 uploaded
33847 started
table 88339 uploaded
129713 started
table 91660 uploaded
6954 started
table 95182 uploaded
154915 started
table 136864 uploaded
70961 started
table 80487 uploaded
333 started
table 142058 uploaded
78122 started
table 69860 uploaded
5430 started
table 99007 uploaded
7177 started
table 3664 uploaded
98956 started
table 33847 uploaded
160988 started
table 2816 uploaded
25891 started
table 8731 uploaded
85399 started
table 6954 uploaded
104841 started
table 129713 uploaded
87522 started
table 70961 uploaded
303 started
table 154915 uploaded
5995 started
table 121157 uploaded
499 started
table 2085 uploaded
2671 started
table 78122 uploaded
2524 started
table 333 uploaded
1114 started
table 7177 uploaded
84395 started
table 98956 uploaded
3732 started
table 85399 uploaded
4128 started
table 87522 uploaded
140773 started
table 160988 uploaded
142228 started
table 104841 uploaded
53833 started
table 25891 uploaded
466 started
table 499 uploaded
8362 started
table 303 uploaded
172699 started
table 5995 uploaded
2024 started
table 2671 uploaded
2846 started
table 5430 uploaded
49347 started
table 1114 uploaded
6973 started
table 84395 uploaded
170729 started
table 2524 uploaded
3829 started
table 3732 uploaded
81537 started
table 142228 uploaded
98019 started
table 4128 uploaded
58889 started
table 8362 uploaded
121330 started
table 53833 uploaded
6804 started
table 140773 uploaded
54116 started
table 2846 uploaded
115685 started
table 466 uploaded
76716 started
table 49347 uploaded
170837 started
table 6973 uploaded
68519 started
table 172699 uploaded
5217 started
table 170729 uploaded
107958 started
table 98019 uploaded
6184 started
table 6804 uploaded
168760 started

/opt/conda/lib/python3.10/site-packages/google/cloud/bigquery/_pandas_helpers.py:603: UserWarning: Pyarrow could not determine the type of columns: tag.
  warnings.warn(

table 2024 uploaded
175569 started
table 58889 uploaded
144292 started
table 121330 uploaded
3208 started
table 3829 uploaded
72856 started
table 76716 uploaded
244 started
table 115685 uploaded
172455 started
table 81537 uploaded
48193 started
table 170837 uploaded
115875 started
table 68519 uploaded
1301 started
table 5217 uploaded
96634 started
table 6184 uploaded
8261 started
table 54116 uploaded
5062 started
table 175569 uploaded
112519 started
table 3208 uploaded
44225 started
table 168760 uploaded
148775 started
table 107958 uploaded
160438 started
table 172455 uploaded
2536 started
table 244 uploaded
69830 started
table 144292 uploaded
112066 started
table 48193 uploaded
6762 started
table 1301 uploaded
1962 started
table 72856 uploaded
94810 started
table 115875 uploaded
27456 started
table 96634 uploaded
61262 started
table 5062 uploaded
155599 started
table 8261 uploaded
516 started
table 112519 uploaded
7454 started
table 44225 uploaded
114277 started
table 6762 uploaded
2407 started
table 148775 uploaded
6993 started
table 160438 uploaded
95558 started
table 94810 uploaded
3877 started
table 69830 uploaded
3005 started
table 1962 uploaded
32830 started
table 112066 uploaded
4202 started
table 61262 uploaded
102666 started
table 2536 uploaded
145493 started
table 155599 uploaded
115770 started
table 516 uploaded
91694 started
table 27456 uploaded
4980 started
table 6993 uploaded
3772 started
table 2407 uploaded
98985 started
table 114277 uploaded
193904 started
table 3005 uploaded
5449 started
table 7454 uploaded
6660 started
table 95558 uploaded
3393 started
table 32830 uploaded
2854 started
table 3877 uploaded
121790 started

/opt/conda/lib/python3.10/site-packages/google/cloud/bigquery/_pandas_helpers.py:603: UserWarning: Pyarrow could not determine the type of columns: tag.
  warnings.warn(

table 145493 uploaded
6226 started
table 102666 uploaded
39886 started
table 115770 uploaded
157432 started
table 4202 uploaded
6273 started
table 4980 uploaded
4732 started
table 3772 uploaded
6953 started
table 193904 uploaded
85774 started
table 91694 uploaded
134751 started
table 5449 uploaded
25918 started
table 98985 uploaded
62733 started
table 6660 uploaded
202237 started

/opt/conda/lib/python3.10/site-packages/google/cloud/bigquery/_pandas_helpers.py:603: UserWarning: Pyarrow could not determine the type of columns: tag.
  warnings.warn(

table 39886 uploaded
2029 started
table 3393 uploaded
26085 started
table 121790 uploaded
591 started
table 6226 uploaded
55112 started
table 2854 uploaded
145468 started
table 4732 uploaded
131017 started
table 6953 uploaded
27109 started
table 25918 uploaded
2596 started
table 6273 uploaded
5387 started
table 157432 uploaded
8925 started

/opt/conda/lib/python3.10/site-packages/google/cloud/bigquery/_pandas_helpers.py:603: UserWarning: Pyarrow could not determine the type of columns: tag.
  warnings.warn(

table 85774 uploaded
117851 started
table 26085 uploaded
27787 started
table 2029 uploaded
5939 started
table 55112 uploaded
40574 started
table 202237 uploaded
1526 started
table 145468 uploaded
33564 started
table 5387 uploaded
70824 started
table 134751 uploaded
39369 started
table 2596 uploaded
182819 started
table 27109 uploaded
7319 started
table 8925 uploaded
1244 started
table 591 uploaded
2391 started
table 117851 uploaded
5252 started
table 5939 uploaded
5239 started
table 27787 uploaded
27266 started
table 131017 uploaded
5386 started
table 62733 uploaded
5872 started
table 1526 uploaded
7366 started
table 40574 uploaded
4445 started
table 33564 uploaded
117065 started
table 7319 uploaded
3320 started
table 70824 uploaded
172521 started

/opt/conda/lib/python3.10/site-packages/google/cloud/bigquery/_pandas_helpers.py:603: UserWarning: Pyarrow could not determine the type of columns: tag.
  warnings.warn(

table 39369 uploaded
134073 started
table 27266 uploaded
116839 started
table 182819 uploaded
318 started
table 1244 uploaded
6118 started
table 5239 uploaded
4609 started

/opt/conda/lib/python3.10/site-packages/google/cloud/bigquery/_pandas_helpers.py:603: UserWarning: Pyarrow could not determine the type of columns: tag.
  warnings.warn(

table 7366 uploaded
26998 started
table 5386 uploaded
5951 started
table 5252 uploaded
164821 started
table 2391 uploaded
132068 started
table 117065 uploaded
50601 started
table 5872 uploaded
140212 started
table 172521 uploaded
37380 started
table 3320 uploaded
4503 started
table 4445 uploaded
table 134073 uploaded100075 started
58879 started

table 4609 uploaded
120946 started
table 116839 uploaded
90939 started
table 164821 uploaded
1728 started
table 132068 uploaded
2303 started
table 26998 uploaded
5684 started
table 6118 uploaded
92894 started
table 318 uploaded
857 started

/opt/conda/lib/python3.10/site-packages/google/cloud/bigquery/_pandas_helpers.py:603: UserWarning: Pyarrow could not determine the type of columns: tag.
  warnings.warn(

table 5951 uploaded
66304 started
table 140212 uploaded
174703 started
table 58879 uploaded
90350 started
table 50601 uploaded
163645 started
table 4503 uploaded
3747 started
table 37380 uploaded
77359 started
table 100075 uploaded
109953 started
table 120946 uploaded
5031 started
table 1728 uploaded
57528 started
table 2303 uploaded
144716 started
table 90939 uploaded
112653 started
table 5684 uploaded
31353 started
table 66304 uploaded
3997 started
table 857 uploaded
7065 started
table 92894 uploaded
4699 started
table 174703 uploaded
144556 started
table 90350 uploaded
5030 started

/opt/conda/lib/python3.10/site-packages/google/cloud/bigquery/_pandas_helpers.py:603: UserWarning: Pyarrow could not determine the type of columns: tag.
  warnings.warn(

table 109953 uploaded
63189 started
table 77359 uploaded
118894 started
table 163645 uploaded
7281 started
table 31353 uploaded
102517 started
table 144716 uploaded
6728 started

/opt/conda/lib/python3.10/site-packages/google/cloud/bigquery/_pandas_helpers.py:603: UserWarning: Pyarrow could not determine the type of columns: tag.
  warnings.warn(

table 57528 uploaded
130976 started
table 3997 uploaded
3271 started
table 112653 uploaded
40226 started
table 5030 uploaded
110453 started
table 5031 uploaded
1945 started
table 7065 uploaded
27563 started
table 63189 uploaded
202101 started
table 118894 uploaded
134107 started
table 144556 uploaded
191941 started
table 102517 uploaded
91243 started
table 130976 uploaded
1334 started
table 7281 uploaded
5650 started
table 6728 uploaded
27461 started
table 3747 uploaded
54732 started
table 40226 uploaded
73630 started
table 1945 uploaded
5246 started
table 4699 uploaded
5353 started
table 110453 uploaded
7086 started
table 27563 uploaded
149382 started
table 3271 uploaded
2171 started
table 191941 uploaded
3488 started
table 202101 uploaded
147212 started
table 5650 uploaded
109738 started
table 1334 uploaded
146668 started
table 5246 uploaded
34405 started
table 27461 uploaded
135500 started
table 73630 uploaded
5902 started
table 134107 uploaded
186305 started
table 149382 uploaded
97256 started
table 5353 uploaded
6374 started
table 91243 uploaded
5295 started
table 7086 uploaded
2531 started
table 54732 uploaded
95218 started
table 3488 uploaded
4487 started
table 2171 uploaded
98246 started
table 147212 uploaded
190555 started
table 109738 uploaded
26012 started
table 146668 uploaded
8960 started
table 135500 uploaded
187309 started
table 34405 uploaded
1662 started
table 5902 uploaded
6415 started
table 97256 uploaded
55713 started
table 2531 uploaded
87028 started
table 6374 uploaded
4263 started
table 95218 uploaded
115629 started
table 190555 uploaded
80456 started
table 1662 uploaded
59065 started
table 5295 uploaded
46530 started
table 4487 uploaded
5014 started
table 6415 uploaded
159447 started
table 186305 uploaded
1062 started
table 187309 uploaded
188623 started
table 87028 uploaded
172731 started

/opt/conda/lib/python3.10/site-packages/google/cloud/bigquery/_pandas_helpers.py:603: UserWarning: Pyarrow could not determine the type of columns: tag.
  warnings.warn(

table 98246 uploaded
39435 started
table 26012 uploaded
67748 started
table 4263 uploaded
45440 started
table 55713 uploaded
88485 started
table 59065 uploadedtable 115629 uploaded
7485 started

66596 started
table 159447 uploaded
182297 started
table 5014 uploaded
156553 started
table 172731 uploaded
42007 started
table 46530 uploaded
183073 started
table 8960 uploaded
66509 started
table 39435 uploaded
87197 started
table 80456 uploaded
178335 started
table 67748 uploaded
69442 started
table 45440 uploaded
8967 started
table 1062 uploaded
19 started
table 188623 uploaded
55517 started
table 66596 uploaded
2316 started
table 88485 uploaded
144408 started
table 182297 uploaded
1695 started
table 156553 uploaded
96314 started
table 42007 uploaded
8963 started
table 178335 uploaded
71302 started
table 7485 uploaded
3659 started
table 19 uploaded
3051 started
table 69442 uploaded
8741 started
table 66509 uploaded
185013 started
table 87197 uploaded
79060 started
table 183073 uploaded
5181 started
table 8967 uploaded
105011 started
table 1695 uploaded
75345 started
table 144408 uploaded
57513 started
table 55517 uploaded
109947 started
table 96314 uploaded
table 8963 uploaded4452 started
7581 started

table 2316 uploaded
146642 started
table 71302 uploaded
3657 started
table 3051 uploaded
205074 started
table 5181 uploaded
159858 started
table 3659 uploaded
47721 started
table 185013 uploaded
4032 started
table 75345 uploaded
169764 started
table 79060 uploaded
3760 started
table 57513 uploaded
129707 started
table 105011 uploaded
187 started
table 7581 uploaded
157847 started
table 8741 uploaded
6772 started
table 3657 uploaded
92719 started
table 4452 uploaded
3032 started
table 146642 uploaded
53569 started
table 205074 uploaded
3791 started
table 109947 uploaded
4151 started
table 47721 uploaded
1750 started
table 159858 uploaded
165219 started
table 4032 uploaded
122918 started
table 157847 uploaded
122882 started
table 169764 uploaded
89904 started
table 187 uploaded
68511 started
table 6772 uploaded
165959 started
table 129707 uploaded
193898 started
table 92719 uploaded
3509 started
table 3032 uploaded
6310 started
table 3760 uploaded
1442 started
table 53569 uploaded
25861 started
table 4151 uploaded
6092 started
table 122918 uploaded
3008 started
table 165219 uploaded
7302 started
table 122882 uploaded
71429 started
table 3791 uploaded
110330 started
table 89904 uploaded
149406 started
table 68511 uploaded
6193 started
table 3509 uploaded
72041 started
table 6310 uploaded
183959 started
table 165959 uploaded
61724 started
table 193898 uploaded
3071 started
table 25861 uploaded
51605 started
table 1750 uploaded
202533 started

/opt/conda/lib/python3.10/site-packages/google/cloud/bigquery/_pandas_helpers.py:603: UserWarning: Pyarrow could not determine the type of columns: tag.
  warnings.warn(

table 1442 uploaded
5604 started
table 6092 uploaded
5429 started
table 7302 uploaded
1636 started
table 71429 uploaded
170697 started
table 110330 uploaded
938 started
table 183959 uploaded
41571 started
table 61724 uploaded
6940 started
table 72041 uploaded
6339 started
table 149406 uploaded
32464 started
table 51605 uploaded
82499 started
table 3071 uploaded
185987 started
table 5604 uploaded
2293 started
table 202533 uploaded
141924 started
table 938 uploaded
8 started
table 6193 uploaded
41058 started
table 1636 uploaded
74431 started
table 3008 uploaded
2822 started
table 6339 uploaded
3870 started
table 170697 uploaded
1218 started
table 41571 uploaded
6271 started
table 2293 uploaded
942 started
table 5429 uploaded
163587 started
table 32464 uploaded
6465 started
table 8 uploaded
7011 started
table 141924 uploaded
103474 started
table 6940 uploaded
7221 started
table 82499 uploaded
47264 started
table 2822 uploaded
180497 started
table 185987 uploaded
6598 started
table 41058 uploaded
92740 started
table 1218 uploaded
1066 started
table 6271 uploaded
1853 started
table 3870 uploaded
8258 started
table 6465 uploaded
26488 started
table 7221 uploaded
98983 started
table 103474 uploaded
148242 started
table 163587 uploaded
7347 started
table 942 uploaded
63 started
table 6598 uploaded
379 started
table 7011 uploaded
5797 started
table 47264 uploaded
63310 started
table 180497 uploaded
84615 started
table 1066 uploaded
4740 started
table 92740 uploaded
117442 started
table 8258 uploaded
905 started
table 1853 uploaded
36533 started
table 98983 uploaded
121453 started
table 5797 uploaded
7335 started
table 379 uploaded
161852 started
table 148242 uploadedtable 74431 uploaded

121457 started523 started

table 26488 uploaded
26231 started
table 4740 uploaded
5040 started
table 63 uploaded
5297 started
table 84615 uploaded
131170 started
table 63310 uploaded
8869 started
table 117442 uploaded
117121 started
table 905 uploaded
3769 started
table 121453 uploaded
2197 started
table 36533 uploaded
2570 started
table 7347 uploadedtable 7335 uploaded

160474 started98402 started

table 26231 uploaded
3711 started
table 161852 uploaded
71327 started
table 121457 uploaded
25826 started
table 523 uploaded
114265 started
table 5297 uploaded
154214 started

/opt/conda/lib/python3.10/site-packages/google/cloud/bigquery/_pandas_helpers.py:603: UserWarning: Pyarrow could not determine the type of columns: tag.
  warnings.warn(

table 2197 uploaded
26599 started
table 160474 uploaded
90528 started
table 5040 uploaded
2031 started
table 131170 uploaded
2615 started
table 2570 uploaded
54328 started
table 98402 uploaded
116030 started
table 3769 uploaded
201320 started
table 8869 uploaded
1978 started
table 117121 uploaded
5867 started
table 114265 uploaded
952 started
table 3711 uploaded
58025 started
table 25826 uploaded
6846 started
table 154214 uploaded
55668 started
table 90528 uploaded
30783 started
table 71327 uploaded
5355 started
table 2031 uploaded
6912 started
table 116030 uploaded
82302 started
table 2615 uploaded
26732 started
table 26599 uploaded
62662 started
table 1978 uploaded
5846 started
table 54328 uploaded
4775 started
table 6846 uploaded
71067 started
table 5867 uploaded
6902 started
table 952 uploaded
72369 started
table 55668 uploaded
154160 started
table 58025 uploaded
70587 started
table 30783 uploaded
70599 started
table 201320 uploaded
25940 started
table 82302 uploaded
176625 started
table 6912 uploaded
174543 started
table 5846 uploaded
32560 started
table 5355 uploaded
71372 started
table 62662 uploaded
5436 started
table 6902 uploaded
134775 started
table 26732 uploaded
127585 started
table 4775 uploaded
64249 started
table 71067 uploaded
47997 started
table 72369 uploaded
36462 started
table 70587 uploaded
820 started
table 176625 uploaded
136337 started
table 174543 uploaded
72921 started
table 70599 uploaded
170937 started
table 32560 uploaded
151777 started
table 127585 uploaded
132906 started
table 71372 uploaded
48242 started
table 154160 uploaded
48575 started
table 64249 uploaded
167762 started
table 134775 uploaded
32551 started
table 25940 uploaded
2366 started
table 5436 uploaded
27426 started
table 47997 uploaded
73160 started
table 820 uploaded
166940 started
table 72921 uploaded
173255 started
table 136337 uploaded
79702 started
table 2366 uploaded
26898 started
table 167762 uploaded
4965 started
table 48575 uploaded
5896 started
table 132906 uploaded
426 started
table 48242 uploaded
162882 started
table 36462 uploaded
162 started
table 170937 uploaded
3598 started
table 27426 uploaded
4773 started
table 73160 uploaded
6213 started
table 166940 uploaded
1648 started
table 151777 uploaded
2589 started
table 32551 uploaded
6288 started
table 4965 uploaded
77788 started
table 426 uploaded
170993 started
table 173255 uploaded
195921 started
table 162 uploaded
163809 started
table 3598 uploaded
106766 started
table 79702 uploaded
3922 started
table 162882 uploaded
4936 started
table 26898 uploaded
2393 started
table 4773 uploaded
69849 started
table 6213 uploaded
51694 started
table 6288 uploaded
127098 started
table 1648 uploaded
4472 started
table 5896 uploaded
5962 started
table 170993 uploaded
153794 started
table 106766 uploaded
8532 started
table 163809 uploaded
3165 started
table 2589 uploaded
5771 started
table 4936 uploaded
8227 started
table 3922 uploaded
189195 started
table 69849 uploaded
54783 started
table 2393 uploaded
4759 started
table 77788 uploaded
82037 started

/opt/conda/lib/python3.10/site-packages/google/cloud/bigquery/_pandas_helpers.py:603: UserWarning: Pyarrow could not determine the type of columns: tag.
  warnings.warn(

table 5962 uploaded
2292 started
table 127098 uploaded
3135 started
table 4472 uploaded
146682 started
table 51694 uploaded
101070 started
table 195921 uploaded
120202 started
table 8532 uploaded
4156 started
table 153794 uploaded
201749 started
table 189195 uploaded
150894 started
table 54783 uploaded
269 started
table 3165 uploaded
3199 started
table 8227 uploaded
40148 started
table 2292 uploaded
186249 started
table 101070 uploaded
2397 started
table 5771 uploaded
172511 started
table 3135 uploaded
6125 started
table 4759 uploaded
4358 started
table 82037 uploaded
192579 started
table 146682 uploaded
141712 started
table 201749 uploaded
58939 started
table 3199 uploaded
25850 started
table 120202 uploaded
135166 started
table 269 uploaded
151585 started

/opt/conda/lib/python3.10/site-packages/google/cloud/bigquery/_pandas_helpers.py:603: UserWarning: Pyarrow could not determine the type of columns: tag.
  warnings.warn(

table 4156 uploaded
26504 started
table 2397 uploaded
2003 started
table 150894 uploaded
77204 started
table 40148 uploaded
44241 started
table 4358 uploaded
5195 started
table 172511 uploaded
148789 started
table 6125 uploaded
91707 started
table 58939 uploaded
3280 started
table 25850 uploaded
138835 started
table 192579 uploaded
2060 started
table 186249 uploaded
7613 started
table 2003 uploaded
2513 started
table 151585 uploaded
4501 started
table 141712 uploaded
144266 started
table 26504 uploaded
141826 started
table 44241 uploaded
25926 started
table 77204 uploaded
83264 started
table 135166 uploaded
47423 started
table 5195 uploaded
126418 started
table 3280 uploaded
98963 started
table 91707 uploaded
180 started
table 144266 uploaded
5017 started
table 2513 uploaded
41573 started
table 7613 uploaded
3062 started
table 148789 uploaded
5151 started
table 47423 uploaded
179275 started
table 2060 uploaded
1731 started
table 4501 uploaded
7033 started
table 141826 uploaded
26617 started
table 83264 uploaded
106839 started
table 138835 uploaded
2837 started
table 25926 uploaded
7212 started
table 180 uploaded
4970 started
table 126418 uploaded
4828 started
table 98963 uploaded
45880 started
table 179275 uploaded
26751 started
table 5151 uploaded
25924 started
table 41573 uploaded
150272 started
table 5017 uploaded
464 started
table 1731 uploaded
40586 started
table 7033 uploaded
27018 started
table 7212 uploaded
68536 started
table 106839 uploaded
170285 started
table 3062 uploaded
64660 started
table 4970 uploaded
195297 started
table 26617 uploaded
8007 started
table 150272 uploaded
3100 started
table 45880 uploaded
167638 started
table 2837 uploaded
27329 started
table 4828 uploaded
97242 started
table 40586 uploaded
5268 started
table 68536 uploaded
1935 started
table 26751 uploaded
109720 started
table 27018 uploaded
36401 startedtable 464 uploaded

3614 started
table 25924 uploaded
172879 started
table 64660 uploaded
5205 started
table 167638 uploaded
107426 started
table 27329 uploaded
27824 started
table 170285 uploaded
46948 started
table 195297 uploaded
495 started
table 97242 uploaded
758 started
table 1935 uploaded
74493 started

/opt/conda/lib/python3.10/site-packages/google/cloud/bigquery/_pandas_helpers.py:603: UserWarning: Pyarrow could not determine the type of columns: tag.
  warnings.warn(

table 36401 uploaded
166544 started
table 3614 uploaded
123294 started
table 5268 uploaded
5184 started

/opt/conda/lib/python3.10/site-packages/google/cloud/bigquery/_pandas_helpers.py:603: UserWarning: Pyarrow could not determine the type of columns: tag.
  warnings.warn(

table 172879 uploaded
52170 started
table 8007 uploaded
6967 started
table 3100 uploaded
1302 started
table 109720 uploaded
70227 started
table 107426 uploaded
107949 started
table 758 uploaded
6123 started
table 495 uploaded
8873 started
table 5205 uploaded
4083 started
table 27824 uploaded
5049 started
table 166544 uploaded
88746 started
table 46948 uploaded
7422 started
table 52170 uploaded
4967 started
table 123294 uploaded
4172 started
table 1302 uploaded
187531 started
table 6967 uploaded
200306 started
table 74493 uploaded
166042 started
table 107949 uploaded
1859 started
table 70227 uploaded
7156 started
table 8873 uploaded
173941 started
table 7422 uploaded
847 started
table 5184 uploaded
80258 started
table 4083 uploaded
2708 started
table 4172 uploaded
61317 started
table 6123 uploaded
176389 started
table 88746 uploaded
6687 started
table 166042 uploaded
26180 started
table 4967 uploaded
147186 started
table 5049 uploaded
82066 started
table 200306 uploaded
125958 started
table 7156 uploaded
5310 started
table 1859 uploaded
7097 started
table 173941 uploaded
140711 started
table 80258 uploaded
64030 started
table 2708 uploaded
2320 started
table 187531 uploaded
49280 started
table 847 uploaded
113741 started
table 61317 uploaded
2750 started
table 147186 uploaded
133767 started
table 125958 uploaded
42677 started
table 6687 uploaded
8663 started
table 176389 uploaded
33136 started
table 26180 uploaded
79796 started
table 140711 uploaded
50798 started
table 82066 uploaded
136956 started

/opt/conda/lib/python3.10/site-packages/google/cloud/bigquery/_pandas_helpers.py:603: UserWarning: Pyarrow could not determine the type of columns: tag.
  warnings.warn(

table 7097 uploaded
145150 started
table 2320 uploaded
134783 started
table 64030 uploaded
33247 started
table 49280 uploaded
2091 started
table 113741 uploaded
5490 started
table 5310 uploaded
92966 started
table 8663 uploaded
83531 started
table 33136 uploaded
133281 started
table 79796 uploaded
6110 started
table 42677 uploaded
1386 started
table 50798 uploaded
63788 started
table 145150 uploaded
72393 started
table 133767 uploaded
132484 started
table 33247 uploaded
119145 started
table 134783 uploaded
134945 started

/opt/conda/lib/python3.10/site-packages/google/cloud/bigquery/_pandas_helpers.py:603: UserWarning: Pyarrow could not determine the type of columns: tag.
  warnings.warn(

table 92966 uploaded
57368 started
table 2750 uploaded
155820 started
table 2091 uploaded
130634 started
table 136956 uploaded
1076 started
table 5490 uploaded
697 started
table 6110 uploaded
4651 started
table 63788 uploaded
table 72393 uploaded5749 started
96197 started

table 133281 uploaded
164179 started
table 1386 uploaded
2925 started
table 119145 uploaded
55671 started
table 83531 uploaded
1024 started
table 57368 uploaded
60074 started
table 697 uploaded
6285 started
table 1076 uploaded
4416 started
table 130634 uploaded
8696 started
table 4651 uploaded
7035 started
table 134945 uploaded
60649 started
table 155820 uploaded
129779 started
table 96197 uploaded
4271 started
table 132484 uploaded
120813 started
table 55671 uploaded
5248 started
table 1024 uploaded
55272 started
table 5749 uploaded
146604 started
table 164179 uploaded
144688 started
table 8696 uploaded
6202 started
table 4416 uploaded
92335 started
table 2925 uploaded
26638 started
table 60074 uploaded
5943 started
table 129779 uploaded
41617 started
table 4271 uploaded
45062 started
table 60649 uploaded
6313 started
table 6285 uploaded
117895 started
table 7035 uploaded
97046 started
table 5248 uploaded
53752 started
table 120813 uploaded
8770 started
table 6202 uploaded
25869 started
table 26638 uploaded
1120 started
table 92335 uploaded
1148 started
table 144688 uploaded
188505 started
table 146604 uploaded
51931 started
table 45062 uploaded
158528 started
table 117895 uploaded
46972 started
table 6313 uploaded
74416 started
table 55272 uploaded
377 started
table 5943 uploaded
142604 started
table 53752 uploaded
4448 started
table 97046 uploaded
61255 started
table 8770 uploaded
4908 started
table 1120 uploaded
273 started
table 188505 uploaded
130998 started

/opt/conda/lib/python3.10/site-packages/google/cloud/bigquery/_pandas_helpers.py:603: UserWarning: Pyarrow could not determine the type of columns: tag.
  warnings.warn(

table 51931 uploaded
25948 started
table 25869 uploaded
4320 started
table 377 uploaded
170401 started
table 1148 uploaded
4394 started
table 61255 uploaded
36326 started
table 74416 uploaded
48600 started
table 158528 uploaded
87867 started
table 46972 uploaded
4054 started
table 273 uploaded
26975 started

/opt/conda/lib/python3.10/site-packages/google/cloud/bigquery/_pandas_helpers.py:603: UserWarning: Pyarrow could not determine the type of columns: tag.
  warnings.warn(

table 4908 uploaded
38994 started
table 4448 uploaded
105197 started
table 142604 uploaded
27482 started
table 130998 uploaded
164204 started
table 25948 uploaded
5966 started
table 4394 uploaded
6537 started
table 4320 uploaded
202519 started
table 36326 uploaded
table 4054 uploaded1282 started

136511 started
table 26975 uploaded
72703 started
table 48600 uploaded
145418 started
table 164204 uploaded
2337 started
table 27482 uploaded
78934 started
table 170401 uploaded
5671 started
table 38994 uploaded
4147 started
table 105197 uploaded
205383 started
table 87867 uploaded
4516 started
table 5966 uploaded
4984 started
table 72703 uploaded
7582 started
table 2337 uploaded
26908 started
table 145418 uploaded
2921 started
table 1282 uploaded
81698 started
table 136511 uploaded
70334 started
table 202519 uploaded
198703 started
table 5671 uploaded
168352 started
table 78934 uploaded
98511 started
table 6537 uploaded
51455 started
table 4516 uploaded
139525 started
table 4984 uploaded
4652 started
table 205383 uploaded
8862 started
table 4147 uploaded
147726 started
table 26908 uploaded
691 started
table 7582 uploaded
167764 started
table 98511 uploaded
5452 started
table 198703 uploaded
71154 started
table 51455 uploaded
96486 started
table 4652 uploaded
166562 started
table 81698 uploaded
112501 started
table 2921 uploaded
36247 started
table 8862 uploaded
57532 started
table 70334 uploaded
103727 started
table 168352 uploaded
8208 started
table 167764 uploaded
3514 started

/opt/conda/lib/python3.10/site-packages/google/cloud/bigquery/_pandas_helpers.py:603: UserWarning: Pyarrow could not determine the type of columns: tag.
  warnings.warn(

table 691 uploaded
27722 started
table 147726 uploaded
1674 started
table 5452 uploaded
8823 started
table 71154 uploaded
26283 started
table 112501 uploaded
145140 started
table 36247 uploaded
62203 started
table 166562 uploaded
170835 started
table 57532 uploaded
89864 started
table 103727 uploaded
142929 started
table 96486 uploaded
140133 started
table 1674 uploaded
92222 started
table 8208 uploaded
79596 started
table 145140 uploaded
91869 started
table 27722 uploaded
68872 started
table 8823 uploaded
94815 started
table 142929 uploaded
2143 started
table 3514 uploaded
44193 started
table 89864 uploaded
6377 started
table 62203 uploaded
41699 started
table 26283 uploaded
32593 started
table 140133 uploaded
31553 started
table 170835 uploaded
5113 started
table 91869 uploaded
52717 started
table 68872 uploaded
2904 started
table 92222 uploaded
95300 started
table 79596 uploaded
72850 started

/opt/conda/lib/python3.10/site-packages/google/cloud/bigquery/_pandas_helpers.py:603: UserWarning: Pyarrow could not determine the type of columns: tag.
  warnings.warn(

table 6377 uploaded
2010 started
table 94815 uploaded
7443 started
table 41699 uploaded
31960 started
table 44193 uploaded
2945 started
table 2143 uploaded
147927 started
table 32593 uploaded
48700 started
table 31553 uploaded
25810 started
table 2904 uploaded
4324 started
table 5113 uploaded
70465 started
table 7443 uploaded
6984 started
table 52717 uploaded
4809 started
table 72850 uploaded
117488 started
table 95300 uploaded
129737 started
table 2010 uploaded
8973 started
table 147927 uploaded
49314 started
table 48700 uploaded
4282 started
table 31960 uploaded
102174 started

/opt/conda/lib/python3.10/site-packages/google/cloud/bigquery/_pandas_helpers.py:603: UserWarning: Pyarrow could not determine the type of columns: tag.
  warnings.warn(

table 139525 uploaded
34045 started
table 25810 uploaded
2050 started
table 2945 uploaded
59684 started
table 4324 uploaded
2971 started
table 4809 uploaded
4947 started
table 4282 uploaded
87792 started
table 6984 uploaded
26198 started
table 117488 uploaded
66156 started
table 49314 uploaded
103816 started
table 2050 uploaded
129788 started
table 129737 uploaded
144962 started
table 70465 uploaded
31030 started
table 102174 uploaded
1985 started
table 59684 uploaded
144540 started
table 34045 uploaded
4390 started
table 8973 uploaded
3758 started
table 4947 uploaded
5988 started
table 2971 uploaded
51094 started
table 41617 uploaded
6395 started
table 26198 uploaded
180987 started
table 66156 uploaded
103275 started
table 103816 uploaded
1073 started
table 87792 uploaded
186587 started
table 144962 uploaded
7809 started
table 1985 uploaded
8875 started
table 144540 uploaded
3876 started

/opt/conda/lib/python3.10/site-packages/google/cloud/bigquery/_pandas_helpers.py:603: UserWarning: Pyarrow could not determine the type of columns: tag.
  warnings.warn(

table 31030 uploaded
103335 started
table 6395 uploaded
4607 started
table 129788 uploaded
4319 started
table 3758 uploaded
86290 started
table 4390 uploaded
123353 started
table 180987 uploaded
119966 started
table 186587 uploaded
38538 started
table 103275 uploaded
94480 started
table 51094 uploaded
7279 started
table 5988 uploaded
178839 started
table 3876 uploaded
25820 started
table 7809 uploaded
2410 started
table 103335 uploaded
97921 started
table 1073 uploaded
53827 started
table 4319 uploaded
4043 started
table 8875 uploaded
118248 started
table 86290 uploaded
756 started
table 123353 uploaded
25886 started
table 94480 uploaded
176339 started
table 7279 uploaded
5052 started
table 25820 uploaded
158094 started

/opt/conda/lib/python3.10/site-packages/google/cloud/bigquery/_pandas_helpers.py:603: UserWarning: Pyarrow could not determine the type of columns: tag.
  warnings.warn(

table 119966 uploaded
118854 started
table 4607 uploaded
97959 started
table 118248 uploaded
134170 started
table 2410 uploaded
153070 started
table 4043 uploaded
1461 started
table 756 uploaded
5986 started
table 53827 uploaded
165441 started
table 38538 uploaded
68954 started
table 97921 uploaded
98061 started
table 118854 uploaded
158575 started
table 97959 uploaded
151927 started
table 5052 uploaded
183641 started
table 25886 uploaded
98381 started
table 178839 uploaded
6545 started
table 1461 uploaded
6924 started
table 158094 uploaded
26745 started
table 176339 uploaded
3752 started
table 134170 uploaded
2521 started
table 165441 uploaded
144216 started

/opt/conda/lib/python3.10/site-packages/google/cloud/bigquery/_pandas_helpers.py:603: UserWarning: Pyarrow could not determine the type of columns: tag.
  warnings.warn(

table 153070 uploaded
1287 started
table 151927 uploaded
30994 started

/opt/conda/lib/python3.10/site-packages/google/cloud/bigquery/_pandas_helpers.py:603: UserWarning: Pyarrow could not determine the type of columns: tag.
  warnings.warn(

table 98381 uploaded
69640 started
table 68954 uploaded
62113 started
table 5986 uploaded
113099 started
table 98061 uploaded
4946 started

/opt/conda/lib/python3.10/site-packages/google/cloud/bigquery/_pandas_helpers.py:603: UserWarning: Pyarrow could not determine the type of columns: tag.
  warnings.warn(

table 158575 uploaded
115927 started
table 6545 uploaded
90243 started
table 3752 uploaded
26169 started
table 1287 uploaded
54510 started
table 144216 uploaded
47117 started
table 6924 uploaded
26208 started
table 183641 uploaded
4656 started

/opt/conda/lib/python3.10/site-packages/google/cloud/bigquery/_pandas_helpers.py:603: UserWarning: Pyarrow could not determine the type of columns: tag.
  warnings.warn(

table 2521 uploaded
78574 started
table 26745 uploaded
73587 started
table 69640 uploaded
90843 started
table 30994 uploaded
194052 started
table 115927 uploaded
54419 started
table 62113 uploaded
4583 started
table 4946 uploaded
33480 started
table 90243 uploaded
102483 started
table 113099 uploaded
26704 started
table 26169 uploaded
1035 started
table 47117 uploaded
6740 started
table 26208 uploaded
118103 started
table 54510 uploaded
7484 started
table 4656 uploaded
3560 started
table 90843 uploaded
132630 started
table 194052 uploaded
4446 started
table 73587 uploaded
50970 started
table 54419 uploaded
146358 started

/opt/conda/lib/python3.10/site-packages/google/cloud/bigquery/_pandas_helpers.py:603: UserWarning: Pyarrow could not determine the type of columns: tag.
  warnings.warn(

table 118103 uploaded
92437 started
table 1035 uploaded
1477 started
table 102483 uploaded
54243 started
table 33480 uploaded
340 started
table 7484 uploaded
192385 started
table 4583 uploaded
30712 started
table 3560 uploaded
121167 started

/opt/conda/lib/python3.10/site-packages/google/cloud/bigquery/_pandas_helpers.py:603: UserWarning: Pyarrow could not determine the type of columns: tag.
  warnings.warn(

table 26704 uploaded
152163 started
table 6740 uploaded
105531 started
table 78574 uploaded
8785 started
table 4446 uploaded
43801 started
table 132630 uploaded
83962 started
table 146358 uploaded
5410 started
table 340 uploaded
185571 started
table 50970 uploaded
1645 started
table 92437 uploaded
151765 started
table 192385 uploaded
3134 started
table 1477 uploaded
6225 started
table 121167 uploaded
141058 started
table 152163 uploaded
72378 started
table 54243 uploaded
40591 started
table 30712 uploaded
136501 started
table 8785 uploaded
139415 started
table 185571 uploaded
118198 started
table 83962 uploaded
4561 started
table 1645 uploaded
2878 started
table 105531 uploaded
107436 started
table 3134 uploaded
27873 started
table 6225 uploaded
41226 started
table 151765 uploaded
5660 started
table 5410 uploaded
136786 started
table 72378 uploaded
7748 started
table 141058 uploaded
71808 started
table 136501 uploaded
67508 started
table 40591 uploaded
5832 started
table 43801 uploaded
49735 started
table 139415 uploaded
54536 started
table 118198 uploaded
32770 started
table 27873 uploaded
108689 started
table 107436 uploaded
92204 started
table 136786 uploaded
2145 started
table 41226 uploaded
88270 started
table 4561 uploaded
61401 started
table 67508 uploaded
513 started
table 5660 uploaded
81355 started
table 7748 uploaded
1135 started
table 71808 uploaded
1213 started
table 5832 uploaded
6185 started
table 108689 uploaded
174423 started
table 54536 uploaded
55652 started
table 2878 uploaded
1806 started
table 49735 uploaded
176681 started
table 88270 uploaded
5022 started
table 32770 uploaded
776 started

/opt/conda/lib/python3.10/site-packages/google/cloud/bigquery/_pandas_helpers.py:603: UserWarning: Pyarrow could not determine the type of columns: tag.
  warnings.warn(

table 61401 uploaded
3377 started
table 92204 uploaded
47937 started
table 1135 uploaded
5221 started
table 2145 uploaded
127218 started
table 1213 uploaded
4507 started

/opt/conda/lib/python3.10/site-packages/google/cloud/bigquery/_pandas_helpers.py:603: UserWarning: Pyarrow could not determine the type of columns: tag.
  warnings.warn(

table 513 uploaded
3456 started
table 174423 uploaded
110871 started
table 6185 uploaded
107 started
table 55652 uploaded
1013 started
table 81355 uploaded
27112 started
table 1806 uploaded
46880 started
table 5022 uploaded
120805 started
table 47937 uploaded
7416 started
table 3377 uploaded
87911 started
table 3456 uploaded
25972 started
table 176681 uploaded
96066 started
table 5221 uploaded
189203 started
table 776 uploaded
70641 started
table 110871 uploaded
8915 started
table 107 uploaded
68259 started
table 127218 uploaded
139847 started
table 27112 uploaded
6207 started
table 46880 uploaded
5327 started
table 1013 uploaded
411 started
table 4507 uploaded
62834 started
table 120805 uploaded
5064 started
table 25972 uploaded
118101 started
table 96066 uploaded
8444 started
table 189203 uploaded
3474 started
table 87911 uploaded
4463 started
table 7416 uploaded
6003 started
table 8915 uploaded
66317 started
table 6207 uploaded
6413 started
table 70641 uploaded
74428 started
table 139847 uploaded
26343 started
table 5327 uploaded
8462 started
table 62834 uploaded
33972 started
table 3474 uploaded
181357 started
table 118101 uploaded
43838 started

/opt/conda/lib/python3.10/site-packages/google/cloud/bigquery/_pandas_helpers.py:603: UserWarning: Pyarrow could not determine the type of columns: tag.
  warnings.warn(

table 8444 uploaded
166655 started
table 411 uploaded
6108 started
table 66317 uploaded
347 started
table 68259 uploaded
99402 started
table 4463 uploaded
198147 started
table 74428 uploaded
6573 started
table 6003 uploaded
3900 started
table 33972 uploaded
2345 started
table 6413 uploaded
145094 started
table 5064 uploaded
162982 started
table 8462 uploaded
120130 started
table 26343 uploaded
53024 started
table 166655 uploaded
127 started
table 347 uploaded
4934 started
table 198147 uploaded
95510 started
table 181357 uploaded
53127 started
table 99402 uploaded
120775 started
table 6573 uploaded
121194 started
table 6108 uploaded
203160 started
table 145094 uploaded
161334 started
table 43838 uploaded
180737 started
table 3900 uploaded
58520 started
table 120130 uploaded
194722 started
table 162982 uploaded
77709 started
table 127 uploaded
93831 started
table 53127 uploaded
101003 started
table 95510 uploaded
4316 started
table 120775 uploaded
table 53024 uploaded34469 startedtable 121194 uploaded


59260 started64032 started

table 203160 uploaded
92058 started
table 2345 uploaded
60411 started
table 194722 uploaded
3155 started
table 180737 uploaded
94917 started
table 4934 uploaded
53853 started
table 93831 uploaded
65310 started
table 161334 uploaded
2830 started
table 77709 uploaded
78637 started
table 101003 uploaded
6367 started
table 4316 uploaded
1186 started
table 59260 uploaded
4235 started
table 34469 uploaded
126951 startedtable 58520 uploaded

5104 started
table 64032 uploaded
111389 started
table 60411 uploaded
132468 started
table 3155 uploaded
86094 started
table 94917 uploaded
27372 started
table 53853 uploaded
116849 started
table 92058 uploaded
136307 started
table 65310 uploaded
151199 started

/opt/conda/lib/python3.10/site-packages/google/cloud/bigquery/_pandas_helpers.py:603: UserWarning: Pyarrow could not determine the type of columns: tag.
  warnings.warn(

table 4235 uploaded
4114 started
table 2830 uploaded
7246 started

/opt/conda/lib/python3.10/site-packages/google/cloud/bigquery/_pandas_helpers.py:603: UserWarning: Pyarrow could not determine the type of columns: tag.
  warnings.warn(

table 6367 uploaded
1543 started

/opt/conda/lib/python3.10/site-packages/google/cloud/bigquery/_pandas_helpers.py:603: UserWarning: Pyarrow could not determine the type of columns: tag.
  warnings.warn(

table 126951 uploaded
33603 started
table 5104 uploaded
159849 started
table 132468 uploaded
4634 started
table 78637 uploaded
2633 started
table 116849 uploaded
4046 started
table 86094 uploaded
104384 started
table 27372 uploaded
48783 started
table 136307 uploaded
199566 started
table 1543 uploaded
6681 started
table 4114 uploaded
168636 started
table 4634 uploaded
8137 started
table 7246 uploaded
5032 started
table 151199 uploaded
4188 started
table 33603 uploaded
104733 started
table 1186 uploaded
5859 started
table 4046 uploaded
92904 started
table 111389 uploaded
5753 started
table 159849 uploaded
86293 started
table 104384 uploadedtable 48783 uploaded

151703 started88889 started

table 199566 uploaded
1513 started
table 6681 uploaded
74446 started
table 8137 uploaded
26256 started
table 4188 uploaded
85788 started
table 5753 uploaded
88272 started
table 5859 uploaded
5288 started
table 104733 uploaded
7252 started
table 92904 uploaded
4646 started
table 2633 uploaded
1236 started
table 88889 uploaded
26775 started
table 1513 uploaded
1175 started
table 151703 uploaded
63222 started
table 86293 uploaded
1412 started
table 74446 uploaded
4568 started
table 85788 uploaded
27888 started
table 168636 uploaded
120795 started
table 5288 uploaded
8404 started
table 26256 uploaded
6792 started
table 88272 uploaded
87040 started
table 7252 uploaded
134130 started
table 4646 uploaded
74580 started
table 1236 uploaded
1719 started
table 26775 uploaded
3765 started
table 1175 uploaded
5715 started
table 63222 uploaded
180045 started
table 27888 uploaded
97662 started
table 6792 uploaded
26378 started
table 1412 uploaded
406 started
table 120795 uploaded
176699 started

/opt/conda/lib/python3.10/site-packages/google/cloud/bigquery/_pandas_helpers.py:603: UserWarning: Pyarrow could not determine the type of columns: tag.
  warnings.warn(

table 4568 uploaded
56093 started
table 87040 uploaded
6417 started
table 5032 uploaded
8936 started
table 3765 uploaded
132446 started
table 134130 uploaded
89230 started
table 8404 uploaded
7102 started
table 180045 uploaded
4014 started
table 74580 uploaded
121372 started
table 1719 uploaded
98852 started
table 5715 uploaded
168838 started
table 97662 uploaded
172593 started
table 176699 uploaded
82304 started
table 26378 uploaded
8494 started
table 8936 uploaded
1949 started
table 406 uploaded
92106 started
table 56093 uploaded
836 started
table 7102 uploaded
212 started
table 4014 uploaded
2416 started
table 132446 uploaded
155743 started
table 89230 uploaded
5270 started
table 98852 uploaded
89535 started
table 168838 uploaded
92768 started
table 172593 uploaded
36529 started
table 1949 uploaded
86014 started
table 121372 uploaded
182359 started
table 6417 uploaded
164145 started
table 92106 uploaded
6222 started
table 82304 uploaded
26479 started
table 836 uploaded
67898 started
table 2416 uploaded
199974 started
table 92768 uploaded
1372 started
table 8494 uploaded
26566 started
table 155743 uploaded
26164 started
table 5270 uploaded
6731 started
table 86014 uploaded
8118 started
table 89535 uploaded
124867 started
table 182359 uploaded
163941 started
table 212 uploaded
67997 started
table 164145 uploaded
2717 started
table 36529 uploaded
26409 started
table 26566 uploaded
32335 started
table 6222 uploaded
2917 started
table 26479 uploaded
2670 started
table 1372 uploaded
91414 started
table 163941 uploaded
3275 started
table 26164 uploaded
110826 started
table 67898 uploaded
8892 started
table 199974 uploaded
61312 started
table 8118 uploaded
188823 started
table 124867 uploaded
196081 started
table 2717 uploaded
2430 started
table 6731 uploaded
25915 started
table 26409 uploaded
52418 started
table 67997 uploaded
74263 started
table 8892 uploaded
2008 started
table 2670 uploaded
27513 started
table 2917 uploaded
521 started
table 110826 uploaded
79224 started
table 32335 uploaded
25894 started
table 61312 uploaded
3076 started
table 91414 uploaded
193041 started
table 188823 uploaded
81993 started
table 2430 uploaded
2201 started
table 196081 uploaded
134575 started
table 25915 uploaded
133869 started
table 25894 uploaded
2426 started
table 3275 uploaded
3198 started
table 27513 uploaded
89139 started
table 521 uploaded
103539 started
table 3076 uploaded
93473 started
table 52418 uploaded
74701 started
table 74263 uploaded
6428 started
table 79224 uploaded
6748 started
table 193041 uploaded
2493 started
table 134575 uploaded
8808 started
table 81993 uploaded
5983 started
table 2201 uploaded
86410 started
table 2426 uploaded
107400 started
table 2008 uploaded
61742 started
table 133869 uploaded
6530 started
table 89139 uploaded
57183 started
table 103539 uploaded
102378 started
table 3198 uploaded
50851 started
table 93473 uploaded
4982 started
table 74701 uploaded
183457 started
table 2493 uploaded
8801 started
table 6748 uploaded
637 started
table 86410 uploaded
76816 started
table 5983 uploaded
6686 started
table 6530 uploaded
101 started
table 107400 uploaded
6737 started

/opt/conda/lib/python3.10/site-packages/google/cloud/bigquery/_pandas_helpers.py:603: UserWarning: Pyarrow could not determine the type of columns: tag.
  warnings.warn(

table 6428 uploaded
47810 started
table 61742 uploaded
8930 started
table 102378 uploaded
7258 started
table 8808 uploaded
8125 started
table 4982 uploaded
82276 started
table 57183 uploaded
5972 started
table 50851 uploaded
118908 started
table 183457 uploaded
5989 started
table 637 uploaded
192559 started
table 6686 uploaded
179173 started
table 6737 uploaded
205287 started
table 76816 uploaded
173535 started
table 8801 uploaded
130083 started
table 101 uploaded
35957 started

/opt/conda/lib/python3.10/site-packages/google/cloud/bigquery/_pandas_helpers.py:603: UserWarning: Pyarrow could not determine the type of columns: tag.
  warnings.warn(

table 47810 uploaded
126595 started
table 8930 uploaded
32354 started
table 82276 uploaded
71248 started
table 118908 uploaded
61352 started
table 7258 uploaded
135454 started

/opt/conda/lib/python3.10/site-packages/google/cloud/bigquery/_pandas_helpers.py:603: UserWarning: Pyarrow could not determine the type of columns: tag.
  warnings.warn(

table 5989 uploaded
176943 started
table 192559 uploaded
129313 started
table 5972 uploaded
177765 started
table 173535 uploaded
181315 started
table 8125 uploaded
8749 started
table 179173 uploaded
1590 started
table 32354 uploaded
4708 started
table 130083 uploaded
144284 started
table 35957 uploaded
75349 started
table 126595 uploaded
165549 started
table 205287 uploaded
1368 started
table 71248 uploaded
146234 started
table 61352 uploaded
183139 started
table 135454 uploaded
8868 started
table 176943 uploaded
2287 started
table 129313 uploaded
3465 started
table 181315 uploaded
8224 started
table 177765 uploaded
5915 started

/opt/conda/lib/python3.10/site-packages/google/cloud/bigquery/_pandas_helpers.py:603: UserWarning: Pyarrow could not determine the type of columns: tag.
  warnings.warn(

table 1590 uploaded
2936 started
table 144284 uploaded
72479 started
table 8749 uploaded
3054 started
table 1368 uploaded
78955 started
table 183139 uploaded
117549 started
table 75349 uploaded
144282 started
table 165549 uploaded
130052 started
table 3465 uploaded
48780 started
table 8868 uploaded
59336 started
table 146234 uploaded
81305 started
table 4708 uploaded
88127 started
table 2287 uploaded
44191 started
table 2936 uploaded
166024 started
table 117549 uploaded
116969 started
table 78955 uploaded
77307 started
table 3054 uploaded
298 started
table 8224 uploaded
174549 started
table 5915 uploaded
115909 started
table 130052 uploaded
116831 started
table 144282 uploaded
40755 started
table 72479 uploaded
42958 started
table 81305 uploaded
1061 started
table 88127 uploaded
116411 started
table 48780 uploaded
108660 started
table 44191 uploaded
192341 started
table 59336 uploaded
2302 started
table 166024 uploaded
74575 started
table 77307 uploaded
34238 started
table 115909 uploaded
6477 started
table 40755 uploaded
53226 started
table 298 uploaded
27884 started
table 116969 uploaded
51666 started
table 42958 uploaded
78099 started
table 116411 uploaded

/opt/conda/lib/python3.10/site-packages/google/cloud/bigquery/_pandas_helpers.py:603: UserWarning: Pyarrow could not determine the type of columns: tag.
  warnings.warn(

2466 started
table 174549 uploaded
31867 started
table 1061 uploaded
2537 started
table 116831 uploaded
140850 started
table 74575 uploaded
87302 started
table 2302 uploaded
94896 started
table 108660 uploaded
106332 started
table 192341 uploaded
4650 started
table 34238 uploaded
1257 started
table 53226 uploaded
31364 started
table 27884 uploaded
51418 started
table 2466 uploaded
107447 started
table 31867 uploaded
3401 started
table 6477 uploaded
68554 started
table 2537 uploaded
56474 started
table 51666 uploaded
166952 started

/opt/conda/lib/python3.10/site-packages/google/cloud/bigquery/_pandas_helpers.py:603: UserWarning: Pyarrow could not determine the type of columns: tag.
  warnings.warn(

table 78099 uploaded
110457 started
table 106332 uploaded
6120 started
table 4650 uploaded
4178 started
table 94896 uploaded
7241 started
table 87302 uploaded
81725 started
table 31364 uploaded
5025 started
table 51418 uploaded
94542 started
table 140850 uploaded
51207 started
table 1257 uploaded
56563 started
table 107447 uploaded
42152 started

/opt/conda/lib/python3.10/site-packages/google/cloud/bigquery/_pandas_helpers.py:603: UserWarning: Pyarrow could not determine the type of columns: tag.
  warnings.warn(

table 68554 uploaded
167766 started
table 56474 uploaded
1125 started
table 6120 uploaded
52101 started
table 166952 uploaded
7180 started
table 3401 uploaded
136471 started
table 110457 uploaded
59814 started
table 7241 uploaded
2693 started
table 94542 uploaded
585 started
table 4178 uploaded
5415 started
table 5025 uploaded
97988 started
table 51207 uploaded
167036 started
table 7180 uploaded
8257 started
table 136471 uploaded
89872 started
table 1125 uploaded
3031 started
table 59814 uploaded
132046 started
table 167766 uploaded
2023 started
table 52101 uploaded
108078 started
table 56563 uploaded
531 started
table 2693 uploaded
4121 started
table 5415 uploaded
8748 started
table 42152 uploaded
51773 started
table 585 uploaded
76093 started
table 167036 uploaded
48555 started
table 531 uploaded
606 started
table 108078 uploaded
5806 started
table 8257 uploaded
122884 started
table 89872 uploaded
110328 started
table 4121 uploaded
203375 started
table 97988 uploaded
132344 started
table 132046 uploaded
69873 started
table 3031 uploaded
130642 started
table 2023 uploaded
4711 started
table 76093 uploaded
95309 started
table 8748 uploaded
26146 started
table 51773 uploaded
185001 started
table 48555 uploaded
33587 started
table 5806 uploaded
190745 started
table 203375 uploaded
97757 started
table 132344 uploaded
7616 started
table 122884 uploaded
78978 started
table 110328 uploaded
103055 started
table 606 uploaded
197201 started
table 69873 uploaded
6450 started
table 95309 uploaded
132458 started
table 4711 uploaded
45 started
table 130642 uploaded
4812 started
table 26146 uploaded
88574 started
table 185001 uploaded
194638 started
table 190745 uploaded
79773 started

/opt/conda/lib/python3.10/site-packages/google/cloud/bigquery/_pandas_helpers.py:603: UserWarning: Pyarrow could not determine the type of columns: tag.
  warnings.warn(

table 103055 uploaded
32444 started
table 197201 uploaded
149011 started
table 33587 uploaded
1844 started
table 97757 uploaded
96110 started
table 78978 uploaded
2177 started
table 7616 uploaded
84799 started
table 132458 uploaded
3242 started

/opt/conda/lib/python3.10/site-packages/google/cloud/bigquery/_pandas_helpers.py:603: UserWarning: Pyarrow could not determine the type of columns: tag.
  warnings.warn(

table 6450 uploaded
2323 started
table 194638 uploaded
2341 started
table 45 uploaded
8670 started
table 4812 uploaded
93324 started
table 79773 uploaded
95816 started
table 84799 uploaded
175323 started
table 81725 uploaded
2780 started
table 96110 uploaded
99047 started
table 1844 uploaded
3485 started
table 32444 uploaded
38159 started
table 149011 uploaded
6089 started
table 88574 uploaded
3056 started
table 3242 uploaded
5426 started
table 8670 uploaded
1188 started
table 2323 uploaded
table 2177 uploaded49079 started

3130 started
table 2341 uploaded
31724 started

/opt/conda/lib/python3.10/site-packages/google/cloud/bigquery/_pandas_helpers.py:603: UserWarning: Pyarrow could not determine the type of columns: tag.
  warnings.warn(

table 2780 uploaded
4541 started
table 99047 uploaded
26119 started
table 93324 uploaded
32625 started
table 175323 uploaded
129401 started
table 38159 uploaded
3073 started
table 3485 uploaded
54331 started
table 6089 uploaded
8329 started
table 3056 uploaded
167392 started
table 1188 uploaded
67464 started
table 95816 uploaded
5409 started
table 5426 uploaded
6249 started
table 129401 uploaded
63273 started
table 3130 uploaded
86852 started
table 54331 uploaded
3167 started
table 31724 uploaded
101283 started
table 49079 uploaded
79588 started
table 32625 uploaded
5763 started
table 167392 uploaded
113240 started
table 26119 uploaded
108575 started
table 3073 uploaded
51185 started
table 4541 uploaded
467 started
table 67464 uploaded
465 started
table 5409 uploaded
4905 started
table 8329 uploaded
57421 started
table 86852 uploaded
183077 started
table 63273 uploaded
219 started
table 101283 uploaded
68237 started
table 3167 uploaded
197199 started
table 6249 uploaded
5768 started
table 79588 uploaded
71268 started
table 467 uploaded
6076 started
table 51185 uploaded
5992 started
table 108575 uploadedtable 4905 uploaded
177769 started

3512 started
table 5763 uploaded
49225 started
table 113240 uploaded
194004 started
table 465 uploaded
74115 started
table 57421 uploaded
163134 started
table 183077 uploaded
148442 started
table 197199 uploaded
56158 started
table 68237 uploaded
4718 started
table 5768 uploaded
145 started
table 71268 uploaded
6746 started
table 6076 uploaded
172809 started
table 3512 uploaded
68444 started
table 5992 uploaded
5228 started
table 49225 uploaded
123107 started
table 177769 uploaded
4268 started
table 148442 uploaded
51991 started
table 74115 uploaded
4793 started
table 194004 uploaded
31660 started
table 163134 uploaded
4236 started
table 219 uploaded
80858 started
table 56158 uploaded
2769 started
table 4718 uploaded
197651 started
table 6746 uploaded
38294 started
table 172809 uploaded
26124 started
table 145 uploaded
47446 started
table 68444 uploaded
2706 started
table 4268 uploaded
41094 started
table 31660 uploaded
52668 started
table 2769 uploaded
127184 started
table 80858 uploaded
80432 started
table 5228 uploaded
62849 started
table 4793 uploaded
130840 started
table 123107 uploaded
171207 started
table 4236 uploaded
91286 started
table 197651 uploaded
134587 started
table 38294 uploaded
129739 started
table 51991 uploaded
77328 started
table 2706 uploaded
155812 started
table 26124 uploaded
7161 started
table 47446 uploaded
327 started
table 52668 uploaded
4214 started
table 62849 uploaded
797 started
table 41094 uploaded
79798 started
table 80432 uploaded
143369 started
table 171207 uploaded
139721 started
table 127184 uploaded
56515 started
table 91286 uploaded
27370 started
table 134587 uploaded
51037 started
table 130840 uploaded
89490 started
table 129739 uploaded
27033 started
table 327 uploaded
8829 started
table 143369 uploaded
2140 started
table 7161 uploaded
171315 started
table 139721 uploaded
8527 started
table 79798 uploadedtable 77328 uploaded

201304 started
31584 started

/opt/conda/lib/python3.10/site-packages/google/cloud/bigquery/_pandas_helpers.py:603: UserWarning: Pyarrow could not determine the type of columns: tag.
  warnings.warn(

table 51037 uploaded
8912 started
table 797 uploaded
91540 started
table 4214 uploaded
3161 started
table 56515 uploaded
175673 started
table 155812 uploaded
65672 started
table 89490 uploaded
101962 started
table 27033 uploaded
84122 started
table 8829 uploaded
58191 started
table 27370 uploaded
8380 started
table 8527 uploaded
26341 started
table 201304 uploaded
172803 started
table 91540 uploaded
6068 started
table 31584 uploaded
1782 started

/opt/conda/lib/python3.10/site-packages/google/cloud/bigquery/_pandas_helpers.py:603: UserWarning: Pyarrow could not determine the type of columns: tag.
  warnings.warn(

table 3161 uploaded
31042 started
table 8912 uploaded
5570 started
table 65672 uploaded
6720 started
table 2140 uploaded
7210 started
table 171315 uploaded
195639 started
table 175673 uploaded
33393 started
table 101962 uploaded
173687 started
table 58191 uploaded
4929 started
table 172803 uploaded
5764 started
table 84122 uploaded
48895 started
table 8380 uploaded
131656 started
table 1782 uploaded
7898 started
table 31042 uploaded
112913 started
table 6720 uploaded
3611 started
table 5570 uploaded
55156 started
table 6068 uploaded
31610 started

/opt/conda/lib/python3.10/site-packages/google/cloud/bigquery/_pandas_helpers.py:603: UserWarning: Pyarrow could not determine the type of columns: tag.
  warnings.warn(

table 7210 uploaded
8385 started
table 26341 uploaded
574 started
table 33393 uploaded
140553 started
table 4929 uploaded
113705 started
table 195639 uploaded
54780 started
table 173687 uploaded
43391 started
table 48895 uploaded
78003 started
table 131656 uploaded
88548 started
table 5764 uploaded
1661 started
table 112913 uploaded
4723 started
table 31610 uploaded
101296 started
table 3611 uploaded
60461 started
table 55156 uploaded
7439 started
table 574 uploaded
126048 started
table 8385 uploaded
25739 started
table 113705 uploaded
109351 started
table 7898 uploaded
98116 started
table 54780 uploaded
170355 started
table 78003 uploaded
6474 started
table 140553 uploaded
45431 started
table 1661 uploaded
116169 started
table 43391 uploaded
8988 started
table 4723 uploaded
table 7439 uploaded39818 started

33725 started
table 88548 uploaded
3153 started
table 126048 uploaded
166285 started
table 98116 uploaded
4806 started
table 101296 uploaded
142953 started

/opt/conda/lib/python3.10/site-packages/google/cloud/bigquery/_pandas_helpers.py:603: UserWarning: Pyarrow could not determine the type of columns: tag.
  warnings.warn(

table 170355 uploaded
90306 started
table 60461 uploaded
83763 started

/opt/conda/lib/python3.10/site-packages/google/cloud/bigquery/_pandas_helpers.py:603: UserWarning: Pyarrow could not determine the type of columns: tag.
  warnings.warn(

table 6474 uploaded
78519 started
table 8988 uploaded
478 started
table 116169 uploaded
6126 started
table 25739 uploaded
7207 started
table 109351 uploaded
74097 started
table 39818 uploaded
26728 started
table 33725 uploaded
824 started
table 4806 uploaded
118700 started
table 166285 uploaded
179815 started
table 45431 uploaded
134881 started
table 3153 uploaded
111743 started
table 142953 uploaded
44243 started
table 478 uploaded
143361 started
table 6126 uploaded
6820 started
table 83763 uploaded
1591 started
table 90306 uploaded
130508 started
table 74097 uploaded
109675 started
table 824 uploaded
7895 started
table 78519 uploaded
88125 started
table 7207 uploaded
34072 started
table 134881 uploaded
60384 started
table 179815 uploaded
7475 started
table 118700 uploaded
1439 started
table 26728 uploaded
62155 started
table 1591 uploaded
64234 started
table 111743 uploaded
168330 started
table 44243 uploaded
169250 started
table 143361 uploaded
76089 started
table 34072 uploaded
203751 started
table 109675 uploaded
1794 started
table 130508 uploaded
184471 started
table 6820 uploaded
166572 started
table 60384 uploaded
5164 started
table 88125 uploaded
54075 started
table 1439 uploaded
190183 started
table 62155 uploaded
7378 started
table 168330 uploaded
90522 started
table 7475 uploaded
67370 started
table 7895 uploaded
152515 started
table 169250 uploaded
4550 started
table 64234 uploaded
6170 started
table 5164 uploaded
5114 started
table 54075 uploaded
1811 started
table 184471 uploaded
3905 started
table 166572 uploaded
6109 started
table 1794 uploaded
89580 started
table 76089 uploaded
1946 started
table 190183 uploaded
189893 started
table 4550 uploaded
626 started
table 203751 uploaded
79910 started
table 67370 uploaded
78629 started
table 6170 uploaded
4811 started
table 90522 uploaded
56367 started
table 152515 uploaded
621 started
table 189893 uploaded
5407 started
table 5114 uploaded
90460 started
table 1811 uploaded
107002 started
table 6109 uploaded
3409 started
table 4811 uploaded
5893 started
table 89580 uploaded
168348 started
table 626 uploaded
141432 started
table 1946 uploaded
7200 started
table 79910 uploaded
162414 started
table 56367 uploaded
2862 started
table 621 uploaded
102481 started
table 7378 uploaded
8705 started
table 78629 uploaded
7226 started
table 3905 uploaded
109155 started
table 5407 uploaded
9013 started
table 90460 uploaded
190963 started

/opt/conda/lib/python3.10/site-packages/google/cloud/bigquery/_pandas_helpers.py:603: UserWarning: Pyarrow could not determine the type of columns: tag.
  warnings.warn(

table 5893 uploaded
56719 started
table 141432 uploadedtable 102481 uploaded
5047 started

3951 started
table 107002 uploaded
103549 started
table 168348 uploaded
7136 started
table 7200 uploaded
772 started

/opt/conda/lib/python3.10/site-packages/google/cloud/bigquery/_pandas_helpers.py:603: UserWarning: Pyarrow could not determine the type of columns: tag.
  warnings.warn(

table 109155 uploaded
5027 started
table 8705 uploaded
2226 started
table 3409 uploaded
117133 started

/opt/conda/lib/python3.10/site-packages/google/cloud/bigquery/_pandas_helpers.py:603: UserWarning: Pyarrow could not determine the type of columns: tag.
  warnings.warn(

table 162414 uploaded
103621 started
table 9013 uploaded
183011 started
table 2862 uploaded
144526 started
table 103549 uploaded
55286 started
table 7226 uploaded
7751 started
table 3951 uploaded
3587 started
table 56719 uploaded
93766 started
table 103621 uploaded
58111 started
table 2226 uploaded
162828 started
table 5047 uploaded
88276 started
table 117133 uploaded
1132 started
table 190963 uploaded
2208 started
table 5027 uploaded
171167 started
table 144526 uploaded
2465 started
table 772 uploaded
752 started

/opt/conda/lib/python3.10/site-packages/google/cloud/bigquery/_pandas_helpers.py:603: UserWarning: Pyarrow could not determine the type of columns: tag.
  warnings.warn(

table 183011 uploaded
166568 started
table 93766 uploaded
36850 started
table 7136 uploaded
6801 started
table 3587 uploaded
60530 started
table 58111 uploaded
2283 started
table 88276 uploaded
175231 started
table 55286 uploaded
106452 started
table 1132 uploaded
74504 started
table 2208 uploaded
26717 started
table 7751 uploaded
987 started
table 162828 uploaded
170943 started
table 2465 uploaded
97188 started
table 166568 uploaded
6836 started
table 171167 uploaded
85305 started
table 752 uploaded
60408 started
table 60530 uploaded
188675 started
table 36850 uploaded
57534 started
table 6801 uploaded
177737 started
table 2283 uploaded
6214 started
table 175231 uploaded
135765 started
table 74504 uploaded
96849 started
table 106452 uploaded
121111 started
table 97188 uploaded
140491 started

/opt/conda/lib/python3.10/site-packages/google/cloud/bigquery/_pandas_helpers.py:603: UserWarning: Pyarrow could not determine the type of columns: tag.
  warnings.warn(

table 987 uploaded
27369 started
table 170943 uploaded
26207 started
table 188675 uploaded
107348 started
table 60408 uploaded
38376 started
table 6836 uploaded
3178 started
table 26717 uploaded
113045 started
table 85305 uploaded
136590 started
table 135765 uploaded
5679 started
table 6214 uploaded
73168 started
table 57534 uploaded
25854 started
table 177737 uploaded
7191 started

/opt/conda/lib/python3.10/site-packages/google/cloud/bigquery/_pandas_helpers.py:603: UserWarning: Pyarrow could not determine the type of columns: tag.
  warnings.warn(

table 96849 uploaded
51314 started
table 107348 uploaded
140709 started
table 140491 uploaded
67869 started

/opt/conda/lib/python3.10/site-packages/google/cloud/bigquery/_pandas_helpers.py:603: UserWarning: Pyarrow could not determine the type of columns: tag.
  warnings.warn(

table 38376 uploaded
8019 started
table 121111 uploaded
72583 started
table 26207 uploaded
118334 started

/opt/conda/lib/python3.10/site-packages/google/cloud/bigquery/_pandas_helpers.py:603: UserWarning: Pyarrow could not determine the type of columns: tag.
  warnings.warn(

table 27369 uploaded
614 started
table 136590 uploaded
7186 started
table 7191 uploaded
86233 started
table 113045 uploaded
5600 started
table 3178 uploaded
91890 started
table 5679 uploaded
83837 started
table 73168 uploaded
67957 started
table 25854 uploaded
179085 started
table 51314 uploaded
26266 started
table 67869 uploaded
166635 started
table 140709 uploaded
7928 started
table 118334 uploaded
7562 started
table 7186 uploaded
105227 started
table 72583 uploaded
31950 started
table 8019 uploaded
2988 started
table 91890 uploaded
130842 started
table 179085 uploaded
7326 started
table 5600 uploaded
4834 started
table 614 uploaded
5958 started
table 26266 uploaded
2192 started
table 67957 uploaded
122948 started

/opt/conda/lib/python3.10/site-packages/google/cloud/bigquery/_pandas_helpers.py:603: UserWarning: Pyarrow could not determine the type of columns: tag.
  warnings.warn(

table 7928 uploaded
136217 started
table 86233 uploaded
109463 started
table 105227 uploaded
170024 started
table 166635 uploaded
165329 started
table 31950 uploaded
69934 started
table 7562 uploaded
79929 started
table 2988 uploaded
101106 started
table 130842 uploaded
59273 started
table 5958 uploaded
6001 started
table 7326 uploaded
4431 started
table 170024 uploaded
82759 started
table 109463 uploaded
172881 started
table 4834 uploaded
7297 started
table 2192 uploaded
103449 started
table 69934 uploaded
128149 started
table 122948 uploaded
75370 started
table 136217 uploaded
64522 started
table 4431 uploaded
112320 started
table 101106 uploaded
63540 started
table 165329 uploaded
32928 started
table 6001 uploaded
5690 started
table 59273 uploaded
104074 started
table 172881 uploaded
2086 started
table 103449 uploaded
6458 started
table 79929 uploaded
943 started
table 75370 uploaded
108282 started
table 82759 uploaded
54144 started
table 7297 uploaded
2352 started
table 128149 uploaded
6020 started
table 104074 uploaded
3669 started
table 32928 uploaded
4798 started
table 112320 uploaded
25757 started
table 5690 uploaded
108 started

/opt/conda/lib/python3.10/site-packages/google/cloud/bigquery/_pandas_helpers.py:603: UserWarning: Pyarrow could not determine the type of columns: tag.
  warnings.warn(

table 63540 uploaded
172679 started
table 64522 uploaded
97031 started
table 943 uploaded
4215 started
table 6458 uploaded
175765 started
table 2086 uploaded
72386 started
table 54144 uploaded
9019 started

/opt/conda/lib/python3.10/site-packages/google/cloud/bigquery/_pandas_helpers.py:603: UserWarning: Pyarrow could not determine the type of columns: tag.
  warnings.warn(

table 3669 uploaded
90133 started

/opt/conda/lib/python3.10/site-packages/google/cloud/bigquery/_pandas_helpers.py:603: UserWarning: Pyarrow could not determine the type of columns: tag.
  warnings.warn(

table 108282 uploaded
69821 started
table 6020 uploaded
34193 started
table 2352 uploaded
4135 started
table 4798 uploaded
140301 started
table 108 uploaded
34552 started
table 25757 uploaded
160553 started
table 97031 uploaded
6522 started
table 172679 uploaded
176101 started
table 72386 uploaded
99470 started
table 4215 uploaded
3378 started
table 9019 uploaded
40614 started
table 175765 uploaded
2784 started
table 69821 uploaded
86572 started
table 140301 uploaded
180539 started
table 34193 uploaded
84019 started
table 90133 uploaded
130050 started
table 4135 uploaded
27523 started
table 6522 uploaded
160872 started
table 34552 uploaded
163386 started
table 176101 uploaded
102856 started
table 160553 uploaded
3506 started
table 40614 uploaded
4865 started
table 99470 uploaded
83158 started
table 160872 uploaded
72612 started
table 180539 uploaded
63828 started
table 86572 uploaded
373 started
table 2784 uploaded
3676 started
table 3378 uploaded
2382 started
table 130050 uploaded
157961 started
table 84019 uploaded
8044 started
table 27523 uploaded
77983 started
table 102856 uploaded
95754 started
table 4865 uploaded
4975 started
table 3506 uploaded
27595 started
table 163386 uploaded
48833 started
table 63828 uploaded
4825 started
table 72612 uploaded
42761 started
table 8044 uploaded
69243 started
table 77983 uploaded
167380 started
table 2382 uploaded
93954 started
table 83158 uploaded
26386 started
table 373 uploaded
93502 started
table 48833 uploaded
26513 started
table 4975 uploaded
77866 started
table 157961 uploaded
240 started
table 95754 uploaded
57854 started
table 27595 uploaded
62299 started
table 4825 uploaded
6050 started
table 167380 uploaded
33166 started
table 69243 uploaded
77907 started
table 42761 uploaded
362 started
table 3676 uploaded
34 started
table 26513 uploaded
4107 started
table 26386 uploaded
94070 started
table 240 uploaded
3385 started
table 93954 uploaded
4396 started
table 93502 uploaded
78009 started
table 77866 uploaded
6426 started
table 362 uploaded
2161 started
table 77907 uploaded
30749 started
table 33166 uploaded
8640 started
table 62299 uploaded
79276 started
table 6050 uploaded
5502 started
table 3385 uploaded
2495 started
table 94070 uploaded
5754 started
table 34 uploaded
184353 started
table 4396 uploaded
204692 started
table 4107 uploaded
2771 started
table 57854 uploaded
99114 started
table 30749 uploaded
4924 started
table 8640 uploaded
144696 started
table 78009 uploaded
138952 started

/opt/conda/lib/python3.10/site-packages/google/cloud/bigquery/_pandas_helpers.py:603: UserWarning: Pyarrow could not determine the type of columns: tag.
  warnings.warn(

table 2161 uploaded
6038 started
table 5754 uploaded
158846 started
table 6426 uploaded
6383 started
table 5502 uploaded
71304 started
table 2495 uploaded
107541 started
table 79276 uploaded
2476 started
table 204692 uploaded
5618 started
table 184353 uploaded
64338 started
table 99114 uploaded
4080 started
table 2771 uploaded
1433 started
table 6038 uploaded
118922 started
table 6383 uploaded
5499 started
table 158846 uploaded
5870 started
table 4924 uploaded
144194 started
table 71304 uploaded
5186 started
table 64338 uploaded
178355 started
table 138952 uploaded
5435 started
table 4080 uploaded
940 started

/opt/conda/lib/python3.10/site-packages/google/cloud/bigquery/_pandas_helpers.py:603: UserWarning: Pyarrow could not determine the type of columns: tag.
  warnings.warn(

table 144696 uploaded
119139 started
table 2476 uploaded
63121 started
table 107541 uploaded
4528 started
table 5618 uploaded
73641 started
table 83837 uploaded
26240 started
table 118922 uploaded
4259 started
table 5499 uploaded
5366 started
table 1433 uploaded
5098 started
table 119139 uploaded
7882 started
table 5186 uploaded
89678 started
table 144194 uploaded
170317 started
table 4528 uploaded
25875 started
table 63121 uploaded
148280 started
table 5870 uploaded
5627 started
table 940 uploaded
1060 started
table 5435 uploaded
32289 started
table 73641 uploaded
6931 started
table 178355 uploaded
25903 started

/opt/conda/lib/python3.10/site-packages/google/cloud/bigquery/_pandas_helpers.py:603: UserWarning: Pyarrow could not determine the type of columns: tag.
  warnings.warn(

table 26240 uploaded
195733 started

/opt/conda/lib/python3.10/site-packages/google/cloud/bigquery/_pandas_helpers.py:603: UserWarning: Pyarrow could not determine the type of columns: tag.
  warnings.warn(

table 4259 uploaded
102588 started
table 7882 uploaded
4961 started
table 148280 uploaded
158398 started
table 89678 uploaded
96644 started
table 5098 uploaded
116726 started
table 170317 uploaded
148980 started

/opt/conda/lib/python3.10/site-packages/google/cloud/bigquery/_pandas_helpers.py:603: UserWarning: Pyarrow could not determine the type of columns: tag.
  warnings.warn(

table 1060 uploaded
118814 started
table 32289 uploaded
59908 started
table 25903 uploaded
194738 started
table 25875 uploaded
511 started
table 102588 uploaded
4284 started
table 5627 uploaded
131826 started
table 195733 uploaded
194058 started
table 6931 uploaded
5592 started
table 96644 uploaded
173815 started
table 116726 uploaded
58655 started
table 4961 uploaded
113775 started
table 158398 uploaded
2924 started
table 59908 uploaded
106745 started
table 148980 uploaded
136020 started
table 194058 uploaded
73321 started
table 118814 uploaded
4273 started
table 511 uploaded
159427 started
table 5366 uploaded
7013 started
table 5592 uploaded
2792 started
table 194738 uploaded
95441 started
table 131826 uploaded
32124 started
table 4284 uploaded
7833 started
table 173815 uploaded
2692 started
table 136020 uploaded
109330 started
table 113775 uploaded
185841 started
table 4273 uploaded
100106 started
table 159427 uploaded
104097 started
table 7013 uploaded
149334 started
table 2924 uploaded
161078 started
table 58655 uploaded
67534 started
table 73321 uploaded
101137 started
table 32124 uploaded
3088 started
table 106745 uploaded
170939 started
table 95441 uploaded
92243 started
table 109330 uploaded
3754 started
table 2692 uploaded
78903 started
table 100106 uploaded
93422 started
table 2792 uploaded
4600 started
table 149334 uploaded
46367 started
table 185841 uploaded
1396 started
table 161078 uploaded
26681 started
table 67534 uploaded
4687 started
table 7833 uploaded
1034 started
table 170939 uploaded
2881 started
table 104097 uploaded
81673 started
table 3088 uploaded
4509 started
table 3754 uploaded
6785 started
table 101137 uploaded
63276 started
table 92243 uploaded
57960 started
table 93422 uploaded
126084 started
table 4600 uploaded
810 started
table 1396 uploaded
53885 started
table 4687 uploaded
43267 started
table 26681 uploaded
34336 started
table 46367 uploaded
42053 started
table 4509 uploaded
367 started
table 78903 uploaded
58315 started
table 1034 uploaded
173321 started
table 63276 uploaded
6023 started
table 6785 uploaded
171605 started
table 2881 uploaded
2357 started
table 57960 uploaded
8154 started
table 53885 uploaded
86583 started
table 34336 uploaded
47999 started
table 810 uploaded
76244 started
table 126084 uploaded
107000 started
table 58315 uploaded
98175 started
table 43267 uploaded
102604 started
table 42053 uploaded
4655 started
table 367 uploaded
185319 started
table 2357 uploaded
43011 started
table 6023 uploaded
4714 started
table 8154 uploaded
61398 started
table 81673 uploaded
173429 started
table 171605 uploaded
6331 started
table 173321 uploaded
104881 started
table 107000 uploaded
98373 started
table 47999 uploaded
712 started
table 98175 uploaded
5622 started
table 185319 uploaded
1346 started
table 43011 uploaded
151759 started
table 61398 uploaded
7072 started
table 4714 uploaded
55814 started
table 102604 uploaded
172889 started
table 86583 uploaded
166653 started
table 4655 uploaded
47384 started
table 76244 uploaded
3627 started
table 6331 uploaded
80810 started
table 104881 uploaded
8704 started
table 98373 uploaded
5451 started
table 151759 uploaded
30894 started
table 1346 uploaded
134204 started
table 166653 uploaded
58334 started
table 172889 uploaded
91077 started
table 173429 uploaded
93363 started
table 7072 uploaded
27769 started
table 5622 uploaded
43936 started
table 55814 uploaded
2961 started
table 3627 uploaded
2549 started
table 8704 uploaded
51063 started
table 47384 uploaded
96610 started
table 712 uploaded
5483 started
table 5451 uploaded
2630 started
table 30894 uploaded
8015 started
table 134204 uploaded
57274 started
table 80810 uploaded
145080 started
table 58334 uploaded
51678 started
table 93363 uploaded
138944 started
table 91077 uploaded
175585 started
table 27769 uploaded
102160 started
table 5483 uploaded
60289 started
table 51063 uploaded
8655 started
table 43936 uploaded
146 started
table 2549 uploaded
87306 started
table 96610 uploaded
94558 startedtable 8015 uploaded

127565 started
table 2961 uploaded
8136 started
table 57274 uploaded
35836 started
table 138944 uploaded
99640 started
table 145080 uploaded
70183 started
table 175585 uploaded
26123 started
table 2630 uploaded
111320 started
table 51678 uploaded
4069 started
table 60289 uploaded
1164 started
table 102160 uploaded
8777 started
table 146 uploaded
4920 started
table 8655 uploaded
6570 started
table 127565 uploaded
49872 started
table 35836 uploaded
65091 started
table 94558 uploaded
54997 started
table 87306 uploaded
90730 started
table 70183 uploaded
5478 started
table 8136 uploaded
33019 started
table 4069 uploaded
130526 started

/opt/conda/lib/python3.10/site-packages/google/cloud/bigquery/_pandas_helpers.py:603: UserWarning: Pyarrow could not determine the type of columns: tag.
  warnings.warn(

table 111320 uploaded
87094 started
table 99640 uploaded
4518 started
table 26123 uploaded
72395 started
table 8777 uploaded
30742 started
table 65091 uploaded
90237 started
table 1164 uploaded
table 54997 uploaded127134 started

132377 started
table 4920 uploaded
5378 started
table 6570 uploaded
3874 started
table 5478 uploaded
338 started
table 130526 uploaded
4249 started
table 49872 uploaded
8924 started
table 87094 uploaded
33808 started
table 30742 uploaded
table 90730 uploaded172897 started

104631 started

/opt/conda/lib/python3.10/site-packages/google/cloud/bigquery/_pandas_helpers.py:603: UserWarning: Pyarrow could not determine the type of columns: tag.
  warnings.warn(

table 4518 uploaded
4417 started
table 5378 uploaded
198265 started
table 127134 uploaded
109388 started
table 3874 uploaded
185231 started
table 33019 uploaded
2627 started

/opt/conda/lib/python3.10/site-packages/google/cloud/bigquery/_pandas_helpers.py:603: UserWarning: Pyarrow could not determine the type of columns: tag.
  warnings.warn(

table 72395 uploaded
762 started
table 90237 uploaded
81932 started
table 338 uploaded
41527 started
table 4249 uploaded
50149 started
table 8924 uploaded
53974 started
table 132377 uploaded
188919 started

/opt/conda/lib/python3.10/site-packages/google/cloud/bigquery/_pandas_helpers.py:603: UserWarning: Pyarrow could not determine the type of columns: tag.
  warnings.warn(

table 104631 uploaded
2622 started
table 4417 uploaded
7094 started
table 33808 uploaded
73981 started
table 109388 uploaded
1971 started
table 198265 uploaded
27833 started
table 41527 uploaded
348 started
table 762 uploaded
5421 started
table 2627 uploaded
27760 started
table 81932 uploaded
55063 started
table 172897 uploaded
33437 started
table 53974 uploaded
32737 started
table 50149 uploaded
103030 started
table 185231 uploaded
6398 started
table 188919 uploaded
277 started
table 2622 uploaded
4521 started
table 27833 uploaded
4291 started
table 1971 uploaded
5748 started
table 27760 uploaded
2949 started
table 5421 uploaded
126933 started
table 73981 uploaded
158408 started
table 55063 uploaded
666 started
table 7094 uploaded
187593 started
table 348 uploaded
118896 started
table 32737 uploaded
83538 started
table 277 uploaded
97895 started
table 103030 uploaded
4034 started
table 6398 uploaded
73813 started
table 4291 uploaded
136309 started
table 33437 uploaded
58291 started
table 5748 uploaded
68749 started
table 158408 uploaded
139915 started
table 4521 uploaded
37475 started
table 2949 uploaded
7399 started
table 83538 uploaded
165069 started
table 126933 uploaded
177237 started
table 666 uploaded
table 187593 uploaded5352 started

187611 started
table 97895 uploaded
49050 started
table 136309 uploaded
60096 started
table 73813 uploaded
140737 started

/opt/conda/lib/python3.10/site-packages/google/cloud/bigquery/_pandas_helpers.py:603: UserWarning: Pyarrow could not determine the type of columns: tag.
  warnings.warn(

table 118896 uploaded
6115 started
table 68749 uploaded
8736 started
table 58291 uploaded
89759 started
table 4034 uploaded
3122 started
table 37475 uploaded
2308 started
table 5352 uploaded
26505 started
table 165069 uploaded
167780 started
table 7399 uploaded
57473 started
table 60096 uploaded
60484 started
table 140737 uploaded
158314 started
table 6115 uploaded
8824 started
table 187611 uploaded
100538 started
table 177237 uploaded
4210 started
table 89759 uploaded
60943 started
table 139915 uploaded
4290 started
table 2308 uploaded
1190 started
table 3122 uploaded
6133 started
table 26505 uploaded
26411 started
table 49050 uploaded
70 started
table 167780 uploaded
353 started
table 8736 uploaded
3853 started

/opt/conda/lib/python3.10/site-packages/google/cloud/bigquery/_pandas_helpers.py:603: UserWarning: Pyarrow could not determine the type of columns: tag.
  warnings.warn(

table 57473 uploaded
8129 started
table 100538 uploaded
148881 started
table 158314 uploaded
183827 started
table 6133 uploaded
206499 started
table 60484 uploaded
77318 started
table 4290 uploaded
243 started
table 60943 uploaded
2647 started
table 1190 uploaded
65685 started
table 4210 uploaded
6870 started
table 70 uploaded
64278 started
table 8129 uploaded
5081 started
table 3853 uploaded
4297 started
table 8824 uploaded
136718 started
table 26411 uploaded
329 started
table 148881 uploaded
137296 started
table 353 uploaded
1860 started
table 183827 uploaded
4392 started
table 77318 uploaded
55844 started
table 206499 uploaded
164163 started
table 243 uploaded
71418 started
table 4297 uploaded
4099 started
table 64278 uploaded
6231 started
table 65685 uploaded
152171 started
table 2647 uploaded
6277 started
table 6870 uploaded
5538 started
table 136718 uploaded
33499 started
table 5081 uploaded
60946 started
table 4392 uploaded
48082 started
table 1860 uploaded
5921 started
table 55844 uploaded
147268 started

/opt/conda/lib/python3.10/site-packages/google/cloud/bigquery/_pandas_helpers.py:603: UserWarning: Pyarrow could not determine the type of columns: tag.
  warnings.warn(

table 137296 uploaded
3189 started
table 164163 uploaded
50800 started
table 329 uploaded
96421 started
table 6231 uploaded
73290 started
table 5538 uploaded
193894 started

/opt/conda/lib/python3.10/site-packages/google/cloud/bigquery/_pandas_helpers.py:603: UserWarning: Pyarrow could not determine the type of columns: tag.
  warnings.warn(

table 4099 uploaded
142843 started
table 152171 uploaded
2473 started
table 33499 uploaded
5230 started
table 6277 uploaded
55851 started
table 60946 uploaded
11 started
table 147268 uploaded
26490 started
table 3189 uploaded
4149 started
table 5921 uploaded
299 started
table 48082 uploaded
3825 started
table 73290 uploaded
107274 started
table 71418 uploaded
3370 started
table 142843 uploaded
5847 started
table 11 uploaded
30890 started
table 5230 uploaded
170555 started
table 50800 uploaded
27397 started
table 2473 uploaded
39731 started
table 26490 uploaded
173285 started
table 96421 uploaded
168274 started
table 4149 uploaded
39703 started
table 55851 uploaded
51935 started
table 299 uploaded
27727 started
table 193894 uploaded
1345 started
table 5847 uploaded
198153 started
table 3825 uploaded
4526 started
table 3370 uploaded
225 started
table 107274 uploaded
2122 started
table 170555 uploaded
3770 started
table 1345 uploaded
8719 started
table 27397 uploaded
3709 started
table 198153 uploaded
178063 started
table 39731 uploaded
77540 started
table 27727 uploaded
4397 started
table 39703 uploaded
42 started
table 4526 uploaded
3723 started
table 2122 uploaded
7124 started
table 173285 uploaded
8003 started
table 168274 uploaded
171007 started
table 30890 uploaded
113532 started
table 51935 uploaded
95133 started
table 3770 uploaded
1666 started
table 225 uploaded
26142 started
table 3709 uploaded
107682 started
table 4397 uploaded
5936 started
table 8719 uploaded
26383 started
table 178063 uploaded
91189 started
table 77540 uploaded
34321 started
table 42 uploaded
703 started
table 8003 uploaded
6863 started
table 113532 uploaded
4633 started
table 7124 uploaded
2903 started
table 1666 uploaded
4855 started
table 95133 uploaded
118970 started
table 5936 uploaded
3472 started
table 3723 uploaded
6656 started
table 171007 uploaded
81145 started
table 26383 uploaded
18 started
table 26142 uploaded
91947 started
table 34321 uploaded
1926 started
table 107682 uploaded
34306 started
table 91189 uploaded
54278 started
table 6863 uploaded
158868 started
table 4855 uploaded
208 started
table 2903 uploaded
105593 started
table 3472 uploaded
86539 started
table 118970 uploaded
27820 started
table 4633 uploaded
3229 started
table 6656 uploaded
26313 started
table 18 uploaded
97836 started
table 81145 uploaded
166310 started
table 91947 uploaded
7048 started
table 703 uploaded
2165 started
table 34306 uploaded
96638 started
table 54278 uploaded
161974 started
table 105593 uploaded
675 started
table 208 uploaded
34148 started
table 26313 uploaded
55406 started
table 1926 uploaded
109846 started
table 158868 uploaded
144280 started
table 27820 uploaded
59729 started
table 86539 uploaded
5319 started
table 2165 uploaded
158250 started

/opt/conda/lib/python3.10/site-packages/google/cloud/bigquery/_pandas_helpers.py:603: UserWarning: Pyarrow could not determine the type of columns: tag.
  warnings.warn(

table 97836 uploaded
175169 started
table 7048 uploaded
33162 started
table 166310 uploaded
118898 started
table 96638 uploaded
204704 started
table 161974 uploaded
8827 started
table 34148 uploaded
129233 started
table 3229 uploaded
342 started
table 109846 uploaded
5379 started
table 5319 uploaded
2074 started
table 59729 uploaded
1553 started
table 144280 uploaded
103366 started
table 55406 uploaded
163571 started
table 158250 uploaded
81562 started
table 675 uploaded
25932 started
table 33162 uploaded
7403 started
table 175169 uploaded
131241 started
table 8827 uploaded
1407 started
table 118898 uploaded
65193 started
table 129233 uploaded
3577 started
table 204704 uploaded
105585 started
table 342 uploaded
8982 started
table 5379 uploaded
7321 started
table 2074 uploaded
5292 started
table 163571 uploaded
59665 started
table 25932 uploaded
2609 started
table 1553 uploaded
133295 started
table 103366 uploaded
7986 started
table 81562 uploaded
79723 started
table 1407 uploaded
46862 started
table 7403 uploaded
127226 started
table 65193 uploaded
37211 started
table 131241 uploaded
40414 started
table 7986 uploaded
182679 started
table 59665 uploaded
45517 started
table 5292 uploaded
136562 started
table 105585 uploaded
148984 started
table 7321 uploaded
135971 started
table 8982 uploaded
57401 started
table 2609 uploaded
6983 started
table 127226 uploaded
1293 started
table 3577 uploaded
1296 started
table 46862 uploaded
60450 started
table 133295 uploaded
5916 started
table 79723 uploaded
126550 started
table 37211 uploaded
25805 started
table 148984 uploaded
1866 started
table 182679 uploaded
6671 started
table 135971 uploaded
78467 started
table 40414 uploaded
139759 started
table 45517 uploaded
132652 started
table 57401 uploaded
167052 started
table 5916 uploaded
1834 started

/opt/conda/lib/python3.10/site-packages/google/cloud/bigquery/_pandas_helpers.py:603: UserWarning: Pyarrow could not determine the type of columns: tag.
  warnings.warn(

table 1293 uploaded
92048 started
table 136562 uploaded
76743 started
table 25805 uploaded
560 started
table 1866 uploaded
33905 started
table 60450 uploaded
51321 started
table 6671 uploaded
57848 started
table 1296 uploaded
4893 started
table 78467 uploaded
25789 started
table 6983 uploaded
127122 started
table 126550 uploaded
4216 started
table 139759 uploaded
133802 started
table 132652 uploaded
168652 started
table 76743 uploaded
140339 started
table 167052 uploaded
154996 started
table 560 uploaded
39408 started
table 1834 uploaded
182825 started
table 25789 uploaded
92198 started
table 92048 uploaded
4425 started
table 51321 uploaded
5349 started
table 33905 uploaded
54872 started
table 57848 uploaded
32659 started
table 133802 uploaded
93126 started
table 4893 uploaded
142113 started
table 127122 uploaded
2313 started
table 168652 uploaded
204698 started
table 140339 uploaded
87392 started

/opt/conda/lib/python3.10/site-packages/google/cloud/bigquery/_pandas_helpers.py:603: UserWarning: Pyarrow could not determine the type of columns: tag.
  warnings.warn(

table 154996 uploaded
175429 started
table 39408 uploaded
107380 started
table 4216 uploaded
7341 started
table 4425 uploaded
152228 started
table 182825 uploaded
49110 started
table 5349 uploaded
151913 started
table 92198 uploaded
167980 started
table 142113 uploaded
6103 started
table 54872 uploaded
2491 started
table 32659 uploaded
2061 started
table 204698 uploaded
166938 started

/opt/conda/lib/python3.10/site-packages/google/cloud/bigquery/_pandas_helpers.py:603: UserWarning: Pyarrow could not determine the type of columns: tag.
  warnings.warn(

table 107380 uploaded
5888 started
table 175429 uploaded
70958 started
table 152228 uploaded
6111 started
table 7341 uploaded
26684 started
table 87392 uploaded
25736 started
table 49110 uploaded
69904 started
table 2313 uploaded
171251 started
table 93126 uploaded
8691 started

/opt/conda/lib/python3.10/site-packages/google/cloud/bigquery/_pandas_helpers.py:603: UserWarning: Pyarrow could not determine the type of columns: tag.
  warnings.warn(

table 151913 uploaded
5765 started
table 167980 uploaded
117646 started
table 166938 uploaded
43934 started
table 2491 uploaded
4776 started
table 2061 uploaded
4013 started
table 6103 uploaded
42935 started
table 5888 uploaded
5255 started
table 70958 uploaded
182637 started
table 69904 uploaded
130510 started
table 6111 uploaded
150401 started
table 26684 uploaded
103107 started
table 25736 uploaded
27221 started
table 8691 uploaded
180161 started
table 171251 uploaded
5318 started
table 5765 uploaded
7897 started
table 117646 uploaded
74859 started
table 4776 uploaded
5433 started
table 5255 uploaded
192081 started
table 42935 uploaded
85728 started
table 4013 uploaded
6780 started
table 182637 uploaded
26941 started
table 103107 uploaded
114552 started
table 130510 uploaded
97024 started
table 150401 uploaded
157569 started
table 5318 uploaded
117871 started
table 180161 uploaded
155874 started
table 43934 uploaded
5610 started
table 85728 uploaded
169760 started
table 6780 uploaded
187505 started
table 7897 uploaded
139584 started

/opt/conda/lib/python3.10/site-packages/google/cloud/bigquery/_pandas_helpers.py:603: UserWarning: Pyarrow could not determine the type of columns: tag.
  warnings.warn(

table 114552 uploaded
2617 started
table 74859 uploaded
6445 started
table 27221 uploaded
83478 started
table 192081 uploaded
6041 started
table 26941 uploaded
3888 started
table 97024 uploaded
126921 started
table 157569 uploaded
30798 started
table 5433 uploaded
168122 started

/opt/conda/lib/python3.10/site-packages/google/cloud/bigquery/_pandas_helpers.py:603: UserWarning: Pyarrow could not determine the type of columns: tag.
  warnings.warn(

table 117871 uploaded
130444 started
table 187505 uploaded
115203 started
table 155874 uploadedtable 5610 uploaded

34482 started60069 started

table 169760 uploaded
74787 started
table 139584 uploaded
53125 started
table 2617 uploaded
4719 started
table 3888 uploaded
1472 started
table 83478 uploaded
5944 started
table 6041 uploaded
1192 started
table 60069 uploaded
6262 started
table 168122 uploaded
92793 started
table 130444 uploaded
5953 started
table 30798 uploaded
108715 started
table 126921 uploaded
6069 started
table 34482 uploaded
5459 started
table 115203 uploaded
2654 started
table 6445 uploaded
26205 started
table 4719 uploaded
218 started
table 74787 uploaded
4822 started
table 5944 uploaded
4555 started
table 53125 uploaded
105130 started
table 92793 uploaded
6907 started
table 5953 uploaded
77156 started
table 6262 uploaded
128488 started
table 108715 uploaded
6786 started
table 5459 uploaded
115240 started
table 218 uploaded
106501 started
table 1192 uploaded
58324 started
table 1472 uploaded
34353 started
table 2654 uploaded
8794 started
table 4822 uploaded
113225 started
table 4555 uploaded
158003 started
table 77156 uploaded
192339 started
table 105130 uploaded
197877 started
table 26205 uploaded
26059 started
table 6786 uploaded
86166 started
table 6907 uploaded
33126 started
table 128488 uploaded
6421 started
table 58324 uploaded
3906 started
table 34353 uploaded
144496 started
table 6069 uploaded
99110 started
table 8794 uploaded
4295 started
table 192339 uploaded
1550 started
table 106501 uploaded
1455 started
table 115240 uploaded
176567 started
table 86166 uploaded
8141 started
table 158003 uploaded
1222 started
table 113225 uploaded
5362 started
table 26059 uploaded
200448 started
table 33126 uploaded
191359 started
table 197877 uploaded
47868 started
table 144496 uploaded
133157 started

/opt/conda/lib/python3.10/site-packages/google/cloud/bigquery/_pandas_helpers.py:603: UserWarning: Pyarrow could not determine the type of columns: tag.
  warnings.warn(

table 3906 uploaded
8273 started
table 4295 uploaded
table 6421 uploaded76085 started

8918 started
table 1455 uploaded
680 started
table 1550 uploaded
104155 started
table 99110 uploaded
3386 started
table 1222 uploaded
42004 started
table 8141 uploaded
96868 started
table 200448 uploaded
119068 started
table 8918 uploaded
47976 started
table 5362 uploaded
98015 started
table 191359 uploaded
2611 started
table 176567 uploaded
96002 started
table 8273 uploaded
94482 started
table 133157 uploaded
169750 started
table 76085 uploaded
118985 started
table 47868 uploaded
83912 started
table 42004 uploaded
154941 started
table 104155 uploaded
169656 started
table 119068 uploaded
26871 started
table 680 uploaded
165641 started
table 3386 uploaded
7884 started
table 47976 uploaded
132074 started
table 96868 uploaded
2981 started
table 98015 uploaded
105755 started
table 169750 uploaded
86083 started
table 83912 uploaded
92696 started
table 2611 uploaded
5256 started
table 94482 uploaded
116 started
table 118985 uploaded
165139 started
table 154941 uploaded
126076 started

/opt/conda/lib/python3.10/site-packages/google/cloud/bigquery/_pandas_helpers.py:603: UserWarning: Pyarrow could not determine the type of columns: tag.
  warnings.warn(

table 169656 uploaded
146002 started
table 7884 uploaded
27571 started
table 96002 uploaded
6242 started
table 165641 uploaded
174055 started
table 26871 uploaded
2275 started
table 92696 uploaded
165963 started
table 132074 uploaded
94005 started
table 86083 uploaded
880 started
table 165139 uploaded
104671 started
table 2981 uploaded
5242 started
table 5256 uploaded
268 started
table 116 uploaded
74937 started
table 126076 uploaded
115945 started

/opt/conda/lib/python3.10/site-packages/google/cloud/bigquery/_pandas_helpers.py:603: UserWarning: Pyarrow could not determine the type of columns: tag.
  warnings.warn(

table 105755 uploaded
121781 started

/opt/conda/lib/python3.10/site-packages/google/cloud/bigquery/_pandas_helpers.py:603: UserWarning: Pyarrow could not determine the type of columns: tag.
  warnings.warn(

table 2275 uploaded
4676 started
table 165963 uploaded
27193 started
table 146002 uploaded
2856 started
table 27571 uploaded
171609 started
table 174055 uploaded
4010 started
table 6242 uploaded
74089 started
table 94005 uploaded
40870 started
table 880 uploaded
187719 started
table 104671 uploaded
5773 started
table 5242 uploaded
5761 started
table 115945 uploaded
184791 started
table 74937 uploaded
86892 started
table 171609 uploaded
3801 started
table 4676 uploaded
5112 started
table 2856 uploaded
170777 started
table 268 uploaded
144516 started

/opt/conda/lib/python3.10/site-packages/google/cloud/bigquery/_pandas_helpers.py:603: UserWarning: Pyarrow could not determine the type of columns: tag.
  warnings.warn(

table 4010 uploaded
360 started
table 121781 uploaded
8858 started
table 27193 uploaded
2795 started
table 74089 uploaded
90600 started
table 187719 uploaded
78268 started
table 184791 uploaded
146030 started
table 5112 uploaded
2891 started
table 5761 uploaded
107137 started
table 5773 uploaded
8738 started
table 144516 uploaded
109740 started
table 3801 uploaded
106624 started

/opt/conda/lib/python3.10/site-packages/google/cloud/bigquery/_pandas_helpers.py:603: UserWarning: Pyarrow could not determine the type of columns: tag.
  warnings.warn(

table 170777 uploaded
100344 started
table 40870 uploaded
165947 started
table 2795 uploaded
33004 started
table 360 uploaded
145096 started
table 90600 uploaded
148440 started
table 86892 uploaded
6629 started
table 146030 uploaded
4348 started
table 107137 uploaded
55507 started
table 2891 uploaded
3259 started
table 8738 uploaded
65642 started
table 78268 uploaded
145206 started
table 106624 uploaded
3111 started
table 145096 uploaded
3133 started
table 109740 uploaded
6665 started
table 165947 uploaded
27343 started

/opt/conda/lib/python3.10/site-packages/google/cloud/bigquery/_pandas_helpers.py:603: UserWarning: Pyarrow could not determine the type of columns: tag.
  warnings.warn(

table 148440 uploaded
26985 started
table 4348 uploaded
6014 started
table 6629 uploaded
83270 started
table 55507 uploaded
160648 started
table 33004 uploaded
56508 started
table 3259 uploaded
136534 started
table 8858 uploaded
30767 started
table 65642 uploaded
26253 started
table 100344 uploaded
67459 started
table 3111 uploaded
6301 started
table 145206 uploaded
34198 started
table 27343 uploaded
140146 started
table 160648 uploaded
64273 started
table 6665 uploaded
109578 started
table 83270 uploaded
6081 started
table 3133 uploaded
4530 started
table 56508 uploaded
7077 started
table 136534 uploaded
7122 started
table 6014 uploaded
5512 started
table 26253 uploaded
7720 started
table 67459 uploaded
109072 started
table 26985 uploaded
6208 started
table 30767 uploaded
101531 started
table 34198 uploaded
109096 started
table 6301 uploaded
4577 started
table 140146 uploaded
197875 started
table 7077 uploaded
68963 started
table 109578 uploadedtable 5512 uploaded

8524 started72159 started

table 6081 uploaded
43260 started
table 109072 uploaded
94289 started
table 4530 uploaded
104099 started
table 7720 uploaded
157340 started
table 7122 uploaded
6679 started
table 6208 uploaded
103792 started
table 109096 uploaded
5976 started
table 101531 uploaded
6871 started
table 4577 uploaded
113565 started
table 72159 uploaded
770 started

/opt/conda/lib/python3.10/site-packages/google/cloud/bigquery/_pandas_helpers.py:603: UserWarning: Pyarrow could not determine the type of columns: tag.
  warnings.warn(

table 197875 uploaded
7453 started
table 64273 uploaded
43832 started
table 94289 uploaded
5476 started
table 68963 uploaded
67929 started
table 8524 uploaded
4261 started
table 43260 uploaded
69429 started
table 103792 uploaded
5668 started
table 6679 uploaded
1490 started
table 7453 uploaded
101142 started
table 770 uploaded
7489 started
table 157340 uploaded
3188 started
table 67929 uploaded
45852 started
table 113565 uploaded
179137 started
table 6871 uploaded
6721 started
table 5476 uploaded
71740 started
table 104099 uploaded
50705 started
table 69429 uploaded
97950 started
table 5976 uploaded
923 started
table 5668 uploaded
7174 started
table 7489 uploaded
69844 started
table 4261 uploaded
71991 started
table 45852 uploaded
1171 started
table 101142 uploaded
143515 started
table 3188 uploaded
103219 started
table 6721 uploaded
47482 started
table 71740 uploaded
4986 started
table 179137 uploaded
26280 started
table 1490 uploaded
64986 started
table 923 uploaded
3172 started
table 43832 uploaded
2631 started
table 50705 uploaded
6042 started
table 69844 uploaded
100087 started
table 97950 uploaded
99191 started
table 71991 uploaded
126016 started
table 7174 uploaded
2298 started
table 1171 uploaded
950 started
table 103219 uploaded
6778 started
table 3172 uploaded
65400 started
table 143515 uploaded
26111 started
table 26280 uploaded
7845 started
table 6042 uploaded
83411 started
table 64986 uploaded
175247 started
table 47482 uploaded
46839 started
table 2631 uploaded
8714 started
table 99191 uploaded
2712 started
table 100087 uploaded
71466 started
table 126016 uploaded
95858 started
table 65400 uploaded
47287 started
table 2298 uploaded
169670 started
table 4986 uploaded
185539 started
table 6778 uploaded
99917 started
table 7845 uploaded
304 started
table 26111 uploaded
1322 started
table 8714 uploaded
7450 started
table 71466 uploaded
1215 started
table 175247 uploaded
131439 started
table 2712 uploaded
4564 started
table 46839 uploaded
150694 started
table 950 uploaded
157132 started
table 95858 uploaded
33629 started
table 83411 uploaded
3833 started
table 169670 uploaded
77496 started
table 1322 uploaded
6685 started
table 185539 uploaded
128510 started

/opt/conda/lib/python3.10/site-packages/google/cloud/bigquery/_pandas_helpers.py:603: UserWarning: Pyarrow could not determine the type of columns: tag.
  warnings.warn(

table 304 uploaded
5588 started
table 1215 uploaded
351 started
table 99917 uploaded
26282 started
table 157132 uploaded
96281 started
table 47287 uploaded
3884 started
table 7450 uploaded
205082 started
table 3833 uploaded
77770 started

/opt/conda/lib/python3.10/site-packages/google/cloud/bigquery/_pandas_helpers.py:603: UserWarning: Pyarrow could not determine the type of columns: tag.
  warnings.warn(

table 33629 uploaded
98570 started
table 150694 uploaded
55726 started
table 4564 uploaded
259 started
table 77496 uploaded
130684 started
table 128510 uploaded
26084 started
table 351 uploaded
90413 started
table 26282 uploaded
189867 started
table 131439 uploaded
7080 started
table 96281 uploaded
7406 started
table 6685 uploaded
61934 started
table 205082 uploaded
104576 started
table 3884 uploaded
650 started
table 5588 uploaded
76111 started
table 55726 uploaded
126020 started
table 26084 uploaded
232 started
table 77770 uploaded
56006 started
table 259 uploaded
68941 started
table 130684 uploaded
110548 started
table 90413 uploaded
158860 started
table 98570 uploaded
83246 started
table 7080 uploaded
104350 started
table 7406 uploaded
44828 started
table 650 uploaded
271 started
table 61934 uploaded
36363 started
table 189867 uploaded
102590 started
table 104576 uploaded
40833 started
table 126020 uploaded
127212 started
table 232 uploaded
723 started

/opt/conda/lib/python3.10/site-packages/google/cloud/bigquery/_pandas_helpers.py:603: UserWarning: Pyarrow could not determine the type of columns: tag.
  warnings.warn(

table 158860 uploaded
182137 started
table 83246 uploaded
5677 started
table 44828 uploaded
165101 started
table 56006 uploaded
5472 started
table 76111 uploadedtable 68941 uploaded

178085 started
173811 started
table 110548 uploaded
8903 started
table 271 uploaded
31424 started
table 104350 uploaded
60198 started
table 36363 uploaded
127040 started
table 102590 uploaded
6860 started
table 723 uploaded
69842 started
table 5677 uploaded
179287 started
table 182137 uploaded
91304 started
table 40833 uploaded
4635 started
table 127212 uploaded
5357 started
table 178085 uploaded
66130 started
table 8903 uploaded
1001 started
table 165101 uploaded
110 started

/opt/conda/lib/python3.10/site-packages/google/cloud/bigquery/_pandas_helpers.py:603: UserWarning: Pyarrow could not determine the type of columns: tag.
  warnings.warn(

table 31424 uploaded
2718 started
table 5472 uploaded
103657 started
table 173811 uploaded
78 started
table 60198 uploaded
132555 started
table 127040 uploaded
176057 started
table 6860 uploaded
7240 started
table 179287 uploaded
6704 started
table 66130 uploaded
59900 started
table 69842 uploaded
128918 started
table 4635 uploaded
81257 started
table 110 uploaded
131457 started
table 5357 uploaded
102356 started
table 2718 uploaded
49524 started
table 78 uploaded
8987 started
table 103657 uploaded
55176 started
table 91304 uploaded
2311 started
table 176057 uploaded
163985 started
table 59900 uploaded
175671 started
table 128918 uploaded
52867 started
table 6704 uploaded
492 started
table 1001 uploaded
105217 started
table 7240 uploaded
6490 started
table 81257 uploaded
1320 started
table 132555 uploaded
188697 started
table 49524 uploaded
629 started
table 102356 uploaded
58808 started
table 8987 uploaded
183597 started
table 2311 uploaded
5878 started
table 163985 uploaded
72915 startedtable 131457 uploaded

44763 started
table 55176 uploaded
83765 started
table 52867 uploaded
72919 started
table 6490 uploaded
8923 started
table 492 uploaded
5241 started
table 105217 uploaded
8769 started
table 188697 uploaded
93510 started
table 629 uploaded
31687 started
table 5878 uploaded
141918 started
table 58808 uploaded
3090 started
table 1320 uploaded
54272 started
table 183597 uploaded
79505 started
table 175671 uploaded
636 started
table 8769 uploaded
6776 started
table 44763 uploaded
109576 started
table 72919 uploaded
724 started
table 83765 uploaded
136602 started
table 93510 uploaded
table 8923 uploaded
64652 started
188305 started

/opt/conda/lib/python3.10/site-packages/google/cloud/bigquery/_pandas_helpers.py:603: UserWarning: Pyarrow could not determine the type of columns: tag.
  warnings.warn(

table 31687 uploaded
80447 started
table 72915 uploaded
3479 started
table 5241 uploaded
114627 started
table 3090 uploaded
33834 started
table 636 uploaded
315 started
table 79505 uploaded
143969 started
table 54272 uploaded
188067 started
table 6776 uploaded
4205 started
table 724 uploaded
27719 started
table 141918 uploaded
7346 started
table 80447 uploaded
3799 started
table 188305 uploaded
96801 started
table 109576 uploaded
31467 started
table 64652 uploaded
145489 started
table 33834 uploaded
106300 started
table 136602 uploaded
8644 started
table 114627 uploaded
141832 started
table 188067 uploaded
407 started
table 3479 uploaded
111856 started
table 4205 uploaded
32060 started
table 143969 uploaded
3106 started
table 96801 uploaded
47956 started
table 145489 uploaded
3000 started
table 27719 uploaded
172407 started
table 3799 uploaded
6419 started
table 7346 uploaded
2973 started
table 315 uploaded
96302 started
table 111856 uploaded
5534 started
table 8644 uploaded
60259 started
table 106300 uploaded
67788 started
table 31467 uploaded
64241 started
table 407 uploaded
86244 started
table 141832 uploaded
132626 started
table 3106 uploaded
4158 started
table 3000 uploaded
2129 started
table 6419 uploaded
200322 started
table 32060 uploaded
51579 started
table 47956 uploaded
79651 started
table 5534 uploaded
8603 started
table 172407 uploaded
167488 started

/opt/conda/lib/python3.10/site-packages/google/cloud/bigquery/_pandas_helpers.py:603: UserWarning: Pyarrow could not determine the type of columns: tag.
  warnings.warn(

table 2973 uploaded
83334 started
table 64241 uploaded
56908 started
table 86244 uploaded
48863 started
table 60259 uploaded
63645 started
table 96302 uploaded
3592 started
table 4158 uploaded
110501 started
table 132626 uploaded
25927 started
table 67788 uploaded
86330 started
table 2129 uploaded
55901 started
table 79651 uploaded
191965 started
table 8603 uploaded
5526 started
table 51579 uploaded
94184 started
table 200322 uploaded
27238 started
table 83334 uploaded
1801 started
table 86330 uploaded
36553 started
table 3592 uploaded
174681 started
table 56908 uploaded
50064 started
table 63645 uploaded
171501 started
table 48863 uploaded
2421 started
table 25927 uploaded
1297 started
table 167488 uploaded
63617 started
table 55901 uploaded
2899 started
table 110501 uploaded
4727 started
table 94184 uploaded
115231 started
table 5526 uploaded
140341 started
table 191965 uploaded
7149 started
table 27238 uploaded
43444 started
table 174681 uploaded
152055 started
table 2421 uploaded
26258 started
table 171501 uploaded
7813 started
table 50064 uploaded
70597 started
table 1297 uploaded
1930 started
table 63617 uploaded
33119 started
table 4727 uploaded
3079 started
table 140341 uploaded
105053 started
table 1801 uploaded
2423 started
table 115231 uploaded
131056 started
table 2899 uploaded
80315 started
table 7149 uploaded
33683 started
table 36553 uploaded
5226 started
table 7813 uploaded
85626 started

/opt/conda/lib/python3.10/site-packages/google/cloud/bigquery/_pandas_helpers.py:603: UserWarning: Pyarrow could not determine the type of columns: tag.
  warnings.warn(

table 70597 uploaded
162082 started
table 43444 uploaded
163112 started
table 152055 uploaded
3717 started
table 33119 uploaded
4481 started
table 2423 uploaded
65181 started

/opt/conda/lib/python3.10/site-packages/google/cloud/bigquery/_pandas_helpers.py:603: UserWarning: Pyarrow could not determine the type of columns: tag.
  warnings.warn(

table 3079 uploaded
149658 started
table 33683 uploaded
384 started
table 105053 uploaded
195823 started
table 85626 uploaded
46578 started
table 80315 uploaded
141698 started
table 26258 uploaded
5900 started
table 1930 uploaded
56616 started

/opt/conda/lib/python3.10/site-packages/google/cloud/bigquery/_pandas_helpers.py:603: UserWarning: Pyarrow could not determine the type of columns: tag.
  warnings.warn(

table 131056 uploaded
6883 started
table 162082 uploaded
78370 started
table 5226 uploaded
118300 started

/opt/conda/lib/python3.10/site-packages/google/cloud/bigquery/_pandas_helpers.py:603: UserWarning: Pyarrow could not determine the type of columns: tag.
  warnings.warn(

table 163112 uploaded
5954 started
table 3717 uploaded
39381 started
table 4481 uploaded
26048 started
table 149658 uploaded
45047 started
table 384 uploaded
6873 started
table 5900 uploaded
141846 started
table 46578 uploaded
5262 started
table 141698 uploaded
4225 started
table 6883 uploaded
133389 started
table 56616 uploaded
3224 started
table 118300 uploaded
6822 started
table 78370 uploaded
53138 started
table 195823 uploaded
121 started
table 5954 uploaded
27736 started
table 39381 uploaded
96195 started
table 45047 uploaded
815 started
table 6873 uploaded
100034 started
table 133389 uploaded
127156 started
table 26048 uploaded
65738 started
table 4225 uploaded
156369 started
table 141846 uploaded
165235 started
table 3224 uploaded
71199 started
table 5262 uploaded
175277 started
table 27736 uploaded
93287 started
table 65181 uploaded
87360 started
table 53138 uploaded
158268 started
table 100034 uploaded
26429 started
table 6822 uploaded
8012 started
table 121 uploaded
32875 started
table 815 uploaded
118392 started

/opt/conda/lib/python3.10/site-packages/google/cloud/bigquery/_pandas_helpers.py:603: UserWarning: Pyarrow could not determine the type of columns: tag.
  warnings.warn(

table 156369 uploaded
180435 started
table 65738 uploaded
5620 started
table 71199 uploaded
5564 started
table 127156 uploaded
158858 started
table 96195 uploaded
5406 started
table 165235 uploaded
463 started

/opt/conda/lib/python3.10/site-packages/google/cloud/bigquery/_pandas_helpers.py:603: UserWarning: Pyarrow could not determine the type of columns: tag.
  warnings.warn(

table 87360 uploaded
143511 started
table 93287 uploaded
31408 started
table 8012 uploaded
79994 started
table 175277 uploaded
2043 started
table 32875 uploaded
151695 started
table 118392 uploaded
107910 started
table 158268 uploaded
92475 started
table 26429 uploaded
2218 started
table 5564 uploaded
25994 started
table 5620 uploaded
26587 started
table 158858 uploaded
100906 started
table 180435 uploaded
74553 started
table 5406 uploaded
87802 started
table 31408 uploaded
43710 started
table 143511 uploaded
1404 started
table 107910 uploaded
56479 started
table 79994 uploaded
177 started
table 151695 uploaded
4421 started
table 2043 uploaded
46865 started
table 463 uploaded
5465 started
table 92475 uploaded
78993 started
table 2218 uploaded
156 started
table 26587 uploaded
228 started
table 25994 uploaded
83369 started
table 100906 uploaded
88405 started
table 56479 uploaded
8582 started
table 43710 uploaded
3396 started
table 87802 uploaded
142823 started
table 46865 uploaded
3824 started
table 4421 uploaded
132132 started
table 177 uploaded
72176 started
table 74553 uploaded
185475 started
table 1404 uploaded
79166 started
table 83369 uploaded
53435 started

/opt/conda/lib/python3.10/site-packages/google/cloud/bigquery/_pandas_helpers.py:603: UserWarning: Pyarrow could not determine the type of columns: tag.
  warnings.warn(

table 5465 uploaded
68153 started
table 78993 uploaded
59399 started
table 88405 uploaded
55830 started
table 8582 uploaded
366 started
table 156 uploaded
40457 started
table 142823 uploaded
88901 started
table 72176 uploaded
265 started
table 3824 uploaded
1056 started
table 228 uploaded
194975 started
table 185475 uploaded
98491 started
table 3396 uploaded
6715 started
table 53435 uploaded
180033 started
table 132132 uploaded
41014 started
table 55830 uploaded
85538 started
table 68153 uploaded
172501 started
table 366 uploaded
7224 started
table 79166 uploaded
4270 started
table 59399 uploaded
60707 started
table 40457 uploaded
1382 started

/opt/conda/lib/python3.10/site-packages/google/cloud/bigquery/_pandas_helpers.py:603: UserWarning: Pyarrow could not determine the type of columns: tag.
  warnings.warn(

table 88901 uploaded
3452 started
table 98491 uploaded
82196 started
table 194975 uploaded
6995 started
table 1056 uploaded
4860 started
table 180033 uploaded
94677 started
table 265 uploaded
32653 started
table 85538 uploaded
5509 started
table 172501 uploaded
109925 started
table 7224 uploaded
109420 started
table 41014 uploaded
3716 started
table 6715 uploaded
2897 started
table 4270 uploaded
5646 started
table 1382 uploaded
137761 started
table 4860 uploaded
171903 started

/opt/conda/lib/python3.10/site-packages/google/cloud/bigquery/_pandas_helpers.py:603: UserWarning: Pyarrow could not determine the type of columns: tag.
  warnings.warn(

table 82196 uploaded
4022 started
table 6995 uploaded
42208 started
table 3452 uploaded
134085 started

/opt/conda/lib/python3.10/site-packages/google/cloud/bigquery/_pandas_helpers.py:603: UserWarning: Pyarrow could not determine the type of columns: tag.
  warnings.warn(

table 94677 uploaded
796 started
table 60707 uploaded
109455 started

/opt/conda/lib/python3.10/site-packages/google/cloud/bigquery/_pandas_helpers.py:603: UserWarning: Pyarrow could not determine the type of columns: tag.
  warnings.warn(

table 3716 uploaded
2252 started
table 109925 uploaded
5845 started

/opt/conda/lib/python3.10/site-packages/google/cloud/bigquery/_pandas_helpers.py:603: UserWarning: Pyarrow could not determine the type of columns: tag.
  warnings.warn(

table 5509 uploaded
4407 started
table 109420 uploaded
142542 started
table 137761 uploaded
4622 started
table 2897 uploaded
39529 started

/opt/conda/lib/python3.10/site-packages/google/cloud/bigquery/_pandas_helpers.py:603: UserWarning: Pyarrow could not determine the type of columns: tag.
  warnings.warn(

table 32653 uploaded
4713 started
table 4022 uploaded
58432 started
table 42208 uploaded
82633 started
table 171903 uploaded
7283 started
table 134085 uploaded
8191 started
table 109455 uploaded
139620 started
table 4407 uploaded
3823 started
table 796 uploaded
4332 started
table 4622 uploaded
159169 started
table 2252 uploaded
2158 started
table 5845 uploaded
133173 started

/opt/conda/lib/python3.10/site-packages/google/cloud/bigquery/_pandas_helpers.py:603: UserWarning: Pyarrow could not determine the type of columns: tag.
  warnings.warn(

table 5646 uploaded
40815 started
table 39529 uploaded
69419 started
table 4713 uploaded
328 started
table 58432 uploaded
26288 started
table 142542 uploaded
8650 started
table 8191 uploaded
32898 started
table 82633 uploaded
60524 started
table 4332 uploaded
137 started
table 7283 uploaded
132424 started
table 159169 uploaded
4078 started
table 133173 uploaded
74228 started
table 2158 uploaded
7285 started
table 139620 uploaded
27744 started
table 69419 uploaded
165407 started
table 40815 uploaded
2155 started
table 3823 uploaded
26487 started
table 328 uploaded
79830 started
table 8650 uploaded
118888 started
table 132424 uploaded
5462 started
table 26288 uploaded
80836 started
table 74228 uploaded
169218 started
table 137 uploaded
170599 started
table 4078 uploaded
95375 started
table 165407 uploaded
44815 started

/opt/conda/lib/python3.10/site-packages/google/cloud/bigquery/_pandas_helpers.py:603: UserWarning: Pyarrow could not determine the type of columns: tag.
  warnings.warn(

table 26487 uploaded
27592 started
table 27744 uploaded
124 started
table 7285 uploaded
59022 started
table 79830 uploaded
191811 started
table 80836 uploaded
1326 started
table 118888 uploaded
70695 started
table 32898 uploaded
71745 started
table 60524 uploaded
93475 started
table 95375 uploaded
989 started
table 2155 uploaded
91974 started
table 44815 uploaded
5508 started
table 170599 uploaded
593 started
table 191811 uploaded
6639 started
table 5462 uploaded
66140 started
table 124 uploaded
167634 started
table 59022 uploaded
33592 started
table 169218 uploaded
5344 started
table 27592 uploaded
1959 started
table 93475 uploaded
4889 started
table 71745 uploaded
317 started
table 70695 uploaded
6885 started
table 1326 uploaded
105128 started
table 91974 uploaded
6540 started
table 989 uploaded
1102 started
table 167634 uploaded
2300 started
table 5508 uploaded
179329 started
table 33592 uploaded
7444 started
table 593 uploaded
6793 started
table 1959 uploaded
1633 started
table 5344 uploaded
3276 started
table 6885 uploaded
33321 started
table 66140 uploaded
87876 started
table 6639 uploaded
145839 started
table 317 uploaded
1374 started
table 105128 uploaded
96471 started
table 1102 uploaded
139634 started
table 6540 uploaded
144362 started

/opt/conda/lib/python3.10/site-packages/google/cloud/bigquery/_pandas_helpers.py:603: UserWarning: Pyarrow could not determine the type of columns: tag.
  warnings.warn(

table 4889 uploaded
43871 started
table 2300 uploaded
191351 started
table 7444 uploaded
26842 started
table 6793 uploaded
65810 started
table 33321 uploaded
2794 started
table 1633 uploaded
5189 started
table 145839 uploaded
7217 started
table 179329 uploaded
53894 started
table 3276 uploaded
6664 started
table 43871 uploaded
7891 started
table 96471 uploaded
8266 started
table 1374 uploaded
2520 started
table 191351 uploaded
73000 started
table 26842 uploaded
3260 started
table 139634 uploaded
103541 started
table 87876 uploaded
55875 started
table 65810 uploaded
5844 started
table 144362 uploaded
26110 started
table 2794 uploaded
168172 started
table 53894 uploaded
121133 started
table 5189 uploaded
134849 started
table 2520 uploaded
90929 started
table 7217 uploaded
26699 started
table 6664 uploaded
55369 started
table 73000 uploaded
103721 started
table 55875 uploaded
130347 started
table 7891 uploaded
2545 started
table 103541 uploaded
108202 started
table 3260 uploaded
124859 started
table 5844 uploaded
109042 started
table 26110 uploaded
26702 started
table 8266 uploaded
57980 started
table 121133 uploaded
130492 started
table 134849 uploaded
183891 started
table 168172 uploaded
202195 started
table 108202 uploaded
4055 started
table 130347 uploaded
2278 started
table 109042 uploaded
3077 started
table 124859 uploaded
57499 started

/opt/conda/lib/python3.10/site-packages/google/cloud/bigquery/_pandas_helpers.py:603: UserWarning: Pyarrow could not determine the type of columns: tag.
  warnings.warn(

table 26699 uploaded
35386 started
table 103721 uploaded
55363 started
table 55369 uploaded
68194 started
table 2545 uploaded
31549 started
table 26702 uploaded
26802 started
table 130492 uploaded
7936 started
table 57980 uploaded
4709 started
table 183891 uploaded
5389 started
table 202195 uploaded
111781 started
table 90929 uploaded
140115 started
table 35386 uploaded
203244 started

/opt/conda/lib/python3.10/site-packages/google/cloud/bigquery/_pandas_helpers.py:603: UserWarning: Pyarrow could not determine the type of columns: tag.
  warnings.warn(

table 55363 uploaded
81191 started
table 2278 uploaded
158254 started
table 3077 uploaded
2443 started
table 57499 uploaded
200820 started
table 4709 uploaded
56156 started
table 68194 uploaded
144294 started
table 26802 uploaded
6824 started
table 31549 uploaded
59715 started
table 111781 uploaded
32892 started
table 4055 uploaded
134236 started
table 140115 uploaded
7702 started
table 81191 uploaded
table 7936 uploaded
1437 started
table 56156 uploaded
3086 started
table 203244 uploaded
1172 started
table 2443 uploaded
1069 started
table 200820 uploaded
7460 started
table 5389 uploaded
40425 started
table 158254 uploaded
163951 started
table 134236 uploaded
2532 started
table 6824 uploaded
157673 started
table 59715 uploaded
2648 started
table 32892 uploaded
33567 started
table 144294 uploaded
70301 started
table 7702 uploaded
5574 started
table 1437 uploaded
69947 started
table 3086 uploaded
1676 started
table 40425 uploaded
77421 started
table 7460 uploaded
144402 started
table 2532 uploaded
133417 started
table 1069 uploaded
6093 started
table 70301 uploaded
91626 started
table 1172 uploaded
2777 started
table 2648 uploaded
4328 started
table 157673 uploaded
26147 started
table 33567 uploaded
68135 started
table 69947 uploaded
4424 started
table 163951 uploaded
2835 started
table 5574 uploaded
145028 started
table 144402 uploaded
93164 started
table 6093 uploaded
4469 started
table 2777 uploaded
31894 started
table 77421 uploaded
1285 started
table 26147 uploaded
97639 started
table 1676 uploaded
27304 started
table 133417 uploaded
46910 started
table 4424 uploaded
164639 started
table 68135 uploaded
2470 started
table 4328 uploaded
3342 started
table 91626 uploaded
63481 started
table 2835 uploaded
5608 started
table 93164 uploaded
45175 started
table 145028 uploaded
1275 started
table 4469 uploaded
112961 started
table 31894 uploaded
89638 started
table 97639 uploaded
113632 started
table 46910 uploaded
69458 started
table 27304 uploaded
61354 started
table 164639 uploaded
5372 started
table 1285 uploaded
120639 started
table 63481 uploaded
93404 started
table 45175 uploaded
50804 started
table 5608 uploaded
102993 started
table 112961 uploaded
1390 started
table 2470 uploaded
139100 started
table 113632 uploaded
133769 started
table 3342 uploaded
44655 started
table 1275 uploaded
635 started
table 89638 uploaded
98499 started
table 61354 uploaded
2055 started
table 69458 uploaded
87234 started
table 5372 uploaded
197691 started
table 120639 uploaded
247 started
table 50804 uploaded
95856 started
table 93404 uploaded
1170 started
table 139100 uploaded
72980 started
table 133769 uploaded
549 started
table 1390 uploaded
5404 started
table 635 uploaded
2196 started
table 98499 uploaded
6808 started
table 2055 uploaded
104283 started
table 72980 uploaded
139553 started
table 549 uploaded
1863 started
table 1170 uploaded
205399 started
table 197691 uploaded
49766 started
table 247 uploaded
3871 started

/opt/conda/lib/python3.10/site-packages/google/cloud/bigquery/_pandas_helpers.py:603: UserWarning: Pyarrow could not determine the type of columns: tag.
  warnings.warn(

table 87234 uploaded
99108 started
table 44655 uploaded
32627 started
table 102993 uploaded
104337 started
table 5404 uploaded
90717 started
table 2196 uploaded
60141 started
table 95856 uploaded
89939 started
table 139553 uploaded
170827 started
table 1863 uploaded
90249 started
table 104283 uploaded
76866 started
table 6808 uploadedtable 49766 uploaded

4465 started7418 started

table 90717 uploaded
133215 started
table 99108 uploaded
47728 started
table 32627 uploaded
2104 started
table 3871 uploaded
116781 started
table 60141 uploaded
175311 started
table 89939 uploaded
185851 started
table 90249 uploaded
79525 started
table 205399 uploaded
54736 started
table 4465 uploaded
144604 started

/opt/conda/lib/python3.10/site-packages/google/cloud/bigquery/_pandas_helpers.py:603: UserWarning: Pyarrow could not determine the type of columns: tag.
  warnings.warn(

table 170827 uploaded
7338 started
table 2104 uploaded
6782 started
table 7418 uploaded
2720 started
table 76866 uploaded
6930 started
table 47728 uploaded
6479 started
table 104337 uploaded
93490 started
table 116781 uploaded

/opt/conda/lib/python3.10/site-packages/google/cloud/bigquery/_pandas_helpers.py:603: UserWarning: Pyarrow could not determine the type of columns: tag.
  warnings.warn(

2926 started
table 133215 uploaded
1562 started
table 54736 uploaded
3638 started
table 79525 uploaded
149723 started
table 175311 uploaded
5892 started
table 6782 uploaded
2731 started
table 2720 uploaded
7814 started
table 144604 uploaded
119153 started
table 6930 uploaded
103547 started
table 185851 uploaded
82068 started
table 93490 uploaded
101258 started
table 7338 uploaded
181115 started

/opt/conda/lib/python3.10/site-packages/google/cloud/bigquery/_pandas_helpers.py:603: UserWarning: Pyarrow could not determine the type of columns: tag.
  warnings.warn(

table 3638 uploaded
8971 started
table 149723 uploaded
81083 started
table 5892 uploaded
183309 started
table 7814 uploaded
175475 started
table 2926 uploaded
69574 started
table 1562 uploaded
158727 started
table 2731 uploaded
67695 started
table 103547 uploaded
158316 started
table 119153 uploaded
51617 started
table 101258 uploaded
80572 started
table 181115 uploaded
177689 started
table 6479 uploaded
82121 started
table 81083 uploaded
4402 started
table 175475 uploaded
157881 started
table 158727 uploaded
104243 started
table 8971 uploaded
6432 started
table 158316 uploaded
140131 started
table 82068 uploaded
132758 started
table 183309 uploaded
26318 started
table 82121 uploaded
8649 started
table 51617 uploaded
6357 started
table 80572 uploaded
3573 started
table 67695 uploaded
113186 started
table 177689 uploaded
2157 started
table 69574 uploaded
7723 started
table 104243 uploaded
5456 started
table 4402 uploaded
91582 started
table 140131 uploaded
59985 started
table 6432 uploaded
27 started
table 157881 uploaded
61035 started
table 6357 uploaded
3625 started
table 132758 uploaded
43608 started
table 26318 uploaded
27834 started
table 8649 uploaded
197207 started
table 113186 uploaded
127088 started
table 2157 uploaded
128944 started
table 7723 uploaded
80489 started
table 5456 uploaded
165961 started
table 61035 uploaded
121253 started
table 3573 uploaded
1147 started
table 59985 uploaded
26788 started
table 43608 uploaded
81660 started
table 27 uploaded
66943 started
table 27834 uploaded
1905 started
table 91582 uploaded
178521 started
table 127088 uploaded
690 started
table 80489 uploaded
78653 started
table 197207 uploaded
100745 started
table 3625 uploaded
26080 started
table 165961 uploaded
146878 started
table 128944 uploaded
74827 started
table 1147 uploaded
62511 started
table 26788 uploaded
116191 started
table 121253 uploaded
57520 started
table 81660 uploaded
50589 started
table 690 uploaded
2874 started
table 66943 uploaded
4159 started
table 26080 uploaded
1620 started
table 178521 uploaded
5321 started
table 116191 uploaded
7113 started
table 146878 uploaded
168784 started
table 1905 uploaded
6844 started
table 78653 uploaded
2765 started
table 74827 uploaded
58295 started
table 62511 uploaded
4102 started
table 50589 uploaded
5949 started
table 57520 uploaded
2571 started
table 100745 uploaded
98056 started
table 2874 uploaded
48593 started
table 1620 uploaded
1358 started
table 4159 uploaded
1202 started
table 2765 uploaded
168612 started
table 7113 uploaded
133276 started
table 168784 uploaded
196997 started
table 58295 uploaded
4741 started
table 5949 uploaded
107477 started
table 5321 uploaded
6623 started
table 2571 uploaded
43869 started
table 98056 uploaded
5834 started
table 6844 uploaded
163717 started

/opt/conda/lib/python3.10/site-packages/google/cloud/bigquery/_pandas_helpers.py:603: UserWarning: Pyarrow could not determine the type of columns: tag.
  warnings.warn(

table 1202 uploaded
135825 started
table 4102 uploaded
161240 started

/opt/conda/lib/python3.10/site-packages/google/cloud/bigquery/_pandas_helpers.py:603: UserWarning: Pyarrow could not determine the type of columns: tag.
  warnings.warn(

table 48593 uploaded
126743 started

/opt/conda/lib/python3.10/site-packages/google/cloud/bigquery/_pandas_helpers.py:603: UserWarning: Pyarrow could not determine the type of columns: tag.
  warnings.warn(

table 1358 uploaded
140747 started
table 196997 uploaded
2467 started
table 133276 uploaded
157671 started
table 107477 uploaded
69453 started
table 4741 uploaded
154065 started
table 168612 uploaded
6414 started
table 6623 uploaded
4792 started
table 157671 uploaded
26210 started
table 126743 uploaded
92694 started
table 135825 uploaded
3104 started
table 163717 uploaded
70595 started
table 161240 uploaded
135184 started
table 154065 uploaded
8393 started
table 2467 uploaded
2911 started
table 43869 uploaded
8894 started
table 140747 uploaded
7125 started
table 69453 uploaded
26101 started
table 5834 uploaded
349 started
table 4792 uploaded
27627 started
table 6414 uploaded
1444 started

/opt/conda/lib/python3.10/site-packages/google/cloud/bigquery/_pandas_helpers.py:603: UserWarning: Pyarrow could not determine the type of columns: tag.
  warnings.warn(

table 70595 uploaded
55052 started
table 26210 uploaded
132128 started
table 92694 uploaded
92307 started
table 3104 uploaded
1342 started
table 135184 uploaded
7648 started
table 2911 uploaded
141818 started

/opt/conda/lib/python3.10/site-packages/google/cloud/bigquery/_pandas_helpers.py:603: UserWarning: Pyarrow could not determine the type of columns: tag.
  warnings.warn(

table 8894 uploaded
69746 started
table 7125 uploaded
390 started
table 349 uploaded
7449 started
table 26101 uploaded
31747 started
table 1444 uploaded
3963 started
table 27627 uploaded
2812 started
table 8393 uploaded
1094 started
table 55052 uploaded
5543 started
table 92307 uploaded
32302 started
table 141818 uploaded
4391 started
table 132128 uploaded
9017 started
table 1342 uploaded
116036 started
table 69746 uploaded
27338 started
table 7449 uploaded
97699 started
table 31747 uploaded
4878 started
table 3963 uploaded
141642 started

/opt/conda/lib/python3.10/site-packages/google/cloud/bigquery/_pandas_helpers.py:603: UserWarning: Pyarrow could not determine the type of columns: tag.
  warnings.warn(

table 7648 uploaded
187463 started
table 2812 uploaded
105778 started

/opt/conda/lib/python3.10/site-packages/google/cloud/bigquery/_pandas_helpers.py:603: UserWarning: Pyarrow could not determine the type of columns: tag.
  warnings.warn(

table 1094 uploaded
6866 started
table 390 uploaded
145088 started

/opt/conda/lib/python3.10/site-packages/google/cloud/bigquery/_pandas_helpers.py:603: UserWarning: Pyarrow could not determine the type of columns: tag.
  warnings.warn(

table 5543 uploaded
68269 started
table 27338 uploaded
32345 started
table 116036 uploaded
2565 started
table 4391 uploaded
130518 started
table 32302 uploaded
136200 started
table 141642 uploaded
26410 started
table 105778 uploaded
168026 started
table 97699 uploaded
89930 started
table 9017 uploaded
184931 started
table 4878 uploaded
3136 started
table 145088 uploaded
15 started
table 187463 uploaded
116797 started
table 6866 uploaded
565 started
table 136200 uploaded
79357 started
table 2565 uploaded
93952 started
table 32345 uploaded
44058 started
table 130518 uploaded
161654 started
table 68269 uploaded
106 started
table 89930 uploaded
26720 started
table 168026 uploaded
8055 started
table 26410 uploaded
109185 started
table 116797 uploaded
2527 started
table 44058 uploaded
186001 started
table 15 uploaded
5427 started
table 93952 uploaded
6575 started
table 161654 uploaded
136253 started
table 184931 uploaded
5506 started
table 565 uploaded
4087 started
table 79357 uploaded
6768 started
table 3136 uploaded
5816 started
table 106 uploaded
125916 started
table 26720 uploaded
174035 started
table 8055 uploaded
2663 started
table 109185 uploaded
5798 started
table 6575 uploaded
86237 started
table 5427 uploaded
3796 started
table 186001 uploaded
119948 started
table 2527 uploaded
26577 started
table 4087 uploaded
42783 started
table 5506 uploaded
171443 started
table 125916 uploaded
1867 started

/opt/conda/lib/python3.10/site-packages/google/cloud/bigquery/_pandas_helpers.py:603: UserWarning: Pyarrow could not determine the type of columns: tag.
  warnings.warn(

table 6768 uploaded
163527 started
table 136253 uploaded
107658 started
table 5816 uploaded
122288 started
table 174035 uploaded
93641 started
table 2663 uploaded
192787 started
table 26577 uploaded
93418 started
table 86237 uploaded
32562 started
table 119948 uploaded
168806 started
table 122288 uploaded
137112 started
table 42783 uploaded
99 started
table 107658 uploaded
160533 started
table 171443 uploaded
7782 started
table 1867 uploaded
8943 started
table 5798 uploaded
6144 started
table 3796 uploaded
45726 started
table 93418 uploaded
105811 started
table 93641 uploaded
25944 started
table 192787 uploaded
33799 started
table 160533 uploaded
45527 started
table 168806 uploaded
135426 started
table 8943 uploaded
128425 started
table 163527 uploaded
122900 started
table 32562 uploaded
139098 started
table 99 uploaded
3941 started
table 45726 uploaded
3118 started
table 137112 uploaded
141912 started
table 105811 uploaded
6854 started
table 6144 uploaded
1015 started
table 7782 uploaded
147432 started
table 33799 uploaded
68976 started
table 25944 uploaded
169842 started
table 128425 uploaded
141505 started
table 3941 uploaded
194100 started
table 122900 uploaded
87589 started
table 135426 uploaded
79430 started
table 3118 uploaded
8426 started
table 139098 uploaded
5210 started
table 141912 uploaded
99787 started
table 45527 uploaded
1762 started
table 147432 uploaded
72718 started
table 6854 uploaded
127180 started
table 1015 uploaded
25811 started
table 68976 uploaded
2542 started
table 169842 uploaded
98633 started
table 87589 uploaded
120869 started
table 194100 uploaded
7714 started
table 141505 uploaded
4876 started
table 5210 uploaded
8835 started
table 79430 uploaded
26155 started
table 8426 uploaded
6013 started
table 99787 uploaded
69495 started
table 72718 uploaded
114795 started
table 1762 uploaded
73111 started
table 98633 uploaded
6314 started
table 127180 uploaded
200824 started

/opt/conda/lib/python3.10/site-packages/google/cloud/bigquery/_pandas_helpers.py:603: UserWarning: Pyarrow could not determine the type of columns: tag.
  warnings.warn(

table 7714 uploaded
141393 started
table 2542 uploaded
39777 started
table 25811 uploaded
6453 started
table 26155 uploaded
99750 started
table 120869 uploaded
8639 started
table 8835 uploaded
27841 started
table 69495 uploaded
3734 started
table 6013 uploaded
118202 started
table 73111 uploaded
4819 started
table 114795 uploaded
98607 started
table 4876 uploaded
4978 started
table 6314 uploaded
35828 started
table 99750 uploaded
5094 started
table 39777 uploaded
26448 started
table 3734 uploaded
5290 started
table 141393 uploaded
177241 started
table 4819 uploaded
1571 started
table 200824 uploaded
123497 started
table 6453 uploaded
171465 started
table 4978 uploaded
1467 started

/opt/conda/lib/python3.10/site-packages/google/cloud/bigquery/_pandas_helpers.py:603: UserWarning: Pyarrow could not determine the type of columns: tag.
  warnings.warn(

table 35828 uploaded
2069 started
table 8639 uploaded
898 started
table 27841 uploaded
4274 started
table 26448 uploaded
8813 started
table 118202 uploaded
1150 started
table 5094 uploaded
6324 started

/opt/conda/lib/python3.10/site-packages/google/cloud/bigquery/_pandas_helpers.py:603: UserWarning: Pyarrow could not determine the type of columns: tag.
  warnings.warn(

table 98607 uploaded
148888 started
table 177241 uploaded
3406 started
table 1571 uploaded
8607 started
table 123497 uploaded
7938 started
table 5290 uploaded
163585 started
table 171465 uploaded
115965 started
table 8813 uploaded
47629 started
table 4274 uploaded
109635 startedtable 1467 uploaded

5395 started
table 1150 uploaded
80779 started
table 898 uploaded
76187 started
table 6324 uploaded
49917 started
table 2069 uploaded
101060 started
table 148888 uploaded
3719 started
table 8607 uploaded
7724 started
table 7938 uploaded
70201 started
table 163585 uploaded
27639 started
table 3406 uploaded
33930 started
table 115965 uploaded
8819 started
table 80779 uploaded
70994 started
table 109635 uploaded
7294 started
table 101060 uploaded
140946 started

/opt/conda/lib/python3.10/site-packages/google/cloud/bigquery/_pandas_helpers.py:603: UserWarning: Pyarrow could not determine the type of columns: tag.
  warnings.warn(

table 49917 uploaded
67252 started
table 5395 uploaded
59621 started
table 76187 uploaded
195075 started
table 7724 uploaded
98922 started
table 3719 uploaded
424 started
table 47629 uploaded
956 started
table 27639 uploaded
26834 started
table 70201 uploaded
5037 started
table 8819 uploaded
116493 started
table 33930 uploaded
7267 started
table 7294 uploaded
473 started

/opt/conda/lib/python3.10/site-packages/google/cloud/bigquery/_pandas_helpers.py:603: UserWarning: Pyarrow could not determine the type of columns: tag.
  warnings.warn(

table 67252 uploaded
81138 started
table 140946 uploaded
173913 started
table 59621 uploaded
78612 started
table 195075 uploaded
83302 started
table 70994 uploaded
3608 started
table 956 uploaded
144976 started
table 98922 uploaded
45987 started
table 26834 uploaded
117492 started

/opt/conda/lib/python3.10/site-packages/google/cloud/bigquery/_pandas_helpers.py:603: UserWarning: Pyarrow could not determine the type of columns: tag.
  warnings.warn(

table 81138 uploaded
59721 started
table 7267 uploaded
198865 started

/opt/conda/lib/python3.10/site-packages/google/cloud/bigquery/_pandas_helpers.py:603: UserWarning: Pyarrow could not determine the type of columns: tag.
  warnings.warn(

table 473 uploaded
97186 started
table 424 uploaded
72641 started
table 173913 uploaded
4361 started
table 116493 uploaded
84312 started
table 78612 uploaded
26497 started
table 144976 uploaded
201242 started
table 3608 uploaded
8153 started
table 117492 uploaded
2597 started
table 83302 uploaded
86973 started
table 45987 uploaded
1184 started
table 5037 uploaded
5298 started
table 4361 uploaded
2248 started
table 97186 uploaded
1156 started
table 59721 uploaded
187069 started
table 201242 uploaded
26083 started
table 198865 uploaded
2770 started
table 8153 uploaded
74731 started
table 72641 uploaded
200540 started
table 86973 uploaded
135777 started
table 84312 uploaded
167732 started
table 26497 uploaded
116267 started
table 1184 uploaded
91290 started
table 2597 uploaded
105355 started
table 5298 uploaded
616 started
table 26083 uploaded
101097 started
table 1156 uploaded
97832 started
table 74731 uploaded
3473 started
table 167732 uploaded
5585 started
table 2770 uploaded
117456 started
table 135777 uploaded
2686 started
table 2248 uploaded
116002 started
table 200540 uploaded
113188 started
table 187069 uploaded
142115 started
table 91290 uploaded
26901 started
table 105355 uploaded
table 616 uploaded
1703 started
table 116267 uploaded
6819 started
table 101097 uploaded
3442 started
table 5585 uploaded
2394 started
table 2686 uploaded
7317 started
table 116002 uploaded
99675 started
table 113188 uploaded
8383 started
table 97832 uploaded
32460 started
table 142115 uploaded
table 117456 uploaded
94675 started
table 26901 uploaded
2773 started
table 3473 uploaded
88299 started
table 6819 uploaded
60756 started
table 7317 uploaded
table 2394 uploaded
1271 started
table 1703 uploaded
166705 started
table 99675 uploaded
4830 started
table 32460 uploaded
119065 started
table 8383 uploaded
52722 started
table 3442 uploaded
80049 started
table 88299 uploaded
172577 started
table 2773 uploaded
table 94675 uploaded
170945 started
table 60756 uploaded
135248 started
table 1271 uploaded
32088 started
table 52722 uploaded
842 started
table 166705 uploaded
30791 started
table 4830 uploaded
55462 started
table 119065 uploaded
173623 started
table 80049 uploaded
140799 started
table 172577 uploaded
3701 started
table 32088 uploaded
98 started
table 135248 uploaded
1948 started
table 170945 uploaded
140365 started
table 173623 uploaded
87222 started
table 842 uploaded
8327 started
table 30791 uploaded
127441 started
table 55462 uploaded
134077 started

/opt/conda/lib/python3.10/site-packages/google/cloud/bigquery/_pandas_helpers.py:603: UserWarning: Pyarrow could not determine the type of columns: tag.
  warnings.warn(

table 140799 uploaded
5531 started
table 3701 uploaded
63808 started
table 1948 uploaded
1226 started
table 98 uploaded
95167 started
table 87222 uploaded
6816 started
table 140365 uploaded
table 127441 uploaded
345 started
table 134077 uploaded
6711 started
table 8327 uploaded
112399 started
table 63808 uploaded
150993 started
table 95167 uploaded
91515 started
table 1226 uploaded
27815 started
table 6816 uploaded
81910 started
table 5531 uploaded
69784 started
table 112399 uploaded
6243 started
table 6711 uploaded
54185 started
table 345 uploaded
70656 started
table 150993 uploaded
134879 started
table 81910 uploaded
1635 started
table 27815 uploaded
48412 started
table 91515 uploaded
6947 started
table 54185 uploaded
81981 started
table 69784 uploaded
173541 started
table 1635 uploaded
2522 started
table 70656 uploaded
31035 started
table 134879 uploaded
42285 started
table 48412 uploaded
2618 started
table 6243 uploaded
4728 started
table 6947 uploaded
60044 started
table 173541 uploaded
57044 started
table 81981 uploaded
1906 started
table 2522 uploaded
4091 started
table 42285 uploaded
8198 started
table 57044 uploaded
184721 started
table 1906 uploaded
3677 started
table 31035 uploaded
92169 started
table 2618 uploaded
43899 started
table 4728 uploaded
77298 started
table 60044 uploaded
4538 started
table 4091 uploaded
table 3677 uploaded
2271 started
table 77298 uploaded
89305 started
table 43899 uploaded
25834 started
table 92169 uploadedtable 8198 uploaded

2253 started
117368 started
table 184721 uploaded
8534 started
table 4538 uploaded
95298 started
table 2271 uploaded
4049 started
table 8534 uploaded
186955 started
table 89305 uploaded
107024 started
table 2253 uploaded
84950 started
table 117368 uploaded
74868 started
table 25834 uploaded
155970 started
table 95298 uploaded
table 107024 uploaded
table 84950 uploaded
2113 started
table 4049 uploaded
table 74868 uploaded
table 155970 uploaded
8919 started
table 186955 uploaded
26707 started
table 2113 uploaded
105715 started
table 8919 uploaded
81591 started
table 26707 uploaded
150294 started
table 105715 uploaded
197177 started

/opt/conda/lib/python3.10/site-packages/google/cloud/bigquery/_pandas_helpers.py:603: UserWarning: Pyarrow could not determine the type of columns: tag.
  warnings.warn(

table 81591 uploaded
2845 started
table 150294 uploaded
142509 started
table 197177 uploaded
3553 started
table 142509 uploaded
72407 started
table 2845 uploaded
3462 started
table 3553 uploaded
5586 started
table 3462 uploaded
3782 started
table 72407 uploaded
4544 started
table 5586 uploaded
76758 started
table 4544 uploaded
5940 started
table 76758 uploaded
1655 started
table 3782 uploaded
26433 started
table 5940 uploaded
167564 started
table 1655 uploaded
151483 started

/opt/conda/lib/python3.10/site-packages/google/cloud/bigquery/_pandas_helpers.py:603: UserWarning: Pyarrow could not determine the type of columns: tag.
  warnings.warn(

table 26433 uploaded
5080 started
table 167564 uploaded
51911 started
table 151483 uploaded
185981 started
table 5080 uploaded
80839 started
table 51911 uploaded
163993 started
table 185981 uploaded
71668 started
table 80839 uploaded
2683 started
table 71668 uploaded
2325 started
table 163993 uploaded
146024 started
table 2683 uploaded
133419 started
table 146024 uploaded
158872 started
table 2325 uploaded
5306 started
table 133419 uploaded
table 5306 uploaded
40732 started
table 158872 uploaded
59141 started
table 40732 uploaded
8040 started
table 59141 uploaded
30701 started
table 8040 uploaded
37240 started
table 30701 uploaded
104390 started
table 37240 uploaded
63768 started
table 104390 uploaded
2691 started
table 63768 uploaded
7182 started
table 2691 uploaded
52016 started
table 7182 uploaded
111312 started
table 52016 uploaded
52838 started

/opt/conda/lib/python3.10/site-packages/google/cloud/bigquery/_pandas_helpers.py:603: UserWarning: Pyarrow could not determine the type of columns: tag.
  warnings.warn(

table 111312 uploaded
3692 started
table 52838 uploaded
table 3692 uploaded

In [35]:
def f(args):
    return args[0]*args[1]

if __name__ == '__main__':
    with Pool(5) as p:
        print(p.map(f, [[1, 2], [4, 5]]))

[2, 20]

In [42]:
# (ENDED UP NOT BEING NECESSARY)
# here, we are counting the most used tags PER USER
# a new csv file is created for each userId, with each tag and its count

# for i, userId in enumerate(user_list):
#     tags.userId = tags.userId.astype('string')
#     tags_user = tags[tags.userId == userId].copy().drop('userId', axis= 1)
#     tags_user['COUNT'] = 1
#     tags_user_counts = tags_user.groupby(['tag']).count()
#     tags_user_counts = tags_user_counts.sort_values(by=['COUNT'], ascending= False).reset_index()
#     tags_user_counts.to_csv('data/users_tags/' + str(userId) + '.csv', index = False)
#     print(f'csv {i} created')

In [25]:
# 11
# here, we are preprocessing the movies dataframe:
# 1) moving years to a separated column, and removing movies without year information
# 2) separating genres in separated columns, one for each genre
# 3) addin avg user rating and std (NOT DOING THIS STEP, TOO TIME CONSUMING)

movies = pd.read_csv('data/movies_subset.csv')

movies['YEAR'] = 0
# movies['UPPER_STD'] = 0
# movies['LOWER_STD'] = 0
# movies['AVG_RATING'] = 0
# movies['VIEW_COUNT'] = 0

genres_list = []
for index, row in movies.iterrows():
    try:
        genres = row.genres.split('|')
        genres_list.extend(genres)
    except:
        genres_list.append(row.genres)

genres_list = list(set(genres_list))
genres_list.remove('IMAX')

# Replace '(no genres listed)' with 'None'
try:
  genres_list.remove('(no genres listed)')
  genres_list.append('None')
except:
  genres_list.append('None')

for genre in genres_list:
    movies[genre] = 0

for index, row in movies.iterrows():
    movieId = row.movieId
    title = row.title

    try:
        genres = row.genres.split('|')
    except Exception:
        genres = list(row.genres)

    try:
        matcher = re.compile('\(\d{4}\)')
        parenthesis_year = matcher.search(title).group(0)
        matcher = re.compile('\d{4}')
        year = matcher.search(parenthesis_year).group(0)

        movies.loc[index, 'YEAR'] = int(year)

    except Exception:
        print('exception')
        pass

    # try:
        # movie_ratings = ratings[ratings.movieId == movieId]
        # std = np.std(movie_ratings.rating)
        # average_rating = np.mean(movie_ratings.rating)

        # upper_std = average_rating + std

        # if upper_std > 5:
        #     upper_std = 5

        # lower_std = average_rating - std

        # if lower_std < 0.5:
        #     lower_std = 0.5

        # view_count = len(movie_ratings)

        # movies.loc[index, 'UPPER_STD'] = upper_std
        # movies.loc[index, 'LOWER_STD'] = lower_std
        # movies.loc[index, 'AVG_RATING'] = average_rating
        # movies.loc[index, 'VIEW_COUNT'] = view_count

    # except Exception:
    #     pass

    if 'IMAX' in genres:
        genres.remove('IMAX')

    if '(no genres listed)' in genres:
        genres.remove('(no genres listed)')
        genres.append('None')

    for genre in genres:
        movies.loc[index, genre] = 1

movies_mod = movies[movies.YEAR != 0]

movies_mod.to_csv('data/movies_mod.csv', index = False)

In [25]:
# 12
# here, we are creating two new dataframes: one with each user's most liked genres, and one with each user's most disliked genres
# the dataframe will have userId as rows, and genres as columns, and values will represent a percentage (liked count for that genre / liked count for all genre)

movies_mod = pd.read_csv('data/movies_mod.csv')
ratings = pd.read_csv('data/ratings_subset.csv')
ratings_movies = ratings.merge(movies_mod, how= 'left', on= 'movieId').dropna()

userId_list = list(set(ratings_movies.userId))

total_user_like = pd.DataFrame()
total_user_dislike = pd.DataFrame()

counter_1 = 0
counter_2 = .10

for userId in userId_list:
    temp = ratings_movies[ratings_movies.userId == userId]
    temp_like = temp[temp.rating >= 4].iloc[:, 7:]
    temp_dislike = temp[temp.rating < 4].iloc[:, 7:]

    liked_total_counts = 0
    liked_dict = {'userId': userId,'War': 0, 'Animation': 0, 'Horror': 0, 'Sci-Fi': 0, 'Fantasy': 0, 'Thriller': 0, 'Crime': 0, 'Mystery': 0,
                  'Documentary': 0, 'Children': 0, 'Action': 0, 'Adventure': 0, 'Musical': 0,'Film-Noir': 0, 'Drama': 0,
                  'Romance': 0, 'Comedy': 0, 'Western': 0, 'None': 0}

    disliked_total_counts = 0
    disliked_dict = {'userId': userId,'War': 0, 'Animation': 0, 'Horror': 0, 'Sci-Fi': 0, 'Fantasy': 0, 'Thriller': 0, 'Crime': 0, 'Mystery': 0,
                  'Documentary': 0, 'Children': 0, 'Action': 0, 'Adventure': 0, 'Musical': 0,'Film-Noir': 0, 'Drama': 0,
                  'Romance': 0, 'Comedy': 0, 'Western': 0, 'None': 0}

    counter_1 += 1

    if counter_1 / len(userId_list) >= counter_2:
        print(counter_1 / len(userId_list) * 100, '%')
        counter_2 += .10

    for genre in list(temp_like.columns):
        if len(temp_like) == 0:
            pass
        else:
            liked_total_counts += sum(temp_like[genre])

        if len(temp_dislike) == 0:
            pass
        else:
            disliked_total_counts += sum(temp_dislike[genre])

    for genre in list(temp_like.columns):
        if liked_total_counts == 0:
            pass
        else:
            liked_genre_total_counts = sum(temp_like[genre])
            liked_dict[genre] = liked_genre_total_counts/liked_total_counts

        if disliked_total_counts == 0:
            pass
        else:
            disliked_genre_total_counts = sum(temp_dislike[genre])
            disliked_dict[genre] = disliked_genre_total_counts/disliked_total_counts

    user_like_df = pd.DataFrame(liked_dict, index=[0])
    user_dislike_df = pd.DataFrame(disliked_dict, index=[0])

    if len(total_user_like) == 0:
        total_user_like = user_like_df
    else:
        total_user_like = pd.concat([total_user_like, user_like_df], ignore_index= True)

    if len(total_user_dislike) == 0:
        total_user_dislike = user_dislike_df
    else:
        total_user_dislike = pd.concat([total_user_dislike, user_dislike_df], ignore_index= True)

total_user_like.to_csv('data/final/like_genres.csv', index = False)
total_user_dislike.to_csv('data/final/dislike_genres.csv', index = False)

In [ ]:
# here, we select a subset of the tag most common tags that we want used in our model

common_tags_df = tags.groupby(['tag']).count().sort_values('userId', ascending= False).copy().drop('movieId', axis= 1).reset_index()
common_tags_df = common_tags_df[common_tags_df.userId >= 20]
common_tags_df.to_csv('data/common_tags.csv', index = False)

In [22]:
common_tags = pd.read_csv('data/common_tags.csv', index_col= False)

common_tags_list = list(set(common_tags.tag))
vector_counter = 0
vectorized_dict = {}

for tag in common_tags_list:
    vectorized_dict[tag] = vector_counter
    vector_counter += 1

with open('data/final/vectorized_dict.pkl', 'wb') as writer:
    pickle.dump(vectorized_dict, writer)

In [24]:
#13
# here, we create the a "tag profile" for each user -> 20 tags most often related to movies he likes, and 20 tags most often related to movies he dislikes

tags_unique_users = list(tags.drop_duplicates('userId').userId)

like_dislike_tags = pd.DataFrame()
index_counter = 0

progress_counter = 0

with open('data/final/vectorized_dict.pkl', 'rb') as reader:
    vectorized_dict = pickle.load(reader)

for user in tags_unique_users:
    progress_counter += 1
    print(progress_counter)

    temp_ratings_df = ratings[ratings.userId == user]
    like_tags_df = pd.DataFrame()
    dislike_tags_df = pd.DataFrame()

    for index, row in temp_ratings_df.iterrows():
        try:
            if row.rating >= 4:
                temp_movie_df = pd.read_csv('data/movies_tags/{}.csv'.format(str(int(row.movieId))))
                if index<5:
                  print(temp_movie_df)

                if len(like_tags_df) == 0:
                    like_tags_df = temp_movie_df

                else:
                    like_tags_df = pd.concat([like_tags_df, temp_movie_df], ignore_index= True)

            else:
                temp_movie_df = pd.read_csv('data/movies_tags/{}.csv'.format(str(int(row.movieId))))

                if len(dislike_tags_df) == 0:
                    dislike_tags_df = temp_movie_df

                else:
                    dislike_tags_df = pd.concat([dislike_tags_df, temp_movie_df], ignore_index= True)
        except Exception:
            print('exception 1')
            pass

    try:
        like_tags_list = list(like_tags_df.tag)
        dislike_tags_list = list(dislike_tags_df.tag)
    except Exception:
        print('exception 2')
        continue

    like_dict = {}
    dislike_dict = {}

    for tag in like_tags_list:
        like_dict[tag] = like_tags_list.count(tag) * -1

    for tag in dislike_tags_list:
        dislike_dict[tag] = dislike_tags_list.count(tag) * -1

    like_tags_counted = sorted(like_dict, key= lambda tag: like_dict[tag])
    dislike_tags_counted = sorted(dislike_dict, key= lambda tag: dislike_dict[tag])

    like_tags_vectorized = []
    dislike_tags_vectorized = []

    if len(like_tags_counted) < 50:
        num_like_tags = len(like_tags_counted)
    else:
        num_like_tags = 50

    if len(dislike_tags_counted) < 50:
        num_dislike_tags = len(like_tags_counted)
    else:
        num_dislike_tags = 50

    for tag in like_tags_counted[:num_like_tags]:
        try:
            tag_vector = vectorized_dict[tag]
            like_tags_vectorized.append(tag_vector)
        except Exception:
            pass

    for tag in dislike_tags_counted[:num_dislike_tags]:
        try:
            tag_vector = vectorized_dict[tag]
            dislike_tags_vectorized.append(tag_vector)
        except Exception:
            pass

    if len(like_tags_vectorized) < 20 or len(dislike_tags_vectorized) < 20:
        continue

    like_dislike_dict = {}

    like_dislike_dict['userId'] = user

    for x in range(20):
        like_dislike_dict['LIKE_' + str(x)] = like_tags_vectorized[x]
        like_dislike_dict['DISLIKE_' + str(x)] = dislike_tags_vectorized[x]

    concat_df = pd.DataFrame(like_dislike_dict, index=[0])

    if len(like_dislike_tags) == 0:
        like_dislike_tags = concat_df

    else:
        like_dislike_tags = pd.concat([like_dislike_tags, concat_df], ignore_index= True)

like_dislike_tags_int = like_dislike_tags.astype('int64')
like_dislike_tags_int.to_csv('data/final/like_dislike_tags.csv', index = False)

In [5]:
# 14
# here, we create the a "tag profile" for each movie -> 5 tags most often related that movie

movies_mod = pd.read_csv('data/movies_mod.csv')
movieId_list = list(movies_mod.movieId)
del movies_mod

movie_tags_df = pd.DataFrame()
index_counter = 0

progress_counter = 0

with open('data/final/vectorized_dict.pkl', 'rb') as reader:
    vectorized_dict = pickle.load(reader)

for movie in movieId_list:
    progress_counter += 1

    try:
      temp_df = pd.read_csv('data/movies_tags/{}.csv'.format(movie))

      if len(temp_df) < 5:
        continue

      vectorized_tag = []
      movie_tags = list(temp_df.tag)

      for tag in movie_tags:
          try:
              tag_vector = vectorized_dict[tag]
              vectorized_tag.append(tag_vector)
          except Exception:
            print('exception')
            pass

      if len(vectorized_tag) < 5:
          continue

      movie_tags_df.loc[index_counter, 'movieId'] = movie

      for x in range(5):
          movie_tags_df.loc[index_counter, 'TAG_' + str(x)] = vectorized_tag[x]

      index_counter += 1

    except Exception:
      print('exception')
      pass

movie_tags_df.to_csv('data/final/movie_tags_df.csv', index = False)

SyntaxError: ignored

In [17]:
# 15

def stats(predictions, actual, flex_range=0.5):

    predictions_list = []
    round_list = np.arange(0.5, 5.5, 0.5)

    for value in predictions:
        value_original = value
        compare_diff = 99999
        value_round = 0

        for rating in round_list:
            compare_value = abs(value_original - rating)

            if compare_value < compare_diff:
                compare_diff = compare_value
                value_round = rating

        predictions_list.append(value_round)

    prediction_dict = {'PREDICTION': predictions_list, 'TRUE': list(actual)}

    prediction_compare_df = pd.DataFrame(prediction_dict)

    rating_accuracy = 0
    like_dislike_tp = 0
    like_dislike_tn = 0
    like_dislike_fp = 0
    like_dislike_fn = 0
    prediction_length = len(prediction_compare_df)

    rating_accuracy_flex = 0
    like_dislike_tp_flex = 0
    like_dislike_tn_flex = 0
    like_dislike_fp_flex = 0
    like_dislike_fn_flex = 0

    for index, row in prediction_compare_df.iterrows():
        predict_like = 0
        true_like = 0

        if row.PREDICTION >= 4:
            predict_like = 1

        if row.TRUE >= 4:
            true_like = 1

        if row.PREDICTION == row.TRUE:
            rating_accuracy += 1

        if predict_like == true_like:
            if predict_like == 1:
                like_dislike_tp += 1

            else:
                like_dislike_tn += 1

        else:
            if predict_like == 1:
                like_dislike_fp += 1

            else:
                like_dislike_fn += 1


        predict_like_flex = 0
        true_like_flex = 0

        if row.PREDICTION >= 3.5:
            predict_like_flex = 1

        if row.TRUE >= 3.5:
            true_like_flex = 1

        if row.PREDICTION >= (row.TRUE - flex_range) and row.PREDICTION <= (row.TRUE + flex_range):
            rating_accuracy_flex += 1

        if predict_like_flex == true_like_flex:
            if predict_like_flex == 1:
                like_dislike_tp_flex += 1

            else:
                like_dislike_tn_flex += 1

        else:
            if predict_like_flex == 1:
                like_dislike_fp_flex += 1

            else:
                like_dislike_fn_flex += 1

    rating_accuracy = rating_accuracy / prediction_length
    like_dislike_accuracy = (like_dislike_tp + like_dislike_tn) / prediction_length

    rating_accuracy_flex = rating_accuracy_flex / prediction_length
    like_dislike_accuracy_flex = (like_dislike_tp_flex + like_dislike_tn_flex) / prediction_length

    print('True Positive: {}, True Negative: {}, False Positive {}, False Negative {}'.format(like_dislike_tp, like_dislike_tn, like_dislike_fp, like_dislike_fn))
    print('Rating Accuracy: {}, Binary Accuracy (Like/Dislike) {}'.format(rating_accuracy, like_dislike_accuracy))
    print('FLEX: True Positive: {}, True Negative: {}, False Positive {}, False Negative {}'.format(like_dislike_tp_flex, like_dislike_tn_flex, like_dislike_fp_flex, like_dislike_fn_flex))
    print('FLEX: Rating Accuracy: {}, Binary Accuracy (Like/Dislike) {}'.format(rating_accuracy_flex, like_dislike_accuracy_flex))
    return

In [7]:
def merge_shuffle_split(split=1.0):

    movies_mod = pd.read_csv('data/movies_mod.csv')
    ratings = pd.read_csv('data/ratings_subset.csv')

    ratings = shuffle(ratings)

    selection_range = int(len(ratings) * (split))
    ratings = ratings.iloc[: selection_range, :]

    ratings_movies = ratings.merge(movies_mod, how= 'left', on= 'movieId').dropna()
    del movies_mod

    like_genres = pd.read_csv('data/final/like_genres.csv')

    like_columns = list(like_genres.columns)
    like_columns_modified = []

    for column in like_columns:
        if column == 'userId':
            like_columns_modified.append('userId')
        else:
            modify_column = 'user_like_' + column
            like_columns_modified.append(modify_column)

    like_genres.columns = like_columns_modified

    ratings_movies = ratings_movies.merge(like_genres, how= 'left', on= 'userId').dropna()
    del like_genres


    dislike_genres = pd.read_csv('data/final/dislike_genres.csv')

    dislike_columns = list(dislike_genres.columns)
    dislike_columns_modified = []

    for column in dislike_columns:
        if column == 'userId':
            dislike_columns_modified.append('userId')
        else:
            modify_column = 'user_dislike_' + column
            dislike_columns_modified.append(modify_column)

    dislike_genres.columns = dislike_columns_modified

    ratings_movies = ratings_movies.merge(dislike_genres, how= 'left', on= 'userId').dropna()

    del dislike_genres

    movie_tags_df = pd.read_csv('data/final/movie_tags_df.csv')
    ratings_movies = ratings_movies.merge(movie_tags_df, how= 'left', on= 'movieId').dropna()
    del movie_tags_df

    like_dislike_tags = (pd.read_csv('data/final/like_dislike_tags.csv')).astype('int64')
    ratings_movies = ratings_movies.merge(like_dislike_tags, how= 'left', on= 'userId').dropna()
    del like_dislike_tags

    like_columns_modified.remove('userId')
    dislike_columns_modified.remove('userId')
    like_columns.remove('userId')

    genres_like = ratings_movies.loc[:, like_columns_modified]
    genres_dislike = ratings_movies.loc[:, dislike_columns_modified]
    genres_movie = ratings_movies.loc[:, like_columns]

    rf_columns = []
    for x in range(20):
        rf_columns.append('LIKE_' + str(x))
        rf_columns.append('DISLIKE_' + str(x))
    for x in range(5):
        rf_columns.append('TAG_' + str(x))

    rf_input = ratings_movies.loc[:, rf_columns]

    ratings = list(ratings_movies.rating)

    del ratings_movies

    return genres_like, genres_dislike, genres_movie, rf_input, ratings

In [19]:
# creating neural network model (genres)

user_liked_genres = keras.Input(shape= (19,))
user_disliked_genres = keras.Input(shape= (19,))
movie_genres = keras.Input(shape= (19,))

# liked genres input
liked_input = keras.layers.Dense(19, activation= 'relu')(user_liked_genres)
liked_hidden_1 = keras.layers.Dense(50, activation= 'relu')(liked_input)
liked_hidden_2 = keras.layers.Dense(20, activation= 'relu')(liked_hidden_1)

# disliked genres input
disliked_input = keras.layers.Dense(19, activation= 'relu')(user_disliked_genres)
disliked_hidden_1 = keras.layers.Dense(50, activation= 'relu')(disliked_input)
disliked_hidden_2 = keras.layers.Dense(20, activation= 'relu')(disliked_hidden_1)

# movie genres input
movie_input = keras.layers.Dense(19, activation= 'relu')(movie_genres)
movie_hidden_1 = keras.layers.Dense(50, activation= 'relu')(movie_input)
movie_hidden_2 = keras.layers.Dense(20, activation= 'relu')(movie_hidden_1)

# merging
merged_model = keras.layers.concatenate([liked_hidden_2, disliked_hidden_2, movie_hidden_2])
merged_model_hidden_1 = keras.layers.Dense(150, activation= 'relu')(merged_model)
merged_model_hidden_2 = keras.layers.Dense(75, activation= 'relu')(merged_model_hidden_1)
merged_model_hidden_3 = keras.layers.Dense(50, activation= 'relu')(merged_model_hidden_2)

# output layer
output_rating = keras.layers.Dense(1, activation= 'sigmoid')(merged_model_hidden_3)

# creating model
genres_model = keras.Model(inputs= [user_liked_genres, user_disliked_genres, movie_genres], outputs= output_rating)
genres_model.compile(optimizer= keras.optimizers.Adam(learning_rate=0.001), loss= 'mean_squared_error')

In [20]:
# creating random forest model (tags)

random_forest = RandomForestRegressor(n_estimators=100, max_features='sqrt', verbose=2, random_state=True, n_jobs= -1)

In [21]:
# CELL 18

# creating input datasets (calling merge_shuffle_split)
genres_like, genres_dislike, genres_movie, rf_input, ratings = merge_shuffle_split()

# train test splitting
train_split = 0.7
split_index = int(len(ratings) * train_split)
# neural network
genres_like_train = genres_like.iloc[: split_index, :]
genres_like_test = genres_like.iloc[split_index :, :]
del genres_like
genres_dislike_train = genres_dislike.iloc[: split_index, :]
genres_dislike_test = genres_dislike.iloc[split_index :, :]
del genres_dislike
genres_movie_train = genres_movie.iloc[: split_index, :]
genres_movie_test = genres_movie.iloc[split_index :, :]
del genres_movie
ratings_scaled = np.array(ratings)/5
ratings_scaled_train = ratings_scaled[: split_index]
ratings_scaled_test = ratings_scaled[split_index :]
# random forest
rf_input_train = rf_input.iloc[: split_index, :]
rf_input_test = rf_input.iloc[split_index :, :]
ratings_train = ratings[: split_index]
ratings_test = ratings[split_index :]

# fitting neural network
batch_size = 500
epochs = 50

# def scheduler(epoch):
#     if epoch < 5:
#         return 0.001
#     else:
#         return 0.001 * math.exp(0.1 * (5 - epoch))
# Learning_Rate_Callback = keras.callbacks.LearningRateScheduler(scheduler)

# class Save_Progress_Callback(keras.callbacks.Callback):
#     def on_epoch_end(self, epoch, logs=None): ## Saving and printing after each epoch
#         lr = float(keras.backend.get_value(self.model.optimizer.learning_rate))
#         print("Epoch {}; Loss {:7.3f}; Val loss {:7.3f}; Learning rate {}.".format(epoch, logs["loss"], logs["val_loss"], lr))

# callbacks=[Learning_Rate_Callback, Save_Progress_Callback()]

genres_model.fit(x=[genres_like_train, genres_dislike_train, genres_movie_train],
                 y=ratings_scaled_train,
                 epochs=epochs,
                 verbose=0,
                 batch_size=batch_size,
                 validation_split=0.2,
                 shuffle= True)

genres_model.save('models/genres_model.h5', overwrite=True, include_optimizer=True)

# fitting random_forest
random_forest.fit(rf_input_train, ratings_train)
print(random_forest.score(rf_input_test, ratings_test))

pickle.dump(random_forest, open('models/tags_model.sav', 'wb'))

genres_model_predictions = (genres_model.predict(x= [genres_like_test, genres_dislike_test, genres_movie_test])) * 5 # Rescale back to original values
random_forest_predict = random_forest.predict(rf_input_test)

# creating input for the combined model (linear regression)
genres_model_predictions_list = []
for prediction in genres_model_predictions:
    genres_model_predictions_list.append(prediction[0])

merged_predictions = pd.DataFrame({'genres_model': genres_model_predictions_list,
                                   'tag_model': list(random_forest_predict),
                                   'genres_true': list(np.array(list(ratings_scaled_test)) * 5),
                                   'tag_true': ratings_test},
                                  index= list(range(len(ratings_test))))

X = merged_predictions.loc[:, ['genres_model', 'tag_model']]
y = np.array(merged_predictions.loc[:, 'genres_true'])
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.25)

# fitting combined model
line_reg = LinearRegression(n_jobs=-1).fit(X_train, y_train)

line_reg_predictions = line_reg.predict(X_test)

pickle.dump(line_reg, open('models/combine_model.sav', 'wb'))

# rounding predictions that are out of bounds
line_reg_predictions_rounded = []

for prediction in line_reg_predictions:
    rounded = prediction
    if rounded > 5:
        rounded = 5
    elif rounded < 0.5:
        rounded = 0.5

    line_reg_predictions_rounded.append(rounded)

/usr/local/lib/python3.10/dist-packages/keras/src/engine/training.py:3000: UserWarning: You are saving your model as an HDF5 file via `model.save()`. This file format is considered legacy. We recommend using instead the native Keras format, e.g. `model.save('my_model.keras')`.
  saving_api.save_model(
[Parallel(n_jobs=-1)]: Using backend ThreadingBackend with 2 concurrent workers.

building tree 1 of 100building tree 2 of 100

building tree 3 of 100
building tree 4 of 100
building tree 5 of 100
building tree 6 of 100
building tree 7 of 100
building tree 8 of 100
building tree 9 of 100
building tree 10 of 100
building tree 11 of 100
building tree 12 of 100
building tree 13 of 100
building tree 14 of 100
building tree 15 of 100
building tree 16 of 100
building tree 17 of 100
building tree 18 of 100
building tree 19 of 100
building tree 20 of 100
building tree 21 of 100
building tree 22 of 100
building tree 23 of 100
building tree 24 of 100
building tree 25 of 100
building tree 26 of 100
building tree 27 of 100
building tree 28 of 100
building tree 29 of 100
building tree 30 of 100
building tree 31 of 100
building tree 32 of 100
building tree 33 of 100
building tree 34 of 100
building tree 35 of 100
building tree 36 of 100
building tree 37 of 100
building tree 38 of 100

[Parallel(n_jobs=-1)]: Done  37 tasks      | elapsed:   28.3s

building tree 39 of 100
building tree 40 of 100
building tree 41 of 100
building tree 42 of 100
building tree 43 of 100
building tree 44 of 100
building tree 45 of 100
building tree 46 of 100
building tree 47 of 100
building tree 48 of 100
building tree 49 of 100
building tree 50 of 100
building tree 51 of 100
building tree 52 of 100
building tree 53 of 100
building tree 54 of 100
building tree 55 of 100
building tree 56 of 100
building tree 57 of 100
building tree 58 of 100
building tree 59 of 100
building tree 60 of 100
building tree 61 of 100
building tree 62 of 100
building tree 63 of 100
building tree 64 of 100
building tree 65 of 100
building tree 66 of 100
building tree 67 of 100
building tree 68 of 100
building tree 69 of 100
building tree 70 of 100
building tree 71 of 100
building tree 72 of 100
building tree 73 of 100
building tree 74 of 100
building tree 75 of 100
building tree 76 of 100
building tree 77 of 100
building tree 78 of 100
building tree 79 of 100
building tree 80 of 100
building tree 81 of 100
building tree 82 of 100
building tree 83 of 100
building tree 84 of 100
building tree 85 of 100
building tree 86 of 100
building tree 87 of 100
building tree 88 of 100
building tree 89 of 100
building tree 90 of 100
building tree 91 of 100
building tree 92 of 100
building tree 93 of 100
building tree 94 of 100
building tree 95 of 100
building tree 96 of 100
building tree 97 of 100
building tree 98 of 100
building tree 99 of 100
building tree 100 of 100

[Parallel(n_jobs=-1)]: Done 100 out of 100 | elapsed:  1.5min finished
[Parallel(n_jobs=2)]: Using backend ThreadingBackend with 2 concurrent workers.
[Parallel(n_jobs=2)]: Done  37 tasks      | elapsed:    2.3s
[Parallel(n_jobs=2)]: Done 100 out of 100 | elapsed:    6.3s finished

0.16436194509110202
3195/3195 [==============================] - 5s 2ms/step

[Parallel(n_jobs=2)]: Using backend ThreadingBackend with 2 concurrent workers.
[Parallel(n_jobs=2)]: Done  37 tasks      | elapsed:    2.6s
[Parallel(n_jobs=2)]: Done 100 out of 100 | elapsed:    6.6s finished

In [22]:
print('Genres model stats:')
stats(genres_model_predictions, ratings_scaled_test*5)
print('')

print('Tags model stats:')
stats(random_forest_predict, ratings_test)
print('')

print('Combined model stats:')
print('Linear Regression R2:', line_reg.score(X_test, y_test))
print('Linear Regression coefficients - ', f'{line_reg.feature_names_in_[0]}: {line_reg.coef_[0]}', f'{line_reg.feature_names_in_[1]}: {line_reg.coef_[1]}')
stats(line_reg_predictions_rounded, y_test)

Genres model stats:
True Positive: 26030, True Negative: 44815, False Positive 10563, False Negative 20805
Rating Accuracy: 0.2719712756694354, Binary Accuracy (Like/Dislike) 0.6931114437498166
FLEX: True Positive: 57600, True Negative: 15772, False Positive 20510, False Negative 8331
FLEX: Rating Accuracy: 0.6787884124328608, Binary Accuracy (Like/Dislike) 0.7178343263577041

Tags model stats:
True Positive: 20403, True Negative: 45450, False Positive 9928, False Negative 26432
Rating Accuracy: 0.2459471887137644, Binary Accuracy (Like/Dislike) 0.6442722549969182
FLEX: True Positive: 54778, True Negative: 14984, False Positive 21298, False Negative 11153
FLEX: Rating Accuracy: 0.638059737998102, Binary Accuracy (Like/Dislike) 0.6825159226321506

Combined model stats:
Linear Regression R2: 0.2821926114789812
Linear Regression coefficients -  genres_model: 0.8015404117669633 tag_model: 0.3408147312939845
True Positive: 6202, True Negative: 11593, False Positive 2305, False Negative 5454
Rating Accuracy: 0.2729513970415591, Binary Accuracy (Like/Dislike) 0.6963684746028019
FLEX: True Positive: 14222, True Negative: 4317, False Positive 4702, False Negative 2313
FLEX: Rating Accuracy: 0.6817719339438053, Binary Accuracy (Like/Dislike) 0.7254832902872349

In [23]:
def top_10_recommendations(userId):
    movies_mod = pd.read_csv('data/movies_mod.csv')
    ratings = pd.read_csv('data/ratings_subset.csv')

    # identifying not watched movies
    not_watched = list(movies_mod.movieId)
    ratings = ratings[ratings.userId == userId]

    if len(ratings) ==  0:
        return print('User {} does not have enough information. 1'.format(userId))

    ratings_movies = ratings.merge(movies_mod, how= 'left', on= 'movieId').dropna()

    watched = list(ratings_movies.movieId)
    del ratings_movies

    for movie in watched:
        if movie in not_watched:
            not_watched.remove(movie)

    # genres
    like_genres = pd.read_csv('data/final/like_genres.csv')
    dislike_genres = pd.read_csv('data/final/dislike_genres.csv')

    like_genres = like_genres[like_genres.userId == userId]
    if len(like_genres) ==  0:
        return print('User {} does not have enough information. 3'.format(userId))

    dislike_genres = dislike_genres[dislike_genres.userId == userId]
    if len(dislike_genres) ==  0:
        return print('User {} does not have enough information. 4'.format(userId))

    # changing column names to differenciate liked genres and disliked genres, and movie genres
    like_columns = list(like_genres.columns)
    like_columns_modified = []
    for column in like_columns:
        if column == 'userId':
            like_columns_modified.append('userId')
        else:
            modify_column = 'user_like_' + column
            like_columns_modified.append(modify_column)
    like_genres.columns = like_columns_modified

    dislike_columns = list(dislike_genres.columns)
    dislike_columns_modified = []
    for column in dislike_columns:
        if column == 'userId':
            dislike_columns_modified.append('userId')
        else:
            modify_column = 'user_dislike_' + column
            dislike_columns_modified.append(modify_column)

    dislike_genres.columns = dislike_columns_modified

    # tags
    movie_tags_df = pd.read_csv('data/final/movie_tags_df.csv')
    like_dislike_tags = (pd.read_csv('data/final/like_dislike_tags.csv')).astype('int64')

    # adding a column with all not watched movies, then merging movie information (genres and tags profiles of movies)
    template_df = pd.DataFrame({'movieId': not_watched}, index= list(range(len(not_watched))))
    template_df = template_df.merge(movies_mod, how= 'left', on= 'movieId').dropna()
    template_df = template_df.merge(movie_tags_df, how= 'left', on= 'movieId').dropna()
    del movie_tags_df

    # selecting the users tags
    like_dislike_tags = like_dislike_tags[like_dislike_tags.userId == userId]
    if len(like_dislike_tags) ==  0:
        return print('User {} does not have enough information. 5'.format(userId))

    # adding a column with the userId on all rows, then merging user information (genres and tags profiles of users)
    template_df['userId'] = userId
    template_df = template_df.merge(like_genres, how= 'left', on= 'userId').dropna()
    del like_genres
    template_df = template_df.merge(dislike_genres, how= 'left', on= 'userId').dropna()
    del dislike_genres
    template_df = template_df.merge(like_dislike_tags, how= 'left', on= 'userId').dropna()
    del like_dislike_tags

    like_columns_modified.remove('userId')
    dislike_columns_modified.remove('userId')
    like_columns.remove('userId')

    # generating the columns for the random forest input
    rf_columns = []
    for x in range(20):
        rf_columns.append('LIKE_' + str(x))
        rf_columns.append('DISLIKE_' + str(x))
    for x in range(5):
        rf_columns.append('TAG_' + str(x))

    # separating the 3 inputs for the neural network
    genres_like_input = template_df.loc[:, like_columns_modified]
    genres_dislike_input = template_df.loc[:, dislike_columns_modified]
    genres_movie_input = template_df.loc[:, like_columns]

    # separating the input for the random forest
    tags_input = template_df.loc[:, rf_columns]

    # saving a list with the not-watched movieIds
    movieId_list = list(template_df.movieId)

    del template_df

    # loading models
    genres_model = keras.models.load_model('models/genres_model.h5', compile=True)
    tags_model = pickle.load(open('models/tags_model.sav', 'rb'))
    combine_model = pickle.load(open('models/combine_model.sav', 'rb'))

    # predicting with the genres and tags models
    genres_model_predictions = (genres_model.predict(x= [genres_like_input, genres_dislike_input, genres_movie_input])) * 5 ## Rescaling up; predicts a scaled and bound (sigmoid, 0-1) values
    tags_model_predictions = tags_model.predict(tags_input)

    # transforming the neural network prediction into a list
    genres_model_predictions_list = []
    for prediction in genres_model_predictions:
        genres_model_predictions_list.append(prediction[0])

    # using both predictions to predict with the combined model
    combine_input = pd.DataFrame({'genres_model': genres_model_predictions_list,
                                  'tag_model': tags_model_predictions},
                                 index= list(range(len(genres_model_predictions))))
    combine_model_predictions = combine_model.predict(combine_input)

    # rounding predictions that end up out of bounds
    combine_model_predictions_rounded = []
    for prediction in combine_model_predictions:
        rounded = prediction
        if rounded > 5:
            rounded = 5
        elif rounded < 0.5:
            rounded = 0.5
        combine_model_predictions_rounded.append(rounded)

    # creating dataframe with predictions
    # predictions_df = pd.DataFrame({'movieId': movieId_list,
    #                                'genres_predictions': genres_model_predictions_list,
    #                               'tags_predictions': tags_model_predictions,
    #                               'combine_predictions': combine_model_predictions_rounded},
    #                              index= list(range(len(movieId_list))))
    predictions_df = pd.DataFrame({'movieId': movieId_list,
                              'prediction': combine_model_predictions_rounded},
                              index= list(range(len(movieId_list))))

    # getting top and bottom predictions
    best_movies_df = predictions_df.sort_values(by=['prediction'], ascending=False).iloc[:20, :]
    worst_movies_df = predictions_df.sort_values(by=['prediction'], ascending=True).iloc[:20, :]

    # adding rest of information about the movie
    best_movies_df = best_movies_df.merge(movies_mod, how= 'left', on= 'movieId').dropna()
    worst_movies_df = worst_movies_df.merge(movies_mod, how= 'left', on= 'movieId').dropna()
    del movies_mod

    return predictions_df, best_movies_df, worst_movies_df

In [24]:
predictions_df, best_movies_df, worst_movies_df = top_10_recommendations(7903)

8/8 [==============================] - 0s 3ms/step

[Parallel(n_jobs=2)]: Using backend ThreadingBackend with 2 concurrent workers.
[Parallel(n_jobs=2)]: Done  37 tasks      | elapsed:    0.0s
[Parallel(n_jobs=2)]: Done 100 out of 100 | elapsed:    0.0s finished

In [25]:
best_movies_df

,movieId,prediction,title,genres,YEAR,Fantasy,War,Musical,Western,Children,...,Animation,Horror,Comedy,Thriller,Drama,Mystery,Documentary,Action,Film-Noir,None
0,908,4.062777,North by Northwest (1959),Action|Adventure|Mystery|Romance|Thriller,1959,0,0,0,0,0,...,0,0,0,1,0,1,0,1,0,0
1,68954,4.026154,Up (2009),Adventure|Animation|Children|Drama,2009,0,0,0,0,1,...,1,0,0,0,1,0,0,0,0,0
2,953,3.984771,It's a Wonderful Life (1946),Children|Drama|Fantasy|Romance,1946,1,0,0,0,1,...,0,0,0,0,1,0,0,0,0,0
3,1201,3.948345,"Good, the Bad and the Ugly, The (Buono, il bru...",Action|Adventure|Western,1966,0,0,0,1,0,...,0,0,0,0,0,0,0,1,0,0
4,50872,3.943214,Ratatouille (2007),Animation|Children|Drama,2007,0,0,0,0,1,...,1,0,0,0,1,0,0,0,0,0
5,8961,3.943062,"Incredibles, The (2004)",Action|Adventure|Animation|Children|Comedy,2004,0,0,0,0,1,...,1,0,1,0,0,0,0,1,0,0
6,750,3.940572,Dr. Strangelove or: How I Learned to Stop Worr...,Comedy|War,1964,0,1,0,0,0,...,0,0,1,0,0,0,0,0,0,0
7,1263,3.930169,"Deer Hunter, The (1978)",Drama|War,1978,0,1,0,0,0,...,0,0,0,0,1,0,0,0,0,0
8,5816,3.910417,Harry Potter and the Chamber of Secrets (2002),Adventure|Fantasy,2002,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
9,33166,3.894196,Crash (2004),Crime|Drama,2004,0,0,0,0,0,...,0,0,0,0,1,0,0,0,0,0
10,7147,3.893972,Big Fish (2003),Drama|Fantasy|Romance,2003,1,0,0,0,0,...,0,0,0,0,1,0,0,0,0,0
11,924,3.888679,2001: A Space Odyssey (1968),Adventure|Drama|Sci-Fi,1968,0,0,0,0,0,...,0,0,0,0,1,0,0,0,0,0
12,2324,3.878731,Life Is Beautiful (La Vita bella) (1997),Comedy|Drama|Romance|War,1997,0,1,0,0,0,...,0,0,1,0,1,0,0,0,0,0
13,1035,3.870423,"Sound of Music, The (1965)",Musical|Romance,1965,0,0,1,0,0,...,0,0,0,0,0,0,0,0,0,0
14,1408,3.867538,"Last of the Mohicans, The (1992)",Action|Romance|War|Western,1992,0,1,0,1,0,...,0,0,0,0,0,0,0,1,0,0
15,1221,3.865227,"Godfather: Part II, The (1974)",Crime|Drama,1974,0,0,0,0,0,...,0,0,0,0,1,0,0,0,0,0
16,4306,3.862151,Shrek (2001),Adventure|Animation|Children|Comedy|Fantasy|Ro...,2001,1,0,0,0,1,...,1,0,1,0,0,0,0,0,0,0
17,6870,3.857099,Mystic River (2003),Crime|Drama|Mystery,2003,0,0,0,0,0,...,0,0,0,0,1,1,0,0,0,0
18,595,3.851951,Beauty and the Beast (1991),Animation|Children|Fantasy|Musical|Romance|IMAX,1991,1,0,1,0,1,...,1,0,0,0,0,0,0,0,0,0
19,527,3.846669,Schindler's List (1993),Drama|War,1993,0,1,0,0,0,...,0,0,0,0,1,0,0,0,0,0

In [23]:
worst_movies_df

,movieId,prediction,title,genres,YEAR,Fantasy,War,Musical,Western,Children,...,Animation,Horror,Comedy,Thriller,Drama,Mystery,Documentary,Action,Film-Noir,None
0,1562,2.287439,Batman & Robin (1997),Action|Adventure|Fantasy|Thriller,1997,1,0,0,0,0,...,0,0,0,1,0,0,0,1,0,0
1,788,2.516692,"Nutty Professor, The (1996)",Comedy|Fantasy|Romance|Sci-Fi,1996,1,0,0,0,0,...,0,0,1,0,0,0,0,0,0,0
2,4310,2.542062,Pearl Harbor (2001),Action|Drama|Romance|War,2001,0,1,0,0,0,...,0,0,0,0,1,0,0,1,0,0
3,153,2.586143,Batman Forever (1995),Action|Adventure|Comedy|Crime,1995,0,0,0,0,0,...,0,0,1,0,0,0,0,1,0,0
4,3977,2.672915,Charlie's Angels (2000),Action|Comedy,2000,0,0,0,0,0,...,0,0,1,0,0,0,0,1,0,0
5,4270,2.752421,"Mummy Returns, The (2001)",Action|Adventure|Comedy|Thriller,2001,0,0,0,0,0,...,0,0,1,1,0,0,0,1,0,0
6,2953,2.784605,Home Alone 2: Lost in New York (1992),Children|Comedy,1992,0,0,0,0,1,...,0,0,1,0,0,0,0,0,0,0
7,3785,2.838076,Scary Movie (2000),Comedy|Horror,2000,0,0,0,0,0,...,0,1,1,0,0,0,0,0,0,0
8,3752,2.936171,"Me, Myself & Irene (2000)",Adventure|Comedy,2000,0,0,0,0,0,...,0,0,1,0,0,0,0,0,0,0
9,2699,2.987335,Arachnophobia (1990),Comedy|Horror,1990,0,0,0,0,0,...,0,1,1,0,0,0,0,0,0,0
10,2161,2.990328,"NeverEnding Story, The (1984)",Adventure|Children|Fantasy,1984,1,0,0,0,1,...,0,0,0,0,0,0,0,0,0,0
11,2657,3.012073,"Rocky Horror Picture Show, The (1975)",Comedy|Horror|Musical|Sci-Fi,1975,0,0,1,0,0,...,0,1,1,0,0,0,0,0,0,0
12,2470,3.021237,Crocodile Dundee (1986),Adventure|Comedy,1986,0,0,0,0,0,...,0,0,1,0,0,0,0,0,0,0
13,30793,3.022244,Charlie and the Chocolate Factory (2005),Adventure|Children|Comedy|Fantasy|IMAX,2005,1,0,0,0,1,...,0,0,1,0,0,0,0,0,0,0
14,3253,3.032269,Wayne's World (1992),Comedy,1992,0,0,0,0,0,...,0,0,1,0,0,0,0,0,0,0
15,5481,3.033844,Austin Powers in Goldmember (2002),Comedy,2002,0,0,0,0,0,...,0,0,1,0,0,0,0,0,0,0
16,4643,3.036091,Planet of the Apes (2001),Action|Adventure|Drama|Sci-Fi,2001,0,0,0,0,0,...,0,0,0,0,1,0,0,1,0,0
17,8984,3.057108,Ocean's Twelve (2004),Action|Comedy|Crime|Thriller,2004,0,0,0,0,0,...,0,0,1,1,0,0,0,1,0,0
18,1641,3.058624,"Full Monty, The (1997)",Comedy|Drama,1997,0,0,0,0,0,...,0,0,1,0,1,0,0,0,0,0
19,6863,3.059451,School of Rock (2003),Comedy|Musical,2003,0,0,1,0,0,...,0,0,1,0,0,0,0,0,0,0